.is-n-xxl,
.is-margin-minus-xxl {
  margin: -28px;
}

.is-n-xl,
.is-margin-minus-xl {
  margin: -24px;
}

.is-n-lg,
.is-margin-minus-lg {
  margin: -20px;
}

.is-n-md,
.is-margin-minus-md,
.is-margin {
  margin: -16px;
}

.is-n-sm,
.is-margin-minus-sm {
  margin: -12px;
}

.is-n-xs,
.is-margin-minus-xs {
  margin: -8px;
}

.is-n-xxs,
.is-margin-minus-xxs {
  margin: -4px;
}

.is-nt-xxl,
.is-margin-top-minus-xxl {
  margin-top: -28px;
}

.is-nt-xl,
.is-margin-top-minus-xl {
  margin-top: -24px;
}

.is-nt-lg,
.is-margin-top-minus-lg {
  margin-top: -20px;
}

.is-nt-md,
.is-margin-top-minus-md,
.is-margin-top-minus {
  margin-top: -16px;
}

.is-nt-sm,
.is-margin-top-minus-sm {
  margin-top: -12px;
}

.is-nt-xs,
.is-margin-top-minus-xs {
  margin-top: -8px;
}

.is-nt-xxs,
.is-margin-top-minus-xxs {
  margin-top: -4px;
}

.is-nr-xxl,
.is-margin-right-minus-xxl {
  margin-right: -28px;
}

.is-nr-xl,
.is-margin-right-minus-xl {
  margin-right: -24px;
}

.is-nr-lg,
.is-margin-right-minus-lg {
  margin-right: -20px;
}

.is-nr-md,
.is-margin-right-minus-md,
.is-margin-right-minus {
  margin-right: -16px;
}

.is-nr-sm,
.is-margin-right-minus-sm {
  margin-right: -12px;
}

.is-nr-xs,
.is-margin-right-minus-xs {
  margin-right: -8px;
}

.is-nr-xxs,
.is-margin-right-minus-xxs {
  margin-right: -4px;
}

.is-nb-xxl,
.is-margin-bottom-minus-xxl {
  margin-bottom: -28px;
}

.is-nb-xl,
.is-margin-bottom-minus-xl {
  margin-bottom: -24px;
}

.is-nb-lg,
.is-margin-bottom-minus-lg {
  margin-bottom: -20px;
}

.is-nb-md,
.is-margin-bottom-minus-md,
.is-margin-bottom-minus {
  margin-bottom: -16px;
}

.is-nb-sm,
.is-margin-bottom-minus-sm {
  margin-bottom: -12px;
}

.is-nb-xs,
.is-margin-bottom-minus-xs {
  margin-bottom: -8px;
}

.is-nb-xxs,
.is-margin-bottom-minus-xxs {
  margin-bottom: -4px;
}

.is-nl-xxl,
.is-margin-left-minus-xxl {
  margin-left: -28px;
}

.is-nl-xl,
.is-margin-left-minus-xl {
  margin-left: -24px;
}

.is-nl-lg,
.is-margin-left-minus-lg {
  margin-left: -20px;
}

.is-nl-md,
.is-margin-left-minus-md,
.is-margin-left-minus {
  margin-left: -16px;
}

.is-nl-sm,
.is-margin-left-minus-sm {
  margin-left: -12px;
}

.is-nl-xs,
.is-margin-left-minus-xs {
  margin-left: -8px;
}

.is-nl-xxs,
.is-margin-left-minus-xxs {
  margin-left: -4px;
}

.is-ny-xxl,
.is-margin-vertical-minus-xxl {
  margin-top: -28px;
  margin-bottom: -28px;
}

.is-ny-xl,
.is-margin-vertical-minus-xl {
  margin-top: -24px;
  margin-bottom: -24px;
}

.is-ny-lg,
.is-margin-vertical-minus-lg {
  margin-top: -20px;
  margin-bottom: -20px;
}

.is-ny-md,
.is-margin-vertical-minus-md,
.is-margin-vertical-minus {
  margin-top: -16px;
  margin-bottom: -16px;
}

.is-ny-sm,
.is-margin-vertical-minus-sm {
  margin-top: -12px;
  margin-bottom: -12px;
}

.is-ny-xs,
.is-margin-vertical-minus-xs {
  margin-top: -8px;
  margin-bottom: -8px;
}

.is-ny-xxs,
.is-margin-vertical-minus-xxs {
  margin-top: -4px;
  margin-bottom: -4px;
}

.is-nx-xxl,
.is-margin-horizontal-minus-xxl {
  margin-right: -28px;
  margin-left: -28px;
}

.is-nx-xl,
.is-margin-horizontal-minus-xl {
  margin-right: -24px;
  margin-left: -24px;
}

.is-nx-lg,
.is-margin-horizontal-minus-lg {
  margin-right: -20px;
  margin-left: -20px;
}

.is-nx-md,
.is-margin-horizontal-minus-md,
.is-margin-horizontal-minus {
  margin-right: -16px;
  margin-left: -16px;
}

.is-nx-sm,
.is-margin-horizontal-minus-sm {
  margin-right: -12px;
  margin-left: -12px;
}

.is-nx-xs,
.is-margin-horizontal-minus-xs {
  margin-right: -8px;
  margin-left: -8px;
}

.is-nx-xxs,
.is-margin-horizontal-minus-xxs {
  margin-right: -4px;
  margin-left: -4px;
}
