//----------------------------------------------------
// / Config
//----------------------------------------------------

// Colors
$accentColor: #1cb4c7;
$textColor: #2c3e50;
$borderColor: #eaecef;
$codeBgColor: #282c34;
$arrowBgColor: #ccc;

// Layout
$navbarHeight: 4rem;
$sidebarWidth: 16rem;
$contentWidth: 800px;

// Responsive Breakpoints
$MQNarrow: 991px;
$MQMobile: 767px;
$MQMobileNarrow: 575px;
