//----------------------------------------------------
// Project
//----------------------------------------------------

$option-css-variables: true;
$selector-root-dark: "body";
$selector-root-dark-attr: '&[data-theme="dark"]';
$option-add-style-alert-tail: true;

@import "configs/_import.scss";
@import "styles/_import.scss";
