@media (744px <= width) {
  .tablet\:is-flex-0,
  .is-tablet-0 {
    flex: 1 0;
  }
  .tablet\:is-flex-1,
  .is-tablet-1 {
    flex: 0 0 calc(100% / 12 * 1);
  }
  .tablet\:is-flex-2,
  .is-tablet-2 {
    flex: 0 0 calc(100% / 12 * 2);
  }
  .tablet\:is-flex-3,
  .is-tablet-3 {
    flex: 0 0 calc(100% / 12 * 3);
  }
  .tablet\:is-flex-4,
  .is-tablet-4 {
    flex: 0 0 calc(100% / 12 * 4);
  }
  .tablet\:is-flex-5,
  .is-tablet-5 {
    flex: 0 0 calc(100% / 12 * 5);
  }
  .tablet\:is-flex-6,
  .is-tablet-6 {
    flex: 0 0 calc(100% / 12 * 6);
  }
  .tablet\:is-flex-7,
  .is-tablet-7 {
    flex: 0 0 calc(100% / 12 * 7);
  }
  .tablet\:is-flex-8,
  .is-tablet-8 {
    flex: 0 0 calc(100% / 12 * 8);
  }
  .tablet\:is-flex-9,
  .is-tablet-9 {
    flex: 0 0 calc(100% / 12 * 9);
  }
  .tablet\:is-flex-10,
  .is-tablet-10 {
    flex: 0 0 calc(100% / 12 * 10);
  }
  .tablet\:is-flex-11,
  .is-tablet-11 {
    flex: 0 0 calc(100% / 12 * 11);
  }
  .tablet\:is-flex-12,
  .is-tablet-12 {
    flex: 0 0 100%;
  }
  .tablet\:is-flex-full,
  .is-tablet-full {
    flex: 0 1 100%;
    width: 100%;
  }
  .tablet\:is-flex-auto,
  .is-tablet-auto {
    flex: 0 1 auto;
  }
  .tablet\:is-flex-none {
    flex: none;
  }
}
