@media (1200px <= width) {
  .wide\:is-flex-0,
  .is-wide-0 {
    flex: 1 0;
  }
  .wide\:is-flex-1,
  .is-wide-1 {
    flex: 0 0 calc(100% / 12 * 1);
  }
  .wide\:is-flex-2,
  .is-wide-2 {
    flex: 0 0 calc(100% / 12 * 2);
  }
  .wide\:is-flex-3,
  .is-wide-3 {
    flex: 0 0 calc(100% / 12 * 3);
  }
  .wide\:is-flex-4,
  .is-wide-4 {
    flex: 0 0 calc(100% / 12 * 4);
  }
  .wide\:is-flex-5,
  .is-wide-5 {
    flex: 0 0 calc(100% / 12 * 5);
  }
  .wide\:is-flex-6,
  .is-wide-6 {
    flex: 0 0 calc(100% / 12 * 6);
  }
  .wide\:is-flex-7,
  .is-wide-7 {
    flex: 0 0 calc(100% / 12 * 7);
  }
  .wide\:is-flex-8,
  .is-wide-8 {
    flex: 0 0 calc(100% / 12 * 8);
  }
  .wide\:is-flex-9,
  .is-wide-9 {
    flex: 0 0 calc(100% / 12 * 9);
  }
  .wide\:is-flex-10,
  .is-wide-10 {
    flex: 0 0 calc(100% / 12 * 10);
  }
  .wide\:is-flex-11,
  .is-wide-11 {
    flex: 0 0 calc(100% / 12 * 11);
  }
  .wide\:is-flex-12,
  .is-wide-12 {
    flex: 0 0 100%;
  }
  .wide\:is-flex-full,
  .is-wide-full {
    flex: 0 1 100%;
    width: 100%;
  }
  .wide\:is-flex-auto,
  .is-wide-auto {
    flex: 0 1 auto;
  }
  .wide\:is-flex-none {
    flex: none;
  }
}
