<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no, email=no, address=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MUSUBii</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="./musubii.css"/>
    <style>
      body > *:last-child {
        margin-bottom: 160px;
      }
      .demo-h1 {
        margin: 160px 16px 32px;
        font-size: 32px;
        font-weight: 700;
      }
      .demo-version {
        font-size: 16px;
        font-weight: 400;
      }
      .demo-h2 {
        margin: 160px 16px 32px;
        font-size: 20px;
        font-weight: 700;
      }
      .demo-h3 {
        margin: 20px 16px 8px;
        color: #828282;
        font-size: 14px;
        font-weight: 700;
      }
      .demo-area {
        margin: 16px;
      }
      .demo-box {
        width: 100%;
        padding: 16px;
        border-radius: 2px;
        color: #fff;
        font-weight: 700;
        text-align: center;
      }
      .is-demo-bg-cyan {
        background-color: #1cb4c7;
      }
      .is-demo-bg-grey {
        background-color: #e0e0e0;
      }
      .is-demo-bg-grey-light {
        background-color: #f1f1f1;
      }
      .is-demo-min-height-1 {
        min-height: 160px;
      }
      .is-demo-padding-1 {
        padding: 16px 0;
      }
    </style>
    <style>
      /* safari 12.1~ dark mode */
      @media (prefers-color-scheme: dark) {
        :root {
          --body-background-color: #000;
          --body-text-color: #fff;
        }
      }
    </style>
  </head>
  <body>
    <header>
      <h1 class="demo-h1">
        <span>MUSUBii</span>
        <span class="demo-version">v{{ pkg.version }}</span>
      </h1>
    </header>
    <main>

      <section>
        <h2 class="demo-h2">Section</h2>
        {% set sections = [
          {
            h3: "Inner",
            class: "inner"
          }, {
            h3: "Inner Soft",
            class: "inner-soft"
          }, {
            h3: "Inner VW",
            class: "inner-vw"
          }
        ] %}
        {% for i in sections %}
          <h3 class="demo-h3">{{ i.h3 }}</h3>
          <section class="section is-demo-bg-cyan">
            <div class="{{ i.class }} is-demo-bg-grey is-demo-min-height-1"></div>
          </section>
        {% endfor %}
      </section>

      <section>
        <h2 class="demo-h2">Space</h2>
        <div class="demo-area">
          <div class="box is-space">
            <p class="heading">見出し</p>
            <p class="texts">テキストテキストテキストテキストテキストテキスト</p>
            <p class="heading">見出し</p>
            <p class="texts">テキストテキストテキストテキストテキストテキスト</p>
          </div>
        </div>
      </section>

      <section>
        <h2 class="demo-h2">Grid</h2>
        <div class="demo-area">
          <div class="grid">
            {% for i in range(1, 3 + 1) %}
              <div class="col is-mobile-12 is-desktop-4">
                <div class="demo-box is-demo-bg-cyan">
                  .is-mobile-12 .is-desktop-4
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <h3 class="demo-h3">Flex</h3>
        {% for i in range(1, 12 + 1) %}
          <div class="demo-area">
            <div class="grid">
              <div class="col is-mobile-{{ i }}">
                <div class="demo-box is-demo-bg-cyan">
                  {{ i }}
                </div>
              </div>
              <div class="col is-mobile-0">
                <div class="demo-box is-demo-bg-grey">
                  0
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        <h3 class="demo-h3">Position</h3>
        {% set positions = [
          {
            height: "160px",
            class: "is-middle"
          }, {
            height: "160px",
            class: "is-bottom"
          }, {
            height: "auto",
            class: "is-center"
          }, {
            height: "auto",
            class: "is-right"
          }, {
            height: "auto",
            class: "is-between"
          }, {
            height: "auto",
            class: "is-around"
          }
        ] %}
        {% for i in positions %}
          <div class="demo-area">
            <div class="demo-box is-demo-bg-grey">
              <div class="grid {{ i.class }}" style="height: {{ i.height }}">
                {% for n in range(1, 2 + 1) %}
                  <div class="col">
                    <div class="demo-box is-demo-bg-cyan">
                      .{{ i.class }}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
        <h3 class="demo-h3">Stretch</h3>
        <div class="demo-area">
          <div class="grid is-stretch">
            <div class="col is-mobile-0">
              <div class="demo-box is-demo-bg-grey">
                .is-stretch<br/>↓<br/>↓<br/>↓
              </div>
            </div>
            <div class="col is-mobile-0">
              <div class="demo-box is-demo-bg-cyan">
                .is-stretch
              </div>
            </div>
          </div>
        </div>
        <h3 class="demo-h3">Reverse</h3>
        <div class="demo-area">
          <div class="grid is-reverse">
            <div class="col is-mobile-0">
              <div class="demo-box is-demo-bg-grey">
                1st column
              </div>
            </div>
            <div class="col is-mobile-0">
              <div class="demo-box is-demo-bg-cyan">
                2nd column
              </div>
            </div>
          </div>
        </div>
        <h3 class="demo-h3">Gap</h3>
        <div class="demo-area">
          <div class="grid is-gap-none">
            <div class="col is-mobile-0">
              <div class="demo-box is-demo-bg-grey">
                .is-gap-none
              </div>
            </div>
            <div class="col is-mobile-0">
              <div class="demo-box is-demo-bg-cyan">
                .is-gap-none
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <h2 class="demo-h2">Heading</h2>
        <div class="demo-area">
          {% set headings = [
          {
            num: "1",
            class: "is-xxl"
          }, {
            num: "2",
            class: "is-xl"
          }, {
            num: "3",
            class: "is-lg"
          }, {
            num: "4",
            class: "is-md"
          }, {
            num: "5",
            class: "is-sm"
          }, {
            num: "6",
            class: "is-xs"
          }
        ] %}
          {% for i in headings %}
            <p class="heading {{ i.class }}">{{ i.num }}番目に大きな見出し</p>
          {% endfor %}
          {% for i in headings %}
            <p class="heading is-strong {{ i.class }}">{{ i.num }}番目に大きな見出し</p>
          {% endfor %}
        </div>
      </section>

    </main>
  </body>
</html>