<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no, email=no, address=no">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ pjt.setting.name }}
      - Debug</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="./musubii.css"/>
    <style>
      :root {
        --demo-h3-text-color: #828282;
        --demo-box-text-color: #fff;
        --demo-line-box-border-color: #e0e0e0;
        --demo-paint-box-background-color: #1b2324;
        --demo-background-color-cyan: #37B0BE;
        --demo-background-color-grey: #e0e0e0;
        --demo-background-color-grey-light: #f1f1f1;
      }
      body {
        transition: 1s;
      }
      body > *:last-child {
        margin-bottom: 160px;
      }
      .demo-h1 {
        margin: 160px 16px 32px;
        font-size: 32px;
        font-weight: 700;
      }
      .demo-version {
        font-size: 16px;
        font-weight: 400;
      }
      .demo-h2 {
        margin: 160px 16px 32px;
        font-size: 20px;
        font-weight: 700;
      }
      .demo-h3 {
        margin: 20px 16px 8px;
        color: var(--demo-h3-text-color);
        font-size: 14px;
        font-weight: 700;
      }
      .demo-area {
        margin: 16px;
      }
      .demo-box {
        width: 100%;
        padding: 16px;
        border-radius: 2px;
        color: var(--demo-box-text-color);
        font-weight: 700;
        text-align: center;
      }
      .demo-line-box {
        padding: 16px;
        border: 1px solid var(--demo-line-box-border-color);
        border-radius: 2px;
      }
      .demo-paint-box {
        padding: 16px;
        background-color: var(--demo-paint-box-background-color);
        border-radius: 2px;
      }
      .demo-line-box > *:not(:first-child),
      .demo-paint-box > *:not(:first-child) {
        margin-top: 8px;
      }
      .is-demo-background-color-cyan {
        background-color: var(--demo-background-color-cyan);
      }
      .is-demo-background-color-grey {
        background-color: var(--demo-background-color-grey);
      }
      .is-demo-min-height-1 {
        min-height: 160px;
      }
      .is-demo-padding-1 {
        padding: 16px 0;
      }
      .demo-nav {
        display: inline-block;
      }
      .demo-nav.is-posithion-fixed-top-right {
        position: fixed;
        top: 16px;
        right: 16px;
        z-index: 10;
      }
    </style>
    <style>
      :root [data-theme="dark"] {
        --demo-h3-text-color: #828282;
        --demo-box-text-color: #D6D6D7;
        --demo-line-box-border-color: #616161;
        --demo-paint-box-background-color: #2A2A2B;
        --demo-background-color-cyan: #1F636B;
        --demo-background-color-grey: #2e2e2e;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/css-vars-ponyfill@1"></script>
    <script>
      cssVars({
        onlyVars: true,
        //onlyLegacy: false
      });
    </script>
    <script>
      function changeThemeLight() {
        var body = document.body
        body.dataset.theme = "light"
      }
      function changeThemeDark() {
        var body = document.body
        body.dataset.theme = "dark"
      }
    </script>
  </head>
  <body data-theme="light">
    <header>
      <h1 class="demo-h1">
        <span>{{ pjt.setting.name }}</span>
        <span class="demo-version">v{{ pkg.version }}</span>
      </h1>
    </header>
    <main>

      <nav class="demo-nav is-posithion-fixed-top-right">
        <div class="box is-flex is-space-column-md">
          <div class="box">
            <input class="input is-hidden" id="data-theme-light" type="radio" name="data-theme" checked="checked" onclick="changeThemeLight();">
            <label class="label is-space-column-xs" for="data-theme-light">
              <span class="radio"></span>
              <span class="text">Light</span>
            </label>
          </div>
          <div class="box">
            <input class="input is-hidden" id="data-theme-dark" type="radio" name="data-theme" onclick="changeThemeDark();">
            <label class="label is-space-column-xs" for="data-theme-dark">
              <span class="radio"></span>
              <span class="text">Dark</span>
            </label>
          </div>
        </div>
      </nav>

      <section>
        <h2 class="demo-h2">Section</h2>
        <section>
          <h3 class="demo-h3">Inner</h3>
          <section class="section is-demo-background-color-cyan">
            <div class="inner is-demo-background-color-grey is-demo-min-height-1"></div>
          </section>
        </section>
        <section>
          <h3 class="demo-h3">Inner VW</h3>
          <section class="section is-demo-background-color-cyan">
            <div class="inner-vw is-demo-background-color-grey is-demo-min-height-1"></div>
          </section>
        </section>
      </section>

      <section>
        <h2 class="demo-h2">Grid</h2>
        <section>
          <h3 class="demo-h3">Example</h3>
          <div class="demo-area">
            <div class="grid is-gap-xs">
              {% for i in range(1, 3 + 1) %}
                <div class="column is-mobile-12 is-desktop-4">
                  <div class="demo-box is-demo-background-color-cyan">
                    .is-mobile-12 .is-desktop-4
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Flex</h3>
          {% for i in range(1, 12 + 1) %}
            <div class="demo-area">
              <div class="grid is-gap-xs">
                <div class="column is-mobile-{{ i }}">
                  <div class="demo-box is-demo-background-color-cyan">
                    {{ i }}
                  </div>
                </div>
                <div class="column is-mobile-0">
                  <div class="demo-box is-demo-background-color-grey">
                    0
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </section>
        <section>
          <h3 class="demo-h3">Position</h3>
          {% set positions = [
            {
              height: "auto",
              class: "is-baseline",
              secondSizeClass: "is-xxl"
            },
            {
              height: "160px",
              class: "is-middle"
            }, {
              height: "160px",
              class: "is-bottom"
            }, {
              height: "auto",
              class: "is-center"
            }, {
              height: "auto",
              class: "is-right"
            }, {
              height: "auto",
              class: "is-between"
            }, {
              height: "auto",
              class: "is-around"
            }
          ] %}
          {% for i in positions %}
            <div class="demo-area">
              <div class="demo-box is-demo-background-color-grey">
                <div class="grid is-gap-xs {{ i.class }}" style="height: {{ i.height }}">
                  <div class="column">
                    <div class="demo-box is-demo-background-color-cyan">
                      .{{ i.class }}
                    </div>
                  </div>
                  <div class="column">
                    <div class="demo-box is-demo-background-color-cyan {{ i.secondSizeClass }}">
                      .{{ i.class }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </section>
        <section>
          <h3 class="demo-h3">Stretch</h3>
          <div class="demo-area">
            <div class="grid is-gap-xs is-stretch">
              <div class="column is-mobile-0">
                <div class="demo-box is-demo-background-color-grey">
                  .is-stretch<br/>↓<br/>↓<br/>↓
                </div>
              </div>
              <div class="column is-mobile-0">
                <div class="demo-box is-demo-background-color-cyan">
                  .is-stretch
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Reverse</h3>
          <div class="demo-area">
            <div class="grid is-gap-xs is-reverse">
              <div class="column is-mobile-0">
                <div class="demo-box is-demo-background-color-grey">
                  1st column
                </div>
              </div>
              <div class="column is-mobile-0">
                <div class="demo-box is-demo-background-color-cyan">
                  2nd column
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Gap</h3>
          <div class="demo-area">
            <div class="demo-box is-demo-background-color-grey">
              <div class="grid">
                {% for i in range(1, 4 + 1) %}
                  <div class="column is-mobile-6">
                    <div class="demo-box is-demo-background-color-cyan">
                      .grid > .column
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="demo-area">
            <div class="demo-box is-demo-background-color-grey">
              <div class="grid is-gap">
                {% for i in range(1, 4 + 1) %}
                  <div class="column is-mobile-6">
                    <div class="demo-box is-demo-background-color-cyan">
                      .grid.is-gap > .column
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          {% for val in[
            "xxl",
            "xl",
            "lg",
            "md",
            "sm",
            "xs",
            "xxs"
          ] %}
            <div class="demo-area">
              <div class="demo-box is-demo-background-color-grey">
                <div class="grid is-gap-{{ val }}">
                  {% for i in range(1, 4 + 1) %}
                    <div class="column is-mobile-6">
                      <div class="demo-box is-demo-background-color-cyan">
                        .grid.is-gap-{{ val }}
                        > .column
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
          {% for val2 in["row", "column"] %}
            <div class="demo-area">
              <div class="demo-box is-demo-background-color-grey">
                <div class="grid is-gap-{{ val2 }}">
                  {% for i in range(1, 4 + 1) %}
                    <div class="column is-mobile-6">
                      <div class="demo-box is-demo-background-color-cyan">
                        .grid.is-gap-{{ val2 }}
                        > .column
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% for val in[
              "xxl",
              "xl",
              "lg",
              "md",
              "sm",
              "xs",
              "xxs"
            ] %}
              <div class="demo-area">
                <div class="demo-box is-demo-background-color-grey">
                  <div class="grid is-gap-{{ val2 }}-{{ val }}">
                    {% for i in range(1, 4 + 1) %}
                      <div class="column is-mobile-6">
                        <div class="demo-box is-demo-background-color-cyan">
                          .grid.is-gap-{{ val2 }}-{{ val }}
                          > .column
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endfor %}
        </section>
      </section>

      <section>
        <h2 class="demo-h2">Box</h2>
        <section>
          <h3 class="demo-h3">Basic</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <ul class="box is-bg is-separate">
                <li>
                  <div class="box is-flex is-middle is-padding-left">
                    <div class="box is-mobile-0 is-padding-top is-padding-bottom">
                      <span class="text">ボックススタイル</span>
                    </div>
                  </div>
                </li>
                <li>
                  <a href="#" class="box is-flex is-middle is-link is-padding-left">
                    <div class="box is-mobile-0 is-padding-top is-padding-bottom is-angle-right">
                      <span class="text">ボックススタイル</span>
                    </div>
                  </a>
                </li>
                <li>
                  <ul class="box is-separate-parent">
                    <li>
                      <a href="#" class="box is-flex is-middle is-link is-padding-left">
                        <div class="box is-mobile-0 is-flex is-middle is-between is-padding-top is-padding-bottom is-separate-child is-angle-right">
                          <span class="text">ボックススタイル</span>
                          <span class="text is-strong is-dark-4 is-xs">200件</span>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="box is-flex is-middle is-link is-padding-left">
                        <div class="box is-mobile-0 is-flex is-middle is-between is-padding-top is-padding-bottom is-separate-child is-angle-right">
                          <span class="text">ボックススタイル</span>
                          <span class="text is-strong is-dark-4 is-xs">200件</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul class="box is-separate-parent">
                    <li>
                      <a href="#" class="box is-flex is-middle is-link is-padding-left">
                        <div class="box is-margin-right">
                          <i aria-hidden="true" class="fas fa-thumbs-up is-lg"></i>
                        </div>
                        <div class="box is-flex is-mobile-0 is-separate-child is-padding-top is-padding-bottom is-angle-right">
                          <span class="text">ボックススタイル</span>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="box is-flex is-middle is-link is-padding-left">
                        <div class="box is-margin-right">
                          <i class="material-icons is-lg">face</i>
                        </div>
                        <div class="box is-flex is-mobile-0 is-separate-child is-padding-top is-padding-bottom is-angle-right">
                          <span class="text">ボックススタイル</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="#" class="box is-link is-angle-left">
                    <div class="box is-mobile-0 is-padding-top is-padding-bottom">
                      <span class="text">ボックススタイル</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </section>

      <section>
        <h2 class="demo-h2">Card</h2>
        <section>
          <h3 class="demo-h3">Basic</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-flex is-space-column">
                <div class="card is-bg is-outline is-padding">
                  <span class="text">カードスタイル</span>
                </div>
                <div class="card is-bg is-outline is-padding is-radius">
                  <span class="text">カードスタイル</span>
                </div>
                <div class="card is-bg is-outline is-padding is-radius is-floating">
                  <span class="text">カードスタイル</span>
                </div>
                <a href="#" class="card is-bg is-outline is-padding is-radius is-link">
                  <span class="text">カードスタイル</span>
                </a>
                <a href="#" class="card is-bg is-outline is-padding is-radius is-zoom">
                  <span class="text">カードスタイル</span>
                </a>
                <a href="#" class="card is-bg is-outline is-padding is-radius is-floating is-link">
                  <span class="text">カードスタイル</span>
                </a>
                <a href="#" class="card is-bg is-outline is-padding is-radius is-floating is-zoom">
                  <span class="text">カードスタイル</span>
                </a>
              </div>
            </div>
          </div>
        </section>
      </section>

      <section>
        <h2 class="demo-h2">Text</h2>
        <section>
          <h3 class="demo-h3">Basic</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <p class="text">
                <span class="text">デフォルト</span>
                <strong class="text is-strong">ストロング</strong>
                <small class="text is-small">スモール</small>
                <span class="text is-italic">Italic</span>
                <del class="text is-delete">削除</del>
                <span class="text">
                  <i aria-hidden="true" class="fas fa-thumbs-up"></i>
                  <span class="text">アイコン追加</span>
                  <i class="material-icons">face</i>
                </span>
                <span class="text">
                  <span class="text">注釈入れ</span>
                  <sup>※1</sup>
                </span>
              </p>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Dark</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <p class="text">
                <span class="text is-dark">ダーク</span>
                {% for i in range(1, 9 + 1) %}
                  <span class="text is-dark-{{ i }}">ダーク{{ i }}</span>
                {% endfor %}
              </p>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Light</h3>
          <div class="demo-area">
            <div class="demo-paint-box">
              <p class="text">
                <span class="text is-light">ライト</span>
                {% for i in range(1, 9 + 1) %}
                  <span class="text is-light-{{ i }}">ライト{{ i }}</span>
                {% endfor %}
              </p>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Color</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <p class="text">
                <span class="text">Normal</span>
                <span class="text is-primary">Primary</span>
                <span class="text is-info">Info</span>
                <span class="text is-success">Success</span>
                <span class="text is-warning">Warning</span>
                <span class="text is-danger">Danger</span>
              </p>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Link</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <p class="text">
                <span class="text is-link">Link</span>
                <span class="text is-link is-primary">Primary</span>
                <span class="text is-link is-info">Info</span>
                <span class="text is-link is-success">Success</span>
                <span class="text is-link is-warning">Warning</span>
                <span class="text is-link is-danger">Danger</span>
              </p>
              <p class="text">
                <span class="text is-link-reverse">Link Reverse</span>
                <span class="text is-link-reverse is-primary">Primary</span>
                <span class="text is-link-reverse is-info">Info</span>
                <span class="text is-link-reverse is-success">Success</span>
                <span class="text is-link-reverse is-warning">Warning</span>
                <span class="text is-link-reverse is-danger">Danger</span>
              </p>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Size</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <p class="text">
                <span class="text is-xxs">極小</span>
                <span class="text is-xs">小さい</span>
                <span class="text is-sm">小さめ</span>
                <span class="text is-md">中くらい</span>
                <span class="text is-lg">大きめ</span>
                <span class="text is-xl">大きい</span>
                <span class="text is-xxl">特大</span>
              </p>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Align</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <p class="text is-left">左寄せのテキスト</p>
              <p class="text is-center">中央寄せのテキスト</p>
              <p class="text is-right">右寄せのテキスト</p>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Transform</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <p class="text">
                <span class="text is-capitalize">capitalize</span>
                <span class="text is-lowercase">lowercase</span>
                <span class="text is-uppercase">uppercase</span>
              </p>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Ellipsis</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <p class="text is-ellipsis">
                {% for i in range(1, 9 + 1) %}
                  テキストを端で折り返さずに、三点リーダーで省略するスタイリング。
                {% endfor %}
              </p>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Blockquote</h3>
          <div class="demo-area">
            <blockquote class="blockquote">
              引用の「blockquote」を使う場合。border-left と background-color を用いた装飾。
            </blockquote>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Code</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <p class="text">
                テキストの途中に
                <code class="code">code</code>
                を表示させる。
              </p>
              <pre class="pre"><code class="code">html {
  box-sizing: border-box;
  font-family: sans-serif;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}</code></pre>
            </div>
          </div>
        </section>
      </section>

      <section>
        <h2 class="demo-h2">Button</h2>
        <section>
          <h3 class="demo-h3">Plain</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              {% macro buttons(class) %}
                <div class="box is-flex is-space-row-xs is-space-column-xs">
                  <button class="button {{ class }}" type="button">戻る</button>
                  <button class="button {{ class }} is-primary" type="button">決定</button>
                  <button class="button {{ class }} is-info" type="button">情報</button>
                  <button class="button {{ class }} is-success" type="button">登録</button>
                  <button class="button {{ class }} is-warning" type="button">注意</button>
                  <button class="button {{ class }} is-danger" type="button">削除</button>
                  <button class="button {{ class }} is-disabled" type="button">不可</button>
                  <button class="button {{ class }} is-primary" type="button">
                    <i class="fas fa-flag is-margin-right-xs" aria-hidden="true"></i>
                    <span class="text">FontAwesome</span>
                  </button>
                  <button class="button {{ class }} is-success" type="button">
                    <span class="text">FontAwesome</span>
                    <i class="fas fa-angle-right is-fit is-margin-left-xs" aria-hidden="true"></i>
                  </button>
                  <button class="button {{ class }} is-primary" type="button">
                    <i class="material-icons is-margin-right-xs">face</i>
                    <span class="text">Material Icons</span>
                  </button>
                  <button class="button {{ class }} is-success" type="button">
                    <span class="text">Material Icons</span>
                    <i class="material-icons is-margin-left-xs">keyboard_arrow_right</i>
                  </button>
                </div>
              {% endmacro %}
              {{ buttons(class="is-plain") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Outline</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              {{ buttons(class="is-outline") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Melt</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              {{ buttons(class="is-melt") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Angle</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              {% macro buttonsAngle(class) %}
                <div class="box is-flex is-space-row-xs is-space-column-xs">
                  <button class="button {{ class }} is-mobile-12 is-tablet-0" type="button">戻る</button>
                  <button class="button {{ class }} is-mobile-12 is-tablet-0 is-primary" type="button">決定</button>
                  <button class="button {{ class }} is-mobile-12 is-tablet-0 is-info" type="button">情報</button>
                  <button class="button {{ class }} is-mobile-12 is-tablet-0 is-success" type="button">登録</button>
                  <button class="button {{ class }} is-mobile-12 is-tablet-0 is-warning" type="button">注意</button>
                  <button class="button {{ class }} is-mobile-12 is-tablet-0 is-danger" type="button">削除</button>
                  <button class="button {{ class }} is-mobile-12 is-tablet-0 is-disabled" type="button">不可</button>
                </div>
              {% endmacro %}
              {{ buttonsAngle(class="is-plain is-angle-right") }}
              {{ buttonsAngle(class="is-outline is-angle-right") }}
              {{ buttonsAngle(class="is-melt is-angle-right") }}
              {{ buttonsAngle(class="is-plain is-angle-left") }}
              {{ buttonsAngle(class="is-outline is-angle-left") }}
              {{ buttonsAngle(class="is-melt is-angle-left") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Round</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              {{ buttons(class="is-plain is-round") }}
              {{ buttons(class="is-outline is-round") }}
              {{ buttons(class="is-melt is-round") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Circle</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              {% macro buttonsCircle(class) %}
                <div class="box is-flex is-space-row-xs is-space-column-xs">
                  <button class="button {{class}} is-circle" type="button">
                    <i aria-hidden="true" class="fas fa-angle-left"></i>
                  </button>
                  <button class="button {{class}} is-circle is-primary" type="button">
                    <i aria-hidden="true" class="fab fa-twitter"></i>
                  </button>
                  <button class="button {{class}} is-circle is-info" type="button">
                    <i aria-hidden="true" class="fas fa-info-circle"></i>
                  </button>
                  <button class="button {{class}} is-circle is-success" type="button">
                    <i aria-hidden="true" class="fas fa-save"></i>
                  </button>
                  <button class="button {{class}} is-circle is-warning" type="button">
                    <i aria-hidden="true" class="fas fa-exclamation-triangle"></i>
                  </button>
                  <button class="button {{class}} is-circle is-danger" type="button">
                    <i aria-hidden="true" class="fas fa-times"></i>
                  </button>
                  <button class="button {{class}} is-circle is-disabled" type="button">
                    <i aria-hidden="true" class="fas fa-plus"></i>
                  </button>
                </div>
              {% endmacro %}
              {{ buttonsCircle(class="is-plain") }}
              {{ buttonsCircle(class="is-outline") }}
              {{ buttonsCircle(class="is-melt") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Floating</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              {{ buttons(class="is-plain is-floating") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Size</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-flex is-space-row-xs is-space-column-xs">
                <button class="button is-plain is-xxs" type="button">極小</button>
                <button class="button is-plain is-xs" type="button">小さい</button>
                <button class="button is-plain is-sm" type="button">小さめ</button>
                <button class="button is-plain is-md" type="button">中くらい</button>
                <button class="button is-plain is-lg" type="button">大きめ</button>
                <button class="button is-plain is-xl" type="button">大きい</button>
                <button class="button is-plain is-xxl" type="button">特大</button>
              </div>
              <div class="box is-flex is-space-row-xs is-space-column-xs is-xxs">
                <button class="button is-plain" type="button">まとめて極小</button>
                <button class="button is-plain" type="button">まとめて極小</button>
                <button class="button is-plain" type="button">まとめて極小</button>
                <button class="button is-plain" type="button">まとめて極小</button>
                <button class="button is-plain" type="button">まとめて極小</button>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Flex</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              {{ buttons(class="is-plain is-mobile-0") }}
              {{ buttons(class="is-outline is-mobile-0") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Position</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-flex is-space-row-xs is-space-column-xs">
                <button class="button is-plain" type="button">default</button>
                <button class="button is-plain" type="button">default</button>
                <button class="button is-plain" type="button">default</button>
              </div>
              <div class="box is-flex is-space-row-xs is-space-column-xs is-center">
                <button class="button is-plain" type="button">.is-center</button>
                <button class="button is-plain" type="button">.is-center</button>
                <button class="button is-plain" type="button">.is-center</button>
              </div>
              <div class="box is-flex is-space-row-xs is-space-column-xs is-right">
                <button class="button is-plain" type="button">.is-right</button>
                <button class="button is-plain" type="button">.is-right</button>
                <button class="button is-plain" type="button">.is-right</button>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Joint</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="joint">
                <button class="button is-plain" type="button">
                  <i aria-hidden="true" class="fas fa-align-left is-fit is-margin-right-xxs"></i>
                  <span class="text">左寄せ</span></button>
                <button class="button is-plain" type="button">
                  <i aria-hidden="true" class="fas fa-align-center is-fit is-margin-right-xxs"></i>
                  <span class="text">中央寄せ</span></button>
                <button class="button is-plain" type="button">
                  <i aria-hidden="true" class="fas fa-align-right is-fit is-margin-right-xxs"></i>
                  <span class="text">右寄せ</span></button>
              </div>
              <div class="joint">
                <button class="button is-outline is-mobile-0" type="button">
                  <i aria-hidden="true" class="fas fa-align-left is-fit is-margin-right-xxs"></i>
                  <span class="text">左寄せ</span></button>
                <button class="button is-outline is-mobile-0" type="button">
                  <i aria-hidden="true" class="fas fa-align-center is-fit is-margin-right-xxs"></i>
                  <span class="text">中央寄せ</span></button>
                <button class="button is-outline is-mobile-0" type="button">
                  <i aria-hidden="true" class="fas fa-align-right is-fit is-margin-right-xxs"></i>
                  <span class="text">右寄せ</span></button>
              </div>
              <div class="joint">
                <button class="button is-outline is-round is-mobile-0" type="button">ラウンド</button>
                <button class="button is-outline is-round is-mobile-0" type="button">ラウンド</button>
                <button class="button is-outline is-round is-mobile-0" type="button">ラウンド</button>
              </div>
            </div>
          </div>
        </section>
      </section>

      <section>
        <h2 class="demo-h2">Badge</h2>
        <section>
          <h3 class="demo-h3">Plain</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              {% macro badges(class) %}
                <div class="box is-flex is-space-row-xs is-space-column-xs">
                  <span class="badge {{ class }}">任意</span>
                  <span class="badge {{ class }} is-primary">推奨</span>
                  <span class="badge {{ class }} is-info">情報</span>
                  <span class="badge {{ class }} is-success">重要</span>
                  <span class="badge {{ class }} is-warning">注意</span>
                  <span class="badge {{ class }} is-danger">必須</span>
                </div>
              {% endmacro %}
              {{ badges(class="is-plain") }}
              {{ badges(class="is-plain is-strong") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Outline</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              {{ badges(class="is-outline") }}
              {{ badges(class="is-outline is-strong") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Round</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              {{ badges(class="is-plain is-round") }}
              {{ badges(class="is-plain is-round is-strong") }}
              {{ badges(class="is-outline is-round") }}
              {{ badges(class="is-outline is-round is-strong") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Circle</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              {% macro badgesCircle(class) %}
                <div class="box is-flex is-space-row-xs is-space-column-xs">
                  <span class="badge {{class}} is-circle">
                    <i aria-hidden="true" class="fas fa-tag"></i>
                  </span>
                  <span class="badge {{class}} is-circle is-primary">
                    <i aria-hidden="true" class="fas fa-check"></i>
                  </span>
                  <span class="badge {{class}} is-circle is-info">
                    <i aria-hidden="true" class="fas fa-info"></i>
                  </span>
                  <span class="badge {{class}} is-circle is-success">
                    <i aria-hidden="true" class="fas fa-check"></i>
                  </span>
                  <span class="badge {{class}} is-circle is-warning">
                    <i aria-hidden="true" class="fas fa-exclamation"></i>
                  </span>
                  <span class="badge {{class}} is-circle is-danger">
                    <i aria-hidden="true" class="fas fa-minus"></i>
                  </span>
                </div>
              {% endmacro %}
              {{ badgesCircle(class="is-plain") }}
              {{ badgesCircle(class="is-outline") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Joint</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="joint">
                <span class="badge is-plain">任意</span>
                <span class="badge is-plain is-primary">推奨</span>
              </div>
            </div>
          </div>
        </section>
      </section>

      <section>
        <h2 class="demo-h2">List</h2>
        <section>
          <h3 class="demo-h3">Disc</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              {% macro list(class) %}
                <ul class="list {{ class }}">
                  <li class="item">リストのテキストは1行目以外をインデントして読みやすくする</li>
                  <li class="item">リストのテキストは1行目以外をインデントして読みやすくする</li>
                  <li class="item">リストのテキストは1行目以外をインデントして読みやすくする</li>
                  <li class="item">リストのテキストは1行目以外をインデントして読みやすくする
                    <ul class="list {{ class }}">
                      <li class="item">リストを入れ子にした場合は、その分インデントを追加して構造を見せる</li>
                      <li class="item">リストを入れ子にした場合は、その分インデントを追加して構造を見せる</li>
                      <li class="item">リストを入れ子にした場合は、その分インデントを追加して構造を見せる</li>
                      <li class="item">リストを入れ子にした場合は、その分インデントを追加して構造を見せる</li>
                    </ul>
                  </li>
                </ul>
              {% endmacro %}
              {{ list(class="is-disc") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Circle</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              {{ list(class="is-circle") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Decimal</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              {{ list(class="is-decimal") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Note</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <ul class="list is-note">
                <li class="item">
                  <span class="text">※1</span>
                  <span class="text">自由にナンバリング付きの米印などを置ける注釈用のスタイル</span>
                </li>
                <li class="item">
                  <span class="text">※2</span>
                  <span class="text">自由にナンバリング付きの米印などを置ける注釈用のスタイル</span>
                </li>
                <li class="item">
                  <span class="text">※3</span>
                  <span class="text">自由にナンバリング付きの米印などを置ける注釈用のスタイル</span>
                </li>
                <li class="item">
                  <span class="text">※</span>
                  <span class="text">自由にナンバリング付きの米印などを置ける注釈用のスタイル</span>
                </li>
                <li class="item">
                  <span class="text">※100</span>
                  <span class="text">自由にナンバリング付きの米印などを置ける注釈用のスタイル</span>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </section>

      <section>
        <h2 class="demo-h2">Table</h2>
        <section>
          <h3 class="demo-h3">Example</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <table class="table is-stripe is-border is-center is-middle">
                <thead>
                  <tr class="is-paint">
                    <th width="20"></th>
                    <th>見出しセル</th>
                    <th>見出しセル</th>
                    <th colspan="2">見出しセル</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="is-paint" rowspan="2">#1</td>
                    <td>データセル</td>
                    <td>データセル</td>
                    <td>データセル</td>
                    <td>データセル</td>
                  </tr>
                  <tr>
                    <td>データセル</td>
                    <td class="is-spot">スポット表示</td>
                    <td>データセル</td>
                    <td>データセル</td>
                  </tr>
                  <tr>
                    <td class="is-paint">#2</td>
                    <td>データセル</td>
                    <td>データセル</td>
                    <td>データセル</td>
                    <td>データセル</td>
                  </tr>
                  <tr>
                    <td class="is-paint">#3</td>
                    <td>データセル</td>
                    <td>データセル</td>
                    <td class="is-danger">エラー表示</td>
                    <td>データセル</td>
                  </tr>
                  <tr>
                    <td class="is-paint">#4</td>
                    <td>データセル</td>
                    <td>データセル</td>
                    <td>データセル</td>
                    <td>データセル</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th class="is-right" colspan="5">テーブルフッター</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Line</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              {% macro table(class) %}
                <table class="table {{class}}">
                  <thead>
                    <tr>
                      {% for i in range(1, 5 + 1) %}
                        <th>見出しセル</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in range(1, 5 + 1) %}
                      <tr>
                        {% for n in range(1, 5 + 1) %}
                          <td>データセル</td>
                        {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% endmacro %}
              {{ table(class="is-line") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Outline</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              {{ table(class="is-outline") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Border</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              {{ table(class="is-border") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Align</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <table class="table is-border is-stripe">
                <thead>
                  <tr>
                    <th class="box is-left">.is-left</th>
                    <th class="box is-center">.is-center</th>
                    <th class="box is-right">.is-right</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="box is-left">.is-left<br>.is-left<br>.is-left</td>
                    <td class="box is-center">.is-center</td>
                    <td class="box is-right is-middle">.is-right .is-middle</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Paint</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <table class="table is-border">
                <tbody>
                  <tr>
                    <td class="box is-paint">.is-paint</td>
                    <td class="box is-dark-6">default</td>
                  </tr>
                  <tr>
                    <td class="box is-paint">.is-paint</td>
                    <td class="box is-spot">.is-spot</td>
                  </tr>
                  <tr>
                    <td class="box is-paint">.is-paint</td>
                    <td class="box is-danger">.is-danger</td>
                  </tr>
                </tbody>
              </table>
              {{ table(class="is-stripe is-border") }}
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Scroll</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-scroll-x">
                <table class="table is-border is-stripe is-nowrap">
                  <thead>
                    <tr class="box is-paint">
                      {% for i in range(1, 14 + 1) %}
                        <th>見出しセル</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in range(1, 5 + 1) %}
                      <tr>
                        {% for n in range(1, 14 + 1) %}
                          <td>データセル</td>
                        {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </section>

      <section>
        <h2 class="demo-h2">Form</h2>
        <section>
          <h3 class="demo-h3">Example</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="grid is-gap-xs is-center">
                <div class="column is-mobile-12 is-tablet-4 is-wide-3">
                  <div class="box is-demo-box-1">
                    <form action="" method="post" class="form is-space-xl">
                      <fieldset class="fieldset is-space-sm">
                        <legend class="heading">ユーザーネーム</legend>
                        <div class="box is-flex">
                          <input type="text" name="username" value="demo" class="input is-mobile-full">
                        </div>
                      </fieldset>
                      <fieldset class="fieldset is-space-sm">
                        <legend class="heading">メールアドレス</legend>
                        <div class="box is-space-xxs">
                          <div class="box is-flex">
                            <input type="email" name="email" placeholder="example@gmail.com" class="input is-mobile-full">
                          </div>
                          <p class="text is-xs is-danger">※半角英数のみ</p>
                        </div>
                      </fieldset>
                      <fieldset class="fieldset is-space-sm">
                        <legend class="heading">パスワード</legend>
                        <div class="box is-flex">
                          <input type="password" name="password" class="input is-mobile-full">
                        </div>
                        <div class="box">
                          <input class="input is-hidden" id="checkbox-demo-0-1" type="checkbox" name="checkbox-demo-0">
                          <label class="label is-space-column-xs is-middle" for="checkbox-demo-0-1">
                            <span class="checkbox"></span>
                            <span class="text is-sm">次回から自動的にログイン</span>
                          </label>
                        </div>
                      </fieldset>
                      <div class="box is-flex">
                        <button type="submit" class="button is-plain is-success is-mobile-full">ログイン</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Text</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-flex is-space-column-xs">
                <input class="input" type="text" name="text" placeholder="Text">
                <input class="input" type="text" name="text" placeholder="Disabled" disabled="disabled">
                <input class="input" type="text" name="text" value="Readonly" readonly="readonly">
              </div>
              <div class="box is-flex is-space-column-xs">
                <textarea class="textarea" name="textarea"></textarea>
                <textarea class="textarea" name="textarea" disabled="disabled"></textarea>
                <textarea class="textarea" name="textarea" readonly="readonly">Readonly</textarea>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Password</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-flex is-space-column-xs">
                <input class="input" type="password" name="password">
                <input class="input" type="password" name="password" disabled="disabled">
                <input class="input" type="password" name="password" value="Readonly" readonly="readonly">
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">URL</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-flex is-space-column-xs">
                <input class="input" type="url" name="url" placeholder="example.com">
                <input class="input" type="url" name="url" placeholder="example.com" disabled="disabled">
                <input class="input" type="url" name="url" value="example.com" readonly="readonly">
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Email</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-flex is-space-column-xs">
                <input class="input" type="email" name="email" placeholder="example@gmail.com">
                <input class="input" type="email" name="email" placeholder="example@gmail.com" disabled="disabled">
                <input class="input" type="email" name="email" value="example@gmail.com" readonly="readonly">
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">TEL</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-flex is-space-column-xs">
                <input class="input" type="tel" name="tel" maxlength="13" placeholder="000-0000-0000">
                <input class="input" type="tel" name="tel" maxlength="13" placeholder="000-0000-0000" disabled="disabled">
                <input class="input" type="tel" name="tel" maxlength="13" value="000-0000-0000" readonly="readonly">
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Number</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-flex is-space-column-xs">
                <input class="input" type="number" name="number" maxlength="5" step="100" placeholder="10000">
                <input class="input" type="number" name="number" maxlength="5" step="100" placeholder="10000" disabled="disabled">
                <input class="input" type="number" name="number" maxlength="5" step="100" value="10000" readonly="readonly">
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Search</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-flex is-space-column-xs">
                <input class="input" type="search" name="search" placeholder="Search">
                <input class="input" type="search" name="search" placeholder="Search" disabled="disabled">
                <input class="input" type="search" name="search" value="Search" readonly="readonly">
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Date</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-flex is-space-column-xs">
                <input class="input" type="datetime-local" name="datetime-local" value="2017-02-02T00:00:00">
                <input class="input" type="datetime-local" name="datetime-local" value="2017-02-02T00:00:00" disabled="disabled">
              </div>
              <div class="box is-flex is-space-column-xs">
                <input class="input" type="date" name="date" value="2017-02-02">
                <input class="input" type="date" name="date" value="2017-02-02" disabled="disabled">
              </div>
              <div class="box is-flex is-space-column-xs">
                <input class="input" type="month" name="month" value="2017-02">
                <input class="input" type="month" name="month" value="2017-02" disabled="disabled">
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Time</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-flex is-space-column-xs">
                <input class="input" type="time" name="time" value="00:00:00">
                <input class="input" type="time" name="time" value="00:00:00" disabled="disabled">
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">File</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <!-- <div class="field"> <input class="input" type="file" name="file"> <input class="input" type="file" name="file" disabled="disabled"> </div> -->
              <div class="box is-flex is-space-column-xs">
                <label class="button is-plain">
                  <span class="text">ファイル選択</span>
                  <input type="file" name="file" class="input">
                </label>
                <label class="button is-plain is-disabled">
                  <span class="text">ファイル選択</span>
                  <input type="file" name="file" class="input" disabled="disabled">
                </label>
              </div>
            </div>
          </div>
        </section>
        <!-- <section> <h3 class="demo-h3">Color</h3> <div class="demo-area"> <div class="demo-line-box"> <div class="field"> <input type="color" name="color" value="#37B0BE"> <input type="color" name="color" value="#37B0BE" disabled="disabled"> </div> </div> </div> </section> <section> <h3 class="demo-h3">Range</h3> <div class="demo-area"> <div class="demo-line-box"> <div class="field"> <input type="range" name="range"> <input type="range" name="range" disabled="disabled"> </div> <div class="field"> <input type="range" name="range" step="10"> <input type="range" name="range" min="1" max="5" value="3" list="range-five"> <datalist id="range-five"> <option value="1"></option> <option value="2"></option> <option value="3"></option> <option value="4"></option> <option value="5"></option> </datalist> </div> </div> </div> </section> -->
        <section>
          <h3 class="demo-h3">Radio</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-flex is-space-column-md is-middle">
                <div class="box">
                  <input class="input is-hidden" id="radio-demo-1-1" type="radio" name="radio-demo-1" checked="checked">
                  <label class="label is-space-column-xs" for="radio-demo-1-1">
                    <span class="radio"></span>
                    <span class="text">むすびー</span>
                  </label>
                </div>
                <div class="box">
                  <input class="input is-hidden" id="radio-demo-1-2" type="radio" name="radio-demo-1">
                  <label class="label is-space-column-xs" for="radio-demo-1-2">
                    <span class="radio"></span>
                    <span class="text">むすびい</span>
                  </label>
                </div>
                <div class="box">
                  <input class="input is-hidden" id="radio-demo-1-3" type="radio" name="radio-demo-1" disabled="disabled">
                  <label class="label is-space-column-xs" for="radio-demo-1-3">
                    <span class="radio"></span>
                    <span class="text">むすび</span>
                  </label>
                </div>
              </div>
              <div class="box is-flex is-space-column-md is-middle">
                <div class="box">
                  <input class="input is-hidden" id="radio-demo-2-1" type="radio" name="radio-demo-2" checked="checked">
                  <label class="label is-space-column-xs" for="radio-demo-2-1">
                    <span class="radio"></span>
                    <span class="text">デフォルトは位置が<br/>テキスト1行目に揃う</span>
                  </label>
                </div>
                <div class="box">
                  <input class="input is-hidden" id="radio-demo-2-2" type="radio" name="radio-demo-2">
                  <label class="label is-space-column-xs is-middle" for="radio-demo-2-2">
                    <span class="radio"></span>
                    <span class="text">位置は天地中央寄せに<br/>切り替えることができる</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Checkbox</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-flex is-space-column-md is-middle">
                <div class="box">
                  <input class="input is-hidden" id="checkbox-demo-1-1" type="checkbox" name="checkbox-demo-1" checked="checked">
                  <label class="label is-space-column-xs" for="checkbox-demo-1-1">
                    <span class="checkbox"></span>
                    <span class="text">Nunjucks</span>
                  </label>
                </div>
                <div class="box">
                  <input class="input is-hidden" id="checkbox-demo-1-2" type="checkbox" name="checkbox-demo-1">
                  <label class="label is-space-column-xs" for="checkbox-demo-1-2">
                    <span class="checkbox"></span>
                    <span class="text">SCSS</span>
                  </label>
                </div>
                <div class="box">
                  <input class="input is-hidden" id="checkbox-demo-1-3" type="checkbox" name="checkbox-demo-1" disabled="disabled">
                  <label class="label is-space-column-xs" for="checkbox-demo-1-3">
                    <span class="checkbox"></span>
                    <span class="text">TypeScript</span>
                  </label>
                </div>
              </div>
              <div class="box is-flex is-space-column-md is-middle">
                <div class="box">
                  <input class="input is-hidden" id="checkbox-demo-2-1" type="checkbox" name="checkbox-demo-2" checked="checked">
                  <label class="label is-space-column-xs" for="checkbox-demo-2-1">
                    <span class="checkbox"></span>
                    <span class="text">デフォルトは位置が<br/>テキスト1行目に揃う</span>
                  </label>
                </div>
                <div class="box">
                  <input class="input is-hidden" id="checkbox-demo-2-2" type="checkbox" name="checkbox-demo-2">
                  <label class="label is-space-column-xs is-middle" for="checkbox-demo-2-2">
                    <span class="checkbox"></span>
                    <span class="text">位置は天地中央寄せに<br/>切り替えることができる</span>
                  </label>
                </div>
              </div>
              <div class="box">
                <input class="input is-hidden" id="checkbox-demo-3-1" type="checkbox" name="checkbox-demo-3" checked="checked">
                <label class="label is-space-column-xs is-center" for="checkbox-demo-3-1">
                  <span class="checkbox"></span>
                  <span class="text">中央寄せした場合（同意するなど）</span>
                </label>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Select</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-flex is-space-column-xs">
                {% macro select(class, size, state) %}
                  <div class="select {{class}}">
                    <select size="{{size}}" {{state}}>
                      {% for i in["A", "B", "C", "D", "E"] %}
                        <option>
                          Select
                          {{i}}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                {% endmacro %}
                {{ select(class="", size="", state="") }}
                {{ select(class="", size="", state="disabled") }}
              </div>
              <div class="box is-flex is-space-column-xs">
                {{ select(class="is-multiple", size="5", state="") }}
                {{ select(class="is-multiple", size="5", state="disabled") }}
              </div>
              <div class="box is-flex is-space-column-xs">
                {{ select(class="is-multiple", size="5", state="multiple") }}
                {{ select(class="is-multiple", size="5", state="multiple disabled") }}
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Button</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-flex is-space-column-xs">
                <button type="button" class="button is-plain is-primary">汎用ボタン</button>
                <button type="button" class="button is-plain is-primary" disabled="disabled">汎用ボタン</button>
              </div>
              <div class="box is-flex is-space-column-xs">
                <button type="reset" class="button is-plain">リセット</button>
                <button type="reset" class="button is-plain" disabled="disabled">リセット</button>
              </div>
              <div class="box is-flex is-space-column-xs">
                <button type="submit" class="button is-plain is-success">送信</button>
                <button type="submit" class="button is-plain is-success" disabled="disabled">送信</button>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Round</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-flex is-space-column-xs">
                <input class="input is-round" type="text" name="text" placeholder="Text">
                {{ select(class="is-round", size="", state="") }}
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Flex</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-flex is-space-column-xs is-middle">
                <span class="text">天地中央揃え</span>
                <input type="text" class="input is-mobile-0" name="text" placeholder="Text">
              </div>
              <div class="box is-flex is-space-column-xs">
                <input type="text" class="input is-mobile-full is-tablet-0" name="text" placeholder="Text">
                <input type="text" class="input is-mobile-full is-tablet-0" name="text" placeholder="Text">
                <input type="text" class="input is-mobile-full is-tablet-0" name="text" placeholder="Text">
                <input type="text" class="input is-mobile-full is-tablet-0" name="text" placeholder="Text">
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Joint</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="joint">
                {{ select(class="", size="", state="") }}
                <input type="text" class="input" name="text" placeholder="キーワード">
                <button type="submit" class="button is-plain is-info">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </button>
              </div>
              <div class="joint">
                {{ select(class="is-round", size="", state="") }}
                <input type="text" class="input is-round" name="text" placeholder="キーワード">
                <button type="submit" class="button is-plain is-round is-info">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </section>
      </section>

      <section>
        <h2 class="demo-h2">iframe</h2>
        <section>
          <h3 class="demo-h3">Basic</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="iframe-wrap is-aspect-16x9">
                <iframe class="iframe" width="560" height="315" src="https://www.youtube.com/embed/DYM9Ep3S-_o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
              </div>
            </div>
          </div>
        </section>
      </section>

      <section>
        <h2 class="demo-h2">Icon</h2>
        <section>
          <h3 class="demo-h3">Basic</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <p class="text is-xl is-danger">
                <i class="fas fa-heart" aria-hidden="true"></i>
                <span class="text">ハート</span>
                <i class="fas fa-heart" aria-hidden="true"></i>
                <span class="text">ハート</span>
              </p>
              <p class="text is-xl is-danger">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="icon" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                  <path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                </svg>
                <span class="text">ハート</span>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="icon" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                  <path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                </svg>
                <span class="text">ハート</span>
              </p>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Fit</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="grid is-gap-xs">
                <div class="column">
                  <p class="text is-xxl">
                    <span class="text">
                      <i aria-hidden="true" class="fas fa-archive"></i>
                      <br>
                      <i aria-hidden="true" class="fas fa-angle-right"></i>
                    </span>
                  </p>
                </div>
                <div class="column">
                  <p class="text is-xxl is-success">
                    <span class="text is-demo-space-filter-3">
                      <i aria-hidden="true" class="fas fa-archive is-fit"></i>
                      <br>
                      <i aria-hidden="true" class="fas fa-angle-right is-fit"></i>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>

      <section>
        <h2 class="demo-h2">Alert</h2>
        <section>
          <h3 class="demo-h3">Basic</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="alert">
                <span class="text">
                  <i class="fas fa-thumbs-up is-fit" aria-hidden="true"></i>
                  <span class="text">アプリの通知設定へようこそ！</span>
                </span>
              </div>
              <div class="alert is-primary">
                <span class="text is-primary">
                  <i class="fas fa-thumbs-up is-fit" aria-hidden="true"></i>
                  <span class="text">アプリの通知設定へようこそ！</span>
                </span>
              </div>
              <div class="alert is-info">
                <span class="text is-info">
                  <i class="fas fa-info-circle is-fit" aria-hidden="true"></i>
                  <span class="text">通知設定に関するチュートリアルはこちら。</span>
                </span>
              </div>
              <div class="alert is-success">
                <span class="text is-success">
                  <i class="fas fa-check is-fit" aria-hidden="true"></i>
                  <span class="text">通知設定は自動的に保存されました。</span>
                </span>
              </div>
              <div class="alert is-warning">
                <span class="text is-warning">
                  <i class="fas fa-exclamation-triangle is-fit" aria-hidden="true"></i>
                  <span class="text">通知設定はアクティベートされていません。</span>
                </span>
              </div>
              <div class="alert is-danger">
                <span class="text is-danger">
                  <i class="fas fa-times is-fit" aria-hidden="true"></i>
                  <span class="text">通知設定は削除されました。</span>
                </span>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Tail</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="alert is-danger is-tail-top-left">
                <span class="text is-danger">
                  <i class="fas fa-times is-fit" aria-hidden="true"></i>
                  <span class="text">通知設定は削除されました。</span>
                </span>
              </div>
            </div>
          </div>
        </section>
      </section>

      <section>
        <h2 class="demo-h2">WYSIWYG</h2>
        <section>
          <h3 class="demo-h3">Basic</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="wysiwyg is-space">
                <h1>1番目に大きな見出し</h1>
                <h2>2番目に大きな見出し</h2>
                <h3>3番目に大きな見出し</h3>
                <h4>4番目に大きな見出し</h4>
                <h5>5番目に大きな見出し</h5>
                <h6>6番目に大きな見出し</h6>
                <p>WYSIWYG内のブロック要素も、他の要素のレギュレーションと同じで前後のオブジェクトの間隔を保つには<code>.is-space</code>を付与します。主に、<a href="">データベース</a>からの動的な出力を行う「<strong>WordPress</strong>」などのプログラムを想定しています。</p>
                <p>WYSIWYG内のブロック要素も、他の要素のレギュレーションと同じで前後のオブジェクトの間隔を保つには<code>.is-space</code>を付与します。主に、<a href="">データベース</a>からの動的な出力を行う「<strong>WordPress</strong>」などのプログラムを想定しています。</p>
                <ul>
                  <li>リストのテキストはインデントとリストスタイルを施します</li>
                  <li>リストのテキストはインデントとリストスタイルを施します</li>
                  <li>リストのテキストはインデントとリストスタイルを施します</li>
                  <li>リストのテキストはインデントとリストスタイルを施します<ul>
                      <li>リストのテキストはインデントとリストスタイルを施します</li>
                      <li>リストのテキストはインデントとリストスタイルを施します</li>
                      <li>リストのテキストはインデントとリストスタイルを施します</li>
                      <li>リストのテキストはインデントとリストスタイルを施します</li>
                    </ul>
                  </li>
                </ul><hr>
                <img src="https://i.gyazo.com/df2bb33264c8a351cbb5c0a2b90a8f62.png" alt="MUSUBii Demo Image">
                <p>WYSIWYG内のブロック要素も、他の要素のレギュレーションと同じで前後のオブジェクトの間隔を保つには<code>.is-space</code>を付与します。主に、<a href="">データベース</a>からの動的な出力を行う「<strong>WordPress</strong>」などのプログラムを想定しています。</p>
                <ol>
                  <li>リストのテキストはインデントとリストスタイルを施します</li>
                  <li>リストのテキストはインデントとリストスタイルを施します</li>
                  <li>リストのテキストはインデントとリストスタイルを施します</li>
                  <li>リストのテキストはインデントとリストスタイルを施します<ol>
                      <li>リストのテキストはインデントとリストスタイルを施します</li>
                      <li>リストのテキストはインデントとリストスタイルを施します</li>
                      <li>リストのテキストはインデントとリストスタイルを施します</li>
                      <li>リストのテキストはインデントとリストスタイルを施します</li>
                    </ol>
                  </li>
                </ol>
                <figure>
                  <img src="https://i.gyazo.com/df2bb33264c8a351cbb5c0a2b90a8f62.png" alt="MUSUBii Demo Image">
                  <figcaption>MUSUBii Demo Imageのfigcaption</figcaption>
                </figure>
                <p>WYSIWYG内のブロック要素も、他の要素のレギュレーションと同じで前後のオブジェクトの間隔を保つには<code>.is-space</code>を付与します。主に、<a href="">データベース</a>からの動的な出力を行う「<strong>WordPress</strong>」などのプログラムを想定しています。</p>
                <dl>
                  <dt>定義リストタイトル</dt>
                  <dd>これは定義リストです。</dd>
                  <dt>定義</dt>
                  <dd>物事、領域、何かについての意味の正確な文章や説明:
                    <em>詩を構成するものの定義。</em>
                  </dd>
                  <dt>ギャラリー</dt>
                  <dd>WordPress 2.5 から導入された、投稿に添付された画像を展示するための機能です。同じように、投稿を編集中にアップロードすると、そのファイルは「投稿に添付」されます。
                  </dd>
                  <dt>Gravatar (グラバター)</dt>
                  <dd>グラバターとはグローバルに認識されるアバター (あるユーザーを表すグラフィックイメージや写真) です。グラバターはメールアドレスと紐づいていて、Gravatar.com サービスによって管理されています。このサービスを利用すると、ブログ所有者は自分のブログを設定することによりコメント欄にユーザーのグラバターを表示させることができます。</dd>
                </dl>
                <blockquote>引用の「blockquote」を使う場合。border-leftとbackground-colorを用いた装飾を施しています。</blockquote>
                <p>文章の途中にコードを書きたい場合は&nbsp;<code>code</code>&nbsp;タグで囲む。インラインでコードを表記することができるので、ちょっとしたコードへの説明が容易になります。逆に、コード自体をブロック化して全体を伝える場合は&nbsp;<code>pre</code>&nbsp;で囲み、以下のように表示させます。</p>
                <pre><code>html {
  box-sizing: border-box;
  font-family: sans-serif;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}</code></pre>
                <p>WYSIWYGのテキストには、<strong>強調表示</strong>・<em>イタリック表示</em>・<br>
                  <s>打ち消し線</s>などのスタイルを用いることができます。その他、テーブルを組んだ場合は以下の通り。テーブル内のテキストを寄せる方向はインラインで書き込みます。</p>
                <table>
                  <thead>
                    <tr>
                      <th align="left">Align left</th>
                      <th align="center">Align Center</th>
                      <th align="right">Align Right</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td align="left">左寄せ</td>
                      <td align="center">通常</td>
                      <td align="right">右寄せ</td>
                    </tr>
                    <tr>
                      <td align="left">左寄せ</td>
                      <td align="center">2行目</td>
                      <td align="right">右寄せ</td>
                    </tr>
                    <tr>
                      <td align="left">左寄せ</td>
                      <td align="center">3行目</td>
                      <td align="right">右寄せ</td>
                    </tr>
                    <tr>
                      <td align="left">左寄せ</td>
                      <td align="center">4行目</td>
                      <td align="right">右寄せ</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Link Reverse</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="wysiwyg is-link-reverse is-space">
                <p>WYSIWYG内リンクの下線を<a href="">このように</a>カーソルホバーで出す（逆にする）場合は、<code>.wysiwyg.is-link-reverse</code>
                  を設定します。</p>
              </div>
            </div>
          </div>
        </section>
      </section>

      <section>
        <h2 class="demo-h2">Space</h2>
        <section>
          <h3 class="demo-h3">Basic</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="grid is-gap-sm">
                <div class="column is-mobile-1">
                  <div class="box is-space">
                    <p class="text">default</p>
                    <p class="text">default</p>
                    <p class="text">default</p>
                    <p class="text">default</p>
                  </div>
                </div>
                {% for val in[
                  "xxl",
                  "xl",
                  "lg",
                  "md",
                  "sm",
                  "xs",
                  "xxs"
                ] %}
                  <div class="column is-mobile-1">
                    <div class="box is-space-{{ val }}">
                      <p class="text">{{ val }}</p>
                      <p class="text">{{ val }}</p>
                      <p class="text">{{ val }}</p>
                      <p class="text">{{ val }}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Row</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="grid is-gap-sm">
                <div class="column is-mobile-1">
                  <div class="box is-space-row">
                    <p class="text">row</p>
                    <p class="text">row</p>
                    <p class="text">row</p>
                    <p class="text">row</p>
                  </div>
                </div>
                {% for val in[
                  "xxl",
                  "xl",
                  "lg",
                  "md",
                  "sm",
                  "xs",
                  "xxs"
                ] %}
                  <div class="column is-mobile-1">
                    <div class="box is-space-row-{{ val }}">
                      <p class="text">{{ val }}</p>
                      <p class="text">{{ val }}</p>
                      <p class="text">{{ val }}</p>
                      <p class="text">{{ val }}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
        <section>
          <h3 class="demo-h3">Column</h3>
          <div class="demo-area">
            <div class="demo-line-box">
              <div class="box is-space-column">
                <span class="text">column</span>
                <span class="text">column</span>
                <span class="text">column</span>
                <span class="text">column</span>
              </div>
              {% for val in[
                "xxl",
                "xl",
                "lg",
                "md",
                "sm",
                "xs",
                "xxs"
              ] %}
                <div class="box is-space-column-{{ val }}">
                  <span class="text">{{ val }}</span>
                  <span class="text">{{ val }}</span>
                  <span class="text">{{ val }}</span>
                  <span class="text">{{ val }}</span>
                </div>
              {% endfor %}
            </div>
          </div>
        </section>
      </section>

    </main>
  </body>
</html>