.joint {
  display: flex;
  flex-wrap: nowrap;
}

.joint > :is(.button, .badge, .input):not(:last-child),
.joint > .select:not(:last-child) > select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.joint > :is(.button, .badge, .input, ):not(:first-child),
.joint > .select:not(:first-child) > select {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
