[data-theme="dark"] {
  --theme-tx-1: #e5e7eb; /* tailwind grey-200 */
  --theme-tx-2: #d1d5db; /* tailwind grey-300 */
  --theme-bg-1: #030712; /* tailwind grey-950 */
  --theme-bg-2: #18212f; /* tailwind grey-800-x-gray-900 */
  --theme-bd-1: #1f2937; /* tailwind gray-800 */
  --theme-bd-2: #374151; /* tailwind grey-700 */
  --theme-lk: #22d3ee; /* tailwind cyan-400 */
  --theme-lk-tx: #1f2937; /* tailwind grey-800 */
  --theme-dark: #e5e7eb; /* tailwind grey-200 */
  --theme-light: #e5e7eb; /* tailwind grey-200 */
  --theme-primary: #22d3ee; /* tailwind cyan-400 */
  --theme-primary-light: #164e63; /* tailwind cyan-900 */
  --theme-secondary: #818cf8; /* tailwind indigo-400 */
  --theme-secondary-light: #312e81; /* tailwind indigo-900 */
  --theme-info: #38bdf8; /* tailwind sky-400 */
  --theme-info-light: #0c4a6e; /* tailwind sky-900 */
  --theme-success: #4ade80; /* tailwind green-400 */
  --theme-success-light: #14532d; /* tailwind green-900 */
  --theme-warning: #fbbf24; /* tailwind amber-400 */
  --theme-warning-light: #78350f; /* tailwind amber-900 */
  --theme-danger: #f87171; /* tailwind red-400 */
  --theme-danger-light: #7f1d1d; /* tailwind red-900 */
  --theme-shadow: #111827; /* tailwind grey-900 */
  --theme-code: #818cf8; /* tailwind indigo-400 */
  --theme-paint: #083344; /* tailwind cyan-950 */
  --theme-paint-tx: #d1d5db; /* tailwind grey-300 */
  --theme-spot: #ca8a04; /* tailwind yellow-600 */
  --theme-disabled: #374151; /* tailwind grey-700 */
}

[data-theme="dark"] {
  color-scheme: dark;
}
