//----------------------------------------------------
// Switching: Simple
//----------------------------------------------------

$option-css-variables: false;
$option-theme-default-light: true;
$option-theme-default-dark: false;
