//----------------------------------------------------
// Variables: Color
//----------------------------------------------------

$red-50: hsl(0, 65%, 95%) !default;
$red-100: hsl(0, 65%, 89%) !default;
$red-200: hsl(0, 65%, 81%) !default;
$red-300: hsl(0, 65%, 74%) !default;
$red-400: hsl(0, 65%, 67%) !default;
$red-500: hsl(0, 65%, 60%) !default;
$red-600: hsl(0, 65%, 53%) !default;
$red-700: hsl(0, 65%, 46%) !default;
$red-800: hsl(0, 65%, 39%) !default;
$red-900: hsl(0, 65%, 32%) !default;
$red-a100: hsl(0, 90%, 85%) !default;
$red-a200: hsl(0, 90%, 77%) !default;
$red-a400: hsl(0, 90%, 63%) !default;
$red-a700: hsl(0, 90%, 42%) !default;

$pink-50: hsl(340, 60%, 93%) !default;
$pink-100: hsl(340, 60%, 89%) !default;
$pink-200: hsl(340, 60%, 81%) !default;
$pink-300: hsl(340, 60%, 72%) !default;
$pink-400: hsl(340, 60%, 63%) !default;
$pink-500: hsl(340, 60%, 55%) !default;
$pink-600: hsl(340, 60%, 50%) !default;
$pink-700: hsl(340, 60%, 45%) !default;
$pink-800: hsl(340, 60%, 39%) !default;
$pink-900: hsl(340, 60%, 32%) !default;
$pink-a100: hsl(340, 85%, 85%) !default;
$pink-a200: hsl(340, 85%, 77%) !default;
$pink-a400: hsl(340, 85%, 59%) !default;
$pink-a700: hsl(340, 85%, 41%) !default;

$purple-50: hsl(290, 37%, 92%) !default;
$purple-100: hsl(290, 37%, 86%) !default;
$purple-200: hsl(290, 37%, 74%) !default;
$purple-300: hsl(290, 37%, 62%) !default;
$purple-400: hsl(290, 37%, 52%) !default;
$purple-500: hsl(290, 37%, 45%) !default;
$purple-600: hsl(290, 37%, 38%) !default;
$purple-700: hsl(290, 37%, 33%) !default;
$purple-800: hsl(290, 37%, 29%) !default;
$purple-900: hsl(290, 37%, 25%) !default;
$purple-a100: hsl(290, 57%, 82%) !default;
$purple-a200: hsl(290, 57%, 70%) !default;
$purple-a400: hsl(290, 57%, 52%) !default;
$purple-a700: hsl(290, 57%, 37%) !default;

$deep-purple-50: hsl(260, 30%, 92%) !default;
$deep-purple-100: hsl(260, 30%, 85%) !default;
$deep-purple-200: hsl(260, 30%, 75%) !default;
$deep-purple-300: hsl(260, 30%, 66%) !default;
$deep-purple-400: hsl(260, 30%, 57%) !default;
$deep-purple-500: hsl(260, 30%, 50%) !default;
$deep-purple-600: hsl(260, 30%, 45%) !default;
$deep-purple-700: hsl(260, 30%, 39%) !default;
$deep-purple-800: hsl(260, 30%, 33%) !default;
$deep-purple-900: hsl(260, 30%, 28%) !default;
$deep-purple-a100: hsl(260, 55%, 81%) !default;
$deep-purple-a200: hsl(260, 55%, 71%) !default;
$deep-purple-a400: hsl(260, 55%, 57%) !default;
$deep-purple-a700: hsl(260, 55%, 45%) !default;

$indigo-50: hsl(230, 30%, 92%) !default;
$indigo-100: hsl(230, 30%, 85%) !default;
$indigo-200: hsl(230, 30%, 75%) !default;
$indigo-300: hsl(230, 30%, 65%) !default;
$indigo-400: hsl(230, 30%, 57%) !default;
$indigo-500: hsl(230, 30%, 51%) !default;
$indigo-600: hsl(230, 30%, 45%) !default;
$indigo-700: hsl(230, 30%, 40%) !default;
$indigo-800: hsl(230, 30%, 34%) !default;
$indigo-900: hsl(230, 30%, 29%) !default;
$indigo-a100: hsl(230, 55%, 78%) !default;
$indigo-a200: hsl(230, 55%, 66%) !default;
$indigo-a400: hsl(230, 55%, 56%) !default;
$indigo-a700: hsl(230, 55%, 47%) !default;

$blue-50: hsl(206, 64%, 92%) !default;
$blue-100: hsl(206, 64%, 85%) !default;
$blue-200: hsl(206, 64%, 78%) !default;
$blue-300: hsl(206, 64%, 70%) !default;
$blue-400: hsl(206, 64%, 64%) !default;
$blue-500: hsl(206, 64%, 57%) !default;
$blue-600: hsl(206, 64%, 50%) !default;
$blue-700: hsl(206, 64%, 43%) !default;
$blue-800: hsl(206, 64%, 36%) !default;
$blue-900: hsl(206, 64%, 30%) !default;
$blue-a100: hsl(206, 87%, 78%) !default;
$blue-a200: hsl(206, 87%, 68%) !default;
$blue-a400: hsl(206, 87%, 54%) !default;
$blue-a700: hsl(206, 87%, 40%) !default;

$light-blue-50: hsl(196, 67%, 92%) !default;
$light-blue-100: hsl(196, 67%, 85%) !default;
$light-blue-200: hsl(196, 67%, 77%) !default;
$light-blue-300: hsl(196, 67%, 68%) !default;
$light-blue-400: hsl(196, 67%, 62%) !default;
$light-blue-500: hsl(196, 67%, 53%) !default;
$light-blue-600: hsl(196, 67%, 46%) !default;
$light-blue-700: hsl(196, 67%, 40%) !default;
$light-blue-800: hsl(196, 67%, 34%) !default;
$light-blue-900: hsl(196, 67%, 30%) !default;
$light-blue-a100: hsl(196, 87%, 78%) !default;
$light-blue-a200: hsl(196, 87%, 65%) !default;
$light-blue-a400: hsl(196, 87%, 51%) !default;
$light-blue-a700: hsl(196, 87%, 40%) !default;

$cyan-50: hsl(186, 55%, 92%) !default;
$cyan-100: hsl(186, 55%, 85%) !default;
$cyan-200: hsl(186, 55%, 75%) !default;
$cyan-300: hsl(186, 55%, 65%) !default;
$cyan-400: hsl(186, 55%, 55%) !default;
$cyan-500: hsl(186, 55%, 48%) !default;
$cyan-600: hsl(186, 55%, 41%) !default;
$cyan-700: hsl(186, 55%, 36%) !default;
$cyan-800: hsl(186, 55%, 32%) !default;
$cyan-900: hsl(186, 55%, 27%) !default;
$cyan-a100: hsl(186, 75%, 78%) !default;
$cyan-a200: hsl(186, 75%, 65%) !default;
$cyan-a400: hsl(186, 75%, 47%) !default;
$cyan-a700: hsl(186, 75%, 38%) !default;

$teal-50: hsl(170, 40%, 92%) !default;
$teal-100: hsl(170, 40%, 84%) !default;
$teal-200: hsl(170, 40%, 74%) !default;
$teal-300: hsl(170, 40%, 64%) !default;
$teal-400: hsl(170, 40%, 54%) !default;
$teal-500: hsl(170, 40%, 46%) !default;
$teal-600: hsl(170, 40%, 41%) !default;
$teal-700: hsl(170, 40%, 36%) !default;
$teal-800: hsl(170, 40%, 32%) !default;
$teal-900: hsl(170, 40%, 27%) !default;
$teal-a100: hsl(170, 65%, 78%) !default;
$teal-a200: hsl(170, 65%, 65%) !default;
$teal-a400: hsl(170, 65%, 47%) !default;
$teal-a700: hsl(170, 65%, 38%) !default;

$green-50: hsl(120, 33%, 94%) !default;
$green-100: hsl(120, 33%, 87%) !default;
$green-200: hsl(120, 33%, 77%) !default;
$green-300: hsl(120, 33%, 68%) !default;
$green-400: hsl(120, 33%, 59%) !default;
$green-500: hsl(120, 33%, 52%) !default;
$green-600: hsl(120, 33%, 47%) !default;
$green-700: hsl(120, 33%, 41%) !default;
$green-800: hsl(120, 33%, 35%) !default;
$green-900: hsl(120, 33%, 30%) !default;
$green-a100: hsl(120, 58%, 83%) !default;
$green-a200: hsl(120, 58%, 73%) !default;
$green-a400: hsl(120, 58%, 59%) !default;
$green-a700: hsl(120, 58%, 41%) !default;

$light-green-50: hsl(90, 45%, 93%) !default;
$light-green-100: hsl(90, 45%, 89%) !default;
$light-green-200: hsl(90, 45%, 81%) !default;
$light-green-300: hsl(90, 45%, 72%) !default;
$light-green-400: hsl(90, 45%, 63%) !default;
$light-green-500: hsl(90, 45%, 55%) !default;
$light-green-600: hsl(90, 45%, 48%) !default;
$light-green-700: hsl(90, 45%, 45%) !default;
$light-green-800: hsl(90, 45%, 39%) !default;
$light-green-900: hsl(90, 45%, 32%) !default;
$light-green-a100: hsl(90, 70%, 85%) !default;
$light-green-a200: hsl(90, 70%, 75%) !default;
$light-green-a400: hsl(90, 70%, 59%) !default;
$light-green-a700: hsl(90, 70%, 41%) !default;

$lime-50: hsl(70, 60%, 92%) !default;
$lime-100: hsl(70, 60%, 88%) !default;
$lime-200: hsl(70, 60%, 81%) !default;
$lime-300: hsl(70, 60%, 72%) !default;
$lime-400: hsl(70, 60%, 63%) !default;
$lime-500: hsl(70, 60%, 55%) !default;
$lime-600: hsl(70, 60%, 48%) !default;
$lime-700: hsl(70, 60%, 45%) !default;
$lime-800: hsl(70, 60%, 39%) !default;
$lime-900: hsl(70, 60%, 32%) !default;
$lime-a100: hsl(70, 80%, 83%) !default;
$lime-a200: hsl(70, 80%, 71%) !default;
$lime-a400: hsl(70, 80%, 58%) !default;
$lime-a700: hsl(70, 80%, 40%) !default;

$yellow-50: hsl(55, 85%, 93%) !default;
$yellow-100: hsl(55, 85%, 89%) !default;
$yellow-200: hsl(55, 85%, 81%) !default;
$yellow-300: hsl(55, 85%, 74%) !default;
$yellow-400: hsl(55, 85%, 67%) !default;
$yellow-500: hsl(55, 85%, 60%) !default;
$yellow-600: hsl(51, 85%, 55%) !default;
$yellow-700: hsl(47, 85%, 50%) !default;
$yellow-800: hsl(41, 85%, 50%) !default;
$yellow-900: hsl(35, 85%, 50%) !default;
$yellow-a100: hsl(55, 95%, 83%) !default;
$yellow-a200: hsl(55, 95%, 73%) !default;
$yellow-a400: hsl(55, 95%, 58%) !default;
$yellow-a700: hsl(50, 95%, 50%) !default;

$amber-50: hsl(45, 85%, 93%) !default;
$amber-100: hsl(45, 85%, 89%) !default;
$amber-200: hsl(45, 85%, 81%) !default;
$amber-300: hsl(45, 85%, 72%) !default;
$amber-400: hsl(45, 85%, 63%) !default;
$amber-500: hsl(45, 85%, 55%) !default;
$amber-600: hsl(45, 85%, 50%) !default;
$amber-700: hsl(40, 85%, 50%) !default;
$amber-800: hsl(34, 85%, 50%) !default;
$amber-900: hsl(27, 85%, 50%) !default;
$amber-a100: hsl(45, 95%, 83%) !default;
$amber-a200: hsl(45, 95%, 73%) !default;
$amber-a400: hsl(45, 95%, 58%) !default;
$amber-a700: hsl(42, 95%, 50%) !default;

$orange-50: hsl(35, 85%, 93%) !default;
$orange-100: hsl(35, 85%, 89%) !default;
$orange-200: hsl(35, 85%, 81%) !default;
$orange-300: hsl(35, 85%, 72%) !default;
$orange-400: hsl(35, 85%, 63%) !default;
$orange-500: hsl(35, 85%, 55%) !default;
$orange-600: hsl(35, 85%, 50%) !default;
$orange-700: hsl(31, 85%, 50%) !default;
$orange-800: hsl(27, 85%, 48%) !default;
$orange-900: hsl(23, 85%, 46%) !default;
$orange-a100: hsl(35, 95%, 83%) !default;
$orange-a200: hsl(35, 95%, 73%) !default;
$orange-a400: hsl(35, 95%, 58%) !default;
$orange-a700: hsl(30, 95%, 50%) !default;

$deep-orange-50: hsl(15, 85%, 93%) !default;
$deep-orange-100: hsl(15, 85%, 89%) !default;
$deep-orange-200: hsl(15, 85%, 81%) !default;
$deep-orange-300: hsl(15, 85%, 74%) !default;
$deep-orange-400: hsl(15, 85%, 67%) !default;
$deep-orange-500: hsl(15, 85%, 60%) !default;
$deep-orange-600: hsl(15, 85%, 53%) !default;
$deep-orange-700: hsl(15, 85%, 48%) !default;
$deep-orange-800: hsl(13, 85%, 43%) !default;
$deep-orange-900: hsl(11, 85%, 39%) !default;
$deep-orange-a100: hsl(15, 95%, 85%) !default;
$deep-orange-a200: hsl(15, 95%, 77%) !default;
$deep-orange-a400: hsl(15, 95%, 63%) !default;
$deep-orange-a700: hsl(15, 95%, 48%) !default;

$brown-50: hsl(15, 20%, 93%) !default;
$brown-100: hsl(15, 20%, 87%) !default;
$brown-200: hsl(15, 20%, 72%) !default;
$brown-300: hsl(15, 20%, 61%) !default;
$brown-400: hsl(15, 20%, 50%) !default;
$brown-500: hsl(15, 20%, 40%) !default;
$brown-600: hsl(15, 20%, 35%) !default;
$brown-700: hsl(15, 20%, 30%) !default;
$brown-800: hsl(15, 20%, 25%) !default;
$brown-900: hsl(15, 20%, 20%) !default;

$grey-50: hsl(0, 0%, 98%) !default;
$grey-100: hsl(0, 0%, 96%) !default;
$grey-200: hsl(0, 0%, 93%) !default;
$grey-300: hsl(0, 0%, 88%) !default;
$grey-400: hsl(0, 0%, 74%) !default;
$grey-500: hsl(0, 0%, 62%) !default;
$grey-600: hsl(0, 0%, 46%) !default;
$grey-700: hsl(0, 0%, 38%) !default;
$grey-800: hsl(0, 0%, 26%) !default;
$grey-900: hsl(0, 0%, 13%) !default;

$blue-grey-50: hsl(200, 13%, 94%) !default;
$blue-grey-100: hsl(200, 13%, 84%) !default;
$blue-grey-200: hsl(200, 13%, 73%) !default;
$blue-grey-300: hsl(200, 13%, 62%) !default;
$blue-grey-400: hsl(200, 13%, 54%) !default;
$blue-grey-500: hsl(200, 13%, 46%) !default;
$blue-grey-600: hsl(200, 13%, 40%) !default;
$blue-grey-700: hsl(200, 13%, 33%) !default;
$blue-grey-800: hsl(200, 13%, 26%) !default;
$blue-grey-900: hsl(200, 13%, 18%) !default;

$black: hsl(0, 0%, 0%) !default;
$white: hsl(0, 0%, 100%) !default;

//----------------------------------------------------
// / Dark & Light
//----------------------------------------------------

$dark: $black !default;
$dark-1: rgba($black, 0.87) !default;
$dark-2: rgba($black, 0.7) !default;
$dark-3: rgba($black, 0.6) !default;
$dark-4: rgba($black, 0.5) !default;
$dark-5: rgba($black, 0.4) !default;
$dark-6: rgba($black, 0.26) !default;
$dark-7: rgba($black, 0.15) !default;
$dark-8: rgba($black, 0.12) !default;
$dark-9: rgba($black, 0.05) !default;

$light: $white !default;
$light-1: rgba($white, 0.87) !default;
$light-2: rgba($white, 0.7) !default;
$light-3: rgba($white, 0.6) !default;
$light-4: rgba($white, 0.5) !default;
$light-5: rgba($white, 0.4) !default;
$light-6: rgba($white, 0.26) !default;
$light-7: rgba($white, 0.15) !default;
$light-8: rgba($white, 0.12) !default;
$light-9: rgba($white, 0.05) !default;
