//----------------------------------------------------
// Variables: Font
//----------------------------------------------------

//----------------------------------------------------
// / Font Family
//----------------------------------------------------

$font-sans: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese",
  Meiryo, "Yu Gothic Medium", sans-serif !default;

$font-serif: "Hiragino Mincho ProN", "Noto Serif Japanese", "Yu Mincho",
  YuMincho, serif !default;

$font-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Meiryo,
  monospace, serif !default;

//----------------------------------------------------
// / Font Size
//----------------------------------------------------

$font-size-xxl: 200% !default;
$font-size-xl: 150% !default;
$font-size-lg: 125% !default;
$font-size-md: 100% !default;
$font-size-sm: 87.5% !default;
$font-size-xs: 75% !default;
$font-size-xxs: 62.5% !default;

//----------------------------------------------------
// / Font Weight
//----------------------------------------------------

$font-weight-normal: 400 !default;
$font-weight-strong: 700 !default;
$font-weight-100: 100 !default;
$font-weight-200: 200 !default;
$font-weight-300: 300 !default;
$font-weight-400: 400 !default;
$font-weight-500: 500 !default;
$font-weight-600: 600 !default;
$font-weight-700: 700 !default;
$font-weight-800: 800 !default;
$font-weight-900: 900 !default;

//----------------------------------------------------
// / Line Height
//----------------------------------------------------

$line-height-xxl: 2 !default;
$line-height-xl: 1.9 !default;
$line-height-lg: 1.75 !default;
$line-height-md: 1.5 !default;
$line-height-sm: 1.375 !default;
$line-height-xs: 1.25 !default;
$line-height-xxs: 1 !default;
