//----------------------------------------------------
// Variables: Meter
//----------------------------------------------------

$meter-xxl: 28px !default;
$meter-xl: 24px !default;
$meter-lg: 20px !default;
$meter-md: 16px !default;
$meter-sm: 12px !default;
$meter-xs: 8px !default;
$meter-xxs: 4px !default;
