//----------------------------------------------------
// Variables: Option
//----------------------------------------------------

//----------------------------------------------------
// / Mode
//----------------------------------------------------

$option-css-variables: false !default;
$option-mixin-mode: false !default;

//----------------------------------------------------
// / Theme
//----------------------------------------------------

$option-theme-trigger-media: false !default;
$option-theme-default: "light" !default;

//----------------------------------------------------
// / Generate Style
//----------------------------------------------------

$option-generate-style-reset: true !default;
$option-generate-style-html: true !default;

$option-generate-style-section: true !default;
$option-generate-style-grid: true !default;
$option-generate-style-card: true !default;
$option-generate-style-box: true !default;
$option-generate-style-joint: true !default;

$option-generate-style-text: true !default;
$option-generate-style-button: true !default;
$option-generate-style-badge: true !default;
$option-generate-style-list: true !default;
$option-generate-style-table: true !default;
$option-generate-style-form: true !default;
$option-generate-style-iframe: true !default;
$option-generate-style-icon: true !default;
$option-generate-style-alert: true !default;
$option-generate-style-wysiwyg: true !default;

$option-generate-style-display: true !default;
$option-generate-style-size: true !default;
$option-generate-style-flex: true !default;
$option-generate-style-space: true !default;
$option-generate-style-margin: true !default;
$option-generate-style-padding: true !default;
$option-generate-style-centering: true !default;
$option-generate-style-overflow: true !default;
$option-generate-style-clearfix: true !default;

//----------------------------------------------------
// / Add Style
//----------------------------------------------------

$option-add-style-grid-gap-vertical: true !default;
$option-add-style-grid-gap-horizontal: true !default;
$option-add-style-card-focus: true !default;
$option-add-style-box-angle: true !default;
$option-add-style-text-link-border: true !default;
$option-add-style-button-focus: true !default;
$option-add-style-button-role-shadow: true !default;
$option-add-style-button-angle: true !default;
$option-add-style-list-note: true !default;
$option-add-style-table-wrap-shadow: true !default;
$option-add-style-form-focus: true !default;
$option-add-style-alert-tail: false !default;
$option-add-style-wysiwyg-link-border: true !default;
$option-add-style-display-only: false !default;
$option-add-style-display-landscape: false !default;
$option-add-style-display-portrait: false !default;
$option-add-style-display-browser: false !default;
$option-add-style-size-only: false !default;
$option-add-style-size-landscape: false !default;
$option-add-style-size-portrait: false !default;
$option-add-style-size-browser: false !default;
$option-add-style-flex-only: false !default;
$option-add-style-flex-landscape: false !default;
$option-add-style-flex-portrait: false !default;
$option-add-style-flex-browser: false !default;
$option-add-style-space-way: true !default;
$option-add-style-margin-way: true !default;
$option-add-style-margin-vertical: true !default;
$option-add-style-margin-horizontal: true !default;
$option-add-style-margin-minus: true !default;
$option-add-style-padding-way: true !default;
$option-add-style-padding-vertical: true !default;
$option-add-style-padding-horizontal: true !default;
$option-add-style-padding-safe: true !default;

//----------------------------------------------------
// / Important
//----------------------------------------------------

$option-important-display: false !default;
$option-important-size: false !default;
$option-important-flex: false !default;
$option-important-space: false !default;
$option-important-margin: false !default;
$option-important-padding: false !default;
$option-important-overflow: false !default;
$option-important-clearfix: false !default;
