//----------------------------------------------------
// Variables: Option
//----------------------------------------------------

$option-css-variables: false !default;
$option-mixin-mode: false !default;

$option-theme-default: "light" !default;
$option-theme-media: false !default;
$option-theme-attr: false !default;
