//----------------------------------------------------
// Variables: Option
//----------------------------------------------------

//----------------------------------------------------
// / Mode
//----------------------------------------------------

$option-css-variables: false !default;
$option-mixin-mode: false !default;

//----------------------------------------------------
// / Theme
//----------------------------------------------------

$option-theme-trigger-media: false !default;
$option-theme-default: "light" !default;

//----------------------------------------------------
// / Generate Style
//----------------------------------------------------

$option-generate-style-reset: true !default;
$option-generate-style-html: true !default;

$option-generate-style-section: true !default;
$option-generate-style-grid: true !default;
$option-generate-style-card: true !default;
$option-generate-style-box: true !default;
$option-generate-style-joint: true !default;

$option-generate-style-text: true !default;
$option-generate-style-button: true !default;
$option-generate-style-badge: true !default;
$option-generate-style-list: true !default;
$option-generate-style-table: true !default;
$option-generate-style-form: true !default;
$option-generate-style-iframe: true !default;
$option-generate-style-icon: true !default;
$option-generate-style-alert: true !default;
$option-generate-style-wysiwyg: true !default;

$option-generate-style-display: true !default;
$option-generate-style-size: true !default;
$option-generate-style-flex: true !default;
$option-generate-style-space: true !default;
$option-generate-style-margin: true !default;
$option-generate-style-padding: true !default;
$option-generate-style-centering: true !default;
$option-generate-style-overflow: true !default;
$option-generate-style-scroll: true !default;
$option-generate-style-ellipsis: true !default;
$option-generate-style-clearfix: true !default;

//----------------------------------------------------
// / Add Style
//----------------------------------------------------

$option-add-style-grid-split-gap: true !default;
$option-add-style-card-focus: true !default;
$option-add-style-box-angle: true !default;
$option-add-style-button-focus: true !default;
$option-add-style-button-angle: true !default;
$option-add-style-alert-tail: false !default;
