//----------------------------------------------------
// Variables: Radius
//----------------------------------------------------

$radius-full: 999em !default;

$radius-xxl: 16px !default;
$radius-xl: 12px !default;
$radius-lg: 8px !default;
$radius-md: 4px !default;
$radius-sm: 3px !default;
$radius-xs: 2px !default;
$radius-xxs: 1px !default;
