//----------------------------------------------------
// Variables: Space
//----------------------------------------------------

//----------------------------------------------------
// / Space Size
//----------------------------------------------------

$space-xxl: 28px !default;
$space-xl: 24px !default;
$space-lg: 20px !default;
$space-md: 16px !default;
$space-sm: 12px !default;
$space-xs: 8px !default;
$space-xxs: 4px !default;

$pattern-space: (
  xxl: $space-xxl,
  xl: $space-xl,
  lg: $space-lg,
  md: $space-md,
  sm: $space-sm,
  xs: $space-xs,
  xxs: $space-xxs
) !default;
