//----------------------------------------------------
// Utility: Clearfix
//----------------------------------------------------

//----------------------------------------------------
// / Basic
//----------------------------------------------------

.is-clearfix:after {
  content: "";
  display: block;
  clear: both;
}
