//----------------------------------------------------
// Utility: Clearfix
//----------------------------------------------------

* {
  &.is-clearfix:after {
    display: block;
    content: "";
    clear: both;
  }
}

