//----------------------------------------------------
// Utility: Deco
//----------------------------------------------------

@each $key, $value in $dark-patterns {
  .is-#{$key} {
    color: $value;
  }
}

@each $key, $value in $light-patterns {
  .is-#{$key} {
    color: $value;
  }
}

.is-primary:not(.btn) {
  color: $primary;
}

.is-info:not(.btn) {
  color: $info;
}

.is-success:not(.btn) {
  color: $success;
}

.is-warning:not(.btn) {
  color: $warning;
}

.is-danger:not(.btn) {
  color: $danger;
}

.is-yakuhanjp {
  font-family: YakuHanJP, $font-sans;
}

.is-yakuhanjps {
  font-family: YakuHanJPs, $font-sans;
}

.is-normal {
  font-weight: 300;
}

.is-strong {
  font-weight: 700;
}

.is-weight-100 {
  font-weight: 100;
}

.is-weight-200 {
  font-weight: 200;
}

.is-weight-300 {
  font-weight: 300;
}

.is-weight-400 {
  font-weight: 400;
}

.is-weight-500 {
  font-weight: 500;
}

.is-weight-700 {
  font-weight: 700;
}

.is-weight-900 {
  font-weight: 900;
}

.is-italic {
  font-style: italic;
}

.is-delete {
  text-decoration: line-through;
}

.is-capitalize {
  text-transform: capitalize;
}

.is-lowercase {
  text-transform: lowercase;
}

.is-uppercase {
  text-transform: uppercase;
}

:not(.grid):not(.btns):not(.field) {
  &.is-left {
    text-align: left;
  }
  &.is-center {
    text-align: center;
  }
  &.is-right {
    text-align: right;
  }
  &.is-justify {
    text-align: justify;
  }
  &.is-baseline {
    vertical-align: baseline;
  }
  &.is-top {
    vertical-align: top;
  }
  &.is-middle {
    vertical-align: middle;
  }
  &.is-bottom {
    vertical-align: bottom;
  }
}

.is-nowrap {
  white-space: nowrap;
}

.is-break {
  word-break: break-all;
}

.is-centering {
  margin: 0 auto;
}

.is-scroll-x {
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.is-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}