//----------------------------------------------------
// Utility: Overflow
//----------------------------------------------------

//----------------------------------------------------
// / Scroll
//----------------------------------------------------

.is-scroll-x {
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

//----------------------------------------------------
// / Ellipsis
//----------------------------------------------------

.is-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
