//----------------------------------------------------
// Utility: Overflow
//----------------------------------------------------

//----------------------------------------------------
// / Export Setting
//----------------------------------------------------

@mixin export-overflow {
  @if $use-component-overflow == true {
    @content;
  }
}

//----------------------------------------------------
// / Scroll
//----------------------------------------------------

@include export-overflow {
  .is-scroll-x {
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

//----------------------------------------------------
// / Ellipsis
//----------------------------------------------------

@include export-overflow {
  .is-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
