//----------------------------------------------------
// Utility: Size
//----------------------------------------------------

.is-xxl {
  font-size: 200%;
}

.is-xl {
  font-size: 150%;
}

.is-lg {
  font-size: 125%;
}

.is-md {
  font-size: 100%;
}

.is-sm {
  font-size: 87.5%;
}

.is-xs {
  font-size: 75%;
}

.is-xxs {
  font-size: 62.5%;
}