.text {
  --text-tx-1-color: var(--theme-tx-1);
  --text-tx-2-color: var(--theme-tx-2);
  --text-tx-3-color: var(--theme-tx-3);
  --text-bd-1-color: var(--theme-bd-1);
  --text-bd-2-color: var(--theme-bd-2);
  --text-lk-color: var(--theme-lk);
  --text-lk-tx-color: var(--theme-lk-tx);
  --text-dark-color: var(--theme-dark);
  --text-light-color: var(--theme-light);
  --text-primary-color: var(--theme-primary);
  --text-secondary-color: var(--theme-secondary);
  --text-info-color: var(--theme-info);
  --text-success-color: var(--theme-success);
  --text-warning-color: var(--theme-warning);
  --text-danger-color: var(--theme-danger);
  --text-normal-font-weight: 400;
  --text-strong-font-weight: 700;
  --text-disabled-color: var(--theme-dark);
  --text-disabled-color-alpha: 36%;
}

.text {
  --text-disabled-color-mix: color-mix(
    in srgb,
    var(--text-disabled-color) var(--text-disabled-color-alpha),
    transparent calc(100% - var(--text-disabled-color-alpha))
  );
}

.text.is-dark {
  color: var(--text-dark-color);
}

.text.is-dark-1 {
  color: color-mix(in srgb, var(--text-dark-color) 87%, transparent 13%);
}

.text.is-dark-2 {
  color: color-mix(in srgb, var(--text-dark-color) 70%, transparent 30%);
}

.text.is-dark-3 {
  color: color-mix(in srgb, var(--text-dark-color) 60%, transparent 40%);
}

.text.is-dark-4 {
  color: color-mix(in srgb, var(--text-dark-color) 50%, transparent 50%);
}

.text.is-dark-5 {
  color: color-mix(in srgb, var(--text-dark-color) 40%, transparent 60%);
}

.text.is-dark-6 {
  color: color-mix(in srgb, var(--text-dark-color) 26%, transparent 74%);
}

.text.is-dark-7 {
  color: color-mix(in srgb, var(--text-dark-color) 15%, transparent 85%);
}

.text.is-dark-8 {
  color: color-mix(in srgb, var(--text-dark-color) 12%, transparent 88%);
}

.text.is-dark-9 {
  color: color-mix(in srgb, var(--text-dark-color) 5%, transparent 95%);
}

.text.is-light {
  color: var(--text-light-color);
}

.text.is-light-1 {
  color: color-mix(in srgb, var(--text-light-color) 87%, transparent 13%);
}

.text.is-light-2 {
  color: color-mix(in srgb, var(--text-light-color) 70%, transparent 30%);
}

.text.is-light-3 {
  color: color-mix(in srgb, var(--text-light-color) 60%, transparent 40%);
}

.text.is-light-4 {
  color: color-mix(in srgb, var(--text-light-color) 50%, transparent 50%);
}

.text.is-light-5 {
  color: color-mix(in srgb, var(--text-light-color) 40%, transparent 60%);
}

.text.is-light-6 {
  color: color-mix(in srgb, var(--text-light-color) 26%, transparent 74%);
}

.text.is-light-7 {
  color: color-mix(in srgb, var(--text-light-color) 15%, transparent 85%);
}

.text.is-light-8 {
  color: color-mix(in srgb, var(--text-light-color) 12%, transparent 88%);
}

.text.is-light-9 {
  color: color-mix(in srgb, var(--text-light-color) 5%, transparent 95%);
}

.text.is-tx-1 {
  color: var(--text-tx-1-color);
}

.text.is-tx-2 {
  color: var(--text-tx-2-color);
}

.text.is-tx-3 {
  color: var(--text-tx-3-color);
}

.text.is-bd-1 {
  color: var(--text-bd-1-color);
}

.text.is-bd-2 {
  color: var(--text-bd-2-color);
}

.text.is-lk {
  color: var(--text-lk-color);
}

.text.is-lk-tx {
  color: var(--text-lk-tx-color);
}

.text.is-primary {
  color: var(--text-primary-color);
}

.text.is-secondary {
  color: var(--text-secondary-color);
}

.text.is-info {
  color: var(--text-info-color);
}

.text.is-success {
  color: var(--text-success-color);
}

.text.is-warning {
  color: var(--text-warning-color);
}

.text.is-danger {
  color: var(--text-danger-color);
}

.text.is-normal {
  font-weight: var(--text-normal-font-weight);
}

.text.is-strong {
  font-weight: var(--text-strong-font-weight);
}

.text.is-weight-100 {
  font-weight: 100;
}

.text.is-weight-200 {
  font-weight: 200;
}

.text.is-weight-300 {
  font-weight: 300;
}

.text.is-weight-400 {
  font-weight: 400;
}

.text.is-weight-500 {
  font-weight: 500;
}

.text.is-weight-600 {
  font-weight: 600;
}

.text.is-weight-700 {
  font-weight: 700;
}

.text.is-weight-800 {
  font-weight: 800;
}

.text.is-weight-900 {
  font-weight: 900;
}

.text.is-line-height-xxl {
  line-height: 2;
}

.text.is-font-sans {
  font-family: var(--font-sans);
}

.text.is-font-sans-en {
  font-family: var(--font-sans-en);
}

.text.is-font-serif {
  font-family: var(--font-serif);
}

.text.is-font-serif-en {
  font-family: var(--font-serif-en);
}

.text.is-font-mono {
  font-family: var(--font-mono);
}

.text.is-line-height-xl {
  line-height: 1.9;
}

.text.is-line-height-lg {
  line-height: 1.75;
}

.text.is-line-height-md {
  line-height: 1.5;
}

.text.is-line-height-sm {
  line-height: 1.375;
}

.text.is-line-height-xs {
  line-height: 1.25;
}

.text.is-line-height-xxs {
  line-height: 1;
}

.text.is-italic {
  font-style: italic;
}

.text.is-delete {
  text-decoration: line-through;
}

.text.is-capitalize {
  text-transform: capitalize;
}

.text.is-lowercase {
  text-transform: lowercase;
}

.text.is-uppercase {
  text-transform: uppercase;
}

.text:is(.is-right, .is-mobile-right) {
  text-align: right;
}

.text:is(.is-center, .is-mobile-center) {
  text-align: center;
}

.text:is(.is-left, .is-mobile-left) {
  text-align: left;
}

.text.is-justify {
  text-align: justify;
}

.text.is-baseline {
  vertical-align: baseline;
}

.text.is-top {
  vertical-align: top;
}

.text.is-middle {
  vertical-align: middle;
}

.text.is-bottom {
  vertical-align: bottom;
}

.text.is-nowrap {
  white-space: nowrap;
}

.text.is-break {
  word-break: break-all;
}

.text.is-link:where(
    :not(:is([disabled], [aria-disabled="true"], .is-disabled))
  ) {
  cursor: pointer;
  text-decoration: underline;
}

.text.is-link-reverse:where(
    :not(:is([disabled], [aria-disabled="true"], .is-disabled))
  ) {
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .text.is-link:hover {
    text-decoration: none;
  }
  .text.is-link-reverse:hover {
    text-decoration: underline;
  }
}

.text:is([disabled], [aria-disabled="true"], .is-disabled) {
  pointer-events: none;
  color: var(--text-disabled-color-mix);
}
