//----------------------------------------------------
// Config: Variable
//----------------------------------------------------

//----------------------------------------------------
// / Base - Global
//----------------------------------------------------

// Global
$global-border-width: 1px !default;
$global-transition: ease-out 0.12s !default;

//----------------------------------------------------
// / Layout - Grid
//----------------------------------------------------

// Grid Split
$grid-split: 12 !default;

// Column Class
$column-class: ".column" !default;

// Gap Size
$gap-size-xxl: $space-xxl !default;
$gap-size-xl: $space-xl !default;
$gap-size-lg: $space-lg !default;
$gap-size-md: $space-md !default;
$gap-size-sm: $space-sm !default;
$gap-size-xs: $space-xs !default;
$gap-size-xxs: $space-xxs !default;

// Pattern - Gap Size
$pattern-gap-size: (
  xxl: $gap-size-xxl,
  xl: $gap-size-xl,
  lg: $gap-size-lg,
  md: $gap-size-md,
  sm: $gap-size-sm,
  xs: $gap-size-xs,
  xxs: $gap-size-xxs
) !default;

// Pattern - Gap Way
$pattern-gap-way: all, row, column !default;

//----------------------------------------------------
// / Layout - Box
//----------------------------------------------------

// Box
$box-background-color: $convert-background-1 !default;
$box-border-width: $global-border-width !default;
$box-border-color: $convert-border !default;

// Box Link
$box-link-hover-background-color: $convert-background-3 !default;
$box-link-transition: $global-transition !default;

// Box Angle
$box-angle-size: 0.5em !default;
$box-angle-border-width: $global-border-width * 2 !default;
$box-angle-border-color: $convert-border-1 !default;

// Pattern - Box Custom
$pattern-box-custom: flexbox, background, outline, separate, link, angle !default;

//----------------------------------------------------
// / Layout - Card
//----------------------------------------------------

// Card
$card-background-color: $convert-background-1 !default;
$card-border-width: $global-border-width !default;
$card-border-color: $convert-border !default;
$card-focus-shadow: 0 0 0 $space-xxs $convert-focus-alpha !default;

// Card Radius
$card-radius-xxl: $radius-xxl !default;
$card-radius-xl: $radius-xl !default;
$card-radius-lg: $radius-lg !default;
$card-radius-md: $radius-md !default;
$card-radius-sm: $radius-sm !default;
$card-radius-xs: $radius-xs !default;
$card-radius-xxs: $radius-xxs !default;

// Pattern - Card Radius
$pattern-card-radius: (
  xxl: $card-radius-xxl,
  xl: $card-radius-xl,
  lg: $card-radius-lg,
  md: $card-radius-md,
  sm: $card-radius-sm,
  xs: $card-radius-xs,
  xxs: $card-radius-xxs
) !default;

// Card Floating
$card-floating-shadow: 0 1px 3px 0 $convert-shadow-alpha !default;
$card-floating-hover-shadow: 0 4px 12px 0 $convert-shadow-alpha !default;
$card-floating-focus-shadow: 0 0 0 $space-xxs $convert-focus-alpha,
  0 4px 12px 0 $convert-shadow-alpha !default;

// Card Link
$card-link-hover-background-color: $convert-background-3 !default;
$card-link-transition: $global-transition !default;

// Card Zoom
$card-zoom-transform: scale(1.025) !default;
$card-zoom-transition: $global-transition !default;

// Pattern - Card Custom
$pattern-card-custom: flexbox, background, outline, radius, floating, link, zoom !default;

//----------------------------------------------------
// / Layout - Joint
//----------------------------------------------------

// Joint Class
$joint-class: ".joint" !default;

//----------------------------------------------------
// / Module - Text
//----------------------------------------------------

// Text Class
$text-class: ".text" !default;

// Pattern - Text Dark
$pattern-text-dark: (
  dark: $convert-text-dark,
  dark-1: $convert-text-dark-1,
  dark-2: $convert-text-dark-2,
  dark-3: $convert-text-dark-3,
  dark-4: $convert-text-dark-4,
  dark-5: $convert-text-dark-5,
  dark-6: $convert-text-dark-6,
  dark-7: $convert-text-dark-7,
  dark-8: $convert-text-dark-8,
  dark-9: $convert-text-dark-9
) !default;

// Pattern - Text Light
$pattern-text-light: (
  light: $convert-text-light,
  light-1: $convert-text-light-1,
  light-2: $convert-text-light-2,
  light-3: $convert-text-light-3,
  light-4: $convert-text-light-4,
  light-5: $convert-text-light-5,
  light-6: $convert-text-light-6,
  light-7: $convert-text-light-7,
  light-8: $convert-text-light-8,
  light-9: $convert-text-light-9
) !default;

// Pattern - Text Color
$pattern-text-color: (
  primary: $convert-primary-strong,
  info: $convert-info-strong,
  success: $convert-success-strong,
  warning: $convert-warning-strong,
  danger: $convert-danger-strong
) !default;

// Pattern - Text Align Way
$pattern-text-align-way: left, center, right !default;

// Pattern - Text Align Media Query
$pattern-text-align-mediaquery: mobile, fablet, tablet, desktop, wide !default;

// Text Link
$text-link-border-change-underline: false !default;
$text-link-border-bottom-width: $global-border-width !default;
$text-link-border-bottom-style: solid !default;

// Blockquote
$blockquote-background-color: $convert-background-2 !default;
$blockquote-border-left-width: 0.5em !default;
$blockquote-border-left-color: $convert-background-alpha !default;
$blockquote-border-radius: $radius-xs !default;
$blockquote-padding: 1.5em !default;

// Code
$code-padding: 0.2em 0.5em !default;
$code-background-color: $convert-background-2 !default;
$code-border-radius: $radius-xs !default;
$code-text-color: $convert-code-text-color !default;
$code-font-size: $font-size-sm !default;
$code-font-family: $font-mono !default;

// Pre
$pre-background-color: $convert-background-2 !default;
$pre-border-radius: $radius-xs !default;
$pre-text-color: $convert-code-text-color !default;
$pre-font-family: $font-mono !default;
$pre-white-space: pre !default;
$pre-code-padding: 1.25em 1.5em !default;

//----------------------------------------------------
// / Module - Button
//----------------------------------------------------

// Button Class
$button-class: ".button" !default;

// Button
$button-padding: 0.5em 1em !default;
$button-border-width: $global-border-width !default;
$button-border-radius: $radius-sm !default;
$button-paint-text-color: $convert-button-paint-text-color !default;
$button-line-height: $line-height-md !default;
$button-transition: $global-transition !default;
$button-focus-shadow: 0 0 0 $space-xxs $convert-focus-alpha !default;

// Button Disabled
$button-disabled-background-color: $convert-disabled-background-color !default;
$button-disabled-text-color: $convert-disabled-text-color !default;

// Button Angle
$button-angle-size: 0.5em !default;
$button-angle-border-width: $global-border-width * 2 !default;
$button-angle-border-color: $convert-border-1 !default;

// Button Round
$button-round-border-radius: $radius-full !default;

// Button Square
$button-square-width: calc(2.5em + #{$global-border-width} * 2) !default;
$button-square-height: calc(2.5em + #{$global-border-width} * 2) !default;
$button-square-border-radius: $radius-sm !default;

// Button Circle
$button-circle-width: calc(2.5em + #{$global-border-width} * 2) !default;
$button-circle-height: calc(2.5em + #{$global-border-width} * 2) !default;
$button-circle-border-radius: $radius-full !default;

// Button Floating
$button-floating-shadow: 0 1px 3px 0 $convert-shadow-alpha !default;
$button-floating-hover-shadow: 0 4px 12px 0 $convert-shadow-alpha !default;
$button-floating-focus-shadow: 0 0 0 $space-xxs $convert-focus-alpha,
  0 4px 12px 0 $convert-shadow-alpha !default;

// Pattern - Button Custom
$pattern-button-custom: angle, round, square, circle, floating !default;

// Button Plain
$button-plain-background-color: $convert-background-2 !default;
$button-plain-hover-background-color: $convert-background-4 !default;
$button-plain-primary-background-color: $convert-primary !default;
$button-plain-primary-hover-background-color: $convert-primary-darken !default;
$button-plain-info-background-color: $convert-info !default;
$button-plain-info-hover-background-color: $convert-info-darken !default;
$button-plain-success-background-color: $convert-success !default;
$button-plain-success-hover-background-color: $convert-success-darken !default;
$button-plain-warning-background-color: $convert-warning !default;
$button-plain-warning-hover-background-color: $convert-warning-darken !default;
$button-plain-danger-background-color: $convert-danger !default;
$button-plain-danger-hover-background-color: $convert-danger-darken !default;

// Pattern - Button Plain
$pattern-button-plain: (
  primary: (
    background-color: $button-plain-primary-background-color,
    hover-background-color: $button-plain-primary-hover-background-color
  ),
  info: (
    background-color: $button-plain-info-background-color,
    hover-background-color: $button-plain-info-hover-background-color
  ),
  success: (
    background-color: $button-plain-success-background-color,
    hover-background-color: $button-plain-success-hover-background-color
  ),
  warning: (
    background-color: $button-plain-warning-background-color,
    hover-background-color: $button-plain-warning-hover-background-color
  ),
  danger: (
    background-color: $button-plain-danger-background-color,
    hover-background-color: $button-plain-danger-hover-background-color
  )
) !default;

// Button Outline
$button-outline-background-color: $convert-background !default;
$button-outline-border-color: $convert-border !default;
$button-outline-hover-background-color: $convert-background-2 !default;
$button-outline-primary-border-color: $convert-primary !default;
$button-outline-primary-text-color: $convert-primary-strong !default;
$button-outline-primary-hover-background-color: $convert-primary !default;
$button-outline-info-border-color: $convert-info !default;
$button-outline-info-text-color: $convert-info-strong !default;
$button-outline-info-hover-background-color: $convert-info !default;
$button-outline-success-border-color: $convert-success !default;
$button-outline-success-text-color: $convert-success-strong !default;
$button-outline-success-hover-background-color: $convert-success !default;
$button-outline-warning-border-color: $convert-warning !default;
$button-outline-warning-text-color: $convert-warning-strong !default;
$button-outline-warning-hover-background-color: $convert-warning !default;
$button-outline-danger-border-color: $convert-danger !default;
$button-outline-danger-text-color: $convert-danger-strong !default;
$button-outline-danger-hover-background-color: $convert-danger !default;

// Pattern - Button Outline
$pattern-button-outline: (
  primary: (
    border-color: $button-outline-primary-border-color,
    text-color: $button-outline-primary-text-color,
    hover-background-color: $button-outline-primary-hover-background-color
  ),
  info: (
    border-color: $button-outline-info-border-color,
    text-color: $button-outline-info-text-color,
    hover-background-color: $button-outline-info-hover-background-color
  ),
  success: (
    border-color: $button-outline-success-border-color,
    text-color: $button-outline-success-text-color,
    hover-background-color: $button-outline-success-hover-background-color
  ),
  warning: (
    border-color: $button-outline-warning-border-color,
    text-color: $button-outline-warning-text-color,
    hover-background-color: $button-outline-warning-hover-background-color
  ),
  danger: (
    border-color: $button-outline-danger-border-color,
    text-color: $button-outline-danger-text-color,
    hover-background-color: $button-outline-danger-hover-background-color
  )
) !default;

// Button Melt
$button-melt-hover-background-color: $convert-background-alpha !default;
$button-melt-primary-text-color: $convert-primary-strong !default;
$button-melt-info-text-color: $convert-info-strong !default;
$button-melt-success-text-color: $convert-success-strong !default;
$button-melt-warning-text-color: $convert-warning-strong !default;
$button-melt-danger-text-color: $convert-danger-strong !default;

// Pattern - Button Melt
$pattern-button-melt: (
  primary: (
    text-color: $button-melt-primary-text-color
  ),
  info: (
    text-color: $button-melt-info-text-color
  ),
  success: (
    text-color: $button-melt-success-text-color
  ),
  warning: (
    text-color: $button-melt-warning-text-color
  ),
  danger: (
    text-color: $button-melt-danger-text-color
  )
) !default;

// Pattern - Button Style
$pattern-button-style: plain, outline, melt !default;

//----------------------------------------------------
// / Module - Badge
//----------------------------------------------------

// Badge
$badge-padding: 0.25em 0.375em !default;
$badge-border-width: $global-border-width !default;
$badge-border-radius: $radius-sm !default;
$badge-paint-text-color: $convert-button-paint-text-color !default;
$badge-line-height: $line-height-xs !default;
$badge-transition: $global-transition !default;
$badge-focus-shadow: 0 0 0 $space-xxs $convert-focus-alpha !default;

// Badge Disabled
$badge-disabled-background-color: $convert-disabled-background-color !default;
$badge-disabled-text-color: $convert-disabled-text-color !default;

// Badge Round
$badge-round-border-radius: $radius-full !default;

// Badge Square
$badge-square-width: calc(1.75em + #{$global-border-width} * 2) !default;
$badge-square-height: calc(1.75em + #{$global-border-width} * 2) !default;
$badge-square-border-radius: $radius-sm !default;

// Badge Circle
$badge-circle-width: calc(1.75em + #{$global-border-width} * 2) !default;
$badge-circle-height: calc(1.75em + #{$global-border-width} * 2) !default;
$badge-circle-border-radius: $radius-full !default;

// Pattern - Badge Custom
$pattern-badge-custom: round, square, circle !default;

// Badge Plain
$badge-plain-background-color: $convert-background-2 !default;
$badge-plain-primary-background-color: $convert-primary !default;
$badge-plain-info-background-color: $convert-info !default;
$badge-plain-success-background-color: $convert-success !default;
$badge-plain-warning-background-color: $convert-warning !default;
$badge-plain-danger-background-color: $convert-danger !default;

// Pattern - Badge Plain
$pattern-badge-plain: (
  primary: (
    background-color: $badge-plain-primary-background-color
  ),
  info: (
    background-color: $badge-plain-info-background-color
  ),
  success: (
    background-color: $badge-plain-success-background-color
  ),
  warning: (
    background-color: $badge-plain-warning-background-color
  ),
  danger: (
    background-color: $badge-plain-danger-background-color
  )
) !default;

// Badge Outline
$badge-outline-background-color: $convert-background !default;
$badge-outline-border-color: $convert-border !default;
$badge-outline-primary-border-color: $convert-primary !default;
$badge-outline-primary-text-color: $convert-primary-strong !default;
$badge-outline-info-border-color: $convert-info !default;
$badge-outline-info-text-color: $convert-info-strong !default;
$badge-outline-success-border-color: $convert-success !default;
$badge-outline-success-text-color: $convert-success-strong !default;
$badge-outline-warning-border-color: $convert-warning !default;
$badge-outline-warning-text-color: $convert-warning-strong !default;
$badge-outline-danger-border-color: $convert-danger !default;
$badge-outline-danger-text-color: $convert-danger-strong !default;

// Pattern - Badge Outline
$pattern-badge-outline: (
  primary: (
    border-color: $badge-outline-primary-border-color,
    text-color: $badge-outline-primary-text-color
  ),
  info: (
    border-color: $badge-outline-info-border-color,
    text-color: $badge-outline-info-text-color
  ),
  success: (
    border-color: $badge-outline-success-border-color,
    text-color: $badge-outline-success-text-color
  ),
  warning: (
    border-color: $badge-outline-warning-border-color,
    text-color: $badge-outline-warning-text-color
  ),
  danger: (
    border-color: $badge-outline-danger-border-color,
    text-color: $badge-outline-danger-text-color
  )
) !default;

// Pattern - Badge Style
$pattern-badge-style: plain, outline !default;

//----------------------------------------------------
// / Module - List
//----------------------------------------------------

// List
$list-margin-left: 1.5em !default;

// List Item
$list-item-margin-top: 0.25em !default;

// List Note
$list-note-item-margin-left: 0.25em !default;

// Pattern - List Style
$pattern-list-style: disc, circle, decimal, note !default;

//----------------------------------------------------
// / Module - Table
//----------------------------------------------------

// Table
$table-padding: 0.75em 1em !default;
$table-background-color: $convert-background !default;
$table-border-width: $global-border-width !default;
$table-border-color: $convert-border !default;

// Table th
$table-th-border-bottom-width: $global-border-width * 2 !default;

// Table Stripe
$table-stripe-background-color: $convert-background-2 !default;

// Table Paint
$table-paint-background-color: $convert-table-paint-background-color !default;
$table-paint-text-color: $convert-table-paint-text-color !default;

// Table Spot
$table-spot-background-color: $convert-table-spot-background-color !default;

// Table Danger
$table-danger-background-color: $convert-table-danger-background-color !default;

// Pattern - Table Style
$pattern-table-style: line, outline, border, stripe !default;

//----------------------------------------------------
// / Module - Form
//----------------------------------------------------

// Input
$input-height: 2.5em !default;
$input-padding: 0.5em 0.75em !default;
$input-background-color: $convert-background-1 !default;
$input-border-width: $global-border-width !default;
$input-border-color: $convert-border !default;
$input-border-radius: $radius-xs !default;
$input-line-height: $line-height-md !default;
$input-shadow: inset 0 1px 1px $convert-shadow-alpha-thin !default;
$input-transition: $global-transition !default;

// Input Placeholder
$input-placeholder-color: $convert-input-placeholder-color !default;

// Input Disabled
$input-disabled-background-color: $convert-disabled-background-color !default;
$input-disabled-border-color: $convert-disabled-border-color !default;
$input-disabled-shadow: inset 0 1px 1px $convert-shadow-alpha-thin !default;
$input-disabled-text-color: $convert-disabled-text-color !default;

// Input Readonly
$input-readonly-background-color: $convert-background-2 !default;
$input-readonly-border-color: $convert-border !default;
$input-readonly-shadow: inset 0 1px 1px $convert-shadow-alpha-thin !default;
$input-readonly-text-color: $convert-body-text-color !default;

// Input Focus
$input-focus-border-color: $convert-focus-darken !default;
$input-focus-shadow: inset 0 1px 1px $convert-shadow-alpha-thin,
  0 0 0 $space-xxs $convert-focus-alpha-thin !default;

// Input Round
$input-round-border-radius: $radius-full !default;

// Pattern - Input Custom
$pattern-input-custom: round !default;

// Input Plain
$input-plain-background-color: $convert-background-2 !default;
$input-plain-border-color: transparent !default;
$input-plain-focus-shadow: 0 0 0 $space-xxs $convert-focus-alpha-thin !default;

// Input Underline
$input-underline-padding-left: 0 !default;
$input-underline-padding-right: 0 !default;
$input-underline-border-width: $global-border-width !default;
$input-underline-border-color: $convert-border !default;

// Input Inside
$input-inside-padding: 0.5em 0.75em !default;

// Pattern - Input Style
$pattern-input-style: plain, underline, inside !default;

// Input Success
$input-success-background-color: $convert-input-success-background-color !default;
$input-success-border-color: $convert-input-success-border-color !default;

// Input Danger
$input-danger-background-color: $convert-input-danger-background-color !default;
$input-danger-border-color: $convert-input-danger-border-color !default;

// Textarea
$textarea-padding: calc(0.5em - 1.5px) 0.5em !default;

// Radio
$radio-size: 1em !default;
$radio-border-width: $global-border-width * 2 !default;
$radio-background-color: $convert-background !default;
$radio-transition: $global-transition !default;
$radio-focus-shadow: 0 0 0 $space-xxs $convert-focus-alpha-thin !default;
$radio-before-checked-background-color: $convert-primary-strong !default;
$radio-checked-border-color: $convert-primary-strong !default;

// Checkbox
$checkbox-size: 1em !default;
$checkbox-border-width: $global-border-width * 2 !default;
$checkbox-border-radius: $radius-xs !default;
$checkbox-background-color: $convert-background !default;
$checkbox-transition: $global-transition !default;
$checkbox-focus-border-color: $convert-focus-darken !default;
$checkbox-focus-shadow: 0 0 0 $space-xxs $convert-focus-alpha-thin !default;
$checkbox-before-border-color: $convert-checkbox-before-border-color !default;
$checkbox-checked-background-color: $convert-primary !default;
$checkbox-checked-border-color: $convert-primary !default;

// Select
$select-angle-size: 0.5em !default;
$select-angle-border-width: $global-border-width * 2 !default;
$select-angle-border-color: $convert-border-1 !default;
$select-transition: $global-transition !default;
$select-focus-shadow: 0 0 0 $space-xxs $convert-focus-alpha-thin !default;

//----------------------------------------------------
// / Module - iframe
//----------------------------------------------------

// iframe Aspect Ratio
$iframe-aspect-16x9: 9 / 16 * 100% !default;

// Pattern - iframe Aspect Ratio
$pattern-iframe-aspect: (
  16x9: $iframe-aspect-16x9
) !default;

//----------------------------------------------------
// / Module - Icon
//----------------------------------------------------

// Icon Class
$icon-class: ".icon, .im, .fa, .fas, .far, .fal, .fab, .material-icons" !default;

// Icon Fit
$icon-fit-width: 1em !default;

//----------------------------------------------------
// / Module - Alert
//----------------------------------------------------

// Alert
$alert-padding: 0.675em 0.875em !default;
$alert-background-color: $convert-background-2 !default;
$alert-border-width: $global-border-width !default;
$alert-border-color: $convert-border !default;
$alert-border-radius: $radius-xs !default;
$alert-primary-background-color: $convert-alert-primary-background-color !default;
$alert-primary-border-color: $convert-alert-primary-border-color !default;
$alert-info-background-color: $convert-alert-info-background-color !default;
$alert-info-border-color: $convert-alert-info-border-color !default;
$alert-success-background-color: $convert-alert-success-background-color !default;
$alert-success-border-color: $convert-alert-success-border-color !default;
$alert-warning-background-color: $convert-alert-warning-background-color !default;
$alert-warning-border-color: $convert-alert-warning-border-color !default;
$alert-danger-background-color: $convert-alert-danger-background-color !default;
$alert-danger-border-color: $convert-alert-danger-border-color !default;

// Pattern - Alert
$pattern-alert: (
  primary: (
    background-color: $alert-primary-background-color,
    border-color: $alert-primary-border-color
  ),
  info: (
    background-color: $alert-info-background-color,
    border-color: $alert-info-border-color
  ),
  success: (
    background-color: $alert-success-background-color,
    border-color: $alert-success-border-color
  ),
  warning: (
    background-color: $alert-warning-background-color,
    border-color: $alert-warning-border-color
  ),
  danger: (
    background-color: $alert-danger-background-color,
    border-color: $alert-danger-border-color
  )
) !default;

// Alert Tail
$alert-tail-size: 0.5em !default;

// Pattern - Alert Tail
$pattern-alert-tail: (
  danger: (
    background-color: $alert-danger-background-color,
    border-color: $alert-danger-border-color
  )
) !default;

// Pattern - Alert Tail Way
$pattern-alert-tail-way: top !default;

//----------------------------------------------------
// Module - WYSIWYG
//----------------------------------------------------

// WYSIWYG Heading
$wysiwyg-heading-font-weight: $font-weight-strong !default;
$wysiwyg-h1-font-size: $font-size-xxl !default;
$wysiwyg-h2-font-size: $font-size-xl !default;
$wysiwyg-h3-font-size: $font-size-lg !default;
$wysiwyg-h4-font-size: $font-size-md !default;
$wysiwyg-h5-font-size: $font-size-sm !default;
$wysiwyg-h6-font-size: $font-size-xs !default;

// WYSIWYG Text
$wysiwyg-text-line-height: $line-height-xl !default;

// WYSIWYG Small
$wysiwyg-small-font-size: $font-size-sm !default;

// WYSIWYG Strong
$wysiwyg-strong-font-weight: $font-weight-strong !default;

// WYSIWYG Link
$wysiwyg-link-text-color: $convert-primary-strong !default;

// WYSIWYG Table
$wysiwyg-table-th-font-weight: $font-weight-normal !default;

// WYSIWYG HR
$wysiwyg-hr-border-width: $global-border-width !default;
$wysiwyg-hr-border-style: solid !default;
$wysiwyg-hr-border-color: $convert-border !default;

// WYSIWYG Figure
$wysiwyg-figure-text-align: center !default;
$wysiwyg-figcaption-margin-top: $space-sm !default;
$wysiwyg-figcaption-font-size: $font-size-sm !default;

//----------------------------------------------------
// / Utility - Display
//----------------------------------------------------

// Pattern - Display Media Query
$pattern-display-mediaquery: mobile, fablet, tablet, desktop, wide !default;

//----------------------------------------------------
// / Utility - Size
//----------------------------------------------------

// Pattern - Size Media Query
$pattern-size-mediaquery: mobile, fablet, tablet, desktop, wide !default;

//----------------------------------------------------
// / Utility - Flex
//----------------------------------------------------

// Pattern - Flex Media Query
$pattern-flex-mediaquery: mobile, fablet, tablet, desktop, wide !default;

//----------------------------------------------------
// / Utility - Space
//----------------------------------------------------

// Space Size
$space-size-xxl: $space-xxl !default;
$space-size-xl: $space-xl !default;
$space-size-lg: $space-lg !default;
$space-size-md: $space-md !default;
$space-size-sm: $space-sm !default;
$space-size-xs: $space-xs !default;
$space-size-xxs: $space-xxs !default;

// Pattern - Space Size
$pattern-space-size: (
  xxl: $space-size-xxl,
  xl: $space-size-xl,
  lg: $space-size-lg,
  md: $space-size-md,
  sm: $space-size-sm,
  xs: $space-size-xs,
  xxs: $space-size-xxs
) !default;

// Pattern - Space Way
$pattern-space-way: default, row, column !default;

//----------------------------------------------------
// / Utility - Margin
//----------------------------------------------------

// Margin Size
$margin-size-xxl: $space-xxl !default;
$margin-size-xl: $space-xl !default;
$margin-size-lg: $space-lg !default;
$margin-size-md: $space-md !default;
$margin-size-sm: $space-sm !default;
$margin-size-xs: $space-xs !default;
$margin-size-xxs: $space-xxs !default;

// Pattern - Margin Size
$pattern-margin-size: (
  xxl: $margin-size-xxl,
  xl: $margin-size-xl,
  lg: $margin-size-lg,
  md: $margin-size-md,
  sm: $margin-size-sm,
  xs: $margin-size-xs,
  xxs: $margin-size-xxs
) !default;

// Pattern - Margin Way
$pattern-margin-way: all, top, right, bottom, left !default;

//----------------------------------------------------
// / Utility - Padding
//----------------------------------------------------

// Padding Size
$padding-size-xxl: $space-xxl !default;
$padding-size-xl: $space-xl !default;
$padding-size-lg: $space-lg !default;
$padding-size-md: $space-md !default;
$padding-size-sm: $space-sm !default;
$padding-size-xs: $space-xs !default;
$padding-size-xxs: $space-xxs !default;

// Pattern - Padding Size
$pattern-padding-size: (
  xxl: $padding-size-xxl,
  xl: $padding-size-xl,
  lg: $padding-size-lg,
  md: $padding-size-md,
  sm: $padding-size-sm,
  xs: $padding-size-xs,
  xxs: $padding-size-xxs
) !default;

// Pattern - Padding Way
$pattern-padding-way: all, vertical, horizontal, top, right, bottom, left !default;

// Pattern - Safe Area Padding Way
$pattern-safe-area-padding-way: top, right, bottom, left !default;

//----------------------------------------------------
// / Utility - Clearfix
//----------------------------------------------------

// none
