//----------------------------------------------------
// Config: Variable
//----------------------------------------------------

//----------------------------------------------------
// Module - WYSIWYG
//----------------------------------------------------

// WYSIWYG Heading
$wysiwyg-heading-font-weight: $font-weight-strong !default;
$wysiwyg-h1-font-size: $font-size-xxl !default;
$wysiwyg-h2-font-size: $font-size-xl !default;
$wysiwyg-h3-font-size: $font-size-lg !default;
$wysiwyg-h4-font-size: $font-size-md !default;
$wysiwyg-h5-font-size: $font-size-sm !default;
$wysiwyg-h6-font-size: $font-size-xs !default;

// WYSIWYG Text
$wysiwyg-text-line-height: $line-height-xl !default;

// WYSIWYG Small
$wysiwyg-small-font-size: $font-size-sm !default;

// WYSIWYG Strong
$wysiwyg-strong-font-weight: $font-weight-strong !default;

// WYSIWYG Link
$wysiwyg-link-text-color: $convert-primary-strong !default;

// WYSIWYG Table
$wysiwyg-table-th-font-weight: $font-weight-normal !default;

// WYSIWYG HR
$wysiwyg-hr-border-width: $global-border-width !default;
$wysiwyg-hr-border-style: solid !default;
$wysiwyg-hr-border-color: $convert-border !default;

// WYSIWYG Figure
$wysiwyg-figure-text-align: center !default;
$wysiwyg-figcaption-margin-top: $space-sm !default;
$wysiwyg-figcaption-font-size: $font-size-sm !default;

//----------------------------------------------------
// / Utility - Display
//----------------------------------------------------

// Pattern - Display Media Query
$pattern-display-mediaquery: mobile, fablet, tablet, desktop, wide !default;

//----------------------------------------------------
// / Utility - Size
//----------------------------------------------------

// Pattern - Size Media Query
$pattern-size-mediaquery: mobile, fablet, tablet, desktop, wide !default;

//----------------------------------------------------
// / Utility - Flex
//----------------------------------------------------

// Pattern - Flex Media Query
$pattern-flex-mediaquery: mobile, fablet, tablet, desktop, wide !default;

//----------------------------------------------------
// / Utility - Space
//----------------------------------------------------

// Space Size
$space-size-xxl: $space-xxl !default;
$space-size-xl: $space-xl !default;
$space-size-lg: $space-lg !default;
$space-size-md: $space-md !default;
$space-size-sm: $space-sm !default;
$space-size-xs: $space-xs !default;
$space-size-xxs: $space-xxs !default;

// Pattern - Space Size
$pattern-space-size: (
  xxl: $space-size-xxl,
  xl: $space-size-xl,
  lg: $space-size-lg,
  md: $space-size-md,
  sm: $space-size-sm,
  xs: $space-size-xs,
  xxs: $space-size-xxs
) !default;

// Pattern - Space Way
$pattern-space-way: default, row, column !default;

//----------------------------------------------------
// / Utility - Margin
//----------------------------------------------------

// Margin Size
$margin-size-xxl: $space-xxl !default;
$margin-size-xl: $space-xl !default;
$margin-size-lg: $space-lg !default;
$margin-size-md: $space-md !default;
$margin-size-sm: $space-sm !default;
$margin-size-xs: $space-xs !default;
$margin-size-xxs: $space-xxs !default;

// Pattern - Margin Size
$pattern-margin-size: (
  xxl: $margin-size-xxl,
  xl: $margin-size-xl,
  lg: $margin-size-lg,
  md: $margin-size-md,
  sm: $margin-size-sm,
  xs: $margin-size-xs,
  xxs: $margin-size-xxs
) !default;

// Pattern - Margin Way
$pattern-margin-way: all, top, right, bottom, left !default;

//----------------------------------------------------
// / Utility - Padding
//----------------------------------------------------

// Padding Size
$padding-size-xxl: $space-xxl !default;
$padding-size-xl: $space-xl !default;
$padding-size-lg: $space-lg !default;
$padding-size-md: $space-md !default;
$padding-size-sm: $space-sm !default;
$padding-size-xs: $space-xs !default;
$padding-size-xxs: $space-xxs !default;

// Pattern - Padding Size
$pattern-padding-size: (
  xxl: $padding-size-xxl,
  xl: $padding-size-xl,
  lg: $padding-size-lg,
  md: $padding-size-md,
  sm: $padding-size-sm,
  xs: $padding-size-xs,
  xxs: $padding-size-xxs
) !default;

// Pattern - Padding Way
$pattern-padding-way: all, vertical, horizontal, top, right, bottom, left !default;

// Pattern - Safe Area Padding Way
$pattern-safe-area-padding-way: top, right, bottom, left !default;

//----------------------------------------------------
// / Utility - Clearfix
//----------------------------------------------------

// none
