//----------------------------------------------------
//- Base: Config
//----------------------------------------------------

-
  var site = {
    title : "Qrac GitHub",
    desc : "HTML/CSS Framework for JP",
    body : [ "musubii", "musubii-demo" ],
    url : "https://qrac.github.io/musubii"
  }

-
  var pages = {
    index : {
      title : "MUSUBii",
      desc : "HTML/CSS Framework for JP",
      body : [ "musubii-demo-index" ],
      agent : "rwd",
      url : "index.html",
      ogp : "ogp.png",
      login : "no"
    }
  }

-
  var path = {
    img : "img",
    font : "font",
    css : "css",
    js : "js"
  }

-
  var twitter = {
    id : "Qrac_JP",
    url : "https://twitter.com"
  }

-
  var github = {
    id : "qrac",
    repo : "musubii",
    ver : "v3.0.0",
    license : "MIT",
    url : "https://github.com"
  }