.site {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-height: 100svh;
}

.site *.is-font-sans-en {
  font-family: var(--font-sans-en);
}

.site *.is-half-indent {
  text-indent: 0.5em;
}

.site *.is-auto-phrase {
  word-break: auto-phrase;
}
