//----------------------------------------------------
//- Demo: Code Toggle
//----------------------------------------------------

.btns.is-xs.js-demo-code-toggle
  button.btn.is-plain.is-mobile-full
    span.text Open Code
    i.fas.fa-angle-down(aria-hidden="true")
  button.btn.is-plain.is-mobile-full
    span.text Close Code
    i.fas.fa-angle-up(aria-hidden="true")