//----------------------------------------------------
//- Demo: Responsive Flex
//----------------------------------------------------

.group.is-scroll-x
  table.table.is-sm.is-center.is-nowrap.is-middle.is-border
    thead
      tr.box.is-paint
        th(width="80")
        th
          p
            i.fa.fa-mobile(aria-hidden="true")
            span.text Mobile
            br
            span.text.is-sm all
        th
          p
            i.fa.fa-mobile(aria-hidden="true")
            span.text Fablet
            br
            span.text.is-sm 576px ~
        th
          p
            i.fa.fa-tablet(aria-hidden="true")
            span.text Tablet
            br
            span.text.is-sm 768px ~
        th
          p
            i.fa.fa-desktop(aria-hidden="true")
            span.text Desktop
            br
            span.text.is-sm 992px ~
        th
          p
            i.fa.fa-desktop(aria-hidden="true")
            span.text Wide
            br
            span.text.is-sm 1200px ~
    tbody
      tr
        td
          p.text.is-sm
            | 範囲を12分割して
            br
            | 比率を指定
        td
          p
            span.text .is-mobile-1
            br
            span.text |
            br
            span.text .is-mobile-12
        td
          p
            span.text .is-fablet-1
            br
            span.text |
            br
            span.text .is-fablet-12
        td
          p
            span.text .is-tablet-1
            br
            span.text |
            br
            span.text .is-tablet-12
        td
          p
            span.text .is-desktop-1
            br
            span.text |
            br
            span.text .is-desktop-12
        td
          p
            span.text .is-wide-1
            br
            span.text |
            br
            span.text .is-wide-12
      tr
        td
          p.text.is-sm
            | 余白を埋め等分
        td
          p
            span.text .is-mobile-0
        td
          p
            span.text .is-fablet-0
        td
          p
            span.text .is-tablet-0
        td
          p
            span.text .is-desktop-0
        td
          p
            span.text .is-wide-0
      tr
        td
          p.text.is-sm
            | 100%に広がる
        td
          p
            span.text .is-mobile-full
        td
          p
            span.text .is-fablet-full
        td
          p
            span.text .is-tablet-full
        td
          p
            span.text .is-desktop-full
        td
          p
            span.text .is-wide-full
      tr
        td
          p.text.is-sm
            | 元のサイズを保持
        td
          p
            span.text .is-mobile-auto
        td
          p
            span.text .is-fablet-auto
        td
          p
            span.text .is-tablet-auto
        td
          p
            span.text .is-desktop-auto
        td
          p
            span.text .is-wide-auto

.group.is-scroll-x
  table.table.is-sm.is-center.is-nowrap.is-middle.is-border
    thead
      tr.box.is-paint
        th(width="80")
        th
          p
            i.fa.fa-mobile(aria-hidden="true")
            span.text Mobile Only
            br
            span.text.is-sm ~ 575px
        th
          p
            i.fa.fa-mobile(aria-hidden="true")
            span.text Fablet Only
            br
            span.text.is-sm 576px ~ 767px
        th
          p
            i.fa.fa-tablet(aria-hidden="true")
            span.text Tablet Only
            br
            span.text.is-sm 768px ~ 991px
        th
          p
            i.fa.fa-desktop(aria-hidden="true")
            span.text Desktop Only
            br
            span.text.is-sm 992px ~ 1199px
    tbody
      tr
        td
          p.text.is-sm
            | 範囲を12分割して
            br
            | 比率を指定
        td
          p
            span.text .is-mobile-only-1
            br
            span.text |
            br
            span.text .is-mobile-only-12
        td
          p
            span.text .is-fablet-only-1
            br
            span.text |
            br
            span.text .is-fablet-only-12
        td
          p
            span.text .is-tablet-only-1
            br
            span.text |
            br
            span.text .is-tablet-only-12
        td
          p
            span.text .is-desktop-only-1
            br
            span.text |
            br
            span.text .is-desktop-only-12
      tr
        td
          p.text.is-sm
            | 余白を埋め等分
        td
          p
            span.text .is-mobile-only-0
        td
          p
            span.text .is-fablet-only-0
        td
          p
            span.text .is-tablet-only-0
        td
          p
            span.text .is-desktop-only-0
      tr
        td
          p.text.is-sm
            | 100%に広がる
        td
          p
            span.text .is-mobile-only-full
        td
          p
            span.text .is-fablet-only-full
        td
          p
            span.text .is-tablet-only-full
        td
          p
            span.text .is-desktop-only-full
      tr
        td
          p.text.is-sm
            | 元のサイズを保持
        td
          p
            span.text .is-mobile-only-auto
        td
          p
            span.text .is-fablet-only-auto
        td
          p
            span.text .is-tablet-only-auto
        td
          p
            span.text .is-desktop-only-auto

.group.is-scroll-x
  table.table.is-sm.is-center.is-nowrap.is-middle.is-border
    thead
      tr.box.is-paint
        th(width="80")
        th
          p
            i.fa.fa-mobile.is-fit(aria-hidden="true")
            i.fa.fa-mobile.is-fit(aria-hidden="true")
            span.text Mobile ~ Fablet
            br
            span.text.is-sm ~ 767px
        th
          p
            i.fa.fa-mobile.is-fit(aria-hidden="true")
            i.fa.fa-tablet.is-fit(aria-hidden="true")
            span.text Mobile ~ Tablet
            br
            span.text.is-sm ~ 991px
        th
          p
            i.fa.fa-mobile.is-fit(aria-hidden="true")
            i.fa.fa-desktop.is-fit(aria-hidden="true")
            span.text Mobile ~ Desktop
            br
            span.text.is-sm ~ 1199px
    tbody
      tr
        td
          p.text.is-sm
            | 範囲を12分割して
            br
            | 比率を指定
        td
          p
            span.text .is-mobile-fablet-1
            br
            span.text |
            br
            span.text .is-mobile-fablet-12
        td
          p
            span.text .is-mobile-tablet-1
            br
            span.text |
            br
            span.text .is-mobile-tablet-12
        td
          p
            span.text .is-mobile-desktop-1
            br
            span.text |
            br
            span.text .is-mobile-desktop-12
      tr
        td
          p.text.is-sm
            | 余白を埋め等分
        td
          p
            span.text .is-mobile-fablet-0
        td
          p
            span.text .is-mobile-tablet-0
        td
          p
            span.text .is-mobile-desktop-0
      tr
        td
          p.text.is-sm
            | 100%に広がる
        td
          p
            span.text .is-mobile-fablet-full
        td
          p
            span.text .is-mobile-tablet-full
        td
          p
            span.text .is-mobile-desktop-full
      tr
        td
          p.text.is-sm
            | 元のサイズを保持
        td
          p
            span.text .is-mobile-fablet-auto
        td
          p
            span.text .is-mobile-tablet-auto
        td
          p
            span.text .is-mobile-desktop-auto

.group.is-scroll-x
  table.table.is-sm.is-center.is-nowrap.is-middle.is-border
    thead
      tr.box.is-paint
        th(width="80")
        th
          p
            i.fa.fa-mobile.fa-rotate-270(aria-hidden="true")
            span.text Landscape
            br
            span.text.is-sm landscape & ~ 991px
        th
          p
            i.fa.fa-mobile(aria-hidden="true")
            span.text Portrait
            br
            span.text.is-sm portrait & ~ 991px
    tbody
      tr
        td
          p.text.is-sm
            | 範囲を12分割して
            br
            | 比率を指定
        td
          p
            span.text .is-landscape-1
            br
            span.text |
            br
            span.text .is-landscape-12
        td
          p
            span.text .is-portrait-1
            br
            span.text |
            br
            span.text .is-portrait-12
      tr
        td
          p.text.is-sm
            | 余白を埋め等分
        td
          p
            span.text .is-landscape-0
        td
          p
            span.text .is-portrait-0
      tr
        td
          p.text.is-sm
            | 100%に広がる
        td
          p
            span.text .is-landscape-full
        td
          p
            span.text .is-portrait-full
      tr
        td
          p.text.is-sm
            | 元のサイズを保持
        td
          p
            span.text .is-landscape-auto
        td
          p
            span.text .is-portrait-auto