//----------------------------------------------------
// Variables: Global
//----------------------------------------------------

$global-transition-mode-change: background 0.12s ease-in-out,
  color 0.12s ease-in-out !default;
$global-header-height-mobile: 3.5em !default;
$global-header-height-desktop: 5.125em !default;
