//----------------------------------------------------
// Elements: Button
//----------------------------------------------------

.button {
  &.is-plain {
    &.is-bg-body {
      background-color: $convert-body-background-color;
      &:hover {
        background-color: $convert-background-2;
      }
      &.is-home {
        background-color: $convert-section-background-color-grey-wind;
        &:hover {
          background-color: $convert-background-2;
        }
      }
    }
  }
}
