//----------------------------------------------------
// Elements: Icon
//----------------------------------------------------

.icon {
  &.is-fill-none-stroke {
    flex: none;
    width: 1.25em;
    height: 1.25em;
    circle,
    line,
    path {
      fill: none;
      stroke: $convert-dark-4;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
  &.is-external-link-fix {
    position: relative;
    top: -0.125em;
    margin-left: 0.25em;
    font-size: 75%;
    opacity: 0.75;
  }
}

// Fix IE11, Edge
svg.icon {
  vertical-align: middle;
}
