//----------------------------------------------------
// / heading
//----------------------------------------------------

.demo-h1 {
  //margin: 160px 16px 32px;
  font-size: 20px;
  font-weight: 700;
}

.demo-h2 {
  //margin: 20px 16px 8px;
  color: var(--demo-h2-text-color);
  font-size: 14px;
  font-weight: 700;
}
