.card {
  --card-overflow: hidden;
  --card-bg-light-bg: var(--theme-bg-1);
  --card-outline-border-width: 1px;
  --card-outline-border-color: var(--theme-bd-1);
  --card-floating-shadow-color: var(--theme-shadow);
  --card-floating-shadow-opacity: 24%;
  --card-floating-shadow-size: 0 1px 3px 0;
  --card-floating-link-hover-shadow-size: 0 4px 12px 0;
  --card-link-transition: ease-out 0.12s;
  --card-link-hover-bg: var(--theme-bg-2);
  --card-zoom-transform: scale(1.025);
  --card-zoom-transition: ease-out 0.12s;
}

.card {
  position: relative;
  display: block;
  overflow: var(--card-overflow);
}

.card.is-flex {
  display: flex;
}

.card.is-inline-flex {
  display: inline-flex;
}

.card:is(.is-flex, .is-inline-flex):where(:not(.is-nowrap)) {
  flex-wrap: wrap;
}

.card:is(.is-flex, .is-inline-flex).is-baseline {
  align-items: baseline;
}

.card:is(.is-flex, .is-inline-flex).is-middle {
  align-items: center;
}

.card:is(.is-flex, .is-inline-flex).is-bottom {
  align-items: flex-end;
}

.card:is(.is-flex, .is-inline-flex).is-center {
  justify-content: center;
}

.card:is(.is-flex, .is-inline-flex).is-right {
  justify-content: flex-end;
}

.card:is(.is-flex, .is-inline-flex).is-between {
  justify-content: space-between;
}

.card:is(.is-flex, .is-inline-flex).is-around {
  justify-content: space-around;
}

.card:is(.is-flex, .is-inline-flex).is-reverse {
  flex-direction: row-reverse;
}

.card:is(.is-bg, .is-bg-light) {
  background: var(--card-bg-light-bg);
}

.card.is-outline {
  border-width: var(--card-outline-border-width);
  border-color: var(--card-outline-border-color);
}

.card.is-radius-xxl {
  border-radius: 16px;
}

.card.is-radius-xl {
  border-radius: 12px;
}

.card.is-radius-lg {
  border-radius: 8px;
}

.card.is-radius-md,
.card.is-radius {
  border-radius: 4px;
}

.card.is-radius-sm {
  border-radius: 3px;
}

.card.is-radius-xs {
  border-radius: 2px;
}

.card.is-radius-xxs {
  border-radius: 1px;
}

.card.is-floating:where(
    :not(:is([disabled], [aria-disabled="true"], .is-disabled))
  ) {
  box-shadow: var(--card-floating-shadow-size)
    color-mix(
      in srgb,
      var(--card-floating-shadow-color) var(--card-floating-shadow-opacity),
      transparent calc(100% - var(--card-floating-shadow-opacity))
    );
}

@media (hover: hover) and (pointer: fine) {
  .card.is-floating:where(.is-link):hover {
    box-shadow: var(--card-floating-link-hover-shadow-size)
      color-mix(
        in srgb,
        var(--card-floating-shadow-color) var(--card-floating-shadow-opacity),
        transparent calc(100% - var(--card-floating-shadow-opacity))
      );
  }
}

.card.is-link {
  cursor: pointer;
  transition: var(--card-link-transition);
}

@media (hover: hover) and (pointer: fine) {
  .card.is-link:hover {
    background: var(--card-link-hover-bg);
  }
}

.card.is-zoom {
  transition: var(--card-zoom-transition);
}

@media (hover: hover) and (pointer: fine) {
  .card.is-zoom:hover {
    transform: var(--card-zoom-transform);
  }
}

.card:is([disabled], [aria-disabled="true"], .is-disabled) {
  pointer-events: none;
}
