//----------------------------------------------------
// Base: Global
//----------------------------------------------------

body {
  color: $dark-2;
  font-weight: 300;
  font-family: $font-sans;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  &[src$=".svg"] {
    width: 100%;
  }
}