//----------------------------------------------------
// Base: Global
//----------------------------------------------------

//----------------------------------------------------
// / Body Setting
//----------------------------------------------------

body {
  background-color: $body-background-color;
  color: $body-text-color;
  font-family: $body-font-family;
  line-height: $body-line-height;
}

//----------------------------------------------------
// / Image Control
//----------------------------------------------------

img {
  max-width: 100%;
  height: auto;
  &[src$=".svg"] {
    width: 100%;
  }
}

//----------------------------------------------------
// / iframe Control
//----------------------------------------------------

iframe {
  max-width: 100%;
}
