//----------------------------------------------------
// Base: Root - Dark
//----------------------------------------------------

//----------------------------------------------------
// / Export Setting
//----------------------------------------------------

@mixin export-theme-dark {
  @if $use-css-variables == true and $use-default-theme-dark == true {
    @content;
  }
  @if $use-css-variables == true and $use-media-theme-dark == true {
    @include media-theme-dark {
      @content;
    }
  }
  @if $use-css-variables == true and $use-data-theme-dark == true {
    @include data-theme-dark {
      @content;
    }
  }
}

//----------------------------------------------------
// / Export
//----------------------------------------------------

:root {
  @include export-theme-dark {
    --primary: #{$theme-dark-primary};
    --info: #{$theme-dark-info};
    --success: #{$theme-dark-success};
    --warning: #{$theme-dark-warning};
    --danger: #{$theme-dark-danger};
  }
}

:root {
  @include export-theme-dark {
    --primary-strong: #{$theme-dark-primary-strong};
    --info-strong: #{$theme-dark-info-strong};
    --success-strong: #{$theme-dark-success-strong};
    --warning-strong: #{$theme-dark-warning-strong};
    --danger-strong: #{$theme-dark-danger-strong};
  }
}

:root {
  @include export-theme-dark {
    --primary-darken: #{$theme-dark-primary-darken};
    --info-darken: #{$theme-dark-info-darken};
    --success-darken: #{$theme-dark-success-darken};
    --warning-darken: #{$theme-dark-warning-darken};
    --danger-darken: #{$theme-dark-danger-darken};
  }
}

:root {
  @include export-theme-dark {
    --focus: #{$theme-dark-focus};
    --focus-darken: #{$theme-dark-focus-darken};
    --focus-alpha: #{$theme-dark-focus-alpha};
    --focus-alpha-thin: #{$theme-dark-focus-alpha-thin};
  }
}

:root {
  @include export-theme-dark {
    --body-background-color: #{$theme-dark-body-background-color};
    --body-text-color: #{$theme-dark-body-text-color};
    --disabled-background-color: #{$theme-dark-disabled-background-color};
    --disabled-border-color: #{$theme-dark-disabled-border-color};
    --disabled-text-color: #{$theme-dark-disabled-text-color};
  }
}

:root {
  @include export-theme-dark {
    --box-default-background-color: #{$theme-dark-box-default-background-color};
    --box-default-border-color: #{$theme-dark-box-default-border-color};
    --box-link-hover-background-color: #{$theme-dark-box-link-hover-background-color};
    --box-angle-border-color: #{$theme-dark-box-angle-border-color};
  }
}

:root {
  @include export-theme-dark {
    --card-default-background-color: #{$theme-dark-card-default-background-color};
    --card-default-border-color: #{$theme-dark-card-default-border-color};
    --card-link-hover-background-color: #{$theme-dark-card-link-hover-background-color};
    --card-floating-shadow-color: #{$theme-dark-card-floating-shadow-color};
  }
}

:root {
  @include export-theme-dark {
    --text-dark: #{$theme-dark-text-dark};
    --text-dark-1: #{$theme-dark-text-dark-1};
    --text-dark-2: #{$theme-dark-text-dark-2};
    --text-dark-3: #{$theme-dark-text-dark-3};
    --text-dark-4: #{$theme-dark-text-dark-4};
    --text-dark-5: #{$theme-dark-text-dark-5};
    --text-dark-6: #{$theme-dark-text-dark-6};
    --text-dark-7: #{$theme-dark-text-dark-7};
    --text-dark-8: #{$theme-dark-text-dark-8};
    --text-dark-9: #{$theme-dark-text-dark-9};
    --text-light: #{$theme-dark-text-light};
    --text-light-1: #{$theme-dark-text-light-1};
    --text-light-2: #{$theme-dark-text-light-2};
    --text-light-3: #{$theme-dark-text-light-3};
    --text-light-4: #{$theme-dark-text-light-4};
    --text-light-5: #{$theme-dark-text-light-5};
    --text-light-6: #{$theme-dark-text-light-6};
    --text-light-7: #{$theme-dark-text-light-7};
    --text-light-8: #{$theme-dark-text-light-8};
    --text-light-9: #{$theme-dark-text-light-9};
  }
}

:root {
  @include export-theme-dark {
    --blockquote-background-color: #{$theme-dark-blockquote-background-color};
    --blockquote-border-left-color: #{$theme-dark-blockquote-border-left-color};
    --code-background-color: #{$theme-dark-code-background-color};
    --code-text-color: #{$theme-dark-code-text-color};
    --pre-background-color: #{$theme-dark-pre-background-color};
    --pre-text-color: #{$theme-dark-pre-text-color};
  }
}

:root {
  @include export-theme-dark {
    --button-paint-text-color: #{$theme-dark-button-paint-text-color};
    --button-floating-shadow-color: #{$theme-dark-button-floating-shadow-color};
    --button-plain-default-background-color: #{$theme-dark-button-plain-default-background-color};
    --button-plain-default-hover-background-color: #{$theme-dark-button-plain-default-hover-background-color};
    --button-melt-default-hover-background-color: #{$theme-dark-button-melt-default-hover-background-color};
    --button-outline-default-background-color: #{$theme-dark-button-outline-default-background-color};
    --button-outline-default-border-color: #{$theme-dark-button-outline-default-border-color};
    --button-outline-default-hover-background-color: #{$theme-dark-button-outline-default-hover-background-color};
  }
}

:root {
  @include export-theme-dark {
    --table-background-color: #{$theme-dark-table-background-color};
    --table-border-color: #{$theme-dark-table-border-color};
    --table-stripe-background-color: #{$theme-dark-table-stripe-background-color};
    --table-paint-background-color: #{$theme-dark-table-paint-background-color};
    --table-paint-text-color: #{$theme-dark-table-paint-text-color};
    --table-spot-background-color: #{$theme-dark-table-spot-background-color};
    --table-danger-background-color: #{$theme-dark-table-danger-background-color};
  }
}

:root {
  @include export-theme-dark {
    --input-background-color: #{$theme-dark-input-background-color};
    --input-border-color: #{$theme-dark-input-border-color};
    --input-shadow-color: #{$theme-dark-input-shadow-color};
    --input-readonly-background-color: #{$theme-dark-input-readonly-background-color};
    --input-readonly-text-color: #{$theme-dark-input-readonly-text-color};
    --input-placeholder-color: #{$theme-dark-input-placeholder-color};
    --radio-background-color: #{$theme-dark-radio-background-color};
    --checkbox-background-color: #{$theme-dark-checkbox-background-color};
    --checkbox-before-border-color: #{$theme-dark-checkbox-before-border-color};
    --select-angle-border-color: #{$theme-dark-select-angle-border-color};
  }
}

:root {
  @include export-theme-dark {
    --alert-default-background-color: #{$theme-dark-alert-default-background-color};
    --alert-default-border-color: #{$theme-dark-alert-default-border-color};
    --alert-primary-background-color: #{$theme-dark-alert-primary-background-color};
    --alert-primary-border-color: #{$theme-dark-alert-primary-border-color};
    --alert-info-background-color: #{$theme-dark-alert-info-background-color};
    --alert-info-border-color: #{$theme-dark-alert-info-border-color};
    --alert-success-background-color: #{$theme-dark-alert-success-background-color};
    --alert-success-border-color: #{$theme-dark-alert-success-border-color};
    --alert-warning-background-color: #{$theme-dark-alert-warning-background-color};
    --alert-warning-border-color: #{$theme-dark-alert-warning-border-color};
    --alert-danger-background-color: #{$theme-dark-alert-danger-background-color};
    --alert-danger-border-color: #{$theme-dark-alert-danger-border-color};
  }
}

:root {
  @include export-theme-dark {
    --wysiwyg-hr-border-color: #{$theme-dark-wysiwyg-hr-border-color};
  }
}
