//----------------------------------------------------
// Base: Root - Dark
//----------------------------------------------------

//----------------------------------------------------
// / Export Setting
//----------------------------------------------------

@mixin export-theme-dark {
  @if $use-css-variables == true and $use-default-theme-dark == true {
    @content;
  }
  @if $use-css-variables == true and $use-media-theme-dark == true {
    @include media-theme-dark {
      @content;
    }
  }
  @if $use-css-variables == true and $use-data-theme-dark == true {
    @include data-theme-dark {
      @content;
    }
  }
}

//----------------------------------------------------
// / Export
//----------------------------------------------------

:root {
  @include export-theme-dark {
    --primary: #{$t-d-vpr};
    --info: #{$t-d-vin};
    --success: #{$t-d-vsu};
    --warning: #{$t-d-vwa};
    --danger: #{$t-d-vda};
    --primary-strong: #{$t-d-vpr-str};
    --info-strong: #{$t-d-vin-str};
    --success-strong: #{$t-d-vsu-str};
    --warning-strong: #{$t-d-vwa-str};
    --danger-strong: #{$t-d-vda-str};
    --primary-darken: #{$t-d-vpr-dkn};
    --info-darken: #{$t-d-vin-dkn};
    --success-darken: #{$t-d-vsu-dkn};
    --warning-darken: #{$t-d-vwa-dkn};
    --danger-darken: #{$t-d-vda-dkn};
    --primary-lighten: #{$t-d-vpr-ltn};
    --info-lighten: #{$t-d-vin-ltn};
    --success-lighten: #{$t-d-vsu-ltn};
    --warning-lighten: #{$t-d-vwa-ltn};
    --danger-lighten: #{$t-d-vda-ltn};
  }
}

:root {
  @include export-theme-dark {
    --background-color: #{$t-d-bg-cl};
    --text-color: #{$t-d-tx-cl};
  }
}

:root {
  @include export-theme-dark {
    --text-dark: #{$t-d-tx-d};
    --text-dark-1: #{$t-d-tx-d-1};
    --text-dark-2: #{$t-d-tx-d-2};
    --text-dark-3: #{$t-d-tx-d-3};
    --text-dark-4: #{$t-d-tx-d-4};
    --text-dark-5: #{$t-d-tx-d-5};
    --text-dark-6: #{$t-d-tx-d-6};
    --text-dark-7: #{$t-d-tx-d-7};
    --text-dark-8: #{$t-d-tx-d-8};
    --text-dark-9: #{$t-d-tx-d-9};
    --text-light: #{$t-d-tx-l};
    --text-light-1: #{$t-d-tx-l-1};
    --text-light-2: #{$t-d-tx-l-2};
    --text-light-3: #{$t-d-tx-l-3};
    --text-light-4: #{$t-d-tx-l-4};
    --text-light-5: #{$t-d-tx-l-5};
    --text-light-6: #{$t-d-tx-l-6};
    --text-light-7: #{$t-d-tx-l-7};
    --text-light-8: #{$t-d-tx-l-8};
    --text-light-9: #{$t-d-tx-l-9};
  }
}

:root {
  @include export-theme-dark {
    --blockquote-background-color: #{$t-d-bq-bg-cl};
    --blockquote-border-left-color: #{$t-d-bq-bd-lf-cl};
    --code-background-color: #{$t-d-cd-bg-cl};
    --code-text-color: #{$t-d-cd-tx-cl};
    --pre-background-color: #{$t-d-pr-bg-cl};
    --pre-text-color: #{$t-d-pr-tx-cl};
  }
}

:root {
  @include export-theme-dark {
    --button-paint-text-color: #{$t-d-btn-pa-tx-cl};
    --button-focus-shadow-color: #{$t-d-btn-fc-sd-cl};
    --button-floating-shadow-color: #{$t-d-btn-fl-sd-cl};
    --button-plain-default-background-color: #{$t-d-btn-pl-df-bg-cl};
    --button-plain-default-hover-background-color: #{$t-d-btn-pl-df-hv-bg-cl};
    --button-melt-default-hover-background-color: #{$t-d-btn-me-df-hv-bg-cl};
    --button-outline-default-background-color: #{$t-d-btn-ot-df-bg-cl};
    --button-outline-default-border-color: #{$t-d-btn-ot-df-bd-cl};
    --button-outline-default-hover-background-color: #{$t-d-btn-ot-df-hv-bg-cl};
    --button-ghost-default-border-color: #{$t-d-btn-gh-df-bd-cl};
    --button-ghost-default-text-color: #{$t-d-btn-gh-df-tx-cl};
    --button-ghost-default-hover-background-color: #{$t-d-btn-gh-df-hv-bg-cl};
    --button-ghost-default-hover-text-color: #{$t-d-btn-gh-df-hv-tx-cl};
    --button-disabled-background-color: #{$t-d-btn-ds-bg-cl};
    --button-disabled-background-color-alpha: #{$t-d-btn-ds-bg-cl-ah};
    --button-disabled-text-color: #{$t-d-btn-ds-tx-cl};
    --button-ghost-disabled-background-color: #{$t-d-btn-gh-ds-bg-cl};
    --button-ghost-disabled-border-color: #{$t-d-btn-gh-ds-bd-cl};
    --button-ghost-disabled-text-color: #{$t-d-btn-gh-ds-tx-cl};
  }
}

:root {
  @include export-theme-dark {
    --table-background-color: #{$t-d-tbl-bg-cl};
    --table-border-color: #{$t-d-tbl-bd-cl};
    --table-stripe-background-color: #{$t-d-tbl-st-bg-cl};
    --table-paint-background-color: #{$t-d-tbl-pa-bg-cl};
    --table-paint-text-color: #{$t-d-tbl-pa-tx-cl};
    --table-spot-background-color: #{$t-d-tbl-sp-bg-cl};
    --table-danger-background-color: #{$t-d-tbl-vda-bg-cl};
  }
}

:root {
  @include export-theme-dark {
    --input-background-color: #{$t-d-ipt-bg-cl};
    --input-border-color: #{$t-d-ipt-bd-cl};
    --input-shadow-color: #{$t-d-ipt-sd-cl};
    --input-focus-border-color: #{$t-d-ipt-fc-bd-cl};
    --input-focus-shadow-color: #{$t-d-ipt-fc-sd-cl};
    --input-disabled-background-color: #{$t-d-ipt-ds-bg-cl};
    --input-disabled-border-color: #{$t-d-ipt-ds-bg-cl};
    --input-disabled-text-color: #{$t-d-ipt-ds-tx-cl};
    --input-readonly-background-color: #{$t-d-ipt-rd-bg-cl};
    --input-readonly-text-color: #{$t-d-ipt-rd-tx-cl};
    --input-placeholder-color: #{$t-d-ipt-ph-cl};
    --radio-background-color: #{$t-d-rdo-bg-cl};
    --radio-before-checked-background-color: #{$t-d-rdo-bf-ch-bg-cl};
    --radio-checked-border-color: #{$t-d-rdo-ch-bd-cl};
    --checkbox-background-color: #{$t-d-chx-bg-cl};
    --checkbox-focus-border-color: #{$t-d-chx-fc-bd-cl};
    --checkbox-before-border-color: #{$t-d-chx-bf-bd-cl};
    --checkbox-checked-background-color: #{$t-d-chx-ch-bg-cl};
    --checkbox-checked-border-color: #{$t-d-chx-ch-bd-cl};
    --select-angle-border-color: #{$t-d-slt-ag-bd-cl};
  }
}

:root {
  @include export-theme-dark {
    --alert-default-background-color: #{$t-d-alr-df-bg-cl};
    --alert-default-border-color: #{$t-d-alr-df-bd-cl};
    --alert-primary-background-color: #{$t-d-alr-vpr-bg-cl};
    --alert-primary-border-color: #{$t-d-alr-vpr-bd-cl};
    --alert-info-background-color: #{$t-d-alr-vin-bg-cl};
    --alert-info-border-color: #{$t-d-alr-vin-bd-cl};
    --alert-success-background-color: #{$t-d-alr-vsu-bg-cl};
    --alert-success-border-color: #{$t-d-alr-vsu-bd-cl};
    --alert-warning-background-color: #{$t-d-alr-vwa-bg-cl};
    --alert-warning-border-color: #{$t-d-alr-vwa-bd-cl};
    --alert-danger-background-color: #{$t-d-alr-vda-bg-cl};
    --alert-danger-border-color: #{$t-d-alr-vda-bd-cl};
  }
}

:root {
  @include export-theme-dark {
    --wysiwyg-link-text-color: #{$t-d-wys-lk-tx-cl};
    --wysiwyg-hr-border-color: #{$t-d-wys-hr-bd-cl};
  }
}
