//----------------------------------------------------
/*! Reset CSS: Shitaji.CSS v3.0.0 CC0 by Qrac */
//----------------------------------------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
  font-size: 100%;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  list-style: none;
  vertical-align: baseline;
  background-repeat: no-repeat;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

::before,
::after {
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background-repeat: no-repeat;
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

img {
	border-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

hr {
  height: 0;
  overflow: visible;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

template,
[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

a {
  background: transparent;
  color: inherit;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button:not([disabled]),
input:not([disabled])[type="file"],
input:not([disabled])[type="color"],
input:not([disabled])[type="range"],
input:not([disabled])[type="button"],
input:not([disabled])[type="reset"],
input:not([disabled])[type="submit"],
select:not([disabled]) {
  cursor: pointer;
}

input[disabled][type="image"] {
  cursor: default;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

[hidden][aria-hidden="false"] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
}
