:root {
  --rem-10px: 0.625rem;
  --rem-12px: 0.75rem;
  --rem-14px: 0.875rem;
  --rem-16px: 1rem;
  --rem-18px: 1.125rem;
  --rem-20px: 1.25rem;
  --rem-22px: 1.375rem;
  --rem-24px: 1.5rem;
  --rem-26px: 1.625rem;
  --rem-28px: 1.75rem;
  --rem-30px: 1.875rem;
  --rem-32px: 2rem;
  --rem-34px: 2.125rem;
  --rem-36px: 2.25rem;
  --rem-38px: 2.375rem;
  --rem-40px: 2.5rem;
}
