:root {
  --theme-tx-1: rgba(0, 0, 0, 0.7);
  --theme-tx-2: rgba(0, 0, 0, 0.7);
  --theme-bg-1: #ffffff;
  --theme-bg-2: #f5f5f5;
  --theme-bd-1: #e7e1e0;
  --theme-bd-2: #d1d8dc;
  --theme-lk: #37b0be;
  --theme-lk-tx: #ffffff;
  --theme-dark: #000000;
  --theme-light: #ffffff;
  --theme-primary: #37b0be;
  --theme-primary-light: #ebf8f9;
  --theme-info: #4b9bd8;
  --theme-info-light: #eaf3fa;
  --theme-secondary: #5d69a8;
  --theme-secondary-light: #e0e7ff;
  --theme-success: #2ca52c;
  --theme-success-light: #e7f9e7;
  --theme-warning: #ec9213;
  --theme-warning-light: #fdf0e3;
  --theme-danger: #ec4032;
  --theme-danger-light: #fbeeee;
  --theme-shadow: #000000;
  --theme-code: #5d69a8;
  --theme-disabled: #bdbdbd;
}
