:root {
  --theme-tx-1: #0f172a; /* tailwind slate-900 #0f172a */
  --theme-tx-2: #334155; /* tailwind slate-700 #334155 */
  --theme-bg-1: #ffffff; /* white #ffffff */
  --theme-bg-2: #f1f5f9; /* tailwind slate-100 #f1f5f9 */
  --theme-bd-1: #e2e8f0; /* tailwind slate-200 #e2e8f0 */
  --theme-bd-2: #cbd5e1; /* tailwind slate-300 #cbd5e1 */
  --theme-lk: #06b6d4; /* tailwind cyan-500 #06b6d4 */
  --theme-lk-tx: #ffffff; /* white #ffffff */
  --theme-dark: #0f172a; /* tailwind slate-900 #0f172a */
  --theme-light: #ffffff; /* white #ffffff */
  --theme-primary: #06b6d4; /* tailwind cyan-500 #06b6d4 */
  --theme-primary-light: #cffafe; /* tailwind cyan-100 #cffafe */
  --theme-info: #0ea5e9; /* tailwind sky-500 #0ea5e9 */
  --theme-info-light: #e0f2fe; /* tailwind sky-100 #e0f2fe */
  --theme-secondary: #6366f1; /* tailwind indigo-500 #6366f1 */
  --theme-secondary-light: #e0e7ff; /* tailwind indigo-100 #e0e7ff */
  --theme-success: #16a34a; /* tailwind green-600 #16a34a */
  --theme-success-light: #dcfce7; /* tailwind green-100 #dcfce7 */
  --theme-warning: #f59e0b; /* tailwind amber-500 #f59e0b */
  --theme-warning-light: #fef3c7; /* tailwind amber-100 #fef3c7 */
  --theme-danger: #dc2626; /* tailwind red-600 #dc2626 */
  --theme-danger-light: #fee2e2; /* tailwind red-100 #fee2e2 */
  --theme-shadow: #0f172a; /* tailwind slate-900 #0f172a */
  --theme-code: #6366f1; /* tailwind indigo-500 #6366f1 */
  --theme-paint: #0e7490; /* tailwind cyan-700 #0e7490 */
  --theme-paint-tx: #ffffff; /* white #ffffff */
  --theme-spot: #fde047; /* tailwind yellow-300 #fde047 */
  --theme-disabled: #cbd5e1; /* tailwind slate-300 #cbd5e1 */
}
