.button {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  line-height: 1.5;
  white-space: nowrap;
  appearance: none;
}
