.button.is-ghost.is-primary {
  color: var(--theme-primary);
}

.button.is-ghost.is-secondary {
  color: var(--theme-secondary);
}

.button.is-ghost.is-success {
  color: var(--theme-success);
}

.button.is-ghost.is-danger {
  color: var(--theme-danger);
}

@media (hover: hover) and (pointer: fine) {
  .button.is-ghost:hover {
    background-color: var(--theme-bg-2);
  }
  .button.is-ghost.is-primary:hover {
    background-color: var(--theme-primary-light);
  }
  .button.is-ghost.is-secondary:hover {
    background-color: var(--theme-secondary-light);
  }
  .button.is-ghost.is-success:hover {
    background-color: var(--theme-success-light);
  }
  .button.is-ghost.is-danger:hover {
    background-color: var(--theme-danger-light);
  }
}
