.button.is-outline {
  background-color: var(--theme-bg-1);
  border-color: var(--theme-bd-1);
}

.button.is-outline.is-primary,
.button.is-outline.is-secondary,
.button.is-outline.is-success,
.button.is-outline.is-danger {
  border-color: currentColor;
}

.button.is-outline.is-primary {
  color: var(--theme-primary);
}

.button.is-outline.is-secondary {
  color: var(--theme-secondary);
}

.button.is-outline.is-success {
  color: var(--theme-success);
}

.button.is-outline.is-danger {
  color: var(--theme-danger);
}

@media (hover: hover) and (pointer: fine) {
  .button.is-outline:hover {
    background-color: var(--theme-bg-2);
  }
  .button.is-outline.is-primary:hover {
    background-color: var(--theme-primary-light);
  }
  .button.is-outline.is-secondary:hover {
    background-color: var(--theme-secondary-light);
  }
  .button.is-outline.is-success:hover {
    background-color: var(--theme-success-light);
  }
  .button.is-outline.is-danger:hover {
    background-color: var(--theme-danger-light);
  }
}
