.button.is-plain {
  background-color: var(--theme-bg-2);
}

.button.is-plain.is-primary,
.button.is-plain.is-info,
.button.is-plain.is-success,
.button.is-plain.is-warning,
.button.is-plain.is-danger {
  color: var(--theme-lk-tx);
}

.button.is-plain.is-primary {
  background-color: var(--theme-primary);
}

.button.is-plain.is-info {
  background-color: var(--theme-info);
}

.button.is-plain.is-success {
  background-color: var(--theme-success);
}

.button.is-plain.is-warning {
  background-color: var(--theme-warning);
}

.button.is-plain.is-danger {
  background-color: var(--theme-danger);
}

@media (hover: hover) and (pointer: fine) {
  .button.is-plain:hover {
    filter: brightness(0.9);
  }
}
