.button.is-solid {
  background-color: var(--theme-bg-2);
}

.button.is-solid:is(.is-primary, .is-secondary, .is-success, .is-danger) {
  color: var(--theme-lk-tx);
}

.button.is-solid.is-primary {
  background-color: var(--theme-primary);
}

.button.is-solid.is-secondary {
  background-color: var(--theme-secondary);
}

.button.is-solid.is-success {
  background-color: var(--theme-success);
}

.button.is-solid.is-danger {
  background-color: var(--theme-danger);
}

@media (hover: hover) and (pointer: fine) {
  .button:is(.is-solid, .is-mild):hover {
    filter: brightness(0.94);
  }
}

.button.is-mild {
  background-color: var(--theme-bg-1);
}

.button.is-mild.is-primary {
  background-color: var(--theme-primary-mild);
}

.button.is-mild.is-secondary {
  background-color: var(--theme-secondary-mild);
}

.button.is-mild.is-success {
  background-color: var(--theme-success-mild);
}

.button.is-mild.is-danger {
  background-color: var(--theme-danger-mild);
}

.button:is(.is-mild, .is-outline, .is-ghost).is-primary {
  color: var(--theme-primary);
}

.button:is(.is-mild, .is-outline, .is-ghost).is-secondary {
  color: var(--theme-secondary);
}

.button:is(.is-mild, .is-outline, .is-ghost).is-success {
  color: var(--theme-success);
}

.button:is(.is-mild, .is-outline, .is-ghost).is-danger {
  color: var(--theme-danger);
}

.button.is-outline {
  background-color: var(--theme-bg-1);
  border-color: var(--theme-bd-1);
}

.button.is-outline:is(.is-primary, .is-secondary, .is-success, .is-danger) {
  border-color: currentColor;
}

@media (hover: hover) and (pointer: fine) {
  .button:is(.is-outline, .is-ghost):hover {
    background-color: var(--theme-bg-2);
  }
  .button:is(.is-outline, .is-ghost).is-primary:hover {
    background-color: var(--theme-primary-light);
  }
  .button:is(.is-outline, .is-ghost).is-secondary:hover {
    background-color: var(--theme-secondary-light);
  }
  .button:is(.is-outline, .is-ghost).is-success:hover {
    background-color: var(--theme-success-light);
  }
  .button:is(.is-outline, .is-ghost).is-danger:hover {
    background-color: var(--theme-danger-light);
  }
}
