//----------------------------------------------------
// Components: Demo Wrapper
//----------------------------------------------------

.demo-wrapper {
  @include mobile-tablet() {
    padding: 28px 0 16px;
  }
  @include desktop() {
    padding: 0 0 32px 32px;
  }
  .demo-box {
    margin: 12px 0;
  }
  .demo-options-wrap {
    margin: 12px 0;
  }
  .demo-heading-1 {
    margin: -8px 0 24px;
  }
  .demo-heading-2 {
    margin: 60px 0 12px;
  }
  .demo-heading-3 {
    margin: 40px 0 12px;
  }
  .demo-table-wrap {
    margin: 12px 0;
  }
  .demo-text {
    margin: 16px 0;
  }
  .demo-list {
    margin: 16px 0;
  }
  .demo-hr {
    margin: 32px 0;
  }
  .demo-pre-wrap {
    margin: 12px 0;
  }
}
