//----------------------------------------------------
// Components - Demo Box
//----------------------------------------------------

.demo-box {
  &.is-preview {
    > .demo-box,
    > .demo-options-wrap,
    > .demo-pre-wrap,
    > .demo-flex-table {
      margin: 0;
      &:not(:first-child),
      &:not(:first-child) > .demo-pre {
        border-top: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
      &:not(:last-child),
      &:not(:last-child) > .demo-pre {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    > .demo-flex-table {
      &:first-child {
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
      }
      &:last-child {
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
      }
    }
  }
  &.is-line {
    padding: 1.25em;
    border: 1px solid $convert-demo-box-line-border-color;
    border-radius: 2px;
  }
  &.is-paint {
    padding: 1.25em;
    background-color: $convert-demo-box-paint-background-color;
    border: 1px solid $convert-demo-box-line-border-color;
    border-radius: 2px;
  }
  &.is-note {
    padding: 1.25em;
    background-color: $convert-background-2;
    border: 1px solid $convert-border;
    border-radius: 2px;
    .custom-block-heading {
      color: $convert-dark-4;
      font-weight: 900;
      font-family: $font-sans-en;
      letter-spacing: 0.175em;
      text-transform: uppercase;
    }
  }
  &.is-tips {
    padding: 1.25em;
    background-color: $convert-alert-primary-background-color;
    border: 1px solid $convert-alert-primary-border-color;
    border-radius: 2px;
    .custom-block-heading {
      color: $convert-primary-strong;
      font-weight: 900;
      font-family: $font-sans-en;
      letter-spacing: 0.175em;
      text-transform: uppercase;
    }
  }
  &.is-warning {
    padding: 1.25em;
    background-color: $convert-alert-warning-background-color;
    border: 1px solid $convert-alert-warning-border-color;
    border-radius: 2px;
    .custom-block-heading {
      color: $convert-warning-strong;
      font-weight: 900;
      font-family: $font-sans-en;
      letter-spacing: 0.175em;
      text-transform: uppercase;
    }
  }
  .custom-block-heading {
    + .custom-block-body {
      margin-top: 8px;
    }
  }
  .custom-block-body {
  }
  .demo-text,
  .demo-list {
    margin-bottom: 0;
    &:first-child {
      margin-top: 0;
    }
  }
}
