//----------------------------------------------------
// Components: Demo Option
//----------------------------------------------------

.demo-options-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0;
  border: 1px solid $convert-demo-box-line-border-color;
  border-radius: 2px;
}

.demo-options {
  display: flex;
  flex-wrap: wrap;
}

.demo-option {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 4px 20px;
}

.demo-option-title {
  flex: 0 0 100%;
  margin-top: -2px;
  //margin-bottom: -4px;
  padding-top: 8px;
  padding-bottom: 2px;
  color: $convert-dark-4;
  font-size: 75%;
  font-weight: 900;
  font-family: $font-sans-en;
  letter-spacing: 0.175em;
  text-transform: uppercase;
}

.demo-option-box {
  padding: 8px 0;
  .select {
    &:not(.is-multiple) > select {
      padding-right: 2em;
    }
    > select {
      height: calc(1.5em + (1px * 2));
      padding: 0 0.5em;
    }
  }
}
