//----------------------------------------------------
// Components: Demo Flex Table
//----------------------------------------------------

.demo-flex-table {
  border: 1px solid $convert-demo-box-line-border-color;
  overflow: hidden;
  .table-header {
    display: none;
    border-bottom: 1px solid $convert-demo-box-line-border-color;
    font-family: $font-sans-en;
    @include tablet() {
      display: block;
    }
  }
  .table-header-main {
    padding: 12px;
    font-size: 115%;
    text-align: center;
    @include tablet() {
      + .table-header-item {
        margin-top: -12px;
      }
    }
  }
  .table-header-item {
    display: flex;
    .item-child {
      //flex: 1 0 0%;
      padding: 8px 12px;
      //text-align: center;
    }
  }
  .table-body {
  }
  .table-body-item {
    border-top: 1px solid $convert-demo-box-line-border-color;
    &:first-child {
      border-top: none;
    }
    @include mobile-fablet() {
      padding: 12px 16px 16px;
      > :not(:first-child) {
        margin-top: 12px;
      }
    }
    @include tablet() {
      display: flex;
    }
    .item-list {
      @include mobile-fablet() {
        > :not(:first-child) {
          margin-top: 4px;
        }
      }
      @include tablet() {
        //flex: 1 0 0%;
      }
    }
    .item-term {
      color: $convert-dark-4;
      font-size: 87.5%;
      font-weight: 700;
      font-family: $font-sans-en;
      @include tablet() {
        display: none;
      }
    }
    .item-description {
      display: flex;
      align-items: center;
      @include tablet() {
        padding: 12px;
      }
      > .demo-color-box {
        flex: none;
      }
      > .item-description-child {
        flex: 1 0 0%;
      }
      .demo-color-box {
        margin-right: 8px;
      }
      .demo-inline-code {
        word-break: normal;
      }
    }
  }
}
