//----------------------------------------------------
// Components: Demo TOC
//----------------------------------------------------

.demo-heading-2 {
  &#table-of-contents {
    margin-bottom: 12px;
    //padding: 12px 0 0;
    //border-top: 1px solid var(--demo-box-line-border-color);
    //border-right: 1px solid var(--demo-box-line-border-color);
    //border-left: 1px solid var(--demo-box-line-border-color);
    //border-radius: 2px 2px 0 0;
    color: $convert-dark-4;
    font-size: 87.5%;
    font-weight: 900;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    .demo-heading-anchor {
      display: none;
    }
    + .demo-list {
      display: flex;
      flex-wrap: wrap;
      //padding: 6px 0 12px;
      margin-top: 8px;
      margin-left: 0;
      //border-right: 1px solid var(--demo-box-line-border-color);
      //border-bottom: 1px solid var(--demo-box-line-border-color);
      //border-left: 1px solid var(--demo-box-line-border-color);
      //border-radius: 0 0 2px 2px;
      //font-size: 87.5%;
      > .demo-item {
        position: relative;
        display: flex;
        margin-right: 16px;
        margin-bottom: 8px;
        font-size: 115%;
        font-family: $font-sans-en;
        &:before {
          content: "#";
          color: $convert-dark-6;
          font-weight: 900;
          margin-right: 4px;
        }
        &:not(:first-child) {
          margin-top: 0;
        }
        .demo-link {
          border-bottom: none;
        }
      }
    }
  }
}
