//----------------------------------------------------
// Components: Demo HR
//----------------------------------------------------

.demo-hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  border-top: $wysiwyg-hr-border-width $wysiwyg-hr-border-style
    $wysiwyg-hr-border-color;
}
