//----------------------------------------------------
// Components: Demo Image
//----------------------------------------------------

// Fix IE11 (Must height)
$demo-image-hero-mobile-width: 90vw;
$demo-image-hero-mobile-height: $demo-image-hero-mobile-width * 0.79166;
$demo-image-hero-tablet-width: 23.5em;
$demo-image-hero-tablet-height: $demo-image-hero-tablet-width * 0.79166;

$demo-image-feature-width: 12em;
$demo-image-feature-height: $demo-image-feature-width * 0.79166;

.demo-image {
  display: block;
  &.is-hero {
    width: $demo-image-hero-mobile-width;
    height: $demo-image-hero-mobile-height;
    @include tablet() {
      width: $demo-image-hero-tablet-width;
      height: $demo-image-hero-tablet-height;
    }
    @include desktop() {
      margin-left: 28px;
    }
  }
  &.is-feature {
    width: $demo-image-feature-width;
    height: $demo-image-feature-height;
  }
  .demo-path-shadow {
    fill: $convert-demo-path-shadow-fill;
  }
  .demo-path-browser-window {
    fill: $convert-demo-path-browser-window-fill;
  }
  .demo-path-browser-title-bar {
    fill: $convert-demo-path-browser-title-bar-fill;
  }
  .demo-path-browser-button-danger {
    fill: $red-500;
  }
  .demo-path-browser-button-warning {
    fill: $amber-500;
  }
  .demo-path-browser-button-success {
    fill: $green-500;
  }
  .demo-path-browser-wire-box {
    fill: $convert-demo-path-browser-wire-box-fill;
  }
  .demo-path-browser-wire-mark {
    fill: $convert-demo-path-browser-window-fill;
  }
  .demo-path-browser-pre {
    fill: $convert-demo-path-browser-pre-fill;
  }
  .demo-path-browser-code {
    fill: $convert-demo-path-browser-code-fill;
  }
  .demo-path-object-white {
    fill: $convert-demo-path-object-white-fill;
  }
  .demo-path-object-blue {
    fill: $convert-demo-path-object-blue-fill;
  }
  .demo-path-object-yellow {
    fill: $convert-demo-path-object-yellow-fill;
  }
  .demo-path-object-cyan-dark {
    fill: $convert-demo-path-object-cyan-dark-fill;
  }
  .demo-path-object-cyan {
    fill: $convert-demo-path-object-cyan-fill;
  }
  .demo-path-baloon-cloud {
    fill: $convert-demo-path-baloon-cloud-fill;
    stroke: $convert-demo-path-baloon-cloud-stroke;
  }
  .demo-path-object-red-light {
    fill: $convert-demo-path-object-red-light-fill;
  }
  .demo-path-face-lower-lip {
    fill: none;
    stroke: $convert-demo-path-object-blue-fill;
  }
  .demo-path-badge-bg {
    fill: $convert-demo-path-baloon-cloud-fill;
  }
  .demo-path-object-yellow-dark {
    fill: $convert-demo-path-object-yellow-dark-fill;
  }
  .demo-path-stroke-yellow-dark {
    fill: none;
    stroke: $convert-demo-path-object-yellow-dark-fill;
  }
  .demo-path-object-blue-dark {
    fill: $convert-demo-path-object-blue-dark-fill;
  }
  .demo-path-object-blue-light {
    fill: $convert-demo-path-object-blue-light-fill;
  }
  .demo-path-logo-sass {
    fill: #cd6799;
  }
  .demo-path-afterglow {
    fill: $yellow-500;
    opacity: 0.25;
  }
  .demo-path-chrome-bg {
    fill: $convert-body-background-color;
  }
  .demo-path-chrome-green {
    fill: $convert-demo-path-chrome-green-fill;
  }
  .demo-path-chrome-red {
    fill: $convert-demo-path-chrome-red-fill;
  }
  .demo-path-chrome-yellow {
    fill: $convert-demo-path-chrome-yellow-fill;
  }
  .demo-path-chrome-blue {
    fill: $convert-demo-path-chrome-blue-fill;
  }
  .demo-path-firefox-blue {
    fill: $convert-demo-path-firefox-blue-fill;
  }
  .demo-path-firefox-orange {
    fill: $convert-demo-path-firefox-orange-fill;
  }
  .demo-path-edge-blue {
    fill: $convert-demo-path-edge-blue-fill;
  }
  .demo-path-ie-blue {
    fill: $convert-demo-path-ie-blue-fill;
  }
  .demo-path-safari-bg {
    fill: $convert-body-background-color;
  }
  .demo-path-safari-blue {
    fill: $convert-demo-path-safari-blue-fill;
  }
  .demo-path-safari-red {
    fill: $convert-demo-path-safari-red-fill;
  }
}
