//----------------------------------------------------
// Components: Demo Heading
//----------------------------------------------------

.demo-heading-1 {
  position: relative;
  color: $convert-text-dark-3;
  font-size: 200%;
  font-weight: 700;
  font-family: $font-sans-en;
  //line-height: 1;
}

.demo-heading-2 {
  position: relative;
  color: $convert-text-dark-3;
  font-size: 150%;
  font-weight: 700;
  font-family: $font-sans-en;
  //line-height: 1;
  &:hover {
    .demo-heading-anchor {
      opacity: 1;
    }
  }
}

.demo-heading-anchor {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 0.175em;
  color: $convert-primary-strong;
  font-weight: 700;
  font-family: $font-sans-en;
  opacity: 0;
  transform: translateX(-100%);
}
