//----------------------------------------------------
// Components: Demo Heading
//----------------------------------------------------

.demo-heading-1,
.demo-heading-2,
.demo-heading-3 {
  position: relative;
  color: $convert-dark-3;
  font-weight: 700;
  font-family: $font-sans-en;
  &:hover {
    .demo-heading-anchor {
      opacity: 1;
    }
  }
}

.demo-heading-1 {
  font-size: 200%;
}

.demo-heading-2 {
  font-size: 150%;
}

.demo-heading-3 {
  font-size: 125%;
}

.demo-heading-anchor {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 0.175em;
  color: $convert-primary-strong;
  font-weight: 700;
  font-family: $font-sans-en;
  opacity: 0;
  transform: translateX(-100%);
}
