//----------------------------------------------------
// Components: Demo Flex Table
//----------------------------------------------------

.demo-flex-table {
  + .demo-flex-table {
    margin-top: 16px;
  }
  .table-header {
    background-color: $table-paint-background-color;
    color: $table-paint-text-color;
    font-weight: 700;
    font-family: $font-sans-en;
  }
  .table-header-main {
    padding: 12px;
    font-size: 115%;
    text-align: center;
    @include tablet() {
      + .table-header-item {
        margin-top: -12px;
      }
    }
  }
  .table-header-item {
    display: none;
    @include tablet() {
      display: flex;
    }
    .item-child {
      flex: 1 0 0%;
      padding: 12px;
      text-align: center;
    }
  }
  .table-body {
  }
  .table-body-item {
    border: 1px solid var(--demo-box-line-border-color);
    border-top: none;
    @include mobile-fablet() {
      padding: 8px 12px 12px;
      > :not(:first-child) {
        margin-top: 12px;
      }
    }
    @include tablet() {
      display: flex;
    }
    .item-list {
      @include mobile-fablet() {
        > :not(:first-child) {
          margin-top: 4px;
        }
      }
      @include tablet() {
        flex: 1 0 0%;
      }
    }
    .item-term {
      color: $convert-text-dark-4;
      font-size: 87.5%;
      font-weight: 700;
      font-family: $font-sans-en;
      @include tablet() {
        display: none;
      }
    }
    .item-description {
      @include tablet() {
        padding: 12px;
      }
      .demo-inline-code {
        word-break: normal;
      }
    }
  }
}
