//----------------------------------------------------
// Components: Demo Table
//----------------------------------------------------

.demo-table-wrap-border {
  position: relative;
  width: 100%;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: $table-border-width;
    height: 100%;
    background-color: $table-border-color;
    z-index: 2;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.demo-table-wrap {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.demo-table {
  width: 100%;
  background-color: $convert-background;
  th {
    background-color: $convert-table-paint-background-color;
    color: $convert-table-paint-text-color;
    font-weight: $font-weight-normal;
  }
  th,
  td {
    padding: $table-padding;
    border: $table-border-width solid $table-border-color;
  }
  .demo-inline-code {
    //word-break: normal;
    white-space: nowrap;
  }
}
