//----------------------------------------------------
// Components: Demo Pre
//----------------------------------------------------

.demo-pre-wrap {
  position: relative;
  display: block;
  overflow: hidden;
  .demo-pre-copy-button {
    position: absolute;
    top: 1px;
    right: 1px;
  }
}

.demo-pre-copy-button {
  cursor: pointer;
  padding: 4px 8px;
  background: $convert-hljs-background-color;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid $convert-hljs-border-color;
  border-left: 1px solid $convert-hljs-border-color;
  border-radius: 0 0 0 3px;
  color: $convert-dark-2;
  font-size: 12px;
  font-weight: 700;
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular",
    "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  line-height: 16px;
  white-space: nowrap;
  //transition: 0.12s ease-out;
  &:hover {
    background: $convert-hljs-background-color;
  }
  &:focus {
    outline: none;
    box-shadow: #1ea7fd 0 -3px 0 0 inset;
  }
}

.demo-pre {
  display: flex;
  max-width: 100%;
  background: $convert-hljs-background-color;
  border: 1px solid $convert-hljs-border-color;
  border-radius: 2px;
  white-space: pre;
  word-wrap: normal;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

//----------------------------------------------------
// / Style - Highlight.js
//----------------------------------------------------

.hljs {
  display: block;
  padding: 1.25em 4.5em 1.25em 1.5em;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Meiryo,
    monospace, sans-serif;
}

// GitHub Gist Theme - https://github.com/highlightjs/highlight.js/blob/9.16.0/src/styles/github-gist.css
/**
 * GitHub Gist Theme
 * Author : Anthony Attard - https://github.com/AnthonyAttard
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

//--hljs-background-color: #fafafa; // Original: white
//--hljs-border-color: rgba(0, 0, 0, 0.1); // Add
//--hljs-base-text-color: #333333;

:root [data-theme="light"] {
  .hljs {
    background: $convert-hljs-background-color;
    color: $convert-hljs-base-text-color;
  }
  .hljs-comment,
  .hljs-meta {
    color: #969896;
  }
  .hljs-variable,
  .hljs-template-variable,
  .hljs-strong,
  .hljs-emphasis,
  .hljs-quote {
    color: #df5000;
  }
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-type {
    color: #d73a49;
  }
  .hljs-literal,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-attribute {
    color: #0086b3;
  }
  .hljs-section,
  .hljs-name {
    color: #63a35c;
  }
  .hljs-tag {
    color: #333333;
  }
  .hljs-title,
  .hljs-attr,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo {
    color: #6f42c1;
  }
  .hljs-addition {
    color: #55a532;
    background-color: #eaffea;
  }
  .hljs-deletion {
    color: #bd2c00;
    background-color: #ffecec;
  }
  .hljs-link {
    text-decoration: underline;
  }
  .hljs-number {
    color: #005cc5;
  }
  .hljs-string {
    color: #032f62;
  }
}

// Monokai Sublime Theme - https://github.com/highlightjs/highlight.js/blob/9.16.0/src/styles/monokai-sublime.css
/**
 * Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/
 */

//--hljs-background-color: #2e2e2e; // Original: #23241f
//--hljs-border-color: rgba(255, 255, 255, 0.1); // Add
//--hljs-base-text-color: #f8f8f2;

:root [data-theme="dark"] {
  .hljs {
    background: $convert-hljs-background-color;
    color: $convert-hljs-base-text-color;
  }
  .hljs,
  .hljs-tag,
  .hljs-subst {
    color: #f8f8f2;
  }
  .hljs-strong,
  .hljs-emphasis {
    color: #a8a8a2;
  }
  .hljs-bullet,
  .hljs-quote,
  .hljs-number,
  .hljs-regexp,
  .hljs-literal,
  .hljs-link {
    color: #ae81ff;
  }
  .hljs-code,
  .hljs-title,
  .hljs-section,
  .hljs-selector-class {
    color: #a6e22e;
  }
  .hljs-strong {
    font-weight: bold;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-name {
    color: #f92672;
  }
  .hljs-attr {
    color: #a3dd2d; // Original: #f92672
  }
  .hljs-symbol,
  .hljs-attribute {
    color: #66d9ef;
  }
  .hljs-params,
  .hljs-class .hljs-title {
    color: #f8f8f2;
  }
  .hljs-string,
  .hljs-type,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-selector-id,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-addition,
  .hljs-variable,
  .hljs-template-variable {
    color: #e6db74;
  }
  .hljs-comment,
  .hljs-deletion,
  .hljs-meta {
    color: #75715e;
  }
}
