//----------------------------------------------------
// Components: Demo Table
//----------------------------------------------------

.demo-table-wrap {
  @include musubii-style-table-wrap();
  .demo-table {
    @include musubii-style-table-wrap-child-table();
  }
}

.demo-table {
  width: 100%;
  background-color: $convert-background;
  th {
    background-color: $convert-table-paint-background-color;
    color: $convert-table-paint-color;
    font-weight: $font-weight-normal;
  }
  th,
  td {
    padding: $table-padding;
    border: $table-border-width solid $table-border-color;
  }
  .demo-inline-code {
    //word-break: normal;
    white-space: nowrap;
  }
}
