//----------------------------------------------------
// Components: Menu
//----------------------------------------------------

.menu-wrap {
  @include mobile-tablet() {
    border: 1px solid $convert-border;
    border-radius: $radius-md;
    .menu-accordion {
      overflow: hidden;
      //transition: 0.6s ease;
      &:not(.is-active) {
        max-height: 0;
        //transition: 0.3s ease;
      }
    }
    .menu {
      padding: 16px 16px 24px;
    }
  }
  @include desktop() {
    position: sticky;
    top: 16px;
    max-height: 100vh;
    width: 240px;
    padding: 0 16px 32px 0;
    overflow-y: auto;
  }
}

.menu-filter-wrap {
  @include mobile-tablet() {
    padding: 16px 16px 0;
  }
  @include desktop() {
    position: sticky;
    top: 0;
    background-color: $convert-background;
    padding: 0 0 12px;
  }
}

.menu-filter-input-wrap {
  position: relative;
  @include mobile-tablet() {
    width: 100%;
  }
  @include desktop() {
    width: 210px;
  }
  .input.is-plain {
    width: 100%;
    padding: 0.5em 0.75em 0.5em 2.25em;
    &:focus {
      border-color: $convert-primary-strong;
      box-shadow: none;
    }
  }
  .icon.is-search {
    position: absolute;
    top: 50%;
    left: 0.75em;
    transform: translateY(-50%);
    z-index: 2;
  }
}

.menu {
  @include desktop() {
    padding-top: 12px;
  }
  > .menu-list {
    > .menu-item {
      &:not(:first-child) {
        margin-top: 24px;
      }
    }
    &:first-child {
      > .menu-item:first-child {
        .menu-heading:first-child {
          padding-top: 0;
        }
      }
    }
  }
  .menu-list .menu-list {
    padding-left: 16px;
  }
}

.menu-button {
  @include mobile-tablet() {
    cursor: pointer;
    position: relative;
    display: flex;
    width: 100%;
    padding: $button-padding;
    background-color: $button-outline-background-color;
    border: none;
    border-radius: $radius-md;
    color: $body-color;
    line-height: $button-line-height;
    font-family: $font-sans-en;
    white-space: nowrap;
    transition: $button-transition;
    &:focus {
      outline: none;
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: $button-angle-size * 1.5;
      width: $button-angle-size;
      height: $button-angle-size;
      border-top: $button-angle-border-width solid $button-angle-border-color;
      border-right: $button-angle-border-width solid $button-angle-border-color;
      transform: translateY(-70%) rotate(135deg);
      z-index: 2;
    }
    &:not(.is-active) {
      &:focus {
        box-shadow: 0 0 1px 1px $convert-primary-strong;
        //box-shadow: $button-focus-shadow;
        outline: none;
      }
    }
    &.is-active {
      border-bottom: 1px solid $convert-border;
      border-radius: $radius-md $radius-md 0 0;
      &:focus {
        border-color: $convert-primary-strong;
        //box-shadow: $convert-focus-alpha 0 -3px 0 0 inset;
      }
      &:after {
        transform: translateY(-30%) rotate(-45deg);
      }
    }
  }
  @include desktop() {
    display: none;
  }
}

.menu-heading {
  display: block;
  padding: 8px 0;
  color: $convert-dark-4;
  font-size: 75%;
  font-weight: 900;
  font-family: $font-sans-en;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  &.is-first {
  }
  &.is-second {
    //padding-top: 1.5em;
  }
}

.menu-item {
  display: block;
  @include desktop() {
    padding: 8px 0;
  }
}

.menu-link {
  //font-size: 87.5%;
  font-family: $font-sans-en;
  transition: $global-transition;
  @include mobile-tablet() {
    display: block;
    padding: 8px 0;
  }
  @include desktop() {
    display: inline-block;
  }
  &:hover,
  &.is-active {
    color: $convert-primary-strong;
  }
}
