//----------------------------------------------------
// Components: Site Logo
//----------------------------------------------------

.site-logo-link {
  display: block;
  flex: none;
}

.site-logo {
  $site-logo-width: 10em;
  $site-logo-height: $site-logo-width * 0.142424;
  width: $site-logo-width;
  height: $site-logo-height;
  path {
    fill: $convert-primary-strong;
  }
}
