*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
}

html {
  font-family: sans-serif;
  word-break: break-word;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

ol,
ul {
  padding: 0;
  list-style: none;
}
