.button {
  --button-gap: 0.5em;
  --button-padding: 0.5em 1em;
  --button-bg: transparent;
  --button-border-width: 1px;
  --button-border-color: transparent;
  --button-border-radius: 6px;
  --button-color: inherit;
  --button-font-weight: 500;
  --button-line-height: 1.25;
  --button-transition: none;
  --button-plain-bg: var(--theme-bg-2);
  --button-plain-color: inherit;
  --button-plain-disabled-bg: var(--theme-disabled);
  --button-plain-disabled-color: var(--theme-disabled-tx);
  --button-outline-bg: var(--theme-bg-1);
  --button-outline-border-color: var(--theme-bd-2);
  --button-outline-color: inherit;
  --button-outline-hover-bg: var(--theme-bg-2);
  --button-outline-hover-color: inherit;
  --button-outline-disabled-bg: var(--theme-disabled);
  --button-outline-disabled-border-color: var(--theme-disabled);
  --button-outline-disabled-color: var(--theme-disabled-tx);
  --button-melt-bg: transparent;
  --button-melt-color: inherit;
  --button-melt-hover-bg: var(--theme-bg-2);
  --button-melt-disabled-color: var(--theme-disabled-tx);
  --button-round-border-radius: 9999em;
  --button-square-size: calc(2.5em + 1px * 2);
  --button-square-padding: 0;
  --button-angle-position: 0.75em;
  --button-angle-size: 0.5em;
  --button-angle-border-width: 2px;
  --button-angle-color: var(--theme-bd-2);
  --button-strong-font-weight: 700;
  --button-floating-shadow-color: var(--theme-shadow);
  --button-floating-shadow-opacity: 24%;
  --button-floating-shadow-size: 0 2px 6px 0;
  --button-floating-hover-shadow-size: 0 4px 12px 0;
}

.button.is-primary {
  --button-plain-bg: var(--theme-primary);
  --button-plain-color: var(--theme-lk-tx);
  --button-outline-border-color: var(--theme-primary);
  --button-outline-color: var(--theme-primary);
  --button-outline-hover-bg: var(--theme-primary);
  --button-outline-hover-color: var(--theme-lk-tx);
  --button-melt-color: var(--theme-primary);
  --button-melt-hover-bg: var(--theme-primary-light);
  --button-angle-color: currentColor;
  --button-floating-shadow-color: var(--theme-primary);
  --button-floating-shadow-opacity: 50%;
}

.button.is-secondary {
  --button-plain-bg: var(--theme-secondary);
  --button-plain-color: var(--theme-lk-tx);
  --button-outline-border-color: var(--theme-secondary);
  --button-outline-color: var(--theme-secondary);
  --button-outline-hover-bg: var(--theme-secondary);
  --button-outline-hover-color: var(--theme-lk-tx);
  --button-melt-color: var(--theme-secondary);
  --button-melt-hover-bg: var(--theme-secondary-light);
  --button-angle-color: currentColor;
  --button-floating-shadow-color: var(--theme-secondary);
  --button-floating-shadow-opacity: 50%;
}

.button.is-info {
  --button-plain-bg: var(--theme-info);
  --button-plain-color: var(--theme-lk-tx);
  --button-outline-border-color: var(--theme-info);
  --button-outline-color: var(--theme-info);
  --button-outline-hover-bg: var(--theme-info);
  --button-outline-hover-color: var(--theme-lk-tx);
  --button-melt-color: var(--theme-info);
  --button-melt-hover-bg: var(--theme-info-light);
  --button-angle-color: currentColor;
  --button-floating-shadow-color: var(--theme-info);
  --button-floating-shadow-opacity: 50%;
}

.button.is-success {
  --button-plain-bg: var(--theme-success);
  --button-plain-color: var(--theme-lk-tx);
  --button-outline-border-color: var(--theme-success);
  --button-outline-color: var(--theme-success);
  --button-outline-hover-bg: var(--theme-success);
  --button-outline-hover-color: var(--theme-lk-tx);
  --button-melt-color: var(--theme-success);
  --button-melt-hover-bg: var(--theme-success-light);
  --button-angle-color: currentColor;
  --button-floating-shadow-color: var(--theme-success);
  --button-floating-shadow-opacity: 50%;
}

.button.is-warning {
  --button-plain-bg: var(--theme-warning);
  --button-plain-color: var(--theme-lk-tx);
  --button-outline-border-color: var(--theme-warning);
  --button-outline-color: var(--theme-warning);
  --button-outline-hover-bg: var(--theme-warning);
  --button-outline-hover-color: var(--theme-lk-tx);
  --button-melt-color: var(--theme-warning);
  --button-melt-hover-bg: var(--theme-warning-light);
  --button-angle-color: currentColor;
  --button-floating-shadow-color: var(--theme-warning);
  --button-floating-shadow-opacity: 50%;
}

.button.is-danger {
  --button-plain-bg: var(--theme-danger);
  --button-plain-color: var(--theme-lk-tx);
  --button-outline-border-color: var(--theme-danger);
  --button-outline-color: var(--theme-danger);
  --button-outline-hover-bg: var(--theme-danger);
  --button-outline-hover-color: var(--theme-lk-tx);
  --button-melt-color: var(--theme-danger);
  --button-melt-hover-bg: var(--theme-danger-light);
  --button-angle-color: currentColor;
  --button-floating-shadow-color: var(--theme-danger);
  --button-floating-shadow-opacity: 50%;
}

.button {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--button-gap);
  width: auto;
  padding: var(--button-padding);
  background: var(--button-bg);
  border-width: var(--button-border-width);
  border-color: var(--button-border-color);
  border-radius: var(--button-border-radius);
  color: var(--button-color);
  font-weight: var(--button-font-weight);
  line-height: var(--button-line-height);
  transition: var(--button-transition);
  white-space: nowrap;
  appearance: none;
}

.button.is-plain {
  background: var(--button-plain-bg);
  color: var(--button-plain-color);
}

@media (hover: hover) and (pointer: fine) {
  .button.is-plain:hover {
    background: color-mix(in srgb, var(--button-plain-bg) 90%, #000000 10%);
  }
}

.button.is-outline {
  background: var(--button-outline-bg);
  border-color: var(--button-outline-border-color);
  color: var(--button-outline-color);
}

@media (hover: hover) and (pointer: fine) {
  .button.is-outline:hover {
    background: var(--button-outline-hover-bg);
    color: var(--button-outline-hover-color);
  }
}

.button.is-melt {
  background: var(--button-melt-bg);
  color: var(--button-melt-color);
}

@media (hover: hover) and (pointer: fine) {
  .button.is-melt:hover {
    background: var(--button-melt-hover-bg);
  }
}

.button:is(.is-round, .is-circle) {
  border-radius: var(--button-round-border-radius);
}

.button:is(.is-square, .is-circle) {
  width: var(--button-square-size);
  height: var(--button-square-size);
  padding: var(--button-square-padding);
}

.button:is(.is-angle-right, .is-angle-left):after {
  content: "";
  position: absolute;
  top: 50%;
  width: var(--button-angle-size);
  height: var(--button-angle-size);
  border-top: var(--button-angle-border-width) solid var(--button-angle-color);
  border-right: var(--button-angle-border-width) solid var(--button-angle-color);
  z-index: 2;
}

.button.is-angle-right:after {
  right: var(--button-angle-position);
  transform: translateY(-50%) rotate(45deg);
}

.button.is-angle-left:after {
  left: var(--button-angle-position);
  transform: translateY(-50%) rotate(-135deg);
}

.button.is-angle-up:after {
  transform: translateY(-30%) rotate(-45deg);
}

.button.is-angle-down:after {
  transform: translateY(-70%) rotate(135deg);
}

.button.is-strong {
  font-weight: var(--button-strong-font-weight);
}

.button.is-floating:where(
    :not(:is([disabled], [aria-disabled="true"], .is-disabled))
  ) {
  box-shadow: var(--button-floating-shadow-size)
    color-mix(
      in srgb,
      var(--button-floating-shadow-color) var(--button-floating-shadow-opacity),
      transparent calc(100% - var(--button-floating-shadow-opacity))
    );
}

@media (hover: hover) and (pointer: fine) {
  .button.is-floating:hover {
    box-shadow: var(--button-floating-hover-shadow-size)
      color-mix(
        in srgb,
        var(--button-floating-shadow-color)
          var(--button-floating-shadow-opacity),
        transparent calc(100% - var(--button-floating-shadow-opacity))
      );
  }
}

.button:is([disabled], [aria-disabled="true"], .is-disabled) {
  pointer-events: none;
}

.button.is-plain:is([disabled], [aria-disabled="true"], .is-disabled) {
  background: var(--button-plain-disabled-bg);
  color: var(--button-plain-disabled-color);
}

.button.is-outline:is([disabled], [aria-disabled="true"], .is-disabled) {
  background: var(--button-outline-disabled-bg);
  border-color: var(--button-outline-disabled-border-color);
  color: var(--button-outline-disabled-color);
}

.button.is-melt:is([disabled], [aria-disabled="true"], .is-disabled) {
  color: var(--button-melt-disabled-color);
}
