.alert {
  --alert-padding: 0.675em 0.875em;
  --alert-bg: var(--theme-bg-2);
  --alert-border-width: 1px;
  --alert-border-color: var(--theme-bd-2);
  --alert-border-radius: 6px;
}

.alert.is-primary {
  --alert-bg: var(--theme-primary-light);
  --alert-border-color: var(--theme-primary);
}

.alert.is-secondary {
  --alert-bg: var(--theme-secondary-light);
  --alert-border-color: var(--theme-secondary);
}

.alert.is-info {
  --alert-bg: var(--theme-info-light);
  --alert-border-color: var(--theme-info);
}

.alert.is-success {
  --alert-bg: var(--theme-success-light);
  --alert-border-color: var(--theme-success);
}

.alert.is-warning {
  --alert-bg: var(--theme-warning-light);
  --alert-border-color: var(--theme-warning);
}

.alert.is-danger {
  --alert-bg: var(--theme-danger-light);
  --alert-border-color: var(--theme-danger);
}

.alert {
  position: relative;
  padding: var(--alert-padding);
  background: var(--alert-bg);
  border-width: var(--alert-border-width);
  border-color: var(--alert-border-color);
  border-radius: var(--alert-border-radius);
}
