//----------------------------------------------------
// Demo
//----------------------------------------------------

:root {
  --demo-h3-text-color: #828282;
  --demo-box-text-color: #fff;
  --demo-line-box-border-color: #e0e0e0;
  --demo-paint-box-background-color: #1b2324;
  --demo-background-color-cyan: #37b0be;
  --demo-background-color-grey: #e0e0e0;
  --demo-background-color-grey-light: #f1f1f1;
}

:root [data-theme="dark"] {
  --demo-h3-text-color: #828282;
  --demo-box-text-color: #d6d6d7;
  --demo-line-box-border-color: #616161;
  --demo-paint-box-background-color: #2a2a2b;
  --demo-background-color-cyan: #1f636b;
  --demo-background-color-grey: #2e2e2e;
}

body {
  padding: 16px;
  transition: 1s;
  > *:last-child {
    //margin-bottom: 160px;
  }
}

div.container_2Cs1XD {
  position: relative;
  display: block;
  margin-bottom: 0;
  padding: 0;
  background-color: #283136;
  border: none;
  border-radius: 2px;
  overflow: hidden;
  &:focus {
    outline: none;
  }
  .displayCode_2Cs1XD {
    flex-basis: 0;
    max-width: 100%;
    padding: 0;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .hljs {
    padding: 1.25em 1.5em;
    background-color: #283136;
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
      Meiryo, monospace, serif;
  }
}

button.copyButton_2Cs1XD {
  position: absolute;
  right: 0;
  bottom: 0;
  flex-basis: 0;
  max-width: 100%;
  margin-left: 0;
  padding: 4px 8px;
  background-color: #283136;
  outline: none;
  border-top: 1px solid rgba(#fff, 0.3);
  border-left: 1px solid rgba(#fff, 0.3);
  border-radius: 3px 0 0 0;
  color: rgba(#fff, 0.8);
  font-size: 12px;
  font-weight: 700;
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular",
    "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  line-height: 16px;
  white-space: nowrap;
  transition: 0.12s ease-out;
  &:hover {
    background-color: lighten(#283136, 2%);
    color: rgba(#fff, 0.8);
  }
}

.demo-h1 {
  margin: 160px 16px 32px;
  font-size: 32px;
  font-weight: 700;
}

.demo-version {
  font-size: 16px;
  font-weight: 400;
}

.demo-h2 {
  margin: 160px 16px 32px;
  font-size: 20px;
  font-weight: 700;
}

.demo-h3 {
  margin: 20px 16px 8px;
  color: var(--demo-h3-text-color);
  font-size: 14px;
  font-weight: 700;
}

.demo-area {
  margin: 16px;
}

.demo-box {
  width: 100%;
  padding: 16px;
  border-radius: 2px;
  color: var(--demo-box-text-color);
  font-weight: 700;
  text-align: center;
}

.demo-line-box {
  padding: 16px;
  border: 1px solid var(--demo-line-box-border-color);
  border-radius: 2px;
  > *:not(:first-child) {
    margin-top: 8px;
  }
}

.demo-paint-box {
  padding: 16px;
  background-color: var(--demo-paint-box-background-color);
  border-radius: 2px;
  > *:not(:first-child) {
    margin-top: 8px;
  }
}

.is-demo-background-color-cyan {
  background-color: var(--demo-background-color-cyan);
}

.is-demo-background-color-grey {
  background-color: var(--demo-background-color-grey);
}

.is-demo-min-height-1 {
  min-height: 160px;
}

.is-demo-padding-1 {
  padding: 16px 0;
}

.demo-nav {
  display: inline-block;
}

.demo-nav.is-posithion-fixed-top-right {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 10;
}
