//----------------------------------------------------
// Variable: Break Point
//----------------------------------------------------

$screen-width-mobile: 0px !default;
$screen-width-fablet: 576px !default;
$screen-width-tablet: 768px !default;
$screen-width-desktop: 992px !default;
$screen-width-wide: 1200px !default;

//----------------------------------------------------
// Variable: Break Point / Pattern
//----------------------------------------------------

$pattern-breakpoint-base:(
  mobile: $screen-width-mobile,
  fablet: $screen-width-fablet,
  tablet: $screen-width-tablet,
  desktop: $screen-width-desktop,
  wide: $screen-width-wide
);