//----------------------------------------------------
// Variable: Font
//----------------------------------------------------

$font-sans:
-apple-system, BlinkMacSystemFont,
"Segoe UI",
"Hiragino Sans", "Hiragino Kaku Gothic ProN",
"Noto Sans Japanese",
Meiryo,
"Yu Gothic Medium",
sans-serif !default;

$font-serif:
"Hiragino Mincho ProN",
"Noto Serif Japanese",
"Yu Mincho", YuMincho,
serif !default;

$font-mono:
Menlo, Monaco, Consolas,
"Liberation Mono", "Courier New",
Meiryo,
monospace, serif !default;