//----------------------------------------------------
// Bases: HTML
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Selectors
$selector-html-body: "body" !default;
$selector-html-image: "img" !default;
$selector-html-image-svg: 'img[src\$="\.svg"]' !default;
$selector-html-iframe: "iframe" !default;

// Body
$body-background-color: $convert-body-background-color !default;
$body-color: $convert-body-color !default;
$body-font-family: $font-sans !default;
$body-line-height: $line-height-md !default;

//----------------------------------------------------
// / Style - HTML Body
//----------------------------------------------------

@mixin musubii-style-html-body() {
  background-color: $body-background-color;
  color: $body-color;
  font-family: $body-font-family;
  line-height: $body-line-height;
}

@include generate-style($option-generate-style-html) {
  #{$selector-html-body} {
    @include musubii-style-html-body();
  }
}

//----------------------------------------------------
// / Style - HTML Image
//----------------------------------------------------

@mixin musubii-style-html-image() {
  max-width: 100%;
  height: auto;
}

@include generate-style($option-generate-style-html) {
  #{$selector-html-image} {
    @include musubii-style-html-image();
  }
}

//----------------------------------------------------

@mixin musubii-style-html-image-svg() {
  width: 100%;
}

@include generate-style($option-generate-style-html) {
  #{$selector-html-image-svg} {
    @include musubii-style-html-image-svg();
  }
}

//----------------------------------------------------
// / Style - HTML iframe
//----------------------------------------------------

@mixin musubii-style-html-iframe() {
  max-width: 100%;
}

@include generate-style($option-generate-style-html) {
  #{$selector-html-iframe} {
    @include musubii-style-html-iframe();
  }
}
