//----------------------------------------------------
// Bases: Reset
//----------------------------------------------------

//----------------------------------------------------
// / Style - Reset
//----------------------------------------------------

@mixin musubii-style-reset() {
  *,
  ::before,
  ::after {
    margin: 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
  }
  ::before,
  ::after {
    vertical-align: inherit;
    text-decoration: inherit;
  }
  html {
    font-family: sans-serif;
    word-break: break-word;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  header,
  footer,
  main,
  section,
  article,
  aside,
  nav,
  details,
  menu,
  figure,
  figcaption {
    display: block;
  }
  a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
  }
  b,
  strong {
    font-weight: bolder;
  }
  small {
    font-size: 80%;
  }
  ol,
  ul {
    padding: 0;
    list-style: none;
  }
  abbr[title] {
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  sub,
  sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  pre,
  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  canvas,
  audio,
  video {
    display: inline-block;
  }
  img,
  svg,
  iframe,
  canvas,
  audio,
  video {
    vertical-align: middle;
  }
  img {
    border-style: none;
  }
  svg:not([fill]) {
    fill: currentColor;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  input {
    border-radius: 0;
  }
  button,
  input {
    overflow: visible;
  }
  button,
  select {
    text-transform: none;
  }
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  [type="checkbox"],
  [type="radio"] {
    padding: 0;
  }
  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }
  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  ::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  :-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  address {
    font-style: normal;
  }
  textarea {
    overflow: auto;
    resize: vertical;
  }
  legend {
    display: table;
    max-width: 100%;
    padding: 0;
    color: inherit;
    white-space: normal;
  }
  progress {
    display: inline-block;
    vertical-align: baseline;
  }
  summary {
    display: list-item;
  }
  table {
    border-collapse: collapse;
  }
  hr {
    height: 0;
    overflow: visible;
  }
  template {
    display: none;
  }
  a,
  area,
  button,
  input,
  label,
  select,
  textarea,
  [tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }
  ::-moz-selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none;
  }
  ::selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none;
  }
  [hidden] {
    display: none;
  }
  [aria-busy="true"] {
    cursor: progress;
  }
  [aria-controls] {
    cursor: pointer;
  }
  [aria-disabled="true"],
  [disabled] {
    cursor: not-allowed;
  }
  [aria-hidden="false"][hidden]:not(:focus) {
    clip: rect(0, 0, 0, 0);
    display: inherit;
    position: absolute;
  }
}

@include generate-style($option-generate-style-reset) {
  @include musubii-style-reset();
}
