//----------------------------------------------------
// Bases: Root - Light
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Selectors
$selector-root-light: ":root" !default;
$selector-root-light-attr: '[data-theme="light"]' !default;

//----------------------------------------------------
// / Style - Root Light
//----------------------------------------------------

#{$selector-root-light} {
  @include generate-root($theme-light-id, $selector-root-light-attr) {
    --primary: #{$theme-light-primary};
    --primary-strong: #{$theme-light-primary-strong};
    --primary-darken: #{$theme-light-primary-darken};
    --info: #{$theme-light-info};
    --info-strong: #{$theme-light-info-strong};
    --info-darken: #{$theme-light-info-darken};
    --success: #{$theme-light-success};
    --success-strong: #{$theme-light-success-strong};
    --success-darken: #{$theme-light-success-darken};
    --warning: #{$theme-light-warning};
    --warning-strong: #{$theme-light-warning-strong};
    --warning-darken: #{$theme-light-warning-darken};
    --danger: #{$theme-light-danger};
    --danger-strong: #{$theme-light-danger-strong};
    --danger-darken: #{$theme-light-danger-darken};
  }
}

#{$selector-root-light} {
  @include generate-root($theme-light-id, $selector-root-light-attr) {
    --dark: #{$theme-light-dark};
    --dark-1: #{$theme-light-dark-1};
    --dark-2: #{$theme-light-dark-2};
    --dark-3: #{$theme-light-dark-3};
    --dark-4: #{$theme-light-dark-4};
    --dark-5: #{$theme-light-dark-5};
    --dark-6: #{$theme-light-dark-6};
    --dark-7: #{$theme-light-dark-7};
    --dark-8: #{$theme-light-dark-8};
    --dark-9: #{$theme-light-dark-9};
    --light: #{$theme-light-light};
    --light-1: #{$theme-light-light-1};
    --light-2: #{$theme-light-light-2};
    --light-3: #{$theme-light-light-3};
    --light-4: #{$theme-light-light-4};
    --light-5: #{$theme-light-light-5};
    --light-6: #{$theme-light-light-6};
    --light-7: #{$theme-light-light-7};
    --light-8: #{$theme-light-light-8};
    --light-9: #{$theme-light-light-9};
  }
}

#{$selector-root-light} {
  @include generate-root($theme-light-id, $selector-root-light-attr) {
    --background: #{$theme-light-background};
    --background-1: #{$theme-light-background-1};
    --background-2: #{$theme-light-background-2};
    --background-3: #{$theme-light-background-3};
    --background-4: #{$theme-light-background-4};
    --background-alpha: #{$theme-light-background-alpha};
    --border: #{$theme-light-border};
    --border-1: #{$theme-light-border-1};
    --shadow-alpha: #{$theme-light-shadow-alpha};
    --shadow-alpha-thin: #{$theme-light-shadow-alpha-thin};
    --shadow-primary-alpha: #{$theme-light-shadow-primary-alpha};
    --shadow-info-alpha: #{$theme-light-shadow-info-alpha};
    --shadow-success-alpha: #{$theme-light-shadow-success-alpha};
    --shadow-warning-alpha: #{$theme-light-shadow-warning-alpha};
    --shadow-danger-alpha: #{$theme-light-shadow-danger-alpha};
    --focus-darken: #{$theme-light-focus-darken};
    --focus-alpha: #{$theme-light-focus-alpha};
    --focus-alpha-thin: #{$theme-light-focus-alpha-thin};
  }
}

#{$selector-root-light} {
  @include generate-root($theme-light-id, $selector-root-light-attr) {
    --disabled-background-color: #{$theme-light-disabled-background-color};
    --disabled-border-color: #{$theme-light-disabled-border-color};
    --disabled-color: #{$theme-light-disabled-color};
  }
}

#{$selector-root-light} {
  @include generate-root($theme-light-id, $selector-root-light-attr) {
    --body-background-color: #{$theme-light-body-background-color};
    --body-color: #{$theme-light-body-color};
    --code-color: #{$theme-light-code-color};
    --button-paint-color: #{$theme-light-button-paint-color};
    --table-paint-background-color: #{$theme-light-table-paint-background-color};
    --table-paint-color: #{$theme-light-table-paint-color};
    --table-spot-background-color: #{$theme-light-table-spot-background-color};
    --table-danger-background-color: #{$theme-light-table-danger-background-color};
    --table-stripe-background-color: #{$theme-light-table-stripe-background-color};
    --table-wrap-shadow-start: #{$theme-light-table-wrap-shadow-start};
    --table-wrap-shadow-end: #{$theme-light-table-wrap-shadow-end};
    --input-placeholder-color: #{$theme-light-input-placeholder-color};
    --input-success-background-color: #{$theme-light-input-success-background-color};
    --input-success-border-color: #{$theme-light-input-success-border-color};
    --input-danger-background-color: #{$theme-light-input-danger-background-color};
    --input-danger-border-color: #{$theme-light-input-danger-border-color};
    --checkbox-before-border-color: #{$theme-light-checkbox-before-border-color};
    --alert-primary-background-color: #{$theme-light-alert-primary-background-color};
    --alert-primary-border-color: #{$theme-light-alert-primary-border-color};
    --alert-info-background-color: #{$theme-light-alert-info-background-color};
    --alert-info-border-color: #{$theme-light-alert-info-border-color};
    --alert-success-background-color: #{$theme-light-alert-success-background-color};
    --alert-success-border-color: #{$theme-light-alert-success-border-color};
    --alert-warning-background-color: #{$theme-light-alert-warning-background-color};
    --alert-warning-border-color: #{$theme-light-alert-warning-border-color};
    --alert-danger-background-color: #{$theme-light-alert-danger-background-color};
    --alert-danger-border-color: #{$theme-light-alert-danger-border-color};
  }
}
