//----------------------------------------------------
// Bases: Root - Dark
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Selectors
$selector-root-dark: ":root" !default;
$selector-root-dark-attr: '[data-theme="dark"]' !default;

//----------------------------------------------------
// / Style - Root Dark
//----------------------------------------------------

#{$selector-root-dark} {
  @include generate-root($theme-dark-id, $selector-root-dark-attr) {
    --primary: #{$theme-dark-primary};
    --primary-strong: #{$theme-dark-primary-strong};
    --primary-darken: #{$theme-dark-primary-darken};
    --info: #{$theme-dark-info};
    --info-strong: #{$theme-dark-info-strong};
    --info-darken: #{$theme-dark-info-darken};
    --success: #{$theme-dark-success};
    --success-strong: #{$theme-dark-success-strong};
    --success-darken: #{$theme-dark-success-darken};
    --warning: #{$theme-dark-warning};
    --warning-strong: #{$theme-dark-warning-strong};
    --warning-darken: #{$theme-dark-warning-darken};
    --danger: #{$theme-dark-danger};
    --danger-strong: #{$theme-dark-danger-strong};
    --danger-darken: #{$theme-dark-danger-darken};
  }
}

#{$selector-root-dark} {
  @include generate-root($theme-dark-id, $selector-root-dark-attr) {
    --dark: #{$theme-dark-dark};
    --dark-1: #{$theme-dark-dark-1};
    --dark-2: #{$theme-dark-dark-2};
    --dark-3: #{$theme-dark-dark-3};
    --dark-4: #{$theme-dark-dark-4};
    --dark-5: #{$theme-dark-dark-5};
    --dark-6: #{$theme-dark-dark-6};
    --dark-7: #{$theme-dark-dark-7};
    --dark-8: #{$theme-dark-dark-8};
    --dark-9: #{$theme-dark-dark-9};
    --light: #{$theme-dark-light};
    --light-1: #{$theme-dark-light-1};
    --light-2: #{$theme-dark-light-2};
    --light-3: #{$theme-dark-light-3};
    --light-4: #{$theme-dark-light-4};
    --light-5: #{$theme-dark-light-5};
    --light-6: #{$theme-dark-light-6};
    --light-7: #{$theme-dark-light-7};
    --light-8: #{$theme-dark-light-8};
    --light-9: #{$theme-dark-light-9};
  }
}

#{$selector-root-dark} {
  @include generate-root($theme-dark-id, $selector-root-dark-attr) {
    --background: #{$theme-dark-background};
    --background-1: #{$theme-dark-background-1};
    --background-2: #{$theme-dark-background-2};
    --background-3: #{$theme-dark-background-3};
    --background-4: #{$theme-dark-background-4};
    --background-alpha: #{$theme-dark-background-alpha};
    --border: #{$theme-dark-border};
    --border-1: #{$theme-dark-border-1};
    --shadow-alpha: #{$theme-dark-shadow-alpha};
    --shadow-alpha-thin: #{$theme-dark-shadow-alpha-thin};
    --shadow-primary-alpha: #{$theme-dark-shadow-primary-alpha};
    --shadow-info-alpha: #{$theme-dark-shadow-info-alpha};
    --shadow-success-alpha: #{$theme-dark-shadow-success-alpha};
    --shadow-warning-alpha: #{$theme-dark-shadow-warning-alpha};
    --shadow-danger-alpha: #{$theme-dark-shadow-danger-alpha};
    --focus-darken: #{$theme-dark-focus-darken};
    --focus-alpha: #{$theme-dark-focus-alpha};
    --focus-alpha-thin: #{$theme-dark-focus-alpha-thin};
  }
}

#{$selector-root-dark} {
  @include generate-root($theme-dark-id, $selector-root-dark-attr) {
    --disabled-background-color: #{$theme-dark-disabled-background-color};
    --disabled-border-color: #{$theme-dark-disabled-border-color};
    --disabled-color: #{$theme-dark-disabled-color};
  }
}

#{$selector-root-dark} {
  @include generate-root($theme-dark-id, $selector-root-dark-attr) {
    --body-background-color: #{$theme-dark-body-background-color};
    --body-color: #{$theme-dark-body-color};
    --code-color: #{$theme-dark-code-color};
    --button-paint-color: #{$theme-dark-button-paint-color};
    --table-paint-background-color: #{$theme-dark-table-paint-background-color};
    --table-paint-color: #{$theme-dark-table-paint-color};
    --table-spot-background-color: #{$theme-dark-table-spot-background-color};
    --table-danger-background-color: #{$theme-dark-table-danger-background-color};
    --table-stripe-background-color: #{$theme-dark-table-stripe-background-color};
    --table-wrap-shadow-start: #{$theme-dark-table-wrap-shadow-start};
    --table-wrap-shadow-end: #{$theme-dark-table-wrap-shadow-end};
    --input-placeholder-color: #{$theme-dark-input-placeholder-color};
    --input-success-background-color: #{$theme-dark-input-success-background-color};
    --input-success-border-color: #{$theme-dark-input-success-border-color};
    --input-danger-background-color: #{$theme-dark-input-danger-background-color};
    --input-danger-border-color: #{$theme-dark-input-danger-border-color};
    --checkbox-before-border-color: #{$theme-dark-checkbox-before-border-color};
    --alert-primary-background-color: #{$theme-dark-alert-primary-background-color};
    --alert-primary-border-color: #{$theme-dark-alert-primary-border-color};
    --alert-info-background-color: #{$theme-dark-alert-info-background-color};
    --alert-info-border-color: #{$theme-dark-alert-info-border-color};
    --alert-success-background-color: #{$theme-dark-alert-success-background-color};
    --alert-success-border-color: #{$theme-dark-alert-success-border-color};
    --alert-warning-background-color: #{$theme-dark-alert-warning-background-color};
    --alert-warning-border-color: #{$theme-dark-alert-warning-border-color};
    --alert-danger-background-color: #{$theme-dark-alert-danger-background-color};
    --alert-danger-border-color: #{$theme-dark-alert-danger-border-color};
  }
}
