//----------------------------------------------------
// Bases: Root - Light
//----------------------------------------------------

//----------------------------------------------------
// / Variables (Default)
//----------------------------------------------------

// Option
$option-mixin-mode: false !default;
$option-css-variables: false !default;
$option-theme-default-light: true !default;
$option-theme-media-light: false !default;
$option-theme-attr-light: false !default;

// Selectors
$selector-root: ":root" !default;
$selector-root-attr: "data-theme" !default;

// Root
$root-attr-light: "light" !default;

//----------------------------------------------------
// / Mixins (Default)
//----------------------------------------------------

// Export Style
@mixin export-style-root-light() {
  @if $option-mixin-mode == false {
    @if $option-css-variables == true and $option-theme-default-light == true {
      @content;
    }
    @if $option-css-variables == true and $option-theme-media-light == true {
      @include theme-media(light) {
        @content;
      }
    }
    @if $option-css-variables == true and $option-theme-attr-light == true {
      @include theme-attr($selector-root-attr, $root-attr-light) {
        @content;
      }
    }
  }
}

//----------------------------------------------------
// / Style - Root Light
//----------------------------------------------------

#{$selector-root} {
  @include export-style-root-light() {
    --primary: #{$theme-light-primary};
    --primary-strong: #{$theme-light-primary-strong};
    --primary-darken: #{$theme-light-primary-darken};
    --info: #{$theme-light-info};
    --info-strong: #{$theme-light-info-strong};
    --info-darken: #{$theme-light-info-darken};
    --success: #{$theme-light-success};
    --success-strong: #{$theme-light-success-strong};
    --success-darken: #{$theme-light-success-darken};
    --warning: #{$theme-light-warning};
    --warning-strong: #{$theme-light-warning-strong};
    --warning-darken: #{$theme-light-warning-darken};
    --danger: #{$theme-light-danger};
    --danger-strong: #{$theme-light-danger-strong};
    --danger-darken: #{$theme-light-danger-darken};
  }
}

#{$selector-root} {
  @include export-style-root-light() {
    --text-dark: #{$theme-light-text-dark};
    --text-dark-1: #{$theme-light-text-dark-1};
    --text-dark-2: #{$theme-light-text-dark-2};
    --text-dark-3: #{$theme-light-text-dark-3};
    --text-dark-4: #{$theme-light-text-dark-4};
    --text-dark-5: #{$theme-light-text-dark-5};
    --text-dark-6: #{$theme-light-text-dark-6};
    --text-dark-7: #{$theme-light-text-dark-7};
    --text-dark-8: #{$theme-light-text-dark-8};
    --text-dark-9: #{$theme-light-text-dark-9};
    --text-light: #{$theme-light-text-light};
    --text-light-1: #{$theme-light-text-light-1};
    --text-light-2: #{$theme-light-text-light-2};
    --text-light-3: #{$theme-light-text-light-3};
    --text-light-4: #{$theme-light-text-light-4};
    --text-light-5: #{$theme-light-text-light-5};
    --text-light-6: #{$theme-light-text-light-6};
    --text-light-7: #{$theme-light-text-light-7};
    --text-light-8: #{$theme-light-text-light-8};
    --text-light-9: #{$theme-light-text-light-9};
  }
}

#{$selector-root} {
  @include export-style-root-light() {
    --background: #{$theme-light-background};
    --background-1: #{$theme-light-background-1};
    --background-2: #{$theme-light-background-2};
    --background-3: #{$theme-light-background-3};
    --background-4: #{$theme-light-background-4};
    --background-alpha: #{$theme-light-background-alpha};
    --border: #{$theme-light-border};
    --border-1: #{$theme-light-border-1};
    --shadow-alpha: #{$theme-light-shadow-alpha};
    --shadow-alpha-thin: #{$theme-light-shadow-alpha-thin};
    --focus-darken: #{$theme-light-focus-darken};
    --focus-alpha: #{$theme-light-focus-alpha};
    --focus-alpha-thin: #{$theme-light-focus-alpha-thin};
  }
}

#{$selector-root} {
  @include export-style-root-light() {
    --disabled-background-color: #{$theme-light-disabled-background-color};
    --disabled-border-color: #{$theme-light-disabled-border-color};
    --disabled-text-color: #{$theme-light-disabled-text-color};
  }
}

#{$selector-root} {
  @include export-style-root-light() {
    --body-background-color: #{$theme-light-body-background-color};
    --body-text-color: #{$theme-light-body-text-color};
    --code-text-color: #{$theme-light-code-text-color};
    --button-paint-text-color: #{$theme-light-button-paint-text-color};
    --table-paint-background-color: #{$theme-light-table-paint-background-color};
    --table-paint-text-color: #{$theme-light-table-paint-text-color};
    --table-spot-background-color: #{$theme-light-table-spot-background-color};
    --table-danger-background-color: #{$theme-light-table-danger-background-color};
    --input-placeholder-color: #{$theme-light-input-placeholder-color};
    --input-success-background-color: #{$theme-light-input-success-background-color};
    --input-success-border-color: #{$theme-light-input-success-border-color};
    --input-danger-background-color: #{$theme-light-input-danger-background-color};
    --input-danger-border-color: #{$theme-light-input-danger-border-color};
    --checkbox-before-border-color: #{$theme-light-checkbox-before-border-color};
    --alert-primary-background-color: #{$theme-light-alert-primary-background-color};
    --alert-primary-border-color: #{$theme-light-alert-primary-border-color};
    --alert-info-background-color: #{$theme-light-alert-info-background-color};
    --alert-info-border-color: #{$theme-light-alert-info-border-color};
    --alert-success-background-color: #{$theme-light-alert-success-background-color};
    --alert-success-border-color: #{$theme-light-alert-success-border-color};
    --alert-warning-background-color: #{$theme-light-alert-warning-background-color};
    --alert-warning-border-color: #{$theme-light-alert-warning-border-color};
    --alert-danger-background-color: #{$theme-light-alert-danger-background-color};
    --alert-danger-border-color: #{$theme-light-alert-danger-border-color};
  }
}
