//----------------------------------------------------
// / Box
//----------------------------------------------------

.demo-space-box {
  > *:not(:first-child) {
    margin-top: 12px;
  }
  > .demo-h2:not(:first-child) {
    margin-top: 16px;
  }
  > .demo-h3:not(:first-child) {
    margin-top: 40px;
  }
  > .demo-or:not(:first-child) {
    margin: -12px 0;
  }
}

.demo-line-box {
  padding: 16px;
  border: 1px solid var(--demo-line-box-border-color);
  border-radius: 2px;
}

.demo-paint-box {
  padding: 16px;
  background-color: var(--demo-paint-box-background-color);
  border: 1px solid var(--demo-line-box-border-color);
  border-radius: 2px;
}
