//----------------------------------------------------
// Override Default Theme
//----------------------------------------------------

//----------------------------------------------------
// / Config
//----------------------------------------------------

// Colors
$accentColor = #1cb4c7
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #cccccc

// Layout
$navbarHeight = 4rem
$sidebarWidth = 20rem
$contentWidth = 880px

// Responsive Breakpoints
$MQNarrow = 991px
$MQMobile = 767px
$MQMobileNarrow = 575px

//----------------------------------------------------
// / Import > Config (Node Modules)
//----------------------------------------------------

@require '~moftone/src/stylus/tone/_moftone.styl'
@require '~dashibox/src/stylus/_dashibox.styl'

//----------------------------------------------------
// / Global
//----------------------------------------------------

body
  color: $dark-2
  font-family: $font-sans

h1
  font-weight: $font-weight-normal

h2
  border-bottom: none
  font-weight: $font-weight-normal

button
  color: $dark-2

.musubii-demo
  //background-color: $cyan-500;

//----------------------------------------------------
// / Home
//----------------------------------------------------

.home
  max-width: 100%
  margin-top: -4rem
  padding: 0

//----------------------------------------------------
// / Navbar
//----------------------------------------------------

.navbar
  background-color: $accentColor
  border-bottom: none
  color: $light
  .logo
    width: auto
  .site-name
    display: none
  .nav-links
    a
      &:hover,
      &.router-link-active
        color: $light
      .icon.outbound
        color: $light
        vertical-align: baseline

.nav-item
  > a:not(.external)
    &:hover,
    &.router-link-active
      @media (min-width: $MQMobile)
        border-color: lighten($accentColor, 30%)

//----------------------------------------------------
// / Search box
//----------------------------------------------------

.search-box input
  max-width: 100%
  height: calc(2.5em + (1px * 2))
  padding: 0 0.75em 0 2em
  background-position: 0.75em 0.75em
  border: none
  border-radius: 999em
  font-size: 1rem
  line-height: 2.5em

//----------------------------------------------------
// / Sidebar
//----------------------------------------------------

.sidebar
  font-family: Nunito, $font-sans
  font-size: 1em

//----------------------------------------------------
// / Content
//----------------------------------------------------

.content
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6
    font-family: Nunito, $font-sans
    font-weight: 700
    + div,
    + p,
    + ul
      margin-top: 1em
  > p
    line-height: 1.9
    code
      color: $indigo-500
    + div,
    + p,
    + ul
      margin-top: 1em
  > ul
    line-height: 1.7
    > li
      list-style: circle outside
    + div,
    + p,
    + ul
      margin-top: 1em
  > table
    display: table
    width: 100%
    font-size: 92.5%;
    th
      background-color: $accentColor
      color: $light
    code
      color: $indigo-500
  > div
    table
      display: table
      tr:nth-child(2):last-child
        background: none
  > .group
    a,
    a:hover
      text-decoration: none
    ul,
    ol
      padding-left: 0
    blockquote
      font-size: 1em
    pre
      padding: 0
      background-color: $grey-100
      code
        color: $indigo-500
    table
      margin: 0
      + table
        margin-top: 1em
    .wysiwyg
      pre code
        padding: 1.25em 1.5em
      &.is-space
        table:not(:first-child)
          margin-top: 1em
  pre
    -webkit-overflow-scrolling: touch

//----------------------------------------------------
// / Page Edit
//----------------------------------------------------

.page-edit
  font-family: Nunito, $font-sans

//----------------------------------------------------
// / Page Nav
//----------------------------------------------------

.page-nav
  font-family: Nunito, $font-sans

//----------------------------------------------------
// / Section
//----------------------------------------------------

.section.is-hero
  padding: 9.5em 0 6em
  background-color: $accentColor
  a
    color: $light

.section.is-about
  padding: 3em 0

.section.is-feature
  padding: 3em 0
  &:nth-child(odd)
    background-color: $grey-50
  &:nth-child(even) .grid
    flex-direction: row-reverse

.section.is-bg-yellow
  background-color: $yellow-200

.section.is-bg-grey
  background-color: $grey-50
  :not(.pre)
    > .code
      background-color: rgba(black, 0.0375)

.section.is-footer
  background-color: $blue-grey-800
  padding: 2em 0
  font-family: Nunito, $font-sans
  a
    color: $light

//----------------------------------------------------
// / Grid
//----------------------------------------------------

.grid.is-demo-box-1
  &.is-height-1
    height: 11.375em
  &.is-height-2
    height: 20.75em
  &.is-height-3
    height: 30.125em

for $gap-x in 2 3 4 6
  .grid.is-gap-{$gap-x}x:not(.is-gap-none)
    margin-left: ($gap-x / -2)em
    margin-bottom: ($gap-x / -2)em
    > .col
      padding-left: ($gap-x / 2)em
      padding-bottom: ($gap-x / 2)em
    + .grid.is-gap-{$gap-x}x:not(.is-gap-none)
      margin-top: ($gap-x / 2)em

//----------------------------------------------------
// / Text
//----------------------------------------------------

.text.is-hero-1
  font-size: 16.75vw
  font-family: Nunito, $font-sans
  line-height: 1.1
  +tablet()
    font-size: 4.375em

.text.is-hero-2
  font-size: 11vw
  font-family: Nunito, $font-sans
  line-height: 1.1
  +tablet()
    font-size: 2.875em

.text.is-demo-space-filter-2,
.icon.is-demo-space-filter-2
  position: relative
  &:before,
  &:after
    content: ""
    position: absolute
    top: 0
    display: block
    height: 100%
  &:before
    left: -0.375em
    width: 0.375em
    background-color: rgba($orange-500, 0.3)
  &:after
    left: 0
    width: 100%
    background-color: rgba($blue-500, 0.3)

.text.is-demo-space-filter-3
  position: relative
  display: inline-block
  border-right: 2px dashed $red-500
  > .fa,
  > .fas
    background-color: rgba($blue-500, 0.3)

//----------------------------------------------------
// / Heading
//----------------------------------------------------

.heading.is-demo-space-filter-1,
.texts.is-demo-space-filter-1
  position: relative
  &:before,
  &:after
    content: ""
    position: absolute
    left: 0
    display: block
    width: 100%
  &:not(:first-child):before
    background-color: rgba($orange-500, 0.3)
  &:after
    top: 0
    height: 100%
    background-color: rgba($blue-500, 0.3)

.heading.is-demo-space-filter-1
  &:not(:first-child):before
    top: -1.5em
    height: 1.5em

.texts.is-demo-space-filter-1
  &:not(:first-child):before
    top: -1em
    height: 1em

//----------------------------------------------------
// / Button
//----------------------------------------------------

.btn.is-plain.is-cyan
  background-color: $light
  color: $cyan-500
  &:hover
    background-color: $cyan-50

.btn.is-ghost.is-cyan:hover
  color: $cyan-500

//----------------------------------------------------
// / Group
//----------------------------------------------------

.group.is-home-point-textbox
  max-width: 25.45em

.group.is-documentation-nav
  border-top: 1px solid $grey-300
  border-bottom: 1px solid $grey-300
  padding: 1.25em 0.25em

.group.is-documentation-nav .text.is-link-reverse
  display: inline-block
  line-height: 1
  &.is-active
    cursor: default
    color: $cyan-500
    font-weight: 700
  &.is-active:hover
    border: none

.groups.is-documentation-contents > .content
  &:not(.is-active)
    display: none
  &.is-active
    display: block
  .group.is-wrap
    font-family: $font-sans

.group.is-wrap
  position: relative
  border: 1px solid $grey-300
  border-radius: 2px
  overflow: hidden
  &.is-paint
    padding: 1em
    background-color: $cyan-700
    border: none
  &.is-example
    padding: 2em
    background-color: $grey-100
    border: none
    font-family: $font-sans
  > .inner
    padding: 1.25em

.group.is-demo-box-1,
.group.is-demo-box-2,
.group.is-demo-box-3
  width: 100%
  &.is-primary
    background-color: $primary
    color: $light
  &.is-danger
    background-color: $red-50
    color: $danger
  &.is-grey
    background-color: $grey-300
    color: $light
  &.is-round
    border-radius: 2px
  &.is-height-1
    min-height: 9.375em
  &.is-height-2
    min-height: 18.75em
  &.is-height-3
    min-height: 28.125em

.group.is-demo-box-1
  padding: 1em 0
.group.is-demo-box-2
  padding: 0 1em
.group.is-demo-box-3
  padding: 1em

//----------------------------------------------------
// / Object
//----------------------------------------------------

.obj.is-hero-illust
  width: 90vw
  +tablet()
    width: 23.5em

.obj.is-home-point-illust
  width: 15em

.obj.is-badge
  display: inline-flex
  align-items: center
  vertical-align: middle
  height: 0.875em
  padding: 0 0.25em
  margin: 0 0.25em 0.25em
  border-radius: 0.0875em
  &.is-new
    background-color: $light-green-a400
    color: $light
    font-weight: 700
  > .text
    font-size: 50%

//----------------------------------------------------
// / Utility
//----------------------------------------------------

.is-font-nunito
  font-family: Nunito, $font-sans