//----------------------------------------------------
// Base: Global
//----------------------------------------------------

//----------------------------------------------------
// / Body Setting
//----------------------------------------------------

body {
  color: $dark-2;
  font-family: $font-sans;
  line-height: 1.5;
}

//----------------------------------------------------
// / Image Control
//----------------------------------------------------

img {
  max-width: 100%;
  height: auto;
  &[src$=".svg"] {
    width: 100%;
  }
}

//----------------------------------------------------
// / iframe Control
//----------------------------------------------------

iframe {
  max-width: 100%;
}