.checkbox {
  --checkbox-size: 1em;
  --checkbox-bg: var(--theme-bg-1);
  --checkbox-border-width: 2px;
  --checkbox-border-color: var(--theme-bd-2);
  --checkbox-border-radius: 2px;
  --checkbox-transition: none;
  --checkbox-checked-bg: var(--theme-primary);
  --checkbox-checked-border-color: transparent;
  --checkbox-checked-icon-width: 0.75em;
  --checkbox-checked-icon-height: 0.375em;
  --checkbox-checked-icon-border-width: 0.125em;
  --checkbox-checked-icon-color: var(--theme-lk-tx);
  --checkbox-disabled-border-alpha: 36%;
}

.checkbox {
  position: relative;
  display: inline-block;
  flex: none;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  background: var(--checkbox-bg);
  border-width: var(--checkbox-border-width);
  border-color: var(--checkbox-border-color);
  border-radius: var(--checkbox-border-radius);
  transition: var(--checkbox-transition);
}

.checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--checkbox-checked-icon-width);
  height: var(--checkbox-checked-icon-height);
  border-bottom-width: var(--checkbox-checked-icon-border-width);
  border-bottom-color: var(--checkbox-checked-icon-color);
  border-left-width: var(--checkbox-checked-icon-border-width);
  border-left-color: var(--checkbox-checked-icon-color);
  translate: -50% -70%;
  rotate: -45deg;
  transition: var(--checkbox-transition);
  opacity: 0;
}

.input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

:where(.input[type="checkbox"]:checked + *) .checkbox,
:where(.input[type="checkbox"]:checked) + .checkbox {
  background: var(--checkbox-checked-bg);
  border-color: var(--checkbox-checked-border-color);
}

:where(.input[type="checkbox"]:checked + *) .checkbox::before,
:where(.input[type="checkbox"]:checked) + .checkbox::before {
  opacity: 1;
}

:where(.input[type="checkbox"]:disabled + *) .checkbox,
:where(.input[type="checkbox"]:disabled) + .checkbox,
.checkbox:where(:is([disabled], [aria-disabled="true"], .is-disabled)) {
  border-color: color-mix(
    in srgb,
    var(--checkbox-border-color) var(--checkbox-disabled-border-alpha),
    transparent calc(100% - var(--checkbox-disabled-border-alpha))
  );
}
