//----------------------------------------------------
// Layout: Flex
//----------------------------------------------------

//----------------------------------------------------
// / Basic
//----------------------------------------------------

.is-flex {
  display: flex;
}

.is-inline-flex {
  display: inline-flex;
}

.is-flex,
.is-inline-flex {
  flex-wrap: wrap;
  &.is-middle {
    align-items: center;
  }
  &.is-bottom {
    align-items: flex-end;
  }
  &.is-center {
    justify-content: center;
  }
  &.is-right {
    justify-content: flex-end;
  }
  &.is-between {
    justify-content: space-between;
  }
  &.is-around {
    justify-content: space-around;
  }
}

//----------------------------------------------------
// / Responsive
//----------------------------------------------------

@each $key, $mediaquery in $pattern-breakpoint-mediaquery-all {
  @include mediaquery-pattern($mediaquery) {
    @for $i from 0 through $grid-split {
      @if $i == 0 {
        .is-#{$key}-#{$i} {
          flex: 1 0 0%;
        }
      } @else {
        .is-#{$key}-#{$i} {
          flex: 0 0 100% / $grid-split * $i;
          width: 100% / $grid-split * $i;
          max-width: 100% / $grid-split * $i;
        }
      }
    }
    .is-#{$key}-full {
      flex: 0 1 100%;
      width: 100%;
    }
    .is-#{$key}-auto {
      flex: 0 1 auto;
      width: auto;
    }
  }
}
