//----------------------------------------------------
// Layout: Grid
//----------------------------------------------------

//----------------------------------------------------
// / Dedicated Variable
//----------------------------------------------------

// Number of grid divisions
$split-grid: 12;

//----------------------------------------------------
// / Basic Modifier
//----------------------------------------------------

.grid {
  display: flex;
  flex-wrap: wrap;
  &:not(.is-gap-none) {
    margin-left: -0.5em;
    margin-bottom: -0.5em;
  }
  &:not(.is-gap-none) > .col {
    padding-left: 0.5em;
    padding-bottom: 0.5em;
  }
  &:not(.is-gap-none) + .grid:not(.is-gap-none) {
    margin-top: 0.5em;
  }
  &.is-middle {
    align-items: center;
  }
  &.is-bottom {
    align-items: flex-end;
  }
  &.is-center {
    justify-content: center;
  }
  &.is-right {
    justify-content: flex-end;
  }
  &.is-between {
    justify-content: space-between;
  }
  &.is-around {
    justify-content: space-around;
  }
  &.is-stretch > .col {
    display: flex;
  }
}

//----------------------------------------------------
// / Responsive Column
//----------------------------------------------------

@each $key, $mediaquery in $pattern-breakpoint-mediaquery-mobile-first {
  @include mediaquery-pattern($mediaquery) {
    @for $i from 0 through $split-grid {
      @if $i == 0 {
        .col.is-#{$key}-#{$i} {
          flex: 1 0 0%;
          max-width: 100%;
        }
      }
      @else {
        .col.is-#{$key}-#{$i} {
          flex: 0 0 100% / $split-grid * $i;
          max-width: 100% / $split-grid * $i;
        }
      }
    }
    .col.is-#{$key}-auto {
      flex: 0 1 auto;
      max-width: 100%;
    }
  }
}