//----------------------------------------------------
// Layout: Grid
//----------------------------------------------------

$split-grid: 12;

.grid {
  display: flex;
  flex-wrap: wrap;
  &:not(.is-gap-none) {
    margin-left: -0.5em;
    margin-bottom: -0.5em;
  }
  &:not(.is-gap-none) > .col {
    padding-left: 0.5em;
    padding-bottom: 0.5em;
  }
  &:not(.is-gap-none) + .grid:not(.is-gap-none) {
    margin-top: 0.5em;
  }
  &.is-middle {
    align-items: center;
  }
  &.is-bottom {
    align-items: flex-end;
  }
  &.is-center {
    justify-content: center;
  }
  &.is-right {
    justify-content: flex-end;
  }
  &.is-between {
    justify-content: space-between;
  }
  &.is-around {
    justify-content: space-around;
  }
  &.is-stretch > .col {
    display: flex;
  }
}

@for $i from 0 through $split-grid {
  @if $i == 0 {
    .col.is-mobile-#{$i} {
      flex: 1 0 0%;
      max-width: 100%;
    }
  }
  @else {
    .col.is-mobile-#{$i} {
      flex: 0 0 100% / $split-grid * $i;
      max-width: 100% / $split-grid * $i;
    }
  }
}

.col.is-mobile-auto {
  flex: 0 1 auto;
  max-width: 100%;
}

@include fablet {
  @for $i from 0 through $split-grid {
    @if $i == 0 {
      .col.is-fablet-#{$i} {
        flex: 1 0 0%;
        max-width: 100%;
      }
    }
    @else {
      .col.is-fablet-#{$i} {
        flex: 0 0 100% / $split-grid * $i;
        max-width: 100% / $split-grid * $i;
      }
    }
  }
  .col.is-fablet-auto {
    flex: 0 1 auto;
    max-width: 100%;
  }
}

@include tablet {
  @for $i from 0 through $split-grid {
    @if $i == 0 {
      .col.is-tablet-#{$i} {
        flex: 1 0 0%;
        max-width: 100%;
      }
    }
    @else {
      .col.is-tablet-#{$i} {
        flex: 0 0 100% / $split-grid * $i;
        max-width: 100% / $split-grid * $i;
      }
    }
  }
  .col.is-tablet-auto {
    flex: 0 1 auto;
    max-width: 100%;
  }
}

@include desktop {
  @for $i from 0 through $split-grid {
    @if $i == 0 {
      .col.is-desktop-#{$i} {
        flex: 1 0 0%;
        max-width: 100%;
      }
    }
    @else {
      .col.is-desktop-#{$i} {
        flex: 0 0 100% / $split-grid * $i;
        max-width: 100% / $split-grid * $i;
      }
    }
  }
  .col.is-desktop-auto {
    flex: 0 1 auto;
    max-width: 100%;
  }
}

@include wide {
  @for $i from 0 through $split-grid {
    @if $i == 0 {
      .col.is-wide-#{$i} {
        flex: 1 0 0%;
        max-width: 100%;
      }
    }
    @else {
      .col.is-wide-#{$i} {
        flex: 0 0 100% / $split-grid * $i;
        max-width: 100% / $split-grid * $i;
      }
    }
  }
  .col.is-wide-auto {
    flex: 0 1 auto;
    max-width: 100%;
  }
}