//----------------------------------------------------
// Layout: Section
//----------------------------------------------------

//----------------------------------------------------
// / Inner Control
//----------------------------------------------------

.section > .inner {
  max-width: 100%;
  margin: 0 auto;
  @include fablet {
    width: $section-inner-width-fablet;
  }
  @include tablet {
    width: $section-inner-width-tablet;
  }
  @include desktop {
    width: $section-inner-width-desktop;
  }
  @include wide {
    width: $section-inner-width-wide;
  }
}

.section > .inner-vw {
  max-width: 100%;
  margin: 0 auto;
  @include fablet {
    width: $section-inner-vw-width-fablet;
  }
}
