//----------------------------------------------------
// Layout: Section
//----------------------------------------------------

.section > .inner {
  max-width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  @include fablet {
    width: 540px;
  }
  @include tablet {
    width: 720px;
  }
  @include desktop {
    width: 960px;
  }
  @include wide {
    width: 1140px;
  }
}