//----------------------------------------------------
// Layout: Section
//----------------------------------------------------

//----------------------------------------------------
// / Export Setting
//----------------------------------------------------

@mixin export-section {
  @if $use-component-section == true {
    @content;
  }
}

//----------------------------------------------------
// / Inner
//----------------------------------------------------

@include export-section {
  .section > .inner {
    max-width: 100%;
    margin: 0 auto;
    @include fablet {
      width: $section-inner-width-fablet;
    }
    @include tablet {
      width: $section-inner-width-tablet;
    }
    @include desktop {
      width: $section-inner-width-desktop;
    }
    @include wide {
      width: $section-inner-width-wide;
    }
  }
}

//----------------------------------------------------
// / Inner VW
//----------------------------------------------------

@include export-section {
  .section > .inner-vw {
    max-width: 100%;
    margin: 0 auto;
    @include fablet {
      width: $section-inner-vw-width-fablet;
    }
  }
}
