:root {
  --color-gray-50-x-gray-100: #f6f7f9;
  --color-gray-100-x-gray-200: #eceef1;
  --color-gray-200-x-gray-300: #dbdee3;
  --color-gray-700-x-gray-800: #2b3544;
  --color-gray-800-x-gray-900: #18212f;
}
