//----------------------------------------------------
//- Parts: Alert
//----------------------------------------------------

.groups
  h3.heading.is-xl Alert
  p.texts.is-sm
    | アラートのUIを作るには、テキスト類を&nbsp;
    code.code .alert
    | &nbsp;でラッピングします。
    br
    | アラートの役割にしたがって&nbsp;
    code.code .is-primary
    | &nbsp;
    code.code .is-info
    | &nbsp;
    code.code .is-success
    | &nbsp;
    code.code .is-warning
    | &nbsp;
    code.code .is-danger
    | &nbsp;を付与しスタイルを変化させます。
  .group.is-wrap.is-preview
    .alert
      i.fa.fa-thumbs-o-up.is-fit(aria-hidden="true")
      span.text アプリの通知設定へようこそ！
    .alert.is-primary
      i.fa.fa-thumbs-o-up.is-fit(aria-hidden="true")
      span.text アプリの通知設定へようこそ！
    .alert.is-info
      i.fa.fa-info-circle.is-fit(aria-hidden="true")
      span.text 通知設定に関するチュートリアルはこちら。
    .alert.is-success
      i.fa.fa-check.is-fit(aria-hidden="true")
      span.text 通知設定は自動的に保存されました。
    .alert.is-warning
      i.fa.fa-exclamation-triangle.is-fit(aria-hidden="true")
      span.text 通知設定はアクティベートされていません。
    .alert.is-danger
      i.fa.fa-times.is-fit(aria-hidden="true")
      span.text 通知設定は削除されました。
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <div class="alert">
          <i aria-hidden="true" class="fa fa-thumbs-o-up is-fit"></i>
          <span class="text">アプリの通知設定へようこそ！</span>
        </div>

        <div class="alert is-primary">
          <i aria-hidden="true" class="fa fa-thumbs-o-up is-fit"></i>
          <span class="text">アプリの通知設定へようこそ！</span>
        </div>

        <div class="alert is-info">
          <i aria-hidden="true" class="fa fa-info-circle is-fit"></i>
          <span class="text">通知設定に関するチュートリアルはこちら。</span>
        </div>

        <div class="alert is-success">
          <i aria-hidden="true" class="fa fa-check is-fit"></i>
          <span class="text">通知設定は自動的に保存されました。</span>
        </div>

        <div class="alert is-warning">
          <i aria-hidden="true" class="fa fa-exclamation-triangle is-fit"></i>
          <span class="text">通知設定はアクティベートされていません。</span>
        </div>

        <div class="alert is-danger">
          <i aria-hidden="true" class="fa fa-times is-fit"></i>
          <span class="text">通知設定は削除されました。</span>
        </div>
        ```