//----------------------------------------------------
//- Parts: Button
//----------------------------------------------------

.groups.is-space
  h3.heading.is-xl Button
  p.texts.is-sm
    | ボタンを作るには、ボタンをまとめるブロック要素のクラス名を&nbsp;
    code.code .btns
    | &nbsp;、ボタン自体のクラス名を&nbsp;
    code.code .btn
    | &nbsp;にします。
    br
    | 装飾をプレーンタイプにするには&nbsp;
    code.code .btn
    | &nbsp;に&nbsp;
    code.code .is-plain
    | &nbsp;を付与します。
  .group.is-wrap
    .inner
      .btns
        a.btn.is-plain 戻る
        a.btn.is-plain.is-primary 決定
        a.btn.is-plain.is-success 登録
        a.btn.is-plain.is-danger 削除
        a.btn.is-plain.is-disable 不可
        a.btn.is-plain.is-primary
          i.fas.fa-flag(aria-hidden="true")
          span.text FontAwesome
        a.btn.is-plain.is-success
          span.text FontAwesome
          i.fas.fa-angle-right.is-fit(aria-hidden="true")
        a.btn.is-plain.is-primary
          i.material-icons face
          span.text Material Icons
        a.btn.is-plain.is-success
          span.text Material Icons
          i.material-icons keyboard_arrow_right
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <div class="btns">
          <a class="btn is-plain">戻る</a>
          <a class="btn is-plain is-primary">決定</a>
          <a class="btn is-plain is-success">登録</a>
          <a class="btn is-plain is-danger">削除</a>
          <a class="btn is-plain is-disable">不可</a>
          <a class="btn is-plain is-primary">
            <i aria-hidden="true" class="fa fa-flag"></i>
            <span class="text">FontAwesome</span>
          </a>
          <a class="btn is-plain is-success">
            <span class="text">FontAwesome</span>
            <i aria-hidden="true" class="fa fa-angle-right"></i>
          </a>
          <a class="btn is-plain is-primary">
            <i class="material-icons">face</i>
            <span class="text">Material Icons</span>
          </a>
          <a class="btn is-plain is-success">
            <span class="text">Material Icons</span>
            <i class="material-icons">keyboard_arrow_right</i>
          </a>
        </div>
        ```

.groups.is-space
  h4.heading.is-xl Button - Melt
  p.texts.is-sm
    | ホバーしたときに浮き上がるボタンを作るには&nbsp;
    code.code .btn
    | &nbsp;に&nbsp;
    code.code .is-melt
    | &nbsp;を付与します。
  .group.is-wrap
    .inner
      .btns
        a.btn.is-melt 戻る
        a.btn.is-melt.is-primary 決定
        a.btn.is-melt.is-success 登録
        a.btn.is-melt.is-danger 削除
        a.btn.is-melt.is-disable 不可
        a.btn.is-melt.is-primary
          i.fas.fa-flag(aria-hidden="true")
          span.text FontAwesome
        a.btn.is-melt.is-success
          span.text FontAwesome
          i.fas.fa-angle-right.is-fit(aria-hidden="true")
        a.btn.is-melt.is-primary
          i.material-icons face
          span.text Material Icons
        a.btn.is-melt.is-success
          span.text Material Icons
          i.material-icons keyboard_arrow_right
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <a class="btn is-melt">...</a>
        ```

.groups.is-space
  h4.heading.is-xl Button - Outline
  p.texts.is-sm
    | アウトラインのみでボタンらしさを出すには&nbsp;
    code.code .btn
    | &nbsp;に&nbsp;
    code.code .is-outline
    | &nbsp;を付与します。
  .group.is-wrap
    .inner
      .btns
        a.btn.is-outline 戻る
        a.btn.is-outline.is-primary 決定
        a.btn.is-outline.is-success 登録
        a.btn.is-outline.is-danger 削除
        a.btn.is-outline.is-disable 不可
        a.btn.is-outline.is-primary
          i.fas.fa-flag(aria-hidden="true")
          span.text FontAwesome
        a.btn.is-outline.is-success
          span.text FontAwesome
          i.fas.fa-angle-right.is-fit(aria-hidden="true")
        a.btn.is-outline.is-primary
          i.material-icons face
          span.text Material Icons
        a.btn.is-outline.is-success
          span.text Material Icons
          i.material-icons keyboard_arrow_right
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <a class="btn is-outline">...</a>
        ```

.groups.is-space
  h4.heading.is-xl Button - Ghost
  p.texts.is-sm
    | 背景に色や写真を透かせるボタンを作るには&nbsp;
    code.code .btn
    | &nbsp;に&nbsp;
    code.code .is-ghost
    | &nbsp;を付与します。
  .group.is-wrap
    .inner
      .group.is-wrap.is-paint
        .btns
          a.btn.is-ghost 戻る
          a.btn.is-ghost.is-primary 決定
          a.btn.is-ghost.is-success 登録
          a.btn.is-ghost.is-danger 削除
          a.btn.is-ghost.is-disable 不可
          a.btn.is-ghost.is-primary
            i.fas.fa-flag(aria-hidden="true")
            span.text FontAwesome
          a.btn.is-ghost.is-success
            span.text FontAwesome
            i.fas.fa-angle-right.is-fit(aria-hidden="true")
          a.btn.is-ghost.is-primary
            i.material-icons face
            span.text Material Icons
          a.btn.is-ghost.is-success
            span.text Material Icons
            i.material-icons keyboard_arrow_right
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <a class="btn is-ghost">...</a>
        ```

.groups.is-space
  h4.heading.is-xl Button - Size
  p.texts.is-sm
    | サイズを表すクラス名&nbsp;
    code.code .is-(x)
    | &nbsp;を付与することでボタンの大きさを変化させられます。角丸のサイズは相対的に変化します。
  .group.is-wrap
    .inner
      .btns
        a.btn.is-plain.is-xxs 極小
        a.btn.is-plain.is-xs 小さい
        a.btn.is-plain.is-sm 小さめ
        a.btn.is-plain.is-md 中くらい
        a.btn.is-plain.is-lg 大きめ
        a.btn.is-plain.is-xl 大きい
        a.btn.is-plain.is-xxl 特大
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <div class="btns">
          <a class="btn is-xxs">極小</a>
          <a class="btn is-xs">小さい</a>
          <a class="btn is-sm">小さめ</a>
          <a class="btn is-md">中くらい</a>
          <a class="btn is-lg">大きめ</a>
          <a class="btn is-xl">大きい</a>
          <a class="btn is-xxl">特大</a>
        </div>
        ```

.groups.is-space
  h4.heading.is-xl Button - Align
  p.texts.is-sm
    code.code .btns
    | &nbsp;にクラス名&nbsp;
    code.code .is-left
    | &nbsp;
    code.code .is-center
    | &nbsp;
    code.code .is-right
    | &nbsp;を付与することでボタンの寄せる方向を変化させられます。
  .group.is-wrap
    .inner.is-space
      .btns.is-left
        a.btn.is-plain.is-primary
          | .is-left
        a.btn.is-plain.is-primary
          | .is-left
        a.btn.is-plain.is-primary
          | .is-left
      .btns.is-center
        a.btn.is-plain.is-primary
          | .is-center
        a.btn.is-plain.is-primary
          | .is-center
        a.btn.is-plain.is-primary
          | .is-center
      .btns.is-right
        a.btn.is-plain.is-primary
          | .is-right
        a.btn.is-plain.is-primary
          | .is-right
        a.btn.is-plain.is-primary
          | .is-right
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <div class="btns is-left">...</div>
        <div class="btns is-center">...</div>
        <div class="btns is-right">...</div>
        ```

.groups.is-space
  h4.heading.is-xl Button - Floating
  p.texts.is-sm
    code.code .btns
    | &nbsp;にクラス名&nbsp;
    code.code .is-floating
    | &nbsp;を付与することで、ドロップシャドウを付けられます。
  .group.is-wrap
    .inner
      .btns
        a.btn.is-plain.is-floating 戻る
        a.btn.is-plain.is-floating.is-primary 決定
        a.btn.is-plain.is-floating.is-success 登録
        a.btn.is-plain.is-floating.is-danger 削除
        a.btn.is-plain.is-floating.is-disable 不可
        a.btn.is-plain.is-floating.is-primary
          i.fas.fa-flag(aria-hidden="true")
          span.text FontAwesome
        a.btn.is-plain.is-floating.is-success
          span.text FontAwesome
          i.fas.fa-angle-right.is-fit(aria-hidden="true")
        a.btn.is-plain.is-floating.is-primary
          i.material-icons face
          span.text Material Icons
        a.btn.is-plain.is-floating.is-success
          span.text Material Icons
          i.material-icons keyboard_arrow_right
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <a class="btn is-plain is-floating">...</a>
        ```

.groups.is-space
  h4.heading.is-xl Button - Round
  p.texts.is-sm
    code.code .btns
    | &nbsp;にクラス名&nbsp;
    code.code .is-round
    | &nbsp;を付与することでボタンの角を丸められます。
  .group.is-wrap
    .inner.is-space
      .btns
        a.btn.is-plain.is-round 戻る
        a.btn.is-plain.is-round.is-primary 決定
        a.btn.is-plain.is-round.is-success 登録
        a.btn.is-plain.is-round.is-danger 削除
        a.btn.is-plain.is-round.is-disable 不可
        a.btn.is-plain.is-round.is-primary
          i.fas.fa-flag(aria-hidden="true")
          span.text FontAwesome
        a.btn.is-plain.is-round.is-success
          span.text FontAwesome
          i.fas.fa-angle-right.is-fit(aria-hidden="true")
        a.btn.is-plain.is-round.is-primary
          i.material-icons face
          span.text Material Icons
        a.btn.is-plain.is-round.is-success
          span.text Material Icons
          i.material-icons keyboard_arrow_right
      .group.is-wrap.is-paint
        .btns.is-sm
          a.btn.is-ghost.is-round 戻る
          a.btn.is-ghost.is-round.is-primary 決定
          a.btn.is-ghost.is-round.is-success 登録
          a.btn.is-ghost.is-round.is-danger 削除
          a.btn.is-ghost.is-round.is-disable 不可
          a.btn.is-ghost.is-round.is-primary
            i.fas.fa-flag(aria-hidden="true")
            span.text FontAwesome
          a.btn.is-ghost.is-round.is-success
            span.text FontAwesome
            i.fas.fa-angle-right.is-fit(aria-hidden="true")
          a.btn.is-ghost.is-round.is-primary
            i.material-icons face
            span.text Material Icons
          a.btn.is-ghost.is-round.is-success
            span.text Material Icons
            i.material-icons keyboard_arrow_right
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <a class="btn is-plain is-round">...</a>
        ```

.groups.is-space
  h4.heading.is-xl Button - Circle
  p.texts.is-sm
    code.code .btns
    | &nbsp;にクラス名&nbsp;
    code.code .is-circle
    | &nbsp;を付与することでボタンの円形にできます。
  .group.is-wrap
    .inner.is-space
      .btns
        a.btn.is-plain.is-circle
          i.fas.fa-angle-left(aria-hidden="true")
        a.btn.is-plain.is-circle.is-primary
          i.fab.fa-twitter(aria-hidden="true")
        a.btn.is-plain.is-circle.is-success
          i.fas.fa-save(aria-hidden="true")
        a.btn.is-plain.is-circle.is-danger
          i.fas.fa-times(aria-hidden="true")
        a.btn.is-plain.is-circle.is-disable
          i.fas.fa-plus(aria-hidden="true")
        a.btn.is-outline.is-circle
          i.fas.fa-angle-left(aria-hidden="true")
        a.btn.is-outline.is-circle.is-primary
          i.fab.fa-twitter(aria-hidden="true")
        a.btn.is-outline.is-circle.is-success
          i.fas.fa-save(aria-hidden="true")
        a.btn.is-outline.is-circle.is-danger
          i.fas.fa-times(aria-hidden="true")
        a.btn.is-outline.is-circle.is-disable
          i.fas.fa-plus(aria-hidden="true")
      .group.is-wrap.is-paint
        .btns
          a.btn.is-ghost.is-circle
            i.fas.fa-angle-left(aria-hidden="true")
          a.btn.is-ghost.is-circle.is-primary
            i.fab.fa-twitter(aria-hidden="true")
          a.btn.is-ghost.is-circle.is-success
            i.fas.fa-save(aria-hidden="true")
          a.btn.is-ghost.is-circle.is-danger
            i.fas.fa-times(aria-hidden="true")
          a.btn.is-ghost.is-circle.is-disable
            i.fas.fa-plus(aria-hidden="true")
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <a class="btn is-plain is-circle">...</a>
        ```

.groups.is-space
  h4.heading.is-xl Button - Responsive
  p.texts.is-sm
    code.code .btns
    | &nbsp;直下のボタンは
    br
    code.code .is-(xxxx)-(yy)
    | &nbsp;形式のクラスを加えることでレスポンシブにサイズを変化させられます。
  .group.is-wrap
    .inner.is-space
      .btns
        a.btn.is-plain.is-mobile-full.is-tablet-0 戻る
        a.btn.is-plain.is-mobile-full.is-tablet-0.is-primary 決定
        a.btn.is-plain.is-mobile-full.is-tablet-0.is-success 登録
        a.btn.is-plain.is-mobile-full.is-tablet-0.is-danger 削除
        a.btn.is-plain.is-mobile-full.is-tablet-0.is-disable 不可
      .btns
        a.btn.is-outline.is-mobile-full.is-tablet-0 戻る
        a.btn.is-outline.is-mobile-full.is-tablet-0.is-primary 決定
        a.btn.is-outline.is-mobile-full.is-tablet-0.is-success 登録
        a.btn.is-outline.is-mobile-full.is-tablet-0.is-danger 削除
        a.btn.is-outline.is-mobile-full.is-tablet-0.is-disable 不可
      .group.is-wrap.is-paint
        .btns
          a.btn.is-ghost.is-mobile-full.is-tablet-0 戻る
          a.btn.is-ghost.is-mobile-full.is-tablet-0.is-primary 決定
          a.btn.is-ghost.is-mobile-full.is-tablet-0.is-success 登録
          a.btn.is-ghost.is-mobile-full.is-tablet-0.is-danger 削除
          a.btn.is-ghost.is-mobile-full.is-tablet-0.is-disable 不可
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <a class="btn is-plain is-(xxxx)-(y)">...</a>
        ```
  include ../demo/_responsive-flex.pug

.groups.is-space
  h4.heading.is-xl Button - Bar
  p.texts.is-sm
    code.code .btns
    | &nbsp;にクラス名&nbsp;
    code.code .is-bar
    | &nbsp;を付与することで子要素のボタンを連結させられます。
  .group.is-wrap
    .inner.is-space
      .btns.is-bar.is-sm
        a.btn.is-plain
          i.fas.fa-align-left(aria-hidden="true")
          span.text 左寄せ
        a.btn.is-plain
          i.fas.fa-align-center(aria-hidden="true")
          span.text 中央寄せ
        a.btn.is-plain
          i.fas.fa-align-right(aria-hidden="true")
          span.text 右寄せ
      .btns.is-bar.is-sm
        a.btn.is-outline.is-mobile-0
          i.fas.fa-align-left(aria-hidden="true")
          span.text 左寄せ
        a.btn.is-outline.is-mobile-0
          i.fas.fa-align-center(aria-hidden="true")
          span.text 中央寄せ
        a.btn.is-outline.is-mobile-0
          i.fas.fa-align-right(aria-hidden="true")
          span.text 右寄せ
      .btns.is-bar.is-sm
        a.btn.is-outline.is-round.is-mobile-0 ラウンド
        a.btn.is-outline.is-round.is-mobile-0 ラウンド
        a.btn.is-outline.is-round.is-mobile-0 ラウンド
      .group.is-wrap.is-paint
        .btns
          .btns.is-bar.is-sm
            a.btn.is-ghost 松
            a.btn.is-ghost 桜
            a.btn.is-ghost 芒
            a.btn.is-ghost 雨
            a.btn.is-ghost 桐
          .btns.is-bar.is-sm
            a.btn.is-ghost 線と角丸
            a.btn.is-ghost 自動調整
          .btns.is-bar.is-sm
            a.btn.is-ghost.is-round ラウンド
            a.btn.is-ghost.is-round ラウンド
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <div class="btns is-bar">
          <a class="btn is-plain">...</a>
          <a class="btn is-plain">...</a>
          <a class="btn is-plain">...</a>
        </div>
        ```