//----------------------------------------------------
//- Parts: Clearfix
//----------------------------------------------------

.groups.is-space
  h3.heading.is-xl Clearfix
  p.texts.is-sm
    | After要素にFloatを解除するclearfixを作るUtility。
  .group.is-scroll-x
    table.table.is-border.is-center.is-nowrap.is-sm
      tbody
        tr.box.is-stripe
          td.box.is-paint Add Class
          td .is-clearfix
        tr
          td.box.is-paint Function
          td Floatの解除