//----------------------------------------------------
//- Parts: Deco
//----------------------------------------------------

.groups
  h3.heading.is-xl Deco
  p.texts.is-sm
    | 色や装飾・位置を調整を行うUtilityを、ほぼすべてのモジュールに対して使えます。
  .group.is-scroll-x
    table.table.is-border.is-center.is-nowrap.is-sm
      tbody
        tr.box.is-stripe
          td.box.is-paint(width="150") Add Class
          td.box.is-dark .is-dark
          td.box.is-dark-1 .is-dark-1
          td.box.is-dark-2 .is-dark-2
          td.box.is-dark-3 .is-dark-3
          td.box.is-dark-4 .is-dark-4
          td.box.is-dark-5 .is-dark-5
          td.box.is-dark-6 .is-dark-6
          td.box.is-dark-7 .is-dark-7
          td.box.is-dark-8 .is-dark-8
          td.box.is-dark-9 .is-dark-9
        tr
          td.box.is-paint Text Alpha
          td.box.is-dark 1
          td.box.is-dark-1 0.87
          td.box.is-dark-2 0.7
          td.box.is-dark-3 0.6
          td.box.is-dark-4 0.5
          td.box.is-dark-5 0.4
          td.box.is-dark-6 0.26
          td.box.is-dark-7 0.15
          td.box.is-dark-8 0.12
          td.box.is-dark-9 0.05
  .group.is-scroll-x
    table.table.is-border.is-center.is-nowrap.is-sm
      tbody
        tr.box.is-paint
          td.box.is-paint(width="150") Add Class
          td.box.is-light .is-light
          td.box.is-light-1 .is-light-1
          td.box.is-light-2 .is-light-2
          td.box.is-light-3 .is-light-3
          td.box.is-light-4 .is-light-4
          td.box.is-light-5 .is-light-5
          td.box.is-light-6 .is-light-6
          td.box.is-light-7 .is-light-7
          td.box.is-light-8 .is-light-8
          td.box.is-light-9 .is-light-9
        tr.box.is-paint
          td.box.is-paint Text Alpha
          td.box.is-light 1
          td.box.is-light-1 0.87
          td.box.is-light-2 0.7
          td.box.is-light-3 0.6
          td.box.is-light-4 0.5
          td.box.is-light-5 0.4
          td.box.is-light-6 0.26
          td.box.is-light-7 0.15
          td.box.is-light-8 0.12
          td.box.is-light-9 0.05
  .group.is-scroll-x
    table.table.is-border.is-center.is-nowrap.is-sm
      tbody
        tr.box.is-stripe
          td.box.is-paint(width="150") Add Class
          td .is-primary
          td .is-info
          td .is-success
          td .is-warning
          td .is-danger
        tr
          td.box.is-paint Text Color
          td: span.is-primary シアン
          td: span.is-info ブルー
          td: span.is-success グリーン
          td: span.is-warning オレンジ
          td: span.is-danger レッド
  .group.is-scroll-x
    table.table.is-border.is-center.is-nowrap.is-sm
      tbody
        tr.box.is-stripe
          td.box.is-paint(width="150") Add Class
          td .is-normal
          td .is-strong
        tr
          td.box.is-paint Text Weight
          td.is-normal 300
          td.is-strong 700
  .group.is-scroll-x
    table.table.is-border.is-center.is-nowrap.is-sm
      tbody
        tr.box.is-stripe
          td.box.is-paint(width="150") Add Class
          td .is-weight-100
          td .is-weight-200
          td .is-weight-300
          td .is-weight-400
          td .is-weight-500
          td .is-weight-700
          td .is-weight-900
        tr
          td.box.is-paint Text Weight
          td.is-weight-100 100
          td.is-weight-200 200
          td.is-weight-300 300
          td.is-weight-400 400
          td.is-weight-500 500
          td.is-weight-700 700
          td.is-weight-900 900
  .group.is-scroll-x
    table.table.is-border.is-center.is-nowrap.is-sm
      tbody
        tr.box.is-stripe
          td.box.is-paint(width="150") Add Class
          td .is-italic
          td .is-delete
          td .is-capitalize
          td .is-lowercase
          td .is-uppercase
        tr
          td.box.is-paint Text Style
          td.is-italic イタリック
          td.is-delete 打ち消し
          td.is-capitalize capitalize
          td.is-lowercase lowercase
          td.is-uppercase uppercase
  .group.is-scroll-x
    table.table.is-border.is-center.is-nowrap.is-sm
      tbody
        tr.box.is-stripe
          td.box.is-paint(width="150") Add Class
          td .is-left
          td .is-center
          td .is-right
          td .is-justify
          td .is-baseline
          td .is-top
          td .is-middle
          td .is-bottom
        tr
          td.box.is-paint Text Align
          td.is-left left
          td.is-center center
          td.is-right right
          td.is-justify justify
          td.is-baseline baseline
          td.is-top top
          td.is-middle middle
          td.is-bottom bottom
  .group.is-scroll-x
    table.table.is-border.is-center.is-nowrap.is-sm
      tbody
        tr.box.is-stripe
          td.box.is-paint(width="150") Add Class
          td.is-nowrap .is-nowrap
          td.is-break .is-break
        tr
          td.box.is-paint Function
          td.is-nowrap 文字が端で折り返さない
          td.is-break 文字が端で折り返す
  .group.is-scroll-x
    table.table.is-border.is-center.is-nowrap.is-sm
      tbody
        tr.box.is-stripe
          td.box.is-paint(width="150") Add Class
          td .is-centering
          td .is-scroll-x
          td .is-ellipsis
        tr
          td.box.is-paint Function
          td ブロック要素を中央寄せ
          td 直下のコンテンツを横スクロール
          td 3点リーダーで省略