//----------------------------------------------------
//- Parts: Display
//----------------------------------------------------

.groups
  h3.heading.is-xl Display
  p.texts.is-sm
    | Displayのプロパティを変更するUtilityを、ほぼすべてのモジュールに対して使えます。
  .group.is-scroll-x
    table.table.is-border.is-center.is-nowrap.is-sm
      tbody
        tr.box.is-stripe
          td.box.is-paint(width="150") Add Class
          td .is-block
          td .is-inline
          td .is-inline-block
          td .is-none
        tr
          td.box.is-paint Function
          td display: block;
          td display: inline;
          td display: inline-block;
          td display: none;

.groups
  h3.heading.is-xl Display - Responsive
  p.texts.is-sm
    code.code .is-(xxxx)-(yy)
    | &nbsp;形式のクラスを加えることでレスポンシブにDisplayプロパティを変化させられます。
  include ../demo/_responsive-display.pug