//----------------------------------------------------
//- Parts: Form
//----------------------------------------------------

.groups
  h3.heading.is-xl Form
  p.texts.is-sm
    | ブラウザデフォルトを拡張する設計ですので、クラスを当てなくても使用できます。
    br
    | 親要素に&nbsp;
    code.code .form
    | &nbsp;を用いることで、他のモジュールとの距離を保つことができます。
  .group.is-wrap.is-preview
    .group
      .grid.is-center
        .col.is-mobile-12.is-tablet-4.is-desktop-3
          .group.is-demo-box-1
            form.form
              .group
                p.heading メールアドレス
                .field
                  input.input.is-mobile-0(type="email" placeholder="example@gmail.com")
              .group
                p.heading パスワード
                .field
                  input.input.is-mobile-0(type="password")
              .group
                label
                  input.input(type="checkbox" name="checkbox-default")
                  span.text.is-sm 次回から自動的にログイン
              .group
                .btns
                  input.btn.is-plain.is-success.is-mobile-0(type="submit" value="ログイン")
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <form class="form">
          <div class="group">
            <p class="heading">メールアドレス</p>
            <div class="field">
              <input class="input is-mobile-0" type="email" placeholder="example@gmail.com">
            </div>
          </div>
          <div class="group">
            <p class="heading">パスワード</p>
            <div class="field">
              <input class="input is-mobile-0" type="password">
            </div>
          </div>
          <div class="group">
            <label>
              <input class="input" type="checkbox">
              <span class="text is-sm">次回から自動的にログイン</span>
            </label>
          </div>
          <div class="group">
            <div class="btns">
              <input class="btn is-plain is-success is-full" type="submit" value="ログイン">
            </div>
          </div>
        </form>
        ```

.groups
  h4.heading.is-xl Form - Field
  p.texts.is-sm
    | フォームパーツを&nbsp;
    code.code .field
    | &nbsp;で囲むと横並びや可変に対応します。
    br
    code.code .is-(xxxx)-full
    | &nbsp;で100%、&nbsp;
    code.code .is-(xxxx)-0
    | &nbsp;で等分、&nbsp;
    code.code .is-(xxxx)-auto
    | &nbsp;で本来のサイズに戻せます。
    br
    code.code .is-middle
    | &nbsp;を付与し天地中央寄せで並べることも可能です。
  .group.is-scroll-x
    table.table.is-sm.is-center.is-nowrap.is-middle.is-border
      thead
        tr.box.is-paint
          th(width="80")
          th
            p
              i.fas.fa-mobile(aria-hidden="true")
              span.text Mobile
              br
              span.text.is-sm all
          th
            p
              i.fas.fa-mobile(aria-hidden="true")
              span.text Fablet
              br
              span.text.is-sm 576px ~
          th
            p
              i.fas.fa-tablet(aria-hidden="true")
              span.text Tablet
              br
              span.text.is-sm 768px ~
          th
            p
              i.fas.fa-laptop(aria-hidden="true")
              span.text Desktop
              br
              span.text.is-sm 992px ~
          th
            p
              i.fas.fa-desktop(aria-hidden="true")
              span.text Wide
              br
              span.text.is-sm 1200px ~
      tbody
        tr
          td
            p.text.is-sm
              | 100%に広がる
          td
            p
              span.text .is-mobile-full
          td
            p
              span.text .is-fablet-full
          td
            p
              span.text .is-tablet-full
          td
            p
              span.text .is-desktop-full
          td
            p
              span.text .is-wide-full
        tr
          td
            p.text.is-sm
              | 余白を等分しつつ広がる
          td
            p
              span.text .is-mobile-0
          td
            p
              span.text .is-fablet-0
          td
            p
              span.text .is-tablet-0
          td
            p
              span.text .is-desktop-0
          td
            p
              span.text .is-wide-0
        tr
          td
            p.text.is-sm
              | 本来のサイズに戻る
          td
            p
              span.text .is-mobile-auto
          td
            p
              span.text .is-fablet-auto
          td
            p
              span.text .is-tablet-auto
          td
            p
              span.text .is-desktop-auto
          td
            p
              span.text .is-wide-auto
  .group.is-wrap.is-preview
    form.form
      .group
        p.heading Desktopサイズまでは入力枠がフルサイズ↓
        .field
          input.input.is-mobile-full.is-desktop-auto(type="text" placeholder="Text")
          input.input.is-mobile-full.is-desktop-auto(type="text" placeholder="Text")
      .group
        p.heading 誕生日：
        .field
          select.select
            option 2017
            option 2016
            option 2015
            option 2014
          select.select
            option 1
            option 2
            option 3
            option 4
            option 5
            option 6
            option 7
            option 8
            option 9
            option 10
          select.select
            option 1
            option 2
            option 3
            option 4
            option 5
            option 6
            option 7
            option 8
            option 9
            option 10
      .group
        .field.is-middle
          p.heading 性別：
          select.select
            option 男性
            option 女性
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <form class="form">
          <div class="group">
            <p class="heading">Desktopサイズまでは入力枠がフルサイズ↓</p>
            <div class="field">
              <input class="input is-mobile-full is-desktop-auto" type="text" placeholder="Text">
              <input class="input is-mobile-full is-desktop-auto" type="text" placeholder="Text">
            </div>
          </div>
          <div class="group">
            <p class="heading">誕生日</p>
            <div class="field is-middle">
              <select class="select">
                <option>2017</option>
                <option>2016</option>
                ...
              </select>
              <select class="select">
                <option>1</option>
                <option>2</option>
                ...
              </select>
              <select class="select">
                <option>1</option>
                <option>2</option>
                ...
              </select>
            </div>
          </div>
          <div class="group">
            <div class="field is-middle">
              <p class="heading">性別：</p>
              <select class="select">
                <option>男性</option>
                <option>女性</option>
              </select>
            </div>
          </div>
        </form>
        ```

.groups
  h4.heading.is-xl Form - Parts
  p.texts.is-sm
    | フォームの各パーツは、対応しているHTMLタグの属性と値が使用できます。
  .group.is-wrap.is-preview
    form.form
      fieldset.fieldset
        legend.heading.is-sm TEXT
        .field
          input.input(type="text" placeholder="Text")
          input.input(type="text" placeholder="Disabled" disabled)
          input.input(type="text" value="Readonly" readonly)
      fieldset.fieldset
        legend.heading.is-sm SEARCH
        .field
          input.input(type="search" placeholder="Search")
          input.input(type="search" placeholder="Search" disabled)
      fieldset.fieldset
        legend.heading.is-sm URL
        .field
          input.input(type="url" placeholder="example.com")
          input.input(type="url" placeholder="example.com" disabled)
      fieldset.fieldset
        legend.heading.is-sm E-MAIL
        .field
          input.input(type="email" placeholder="example@gmail.com")
          input.input(type="email" placeholder="example@gmail.com" disabled)
      fieldset.fieldset
        legend.heading.is-sm TEL
        .field
          input.input(type="tel" size="14" maxlength="12" placeholder="000-000-0000")
          input.input(type="tel" size="14" maxlength="12" placeholder="000-000-0000" disabled)
      fieldset.fieldset
        legend.heading.is-sm PASSWORD
        .field
          input.input(type="password")
          input.input(type="password" disabled)
      fieldset.fieldset
        legend.heading.is-sm DATETIME LOCAL
        .field
          input.input(type="datetime-local" value="2017-02-02T00:00:00")
          input.input(type="datetime-local" value="2017-02-02T00:00:00" disabled)
      fieldset.fieldset
        legend.heading.is-sm DATE
        .field
          input.input(type="date" value="2017-02-02")
          input.input(type="date" value="2017-02-02" disabled)
      fieldset.fieldset
        legend.heading.is-sm MONTH
        .field
          input.input(type="month" value="2017-02")
          input.input(type="month" value="2017-02" disabled)
      //-fieldset.fieldset
        legend.heading.is-sm WEEK
        .field
          input.input(type="week" value="2017-W05")
          input.input(type="week" value="2017-W05" disabled)
      fieldset.fieldset
        legend.heading.is-sm TIME
        .field
          input.input(type="time" value="00:00:00")
          input.input(type="time" value="00:00:00" disabled)
      fieldset.fieldset
        legend.heading.is-sm NUMBER
        .field
          input.input(type="number" step="10")
          input.input(type="number" step="10" disabled)
      fieldset.fieldset
        legend.heading.is-sm FILE
        .field
          input.input(type="file")
          input.input(type="file" disabled)
      fieldset.fieldset
        legend.heading.is-sm COLOR
        .field
          input.input(type="color" value="#1cb4c7")
          input.input(type="color" value="#1cb4c7" disabled)
      fieldset.fieldset
        legend.heading.is-sm RANGE
        .field
          input.input(type="range")
          input.input(type="range" disabled)
      fieldset.fieldset
        legend.heading.is-sm TEXTAREA
        .field
          textarea.textarea
          textarea.textarea(disabled)
      fieldset.fieldset
        legend.heading.is-sm RADIO
        .field
          label
            input.input(type="radio" name="radio-default-1" checked)
            span.text むすびー
          label
            input.input(type="radio" name="radio-default-1")
            span.text むすびい
          label
            input.input(type="radio" name="radio-default-1" disabled)
            span.text むすび
      fieldset.fieldset
        legend.heading.is-sm CHECKBOX
        .field
          label
            input.input(type="checkbox" name="checkbox-default-1" checked)
            span.text HTML
          label
            input.input(type="checkbox" name="checkbox-default-1")
            span.text CSS
          label
            input.input(type="checkbox" name="checkbox-default-1" disabled)
            span.text JS
      fieldset.fieldset
        legend.heading.is-sm SELECT
        .field
          select.select
            option Select A
            option Select B
            option Select C
            option Select D
            option Select E
          select.select(disabled)
            option Select A
            option Select B
            option Select C
            option Select D
            option Select E
      fieldset.fieldset
        legend.heading.is-sm SELECT MULTIPLE
        .field
          select.select(multiple)
            option Select A
            option Select B
            option Select C
            option Select D
            option Select E
          select.select(multiple disabled)
            option Select A
            option Select B
            option Select C
            option Select D
            option Select E
      .btns
        input.btn.is-plain.is-primary(type="button" value="インプットボタン")
        input.btn.is-plain.is-primary(type="button" value="インプットボタン" disabled)
      .btns
        input.btn.is-plain(type="reset")
        input.btn.is-plain(type="reset" disabled)
      .btns
        input.btn.is-plain.is-success(type="submit")
        input.btn.is-plain.is-success(type="submit" disabled)
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <form class="form">
          <fieldset class="fieldset">
            <legend class="heading is-sm">TEXT</legend>
            <div class="field">
              <input class="input" type="text" placeholder="Text">
              <input class="input" type="text" placeholder="Disabled" disabled="">
              <input class="input" type="text" value="Readonly" readonly="">
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="heading is-sm">SEARCH</legend>
            <div class="field">
              <input class="input" type="search" placeholder="Search">
              <input class="input" type="search" placeholder="Search" disabled="">
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="heading is-sm">URL</legend>
            <div class="field">
              <input class="input" type="url" placeholder="example.com">
              <input class="input" type="url" placeholder="example.com" disabled="">
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="heading is-sm">E-MAIL</legend>
            <div class="field">
              <input class="input" type="email" placeholder="example@gmail.com">
              <input class="input" type="email" placeholder="example@gmail.com" disabled="">
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="heading is-sm">TEL</legend>
            <div class="field">
              <input class="input" type="tel" size="14" maxlength="12" placeholder="000-000-0000">
              <input class="input" type="tel" size="14" maxlength="12" placeholder="000-000-0000" disabled="">
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="heading is-sm">PASSWORD</legend>
            <div class="field">
              <input class="input" type="password">
              <input class="input" type="password" disabled="">
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="heading is-sm">DATETIME LOCAL</legend>
            <div class="field">
              <input class="input" type="datetime-local" value="2017-02-02T00:00:00">
              <input class="input" type="datetime-local" value="2017-02-02T00:00:00" disabled="">
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="heading is-sm">DATE</legend>
            <div class="field">
              <input class="input" type="date" value="2017-02-02">
              <input class="input" type="date" value="2017-02-02" disabled="">
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="heading is-sm">MONTH</legend>
            <div class="field">
              <input class="input" type="month" value="2017-02">
              <input class="input" type="month" value="2017-02" disabled="">
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="heading is-sm">TIME</legend>
            <div class="field">
              <input class="input" type="time" value="00:00:00">
              <input class="input" type="time" value="00:00:00" disabled="">
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="heading is-sm">NUMBER</legend>
            <div class="field">
              <input class="input" type="number" step="10">
              <input class="input" type="number" step="10" disabled="">
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="heading is-sm">FILE</legend>
            <div class="field">
              <input class="input" type="file">
              <input class="input" type="file" disabled="">
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="heading is-sm">COLOR</legend>
            <div class="field">
              <input class="input" type="color" value="#1cb4c7">
              <input class="input" type="color" value="#1cb4c7" disabled="">
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="heading is-sm">RANGE</legend>
            <div class="field">
              <input class="input" type="range">
              <input class="input" type="range" disabled="">
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="heading is-sm">TEXTAREA</legend>
            <div class="field">
              <textarea class="textarea"></textarea>
              <textarea class="textarea" disabled=""></textarea>
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="heading is-sm">RADIO</legend>
            <div class="field">
              <label>
                <input class="input" type="radio" name="radio-default-1" checked=""><span class="text">むすびー</span>
              </label>
              <label>
                <input class="input" type="radio" name="radio-default-1"><span class="text">むすびい</span>
              </label>
              <label>
                <input class="input" type="radio" name="radio-default-1" disabled=""><span class="text">むすび</span>
              </label>
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="heading is-sm">CHECKBOX</legend>
            <div class="field">
              <label>
                <input class="input" type="checkbox" name="checkbox-default-1" checked=""><span class="text">HTML</span>
              </label>
              <label>
                <input class="input" type="checkbox" name="checkbox-default-1"><span class="text">CSS</span>
              </label>
              <label>
                <input class="input" type="checkbox" name="checkbox-default-1" disabled=""><span class="text">JS</span>
              </label>
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="heading is-sm">SELECT</legend>
            <div class="field">
              <select class="select">
                <option>Select A</option>
                <option>Select B</option>
                <option>Select C</option>
                <option>Select D</option>
                <option>Select E</option>
              </select>
              <select class="select" disabled="">
                <option>Select A</option>
                <option>Select B</option>
                <option>Select C</option>
                <option>Select D</option>
                <option>Select E</option>
              </select>
            </div>
          </fieldset>
          <fieldset class="fieldset">
            <legend class="heading is-sm">SELECT MULTIPLE</legend>
            <div class="field">
              <select class="select" multiple="">
                <option>Select A</option>
                <option>Select B</option>
                <option>Select C</option>
                <option>Select D</option>
                <option>Select E</option>
              </select>
              <select class="select" multiple="" disabled="">
                <option>Select A</option>
                <option>Select B</option>
                <option>Select C</option>
                <option>Select D</option>
                <option>Select E</option>
              </select>
            </div>
          </fieldset>
          <div class="btns">
            <input class="btn is-plain is-primary" type="button" value="インプットボタン">
            <input class="btn is-plain is-primary" type="button" value="インプットボタン" disabled="">
          </div>
          <div class="btns">
            <input class="btn is-plain" type="reset">
            <input class="btn is-plain" type="reset" disabled="">
          </div>
          <div class="btns">
            <input class="btn is-plain is-success" type="submit">
            <input class="btn is-plain is-success" type="submit" disabled="">
          </div>
        </form>
        ```