//----------------------------------------------------
//- Parts: Form
//----------------------------------------------------

.groups
  h3.heading.is-xl Form
  p.texts.is-sm
    | ブラウザデフォルトを拡張する設計ですので、クラスを当てなくても使用できます。
    br
    | 親要素に&nbsp;
    code.code .form
    | &nbsp;を用いることで、他のモジュールとの距離を保つことができます。
  .group.is-wrap.is-preview
    .group
      .grid.is-center
        .col.is-mobile-12.is-tablet-4.is-desktop-3
          .group.is-demo-box-1
            form.form
              .group
                p.heading メールアドレス
                .field
                  input.input.is-mobile-0(type="email" placeholder="example@gmail.com")
              .group
                p.heading パスワード
                .field
                  input.input.is-mobile-0(type="password")
              .group
                label
                  input.input(type="checkbox" name="checkbox-default")
                  span.text.is-sm 次回から自動的にログイン
              .group
                .btns
                  input.btn.is-plain.is-success.is-mobile-0(type="submit" value="ログイン")
    pre.pre
      code.code.html.
        &lt;form class=&quot;form&quot;&gt;
          &lt;div class=&quot;group&quot;&gt;
            &lt;p class=&quot;heading&quot;&gt;メールアドレス&lt;/p&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;input class=&quot;input is-mobile-0&quot; type=&quot;email&quot; placeholder=&quot;example@gmail.com&quot;&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;group&quot;&gt;
            &lt;p class=&quot;heading&quot;&gt;パスワード&lt;/p&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;input class=&quot;input is-mobile-0&quot; type=&quot;password&quot;&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;group&quot;&gt;
            &lt;label&gt;
              &lt;input class=&quot;input&quot; type=&quot;checkbox&quot;&gt;
              &lt;span class=&quot;text is-sm&quot;&gt;次回から自動的にログイン&lt;/span&gt;
            &lt;/label&gt;
          &lt;/div&gt;
          &lt;div class=&quot;group&quot;&gt;
            &lt;div class=&quot;btns&quot;&gt;
              &lt;input class=&quot;btn is-plain is-success is-full&quot; type=&quot;submit&quot; value=&quot;ログイン&quot;&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/form&gt;

.groups
  h4.heading.is-xl Form - Field
  p.texts.is-sm
    | フォームパーツを&nbsp;
    code.code .field
    | &nbsp;で囲むと横並びや可変に対応します。
    br
    code.code .is-(xxxx)-full
    | &nbsp;で100%、&nbsp;
    code.code .is-(xxxx)-0
    | &nbsp;で等分、&nbsp;
    code.code .is-(xxxx)-auto
    | &nbsp;で本来のサイズに戻せます。
    br
    code.code .is-middle
    | &nbsp;を付与し天地中央寄せで並べることも可能です。
  .group.is-scroll-x
    table.table.is-sm.is-center.is-nowrap.is-middle.is-border
      thead
        tr.box.is-paint
          th(width="80")
          th
            p
              i.fa.fa-mobile(aria-hidden="true")
              span.text Mobile
              br
              span.text.is-sm all
          th
            p
              i.fa.fa-mobile(aria-hidden="true")
              span.text Fablet
              br
              span.text.is-sm 576px ~
          th
            p
              i.fa.fa-tablet(aria-hidden="true")
              span.text Tablet
              br
              span.text.is-sm 768px ~
          th
            p
              i.fa.fa-laptop(aria-hidden="true")
              span.text Desktop
              br
              span.text.is-sm 992px ~
          th
            p
              i.fa.fa-desktop(aria-hidden="true")
              span.text Wide
              br
              span.text.is-sm 1200px ~
      tbody
        tr
          td
            p.text.is-sm
              | 100%に広がる
          td
            p
              span.text .is-mobile-full
          td
            p
              span.text .is-fablet-full
          td
            p
              span.text .is-tablet-full
          td
            p
              span.text .is-desktop-full
          td
            p
              span.text .is-wide-full
        tr
          td
            p.text.is-sm
              | 余白を等分しつつ広がる
          td
            p
              span.text .is-mobile-0
          td
            p
              span.text .is-fablet-0
          td
            p
              span.text .is-tablet-0
          td
            p
              span.text .is-desktop-0
          td
            p
              span.text .is-wide-0
        tr
          td
            p.text.is-sm
              | 本来のサイズに戻る
          td
            p
              span.text .is-mobile-auto
          td
            p
              span.text .is-fablet-auto
          td
            p
              span.text .is-tablet-auto
          td
            p
              span.text .is-desktop-auto
          td
            p
              span.text .is-wide-auto
  .group.is-wrap.is-preview
    form.form
      .group
        p.heading Desktopサイズまでは入力枠がフルサイズ↓
        .field
          input.input.is-mobile-full.is-desktop-auto(type="text" placeholder="Text")
          input.input.is-mobile-full.is-desktop-auto(type="text" placeholder="Text")
      .group
        p.heading 誕生日：
        .field
          select.select
            option 2017
            option 2016
            option 2015
            option 2014
          select.select
            option 1
            option 2
            option 3
            option 4
            option 5
            option 6
            option 7
            option 8
            option 9
            option 10
          select.select
            option 1
            option 2
            option 3
            option 4
            option 5
            option 6
            option 7
            option 8
            option 9
            option 10
      .group
        .field.is-middle
          p.heading 性別：
          select.select
            option 男性
            option 女性
    pre.pre
      code.code.html.
        &lt;form class=&quot;form&quot;&gt;
          &lt;div class=&quot;group&quot;&gt;
            &lt;p class=&quot;heading&quot;&gt;Desktopサイズまでは入力枠がフルサイズ↓&lt;/p&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;input class=&quot;input is-mobile-full is-desktop-auto&quot; type=&quot;text&quot; placeholder=&quot;Text&quot;&gt;
              &lt;input class=&quot;input is-mobile-full is-desktop-auto&quot; type=&quot;text&quot; placeholder=&quot;Text&quot;&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;group&quot;&gt;
            &lt;p class=&quot;heading&quot;&gt;誕生日&lt;/p&gt;
            &lt;div class=&quot;field is-middle&quot;&gt;
              &lt;select class=&quot;select&quot;&gt;
                &lt;option&gt;2017&lt;/option&gt;
                &lt;option&gt;2016&lt;/option&gt;
                ...
              &lt;/select&gt;
              &lt;select class=&quot;select&quot;&gt;
                &lt;option&gt;1&lt;/option&gt;
                &lt;option&gt;2&lt;/option&gt;
                ...
              &lt;/select&gt;
              &lt;select class=&quot;select&quot;&gt;
                &lt;option&gt;1&lt;/option&gt;
                &lt;option&gt;2&lt;/option&gt;
                ...
              &lt;/select&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;group&quot;&gt;
            &lt;div class=&quot;field is-middle&quot;&gt;
              &lt;p class=&quot;heading&quot;&gt;性別：&lt;/p&gt;
              &lt;select class=&quot;select&quot;&gt;
                &lt;option&gt;男性&lt;/option&gt;
                &lt;option&gt;女性&lt;/option&gt;
              &lt;/select&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/form&gt;

.groups
  h4.heading.is-xl Form - Parts
  p.texts.is-sm
    | フォームの各パーツは、対応しているHTMLタグの属性と値が使用できます。
  .group.is-wrap.is-preview
    form.form
      fieldset.fieldset
        legend.heading.is-sm TEXT
        .field
          input.input(type="text" placeholder="Text")
          input.input(type="text" placeholder="Disabled" disabled)
          input.input(type="text" value="Readonly" readonly)
      fieldset.fieldset
        legend.heading.is-sm SEARCH
        .field
          input.input(type="search" placeholder="Search")
          input.input(type="search" placeholder="Search" disabled)
      fieldset.fieldset
        legend.heading.is-sm URL
        .field
          input.input(type="url" placeholder="example.com")
          input.input(type="url" placeholder="example.com" disabled)
      fieldset.fieldset
        legend.heading.is-sm E-MAIL
        .field
          input.input(type="email" placeholder="example@gmail.com")
          input.input(type="email" placeholder="example@gmail.com" disabled)
      fieldset.fieldset
        legend.heading.is-sm TEL
        .field
          input.input(type="tel" size="14" maxlength="12" placeholder="000-000-0000")
          input.input(type="tel" size="14" maxlength="12" placeholder="000-000-0000" disabled)
      fieldset.fieldset
        legend.heading.is-sm PASSWORD
        .field
          input.input(type="password")
          input.input(type="password" disabled)
      fieldset.fieldset
        legend.heading.is-sm DATETIME LOCAL
        .field
          input.input(type="datetime-local" value="2017-02-02T00:00:00")
          input.input(type="datetime-local" value="2017-02-02T00:00:00" disabled)
      fieldset.fieldset
        legend.heading.is-sm DATE
        .field
          input.input(type="date" value="2017-02-02")
          input.input(type="date" value="2017-02-02" disabled)
      fieldset.fieldset
        legend.heading.is-sm MONTH
        .field
          input.input(type="month" value="2017-02")
          input.input(type="month" value="2017-02" disabled)
      //-fieldset.fieldset
        legend.heading.is-sm WEEK
        .field
          input.input(type="week" value="2017-W05")
          input.input(type="week" value="2017-W05" disabled)
      fieldset.fieldset
        legend.heading.is-sm TIME
        .field
          input.input(type="time" value="00:00:00")
          input.input(type="time" value="00:00:00" disabled)
      fieldset.fieldset
        legend.heading.is-sm NUMBER
        .field
          input.input(type="number" step="10")
          input.input(type="number" step="10" disabled)
      fieldset.fieldset
        legend.heading.is-sm FILE
        .field
          input.input(type="file")
          input.input(type="file" disabled)
      fieldset.fieldset
        legend.heading.is-sm COLOR
        .field
          input.input(type="color" value="#1cb4c7")
          input.input(type="color" value="#1cb4c7" disabled)
      fieldset.fieldset
        legend.heading.is-sm RANGE
        .field
          input.input(type="range")
          input.input(type="range" disabled)
      fieldset.fieldset
        legend.heading.is-sm TEXTAREA
        .field
          textarea.textarea
          textarea.textarea(disabled)
      fieldset.fieldset
        legend.heading.is-sm RADIO
        .field
          label
            input.input(type="radio" name="radio-default-1" checked)
            span.text むすびー
          label
            input.input(type="radio" name="radio-default-1")
            span.text むすびい
          label
            input.input(type="radio" name="radio-default-1" disabled)
            span.text むすび
      fieldset.fieldset
        legend.heading.is-sm CHECKBOX
        .field
          label
            input.input(type="checkbox" name="checkbox-default-1" checked)
            span.text HTML
          label
            input.input(type="checkbox" name="checkbox-default-1")
            span.text CSS
          label
            input.input(type="checkbox" name="checkbox-default-1" disabled)
            span.text JS
      fieldset.fieldset
        legend.heading.is-sm SELECT
        .field
          select.select
            option Select A
            option Select B
            option Select C
            option Select D
            option Select E
          select.select(disabled)
            option Select A
            option Select B
            option Select C
            option Select D
            option Select E
      fieldset.fieldset
        legend.heading.is-sm SELECT MULTIPLE
        .field
          select.select(multiple)
            option Select A
            option Select B
            option Select C
            option Select D
            option Select E
          select.select(multiple disabled)
            option Select A
            option Select B
            option Select C
            option Select D
            option Select E
      .btns
        input.btn.is-plain.is-primary(type="button" value="インプットボタン")
        input.btn.is-plain.is-primary(type="button" value="インプットボタン" disabled)
      .btns
        input.btn.is-plain(type="reset")
        input.btn.is-plain(type="reset" disabled)
      .btns
        input.btn.is-plain.is-success(type="submit")
        input.btn.is-plain.is-success(type="submit" disabled)
    pre.pre
      code.code.html.
        &lt;form class=&quot;form&quot;&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;TEXT&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;text&quot; placeholder=&quot;Text&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;text&quot; placeholder=&quot;Disabled&quot; disabled=&quot;&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;text&quot; value=&quot;Readonly&quot; readonly=&quot;&quot;&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;SEARCH&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;search&quot; placeholder=&quot;Search&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;search&quot; placeholder=&quot;Search&quot; disabled=&quot;&quot;&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;URL&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;url&quot; placeholder=&quot;example.com&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;url&quot; placeholder=&quot;example.com&quot; disabled=&quot;&quot;&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;E-MAIL&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;email&quot; placeholder=&quot;example@gmail.com&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;email&quot; placeholder=&quot;example@gmail.com&quot; disabled=&quot;&quot;&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;TEL&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;tel&quot; size=&quot;14&quot; maxlength=&quot;12&quot; placeholder=&quot;000-000-0000&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;tel&quot; size=&quot;14&quot; maxlength=&quot;12&quot; placeholder=&quot;000-000-0000&quot; disabled=&quot;&quot;&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;PASSWORD&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;password&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;password&quot; disabled=&quot;&quot;&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;DATETIME LOCAL&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;datetime-local&quot; value=&quot;2017-02-02T00:00:00&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;datetime-local&quot; value=&quot;2017-02-02T00:00:00&quot; disabled=&quot;&quot;&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;DATE&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;date&quot; value=&quot;2017-02-02&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;date&quot; value=&quot;2017-02-02&quot; disabled=&quot;&quot;&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;MONTH&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;month&quot; value=&quot;2017-02&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;month&quot; value=&quot;2017-02&quot; disabled=&quot;&quot;&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;TIME&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;time&quot; value=&quot;00:00:00&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;time&quot; value=&quot;00:00:00&quot; disabled=&quot;&quot;&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;NUMBER&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;number&quot; step=&quot;10&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;number&quot; step=&quot;10&quot; disabled=&quot;&quot;&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;FILE&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;file&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;file&quot; disabled=&quot;&quot;&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;COLOR&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;color&quot; value=&quot;#1cb4c7&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;color&quot; value=&quot;#1cb4c7&quot; disabled=&quot;&quot;&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;RANGE&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;range&quot;&gt;
              &lt;input class=&quot;input&quot; type=&quot;range&quot; disabled=&quot;&quot;&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;TEXTAREA&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;textarea class=&quot;textarea&quot;&gt;&lt;/textarea&gt;
              &lt;textarea class=&quot;textarea&quot; disabled=&quot;&quot;&gt;&lt;/textarea&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;RADIO&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;label&gt;
                &lt;input class=&quot;input&quot; type=&quot;radio&quot; name=&quot;radio-default-1&quot; checked=&quot;&quot;&gt;&lt;span class=&quot;text&quot;&gt;むすびー&lt;/span&gt;
              &lt;/label&gt;
              &lt;label&gt;
                &lt;input class=&quot;input&quot; type=&quot;radio&quot; name=&quot;radio-default-1&quot;&gt;&lt;span class=&quot;text&quot;&gt;むすびい&lt;/span&gt;
              &lt;/label&gt;
              &lt;label&gt;
                &lt;input class=&quot;input&quot; type=&quot;radio&quot; name=&quot;radio-default-1&quot; disabled=&quot;&quot;&gt;&lt;span class=&quot;text&quot;&gt;むすび&lt;/span&gt;
              &lt;/label&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;CHECKBOX&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;label&gt;
                &lt;input class=&quot;input&quot; type=&quot;checkbox&quot; name=&quot;checkbox-default-1&quot; checked=&quot;&quot;&gt;&lt;span class=&quot;text&quot;&gt;HTML&lt;/span&gt;
              &lt;/label&gt;
              &lt;label&gt;
                &lt;input class=&quot;input&quot; type=&quot;checkbox&quot; name=&quot;checkbox-default-1&quot;&gt;&lt;span class=&quot;text&quot;&gt;CSS&lt;/span&gt;
              &lt;/label&gt;
              &lt;label&gt;
                &lt;input class=&quot;input&quot; type=&quot;checkbox&quot; name=&quot;checkbox-default-1&quot; disabled=&quot;&quot;&gt;&lt;span class=&quot;text&quot;&gt;JS&lt;/span&gt;
              &lt;/label&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;SELECT&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;select class=&quot;select&quot;&gt;
                &lt;option&gt;Select A&lt;/option&gt;
                &lt;option&gt;Select B&lt;/option&gt;
                &lt;option&gt;Select C&lt;/option&gt;
                &lt;option&gt;Select D&lt;/option&gt;
                &lt;option&gt;Select E&lt;/option&gt;
              &lt;/select&gt;
              &lt;select class=&quot;select&quot; disabled=&quot;&quot;&gt;
                &lt;option&gt;Select A&lt;/option&gt;
                &lt;option&gt;Select B&lt;/option&gt;
                &lt;option&gt;Select C&lt;/option&gt;
                &lt;option&gt;Select D&lt;/option&gt;
                &lt;option&gt;Select E&lt;/option&gt;
              &lt;/select&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;fieldset class=&quot;fieldset&quot;&gt;
            &lt;legend class=&quot;heading is-sm&quot;&gt;SELECT MULTIPLE&lt;/legend&gt;
            &lt;div class=&quot;field&quot;&gt;
              &lt;select class=&quot;select&quot; multiple=&quot;&quot;&gt;
                &lt;option&gt;Select A&lt;/option&gt;
                &lt;option&gt;Select B&lt;/option&gt;
                &lt;option&gt;Select C&lt;/option&gt;
                &lt;option&gt;Select D&lt;/option&gt;
                &lt;option&gt;Select E&lt;/option&gt;
              &lt;/select&gt;
              &lt;select class=&quot;select&quot; multiple=&quot;&quot; disabled=&quot;&quot;&gt;
                &lt;option&gt;Select A&lt;/option&gt;
                &lt;option&gt;Select B&lt;/option&gt;
                &lt;option&gt;Select C&lt;/option&gt;
                &lt;option&gt;Select D&lt;/option&gt;
                &lt;option&gt;Select E&lt;/option&gt;
              &lt;/select&gt;
            &lt;/div&gt;
          &lt;/fieldset&gt;
          &lt;div class=&quot;btns&quot;&gt;
            &lt;input class=&quot;btn is-plain is-primary&quot; type=&quot;button&quot; value=&quot;インプットボタン&quot;&gt;
            &lt;input class=&quot;btn is-plain is-primary&quot; type=&quot;button&quot; value=&quot;インプットボタン&quot; disabled=&quot;&quot;&gt;
          &lt;/div&gt;
          &lt;div class=&quot;btns&quot;&gt;
            &lt;input class=&quot;btn is-plain&quot; type=&quot;reset&quot;&gt;
            &lt;input class=&quot;btn is-plain&quot; type=&quot;reset&quot; disabled=&quot;&quot;&gt;
          &lt;/div&gt;
          &lt;div class=&quot;btns&quot;&gt;
            &lt;input class=&quot;btn is-plain is-success&quot; type=&quot;submit&quot;&gt;
            &lt;input class=&quot;btn is-plain is-success&quot; type=&quot;submit&quot; disabled=&quot;&quot;&gt;
          &lt;/div&gt;
        &lt;/form&gt;
