//----------------------------------------------------
//- Parts: Grid
//----------------------------------------------------

.groups
  h3.heading.is-xl Grid
  p.texts.is-sm
    | Flexboxを用いた12分割+αのグリッドシステムです。付与するクラス名によって、カラム幅の比率・配置の調整が可能になっています。
    br
    | 要素を、&nbsp;
    code.code .group
    | &nbsp;>&nbsp;
    code.code .grid
    | &nbsp;>&nbsp;
    code.code .col
    | &nbsp;の順に書くのが基本構造です。
    code.code .grid
    | &nbsp;と&nbsp;
    code.code .col
    | &nbsp;には状態を表すクラスを付与します。
  .group.is-wrap.is-preview.is-strong
    .group
      .grid
        - for (var i = 1; i <= 3; i++)
          .col.is-mobile-12.is-desktop-4
            .group.is-demo-box-1.is-primary.is-center.is-round
              | .col .is-mobile-12 .is-desktop-4
    //-button.btn.is-demo-code.is-round.is-outline.is-xxs(title="View Code" type="button")
      i.fa.fa-code.is-dark-5(aria-hidden="true")
      span.text.is-dark-5 HTML
    pre.pre
      code.code.html.
        &lt;div class=&quot;group&quot;&gt;
          &lt;div class=&quot;grid&quot;&gt;
            &lt;div class=&quot;col is-mobile-12 is-desktop-4&quot;&gt;
              ...
            &lt;/div&gt;
            &lt;div class=&quot;col is-mobile-12 is-desktop-4&quot;&gt;
              ...
            &lt;/div&gt;
            &lt;div class=&quot;col is-mobile-12 is-desktop-4&quot;&gt;
              ...
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;

.groups
  h4.heading.is-xl Grid - Arrangement
  p.texts.is-sm
    | グリッド内の配置をFlexboxのプロパティで調整することができます。
    br
    | 使用するには、&nbsp;
    code.code .grid
    | &nbsp;に&nbsp;
    code.code .is-center
    | &nbsp;（横中央寄せ）や&nbsp;
    code.code .is-between
    | &nbsp;（等間隔）などの対応したクラスを付与します。
  .group.is-wrap.is-preview.is-strong
    .group.is-demo-box-3.is-grey.is-round
      .grid.is-demo-box-1.is-height-1.is-middle
        .col
          .group.is-demo-box-3.is-primary.is-round .is-middle
        .col
          .group.is-demo-box-3.is-primary.is-round .is-middle
    //-button.btn.is-demo-code.is-round.is-outline.is-xxs(title="View Code" type="button")
      i.fa.fa-code.is-dark-5(aria-hidden="true")
      span.text.is-dark-5 HTML
    pre.pre
      code.code.html.
        &lt;div class=&quot;group&quot;&gt;
          &lt;div class=&quot;grid is-middle&quot;&gt;
            &lt;div class=&quot;col&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
    .group.group.is-demo-box-3.is-grey.is-round
      .grid.is-demo-box-1.is-height-1.is-bottom
        .col
          .group.is-demo-box-3.is-primary.is-round .is-bottom
        .col
          .group.is-demo-box-3.is-primary.is-round .is-bottom
    //-button.btn.is-demo-code.is-round.is-outline.is-xxs(title="View Code" type="button")
      i.fa.fa-code.is-dark-5(aria-hidden="true")
      span.text.is-dark-5 HTML
    pre.pre
      code.code.html.
        &lt;div class=&quot;group&quot;&gt;
          &lt;div class=&quot;grid is-bottom&quot;&gt;
            &lt;div class=&quot;col&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
    .group.group.is-demo-box-3.is-grey.is-round
      .grid.is-demo-box-1.is-center
        .col
          .group.is-demo-box-3.is-primary.is-round .is-center
        .col
          .group.is-demo-box-3.is-primary.is-round .is-center
    //-button.btn.is-demo-code.is-round.is-outline.is-xxs(title="View Code" type="button")
      i.fa.fa-code.is-dark-5(aria-hidden="true")
      span.text.is-dark-5 HTML
    pre.pre
      code.code.html.
        &lt;div class=&quot;group&quot;&gt;
          &lt;div class=&quot;grid is-center&quot;&gt;
            &lt;div class=&quot;col&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
    .group.group.is-demo-box-3.is-grey.is-round
      .grid.is-demo-box-1.is-right
        .col
          .group.is-demo-box-3.is-primary.is-round .is-right
        .col
          .group.is-demo-box-3.is-primary.is-round .is-right
    //-button.btn.is-demo-code.is-round.is-outline.is-xxs(title="View Code" type="button")
      i.fa.fa-code.is-dark-5(aria-hidden="true")
      span.text.is-dark-5 HTML
    pre.pre
      code.code.html.
        &lt;div class=&quot;group&quot;&gt;
          &lt;div class=&quot;grid is-right&quot;&gt;
            &lt;div class=&quot;col&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
    .group.group.is-demo-box-3.is-grey.is-round
      .grid.is-demo-box-1.is-between
        .col
          .group.is-demo-box-3.is-primary.is-round .is-between
        .col
          .group.is-demo-box-3.is-primary.is-round .is-between
    //-button.btn.is-demo-code.is-round.is-outline.is-xxs(title="View Code" type="button")
      i.fa.fa-code.is-dark-5(aria-hidden="true")
      span.text.is-dark-5 HTML
    pre.pre
      code.code.html.
        &lt;div class=&quot;group&quot;&gt;
          &lt;div class=&quot;grid is-between&quot;&gt;
            &lt;div class=&quot;col&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
    .group.group.is-demo-box-3.is-grey.is-round
      .grid.is-demo-box-1.is-around
        .col
          .group.is-demo-box-3.is-primary.is-round .is-around
        .col
          .group.is-demo-box-3.is-primary.is-round .is-around
    //-button.btn.is-demo-code.is-round.is-outline.is-xxs(title="View Code" type="button")
      i.fa.fa-code.is-dark-5(aria-hidden="true")
      span.text.is-dark-5 HTML
    pre.pre
      code.code.html.
        &lt;div class=&quot;group&quot;&gt;
          &lt;div class=&quot;grid is-around&quot;&gt;
            &lt;div class=&quot;col&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;

.groups
  h4.heading.is-xl Grid - Responsive
  p.texts.is-sm
    | カラム幅の比率を変更するには、&nbsp;
    code.code .col
    | &nbsp;にサイズを表すクラス名を付与します。サイズは、ディスプレイサイズごとにモバイルファーストな設定が可能です。
  .group.is-scroll-x
    table.table.is-sm.is-center.is-nowrap.is-middle.is-border
      thead
        tr.box.is-paint
          th(width="80")
          th
            p
              i.fa.fa-mobile(aria-hidden="true")
              span.text Mobile
              br
              span.text.is-sm all
          th
            p
              i.fa.fa-mobile(aria-hidden="true")
              span.text Fablet
              br
              span.text.is-sm 576px ~
          th
            p
              i.fa.fa-tablet(aria-hidden="true")
              span.text Tablet
              br
              span.text.is-sm 768px ~
          th
            p
              i.fa.fa-laptop(aria-hidden="true")
              span.text Desktop
              br
              span.text.is-sm 992px ~
          th
            p
              i.fa.fa-desktop(aria-hidden="true")
              span.text Wide
              br
              span.text.is-sm 1200px ~
      tbody
        tr
          td
            p.text.is-sm
              | カラムの比率保持
          td
            p
              span.text .is-mobile-1
              br
              span.text |
              br
              span.text .is-mobile-12
          td
            p
              span.text .is-fablet-1
              br
              span.text |
              br
              span.text .is-fablet-12
          td
            p
              span.text .is-tablet-1
              br
              span.text |
              br
              span.text .is-tablet-12
          td
            p
              span.text .is-desktop-1
              br
              span.text |
              br
              span.text .is-desktop-12
          td
            p
              span.text .is-wide-1
              br
              span.text |
              br
              span.text .is-wide-12
        tr
          td
            p.text.is-sm
              | 残っている余白
              br
              | いっぱいに広がり等分
          td
            p
              span.text .is-mobile-0
          td
            p
              span.text .is-fablet-0
          td
            p
              span.text .is-tablet-0
          td
            p
              span.text .is-desktop-0
          td
            p
              span.text .is-wide-0
        tr
          td
            p.text.is-sm
              | 子要素の
              br
              | サイズに縮む
          td
            p
              span.text .is-mobile-auto
          td
            p
              span.text .is-fablet-auto
          td
            p
              span.text .is-tablet-auto
          td
            p
              span.text .is-desktop-auto
          td
            p
              span.text .is-wide-auto
  .group.is-wrap.is-preview.is-strong
    .group
      - for (var i = 1; i <= 12; i++)
        .grid
          .col.is-stretch(class="is-mobile-"+i)
            .group.is-demo-box-1.is-primary.is-center.is-round
              | #{i}
          .col.is-stretch.is-mobile-0
            .group.is-demo-box-1.is-grey.is-center.is-round
              | 0
    //-button.btn.is-demo-code.is-round.is-outline.is-xxs(title="View Code" type="button")
      i.fa.fa-code.is-dark-5(aria-hidden="true")
      span.text.is-dark-5 HTML
    pre.pre
      code.code.html.
        &lt;div class=&quot;group&quot;&gt;
          &lt;div class=&quot;grid&quot;&gt;
            &lt;div class=&quot;col is-mobile-1&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col is-mobile-0&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;grid&quot;&gt;
            &lt;div class=&quot;col is-mobile-2&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col is-mobile-0&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;grid&quot;&gt;
            &lt;div class=&quot;col is-mobile-3&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col is-mobile-0&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;grid&quot;&gt;
            &lt;div class=&quot;col is-mobile-4&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col is-mobile-0&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;grid&quot;&gt;
            &lt;div class=&quot;col is-mobile-5&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col is-mobile-0&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;grid&quot;&gt;
            &lt;div class=&quot;col is-mobile-6&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col is-mobile-0&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;grid&quot;&gt;
            &lt;div class=&quot;col is-mobile-7&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col is-mobile-0&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;grid&quot;&gt;
            &lt;div class=&quot;col is-mobile-8&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col is-mobile-0&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;grid&quot;&gt;
            &lt;div class=&quot;col is-mobile-9&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col is-mobile-0&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;grid&quot;&gt;
            &lt;div class=&quot;col is-mobile-10&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col is-mobile-0&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;grid&quot;&gt;
            &lt;div class=&quot;col is-mobile-11&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col is-mobile-0&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;grid&quot;&gt;
            &lt;div class=&quot;col is-mobile-12&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col is-mobile-0&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;

.groups
  h4.heading.is-xl Grid - Stretch
  p.texts.is-sm
    | カラムはデフォルトで高さが揃いますが、更に子要素まで高さを揃えるには、&nbsp;
    code.code .grid
    | &nbsp;に&nbsp;
    code.code .is-stretch
    | &nbsp;を付与します。
  .group.is-wrap.is-preview.is-strong
    .group
      .grid.is-stretch
        .col.is-mobile-0
          .group.is-demo-box-1.is-grey.is-center.is-round
            | .is-stretch
            br
            | ↓
            br
            | ↓
            br
            | ↓
        .col.is-mobile-0
          .group.is-demo-box-1.is-primary.is-center.is-round
            | .is-stretch
    //-button.btn.is-demo-code.is-round.is-outline.is-xxs(title="View Code" type="button")
      i.fa.fa-code.is-dark-5(aria-hidden="true")
      span.text.is-dark-5 HTML
    pre.pre
      code.code.html.
        &lt;div class=&quot;group&quot;&gt;
          &lt;div class=&quot;grid is-stretch&quot;&gt;
            &lt;div class=&quot;col&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;

.groups
  h4.heading.is-xl Grid - Gap
  p.texts.is-sm
    | グリッドの溝を消す場合は、&nbsp;
    code.code .grid
    | &nbsp;に&nbsp;
    code.code .is-gap-none
    | &nbsp;を付与します。
  .group.is-wrap.is-preview.is-strong
    .group
      .grid.is-gap-none
        .col.is-mobile-0
          .group.is-demo-box-1.is-grey.is-center
            | .is-gap-none
        .col.is-mobile-0
          .group.is-demo-box-1.is-primary.is-center
            | .is-gap-none
    //-button.btn.is-demo-code.is-round.is-outline.is-xxs(title="View Code" type="button")
      i.fa.fa-code.is-dark-5(aria-hidden="true")
      span.text.is-dark-5 HTML
    pre.pre
      code.code.html.
        &lt;div class=&quot;group&quot;&gt;
          &lt;div class=&quot;grid is-gap-none&quot;&gt;
            &lt;div class=&quot;col&quot;&gt;...&lt;/div&gt;
            &lt;div class=&quot;col&quot;&gt;...&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;