//----------------------------------------------------
//- Parts: Icon
//----------------------------------------------------

.groups
  h3.heading.is-xl Icon
  p.texts.is-sm
    | アイコンの利用については、Font Awesome・Material Icons・IcoMoonなどの利用を想定しています。
    br
    | 要素のタグは&nbsp;
    code.code .fa
    | &nbsp;
    code.code .fas
    | &nbsp;
    code.code .far
    | &nbsp;
    code.code .fal
    | &nbsp;
    code.code .fab
    | &nbsp;
    code.code .material-icons
    | &nbsp;
    code.code .im
    | &nbsp;
    code.code .icon
    | &nbsp;のうち、いずれも同じように使用できます。
    br
    | HTMLソース上で各種アイコンと&nbsp;
    code.code .text
    | &nbsp;が隣り合うと、自動的にmargin-leftが付与され距離が保たれます。
  .group.is-wrap.is-preview
    p.texts.is-xl.is-danger
      i.fa.fa-heart(aria-hidden="true")
      span.text ハート
      i.fa.fa-heart(aria-hidden="true")
      span.text.is-demo-space-filter-2 ハート
      i.fa.fa-heart(aria-hidden="true")
      span.text ハート
      span.icon.is-demo-space-filter-2
        i.fa.fa-heart(aria-hidden="true")
      span.text ハート
      i.fa.fa-heart(aria-hidden="true")
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <p class="texts">
          <i aria-hidden="true" class="fa fa-heart"></i>
          <span class="text">ハート</span>
          <i aria-hidden="true" class="fa fa-heart"></i>
          <span class="text">ハート</span>
          ...
        </p>
        ```

.groups
  h4.heading.is-xl Icon - Fit
  p.texts.is-sm
    | 各種アイコンのタグに&nbsp;
    code.code .is-fit
    | &nbsp;を付与することで、アイコンの領域を一定に統一できます。
  .group.is-wrap.is-preview
    .group
      .grid
        .col
          p.texts.is-xxl
            span.text.is-demo-space-filter-3
              i.fa.fa-institution(aria-hidden="true")
              br
              i.fa.fa-angle-right(aria-hidden="true")
        .col
          p.texts.is-xxl.is-success
            span.text.is-demo-space-filter-3
              i.fa.fa-institution.is-fit(aria-hidden="true")
              br
              i.fa.fa-angle-right.is-fit(aria-hidden="true")
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <p class="texts">
          <i aria-hidden="true" class="fa fa-institution"></i>
          <br/>
          <i aria-hidden="true" class="fa fa-angle-right"></i>
        </p>

        <p class="texts">
          <i aria-hidden="true" class="fa fa-institution is-fit"></i>
          <br/>
          <i aria-hidden="true" class="fa fa-angle-right is-fit"></i>
        </p>
        ```