//----------------------------------------------------
//- Parts: Section
//----------------------------------------------------

.groups
  h3.heading.is-xl Section
  p.texts.is-sm
    | 画面幅100%のブロック要素として使います。
    br
    code.code .section
    | &nbsp;直下に配置する&nbsp;
    code.code .inner
    | &nbsp;には画面幅に応じてレスポンシブな固定幅が設定されます。
  .group.is-wrap
    .group.is-demo-box-2.is-strong.is-primary.is-round.is-centering.is-break.is-section-anime-1
      .grid
        .col.is-mobile-2
          .group.is-demo-box-1
            | .section
        .col.is-mobile-8
          .group.is-demo-box-2.is-grey
            .group.is-demo-box-1.is-height-1
              | .inner
        .col.is-mobile-2
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <div class="section">
          <div class="inner">
            ...
          </div>
        </div>
        ```