//----------------------------------------------------
//- Parts: Section
//----------------------------------------------------

.groups.is-space
  h3.heading.is-xl Section
  p.texts.is-sm
    | 画面幅100%のブロック要素として使います。
    br
    code.code .section
    | &nbsp;直下に配置する&nbsp;
    code.code .inner
    | &nbsp;には画面幅に応じてレスポンシブな固定幅が設定されます。
  .group.is-wrap
    .inner
      .group.is-demo-box-2.is-strong.is-primary.is-round
        .group.is-demo-box-1
          | .section
          .grid.is-gap-none
            .col.is-mobile-1
            .col.is-mobile-10
              .group.is-demo-box-2.is-grey.is-round
                .group.is-demo-box-1.is-height-1
                  | .inner {
                  br
                  | &nbsp;&nbsp;width: 540px, 720px, 960px, 1140px;
                  br
                  | &nbsp;&nbsp;padding: 0 16px;
                  br
                  | }
            .col.is-mobile-1
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <div class="section">
          <div class="inner">
            ...
          </div>
        </div>
        ```
.groups.is-space
  p.texts.is-sm
    code.code .inner-soft
    | &nbsp;を使うと固定幅が無くなります。
  .group.is-wrap
    .inner
      .group.is-demo-box-2.is-strong.is-primary.is-round
        .group.is-demo-box-1
          | .section
          .group.is-demo-box-2.is-grey.is-round
            .group.is-demo-box-1.is-height-1
              | .inner-soft {
              br
              | &nbsp;&nbsp;padding: 0 1em;
              br
              | }
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <div class="section">
          <div class="inner-soft">
            ...
          </div>
        </div>
        ```
.groups.is-space
  p.texts.is-sm
    code.code .inner-view
    | &nbsp;を使うとFablet以上のサイズで幅が割合算出されます。
  .group.is-wrap
    .inner
      .group.is-demo-box-2.is-strong.is-primary.is-round
        .group.is-demo-box-1
          | .section
          .grid.is-gap-none
            .col.is-mobile-1
            .col.is-mobile-10
              .group.is-demo-box-2.is-grey.is-round
                .group.is-demo-box-1.is-height-1
                  | .inner-view {
                  br
                  | &nbsp;&nbsp;width: 90vw;
                  br
                  | &nbsp;&nbsp;padding: 0 1em;
                  br
                  | }
            .col.is-mobile-1
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <div class="section">
          <div class="inner-view">
            ...
          </div>
        </div>
        ```