//----------------------------------------------------
//- Parts: Size
//----------------------------------------------------

.groups
  h3.heading.is-xl Size
  p.texts.is-sm
    | サイズ変更を行うUtilityを、ほぼすべてのモジュールに対して使えます。
  .group.is-scroll-x
    table.table.is-border.is-center.is-nowrap.is-sm
      tbody
        tr.box.is-stripe
          td.box.is-paint(width="150") Add Class
          td .is-xxs
          td .is-xs
          td .is-sm
          td .is-md
          td .is-lg
          td .is-xl
          td .is-xxl
        tr
          td.box.is-paint Change Size
          td 62.5%
          td 75%
          td 87.5%
          td 100%
          td 125%
          td 150%
          td 200%

.groups
  h3.heading.is-xl Size - Responsive
  p.texts.is-sm
    code.code .is-(xxxx)-(yy)
    | &nbsp;形式のクラスを加えることでレスポンシブにサイズを変化させられます。
  include ../demo/_responsive-size.pug