//----------------------------------------------------
//- Parts: Space
//----------------------------------------------------

.groups
  h3.heading.is-xl Space
  p.texts.is-sm
    | ブロック要素を並べた場合に、その組み合わせに応じて後ろのコンテンツに&nbsp;
    code.code margin-top
    | &nbsp;が付与され、コンテンツ間の距離が保たれます。
    br
    | 対応しているクラスは以下の通りです。中でも広く距離を取りたい場合は&nbsp;
    code.code .groups
    | &nbsp;で囲みます。
  .group.is-wrap.is-paint.is-light .groups .group .heading .texts .blockquote .pre .btns .list .table .form .fieldset .field .wysiwyg
  p.texts.is-sm
    | 距離を開けたくない場合や、相互作用をリセットさせたい場合は、以下のようなクラス名で囲みます。
  .group.is-wrap.is-paint.is-light .contents .content .boxs .box
  .group.is-wrap.is-preview
    p.heading.is-xl 見出し
    p.texts.is-ellipsis テキストテキストテキストテキストテキストテキスト
    p.heading.is-xl.is-demo-space-filter-1 見出し
    p.texts.is-ellipsis テキストテキストテキストテキストテキストテキスト
    //-button.btn.is-demo-code.is-round.is-outline.is-xxs(title="View Code" type="button")
      i.fa.fa-code.is-dark-5(aria-hidden="true")
      span.text.is-dark-5 HTML
    pre.pre
      code.code.html.
        &lt;p class=&quot;heading&quot;&gt;見出し&lt;/p&gt;
        &lt;p class=&quot;texts&quot;&gt;テキストテキストテキストテキストテキストテキスト&lt;/p&gt;
        &lt;p class=&quot;heading&quot;&gt;見出し&lt;/p&gt;
        &lt;p class=&quot;texts&quot;&gt;テキストテキストテキストテキストテキストテキスト&lt;/p&gt;