//----------------------------------------------------
//- Parts: Space
//----------------------------------------------------

.groups.is-space
  h3.heading.is-xl Space
  p.texts.is-sm
    code.code .is-space
    | &nbsp;を付与した要素の子要素は自動的に間隔が開きます。
  .group.is-wrap
    .inner
      .group.is-space
        p.heading.is-xl.is-demo-space-filter-1 見出し
        p.texts.is-demo-space-filter-1 テキストテキストテキストテキストテキストテキスト
        p.heading.is-xl.is-demo-space-filter-1 見出し
        p.texts.is-demo-space-filter-1 テキストテキストテキストテキストテキストテキスト
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <div class="group is-space">
          <p class="heading">見出し</p>
          <p class="texts">テキストテキストテキストテキストテキストテキスト</p>
          <p class="heading">見出し</p>
          <p class="texts">テキストテキストテキストテキストテキストテキスト</p>
        </div>
        ```