//----------------------------------------------------
//- Parts: Table
//----------------------------------------------------

.groups
  h3.heading.is-xl Table
  p.texts.is-sm
    | テーブルの装飾には、親要素に&nbsp;
    code.code .table
    | &nbsp;、変化させたい箇所に&nbsp;
    code.code .box
    | &nbsp;を用います。
    br
    | 幅の指定や連結は、HTMLタグへの記述で行います。
  .group.is-wrap.is-preview
    table.table.is-stripe.is-border.is-center.is-middle.is-sm
      thead
        tr.box.is-paint
          th(width="20")
          th 見出しセル
          th 見出しセル
          th(colspan="2") 見出しセル
      tbody
        tr
          td.box.is-paint(rowspan="2") #1
          td データセル
          td データセル
          td データセル
          td データセル
        tr
          td データセル
          td.box.is-spot スポット表示
          td データセル
          td データセル
        tr
          td.box.is-paint #2
          td データセル
          td データセル
          td データセル
          td データセル
        tr
          td.box.is-paint #3
          td データセル
          td データセル
          td.box.is-danger エラー表示
          td データセル
        tr
          td.box.is-paint #4
          td データセル
          td データセル
          td データセル
          td データセル
      tfoot
        tr
          th.box.is-right(colspan="5") テーブルフッター
    pre.pre.is-sm
      code.code.html.
        &lt;table class=&quot;table is-stripe is-border is-center is-middle&quot;&gt;
          &lt;thead&gt;
            &lt;tr class=&quot;box is-paint&quot;&gt;
              &lt;th width=&quot;20&quot;&gt;&lt;/th&gt;
              &lt;th&gt;見出しセル&lt;/th&gt;
              &lt;th&gt;見出しセル&lt;/th&gt;
              &lt;th colspan=&quot;2&quot;&gt;見出しセル&lt;/th&gt;
            &lt;/tr&gt;
          &lt;/thead&gt;
          &lt;tbody&gt;
            &lt;tr&gt;
              &lt;td rowspan=&quot;2&quot; class=&quot;box is-paint&quot;&gt;#1&lt;/td&gt;
              &lt;td&gt;データセル&lt;/td&gt;
              &lt;td&gt;データセル&lt;/td&gt;
              &lt;td&gt;データセル&lt;/td&gt;
              &lt;td&gt;データセル&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;データセル&lt;/td&gt;
              &lt;td class=&quot;box is-spot&quot;&gt;スポット表示&lt;/td&gt;
              &lt;td&gt;データセル&lt;/td&gt;
              &lt;td&gt;データセル&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td class=&quot;box is-paint&quot;&gt;#2&lt;/td&gt;
              &lt;td&gt;データセル&lt;/td&gt;
              &lt;td&gt;データセル&lt;/td&gt;
              &lt;td&gt;データセル&lt;/td&gt;
              &lt;td&gt;データセル&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td class=&quot;box is-paint&quot;&gt;#3&lt;/td&gt;
              &lt;td&gt;データセル&lt;/td&gt;
              &lt;td&gt;データセル&lt;/td&gt;
              &lt;td class=&quot;box is-danger&quot;&gt;エラー表示&lt;/td&gt;
              &lt;td&gt;データセル&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td class=&quot;box is-paint&quot;&gt;#4&lt;/td&gt;
              &lt;td&gt;データセル&lt;/td&gt;
              &lt;td&gt;データセル&lt;/td&gt;
              &lt;td&gt;データセル&lt;/td&gt;
              &lt;td&gt;データセル&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/tbody&gt;
          &lt;tfoot&gt;
            &lt;tr&gt;
              &lt;th colspan=&quot;5&quot; class=&quot;box is-right&quot;&gt;テーブルフッター&lt;/th&gt;
            &lt;/tr&gt;
          &lt;/tfoot&gt;
        &lt;/table&gt;

.groups
  h4.heading.is-xl Table - Line
  p.texts.is-sm
    | テーブルに線に加えるには&nbsp;
    code.code .table
    | &nbsp;に&nbsp;
    code.code .is-line
    | &nbsp;または&nbsp;
    code.code .is-outline
    | &nbsp;または&nbsp;
    code.code .is-border
    | &nbsp;を付与ます。
  .group.is-wrap.is-preview
    table.table.is-line.is-sm
      thead
        tr
          th 見出しセル
          th 見出しセル
          th 見出しセル
          th 見出しセル
          th 見出しセル
      tbody
        tr
          td データセル
          td データセル
          td データセル
          td データセル
          td データセル
        tr
          td データセル
          td データセル
          td データセル
          td データセル
          td データセル
    table.table.is-outline.is-sm
      thead
        tr
          th 見出しセル
          th 見出しセル
          th 見出しセル
          th 見出しセル
          th 見出しセル
      tbody
        tr
          td データセル
          td データセル
          td データセル
          td データセル
          td データセル
        tr
          td データセル
          td データセル
          td データセル
          td データセル
          td データセル
    table.table.is-border.is-sm
      thead
        tr
          th 見出しセル
          th 見出しセル
          th 見出しセル
          th 見出しセル
          th 見出しセル
      tbody
        tr
          td データセル
          td データセル
          td データセル
          td データセル
          td データセル
        tr
          td データセル
          td データセル
          td データセル
          td データセル
          td データセル
    pre.pre.is-sm
      code.code.html.
        &lt;table class=&quot;table is-line&quot;&gt;
          ...
        &lt;/table&gt;

        &lt;table class=&quot;table is-outline&quot;&gt;
          ...
        &lt;/table&gt;

        &lt;table class=&quot;table is-border&quot;&gt;
          ...
        &lt;/table&gt;

.groups
  h4.heading.is-xl Table - Align
  p.texts.is-sm
    code.code .table
    | &nbsp;または&nbsp;
    code.code .box
    | &nbsp;にクラス名&nbsp;
    code.code .is-left
    | &nbsp;
    code.code .is-center
    | &nbsp;
    code.code .is-right
    | &nbsp;
    code.code .is-middle
    | &nbsp;を付与することでテキストの寄せる方向を変化させられます。
  .group.is-wrap.is-preview
    table.table.is-border.is-stripe.is-sm
      thead
        tr
          th.box.is-left .box .is-left
          th.box.is-center .box .is-center
          th.box.is-right .box .is-right
      tbody
        tr
          td.box.is-left
            | .box .is-left
            br
            | .box .is-left
            br
            | .box .is-left
          td.box.is-center .box .is-center
          td.box.is-right.is-middle .box .is-right .is-middle
    pre.pre.is-sm
      code.code.html.
        &lt;table class=&quot;table&quot;&gt;
          &lt;thead&gt;
            &lt;tr&gt;
              &lt;th class=&quot;box is-left&quot;&gt;&lt;/th&gt;
              &lt;th class=&quot;box is-center&quot;&gt;&lt;/th&gt;
              &lt;th class=&quot;box is-right&quot;&gt;&lt;/th&gt;
            &lt;/tr&gt;
          &lt;/thead&gt;
          &lt;tbody&gt;
            &lt;tr&gt;
              &lt;td class=&quot;box is-left&quot;&gt;&lt;/td&gt;
              &lt;td class=&quot;box is-center&quot;&gt;&lt;/td&gt;
              &lt;td class=&quot;box is-right is-middle&quot;&gt;&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/tbody&gt;
        &lt;/table&gt;

.groups
  h4.heading.is-xl Table - Paint
  p.texts.is-sm
    | テーブルのセルを塗るには&nbsp;
    code.code .box
    | &nbsp;と&nbsp;
    code.code .is-(xxxx)
    | &nbsp;の形式で塗り設定を行います。
    code.code tr
    | &nbsp;タグに設定して一行すべて塗ることもできます。
    br
    code.code .table
    | &nbsp;に&nbsp;
    code.code .is-stripe
    | &nbsp;を設定した場合は、自動的に1行飛ばしで塗られます。
  .group.is-wrap.is-preview
    table.table.is-border.is-sm
      tbody
        tr
          td.box.is-paint .box .is-paint
          td.box.is-dark-6 default
        tr
          td.box.is-paint .box .is-paint
          td.box.is-spot .box .is-spot
        tr
          td.box.is-paint .box .is-paint
          td.box.is-danger .box .is-danger
    table.table.is-stripe.is-border.is-sm
      thead
        tr
          th 見出しセル
          th 見出しセル
          th 見出しセル
      tbody
        tr
          td データセル
          td データセル
          td データセル
        tr
          td データセル
          td データセル
          td データセル
        tr
          td データセル
          td データセル
          td データセル
        tr
          td データセル
          td データセル
          td データセル
        tr
          td データセル
          td データセル
          td データセル
    pre.pre.is-sm
      code.code.html.
        &lt;table class=&quot;table&quot;&gt;
          &lt;tbody&gt;
            &lt;tr&gt;
              &lt;td class=&quot;box is-paint&quot;&gt;&lt;/td&gt;
              &lt;td&gt;&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td class=&quot;box is-paint&quot;&gt;&lt;/td&gt;
              &lt;td class=&quot;box is-spot&quot;&gt;&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td class=&quot;box is-paint&quot;&gt;&lt;/td&gt;
              &lt;td class=&quot;box is-danger&quot;&gt;&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/tbody&gt;
        &lt;/table&gt;

        &lt;table class=&quot;table is-stripe&quot;&gt;
          ...
        &lt;/table&gt;

.groups
  h4.heading.is-xl Table - Scroll
  p.texts.is-sm
    | 情報が多いテーブルをモバイルなどで表示させた場合、文字の折り返しに限界が来てレイアウトが崩れます。
    br
    | データ量が多くなることが予想された場合、
    code.code .table
    | &nbsp;をUtilityを付与した&nbsp;
    code.code .group .is-scroll-x
    | &nbsp;でラッピングし、横スクロール機能を持たせます。
  .group.is-wrap.is-preview
    .group.is-scroll-x
      table.table.is-border.is-stripe.is-nowrap.is-sm
        thead
          tr.box.is-paint
            th 見出しセル
            th 見出しセル
            th 見出しセル
            th 見出しセル
            th 見出しセル
            th 見出しセル
            th 見出しセル
        tbody
          tr
            td データセル
            td データセル
            td データセル
            td データセル
            td データセル
            td データセル
            td データセル
          tr
            td データセル
            td データセル
            td データセル
            td データセル
            td データセル
            td データセル
            td データセル
          tr
            td データセル
            td データセル
            td データセル
            td データセル
            td データセル
            td データセル
            td データセル
          tr
            td データセル
            td データセル
            td データセル
            td データセル
            td データセル
            td データセル
            td データセル
    pre.pre.is-sm
      code.code.html.
        &lt;div class=&quot;group is-scroll-x&quot;&gt;
          &lt;table class=&quot;table&quot;&gt;
            ...
          &lt;/table&gt;
        &lt;/div&gt;