//----------------------------------------------------
//- Parts: Text
//----------------------------------------------------

.groups
  h3.heading.is-xl Text
  p.texts.is-sm
    | 文章を作るには、ブロック要素のクラス名を&nbsp;
    code.code .texts
    | &nbsp;、インライン要素のクラス名を&nbsp;
    code.code .text
    | &nbsp;にします。
  .group.is-wrap.is-preview
    p.texts.is-sm
      span.text デフォルト
      | ｜
      strong.text.is-strong ストロング
      | ｜
      small.text.is-small スモール
      | ｜
      span.text.is-italic Italic
      | ｜
      del.text.is-delete 削除
      | ｜
      span.text
        i.fa.fa-thumbs-o-up(aria-hidden="true")
        span.text アイコン追加
        i.material-icons face
      | ｜
      span.text
        span.text 注釈入れ
        sup ※1
    pre.pre.is-sm
      code.code.html.
        &lt;p class=&quot;texts&quot;&gt;
          &lt;span class=&quot;text&quot;&gt;デフォルト&lt;/span&gt;
          &lt;strong class=&quot;text is-strong&quot;&gt;ストロング&lt;/strong&gt;
          &lt;small class=&quot;text is-small&quot;&gt;スモール&lt;/small&gt;
          &lt;span class=&quot;text is-italic&quot;&gt;Italic&lt;/span&gt;
          &lt;del class=&quot;text is-delete&quot;&gt;削除&lt;/del&gt;
          &lt;span class=&quot;text&quot;&gt;
            &lt;i class=&quot;fa fa-thumbs-o-up&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;
            &lt;span class=&quot;text&quot;&gt;アイコン追加&lt;/span&gt;
            &lt;i class=&quot;material-icons&quot;&gt;face&lt;/i&gt;
          &lt;/span&gt;
          &lt;span class=&quot;text&quot;&gt;
            &lt;span class=&quot;text&quot;&gt;注釈入れ&lt;/span&gt;
            &lt;sup&gt;※1&lt;/sup&gt;
          &lt;/span&gt;
        &lt;/p&gt;
    p.texts.is-sm
      span.text.is-dark ダーク
      - for (var i = 1; i <= 9; i++)
        | &nbsp;
        span.text(class="is-dark-"+i) ダーク #{i}
    .group.is-wrap.is-paint
      p.texts.is-sm
        span.text.is-light ライト
        - for (var i = 1; i <= 9; i++)
          | &nbsp;
          span.text(class="is-light-"+i) ライト #{i}
    pre.pre.is-sm
      code.code.html.
        &lt;p class=&quot;texts&quot;&gt;
          &lt;span class=&quot;text is-dark&quot;&gt;ダーク&lt;/span&gt;
          &lt;span class=&quot;text is-dark-1&quot;&gt;ダーク 1&lt;/span&gt;
          &lt;span class=&quot;text is-dark-2&quot;&gt;ダーク 2&lt;/span&gt;
          &lt;span class=&quot;text is-dark-3&quot;&gt;ダーク 3&lt;/span&gt;
          &lt;span class=&quot;text is-dark-4&quot;&gt;ダーク 4&lt;/span&gt;
          &lt;span class=&quot;text is-dark-5&quot;&gt;ダーク 5&lt;/span&gt;
          &lt;span class=&quot;text is-dark-6&quot;&gt;ダーク 6&lt;/span&gt;
          &lt;span class=&quot;text is-dark-7&quot;&gt;ダーク 7&lt;/span&gt;
          &lt;span class=&quot;text is-dark-8&quot;&gt;ダーク 8&lt;/span&gt;
          &lt;span class=&quot;text is-dark-9&quot;&gt;ダーク 9&lt;/span&gt;
        &lt;/p&gt;

        &lt;p class=&quot;texts&quot;&gt;
          &lt;span class=&quot;text is-light&quot;&gt;ライト&lt;/span&gt;
          &lt;span class=&quot;text is-light-1&quot;&gt;ライト 1&lt;/span&gt;
          &lt;span class=&quot;text is-light-2&quot;&gt;ライト 2&lt;/span&gt;
          &lt;span class=&quot;text is-light-3&quot;&gt;ライト 3&lt;/span&gt;
          &lt;span class=&quot;text is-light-4&quot;&gt;ライト 4&lt;/span&gt;
          &lt;span class=&quot;text is-light-5&quot;&gt;ライト 5&lt;/span&gt;
          &lt;span class=&quot;text is-light-6&quot;&gt;ライト 6&lt;/span&gt;
          &lt;span class=&quot;text is-light-7&quot;&gt;ライト 7&lt;/span&gt;
          &lt;span class=&quot;text is-light-8&quot;&gt;ライト 8&lt;/span&gt;
          &lt;span class=&quot;text is-light-9&quot;&gt;ライト 9&lt;/span&gt;
        &lt;/p&gt;
    p.texts.is-sm
      a.text.is-link Link
      | ｜
      a.text.is-link.is-primary Primary
      | ｜
      a.text.is-link.is-info Info
      | ｜
      a.text.is-link.is-success Success
      | ｜
      a.text.is-link.is-warning Warning
      | ｜
      a.text.is-link.is-danger Danger
    p.texts.is-sm
      a.text.is-link-reverse Link reverse
      | ｜
      a.text.is-link-reverse.is-primary Primary
      | ｜
      a.text.is-link-reverse.is-info Info
      | ｜
      a.text.is-link-reverse.is-success Success
      | ｜
      a.text.is-link-reverse.is-warning Warning
      | ｜
      a.text.is-link-reverse.is-danger Danger
    pre.pre.is-sm
      code.code.html.
        &lt;p class=&quot;texts&quot;&gt;
          &lt;span class=&quot;text is-link is-primary&quot;&gt;Primary&lt;/span&gt;
          &lt;span class=&quot;text is-link is-info&quot;&gt;Info&lt;/span&gt;
          &lt;span class=&quot;text is-link is-success&quot;&gt;Success&lt;/span&gt;
          &lt;span class=&quot;text is-link is-warning&quot;&gt;Warning&lt;/span&gt;
          &lt;span class=&quot;text is-link is-danger&quot;&gt;Danger&lt;/span&gt;
        &lt;/p&gt;

        &lt;p class=&quot;texts&quot;&gt;
          &lt;span class=&quot;text is-link-reverse is-primary&quot;&gt;Primary&lt;/span&gt;
          &lt;span class=&quot;text is-link-reverse is-info&quot;&gt;Info&lt;/span&gt;
          &lt;span class=&quot;text is-link-reverse is-success&quot;&gt;Success&lt;/span&gt;
          &lt;span class=&quot;text is-link-reverse is-warning&quot;&gt;Warning&lt;/span&gt;
          &lt;span class=&quot;text is-link-reverse is-danger&quot;&gt;Danger&lt;/span&gt;
        &lt;/p&gt;
    p.texts.is-sm
      span.text.is-capitalize capitalize
      | ｜
      span.text.is-lowercase lowercase
      | ｜
      span.text.is-uppercase uppercase
    pre.pre.is-sm
      code.code.html.
        &lt;p class=&quot;texts&quot;&gt;
          &lt;span class=&quot;text is-capitalize&quot;&gt;capitalize&lt;/span&gt;
          &lt;span class=&quot;text is-lowercase&quot;&gt;lowercase&lt;/span&gt;
          &lt;span class=&quot;text is-uppercase&quot;&gt;uppercase&lt;/span&gt;
        &lt;/p&gt;

.groups
  h4.heading.is-xl Text - Size
  p.texts.is-sm
    | サイズを表すクラス名&nbsp;
    code.code .is-(x)
    | &nbsp;を付与することでテキストの大きさを変化させられます。
  .group.is-wrap.is-preview
    p.texts
      span.text.is-xxs 極小
      span.text.is-xs 小さい
      span.text.is-sm 小さめ
      span.text.is-md 中くらい
      span.text.is-lg 大きめ
      span.text.is-xl 大きい
      span.text.is-xxl 特大
    pre.pre.is-sm
      code.code.html.
        &lt;p class=&quot;texts&quot;&gt;
          &lt;span class=&quot;text is-xxs&quot;&gt;極小&lt;/span&gt;
          &lt;span class=&quot;text is-xs&quot;&gt;小さい&lt;/span&gt;
          &lt;span class=&quot;text is-sm&quot;&gt;小さめ&lt;/span&gt;
          &lt;span class=&quot;text is-md&quot;&gt;中くらい&lt;/span&gt;
          &lt;span class=&quot;text is-lg&quot;&gt;大きめ&lt;/span&gt;
          &lt;span class=&quot;text is-xl&quot;&gt;大きい&lt;/span&gt;
          &lt;span class=&quot;text is-xxl&quot;&gt;特大&lt;/span&gt;
        &lt;/p&gt;

.groups
  h4.heading.is-xl Text - Align
  p.texts.is-sm
    code.code .texts
    | &nbsp;にクラス名&nbsp;
    code.code .is-left
    | &nbsp;
    code.code .is-center
    | &nbsp;
    code.code .is-right
    | &nbsp;を付与することでテキストの寄せる方向を変化させられます。
  .group.is-wrap.is-preview
    p.texts.is-sm.is-left 左寄せのテキスト
    p.texts.is-sm.is-center 中央寄せのテキスト
    p.texts.is-sm.is-right 右寄せのテキスト
    pre.pre.is-sm
      code.code.html.
        &lt;p class=&quot;texts is-left&quot;&gt;左寄せのテキスト&lt;/p&gt;
        &lt;p class=&quot;texts is-center&quot;&gt;中央寄せのテキスト&lt;/p&gt;
        &lt;p class=&quot;texts is-right&quot;&gt;右寄せのテキスト&lt;/p&gt;

.groups
  h4.heading.is-xl Text - Ellipsis
  p.texts.is-sm
    | テキストを端で折り返さずに三点リーダーで省略する場合は、ブロック要素に&nbsp;
    code.code .is-ellipsis
    | &nbsp;を付与します。
  .group.is-wrap.is-preview
    p.texts.is-sm.is-ellipsis
      | テキストを端で折り返さずに、三点リーダーで省略するスタイリング。テキストを端で折り返さずに、三点リーダーで省略するスタイリング。テキストを端で折り返さずに、三点リーダーで省略するスタイリング。
    pre.pre.is-sm
      code.code.html.
        &lt;p class=&quot;texts is-ellipsis&quot;&gt;...&lt;/p&gt;

.groups
  h4.heading.is-xl Text - Blockquote
  p.texts.is-sm
    | 引用枠を表示させる場合は、&nbsp;
    code.code .blockquote
    | &nbsp;で囲います。
  .group.is-wrap.is-preview
    blockquote.blockquote
      | 引用の「blockquote」を使う場合。border-leftとbackground-colorを用いた装飾。
    pre.pre.is-sm
      code.code.html.
        &lt;blockquote class=&quot;blockquote&quot;&gt;...&lt;/blockquote&gt;

.groups
  h4.heading.is-xl Text - Code
  p.texts.is-sm
    | テキスト中にインラインでコードを表示させる場合は、&nbsp;
    code.code .code
    | &nbsp;で囲います。
    | ブロック要素としてコードを表示させたい場合は、&nbsp;
    code.code .pre
    | &nbsp;の中に&nbsp;
    code.code .code
    | &nbsp;を書きます。
  .group.is-wrap.is-preview
    p.texts.is-sm
      | テキストの途中に&nbsp;
      code.code code
      | &nbsp;を表示させる。
    pre.pre
      code.code.css.
        html {
          box-sizing: border-box;
          font-family: sans-serif;
          overflow-y: scroll;
          -ms-text-size-adjust: 100%;
          -webkit-text-size-adjust: 100%;
          -webkit-tap-highlight-color: transparent;
        }
    pre.pre.is-sm
      code.code.html.
        &lt;p class=&quot;texts&quot;&gt;
          テキストの途中に
          &lt;code class=&quot;code&quot;&gt;code&lt;/code&gt;
          を表示させる。
        &lt;/p&gt;

        &lt;pre class=&quot;pre&quot;&gt;
          &lt;code class=&quot;code&quot;&gt;
            .pre {
              position: relative;
              background-color: $dark-2;
              border-radius: 2px;
              color: $light;
              padding: 20px 0;
            }
          &lt;/code&gt;
        &lt;/pre&gt;