//----------------------------------------------------
//- Parts: Text
//----------------------------------------------------

.groups.is-space
  h3.heading.is-xl Text
  p.texts.is-sm
    | 文章を作るには、ブロック要素のクラス名を&nbsp;
    code.code .texts
    | &nbsp;、インライン要素のクラス名を&nbsp;
    code.code .text
    | &nbsp;にします。
  .group.is-wrap
    .inner
      p.texts.is-sm
        span.text デフォルト
        | ｜
        strong.text.is-strong ストロング
        | ｜
        small.text.is-small スモール
        | ｜
        span.text.is-italic Italic
        | ｜
        del.text.is-delete 削除
        | ｜
        span.text
          i.fas.fa-thumbs-up(aria-hidden="true")
          span.text アイコン追加
          i.material-icons face
        | ｜
        span.text
          span.text 注釈入れ
          sup ※1
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <p class="texts">
          <span class="text">デフォルト</span>
          <strong class="text is-strong">ストロング</strong>
          <small class="text is-small">スモール</small>
          <span class="text is-italic">Italic</span>
          <del class="text is-delete">削除</del>
          <span class="text">
            <i class="fas fa-thumbs-up" aria-hidden="true"></i>
            <span class="text">アイコン追加</span>
            <i class="material-icons">face</i>
          </span>
          <span class="text">
            <span class="text">注釈入れ</span>
            <sup>※1</sup>
          </span>
        </p>
        ```
  .group.is-wrap
    .inner.is-space
      p.texts.is-sm
        span.text.is-dark ダーク
        - for (var i = 1; i <= 9; i++)
          | &nbsp;
          span.text(class="is-dark-"+i) ダーク #{i}
      .group.is-wrap.is-paint
        p.texts.is-sm
          span.text.is-light ライト
          - for (var i = 1; i <= 9; i++)
            | &nbsp;
            span.text(class="is-light-"+i) ライト #{i}
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <p class="texts">
          <span class="text is-dark">ダーク</span>
          <span class="text is-dark-1">ダーク 1</span>
          <span class="text is-dark-2">ダーク 2</span>
          <span class="text is-dark-3">ダーク 3</span>
          <span class="text is-dark-4">ダーク 4</span>
          <span class="text is-dark-5">ダーク 5</span>
          <span class="text is-dark-6">ダーク 6</span>
          <span class="text is-dark-7">ダーク 7</span>
          <span class="text is-dark-8">ダーク 8</span>
          <span class="text is-dark-9">ダーク 9</span>
        </p>

        <p class="texts">
          <span class="text is-light">ライト</span>
          <span class="text is-light-1">ライト 1</span>
          <span class="text is-light-2">ライト 2</span>
          <span class="text is-light-3">ライト 3</span>
          <span class="text is-light-4">ライト 4</span>
          <span class="text is-light-5">ライト 5</span>
          <span class="text is-light-6">ライト 6</span>
          <span class="text is-light-7">ライト 7</span>
          <span class="text is-light-8">ライト 8</span>
          <span class="text is-light-9">ライト 9</span>
        </p>
        ```
  .group.is-wrap
    .inner.is-space
      p.texts.is-sm
        a.text.is-link Link
        | ｜
        a.text.is-link.is-primary Primary
        | ｜
        a.text.is-link.is-info Info
        | ｜
        a.text.is-link.is-success Success
        | ｜
        a.text.is-link.is-warning Warning
        | ｜
        a.text.is-link.is-danger Danger
      p.texts.is-sm
        a.text.is-link-reverse Link reverse
        | ｜
        a.text.is-link-reverse.is-primary Primary
        | ｜
        a.text.is-link-reverse.is-info Info
        | ｜
        a.text.is-link-reverse.is-success Success
        | ｜
        a.text.is-link-reverse.is-warning Warning
        | ｜
        a.text.is-link-reverse.is-danger Danger
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <p class="texts">
          <span class="text is-link is-primary">Primary</span>
          <span class="text is-link is-info">Info</span>
          <span class="text is-link is-success">Success</span>
          <span class="text is-link is-warning">Warning</span>
          <span class="text is-link is-danger">Danger</span>
        </p>

        <p class="texts">
          <span class="text is-link-reverse is-primary">Primary</span>
          <span class="text is-link-reverse is-info">Info</span>
          <span class="text is-link-reverse is-success">Success</span>
          <span class="text is-link-reverse is-warning">Warning</span>
          <span class="text is-link-reverse is-danger">Danger</span>
        </p>
        ```
  .group.is-wrap
    .inner
      p.texts.is-sm
        span.text.is-capitalize capitalize
        | ｜
        span.text.is-lowercase lowercase
        | ｜
        span.text.is-uppercase uppercase
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <p class="texts">
          <span class="text is-capitalize">capitalize</span>
          <span class="text is-lowercase">lowercase</span>
          <span class="text is-uppercase">uppercase</span>
        </p>
        ```

.groups.is-space
  h4.heading.is-xl Text - Size
  p.texts.is-sm
    | サイズを表すクラス名&nbsp;
    code.code .is-(x)
    | &nbsp;を付与することでテキストの大きさを変化させられます。
  .group.is-wrap
    .inner
      p.texts
        span.text.is-xxs 極小
        span.text.is-xs 小さい
        span.text.is-sm 小さめ
        span.text.is-md 中くらい
        span.text.is-lg 大きめ
        span.text.is-xl 大きい
        span.text.is-xxl 特大
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <p class="texts">
          <span class="text is-xxs">極小</span>
          <span class="text is-xs">小さい</span>
          <span class="text is-sm">小さめ</span>
          <span class="text is-md">中くらい</span>
          <span class="text is-lg">大きめ</span>
          <span class="text is-xl">大きい</span>
          <span class="text is-xxl">特大</span>
        </p>
        ```

.groups.is-space
  h4.heading.is-xl Text - Align
  p.texts.is-sm
    code.code .texts
    | &nbsp;にクラス名&nbsp;
    code.code .is-left
    | &nbsp;
    code.code .is-center
    | &nbsp;
    code.code .is-right
    | &nbsp;を付与することでテキストの寄せる方向を変化させられます。
  .group.is-wrap
    .inner
      p.texts.is-sm.is-left 左寄せのテキスト
      p.texts.is-sm.is-center 中央寄せのテキスト
      p.texts.is-sm.is-right 右寄せのテキスト
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <p class="texts is-left">左寄せのテキスト</p>
        <p class="texts is-center">中央寄せのテキスト</p>
        <p class="texts is-right">右寄せのテキスト</p>
        ```

.groups.is-space
  h4.heading.is-xl Text - Ellipsis
  p.texts.is-sm
    | テキストを端で折り返さずに三点リーダーで省略する場合は、ブロック要素に&nbsp;
    code.code .is-ellipsis
    | &nbsp;を付与します。
  .group.is-wrap
    .inner
      p.texts.is-sm.is-ellipsis
        | テキストを端で折り返さずに、三点リーダーで省略するスタイリング。テキストを端で折り返さずに、三点リーダーで省略するスタイリング。テキストを端で折り返さずに、三点リーダーで省略するスタイリング。
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <p class="texts is-ellipsis">...</p>
        ```

.groups.is-space
  h4.heading.is-xl Text - Blockquote
  p.texts.is-sm
    | 引用枠を表示させる場合は、&nbsp;
    code.code .blockquote
    | &nbsp;で囲います。
  .group.is-wrap
    .inner
      blockquote.blockquote
        | 引用の「blockquote」を使う場合。border-leftとbackground-colorを用いた装飾。
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <blockquote class="blockquote">...</blockquote>
        ```

.groups.is-space
  h4.heading.is-xl Text - Code
  p.texts.is-sm
    | テキスト中にインラインでコードを表示させる場合は、&nbsp;
    code.code .code
    | &nbsp;で囲います。
    | ブロック要素としてコードを表示させたい場合は、&nbsp;
    code.code .pre
    | &nbsp;の中に&nbsp;
    code.code .code
    | &nbsp;を書きます。
  .group.is-wrap
    .inner.is-space
      p.texts.is-sm
        | テキストの途中に&nbsp;
        code.code code
        | &nbsp;を表示させる。
      pre.pre
        code.code.css.
          html {
            box-sizing: border-box;
            font-family: sans-serif;
            overflow-y: scroll;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: transparent;
          }
    include ../demo/_code-toggle.pug
    .wysiwyg.is-sm
      :markdown-it
        ```html
        <p class="texts">
          テキストの途中に
          <code class="code">code</code>
          を表示させる。
        </p>

        <pre class="pre">
          <code class="code">
            .pre {
              position: relative;
              background-color: $dark-2;
              border-radius: 2px;
              color: $light;
              padding: 20px 0;
            }
          </code>
        </pre>
        ```