//----------------------------------------------------
//- Parts: WYSIWYG
//----------------------------------------------------

.groups
  h3.heading.is-xl WYSIWYG
  p.texts.is-sm
    | WYSIWYGやMarkdownで生成したHTMLタグに装飾を施すスタイルセットです。（WordPressの出力など）
    br
    | 使用するには、出力箇所を&nbsp;
    code.code .wysiwyg
    | &nbsp;でラッピングします。
  .group.is-wrap.is-preview
    .wysiwyg
      h1 1番目に大きな見出し
      h2 2番目に大きな見出し
      h3 3番目に大きな見出し
      h4 4番目に大きな見出し
      h5 5番目に大きな見出し
      h6 6番目に大きな見出し
      p
        | WYSIWYG内のブロック要素も、他の要素のレギュレーションと近い形で前後のオブジェクトの組み合わせに基づきmargin-topが付与され、ブロックの距離感を保つことができます。主に、
        a データベース
        | からの動的な出力を行う「
        strong WordPress
        | 」などのプログラムを想定しています。
      p
        | WYSIWYG内のブロック要素も、他の要素のレギュレーションと近い形で前後のオブジェクトの組み合わせに基づきmargin-topが付与され、ブロックの距離感を保つことができます。主に、
        a データベース
        | からの動的な出力を行う「
        strong WordPress
        | 」などのプログラムを想定しています。
      ul
        li リストのテキストはインデントとリストスタイルを施します
        li リストのテキストはインデントとリストスタイルを施します
        li リストのテキストはインデントとリストスタイルを施します
        li
          | リストのテキストはインデントとリストスタイルを施します
          ul
            li リストのテキストはインデントとリストスタイルを施します
            li リストのテキストはインデントとリストスタイルを施します
            li リストのテキストはインデントとリストスタイルを施します
            li リストのテキストはインデントとリストスタイルを施します
      hr
      p
        | WYSIWYG内のブロック要素も、他の要素のレギュレーションと近い形で前後のオブジェクトの組み合わせに基づきmargin-topが付与され、ブロックの距離感を保つことができます。主に、
        a データベース
        | からの動的な出力を行う「
        strong WordPress
        | 」などのプログラムを想定しています。
      ol
        li リストのテキストはインデントとリストスタイルを施します
        li リストのテキストはインデントとリストスタイルを施します
        li リストのテキストはインデントとリストスタイルを施します
        li
          | リストのテキストはインデントとリストスタイルを施します
          ol
            li リストのテキストはインデントとリストスタイルを施します
            li リストのテキストはインデントとリストスタイルを施します
            li リストのテキストはインデントとリストスタイルを施します
            li リストのテキストはインデントとリストスタイルを施します
      p
        | WYSIWYG内のブロック要素も、他の要素のレギュレーションと近い形で前後のオブジェクトの組み合わせに基づきmargin-topが付与され、ブロックの距離感を保つことができます。主に、
        a データベース
        | からの動的な出力を行う「
        strong WordPress
        | 」などのプログラムを想定しています。
      blockquote
        | 引用の「blockquote」を使う場合。border-leftとbackground-colorを用いた装飾を施しています。
      p
        | 文章の途中にコードを書きたい場合は&nbsp;
        code code
        | &nbsp;タグで囲む。インラインでコードを表記することができるので、ちょっとしたコードへの説明が容易になります。逆に、コード自体をブロック化して全体を伝える場合は&nbsp;
        code pre
        | &nbsp;で囲み、以下のように表示させます。
      pre.
        .wysiwyg pre {
          color: $light;
          background-color: $dark-2;
          font-size: 0.875em;
          border-radius: 2px;
          padding: 20px 25px;
          white-space: pre;
          word-wrap: normal;
          overflow: hidden;
          overflow-x: auto;
        }
      p
        | WYSIWYGのテキストには、
        strong 強調表示
        | ・
        em イタリック表示
        | ・
        br
        s 打ち消し線
        | などのスタイルを用いることができます。その他、テーブルを組んだ場合は以下の通り。テーブル内のテキストを寄せる方向はインラインで書き込みます。
      table
        thead
          tr
            th(align="left") Align left
            th(align="center") Align Center
            th(align="right") Align Right
        tbody
          tr
            td(align="left") 左寄せ
            td(align="center") 通常
            td(align="right") 右寄せ
          tr
            td(align="left") 左寄せ
            td(align="center") 2行目
            td(align="right") 右寄せ
          tr
            td(align="left") 左寄せ
            td(align="center") 3行目
            td(align="right") 右寄せ
          tr
            td(align="left") 左寄せ
            td(align="center") 4行目
            td(align="right") 右寄せ
    //-button.btn.is-demo-code.is-round.is-outline.is-xxs(title="View Code" type="button")
      i.fa.fa-code.is-dark-5(aria-hidden="true")
      span.text.is-dark-5 HTML
    pre.pre
      code.code.html.
        &lt;div class=&quot;wysiwyg&quot;&gt;
          &lt;h1&gt;1番目に大きな見出し&lt;/h1&gt;
          &lt;h2&gt;2番目に大きな見出し&lt;/h2&gt;
          &lt;h3&gt;3番目に大きな見出し&lt;/h3&gt;
          &lt;h4&gt;4番目に大きな見出し&lt;/h4&gt;
          &lt;h5&gt;5番目に大きな見出し&lt;/h5&gt;
          &lt;h6&gt;6番目に大きな見出し&lt;/h6&gt;
          &lt;p&gt;WYSIWYG内のブロック要素も、他の要素のレギュレーションと近い形で前後のオブジェクトの組み合わせに基づきmargin-topが付与され、ブロックの距離感を保つことができます。主に、&lt;a&gt;データベース&lt;/a&gt;からの動的な出力を行う「&lt;strong&gt;WordPress&lt;/strong&gt;」などのプログラムを想定しています。&lt;/p&gt;
          &lt;p&gt;WYSIWYG内のブロック要素も、他の要素のレギュレーションと近い形で前後のオブジェクトの組み合わせに基づきmargin-topが付与され、ブロックの距離感を保つことができます。主に、&lt;a&gt;データベース&lt;/a&gt;からの動的な出力を行う「&lt;strong&gt;WordPress&lt;/strong&gt;」などのプログラムを想定しています。&lt;/p&gt;
          &lt;ul&gt;
            &lt;li&gt;リストのテキストはインデントとリストスタイルを施します&lt;/li&gt;
            &lt;li&gt;リストのテキストはインデントとリストスタイルを施します&lt;/li&gt;
            &lt;li&gt;リストのテキストはインデントとリストスタイルを施します&lt;/li&gt;
            &lt;li&gt;リストのテキストはインデントとリストスタイルを施します
              &lt;ul&gt;
                &lt;li&gt;リストのテキストはインデントとリストスタイルを施します&lt;/li&gt;
                &lt;li&gt;リストのテキストはインデントとリストスタイルを施します&lt;/li&gt;
                &lt;li&gt;リストのテキストはインデントとリストスタイルを施します&lt;/li&gt;
                &lt;li&gt;リストのテキストはインデントとリストスタイルを施します&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/li&gt;
          &lt;/ul&gt;
          &lt;hr&gt;
          &lt;p&gt;WYSIWYG内のブロック要素も、他の要素のレギュレーションと近い形で前後のオブジェクトの組み合わせに基づきmargin-topが付与され、ブロックの距離感を保つことができます。主に、&lt;a&gt;データベース&lt;/a&gt;からの動的な出力を行う「&lt;strong&gt;WordPress&lt;/strong&gt;」などのプログラムを想定しています。&lt;/p&gt;
          &lt;ol&gt;
            &lt;li&gt;リストのテキストはインデントとリストスタイルを施します&lt;/li&gt;
            &lt;li&gt;リストのテキストはインデントとリストスタイルを施します&lt;/li&gt;
            &lt;li&gt;リストのテキストはインデントとリストスタイルを施します&lt;/li&gt;
            &lt;li&gt;リストのテキストはインデントとリストスタイルを施します
              &lt;ol&gt;
                &lt;li&gt;リストのテキストはインデントとリストスタイルを施します&lt;/li&gt;
                &lt;li&gt;リストのテキストはインデントとリストスタイルを施します&lt;/li&gt;
                &lt;li&gt;リストのテキストはインデントとリストスタイルを施します&lt;/li&gt;
                &lt;li&gt;リストのテキストはインデントとリストスタイルを施します&lt;/li&gt;
              &lt;/ol&gt;
            &lt;/li&gt;
          &lt;/ol&gt;
          &lt;p&gt;WYSIWYG内のブロック要素も、他の要素のレギュレーションと近い形で前後のオブジェクトの組み合わせに基づきmargin-topが付与され、ブロックの距離感を保つことができます。主に、&lt;a&gt;データベース&lt;/a&gt;からの動的な出力を行う「&lt;strong&gt;WordPress&lt;/strong&gt;」などのプログラムを想定しています。&lt;/p&gt;
          &lt;blockquote&gt;引用の「blockquote」を使う場合。border-leftとbackground-colorを用いた装飾を施しています。&lt;/blockquote&gt;
          &lt;p&gt;文章の途中にコードを書きたい場合は&amp;nbsp;&lt;code&gt;code&lt;/code&gt;&amp;nbsp;タグで囲む。インラインでコードを表記することができるので、ちょっとしたコードへの説明が容易になります。逆に、コード自体をブロック化して全体を伝える場合は&amp;nbsp;&lt;code&gt;pre&lt;/code&gt;&amp;nbsp;で囲み、以下のように表示させます。&lt;/p&gt;
          &lt;pre&gt;.wysiwyg pre {
          color: $light;
          background-color: $dark-2;
          font-size: 0.875em;
          border-radius: 2px;
          padding: 20px 25px;
          white-space: pre;
          word-wrap: normal;
          overflow: hidden;
          overflow-x: auto;
        }&lt;/pre&gt;
          &lt;p&gt;WYSIWYGのテキストには、&lt;strong&gt;強調表示&lt;/strong&gt;・&lt;em&gt;イタリック表示&lt;/em&gt;・
            &lt;br&gt;
            &lt;s&gt;打ち消し線&lt;/s&gt;などのスタイルを用いることができます。その他、テーブルを組んだ場合は以下の通り。テーブル内のテキストを寄せる方向はインラインで書き込みます。
          &lt;/p&gt;
          &lt;table&gt;
            &lt;thead&gt;
              &lt;tr&gt;
                &lt;th align=&quot;left&quot;&gt;Align left&lt;/th&gt;
                &lt;th align=&quot;center&quot;&gt;Align Center&lt;/th&gt;
                &lt;th align=&quot;right&quot;&gt;Align Right&lt;/th&gt;
              &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
              &lt;tr&gt;
                &lt;td align=&quot;left&quot;&gt;左寄せ&lt;/td&gt;
                &lt;td align=&quot;center&quot;&gt;通常&lt;/td&gt;
                &lt;td align=&quot;right&quot;&gt;右寄せ&lt;/td&gt;
              &lt;/tr&gt;
              &lt;tr&gt;
                &lt;td align=&quot;left&quot;&gt;左寄せ&lt;/td&gt;
                &lt;td align=&quot;center&quot;&gt;2行目&lt;/td&gt;
                &lt;td align=&quot;right&quot;&gt;右寄せ&lt;/td&gt;
              &lt;/tr&gt;
              &lt;tr&gt;
                &lt;td align=&quot;left&quot;&gt;左寄せ&lt;/td&gt;
                &lt;td align=&quot;center&quot;&gt;3行目&lt;/td&gt;
                &lt;td align=&quot;right&quot;&gt;右寄せ&lt;/td&gt;
              &lt;/tr&gt;
              &lt;tr&gt;
                &lt;td align=&quot;left&quot;&gt;左寄せ&lt;/td&gt;
                &lt;td align=&quot;center&quot;&gt;4行目&lt;/td&gt;
                &lt;td align=&quot;right&quot;&gt;右寄せ&lt;/td&gt;
              &lt;/tr&gt;
            &lt;/tbody&gt;
          &lt;/table&gt;
        &lt;/div&gt;