//----------------------------------------------------
// Elements: Alert
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Selectors
$selector-alert: "\.alert" !default;

// Alert
$alert-padding: 0.675em 0.875em !default;
$alert-background-color: $convert-background-2 !default;
$alert-border-width: $global-border-width !default;
$alert-border-color: $convert-border !default;
$alert-border-radius: $radius-xs !default;
$alert-primary-background-color: $convert-alert-primary-background-color !default;
$alert-primary-border-color: $convert-alert-primary-border-color !default;
$alert-info-background-color: $convert-alert-info-background-color !default;
$alert-info-border-color: $convert-alert-info-border-color !default;
$alert-success-background-color: $convert-alert-success-background-color !default;
$alert-success-border-color: $convert-alert-success-border-color !default;
$alert-warning-background-color: $convert-alert-warning-background-color !default;
$alert-warning-border-color: $convert-alert-warning-border-color !default;
$alert-danger-background-color: $convert-alert-danger-background-color !default;
$alert-danger-border-color: $convert-alert-danger-border-color !default;

// Alert Tail
$alert-tail-size: 0.5em !default;
$alert-tail-position-end: 10% !default;

//----------------------------------------------------
// / Style - Alert
//----------------------------------------------------

@mixin musubii-style-alert() {
  position: relative;
  padding: $alert-padding;
  background-color: $alert-background-color;
  border: $alert-border-width solid $alert-border-color;
  border-radius: $alert-border-radius;
}

@include generate-style($option-generate-alert) {
  #{$selector-alert} {
    @include musubii-style-alert();
  }
}

//----------------------------------------------------
// / Style - Alert Role
//----------------------------------------------------

@mixin --is-alert-role($name, $bg-color, $border-color) {
  &.is-#{$name} {
    background-color: $bg-color;
    border-color: $border-color;
  }
}

@mixin musubii-style-alert-role() {
  @include --is-alert-role(
    primary,
    $alert-primary-background-color,
    $alert-primary-border-color
  );
  @include --is-alert-role(
    info,
    $alert-info-background-color,
    $alert-info-border-color
  );
  @include --is-alert-role(
    success,
    $alert-success-background-color,
    $alert-success-border-color
  );
  @include --is-alert-role(
    warning,
    $alert-warning-background-color,
    $alert-warning-border-color
  );
  @include --is-alert-role(
    danger,
    $alert-danger-background-color,
    $alert-danger-border-color
  );
}

@include generate-style($option-generate-alert) {
  #{$selector-alert} {
    @include musubii-style-alert-role();
  }
}

//----------------------------------------------------
// / Style - Alert Tail
//----------------------------------------------------

@mixin musubii-style-alert-tail() {
  &[class*="is-tail-"] {
    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      height: 0;
    }
  }
}

@include generate-style($option-generate-alert) {
  #{$selector-alert} {
    @include musubii-style-alert-tail();
  }
}

//----------------------------------------------------
// / Style - Alert Tail Way
//----------------------------------------------------

@mixin --is-tail-top($bg-color, $border-color, $border-width, $size, $end) {
  &.is-tail-top-left {
    &:before,
    &:after {
      left: $end;
    }
  }
  &.is-tail-top-center {
    &:before,
    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &.is-tail-top-right {
    &:before,
    &:after {
      right: $end;
    }
  }
  &[class*="is-tail-top-"] {
    &:before,
    &:after {
      border-left: $size solid transparent;
      border-right: $size solid transparent;
    }
    &:before {
      top: -$size;
      border-bottom: $size solid $border-color;
    }
    &:after {
      top: calc(-#{$size} + #{$border-width});
      border-bottom: $size solid $bg-color;
    }
  }
}

@mixin --is-tail-right($bg-color, $border-color, $border-width, $size, $end) {
  &.is-tail-right-top {
    &:before,
    &:after {
      top: $end;
    }
  }
  &.is-tail-right-middle {
    &:before,
    &:after {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &.is-tail-right-bottom {
    &:before,
    &:after {
      bottom: $end;
    }
  }
  &[class*="is-tail-right-"] {
    &:before,
    &:after {
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
    }
    &:before {
      right: -$size;
      border-left: $size solid $border-color;
    }
    &:after {
      right: calc(-#{$size} + #{$border-width});
      border-left: $size solid $bg-color;
    }
  }
}

@mixin --is-tail-bottom($bg-color, $border-color, $border-width, $size, $end) {
  &.is-tail-bottom-left {
    &:before,
    &:after {
      left: $end;
    }
  }
  &.is-tail-bottom-center {
    &:before,
    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &.is-tail-bottom-right {
    &:before,
    &:after {
      right: $end;
    }
  }
  &[class*="is-tail-bottom-"] {
    &:before,
    &:after {
      border-left: $size solid transparent;
      border-right: $size solid transparent;
    }
    &:before {
      bottom: -$size;
      border-top: $size solid $border-color;
    }
    &:after {
      bottom: calc(-#{$size} + #{$border-width});
      border-top: $size solid $bg-color;
    }
  }
}

@mixin --is-tail-left($bg-color, $border-color, $border-width, $size, $end) {
  &.is-tail-left-top {
    &:before,
    &:after {
      top: $end;
    }
  }
  &.is-tail-left-middle {
    &:before,
    &:after {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &.is-tail-left-bottom {
    &:before,
    &:after {
      bottom: $end;
    }
  }
  &[class*="is-tail-left-"] {
    &:before,
    &:after {
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
    }
    &:before {
      left: -$size;
      border-right: $size solid $border-color;
    }
    &:after {
      left: calc(-#{$size} + #{$border-width});
      border-right: $size solid $bg-color;
    }
  }
}

@mixin musubii-style-alert-tail-way() {
  @include --is-tail-top(
    $alert-background-color,
    $alert-border-color,
    $alert-border-width,
    $alert-tail-size,
    $alert-tail-position-end
  );
  @include --is-tail-right(
    $alert-background-color,
    $alert-border-color,
    $alert-border-width,
    $alert-tail-size,
    $alert-tail-position-end
  );
  @include --is-tail-bottom(
    $alert-background-color,
    $alert-border-color,
    $alert-border-width,
    $alert-tail-size,
    $alert-tail-position-end
  );
  @include --is-tail-left(
    $alert-background-color,
    $alert-border-color,
    $alert-border-width,
    $alert-tail-size,
    $alert-tail-position-end
  );
}

@include generate-style($option-generate-alert) {
  #{$selector-alert} {
    @include musubii-style-alert-tail-way();
  }
}

//----------------------------------------------------
// / Style - Alert Tail Way Role
//----------------------------------------------------

@mixin --is-tail-top-alert-role($name, $bg-color, $border-color) {
  &.is-#{$name}[class*="is-tail-top-"] {
    &:before {
      border-bottom-color: $border-color;
    }
    &:after {
      border-bottom-color: $bg-color;
    }
  }
}

@mixin --is-tail-right-alert-role($name, $bg-color, $border-color) {
  &.is-#{$name}[class*="is-tail-right-"] {
    &:before {
      border-left-color: $border-color;
    }
    &:after {
      border-left-color: $bg-color;
    }
  }
}

@mixin --is-tail-bottom-alert-role($name, $bg-color, $border-color) {
  &.is-#{$name}[class*="is-tail-bottom-"] {
    &:before {
      border-top-color: $border-color;
    }
    &:after {
      border-top-color: $bg-color;
    }
  }
}

@mixin --is-tail-left-alert-role($name, $bg-color, $border-color) {
  &.is-#{$name}[class*="is-tail-bottom-"] {
    &:before {
      border-right-color: $border-color;
    }
    &:after {
      border-right-color: $bg-color;
    }
  }
}

@mixin musubii-style-alert-tail-way-role() {
  @include --is-tail-top-alert-role(
    primary,
    $alert-primary-background-color,
    $alert-primary-border-color
  );
  @include --is-tail-right-alert-role(
    primary,
    $alert-primary-background-color,
    $alert-primary-border-color
  );
  @include --is-tail-bottom-alert-role(
    primary,
    $alert-primary-background-color,
    $alert-primary-border-color
  );
  @include --is-tail-left-alert-role(
    primary,
    $alert-primary-background-color,
    $alert-primary-border-color
  );
  @include --is-tail-top-alert-role(
    info,
    $alert-info-background-color,
    $alert-info-border-color
  );
  @include --is-tail-right-alert-role(
    info,
    $alert-info-background-color,
    $alert-info-border-color
  );
  @include --is-tail-bottom-alert-role(
    info,
    $alert-info-background-color,
    $alert-info-border-color
  );
  @include --is-tail-left-alert-role(
    info,
    $alert-info-background-color,
    $alert-info-border-color
  );
  @include --is-tail-top-alert-role(
    success,
    $alert-success-background-color,
    $alert-success-border-color
  );
  @include --is-tail-right-alert-role(
    success,
    $alert-success-background-color,
    $alert-success-border-color
  );
  @include --is-tail-bottom-alert-role(
    success,
    $alert-success-background-color,
    $alert-success-border-color
  );
  @include --is-tail-left-alert-role(
    success,
    $alert-success-background-color,
    $alert-success-border-color
  );
  @include --is-tail-top-alert-role(
    warning,
    $alert-warning-background-color,
    $alert-warning-border-color
  );
  @include --is-tail-right-alert-role(
    warning,
    $alert-warning-background-color,
    $alert-warning-border-color
  );
  @include --is-tail-bottom-alert-role(
    warning,
    $alert-warning-background-color,
    $alert-warning-border-color
  );
  @include --is-tail-left-alert-role(
    warning,
    $alert-warning-background-color,
    $alert-warning-border-color
  );
  @include --is-tail-top-alert-role(
    danger,
    $alert-danger-background-color,
    $alert-danger-border-color
  );
  @include --is-tail-right-alert-role(
    danger,
    $alert-danger-background-color,
    $alert-danger-border-color
  );
  @include --is-tail-bottom-alert-role(
    danger,
    $alert-danger-background-color,
    $alert-danger-border-color
  );
  @include --is-tail-left-alert-role(
    danger,
    $alert-danger-background-color,
    $alert-danger-border-color
  );
}

@include generate-style($option-generate-alert) {
  #{$selector-alert} {
    @include musubii-style-alert-tail-way-role();
  }
}
