//----------------------------------------------------
// Elements: Alert
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Selectors
$selector-alert: "\.alert" !default;

// Modifiers
$modifier-alert-primary: "\.is-primary" !default;
$modifier-alert-info: "\.is-info" !default;
$modifier-alert-success: "\.is-success" !default;
$modifier-alert-warning: "\.is-warning" !default;
$modifier-alert-danger: "\.is-danger" !default;

$modifier-alert-tail: '[class\*="is-tail-"]' !default;
$modifier-alert-tail-top: '[class\*="is-tail-top-"]' !default;
$modifier-alert-tail-right: '[class\*="is-tail-right-"]' !default;
$modifier-alert-tail-bottom: '[class\*="is-tail-bottom-"]' !default;
$modifier-alert-tail-left: '[class\*="is-tail-left-"]' !default;
$modifier-alert-tail-top-right: "\.is-tail-top-right" !default;
$modifier-alert-tail-top-center: "\.is-tail-top-center" !default;
$modifier-alert-tail-top-left: "\.is-tail-top-left" !default;
$modifier-alert-tail-right-top: "\.is-tail-right-top" !default;
$modifier-alert-tail-right-middle: "\.is-tail-right-middle" !default;
$modifier-alert-tail-right-bottom: "\.is-tail-right-bottom" !default;
$modifier-alert-tail-bottom-right: "\.is-tail-bottom-right" !default;
$modifier-alert-tail-bottom-center: "\.is-tail-bottom-center" !default;
$modifier-alert-tail-bottom-left: "\.is-tail-bottom-left" !default;
$modifier-alert-tail-left-top: "\.is-tail-left-top" !default;
$modifier-alert-tail-left-middle: "\.is-tail-left-middle" !default;
$modifier-alert-tail-left-bottom: "\.is-tail-left-bottom" !default;

// Alert
$alert-padding: 0.675em 0.875em !default;
$alert-background-color: $convert-background-2 !default;
$alert-border-width: $global-border-width !default;
$alert-border-color: $convert-border !default;
$alert-border-radius: $radius-xs !default;
$alert-primary-background-color: $convert-alert-primary-background-color !default;
$alert-primary-border-color: $convert-alert-primary-border-color !default;
$alert-info-background-color: $convert-alert-info-background-color !default;
$alert-info-border-color: $convert-alert-info-border-color !default;
$alert-success-background-color: $convert-alert-success-background-color !default;
$alert-success-border-color: $convert-alert-success-border-color !default;
$alert-warning-background-color: $convert-alert-warning-background-color !default;
$alert-warning-border-color: $convert-alert-warning-border-color !default;
$alert-danger-background-color: $convert-alert-danger-background-color !default;
$alert-danger-border-color: $convert-alert-danger-border-color !default;

// Alert Tail
$alert-tail-size: 0.5em !default;
$alert-tail-position-end: 10% !default;

//----------------------------------------------------
// / Style - Alert
//----------------------------------------------------

@mixin musubii-style-alert() {
  position: relative;
  padding: $alert-padding;
  background-color: $alert-background-color;
  border: $alert-border-width solid $alert-border-color;
  border-radius: $alert-border-radius;
}

@include generate-style($option-generate-style-alert) {
  #{$selector-alert} {
    @include musubii-style-alert();
  }
}

//----------------------------------------------------
// / Style - Alert Role
//----------------------------------------------------

@mixin musubii-style-alert-primary() {
  background-color: $alert-primary-background-color;
  border-color: $alert-primary-border-color;
}

@mixin musubii-style-alert-info() {
  background-color: $alert-info-background-color;
  border-color: $alert-info-border-color;
}

@mixin musubii-style-alert-success() {
  background-color: $alert-success-background-color;
  border-color: $alert-success-border-color;
}

@mixin musubii-style-alert-warning() {
  background-color: $alert-warning-background-color;
  border-color: $alert-warning-border-color;
}

@mixin musubii-style-alert-danger() {
  background-color: $alert-danger-background-color;
  border-color: $alert-danger-border-color;
}

@include generate-style($option-generate-style-alert) {
  #{$selector-alert} {
    &#{$modifier-alert-primary} {
      @include musubii-style-alert-primary();
    }
    &#{$modifier-alert-info} {
      @include musubii-style-alert-info();
    }
    &#{$modifier-alert-success} {
      @include musubii-style-alert-success();
    }
    &#{$modifier-alert-warning} {
      @include musubii-style-alert-warning();
    }
    &#{$modifier-alert-danger} {
      @include musubii-style-alert-danger();
    }
  }
}

//----------------------------------------------------
// / Style - Alert Tail
//----------------------------------------------------

@mixin musubii-style-alert-tail() {
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
  }
}

@include generate-style($option-generate-style-alert) {
  @if $option-add-style-alert-tail == true {
    #{$selector-alert} {
      &#{$modifier-alert-tail} {
        @include musubii-style-alert-tail();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Alert Tail Way
//----------------------------------------------------

@mixin musubii-style-alert-tail-top() {
  &:before,
  &:after {
    border-left: $alert-tail-size solid transparent;
    border-right: $alert-tail-size solid transparent;
  }
  &:before {
    top: -$alert-tail-size;
    border-bottom: $alert-tail-size solid $alert-border-color;
  }
  &:after {
    top: calc(-#{$alert-tail-size} + #{$alert-border-width});
    border-bottom: $alert-tail-size solid $alert-background-color;
  }
}

@mixin musubii-style-alert-tail-top-right() {
  &:before,
  &:after {
    right: $alert-tail-position-end;
  }
}

@mixin musubii-style-alert-tail-top-center() {
  &:before,
  &:after {
    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin musubii-style-alert-tail-top-left() {
  &:before,
  &:after {
    left: $alert-tail-position-end;
  }
}

@mixin musubii-style-alert-tail-right() {
  &:before,
  &:after {
    border-top: $alert-tail-size solid transparent;
    border-bottom: $alert-tail-size solid transparent;
  }
  &:before {
    right: -$alert-tail-size;
    border-left: $alert-tail-size solid $alert-border-color;
  }
  &:after {
    right: calc(-#{$alert-tail-size} + #{$alert-border-width});
    border-left: $alert-tail-size solid $alert-background-color;
  }
}

@mixin musubii-style-alert-tail-right-top() {
  &:before,
  &:after {
    top: $alert-tail-position-end;
  }
}

@mixin musubii-style-alert-tail-right-middle() {
  &:before,
  &:after {
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin musubii-style-alert-tail-right-bottom() {
  &:before,
  &:after {
    bottom: $alert-tail-position-end;
  }
}

@mixin musubii-style-alert-tail-bottom() {
  &:before,
  &:after {
    border-left: $alert-tail-size solid transparent;
    border-right: $alert-tail-size solid transparent;
  }
  &:before {
    bottom: -$alert-tail-size;
    border-top: $alert-tail-size solid $alert-border-color;
  }
  &:after {
    bottom: calc(-#{$alert-tail-size} + #{$alert-border-width});
    border-top: $alert-tail-size solid $alert-background-color;
  }
}

@mixin musubii-style-alert-tail-bottom-right() {
  &:before,
  &:after {
    right: $alert-tail-position-end;
  }
}

@mixin musubii-style-alert-tail-bottom-center() {
  &:before,
  &:after {
    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin musubii-style-alert-tail-bottom-left() {
  &:before,
  &:after {
    left: $alert-tail-position-end;
  }
}

@mixin musubii-style-alert-tail-left() {
  &:before,
  &:after {
    border-top: $alert-tail-size solid transparent;
    border-bottom: $alert-tail-size solid transparent;
  }
  &:before {
    left: -$alert-tail-size;
    border-right: $alert-tail-size solid $alert-border-color;
  }
  &:after {
    left: calc(-#{$alert-tail-size} + #{$alert-border-width});
    border-right: $alert-tail-size solid $alert-background-color;
  }
}

@mixin musubii-style-alert-tail-left-top() {
  &:before,
  &:after {
    top: $alert-tail-position-end;
  }
}

@mixin musubii-style-alert-tail-left-middle() {
  &:before,
  &:after {
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin musubii-style-alert-tail-left-bottom() {
  &:before,
  &:after {
    bottom: $alert-tail-position-end;
  }
}

@include generate-style($option-generate-style-alert) {
  @if $option-add-style-alert-tail == true {
    #{$selector-alert} {
      &#{$modifier-alert-tail-top} {
        @include musubii-style-alert-tail-top();
      }
      &#{$modifier-alert-tail-top-right} {
        @include musubii-style-alert-tail-top-right();
      }
      &#{$modifier-alert-tail-top-center} {
        @include musubii-style-alert-tail-top-center();
      }
      &#{$modifier-alert-tail-top-left} {
        @include musubii-style-alert-tail-top-left();
      }
      &#{$modifier-alert-tail-right} {
        @include musubii-style-alert-tail-right();
      }
      &#{$modifier-alert-tail-right-top} {
        @include musubii-style-alert-tail-right-top();
      }
      &#{$modifier-alert-tail-right-middle} {
        @include musubii-style-alert-tail-right-middle();
      }
      &#{$modifier-alert-tail-right-bottom} {
        @include musubii-style-alert-tail-right-bottom();
      }
      &#{$modifier-alert-tail-bottom} {
        @include musubii-style-alert-tail-bottom();
      }
      &#{$modifier-alert-tail-bottom-right} {
        @include musubii-style-alert-tail-bottom-right();
      }
      &#{$modifier-alert-tail-bottom-center} {
        @include musubii-style-alert-tail-bottom-center();
      }
      &#{$modifier-alert-tail-bottom-left} {
        @include musubii-style-alert-tail-bottom-left();
      }
      &#{$modifier-alert-tail-left} {
        @include musubii-style-alert-tail-left();
      }
      &#{$modifier-alert-tail-left-top} {
        @include musubii-style-alert-tail-left-top();
      }
      &#{$modifier-alert-tail-left-middle} {
        @include musubii-style-alert-tail-left-middle();
      }
      &#{$modifier-alert-tail-left-bottom} {
        @include musubii-style-alert-tail-left-bottom();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Alert Tail Way Role
//----------------------------------------------------

@mixin musubii-style-alert-tail-top-primary() {
  &:before {
    border-bottom-color: $alert-primary-border-color;
  }
  &:after {
    border-bottom-color: $alert-primary-background-color;
  }
}

@mixin musubii-style-alert-tail-top-info() {
  &:before {
    border-bottom-color: $alert-info-border-color;
  }
  &:after {
    border-bottom-color: $alert-info-background-color;
  }
}

@mixin musubii-style-alert-tail-top-success() {
  &:before {
    border-bottom-color: $alert-success-border-color;
  }
  &:after {
    border-bottom-color: $alert-success-background-color;
  }
}

@mixin musubii-style-alert-tail-top-warning() {
  &:before {
    border-bottom-color: $alert-warning-border-color;
  }
  &:after {
    border-bottom-color: $alert-warning-background-color;
  }
}

@mixin musubii-style-alert-tail-top-danger() {
  &:before {
    border-bottom-color: $alert-danger-border-color;
  }
  &:after {
    border-bottom-color: $alert-danger-background-color;
  }
}

@mixin musubii-style-alert-tail-right-primary() {
  &:before {
    border-left-color: $alert-primary-border-color;
  }
  &:after {
    border-left-color: $alert-primary-background-color;
  }
}

@mixin musubii-style-alert-tail-right-info() {
  &:before {
    border-left-color: $alert-info-border-color;
  }
  &:after {
    border-left-color: $alert-info-background-color;
  }
}

@mixin musubii-style-alert-tail-right-success() {
  &:before {
    border-left-color: $alert-success-border-color;
  }
  &:after {
    border-left-color: $alert-success-background-color;
  }
}

@mixin musubii-style-alert-tail-right-warning() {
  &:before {
    border-left-color: $alert-warning-border-color;
  }
  &:after {
    border-left-color: $alert-warning-background-color;
  }
}

@mixin musubii-style-alert-tail-right-danger() {
  &:before {
    border-left-color: $alert-danger-border-color;
  }
  &:after {
    border-left-color: $alert-danger-background-color;
  }
}

@mixin musubii-style-alert-tail-bottom-primary() {
  &:before {
    border-top-color: $alert-primary-border-color;
  }
  &:after {
    border-top-color: $alert-primary-background-color;
  }
}

@mixin musubii-style-alert-tail-bottom-info() {
  &:before {
    border-top-color: $alert-info-border-color;
  }
  &:after {
    border-top-color: $alert-info-background-color;
  }
}

@mixin musubii-style-alert-tail-bottom-success() {
  &:before {
    border-top-color: $alert-success-border-color;
  }
  &:after {
    border-top-color: $alert-success-background-color;
  }
}

@mixin musubii-style-alert-tail-bottom-warning() {
  &:before {
    border-top-color: $alert-warning-border-color;
  }
  &:after {
    border-top-color: $alert-warning-background-color;
  }
}

@mixin musubii-style-alert-tail-bottom-danger() {
  &:before {
    border-top-color: $alert-danger-border-color;
  }
  &:after {
    border-top-color: $alert-danger-background-color;
  }
}

@mixin musubii-style-alert-tail-left-primary() {
  &:before {
    border-right-color: $alert-primary-border-color;
  }
  &:after {
    border-right-color: $alert-primary-background-color;
  }
}

@mixin musubii-style-alert-tail-left-info() {
  &:before {
    border-right-color: $alert-info-border-color;
  }
  &:after {
    border-right-color: $alert-info-background-color;
  }
}

@mixin musubii-style-alert-tail-left-success() {
  &:before {
    border-right-color: $alert-success-border-color;
  }
  &:after {
    border-right-color: $alert-success-background-color;
  }
}

@mixin musubii-style-alert-tail-left-warning() {
  &:before {
    border-right-color: $alert-warning-border-color;
  }
  &:after {
    border-right-color: $alert-warning-background-color;
  }
}

@mixin musubii-style-alert-tail-left-danger() {
  &:before {
    border-right-color: $alert-danger-border-color;
  }
  &:after {
    border-right-color: $alert-danger-background-color;
  }
}

@include generate-style($option-generate-style-alert) {
  @if $option-add-style-alert-tail == true {
    #{$selector-alert} {
      &#{$modifier-alert-tail-top} {
        &#{$modifier-alert-primary} {
          @include musubii-style-alert-tail-top-primary();
        }
        &#{$modifier-alert-info} {
          @include musubii-style-alert-tail-top-info();
        }
        &#{$modifier-alert-success} {
          @include musubii-style-alert-tail-top-success();
        }
        &#{$modifier-alert-warning} {
          @include musubii-style-alert-tail-top-warning();
        }
        &#{$modifier-alert-danger} {
          @include musubii-style-alert-tail-top-danger();
        }
      }
      &#{$modifier-alert-tail-right} {
        &#{$modifier-alert-primary} {
          @include musubii-style-alert-tail-right-primary();
        }
        &#{$modifier-alert-info} {
          @include musubii-style-alert-tail-right-info();
        }
        &#{$modifier-alert-success} {
          @include musubii-style-alert-tail-right-success();
        }
        &#{$modifier-alert-warning} {
          @include musubii-style-alert-tail-right-warning();
        }
        &#{$modifier-alert-danger} {
          @include musubii-style-alert-tail-right-danger();
        }
      }
      &#{$modifier-alert-tail-bottom} {
        &#{$modifier-alert-primary} {
          @include musubii-style-alert-tail-bottom-primary();
        }
        &#{$modifier-alert-info} {
          @include musubii-style-alert-tail-bottom-info();
        }
        &#{$modifier-alert-success} {
          @include musubii-style-alert-tail-bottom-success();
        }
        &#{$modifier-alert-warning} {
          @include musubii-style-alert-tail-bottom-warning();
        }
        &#{$modifier-alert-danger} {
          @include musubii-style-alert-tail-bottom-danger();
        }
      }
      &#{$modifier-alert-tail-left} {
        &#{$modifier-alert-primary} {
          @include musubii-style-alert-tail-left-primary();
        }
        &#{$modifier-alert-info} {
          @include musubii-style-alert-tail-left-info();
        }
        &#{$modifier-alert-success} {
          @include musubii-style-alert-tail-left-success();
        }
        &#{$modifier-alert-warning} {
          @include musubii-style-alert-tail-left-warning();
        }
        &#{$modifier-alert-danger} {
          @include musubii-style-alert-tail-left-danger();
        }
      }
    }
  }
}
