//----------------------------------------------------
// Elements: Badge
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Selectors
$selector-badge: "\.badge" !default;

// Modifiers
$modifier-badge-strong: "\.is-strong" !default;
$modifier-badge-round: "\.is-round" !default;
$modifier-badge-square: "\.is-square" !default;
$modifier-badge-circle: "\.is-circle" !default;
$modifier-badge-disabled: "\.is-disabled" !default;
$modifier-badge-plain: "\.is-plain" !default;
$modifier-badge-outline: "\.is-outline" !default;
$modifier-badge-primary: "\.is-primary" !default;
$modifier-badge-info: "\.is-info" !default;
$modifier-badge-success: "\.is-success" !default;
$modifier-badge-warning: "\.is-warning" !default;
$modifier-badge-danger: "\.is-danger" !default;

// Badge
$badge-padding: 0.25em 0.375em !default;
$badge-border-width: $global-border-width !default;
$badge-border-radius: $radius-sm !default;
$badge-paint-color: $convert-button-paint-color !default;
$badge-line-height: $line-height-xs !default;

// Badge Strong
$badge-strong-font-weight: $font-weight-strong !default;

// Badge Round
$badge-round-border-radius: $radius-full !default;

// Badge Disabled
$badge-disabled-background-color: $convert-disabled-background-color !default;
$badge-disabled-color: $convert-disabled-color !default;

// Badge Square
$badge-square-width: calc(1.75em + #{$global-border-width} * 2) !default;
$badge-square-height: calc(1.75em + #{$global-border-width} * 2) !default;
$badge-square-border-radius: $radius-sm !default;

// Badge Circle
$badge-circle-width: calc(1.75em + #{$global-border-width} * 2) !default;
$badge-circle-height: calc(1.75em + #{$global-border-width} * 2) !default;
$badge-circle-border-radius: $radius-full !default;

// Badge Plain
$badge-plain-background-color: $convert-background-2 !default;
$badge-plain-primary-background-color: $convert-primary !default;
$badge-plain-info-background-color: $convert-info !default;
$badge-plain-success-background-color: $convert-success !default;
$badge-plain-warning-background-color: $convert-warning !default;
$badge-plain-danger-background-color: $convert-danger !default;

// Badge Outline
$badge-outline-background-color: $convert-background !default;
$badge-outline-border-color: $convert-border !default;
$badge-outline-primary-border-color: $convert-primary !default;
$badge-outline-primary-color: $convert-primary-strong !default;
$badge-outline-info-border-color: $convert-info !default;
$badge-outline-info-color: $convert-info-strong !default;
$badge-outline-success-border-color: $convert-success !default;
$badge-outline-success-color: $convert-success-strong !default;
$badge-outline-warning-border-color: $convert-warning !default;
$badge-outline-warning-color: $convert-warning-strong !default;
$badge-outline-danger-border-color: $convert-danger !default;
$badge-outline-danger-color: $convert-danger-strong !default;

//----------------------------------------------------
// / Style - Badge Basic
//----------------------------------------------------

@mixin musubii-style-badge() {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: $badge-padding;
  border-radius: $badge-border-radius;
  color: $convert-body-color;
  text-align: center;
  line-height: $badge-line-height;
}

@mixin musubii-style-badge-strong() {
  font-weight: $badge-strong-font-weight;
}

@mixin musubii-style-badge-round() {
  border-radius: $badge-round-border-radius;
}

@include generate-style($option-generate-style-badge) {
  #{$selector-badge} {
    @include musubii-style-badge();
    &#{$modifier-badge-strong} {
      @include musubii-style-badge-strong();
    }
    &#{$modifier-badge-round} {
      @include musubii-style-badge-round();
    }
  }
}

//----------------------------------------------------
// / Style - Badge Square
//----------------------------------------------------

@mixin musubii-style-badge-square() {
  width: $badge-square-width;
  height: $badge-square-height;
  padding: 0;
  border-radius: $badge-square-border-radius;
  line-height: 1;
}

@include generate-style($option-generate-style-badge) {
  #{$selector-badge} {
    &#{$modifier-badge-square} {
      @include musubii-style-badge-square();
    }
  }
}

//----------------------------------------------------
// / Style - Badge Circle
//----------------------------------------------------

@mixin musubii-style-badge-circle() {
  width: $badge-circle-width;
  height: $badge-circle-height;
  padding: 0;
  border-radius: $badge-circle-border-radius;
  line-height: 1;
}

@include generate-style($option-generate-style-badge) {
  #{$selector-badge} {
    &#{$modifier-badge-circle} {
      @include musubii-style-badge-circle();
    }
  }
}

//----------------------------------------------------
// / Style - Badge Plain
//----------------------------------------------------

@mixin musubii-style-badge-plain() {
  background-color: $badge-plain-background-color;
  border: $badge-border-width solid transparent;
}

@mixin musubii-style-badge-plain-primary() {
  background-color: $badge-plain-primary-background-color;
  color: $badge-paint-color;
}

@mixin musubii-style-badge-plain-info() {
  background-color: $badge-plain-info-background-color;
  color: $badge-paint-color;
}

@mixin musubii-style-badge-plain-success() {
  background-color: $badge-plain-success-background-color;
  color: $badge-paint-color;
}

@mixin musubii-style-badge-plain-warning() {
  background-color: $badge-plain-warning-background-color;
  color: $badge-paint-color;
}

@mixin musubii-style-badge-plain-danger() {
  background-color: $badge-plain-danger-background-color;
  color: $badge-paint-color;
}

@mixin musubii-style-badge-plain-disabled() {
  background-color: $badge-disabled-background-color;
  color: $badge-disabled-color;
}

@include generate-style($option-generate-style-badge) {
  #{$selector-badge} {
    &#{$modifier-badge-plain} {
      @include musubii-style-badge-plain();
      &#{$modifier-badge-primary} {
        @include musubii-style-badge-plain-primary();
      }
      &#{$modifier-badge-info} {
        @include musubii-style-badge-plain-info();
      }
      &#{$modifier-badge-success} {
        @include musubii-style-badge-plain-success();
      }
      &#{$modifier-badge-warning} {
        @include musubii-style-badge-plain-warning();
      }
      &#{$modifier-badge-danger} {
        @include musubii-style-badge-plain-danger();
      }
      &#{$modifier-badge-disabled} {
        @include musubii-style-badge-plain-disabled();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Badge Outline
//----------------------------------------------------

@mixin musubii-style-badge-outline() {
  background-color: $badge-outline-background-color;
  border: $badge-border-width solid $badge-outline-border-color;
}

@mixin musubii-style-badge-outline-primary() {
  border-color: $badge-outline-primary-border-color;
  color: $badge-outline-primary-color;
}

@mixin musubii-style-badge-outline-info() {
  border-color: $badge-outline-info-border-color;
  color: $badge-outline-info-color;
}

@mixin musubii-style-badge-outline-success() {
  border-color: $badge-outline-success-border-color;
  color: $badge-outline-success-color;
}

@mixin musubii-style-badge-outline-warning() {
  border-color: $badge-outline-warning-border-color;
  color: $badge-outline-warning-color;
}

@mixin musubii-style-badge-outline-danger() {
  border-color: $badge-outline-danger-border-color;
  color: $badge-outline-danger-color;
}

@mixin musubii-style-badge-outline-disabled() {
  background-color: $badge-disabled-background-color;
  color: $badge-disabled-color;
  border-color: $badge-outline-border-color;
}

@include generate-style($option-generate-style-badge) {
  #{$selector-badge} {
    &#{$modifier-badge-outline} {
      @include musubii-style-badge-outline();
      &#{$modifier-badge-primary} {
        @include musubii-style-badge-outline-primary();
      }
      &#{$modifier-badge-info} {
        @include musubii-style-badge-outline-info();
      }
      &#{$modifier-badge-success} {
        @include musubii-style-badge-outline-success();
      }
      &#{$modifier-badge-warning} {
        @include musubii-style-badge-outline-warning();
      }
      &#{$modifier-badge-danger} {
        @include musubii-style-badge-outline-danger();
      }
      &#{$modifier-badge-disabled} {
        @include musubii-style-badge-outline-disabled();
      }
    }
  }
}
