//----------------------------------------------------
// Elements: Button
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Selectors
$selector-button: "\.button" !default;

// Modifiers
$modifier-button-strong: "\.is-strong" !default;
$modifier-button-round: "\.is-round" !default;
$modifier-button-floating: "\.is-floating" !default;
$modifier-button-square: "\.is-square" !default;
$modifier-button-circle: "\.is-circle" !default;
$modifier-button-disabled: "\.is-disabled" !default;
$modifier-button-plain: "\.is-plain" !default;
$modifier-button-outline: "\.is-outline" !default;
$modifier-button-melt: "\.is-melt" !default;
$modifier-button-primary: "\.is-primary" !default;
$modifier-button-info: "\.is-info" !default;
$modifier-button-success: "\.is-success" !default;
$modifier-button-warning: "\.is-warning" !default;
$modifier-button-danger: "\.is-danger" !default;
$modifier-button-angle-right: "\.is-angle-right" !default;
$modifier-button-angle-left: "\.is-angle-left" !default;
$modifier-button-angle-up: "\.is-angle-up" !default;
$modifier-button-angle-down: "\.is-angle-down" !default;

// Button
$button-padding: 0.5em 1em !default;
$button-border-width: $global-border-width !default;
$button-border-radius: $radius-sm !default;
$button-paint-color: $convert-button-paint-color !default;
$button-line-height: $line-height-md !default;
$button-transition: $global-transition !default;
$button-focus-shadow: $global-focus-shadow-size $convert-focus-alpha !default;

// Button Strong
$button-strong-font-weight: $font-weight-strong !default;

// Button Round
$button-round-border-radius: $radius-full !default;

// Button Floating
$button-floating-shadow: $global-floating-shadow-size $convert-shadow-alpha !default;
$button-floating-hover-shadow: $global-floating-hover-shadow-size
  $convert-shadow-alpha !default;
$button-floating-focus-shadow: $global-focus-shadow-size $convert-focus-alpha,
  $global-floating-hover-shadow-size $convert-shadow-alpha !default;

// Button Disabled
$button-disabled-background-color: $convert-disabled-background-color !default;
$button-disabled-color: $convert-disabled-color !default;

// Button Square
$button-square-width: calc(2.5em + #{$global-border-width} * 2) !default;
$button-square-height: calc(2.5em + #{$global-border-width} * 2) !default;
$button-square-border-radius: $radius-sm !default;

// Button Circle
$button-circle-width: calc(2.5em + #{$global-border-width} * 2) !default;
$button-circle-height: calc(2.5em + #{$global-border-width} * 2) !default;
$button-circle-border-radius: $radius-full !default;

// Button Plain
$button-plain-background-color: $convert-background-2 !default;
$button-plain-hover-background-color: $convert-background-4 !default;
$button-plain-primary-background-color: $convert-primary !default;
$button-plain-primary-hover-background-color: $convert-primary-darken !default;
$button-plain-info-background-color: $convert-info !default;
$button-plain-info-hover-background-color: $convert-info-darken !default;
$button-plain-success-background-color: $convert-success !default;
$button-plain-success-hover-background-color: $convert-success-darken !default;
$button-plain-warning-background-color: $convert-warning !default;
$button-plain-warning-hover-background-color: $convert-warning-darken !default;
$button-plain-danger-background-color: $convert-danger !default;
$button-plain-danger-hover-background-color: $convert-danger-darken !default;

$button-plain-primary-floating-shadow: $global-floating-shadow-size
  $convert-shadow-primary-alpha !default;
$button-plain-primary-floating-hover-shadow: $global-floating-hover-shadow-size
  $convert-shadow-primary-alpha !default;
$button-plain-primary-floating-focus-shadow: $global-focus-shadow-size
    $convert-focus-alpha,
  $global-floating-hover-shadow-size $convert-shadow-primary-alpha !default;
$button-plain-info-floating-shadow: $global-floating-shadow-size
  $convert-shadow-info-alpha !default;
$button-plain-info-floating-hover-shadow: $global-floating-hover-shadow-size
  $convert-shadow-info-alpha !default;
$button-plain-info-floating-focus-shadow: $global-focus-shadow-size
    $convert-focus-alpha,
  $global-floating-hover-shadow-size $convert-shadow-info-alpha !default;
$button-plain-success-floating-shadow: $global-floating-shadow-size
  $convert-shadow-success-alpha !default;
$button-plain-success-floating-hover-shadow: $global-floating-hover-shadow-size
  $convert-shadow-success-alpha !default;
$button-plain-success-floating-focus-shadow: $global-focus-shadow-size
    $convert-focus-alpha,
  $global-floating-hover-shadow-size $convert-shadow-success-alpha !default;
$button-plain-warning-floating-shadow: $global-floating-shadow-size
  $convert-shadow-warning-alpha !default;
$button-plain-warning-floating-hover-shadow: $global-floating-hover-shadow-size
  $convert-shadow-warning-alpha !default;
$button-plain-warning-floating-focus-shadow: $global-focus-shadow-size
    $convert-focus-alpha,
  $global-floating-hover-shadow-size $convert-shadow-warning-alpha !default;
$button-plain-danger-floating-shadow: $global-floating-shadow-size
  $convert-shadow-danger-alpha !default;
$button-plain-danger-floating-hover-shadow: $global-floating-hover-shadow-size
  $convert-shadow-danger-alpha !default;
$button-plain-danger-floating-focus-shadow: $global-focus-shadow-size
    $convert-focus-alpha,
  $global-floating-hover-shadow-size $convert-shadow-danger-alpha !default;

// Button Outline
$button-outline-background-color: $convert-background !default;
$button-outline-border-color: $convert-border !default;
$button-outline-hover-background-color: $convert-background-2 !default;
$button-outline-primary-border-color: $convert-primary !default;
$button-outline-primary-color: $convert-primary-strong !default;
$button-outline-primary-hover-background-color: $convert-primary !default;
$button-outline-info-border-color: $convert-info !default;
$button-outline-info-color: $convert-info-strong !default;
$button-outline-info-hover-background-color: $convert-info !default;
$button-outline-success-border-color: $convert-success !default;
$button-outline-success-color: $convert-success-strong !default;
$button-outline-success-hover-background-color: $convert-success !default;
$button-outline-warning-border-color: $convert-warning !default;
$button-outline-warning-color: $convert-warning-strong !default;
$button-outline-warning-hover-background-color: $convert-warning !default;
$button-outline-danger-border-color: $convert-danger !default;
$button-outline-danger-color: $convert-danger-strong !default;
$button-outline-danger-hover-background-color: $convert-danger !default;

// Button Melt
$button-melt-hover-background-color: $convert-background-alpha !default;
$button-melt-primary-color: $convert-primary-strong !default;
$button-melt-info-color: $convert-info-strong !default;
$button-melt-success-color: $convert-success-strong !default;
$button-melt-warning-color: $convert-warning-strong !default;
$button-melt-danger-color: $convert-danger-strong !default;

// Button Angle
$button-angle-size: 0.5em !default;
$button-angle-border-width: $global-border-width * 2 !default;
$button-angle-border-color: $convert-border-1 !default;

//----------------------------------------------------
// / Style - Button
//----------------------------------------------------

@mixin musubii-style-button() {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: $button-padding;
  border-radius: $button-border-radius;
  color: $convert-body-color;
  line-height: $button-line-height;
  text-align: center;
  transition: $button-transition;
  @if $option-add-style-button-focus == true {
    &:focus {
      box-shadow: $button-focus-shadow;
      outline: none;
    }
  }
}

@mixin musubii-style-button-strong() {
  font-weight: $button-strong-font-weight;
}

@mixin musubii-style-button-disabled() {
  cursor: not-allowed;
  pointer-events: none;
}

@mixin musubii-style-button-round() {
  border-radius: $button-round-border-radius;
}

@mixin musubii-style-button-floating() {
  box-shadow: $button-floating-shadow;
  &:hover {
    box-shadow: $button-floating-hover-shadow;
  }
  @if $option-add-style-button-focus == true {
    &:focus,
    &:hover:focus {
      box-shadow: $button-floating-focus-shadow;
    }
  }
}

@include generate-style($option-generate-style-button) {
  #{$selector-button} {
    @include musubii-style-button();
    &#{$modifier-button-strong} {
      @include musubii-style-button-strong();
    }
    &#{$modifier-button-round} {
      @include musubii-style-button-round();
    }
    &#{$modifier-button-floating} {
      &:not([disabled]),
      &:not(#{$modifier-button-disabled}) {
        @include musubii-style-button-floating();
      }
    }
    &[disabled],
    &#{$modifier-button-disabled} {
      @include musubii-style-button-disabled();
    }
  }
}

//----------------------------------------------------
// / Style - Button Square
//----------------------------------------------------

@mixin musubii-style-button-square() {
  width: $button-square-width;
  height: $button-square-height;
  padding: 0;
  border-radius: $button-square-border-radius;
  line-height: 1;
}

@include generate-style($option-generate-style-button) {
  #{$selector-button} {
    &#{$modifier-button-square} {
      @include musubii-style-button-square();
    }
  }
}

//----------------------------------------------------
// / Style - Button Circle
//----------------------------------------------------

@mixin musubii-style-button-circle() {
  width: $button-circle-width;
  height: $button-circle-height;
  padding: 0;
  border-radius: $button-circle-border-radius;
  line-height: 1;
}

@include generate-style($option-generate-style-button) {
  #{$selector-button} {
    &#{$modifier-button-circle} {
      @include musubii-style-button-circle();
    }
  }
}

//----------------------------------------------------
// / Style - Button Plain
//----------------------------------------------------

@mixin musubii-style-button-plain() {
  background-color: $button-plain-background-color;
  border: $button-border-width solid transparent;
  &:hover {
    background-color: $button-plain-hover-background-color;
  }
}

@mixin musubii-style-button-plain-primary() {
  background-color: $button-plain-primary-background-color;
  color: $button-paint-color;
  &:hover {
    background-color: $button-plain-primary-hover-background-color;
  }
}

@mixin musubii-style-button-plain-info() {
  background-color: $button-plain-info-background-color;
  color: $button-paint-color;
  &:hover {
    background-color: $button-plain-info-hover-background-color;
  }
}

@mixin musubii-style-button-plain-success() {
  background-color: $button-plain-success-background-color;
  color: $button-paint-color;
  &:hover {
    background-color: $button-plain-success-hover-background-color;
  }
}

@mixin musubii-style-button-plain-warning() {
  background-color: $button-plain-warning-background-color;
  color: $button-paint-color;
  &:hover {
    background-color: $button-plain-warning-hover-background-color;
  }
}

@mixin musubii-style-button-plain-danger() {
  background-color: $button-plain-danger-background-color;
  color: $button-paint-color;
  &:hover {
    background-color: $button-plain-danger-hover-background-color;
  }
}

@mixin musubii-style-button-plain-disabled() {
  background-color: $button-disabled-background-color;
  color: $button-disabled-color;
}

@mixin musubii-style-button-plain-primary-floating() {
  box-shadow: $button-plain-primary-floating-shadow;
  &:hover {
    box-shadow: $button-plain-primary-floating-hover-shadow;
  }
  &:focus {
    box-shadow: $button-plain-primary-floating-focus-shadow;
  }
}

@mixin musubii-style-button-plain-info-floating() {
  box-shadow: $button-plain-info-floating-shadow;
  &:hover {
    box-shadow: $button-plain-info-floating-hover-shadow;
  }
  &:focus {
    box-shadow: $button-plain-info-floating-focus-shadow;
  }
}

@mixin musubii-style-button-plain-success-floating() {
  box-shadow: $button-plain-success-floating-shadow;
  &:hover {
    box-shadow: $button-plain-success-floating-hover-shadow;
  }
  &:focus {
    box-shadow: $button-plain-success-floating-focus-shadow;
  }
}

@mixin musubii-style-button-plain-warning-floating() {
  box-shadow: $button-plain-warning-floating-shadow;
  &:hover {
    box-shadow: $button-plain-warning-floating-hover-shadow;
  }
  &:focus {
    box-shadow: $button-plain-warning-floating-focus-shadow;
  }
}

@mixin musubii-style-button-plain-danger-floating() {
  box-shadow: $button-plain-danger-floating-shadow;
  &:hover {
    box-shadow: $button-plain-danger-floating-hover-shadow;
  }
  &:focus {
    box-shadow: $button-plain-danger-floating-focus-shadow;
  }
}

@include generate-style($option-generate-style-button) {
  #{$selector-button} {
    &#{$modifier-button-plain} {
      @include musubii-style-button-plain();
      &#{$modifier-button-primary} {
        @include musubii-style-button-plain-primary();
        @if $option-add-style-button-role-shadow == true {
          &#{$modifier-button-floating} {
            @include musubii-style-button-plain-primary-floating();
          }
        }
      }
      &#{$modifier-button-info} {
        @include musubii-style-button-plain-info();
        @if $option-add-style-button-role-shadow == true {
          &#{$modifier-button-floating} {
            @include musubii-style-button-plain-info-floating();
          }
        }
      }
      &#{$modifier-button-success} {
        @include musubii-style-button-plain-success();
        @if $option-add-style-button-role-shadow == true {
          &#{$modifier-button-floating} {
            @include musubii-style-button-plain-success-floating();
          }
        }
      }
      &#{$modifier-button-warning} {
        @include musubii-style-button-plain-warning();
        @if $option-add-style-button-role-shadow == true {
          &#{$modifier-button-floating} {
            @include musubii-style-button-plain-warning-floating();
          }
        }
      }
      &#{$modifier-button-danger} {
        @include musubii-style-button-plain-danger();
        @if $option-add-style-button-role-shadow == true {
          &#{$modifier-button-floating} {
            @include musubii-style-button-plain-danger-floating();
          }
        }
      }
      &[disabled],
      &[disabled]:hover,
      &#{$modifier-button-disabled},
      &#{$modifier-button-disabled}:hover {
        @include musubii-style-button-plain-disabled();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Button Outline
//----------------------------------------------------

@mixin musubii-style-button-outline() {
  background-color: $button-outline-background-color;
  border: $button-border-width solid $button-outline-border-color;
  &:hover {
    background-color: $button-outline-hover-background-color;
  }
}

@mixin musubii-style-button-outline-primary() {
  border-color: $button-outline-primary-border-color;
  color: $button-outline-primary-color;
  &:hover {
    background-color: $button-outline-primary-hover-background-color;
    border-color: transparent;
    color: $button-paint-color;
  }
}

@mixin musubii-style-button-outline-info() {
  border-color: $button-outline-info-border-color;
  color: $button-outline-info-color;
  &:hover {
    background-color: $button-outline-info-hover-background-color;
    border-color: transparent;
    color: $button-paint-color;
  }
}

@mixin musubii-style-button-outline-success() {
  border-color: $button-outline-success-border-color;
  color: $button-outline-success-color;
  &:hover {
    background-color: $button-outline-success-hover-background-color;
    border-color: transparent;
    color: $button-paint-color;
  }
}

@mixin musubii-style-button-outline-warning() {
  border-color: $button-outline-warning-border-color;
  color: $button-outline-warning-color;
  &:hover {
    background-color: $button-outline-warning-hover-background-color;
    border-color: transparent;
    color: $button-paint-color;
  }
}

@mixin musubii-style-button-outline-danger() {
  border-color: $button-outline-danger-border-color;
  color: $button-outline-danger-color;
  &:hover {
    background-color: $button-outline-danger-hover-background-color;
    border-color: transparent;
    color: $button-paint-color;
  }
}

@mixin musubii-style-button-outline-disabled() {
  background-color: $button-disabled-background-color;
  border-color: $button-outline-border-color;
  color: $button-disabled-color;
}

@include generate-style($option-generate-style-button) {
  #{$selector-button} {
    &#{$modifier-button-outline} {
      @include musubii-style-button-outline();
      &#{$modifier-button-primary} {
        @include musubii-style-button-outline-primary();
      }
      &#{$modifier-button-info} {
        @include musubii-style-button-outline-info();
      }
      &#{$modifier-button-success} {
        @include musubii-style-button-outline-success();
      }
      &#{$modifier-button-warning} {
        @include musubii-style-button-outline-warning();
      }
      &#{$modifier-button-danger} {
        @include musubii-style-button-outline-danger();
      }
      &[disabled],
      &[disabled]:hover,
      &#{$modifier-button-disabled},
      &#{$modifier-button-disabled}:hover {
        @include musubii-style-button-outline-disabled();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Button Melt
//----------------------------------------------------

@mixin musubii-style-button-melt() {
  background-color: transparent;
  border: $button-border-width solid transparent;
  &:hover {
    background-color: $button-melt-hover-background-color;
  }
}

@mixin musubii-style-button-melt-primary() {
  color: $button-melt-primary-color;
}

@mixin musubii-style-button-melt-info() {
  color: $button-melt-info-color;
}

@mixin musubii-style-button-melt-success() {
  color: $button-melt-success-color;
}

@mixin musubii-style-button-melt-warning() {
  color: $button-melt-warning-color;
}

@mixin musubii-style-button-melt-danger() {
  color: $button-melt-danger-color;
}

@mixin musubii-style-button-melt-disabled() {
  color: $button-disabled-color;
  background-color: transparent;
}

@include generate-style($option-generate-style-button) {
  #{$selector-button} {
    &#{$modifier-button-melt} {
      @include musubii-style-button-melt();
      &#{$modifier-button-primary} {
        @include musubii-style-button-melt-primary();
      }
      &#{$modifier-button-info} {
        @include musubii-style-button-melt-info();
      }
      &#{$modifier-button-success} {
        @include musubii-style-button-melt-success();
      }
      &#{$modifier-button-warning} {
        @include musubii-style-button-melt-warning();
      }
      &#{$modifier-button-danger} {
        @include musubii-style-button-melt-danger();
      }
      &[disabled],
      &[disabled]:hover,
      &#{$modifier-button-disabled},
      &#{$modifier-button-disabled}:hover {
        @include musubii-style-button-melt-disabled();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Button Angle
//----------------------------------------------------

@mixin musubii-style-button-angle() {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    width: $button-angle-size;
    height: $button-angle-size;
    border-top: $button-angle-border-width solid $button-angle-border-color;
    border-right: $button-angle-border-width solid $button-angle-border-color;
    z-index: 2;
  }
}

@mixin musubii-style-button-angle-right() {
  &:after {
    right: $button-angle-size * 1.5;
    transform: translateY(-50%) rotate(45deg);
  }
}

@mixin musubii-style-button-angle-left() {
  &:after {
    left: $button-angle-size * 1.5;
    transform: translateY(-50%) rotate(-135deg);
  }
}

@mixin musubii-style-button-angle-up() {
  &:after {
    transform: translateY(-30%) rotate(-45deg);
  }
}

@mixin musubii-style-button-angle-down() {
  &:after {
    transform: translateY(-70%) rotate(135deg);
  }
}

@mixin musubii-style-button-angle-color-current() {
  &:after {
    border-color: currentColor;
  }
}

@include generate-style($option-generate-style-button) {
  @if $option-add-style-button-angle == true {
    #{$selector-button} {
      &#{$modifier-button-angle-right},
      &#{$modifier-button-angle-left} {
        @include musubii-style-button-angle();
      }
      &#{$modifier-button-angle-right} {
        @include musubii-style-button-angle-right();
      }
      &#{$modifier-button-angle-left} {
        @include musubii-style-button-angle-left();
      }
      &#{$modifier-button-angle-right},
      &#{$modifier-button-angle-left} {
        &#{$modifier-button-angle-up} {
          @include musubii-style-button-angle-up();
        }
        &#{$modifier-button-angle-down} {
          @include musubii-style-button-angle-down();
        }
        &#{$modifier-button-primary},
        &#{$modifier-button-info},
        &#{$modifier-button-success},
        &#{$modifier-button-warning},
        &#{$modifier-button-danger} {
          @include musubii-style-button-angle-color-current();
        }
      }
    }
  }
}
