//----------------------------------------------------
// Elements: Form
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Selectors
$selector-form-input: "\.input" !default;
$selector-form-textarea: "\.textarea" !default;
$selector-form-label: "\.label" !default;
$selector-form-radio: "\.radio" !default;
$selector-form-checkbox: "\.checkbox" !default;
$selector-form-select: "\.select" !default;
$selector-form-select-core: "select" !default;
$selector-form-fieldset: "\.fieldset" !default;

// Modifiers
$modifier-form-success: "\.is-success" !default;
$modifier-form-danger: "\.is-danger" !default;
$modifier-form-round: "\.is-round" !default;
$modifier-form-plain: "\.is-plain" !default;
$modifier-form-underline: "\.is-underline" !default;
$modifier-form-inside: "\.is-inside" !default;
$modifier-form-right: "\.is-right" !default;
$modifier-form-center: "\.is-center" !default;
$modifier-form-left: "\.is-left" !default;
$modifier-form-middle: "\.is-middle" !default;
$modifier-form-checked: "\.is-checked" !default;
$modifier-form-disabled: "\.is-disabled" !default;
$modifier-form-multiple: "\.is-multiple" !default;

// Input
$input-height: 2.5em !default;
$input-padding: 0.5em 0.75em !default;
$input-background-color: $convert-background-1 !default;
$input-border-width: $global-border-width !default;
$input-border-color: $convert-border !default;
$input-border-radius: $radius-xs !default;
$input-line-height: $line-height-md !default;
$input-shadow: $global-inset-shadow-size $convert-shadow-alpha-thin !default;
$input-transition: $global-transition !default;

// Input Placeholder
$input-placeholder-color: $convert-input-placeholder-color !default;

// Input Disabled
$input-disabled-background-color: $convert-disabled-background-color !default;
$input-disabled-border-color: $convert-disabled-border-color !default;
$input-disabled-shadow: $global-inset-shadow-size $convert-shadow-alpha-thin !default;
$input-disabled-color: $convert-disabled-color !default;

// Input Readonly
$input-readonly-background-color: $convert-background-2 !default;
$input-readonly-border-color: $convert-border !default;
$input-readonly-shadow: $global-inset-shadow-size $convert-shadow-alpha-thin !default;
$input-readonly-color: $convert-body-color !default;

// Input Focus
$input-focus-border-color: $convert-focus-darken !default;
$input-focus-shadow: $global-inset-shadow-size $convert-shadow-alpha-thin,
  $global-focus-shadow-size $convert-focus-alpha-thin !default;

// Input Round
$input-round-border-radius: $radius-full !default;

// Input Plain
$input-plain-background-color: $convert-background-2 !default;
$input-plain-border-color: transparent !default;
$input-plain-focus-shadow: $global-focus-shadow-size $convert-focus-alpha-thin !default;

// Input Underline
$input-underline-padding-left: 0 !default;
$input-underline-padding-right: 0 !default;
$input-underline-border-width: $global-border-width !default;
$input-underline-border-color: $convert-border !default;

// Input Inside
$input-inside-padding: 0.5em 0.75em !default;

// Input Success
$input-success-background-color: $convert-input-success-background-color !default;
$input-success-border-color: $convert-input-success-border-color !default;

// Input Danger
$input-danger-background-color: $convert-input-danger-background-color !default;
$input-danger-border-color: $convert-input-danger-border-color !default;

// Textarea
$textarea-padding: calc(0.5em - 1.5px) 0.5em !default;

// Radio
$radio-size: 1em !default;
$radio-border-width: $global-border-width * 2 !default;
$radio-background-color: $convert-background !default;
$radio-transition: $global-transition !default;
$radio-focus-shadow: $global-focus-shadow-size $convert-focus-alpha-thin !default;
$radio-before-checked-background-color: $convert-primary-strong !default;
$radio-checked-border-color: $convert-primary-strong !default;

// Checkbox
$checkbox-size: 1em !default;
$checkbox-border-width: $global-border-width * 2 !default;
$checkbox-border-radius: $radius-xs !default;
$checkbox-background-color: $convert-background !default;
$checkbox-transition: $global-transition !default;
$checkbox-focus-border-color: $convert-focus-darken !default;
$checkbox-focus-shadow: $global-focus-shadow-size $convert-focus-alpha-thin !default;
$checkbox-before-border-color: $convert-checkbox-before-border-color !default;
$checkbox-checked-background-color: $convert-primary !default;
$checkbox-checked-border-color: $convert-primary !default;

// Select
$select-angle-size: 0.5em !default;
$select-angle-border-width: $global-border-width * 2 !default;
$select-angle-border-color: $convert-border-1 !default;
$select-transition: $global-transition !default;
$select-focus-shadow: $global-focus-shadow-size $convert-focus-alpha-thin !default;

//----------------------------------------------------
// / Style - Form Input
//----------------------------------------------------

@mixin musubii-style-form-input() {
  position: relative;
  max-width: 100%;
  height: calc(#{$input-height} + (#{$input-border-width} * 2));
  padding: $input-padding;
  background-color: $input-background-color;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  box-shadow: $input-shadow;
  color: $convert-body-color;
  line-height: $input-line-height;
  appearance: none;
  transition: $input-transition;
  @if $option-add-style-form-focus == true {
    &:focus,
    &[readonly]:focus {
      border-color: $input-focus-border-color;
      box-shadow: $input-focus-shadow;
      outline: none;
    }
  }
  @include placeholder {
    color: $input-placeholder-color;
  }
}

@mixin musubii-style-form-textarea() {
  position: relative;
  max-width: 100%;
  padding: $textarea-padding;
  background-color: $input-background-color;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  box-shadow: $input-shadow;
  color: $convert-body-color;
  appearance: none;
  transition: $input-transition;
  @if $option-add-style-form-focus == true {
    &:focus,
    &[readonly]:focus {
      border-color: $input-focus-border-color;
      box-shadow: $input-focus-shadow;
      outline: none;
    }
  }
  @include placeholder {
    color: $input-placeholder-color;
  }
}

@mixin musubii-style-form-input-disabled() {
  cursor: not-allowed;
  background-color: $input-disabled-background-color;
  box-shadow: $input-disabled-shadow;
  color: $input-disabled-color;
}

@mixin musubii-style-form-input-readonly() {
  background-color: $input-readonly-background-color;
  border-color: $input-readonly-border-color;
  box-shadow: $input-readonly-shadow;
  color: $input-readonly-color;
}

@mixin musubii-style-form-input-right() {
  text-align: right;
}

@mixin musubii-style-form-input-center() {
  text-align: center;
}

@mixin musubii-style-form-input-left() {
  text-align: left;
}

@mixin musubii-style-form-input-success() {
  border-color: $input-success-border-color;
}

@mixin musubii-style-form-input-danger() {
  background-color: $input-danger-background-color;
  border-color: $input-danger-border-color;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-input} {
    &[type="text"],
    &[type="search"],
    &[type="url"],
    &[type="email"],
    &[type="tel"],
    &[type="password"],
    &[type="datetime-local"],
    &[type="date"],
    &[type="month"],
    &[type="week"],
    &[type="time"],
    &[type="number"] {
      @include musubii-style-form-input();
      &[disabled] {
        @include musubii-style-form-input-disabled();
      }
      &[readonly] {
        @include musubii-style-form-input-readonly();
      }
      &#{$modifier-form-right} {
        @include musubii-style-form-input-right();
      }
      &#{$modifier-form-center} {
        @include musubii-style-form-input-center();
      }
      &#{$modifier-form-left} {
        @include musubii-style-form-input-left();
      }
      &#{$modifier-form-success} {
        &:not([disabled]):not([readonly]) {
          @include musubii-style-form-input-success();
        }
      }
      &#{$modifier-form-danger} {
        &:not([disabled]):not([readonly]) {
          @include musubii-style-form-input-danger();
        }
      }
    }
  }
  #{$selector-form-textarea} {
    @include musubii-style-form-textarea();
    &[disabled] {
      @include musubii-style-form-input-disabled();
    }
    &[readonly] {
      @include musubii-style-form-input-readonly();
    }
    &#{$modifier-form-success} {
      &:not([disabled]):not([readonly]) {
        @include musubii-style-form-input-success();
      }
    }
    &#{$modifier-form-danger} {
      &:not([disabled]):not([readonly]) {
        @include musubii-style-form-input-danger();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Input Round
//----------------------------------------------------

@mixin musubii-style-form-input-round() {
  border-radius: $input-round-border-radius;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-input} {
    &[type="text"],
    &[type="search"],
    &[type="url"],
    &[type="email"],
    &[type="tel"],
    &[type="password"],
    &[type="datetime-local"],
    &[type="date"],
    &[type="month"],
    &[type="week"],
    &[type="time"],
    &[type="number"] {
      &#{$modifier-form-round} {
        @include musubii-style-form-input-round();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Input Plain
//----------------------------------------------------

@mixin musubii-style-form-input-plain() {
  background-color: $input-plain-background-color;
  border: $input-border-width solid $input-plain-border-color;
  box-shadow: none;
  @if $option-add-style-form-focus == true {
    &:focus,
    &[readonly]:focus {
      border-color: $input-focus-border-color;
      box-shadow: $input-plain-focus-shadow;
    }
  }
}

@mixin musubii-style-form-input-plain-disabled() {
  background-color: $input-disabled-background-color;
}

@mixin musubii-style-form-input-plain-success() {
  background-color: $input-success-background-color;
  border-color: $input-plain-border-color;
}

@mixin musubii-style-form-input-plain-danger() {
  background-color: $input-danger-background-color;
  border-color: $input-plain-border-color;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-input} {
    &[type="text"],
    &[type="search"],
    &[type="url"],
    &[type="email"],
    &[type="tel"],
    &[type="password"],
    &[type="datetime-local"],
    &[type="date"],
    &[type="month"],
    &[type="week"],
    &[type="time"],
    &[type="number"] {
      &#{$modifier-form-plain} {
        @include musubii-style-form-input-plain();
        &[disabled] {
          @include musubii-style-form-input-plain-disabled();
        }
        &#{$modifier-form-success} {
          &:not([disabled]):not([readonly]) {
            @include musubii-style-form-input-plain-success();
          }
        }
        &#{$modifier-form-danger} {
          &:not([disabled]):not([readonly]) {
            @include musubii-style-form-input-plain-danger();
          }
        }
      }
    }
  }
  #{$selector-form-textarea} {
    &#{$modifier-form-plain} {
      @include musubii-style-form-input-plain();
      &[disabled] {
        @include musubii-style-form-input-plain-disabled();
      }
      &#{$modifier-form-success} {
        &:not([disabled]):not([readonly]) {
          @include musubii-style-form-input-plain-success();
        }
      }
      &#{$modifier-form-danger} {
        &:not([disabled]):not([readonly]) {
          @include musubii-style-form-input-plain-danger();
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Input Underline
//----------------------------------------------------

@mixin musubii-style-form-input-underline() {
  padding-left: $input-underline-padding-left;
  padding-right: $input-underline-padding-right;
  background-color: transparent;
  border: none;
  border-bottom: $input-underline-border-width solid
    $input-underline-border-color;
  border-radius: 0;
  box-shadow: none;
  @if $option-add-style-form-focus == true {
    &:focus,
    &[readonly]:focus {
      border-color: $input-focus-border-color;
      box-shadow: none;
    }
  }
}

@mixin musubii-style-form-input-underline-disabled() {
  background-color: transparent;
}

@mixin musubii-style-form-input-underline-success() {
  background-color: transparent;
  border-bottom-color: $input-success-border-color;
}

@mixin musubii-style-form-input-underline-danger() {
  background-color: transparent;
  border-bottom-color: $input-danger-border-color;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-input} {
    &[type="text"],
    &[type="search"],
    &[type="url"],
    &[type="email"],
    &[type="tel"],
    &[type="password"],
    &[type="datetime-local"],
    &[type="date"],
    &[type="month"],
    &[type="week"],
    &[type="time"],
    &[type="number"] {
      &#{$modifier-form-underline} {
        @include musubii-style-form-input-underline();
        &[disabled],
        &[readonly] {
          @include musubii-style-form-input-underline-disabled();
        }
        &#{$modifier-form-success} {
          &:not([disabled]):not([readonly]) {
            @include musubii-style-form-input-underline-success();
          }
        }
        &#{$modifier-form-danger} {
          &:not([disabled]):not([readonly]) {
            @include musubii-style-form-input-underline-danger();
          }
        }
      }
    }
  }
  #{$selector-form-textarea} {
    &#{$modifier-form-underline} {
      @include musubii-style-form-input-underline();
      &[disabled],
      &[readonly] {
        @include musubii-style-form-input-underline-disabled();
      }
      &#{$modifier-form-success} {
        &:not([disabled]):not([readonly]) {
          @include musubii-style-form-input-underline-success();
        }
      }
      &#{$modifier-form-danger} {
        &:not([disabled]):not([readonly]) {
          @include musubii-style-form-input-underline-danger();
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Input Inside
//----------------------------------------------------

@mixin musubii-style-form-input-inside() {
  padding: $input-inside-padding;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  box-shadow: none;
  @if $option-add-style-form-focus == true {
    &:focus,
    &[readonly]:focus {
      border-color: transparent;
      box-shadow: none;
    }
  }
}

@mixin musubii-style-form-input-inside-disabled() {
  background-color: transparent;
  border-color: transparent;
}

@mixin musubii-style-form-input-inside-success() {
  background-color: $input-success-background-color;
  border-color: transparent;
}

@mixin musubii-style-form-input-inside-danger() {
  background-color: $input-danger-background-color;
  border-color: transparent;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-input} {
    &[type="text"],
    &[type="search"],
    &[type="url"],
    &[type="email"],
    &[type="tel"],
    &[type="password"],
    &[type="datetime-local"],
    &[type="date"],
    &[type="month"],
    &[type="week"],
    &[type="time"],
    &[type="number"] {
      &#{$modifier-form-inside} {
        @include musubii-style-form-input-inside();
        &[disabled],
        &[readonly] {
          @include musubii-style-form-input-inside-disabled();
        }
        &#{$modifier-form-success} {
          &:not([disabled]):not([readonly]) {
            @include musubii-style-form-input-inside-success();
          }
        }
        &#{$modifier-form-danger} {
          &:not([disabled]):not([readonly]) {
            @include musubii-style-form-input-inside-danger();
          }
        }
      }
    }
  }
  #{$selector-form-textarea} {
    &#{$modifier-form-inside} {
      @include musubii-style-form-input-inside();
      &[disabled],
      &[readonly] {
        @include musubii-style-form-input-inside-disabled();
      }
      &#{$modifier-form-success} {
        &:not([disabled]):not([readonly]) {
          @include musubii-style-form-input-inside-success();
        }
      }
      &#{$modifier-form-danger} {
        &:not([disabled]):not([readonly]) {
          @include musubii-style-form-input-inside-danger();
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Input File
//----------------------------------------------------

@mixin musubii-style-form-input-file() {
  display: none;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-input} {
    &[type="file"] {
      @include musubii-style-form-input-file();
    }
  }
}

//----------------------------------------------------
// / Style - Form Label
//----------------------------------------------------

@mixin musubii-style-form-label() {
  cursor: pointer;
  display: flex;
  &:not(#{$modifier-form-middle}) {
    #{$selector-form-radio} {
      top: $radio-size * 0.25;
    }
    #{$selector-form-checkbox} {
      top: $checkbox-size * 0.25;
    }
  }
}

@mixin musubii-style-form-label-middle() {
  align-items: center;
}

@mixin musubii-style-form-label-center() {
  justify-content: center;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-label} {
    @include musubii-style-form-label();
    &#{$modifier-form-middle} {
      @include musubii-style-form-label-middle();
    }
    &#{$modifier-form-center} {
      @include musubii-style-form-label-center();
    }
  }
}

//----------------------------------------------------
// / Style - Form Radio
//----------------------------------------------------

@mixin musubii-style-form-radio() {
  position: relative;
  display: inline-block;
  flex: none;
  width: $radio-size;
  height: $radio-size;
  background-color: $radio-background-color;
  border: $radio-border-width solid $input-border-color;
  border-radius: $radio-size * 0.5;
  transition: $radio-transition;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: $radio-size * 0.5;
    height: $radio-size * 0.5;
    background-color: $radio-before-checked-background-color;
    border-radius: $radio-size * 0.5 * 0.5;
    transform: translate(-50%, -50%);
    transition: $radio-transition;
    opacity: 0;
  }
}

@mixin musubii-style-form-radio-core() {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-radio} {
    @include musubii-style-form-radio();
  }
  #{$selector-form-input} {
    &[type="radio"] {
      @include musubii-style-form-radio-core();
    }
  }
}

//----------------------------------------------------
// / Style - Form Radio Focus
//----------------------------------------------------

@mixin musubii-style-form-radio-focus() {
  box-shadow: $radio-focus-shadow;
  outline: none;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-radio} {
    &:focus {
      @include musubii-style-form-radio-focus();
    }
  }
  #{$selector-form-input} {
    &[type="radio"] {
      &:focus {
        + {
          #{$selector-form-label} {
            #{$selector-form-radio} {
              @include musubii-style-form-radio-focus();
            }
          }
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Radio Checked
//----------------------------------------------------

@mixin musubii-style-form-radio-checkbox() {
  border-color: $radio-checked-border-color;
  &:before {
    opacity: 1;
  }
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-radio} {
    &#{$modifier-form-checked} {
      @include musubii-style-form-radio-checkbox();
    }
  }
  #{$selector-form-input} {
    &[type="radio"] {
      &:checked {
        + {
          #{$selector-form-label} {
            #{$selector-form-radio} {
              @include musubii-style-form-radio-checkbox();
            }
          }
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Radio Disabled
//----------------------------------------------------

@mixin musubii-style-form-radio-disabled() {
  cursor: not-allowed;
  border-color: $input-disabled-border-color;
}

@mixin musubii-style-form-radio-label-disabled() {
  cursor: not-allowed;
  color: $input-disabled-color;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-radio} {
    &#{$modifier-form-disabled} {
      @include musubii-style-form-radio-disabled();
    }
  }
  #{$selector-form-input} {
    &[type="radio"] {
      &[disabled] {
        + {
          #{$selector-form-label} {
            @include musubii-style-form-radio-label-disabled();
            #{$selector-form-radio} {
              @include musubii-style-form-radio-disabled();
            }
          }
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Checkbox
//----------------------------------------------------

@mixin musubii-style-form-checkbox() {
  position: relative;
  display: inline-block;
  flex: none;
  width: $checkbox-size;
  height: $checkbox-size;
  background-color: $checkbox-background-color;
  border: $checkbox-border-width solid $input-border-color;
  border-radius: $checkbox-border-radius;
  transition: $checkbox-transition;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: $checkbox-size * 0.75;
    height: $checkbox-size * 0.375;
    border-left: $checkbox-size * 0.125 solid $checkbox-before-border-color;
    border-bottom: $checkbox-size * 0.125 solid $checkbox-before-border-color;
    transform: translate(-50%, -70%) rotate(-45deg);
    transition: $checkbox-transition;
    opacity: 0;
  }
}

@mixin musubii-style-form-checkbox-core() {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-checkbox} {
    @include musubii-style-form-checkbox();
  }
  #{$selector-form-input} {
    &[type="checkbox"] {
      @include musubii-style-form-checkbox-core();
    }
  }
}

//----------------------------------------------------
// / Style - Form Checkbox Focus
//----------------------------------------------------

@mixin musubii-style-form-checkbox-focus() {
  border-color: $checkbox-focus-border-color;
  box-shadow: $checkbox-focus-shadow;
  outline: none;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-checkbox} {
    &:focus {
      @include musubii-style-form-checkbox-focus();
    }
  }
  #{$selector-form-input} {
    &[type="checkbox"] {
      &:focus {
        + {
          #{$selector-form-label} {
            #{$selector-form-checkbox} {
              @include musubii-style-form-checkbox-focus();
            }
          }
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Checkbox Checked
//----------------------------------------------------

@mixin musubii-style-form-checkbox-checkbox() {
  background-color: $checkbox-checked-background-color;
  border-color: $checkbox-checked-border-color;
  &:before {
    opacity: 1;
  }
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-checkbox} {
    &#{$modifier-form-checked} {
      @include musubii-style-form-checkbox-checkbox();
    }
  }
  #{$selector-form-input} {
    &[type="checkbox"] {
      &:checked {
        + {
          #{$selector-form-label} {
            #{$selector-form-checkbox} {
              @include musubii-style-form-checkbox-checkbox();
            }
          }
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Checkbox Disabled
//----------------------------------------------------

@mixin musubii-style-form-checkbox-disabled() {
  cursor: not-allowed;
  border-color: $input-disabled-border-color;
}

@mixin musubii-style-form-checkbox-label-disabled() {
  cursor: not-allowed;
  color: $input-disabled-color;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-checkbox} {
    &#{$modifier-form-disabled} {
      @include musubii-style-form-checkbox-disabled();
    }
  }
  #{$selector-form-input} {
    &[type="checkbox"] {
      &[disabled] {
        + {
          #{$selector-form-label} {
            @include musubii-style-form-checkbox-label-disabled();
            #{$selector-form-checkbox} {
              @include musubii-style-form-checkbox-disabled();
            }
          }
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Select
//----------------------------------------------------

@mixin musubii-style-form-select() {
  position: relative;
  display: inline-flex;
}

@mixin musubii-style-form-select-angle() {
  &:after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: ($select-angle-size * 2);
    width: $select-angle-size;
    height: $select-angle-size;
    border-bottom: $select-angle-border-width solid $select-angle-border-color;
    border-right: $select-angle-border-width solid $select-angle-border-color;
    transform: translateY(-70%) rotate(45deg);
    z-index: 3;
  }
}

@mixin musubii-style-form-select-core() {
  cursor: pointer;
  flex: none;
  width: 100%;
  height: calc(#{$input-height} + (#{$input-border-width} * 2));
  padding: $input-padding;
  background-color: $input-background-color;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  color: $convert-body-color;
  line-height: $input-line-height;
  transition: $select-transition;
  appearance: none;
  &::-ms-expand {
    display: none;
  }
  @if $option-add-style-form-focus == true {
    &:focus,
    &[readonly]:focus {
      border-color: $input-focus-border-color;
      box-shadow: $select-focus-shadow;
      outline: none;
    }
  }
}

@mixin musubii-style-form-select-core-angle-fix() {
  padding-right: ($select-angle-size * 5);
}

@mixin musubii-style-form-select-core-disabled() {
  cursor: not-allowed;
  background-color: $input-disabled-background-color;
  color: $input-disabled-color;
  > option {
    color: $input-disabled-color;
  }
}

@mixin musubii-style-form-select-core-readonly() {
  background-color: $input-readonly-background-color;
  color: $input-readonly-color;
}

@mixin musubii-style-form-select-core-success() {
  border-color: $input-success-border-color;
}

@mixin musubii-style-form-select-core-danger() {
  background-color: $input-danger-background-color;
  border-color: $input-danger-border-color;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-select} {
    @include musubii-style-form-select();
    > {
      #{$selector-form-select-core} {
        @include musubii-style-form-select-core();
        &[disabled] {
          @include musubii-style-form-select-core-disabled();
        }
        &[readonly] {
          @include musubii-style-form-select-core-readonly();
        }
      }
    }
    &:not(#{$modifier-form-multiple}) {
      @include musubii-style-form-select-angle();
      > {
        #{$selector-form-select-core} {
          @include musubii-style-form-select-core-angle-fix();
        }
      }
    }
    &#{$modifier-form-success} {
      > {
        #{$selector-form-select-core} {
          &:not([disabled]):not([readonly]) {
            @include musubii-style-form-select-core-success();
          }
        }
      }
    }
    &#{$modifier-form-danger} {
      > {
        #{$selector-form-select-core} {
          &:not([disabled]):not([readonly]) {
            @include musubii-style-form-select-core-danger();
          }
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Select Round
//----------------------------------------------------

@mixin musubii-style-form-select-round() {
  border-radius: $input-round-border-radius;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-select} {
    &#{$modifier-form-round}:not(#{$modifier-form-multiple}) {
      > {
        #{$selector-form-select-core} {
          @include musubii-style-form-select-round();
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Select Plain
//----------------------------------------------------

@mixin musubii-style-form-select-core-plain() {
  background-color: $input-plain-background-color;
  border: $input-border-width solid transparent;
  @if $option-add-style-form-focus == true {
    &:focus,
    &[readonly]:focus {
      border-color: $input-focus-border-color;
    }
  }
}

@mixin musubii-style-form-select-core-plain-disabled() {
  background-color: $input-disabled-background-color;
}

@mixin musubii-style-form-select-core-plain-success() {
  background-color: $input-success-background-color;
  border-color: transparent;
}

@mixin musubii-style-form-select-core-plain-danger() {
  background-color: $input-danger-background-color;
  border-color: transparent;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-select} {
    &#{$modifier-form-plain} {
      > {
        #{$selector-form-select-core} {
          @include musubii-style-form-select-core-plain();
          &[disabled] {
            @include musubii-style-form-select-core-plain-disabled();
          }
        }
      }
      &#{$modifier-form-success} {
        > {
          #{$selector-form-select-core} {
            &:not([disabled]):not([readonly]) {
              @include musubii-style-form-select-core-plain-success();
            }
          }
        }
      }
      &#{$modifier-form-danger} {
        > {
          #{$selector-form-select-core} {
            &:not([disabled]):not([readonly]) {
              @include musubii-style-form-select-core-plain-danger();
            }
          }
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Select Underline
//----------------------------------------------------

@mixin musubii-style-form-select-core-underline() {
  padding-left: $input-underline-padding-left;
  background-color: transparent;
  border: none;
  border-bottom: $input-underline-border-width solid
    $input-underline-border-color;
  border-radius: 0;
  box-shadow: none;
  @if $option-add-style-form-focus == true {
    &:focus,
    &[readonly]:focus {
      border-color: $input-focus-border-color;
      box-shadow: none;
    }
  }
}

@mixin musubii-style-form-select-core-underline-disabled() {
  background-color: transparent;
}

@mixin musubii-style-form-select-core-underline-success() {
  background-color: transparent;
  border-bottom-color: $input-success-border-color;
}

@mixin musubii-style-form-select-core-underline-danger() {
  background-color: transparent;
  border-bottom-color: $input-danger-border-color;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-select} {
    &#{$modifier-form-underline} {
      > {
        #{$selector-form-select-core} {
          @include musubii-style-form-select-core-underline();
          &[disabled],
          &[readonly] {
            @include musubii-style-form-select-core-underline-disabled();
          }
        }
      }
      &#{$modifier-form-success} {
        > {
          #{$selector-form-select-core} {
            &:not([disabled]):not([readonly]) {
              @include musubii-style-form-select-core-underline-success();
            }
          }
        }
      }
      &#{$modifier-form-danger} {
        > {
          #{$selector-form-select-core} {
            &:not([disabled]):not([readonly]) {
              @include musubii-style-form-select-core-underline-danger();
            }
          }
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Select Inside
//----------------------------------------------------

@mixin musubii-style-form-select-core-inside() {
  padding: $input-inside-padding;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  box-shadow: none;
  @if $option-add-style-form-focus == true {
    &:focus,
    &[readonly]:focus {
      border-color: transparent;
      box-shadow: none;
    }
  }
}

@mixin musubii-style-form-select-core-inside-disabled() {
  background-color: transparent;
  border-color: transparent;
}

@mixin musubii-style-form-select-core-inside-angle-fix() {
  padding-right: ($select-angle-size * 5);
}

@mixin musubii-style-form-select-core-inside-success() {
  background-color: $input-success-background-color;
  border-color: transparent;
}

@mixin musubii-style-form-select-core-inside-danger() {
  background-color: $input-danger-background-color;
  border-color: transparent;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-select} {
    &#{$modifier-form-inside} {
      > {
        #{$selector-form-select-core} {
          @include musubii-style-form-select-core-inside();
          &[disabled],
          &[readonly] {
            @include musubii-style-form-select-core-inside-disabled();
          }
        }
      }
      &:not(#{$modifier-form-multiple}) {
        > {
          #{$selector-form-select-core} {
            @include musubii-style-form-select-core-inside-angle-fix();
          }
        }
      }
      &#{$modifier-form-success} {
        > {
          #{$selector-form-select-core} {
            &:not([disabled]):not([readonly]) {
              @include musubii-style-form-select-core-inside-success();
            }
          }
        }
      }
      &#{$modifier-form-danger} {
        > {
          #{$selector-form-select-core} {
            &:not([disabled]):not([readonly]) {
              @include musubii-style-form-select-core-inside-danger();
            }
          }
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Select Multiple
//----------------------------------------------------

@mixin musubii-style-form-select-core-multiple() {
  height: auto;
  padding: 0;
  > option {
    min-height: 1.5em;
    padding: 0.5em 0.75em;
  }
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-select} {
    &#{$modifier-form-multiple} {
      > {
        #{$selector-form-select-core} {
          @include musubii-style-form-select-core-multiple();
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Fieldset
//----------------------------------------------------

@mixin musubii-style-form-fieldset() {
  padding: 0;
  border: none;
}

@include generate-style($option-generate-style-form) {
  #{$selector-form-fieldset} {
    @include musubii-style-form-fieldset();
  }
}
