//----------------------------------------------------
// Elements: Icon
//----------------------------------------------------

//----------------------------------------------------
// / Variables (Default)
//----------------------------------------------------

// Option
$option-mixin-mode: false !default;
$option-style-icon: true !default;

// Selectors
$selector-icon: ".icon, .im, .fa, .fas, .far, .fal, .fab, .material-icons" !default;
$selector-icon-svg: "svg.icon" !default;
$selector-icon-material: ".material-icons" !default;

// Icon Fit
$icon-fit-width: 1em !default;

//----------------------------------------------------
// / Mixins (Default)
//----------------------------------------------------

@mixin export-style-icon() {
  @if $option-mixin-mode == false and $option-style-icon == true {
    @content;
  }
}

//----------------------------------------------------
// / Style - Icon
//----------------------------------------------------

@mixin musubii-style-icon() {
  font-size: inherit;
  line-height: inherit;
}

@include export-style-icon() {
  #{$selector-icon} {
    @include musubii-style-icon();
  }
}

//----------------------------------------------------
// / Style - Text Color
//----------------------------------------------------

@mixin --is-color($color-name, $color) {
  &.is-#{$color-name} {
    color: $color;
  }
}

@mixin musubii-style-icon-dark() {
  @include --is-color(dark, $convert-text-dark);
  @include --is-color(dark-1, $convert-text-dark-1);
  @include --is-color(dark-2, $convert-text-dark-2);
  @include --is-color(dark-3, $convert-text-dark-3);
  @include --is-color(dark-4, $convert-text-dark-4);
  @include --is-color(dark-5, $convert-text-dark-5);
  @include --is-color(dark-6, $convert-text-dark-6);
  @include --is-color(dark-7, $convert-text-dark-7);
  @include --is-color(dark-8, $convert-text-dark-8);
  @include --is-color(dark-9, $convert-text-dark-9);
}

@include export-style-icon() {
  #{$selector-icon} {
    @include musubii-style-icon-dark();
  }
}

//----------------------------------------------------

@mixin musubii-style-icon-light() {
  @include --is-color(light, $convert-text-light);
  @include --is-color(light-1, $convert-text-light-1);
  @include --is-color(light-2, $convert-text-light-2);
  @include --is-color(light-3, $convert-text-light-3);
  @include --is-color(light-4, $convert-text-light-4);
  @include --is-color(light-5, $convert-text-light-5);
  @include --is-color(light-6, $convert-text-light-6);
  @include --is-color(light-7, $convert-text-light-7);
  @include --is-color(light-8, $convert-text-light-8);
  @include --is-color(light-9, $convert-text-light-9);
}

@include export-style-icon() {
  #{$selector-icon} {
    @include musubii-style-icon-light();
  }
}

//----------------------------------------------------

@mixin musubii-style-icon-role() {
  @include --is-color(primary, $convert-primary-strong);
  @include --is-color(info, $convert-info-strong);
  @include --is-color(success, $convert-success-strong);
  @include --is-color(warning, $convert-warning-strong);
  @include --is-color(danger, $convert-danger-strong);
}

@include export-style-icon() {
  #{$selector-icon} {
    @include musubii-style-icon-role();
  }
}

//----------------------------------------------------
// / Style - Icon SVG
//----------------------------------------------------

@mixin musubii-style-icon-svg() {
  display: inline-block;
  flex: none;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
}

@include export-style-icon() {
  #{$selector-icon-svg} {
    @include musubii-style-icon-svg();
  }
}

//----------------------------------------------------
// / Style - Icon Material
//----------------------------------------------------

@mixin musubii-style-icon-material() {
  vertical-align: bottom;
}

@include export-style-icon() {
  #{$selector-icon-material} {
    @include musubii-style-icon-material();
  }
}

//----------------------------------------------------
// / Style - Icon Fit
//----------------------------------------------------

@mixin musubii-style-icon-fit() {
  &.is-fit {
    width: $icon-fit-width;
    text-align: center;
  }
}

@include export-style-icon() {
  #{$selector-icon} {
    @include musubii-style-icon-fit();
  }
}
