//----------------------------------------------------
// Elements: iframe
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Selectors
$selector-iframe: "\.iframe" !default;
$selector-iframe-core: "iframe" !default;

// Modifiers
$modifier-iframe-aspect-16x9: "\.is-aspect-16x9" !default;
$modifier-iframe-aspect-4x3: "\.is-aspect-4x3" !default;

//----------------------------------------------------
// / Style - iframe
//----------------------------------------------------

@mixin musubii-style-iframe() {
  position: relative;
  display: block;
  width: 100%;
  &:before {
    content: "";
    display: block;
  }
}

@mixin musubii-style-iframe-core() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin musubii-style-iframe-wrap-aspect-16x9() {
  &:before {
    padding-top: 9 / 16 * 100%;
  }
}

@mixin musubii-style-iframe-wrap-aspect-4x3() {
  &:before {
    padding-top: 3 / 4 * 100%;
  }
}

@include generate-style($option-generate-style-iframe) {
  #{$selector-iframe} {
    @include musubii-style-iframe();
    &#{$modifier-iframe-aspect-16x9} {
      @include musubii-style-iframe-wrap-aspect-16x9();
    }
    &#{$modifier-iframe-aspect-4x3} {
      @include musubii-style-iframe-wrap-aspect-4x3();
    }
    > {
      #{$selector-iframe-core} {
        @include musubii-style-iframe-core();
      }
    }
  }
}
