//----------------------------------------------------
// Elements: iframe
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Selectors
$selector-iframe-wrap: "\.iframe-wrap" !default;
$selector-iframe: "\.iframe" !default;

//----------------------------------------------------
// / Style - iframe
//----------------------------------------------------

@mixin musubii-style-iframe() {
  display: block;
}

@include generate-style($option-generate-iframe) {
  #{$selector-iframe} {
    @include musubii-style-iframe();
  }
}

//----------------------------------------------------
// / Style - iframe Wrap
//----------------------------------------------------

@mixin musubii-style-iframe-wrap() {
  position: relative;
  display: block;
  width: 100%;
  &:before {
    content: "";
    display: block;
  }
  &.is-aspect-16x9 {
    &:before {
      padding-top: 9 / 16 * 100%;
    }
  }
  > #{$selector-iframe} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@include generate-style($option-generate-iframe) {
  #{$selector-iframe-wrap} {
    @include musubii-style-iframe-wrap();
  }
}
