//----------------------------------------------------
// Elements: Table
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Selectors
$selector-table: "\.table" !default;
$selector-table-box: "\.box" !default;
$selector-table-thead: "thead" !default;
$selector-table-tbody: "tbody" !default;
$selector-table-tr: "tr" !default;
$selector-table-th: "th" !default;
$selector-table-td: "td" !default;
$selector-table-wrap: "\.table-wrap" !default;

// Modifiers
$modifier-table-line: "\.is-line" !default;
$modifier-table-outline: "\.is-outline" !default;
$modifier-table-border: "\.is-border" !default;
$modifier-table-stripe: "\.is-stripe" !default;
$modifier-table-paint: "\.is-paint" !default;
$modifier-table-spot: "\.is-spot" !default;
$modifier-table-danger: "\.is-danger" !default;
$modifier-table-right: "\.is-right" !default;
$modifier-table-center: "\.is-center" !default;
$modifier-table-left: "\.is-left" !default;
$modifier-table-middle: "\.is-middle" !default;
$modifier-table-fixed: "\.is-fixed" !default;

// Table
$table-width: 100% !default;
$table-padding: 0.75em 1em !default;
$table-background-color: $convert-background !default;
$table-border-width: $global-border-width !default;
$table-border-color: $convert-border !default;

// Table th
$table-th-border-bottom-width: $global-border-width !default;

// Table Paint
$table-paint-background-color: $convert-table-paint-background-color !default;
$table-paint-color: $convert-table-paint-color !default;

// Table Spot
$table-spot-background-color: $convert-table-spot-background-color !default;

// Table Danger
$table-danger-background-color: $convert-table-danger-background-color !default;

// Table Stripe
$table-stripe-background-color: $convert-table-stripe-background-color !default;

// Table Wrap
$table-wrap-shadow-start: $convert-table-wrap-shadow-start !default;
$table-wrap-shadow-end: $convert-table-wrap-shadow-end !default;
$table-wrap-shadow-size: 20px;

//----------------------------------------------------
// / Style - Table
//----------------------------------------------------

@mixin musubii-style-table() {
  width: $table-width;
  background-color: $table-background-color;
  border-collapse: collapse;
  border-spacing: 0;
  #{$selector-table-th},
  #{$selector-table-td} {
    padding: $table-padding;
    vertical-align: top;
  }
  #{$selector-table-thead}
    > #{$selector-table-tr}:last-child
    > #{$selector-table-th} {
    border-bottom: $table-th-border-bottom-width solid $table-border-color;
  }
  #{$selector-table-tr} {
    &#{$selector-table-box} {
      display: table-row;
    }
  }
  #{$selector-table-th},
  #{$selector-table-td} {
    &#{$selector-table-box} {
      display: table-cell;
    }
  }
}

@include generate-style($option-generate-style-table) {
  #{$selector-table} {
    @include musubii-style-table();
  }
}

//----------------------------------------------------
// / Style - Table Line
//----------------------------------------------------

@mixin musubii-style-table-line() {
  border-top: $table-border-width solid $table-border-color;
  border-bottom: $table-border-width solid $table-border-color;
  > #{$selector-table-tbody} > #{$selector-table-tr}:not(:first-child) {
    border-top: $table-border-width solid $table-border-color;
  }
}

@include generate-style($option-generate-style-table) {
  #{$selector-table} {
    &#{$modifier-table-line} {
      @include musubii-style-table-line();
    }
  }
}

//----------------------------------------------------
// / Style - Table Outline
//----------------------------------------------------

@mixin musubii-style-table-outline() {
  border: $table-border-width solid $table-border-color;
}

@include generate-style($option-generate-style-table) {
  #{$selector-table} {
    &#{$modifier-table-outline} {
      @include musubii-style-table-outline();
    }
  }
}

//----------------------------------------------------
// / Style - Table Border
//----------------------------------------------------

@mixin musubii-style-table-border() {
  border: $table-border-width solid $table-border-color;
  #{$selector-table-th},
  #{$selector-table-td} {
    border: $table-border-width solid $table-border-color;
  }
}

@include generate-style($option-generate-style-table) {
  #{$selector-table} {
    &#{$modifier-table-border} {
      @include musubii-style-table-border();
    }
  }
}

//----------------------------------------------------
// / Style - Table Background
//----------------------------------------------------

@mixin musubii-style-table-bg-paint() {
  background-color: $table-paint-background-color;
  color: $table-paint-color;
}

@mixin musubii-style-table-bg-spot() {
  background-color: $table-spot-background-color;
}

@mixin musubii-style-table-bg-danger() {
  background-color: $table-danger-background-color;
}

@include generate-style($option-generate-style-table) {
  #{$selector-table} {
    #{$selector-table-tr},
    #{$selector-table-th},
    #{$selector-table-td} {
      &#{$modifier-table-paint} {
        @include musubii-style-table-bg-paint();
      }
      &#{$modifier-table-spot} {
        @include musubii-style-table-bg-spot();
      }
      &#{$modifier-table-danger} {
        @include musubii-style-table-bg-danger();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Table Stripe
//----------------------------------------------------

@mixin musubii-style-table-stripe() {
  #{$selector-table-thead} {
    background-color: $table-stripe-background-color;
  }
  #{$selector-table-tbody} #{$selector-table-tr}:nth-child(even) {
    background-color: $table-stripe-background-color;
  }
}

@include generate-style($option-generate-style-table) {
  #{$selector-table} {
    &#{$modifier-table-stripe} {
      @include musubii-style-table-stripe();
    }
  }
}

//----------------------------------------------------
// / Style - Table Align
//----------------------------------------------------

@mixin musubii-style-table-right() {
  text-align: right;
}

@mixin musubii-style-table-center() {
  text-align: center;
}

@mixin musubii-style-table-left() {
  text-align: left;
}

@mixin musubii-style-table-middle() {
  vertical-align: middle;
}

@include generate-style($option-generate-style-table) {
  #{$selector-table} {
    &#{$modifier-table-right} {
      #{$selector-table-th},
      #{$selector-table-td} {
        @include musubii-style-table-right();
      }
    }
    #{$selector-table-tr},
    #{$selector-table-th},
    #{$selector-table-td} {
      &#{$modifier-table-right} {
        @include musubii-style-table-right();
      }
    }
    &#{$modifier-table-center} {
      #{$selector-table-th},
      #{$selector-table-td} {
        @include musubii-style-table-center();
      }
    }
    #{$selector-table-tr},
    #{$selector-table-th},
    #{$selector-table-td} {
      &#{$modifier-table-center} {
        @include musubii-style-table-center();
      }
    }
    &#{$modifier-table-left} {
      #{$selector-table-th},
      #{$selector-table-td} {
        @include musubii-style-table-left();
      }
    }
    #{$selector-table-tr},
    #{$selector-table-th},
    #{$selector-table-td} {
      &#{$modifier-table-left} {
        @include musubii-style-table-left();
      }
    }
    &#{$modifier-table-middle} {
      #{$selector-table-th},
      #{$selector-table-td} {
        @include musubii-style-table-middle();
      }
    }
    #{$selector-table-tr},
    #{$selector-table-th},
    #{$selector-table-td} {
      &#{$modifier-table-middle} {
        @include musubii-style-table-middle();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Table Fixed
//----------------------------------------------------

@mixin musubii-style-table-fixed() {
  table-layout: fixed;
}

@include generate-style($option-generate-style-table) {
  #{$selector-table} {
    &#{$modifier-table-fixed} {
      @include musubii-style-table-fixed();
    }
  }
}

//----------------------------------------------------
// / Style - Table Wrap
//----------------------------------------------------

@mixin musubii-style-table-wrap() {
  @if $option-add-style-table-wrap-shadow == true {
    background-image: linear-gradient(
        to right,
        $table-background-color,
        $table-background-color
      ),
      linear-gradient(
        to right,
        $table-background-color,
        $table-background-color
      ),
      linear-gradient(
        to right,
        $table-wrap-shadow-start,
        $table-wrap-shadow-end
      ),
      linear-gradient(to left, $table-wrap-shadow-start, $table-wrap-shadow-end);
    background-position: left center, right center, left center, right center;
    background-size: ($table-wrap-shadow-size * 2) 100%,
      ($table-wrap-shadow-size * 2) 100%, $table-wrap-shadow-size 100%,
      $table-wrap-shadow-size 100%;
    background-attachment: local, local, scroll, scroll;
    background-color: $table-background-color;
    background-repeat: no-repeat;
  }
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin musubii-style-table-wrap-child-table() {
  background-color: transparent;
}

@include generate-style($option-generate-style-table) {
  #{$selector-table-wrap} {
    @include musubii-style-table-wrap();
    #{$selector-table} {
      @include musubii-style-table-wrap-child-table();
    }
  }
}
