//----------------------------------------------------
// Elements: Text
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Selectors
$selector-text: "\.text" !default;
$selector-blockquote: "\.blockquote" !default;
$selector-code: "\.code" !default;
$selector-pre: "\.pre" !default;

// Modifiers
$modifier-text-dark: "\.is-dark" !default;
$modifier-text-dark-1: "\.is-dark-1" !default;
$modifier-text-dark-2: "\.is-dark-2" !default;
$modifier-text-dark-3: "\.is-dark-3" !default;
$modifier-text-dark-4: "\.is-dark-4" !default;
$modifier-text-dark-5: "\.is-dark-5" !default;
$modifier-text-dark-6: "\.is-dark-6" !default;
$modifier-text-dark-7: "\.is-dark-7" !default;
$modifier-text-dark-8: "\.is-dark-8" !default;
$modifier-text-dark-9: "\.is-dark-9" !default;

$modifier-text-light: "\.is-light" !default;
$modifier-text-light-1: "\.is-light-1" !default;
$modifier-text-light-2: "\.is-light-2" !default;
$modifier-text-light-3: "\.is-light-3" !default;
$modifier-text-light-4: "\.is-light-4" !default;
$modifier-text-light-5: "\.is-light-5" !default;
$modifier-text-light-6: "\.is-light-6" !default;
$modifier-text-light-7: "\.is-light-7" !default;
$modifier-text-light-8: "\.is-light-8" !default;
$modifier-text-light-9: "\.is-light-9" !default;

$modifier-text-primary: "\.is-primary" !default;
$modifier-text-info: "\.is-info" !default;
$modifier-text-success: "\.is-success" !default;
$modifier-text-warning: "\.is-warning" !default;
$modifier-text-danger: "\.is-danger" !default;

$modifier-text-weight-normal: "\.is-normal" !default;
$modifier-text-weight-strong: "\.is-strong" !default;
$modifier-text-weight-100: "\.is-weight-100" !default;
$modifier-text-weight-200: "\.is-weight-200" !default;
$modifier-text-weight-300: "\.is-weight-300" !default;
$modifier-text-weight-400: "\.is-weight-400" !default;
$modifier-text-weight-500: "\.is-weight-500" !default;
$modifier-text-weight-600: "\.is-weight-600" !default;
$modifier-text-weight-700: "\.is-weight-700" !default;
$modifier-text-weight-800: "\.is-weight-800" !default;
$modifier-text-weight-900: "\.is-weight-900" !default;

$modifier-text-line-height-xxl: "\.is-line-height-xxl" !default;
$modifier-text-line-height-xl: "\.is-line-height-xl" !default;
$modifier-text-line-height-lg: "\.is-line-height-lg" !default;
$modifier-text-line-height-md: "\.is-line-height-md" !default;
$modifier-text-line-height-sm: "\.is-line-height-sm" !default;
$modifier-text-line-height-xs: "\.is-line-height-xs" !default;
$modifier-text-line-height-xxs: "\.is-line-height-xxs" !default;

$modifier-text-italic: "\.is-italic" !default;
$modifier-text-delete: "\.is-delete" !default;
$modifier-text-capitalize: "\.is-capitalize" !default;
$modifier-text-lowercase: "\.is-lowercase" !default;
$modifier-text-uppercase: "\.is-uppercase" !default;

$modifier-text-right: "\.is-right" !default;
$modifier-text-center: "\.is-center" !default;
$modifier-text-left: "\.is-left" !default;
$modifier-text-mobile-right: "\.is-mobile-right" !default;
$modifier-text-mobile-center: "\.is-mobile-center" !default;
$modifier-text-mobile-left: "\.is-mobile-left" !default;
$modifier-text-fablet-right: "\.is-fablet-right" !default;
$modifier-text-fablet-center: "\.is-fablet-center" !default;
$modifier-text-fablet-left: "\.is-fablet-left" !default;
$modifier-text-tablet-right: "\.is-tablet-right" !default;
$modifier-text-tablet-center: "\.is-tablet-center" !default;
$modifier-text-tablet-left: "\.is-tablet-left" !default;
$modifier-text-desktop-right: "\.is-desktop-right" !default;
$modifier-text-desktop-center: "\.is-desktop-center" !default;
$modifier-text-desktop-left: "\.is-desktop-left" !default;
$modifier-text-wide-right: "\.is-wide-right" !default;
$modifier-text-wide-center: "\.is-wide-center" !default;
$modifier-text-wide-left: "\.is-wide-left" !default;

$modifier-text-justify: "\.is-justify" !default;
$modifier-text-baseline: "\.is-baseline" !default;
$modifier-text-top: "\.is-top" !default;
$modifier-text-middle: "\.is-middle" !default;
$modifier-text-bottom: "\.is-bottom" !default;

$modifier-text-nowrap: "\.is-nowrap" !default;
$modifier-text-break: "\.is-break" !default;

$modifier-text-link: "\.is-link" !default;
$modifier-text-link-reverse: "\.is-link-reverse" !default;
$modifier-text-disabled: "\.is-disabled" !default;

// Text Dark
$text-dark: $convert-dark !default;
$text-dark-1: $convert-dark-1 !default;
$text-dark-2: $convert-dark-2 !default;
$text-dark-3: $convert-dark-3 !default;
$text-dark-4: $convert-dark-4 !default;
$text-dark-5: $convert-dark-5 !default;
$text-dark-6: $convert-dark-6 !default;
$text-dark-7: $convert-dark-7 !default;
$text-dark-8: $convert-dark-8 !default;
$text-dark-9: $convert-dark-9 !default;

// Text Light
$text-light: $convert-light !default;
$text-light-1: $convert-light-1 !default;
$text-light-2: $convert-light-2 !default;
$text-light-3: $convert-light-3 !default;
$text-light-4: $convert-light-4 !default;
$text-light-5: $convert-light-5 !default;
$text-light-6: $convert-light-6 !default;
$text-light-7: $convert-light-7 !default;
$text-light-8: $convert-light-8 !default;
$text-light-9: $convert-light-9 !default;

// Text Role
$text-primary: $convert-primary-strong !default;
$text-info: $convert-info-strong !default;
$text-success: $convert-success-strong !default;
$text-warning: $convert-warning-strong !default;
$text-danger: $convert-danger-strong !default;

// Text Weight
$text-weight-normal: $font-weight-normal !default;
$text-weight-strong: $font-weight-strong !default;
$text-weight-100: $font-weight-100 !default;
$text-weight-200: $font-weight-200 !default;
$text-weight-300: $font-weight-300 !default;
$text-weight-400: $font-weight-400 !default;
$text-weight-500: $font-weight-500 !default;
$text-weight-600: $font-weight-600 !default;
$text-weight-700: $font-weight-700 !default;
$text-weight-800: $font-weight-800 !default;
$text-weight-900: $font-weight-900 !default;

// Text Weight
$text-line-height-xxl: $line-height-xxl !default;
$text-line-height-xl: $line-height-xl !default;
$text-line-height-lg: $line-height-lg !default;
$text-line-height-md: $line-height-md !default;
$text-line-height-sm: $line-height-sm !default;
$text-line-height-xs: $line-height-xs !default;
$text-line-height-xxs: $line-height-xxs !default;

// Text Link
$text-link-border-bottom-width: $global-border-width !default;
$text-link-border-bottom-style: solid !default;

// Text Disabled
$text-disabled-color: $convert-disabled-color !default;

// Blockquote
$blockquote-background-color: $convert-background-2 !default;
$blockquote-border-left-width: 0.5em !default;
$blockquote-border-left-color: $convert-background-alpha !default;
$blockquote-border-radius: $radius-xs !default;
$blockquote-padding: 1.5em !default;

// Code
$code-padding: 0.2em 0.5em !default;
$code-background-color: $convert-background-alpha !default;
$code-border-radius: $radius-xs !default;
$code-color: $convert-code-color !default;
$code-font-size: $font-size-sm !default;
$code-font-family: $font-mono !default;

// Pre
$pre-background-color: $convert-background-2 !default;
$pre-border-radius: $radius-xs !default;
$pre-color: $convert-code-color !default;
$pre-font-family: $font-mono !default;
$pre-white-space: pre !default;
$pre-code-padding: 1.25em 1.5em !default;

//----------------------------------------------------
// / Style - Text Dark
//----------------------------------------------------

@mixin musubii-style-text-dark() {
  color: $text-dark;
}

@mixin musubii-style-text-dark-1() {
  color: $text-dark-1;
}

@mixin musubii-style-text-dark-2() {
  color: $text-dark-2;
}

@mixin musubii-style-text-dark-3() {
  color: $text-dark-3;
}

@mixin musubii-style-text-dark-4() {
  color: $text-dark-4;
}

@mixin musubii-style-text-dark-5() {
  color: $text-dark-5;
}

@mixin musubii-style-text-dark-6() {
  color: $text-dark-6;
}

@mixin musubii-style-text-dark-7() {
  color: $text-dark-7;
}

@mixin musubii-style-text-dark-8() {
  color: $text-dark-8;
}

@mixin musubii-style-text-dark-9() {
  color: $text-dark-9;
}

@include generate-style($option-generate-style-text) {
  #{$selector-text} {
    &#{$modifier-text-dark} {
      @include musubii-style-text-dark();
    }
    &#{$modifier-text-dark-1} {
      @include musubii-style-text-dark-1();
    }
    &#{$modifier-text-dark-2} {
      @include musubii-style-text-dark-2();
    }
    &#{$modifier-text-dark-3} {
      @include musubii-style-text-dark-3();
    }
    &#{$modifier-text-dark-4} {
      @include musubii-style-text-dark-4();
    }
    &#{$modifier-text-dark-5} {
      @include musubii-style-text-dark-5();
    }
    &#{$modifier-text-dark-6} {
      @include musubii-style-text-dark-6();
    }
    &#{$modifier-text-dark-7} {
      @include musubii-style-text-dark-7();
    }
    &#{$modifier-text-dark-8} {
      @include musubii-style-text-dark-8();
    }
    &#{$modifier-text-dark-9} {
      @include musubii-style-text-dark-9();
    }
  }
}

//----------------------------------------------------
// / Style - Text Light
//----------------------------------------------------

@mixin musubii-style-text-light() {
  color: $text-light;
}

@mixin musubii-style-text-light-1() {
  color: $text-light-1;
}

@mixin musubii-style-text-light-2() {
  color: $text-light-2;
}

@mixin musubii-style-text-light-3() {
  color: $text-light-3;
}

@mixin musubii-style-text-light-4() {
  color: $text-light-4;
}

@mixin musubii-style-text-light-5() {
  color: $text-light-5;
}

@mixin musubii-style-text-light-6() {
  color: $text-light-6;
}

@mixin musubii-style-text-light-7() {
  color: $text-light-7;
}

@mixin musubii-style-text-light-8() {
  color: $text-light-8;
}

@mixin musubii-style-text-light-9() {
  color: $text-light-9;
}

@include generate-style($option-generate-style-text) {
  #{$selector-text} {
    &#{$modifier-text-light} {
      @include musubii-style-text-light();
    }
    &#{$modifier-text-light-1} {
      @include musubii-style-text-light-1();
    }
    &#{$modifier-text-light-2} {
      @include musubii-style-text-light-2();
    }
    &#{$modifier-text-light-3} {
      @include musubii-style-text-light-3();
    }
    &#{$modifier-text-light-4} {
      @include musubii-style-text-light-4();
    }
    &#{$modifier-text-light-5} {
      @include musubii-style-text-light-5();
    }
    &#{$modifier-text-light-6} {
      @include musubii-style-text-light-6();
    }
    &#{$modifier-text-light-7} {
      @include musubii-style-text-light-7();
    }
    &#{$modifier-text-light-8} {
      @include musubii-style-text-light-8();
    }
    &#{$modifier-text-light-9} {
      @include musubii-style-text-light-9();
    }
  }
}

//----------------------------------------------------
// / Style - Text Role
//----------------------------------------------------

@mixin musubii-style-text-primary() {
  color: $text-primary;
}

@mixin musubii-style-text-info() {
  color: $text-info;
}

@mixin musubii-style-text-success() {
  color: $text-success;
}

@mixin musubii-style-text-warning() {
  color: $text-warning;
}

@mixin musubii-style-text-danger() {
  color: $text-danger;
}

@include generate-style($option-generate-style-text) {
  #{$selector-text} {
    &#{$modifier-text-primary} {
      @include musubii-style-text-primary();
    }
    &#{$modifier-text-info} {
      @include musubii-style-text-info();
    }
    &#{$modifier-text-success} {
      @include musubii-style-text-success();
    }
    &#{$modifier-text-warning} {
      @include musubii-style-text-warning();
    }
    &#{$modifier-text-danger} {
      @include musubii-style-text-danger();
    }
  }
}

//----------------------------------------------------
// / Style - Text Weight
//----------------------------------------------------

@mixin musubii-style-text-weight-normal() {
  font-weight: $text-weight-normal;
}

@mixin musubii-style-text-weight-strong() {
  font-weight: $text-weight-strong;
}

@mixin musubii-style-text-weight-100() {
  font-weight: $text-weight-100;
}

@mixin musubii-style-text-weight-200() {
  font-weight: $text-weight-200;
}

@mixin musubii-style-text-weight-300() {
  font-weight: $text-weight-300;
}

@mixin musubii-style-text-weight-400() {
  font-weight: $text-weight-400;
}

@mixin musubii-style-text-weight-500() {
  font-weight: $text-weight-500;
}

@mixin musubii-style-text-weight-600() {
  font-weight: $text-weight-600;
}

@mixin musubii-style-text-weight-700() {
  font-weight: $text-weight-700;
}

@mixin musubii-style-text-weight-800() {
  font-weight: $text-weight-800;
}

@mixin musubii-style-text-weight-900() {
  font-weight: $text-weight-900;
}

@include generate-style($option-generate-style-text) {
  #{$selector-text} {
    &#{$modifier-text-weight-normal} {
      @include musubii-style-text-weight-normal();
    }
    &#{$modifier-text-weight-strong} {
      @include musubii-style-text-weight-strong();
    }
    &#{$modifier-text-weight-100} {
      @include musubii-style-text-weight-100();
    }
    &#{$modifier-text-weight-200} {
      @include musubii-style-text-weight-200();
    }
    &#{$modifier-text-weight-300} {
      @include musubii-style-text-weight-300();
    }
    &#{$modifier-text-weight-400} {
      @include musubii-style-text-weight-400();
    }
    &#{$modifier-text-weight-500} {
      @include musubii-style-text-weight-500();
    }
    &#{$modifier-text-weight-600} {
      @include musubii-style-text-weight-600();
    }
    &#{$modifier-text-weight-700} {
      @include musubii-style-text-weight-700();
    }
    &#{$modifier-text-weight-800} {
      @include musubii-style-text-weight-800();
    }
    &#{$modifier-text-weight-900} {
      @include musubii-style-text-weight-900();
    }
  }
}

//----------------------------------------------------
// / Style - Text Line Height
//----------------------------------------------------

@mixin musubii-style-text-line-height-xxl() {
  line-height: $text-line-height-xxl;
}

@mixin musubii-style-text-line-height-xl() {
  line-height: $text-line-height-xl;
}

@mixin musubii-style-text-line-height-lg() {
  line-height: $text-line-height-lg;
}

@mixin musubii-style-text-line-height-md() {
  line-height: $text-line-height-md;
}

@mixin musubii-style-text-line-height-sm() {
  line-height: $text-line-height-sm;
}

@mixin musubii-style-text-line-height-xs() {
  line-height: $text-line-height-xs;
}

@mixin musubii-style-text-line-height-xxs() {
  line-height: $text-line-height-xxs;
}

@include generate-style($option-generate-style-text) {
  #{$selector-text} {
    &#{$modifier-text-line-height-xxl} {
      @include musubii-style-text-line-height-xxl();
    }
    &#{$modifier-text-line-height-xl} {
      @include musubii-style-text-line-height-xl();
    }
    &#{$modifier-text-line-height-lg} {
      @include musubii-style-text-line-height-lg();
    }
    &#{$modifier-text-line-height-md} {
      @include musubii-style-text-line-height-md();
    }
    &#{$modifier-text-line-height-sm} {
      @include musubii-style-text-line-height-sm();
    }
    &#{$modifier-text-line-height-xs} {
      @include musubii-style-text-line-height-xs();
    }
    &#{$modifier-text-line-height-xxs} {
      @include musubii-style-text-line-height-xxs();
    }
  }
}

//----------------------------------------------------
// / Style - Text Transform
//----------------------------------------------------

@mixin musubii-style-text-italic() {
  font-style: italic;
}

@mixin musubii-style-text-delete() {
  text-decoration: line-through;
}

@mixin musubii-style-text-capitalize() {
  text-transform: capitalize;
}

@mixin musubii-style-text-lowercase() {
  text-transform: lowercase;
}

@mixin musubii-style-text-uppercase() {
  text-transform: uppercase;
}

@include generate-style($option-generate-style-text) {
  #{$selector-text} {
    &#{$modifier-text-italic} {
      @include musubii-style-text-italic();
    }
    &#{$modifier-text-delete} {
      @include musubii-style-text-delete();
    }
    &#{$modifier-text-capitalize} {
      @include musubii-style-text-capitalize();
    }
    &#{$modifier-text-lowercase} {
      @include musubii-style-text-lowercase();
    }
    &#{$modifier-text-uppercase} {
      @include musubii-style-text-uppercase();
    }
  }
}

//----------------------------------------------------
// / Style - Text Align
//----------------------------------------------------

@mixin musubii-style-text-right() {
  text-align: right;
}

@mixin musubii-style-text-center() {
  text-align: center;
}

@mixin musubii-style-text-left() {
  text-align: left;
}

@mixin musubii-style-text-justify() {
  text-align: justify;
}

@mixin musubii-style-text-baseline() {
  vertical-align: baseline;
}

@mixin musubii-style-text-top() {
  vertical-align: top;
}

@mixin musubii-style-text-middle() {
  vertical-align: middle;
}

@mixin musubii-style-text-bottom() {
  vertical-align: bottom;
}

@include generate-style($option-generate-style-text) {
  #{$selector-text} {
    &#{$modifier-text-right},
    &#{$modifier-text-mobile-right} {
      @include musubii-style-text-right();
    }
    &#{$modifier-text-center},
    &#{$modifier-text-mobile-center} {
      @include musubii-style-text-center();
    }
    &#{$modifier-text-left},
    &#{$modifier-text-mobile-left} {
      @include musubii-style-text-left();
    }
    @include fablet() {
      &#{$modifier-text-fablet-right} {
        @include musubii-style-text-right();
      }
      &#{$modifier-text-fablet-center} {
        @include musubii-style-text-center();
      }
      &#{$modifier-text-fablet-left} {
        @include musubii-style-text-left();
      }
    }
    @include tablet() {
      &#{$modifier-text-tablet-right} {
        @include musubii-style-text-right();
      }
      &#{$modifier-text-tablet-center} {
        @include musubii-style-text-center();
      }
      &#{$modifier-text-tablet-left} {
        @include musubii-style-text-left();
      }
    }
    @include desktop() {
      &#{$modifier-text-desktop-right} {
        @include musubii-style-text-right();
      }
      &#{$modifier-text-desktop-center} {
        @include musubii-style-text-center();
      }
      &#{$modifier-text-desktop-left} {
        @include musubii-style-text-left();
      }
    }
    @include wide() {
      &#{$modifier-text-wide-right} {
        @include musubii-style-text-right();
      }
      &#{$modifier-text-wide-center} {
        @include musubii-style-text-center();
      }
      &#{$modifier-text-wide-left} {
        @include musubii-style-text-left();
      }
    }
    &#{$modifier-text-justify} {
      @include musubii-style-text-justify();
    }
    &#{$modifier-text-baseline} {
      @include musubii-style-text-baseline();
    }
    &#{$modifier-text-top} {
      @include musubii-style-text-top();
    }
    &#{$modifier-text-middle} {
      @include musubii-style-text-middle();
    }
    &#{$modifier-text-bottom} {
      @include musubii-style-text-bottom();
    }
  }
}

//----------------------------------------------------
// / Style - Text Wrap
//----------------------------------------------------

@mixin musubii-style-text-nowrap() {
  white-space: nowrap;
}

@mixin musubii-style-text-break() {
  word-break: break-all;
}

@include generate-style($option-generate-style-text) {
  #{$selector-text} {
    &#{$modifier-text-nowrap} {
      @include musubii-style-text-nowrap();
    }
    &#{$modifier-text-break} {
      @include musubii-style-text-break();
    }
  }
}

//----------------------------------------------------
// / Style - Text Link
//----------------------------------------------------

@mixin musubii-style-text-link() {
  cursor: pointer;
  @if $option-add-style-text-link-border == true {
    border-bottom: $text-link-border-bottom-width
      $text-link-border-bottom-style
      currentColor;
    &:hover {
      border-bottom-color: transparent;
    }
  } @else {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

@include generate-style($option-generate-style-text) {
  #{$selector-text} {
    &#{$modifier-text-link} {
      @include musubii-style-text-link();
    }
  }
}

//----------------------------------------------------
// / Style - Text Link Reverse
//----------------------------------------------------

@mixin musubii-style-text-link-reverse() {
  cursor: pointer;
  @if $option-add-style-text-link-border == true {
    border-bottom: $text-link-border-bottom-width
      $text-link-border-bottom-style
      transparent;
    &:hover {
      border-color: currentColor;
    }
  } @else {
    &:hover {
      text-decoration: underline;
    }
  }
}

@include generate-style($option-generate-style-text) {
  #{$selector-text} {
    &#{$modifier-text-link-reverse} {
      @include musubii-style-text-link-reverse();
    }
  }
}

//----------------------------------------------------
// / Style - Text Link Disabled
//----------------------------------------------------

@mixin musubii-style-text-disabled() {
  cursor: not-allowed;
  pointer-events: none;
}

@mixin musubii-style-text-disabled-color() {
  color: $text-disabled-color;
}

@mixin musubii-style-text-link-disabled() {
  @if $option-add-style-text-link-border == true {
    border-bottom-color: transparent;
  } @else {
    text-decoration: none;
  }
}

@mixin musubii-style-text-link-reverse-disabled() {
  @if $option-add-style-text-link-border == true {
    &:hover {
      border-color: transparent;
    }
  } @else {
    &:hover {
      text-decoration: none;
    }
  }
}

@include generate-style($option-generate-style-text) {
  #{$selector-text} {
    &#{$modifier-text-disabled} {
      @include musubii-style-text-disabled();
      @include musubii-style-text-disabled-color();
      &#{$modifier-text-primary},
      &#{$modifier-text-info},
      &#{$modifier-text-success},
      &#{$modifier-text-warning},
      &#{$modifier-text-danger} {
        @include musubii-style-text-disabled-color();
      }
      &#{$modifier-text-link} {
        @include musubii-style-text-link-disabled();
      }
      &#{$modifier-text-link-reverse} {
        @include musubii-style-text-link-reverse-disabled();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Text Blockquote
//----------------------------------------------------

@mixin musubii-style-text-blockquote() {
  background-color: $blockquote-background-color;
  border-left: $blockquote-border-left-width solid $blockquote-border-left-color;
  border-radius: $blockquote-border-radius;
  padding: $blockquote-padding;
}

@include generate-style($option-generate-style-text) {
  #{$selector-blockquote} {
    @include musubii-style-text-blockquote();
  }
}

//----------------------------------------------------
// / Style - Text Code
//----------------------------------------------------

@mixin musubii-style-text-code() {
  padding: $code-padding;
  background-color: $code-background-color;
  border-radius: $code-border-radius;
  color: $code-color;
  font-size: $code-font-size;
  font-family: $code-font-family;
  word-break: break-all;
}

@include generate-style($option-generate-style-text) {
  :not(#{$selector-pre}) {
    > {
      #{$selector-code} {
        @include musubii-style-text-code();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Text Pre
//----------------------------------------------------

@mixin musubii-style-text-pre() {
  background-color: $pre-background-color;
  border-radius: $pre-border-radius;
  color: $pre-color;
  font-family: $pre-font-family;
  white-space: $pre-white-space;
  word-wrap: normal;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  > {
    #{$selector-code} {
      display: block;
      padding: $pre-code-padding;
    }
  }
}

@include generate-style($option-generate-style-text) {
  #{$selector-pre} {
    @include musubii-style-text-pre();
  }
}
