//----------------------------------------------------
// Elements: WYSIWYG
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Selectors
$selector-wysiwyg: "\.wysiwyg" !default;
$selector-wysiwyg-h1: "h1" !default;
$selector-wysiwyg-h2: "h2" !default;
$selector-wysiwyg-h3: "h3" !default;
$selector-wysiwyg-h4: "h4" !default;
$selector-wysiwyg-h5: "h5" !default;
$selector-wysiwyg-h6: "h6" !default;
$selector-wysiwyg-p: "p" !default;
$selector-wysiwyg-small: "small" !default;
$selector-wysiwyg-strong: "strong" !default;
$selector-wysiwyg-em: "em" !default;
$selector-wysiwyg-del: "del, s" !default;
$selector-wysiwyg-a: "a" !default;
$selector-wysiwyg-blockquote: "blockquote" !default;
$selector-wysiwyg-pre: "pre" !default;
$selector-wysiwyg-code: "code" !default;
$selector-wysiwyg-ul: "ul" !default;
$selector-wysiwyg-ol: "ol" !default;
$selector-wysiwyg-li: "li" !default;
$selector-wysiwyg-table: "table" !default;
$selector-wysiwyg-th: "th" !default;
$selector-wysiwyg-td: "td" !default;
$selector-wysiwyg-dl: "dl" !default;
$selector-wysiwyg-dt: "dt" !default;
$selector-wysiwyg-dd: "dd" !default;
$selector-wysiwyg-hr: "hr" !default;
$selector-wysiwyg-figure: "figure" !default;
$selector-wysiwyg-figcaption: "figcaption" !default;

// Modifiers
$modifier-wysiwyg-link-reverse: "\.is-link-reverse" !default;

// WYSIWYG Heading
$wysiwyg-heading-font-weight: $font-weight-strong !default;
$wysiwyg-h1-font-size: $font-size-xxl !default;
$wysiwyg-h2-font-size: $font-size-xl !default;
$wysiwyg-h3-font-size: $font-size-lg !default;
$wysiwyg-h4-font-size: $font-size-md !default;
$wysiwyg-h5-font-size: $font-size-sm !default;
$wysiwyg-h6-font-size: $font-size-xs !default;

// WYSIWYG Text
$wysiwyg-text-line-height: $line-height-xl !default;

// WYSIWYG Small
$wysiwyg-small-font-size: $font-size-sm !default;

// WYSIWYG Strong
$wysiwyg-strong-font-weight: $font-weight-strong !default;

// WYSIWYG Link
$wysiwyg-link-border-bottom-width: $global-border-width !default;
$wysiwyg-link-border-bottom-style: solid !default;
$wysiwyg-link-color: $convert-primary-strong !default;

// WYSIWYG Blockquote
$wysiwyg-blockquote-background-color: $convert-background-2 !default;
$wysiwyg-blockquote-border-left-width: 0.5em !default;
$wysiwyg-blockquote-border-left-color: $convert-background-alpha !default;
$wysiwyg-blockquote-border-radius: $radius-xs !default;
$wysiwyg-blockquote-padding: 1.5em !default;

// WYSIWYG Code
$wysiwyg-code-padding: 0.2em 0.5em !default;
$wysiwyg-code-background-color: $convert-background-alpha !default;
$wysiwyg-code-border-radius: $radius-xs !default;
$wysiwyg-code-color: $convert-code-color !default;
$wysiwyg-code-font-size: $font-size-sm !default;
$wysiwyg-code-font-family: $font-mono !default;

// WYSIWYG Pre
$wysiwyg-pre-background-color: $convert-background-2 !default;
$wysiwyg-pre-border-radius: $radius-xs !default;
$wysiwyg-pre-color: $convert-code-color !default;
$wysiwyg-pre-font-family: $font-mono !default;
$wysiwyg-pre-white-space: pre !default;
$wysiwyg-pre-code-padding: 1.25em 1.5em !default;

// WYSIWYG List
$wysiwyg-list-margin-left: 1.5em !default;
$wysiwyg-list-unordered-style-type: circle !default;
$wysiwyg-list-ordered-style-type: decimal !default;

// WYSIWYG Table
$wysiwyg-table-padding: 0.75em 1em !default;
$wysiwyg-table-background-color: $convert-background !default;
$wysiwyg-table-border-width: $global-border-width !default;
$wysiwyg-table-border-color: $convert-border !default;
$wysiwyg-table-th-font-weight: $font-weight-normal !default;
$wysiwyg-table-paint-background-color: $convert-table-paint-background-color !default;
$wysiwyg-table-paint-color: $convert-table-paint-color !default;

// WYSIWYG HR
$wysiwyg-hr-border-width: $global-border-width !default;
$wysiwyg-hr-border-style: solid !default;
$wysiwyg-hr-border-color: $convert-border !default;

// WYSIWYG Figure
$wysiwyg-figure-text-align: center !default;
$wysiwyg-figcaption-margin-top: $meter-sm !default;
$wysiwyg-figcaption-font-size: $font-size-sm !default;

//----------------------------------------------------
// / Style - WYSIWYG Heading
//----------------------------------------------------

@mixin musubii-style-wysiwyg-heading() {
  font-weight: $wysiwyg-heading-font-weight;
}

@mixin musubii-style-wysiwyg-h1() {
  font-size: $wysiwyg-h1-font-size;
}

@mixin musubii-style-wysiwyg-h2() {
  font-size: $wysiwyg-h2-font-size;
}

@mixin musubii-style-wysiwyg-h3() {
  font-size: $wysiwyg-h3-font-size;
}

@mixin musubii-style-wysiwyg-h4() {
  font-size: $wysiwyg-h4-font-size;
}

@mixin musubii-style-wysiwyg-h5() {
  font-size: $wysiwyg-h5-font-size;
}

@mixin musubii-style-wysiwyg-h6() {
  font-size: $wysiwyg-h6-font-size;
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    #{$selector-wysiwyg-h1},
    #{$selector-wysiwyg-h2},
    #{$selector-wysiwyg-h3},
    #{$selector-wysiwyg-h4},
    #{$selector-wysiwyg-h5},
    #{$selector-wysiwyg-h6} {
      @include musubii-style-wysiwyg-heading();
    }
    #{$selector-wysiwyg-h1} {
      @include musubii-style-wysiwyg-h1();
    }
    #{$selector-wysiwyg-h2} {
      @include musubii-style-wysiwyg-h2();
    }
    #{$selector-wysiwyg-h3} {
      @include musubii-style-wysiwyg-h3();
    }
    #{$selector-wysiwyg-h4} {
      @include musubii-style-wysiwyg-h4();
    }
    #{$selector-wysiwyg-h5} {
      @include musubii-style-wysiwyg-h5();
    }
    #{$selector-wysiwyg-h6} {
      @include musubii-style-wysiwyg-h6();
    }
  }
}

//----------------------------------------------------
// / Style - WYSIWYG Text
//----------------------------------------------------

@mixin musubii-style-wysiwyg-p() {
  line-height: $wysiwyg-text-line-height;
}

@mixin musubii-style-wysiwyg-small() {
  font-size: $wysiwyg-small-font-size;
}

@mixin musubii-style-wysiwyg-strong() {
  font-weight: $wysiwyg-strong-font-weight;
}

@mixin musubii-style-wysiwyg-em() {
  font-style: italic;
}

@mixin musubii-style-wysiwyg-del() {
  text-decoration: line-through;
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    #{$selector-wysiwyg-p} {
      @include musubii-style-wysiwyg-p();
    }
    #{$selector-wysiwyg-small} {
      @include musubii-style-wysiwyg-small();
    }
    #{$selector-wysiwyg-strong} {
      @include musubii-style-wysiwyg-strong();
    }
    #{$selector-wysiwyg-em} {
      @include musubii-style-wysiwyg-em();
    }
    #{$selector-wysiwyg-del} {
      @include musubii-style-wysiwyg-del();
    }
  }
}

//----------------------------------------------------
// / Style - WYSIWYG Text Link
//----------------------------------------------------

@mixin musubii-style-wysiwyg-text-link() {
  cursor: pointer;
  color: $wysiwyg-link-color;
  @if $option-add-style-wysiwyg-link-border == true {
    border-bottom: $wysiwyg-link-border-bottom-width
      $wysiwyg-link-border-bottom-style
      currentColor;
    &:hover,
    &:active {
      border-bottom-color: transparent;
    }
  } @else {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    #{$selector-wysiwyg-a} {
      @include musubii-style-wysiwyg-text-link();
    }
  }
}

//----------------------------------------------------
// / Style - WYSIWYG Text Link Reverse
//----------------------------------------------------

@mixin musubii-style-wysiwyg-text-link-reverse() {
  @if $option-add-style-wysiwyg-link-border == true {
    border-bottom-color: transparent;
    &:hover,
    &:active {
      border-bottom-color: currentColor;
    }
  } @else {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    &#{$modifier-wysiwyg-link-reverse} {
      #{$selector-wysiwyg-a} {
        @include musubii-style-wysiwyg-text-link-reverse();
      }
    }
  }
}

//----------------------------------------------------
// / Style - WYSIWYG Text Blockquote
//----------------------------------------------------

@mixin musubii-style-wysiwyg-text-blockquote() {
  background-color: $wysiwyg-blockquote-background-color;
  border-left: $wysiwyg-blockquote-border-left-width solid
    $wysiwyg-blockquote-border-left-color;
  border-radius: $wysiwyg-blockquote-border-radius;
  padding: $wysiwyg-blockquote-padding;
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    #{$selector-wysiwyg-blockquote} {
      @include musubii-style-wysiwyg-text-blockquote();
    }
  }
}

//----------------------------------------------------
// / Style - WYSIWYG Text Code
//----------------------------------------------------

@mixin musubii-style-wysiwyg-text-code() {
  padding: $wysiwyg-code-padding;
  background-color: $wysiwyg-code-background-color;
  border-radius: $wysiwyg-code-border-radius;
  color: $wysiwyg-code-color;
  font-size: $wysiwyg-code-font-size;
  font-family: $wysiwyg-code-font-family;
  word-break: break-all;
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    :not(#{$selector-wysiwyg-pre}) {
      > #{$selector-wysiwyg-code} {
        @include musubii-style-wysiwyg-text-code();
      }
    }
  }
}

//----------------------------------------------------
// / Style - WYSIWYG Text Pre
//----------------------------------------------------

@mixin musubii-style-wysiwyg-text-pre() {
  background-color: $wysiwyg-pre-background-color;
  border-radius: $wysiwyg-pre-border-radius;
  color: $wysiwyg-pre-color;
  font-family: $wysiwyg-pre-font-family;
  white-space: $wysiwyg-pre-white-space;
  word-wrap: normal;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin musubii-style-wysiwyg-text-pre-code() {
  display: block;
  padding: $wysiwyg-pre-code-padding;
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    #{$selector-wysiwyg-pre} {
      @include musubii-style-wysiwyg-text-pre();
      > #{$selector-wysiwyg-code} {
        @include musubii-style-wysiwyg-text-pre-code();
      }
    }
  }
}

//----------------------------------------------------
// / Style - WYSIWYG List
//----------------------------------------------------

@mixin musubii-style-wysiwyg-list() {
  line-height: $wysiwyg-text-line-height;
  margin-left: $wysiwyg-list-margin-left;
}

@mixin musubii-style-wysiwyg-list-item() {
  display: list-item;
}

@mixin musubii-style-wysiwyg-list-item-child() {
  font-size: 100%;
}

@mixin musubii-style-wysiwyg-list-unordered-item() {
  list-style: $wysiwyg-list-unordered-style-type outside;
}

@mixin musubii-style-wysiwyg-list-ordered-item() {
  list-style: $wysiwyg-list-ordered-style-type outside;
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    #{$selector-wysiwyg-ul},
    #{$selector-wysiwyg-ol} {
      @include musubii-style-wysiwyg-list();
      > {
        #{$selector-wysiwyg-li} {
          @include musubii-style-wysiwyg-list-item();
          #{$selector-wysiwyg-li} {
            @include musubii-style-wysiwyg-list-item-child();
          }
        }
      }
    }
    #{$selector-wysiwyg-ul} {
      > {
        #{$selector-wysiwyg-li} {
          @include musubii-style-wysiwyg-list-unordered-item();
        }
      }
    }
    #{$selector-wysiwyg-ol} {
      > {
        #{$selector-wysiwyg-li} {
          @include musubii-style-wysiwyg-list-ordered-item();
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - WYSIWYG Table
//----------------------------------------------------

@mixin musubii-style-wysiwyg-table() {
  width: 100%;
  background-color: $wysiwyg-table-background-color;
}

@mixin musubii-style-wysiwyg-table-th() {
  background-color: $wysiwyg-table-paint-background-color;
  color: $wysiwyg-table-paint-color;
  font-weight: $wysiwyg-table-th-font-weight;
}

@mixin musubii-style-wysiwyg-table-cell() {
  padding: $wysiwyg-table-padding;
  border: $wysiwyg-table-border-width solid $wysiwyg-table-border-color;
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    #{$selector-wysiwyg-table} {
      @include musubii-style-wysiwyg-table();
      #{$selector-wysiwyg-th} {
        @include musubii-style-wysiwyg-table-th();
      }
      #{$selector-wysiwyg-th},
      #{$selector-wysiwyg-td} {
        @include musubii-style-wysiwyg-table-cell();
      }
    }
  }
}

//----------------------------------------------------
// / Style - WYSIWYG Definition List
//----------------------------------------------------

@mixin musubii-style-wysiwyg-dl() {
  width: 100%;
  background-color: $wysiwyg-table-background-color;
  border: $wysiwyg-table-border-width solid $wysiwyg-table-border-color;
  border-top: none;
  @include fablet {
    display: flex;
    flex-wrap: wrap;
  }
}

@mixin musubii-style-wysiwyg-dt() {
  width: 100%;
  padding: $wysiwyg-table-padding;
  background-color: $wysiwyg-table-paint-background-color;
  border-top: $wysiwyg-table-border-width solid $wysiwyg-table-border-color;
  color: $wysiwyg-table-paint-color;
  font-weight: $wysiwyg-table-th-font-weight;
  @include fablet {
    width: 30%;
  }
}

@mixin musubii-style-wysiwyg-dd() {
  width: 100%;
  padding: $wysiwyg-table-padding;
  border-top: $wysiwyg-table-border-width solid $wysiwyg-table-border-color;
  @include fablet {
    width: 70%;
    border-left: $wysiwyg-table-border-width solid $wysiwyg-table-border-color;
  }
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    #{$selector-wysiwyg-dl} {
      @include musubii-style-wysiwyg-dl();
    }
    #{$selector-wysiwyg-dt} {
      @include musubii-style-wysiwyg-dt();
    }
    #{$selector-wysiwyg-dd} {
      @include musubii-style-wysiwyg-dd();
    }
  }
}

//----------------------------------------------------
// / Style - WYSIWYG HR
//----------------------------------------------------

@mixin musubii-style-wysiwyg-hr() {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  border-top: $wysiwyg-hr-border-width $wysiwyg-hr-border-style
    $wysiwyg-hr-border-color;
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    #{$selector-wysiwyg-hr} {
      @include musubii-style-wysiwyg-hr();
    }
  }
}

//----------------------------------------------------
// / Style - WYSIWYG Figure
//----------------------------------------------------

@mixin musubii-style-wysiwyg-figure() {
  text-align: $wysiwyg-figure-text-align;
}

@mixin musubii-style-wysiwyg-figcaption() {
  margin-top: $wysiwyg-figcaption-margin-top;
  font-size: $wysiwyg-figcaption-font-size;
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    #{$selector-wysiwyg-figure} {
      @include musubii-style-wysiwyg-figure();
      > {
        #{$selector-wysiwyg-figcaption} {
          @include musubii-style-wysiwyg-figcaption();
        }
      }
    }
  }
}
