//----------------------------------------------------
// Elements: WYSIWYG
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Selectors
$selector-wysiwyg: "\.wysiwyg" !default;

// WYSIWYG Heading
$wysiwyg-heading-font-weight: $font-weight-strong !default;
$wysiwyg-h1-font-size: $font-size-xxl !default;
$wysiwyg-h2-font-size: $font-size-xl !default;
$wysiwyg-h3-font-size: $font-size-lg !default;
$wysiwyg-h4-font-size: $font-size-md !default;
$wysiwyg-h5-font-size: $font-size-sm !default;
$wysiwyg-h6-font-size: $font-size-xs !default;

// WYSIWYG Text
$wysiwyg-text-line-height: $line-height-xl !default;

// WYSIWYG Small
$wysiwyg-small-font-size: $font-size-sm !default;

// WYSIWYG Strong
$wysiwyg-strong-font-weight: $font-weight-strong !default;

// WYSIWYG Link
$wysiwyg-link-border-bottom-width: $global-border-width !default;
$wysiwyg-link-border-bottom-style: solid !default;
$wysiwyg-link-color: $convert-primary-strong !default;

// WYSIWYG Blockquote
$wysiwyg-blockquote-background-color: $convert-background-2 !default;
$wysiwyg-blockquote-border-left-width: 0.5em !default;
$wysiwyg-blockquote-border-left-color: $convert-background-alpha !default;
$wysiwyg-blockquote-border-radius: $radius-xs !default;
$wysiwyg-blockquote-padding: 1.5em !default;

// WYSIWYG Code
$wysiwyg-code-padding: 0.2em 0.5em !default;
$wysiwyg-code-background-color: $convert-background-alpha !default;
$wysiwyg-code-border-radius: $radius-xs !default;
$wysiwyg-code-color: $convert-code-color !default;
$wysiwyg-code-font-size: $font-size-sm !default;
$wysiwyg-code-font-family: $font-mono !default;

// WYSIWYG Pre
$wysiwyg-pre-background-color: $convert-background-2 !default;
$wysiwyg-pre-border-radius: $radius-xs !default;
$wysiwyg-pre-color: $convert-code-color !default;
$wysiwyg-pre-font-family: $font-mono !default;
$wysiwyg-pre-white-space: pre !default;
$wysiwyg-pre-code-padding: 1.25em 1.5em !default;

// WYSIWYG List
$wysiwyg-list-margin-left: 1.5em !default;

// WYSIWYG Table
$wysiwyg-table-padding: 0.75em 1em !default;
$wysiwyg-table-background-color: $convert-background !default;
$wysiwyg-table-border-width: $global-border-width !default;
$wysiwyg-table-border-color: $convert-border !default;
$wysiwyg-table-th-font-weight: $font-weight-normal !default;
$wysiwyg-table-paint-background-color: $convert-table-paint-background-color !default;
$wysiwyg-table-paint-color: $convert-table-paint-color !default;

// WYSIWYG HR
$wysiwyg-hr-border-width: $global-border-width !default;
$wysiwyg-hr-border-style: solid !default;
$wysiwyg-hr-border-color: $convert-border !default;

// WYSIWYG Figure
$wysiwyg-figure-text-align: center !default;
$wysiwyg-figcaption-margin-top: $meter-sm !default;
$wysiwyg-figcaption-font-size: $font-size-sm !default;

//----------------------------------------------------
// / Style - WYSIWYG Heading
//----------------------------------------------------

@mixin musubii-style-wysiwyg-heading() {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $wysiwyg-heading-font-weight;
  }
  h1 {
    font-size: $wysiwyg-h1-font-size;
  }
  h2 {
    font-size: $wysiwyg-h2-font-size;
  }
  h3 {
    font-size: $wysiwyg-h3-font-size;
  }
  h4 {
    font-size: $wysiwyg-h4-font-size;
  }
  h5 {
    font-size: $wysiwyg-h5-font-size;
  }
  h6 {
    font-size: $wysiwyg-h6-font-size;
  }
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    @include musubii-style-wysiwyg-heading();
  }
}

//----------------------------------------------------
// / Style - WYSIWYG Text
//----------------------------------------------------

@mixin musubii-style-wysiwyg-text() {
  p {
    line-height: $wysiwyg-text-line-height;
  }
  small {
    font-size: $wysiwyg-small-font-size;
  }
  strong {
    font-weight: $wysiwyg-strong-font-weight;
  }
  em {
    font-style: italic;
  }
  del,
  s {
    text-decoration: line-through;
  }
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    @include musubii-style-wysiwyg-text();
  }
}

//----------------------------------------------------
// / Style - WYSIWYG Text Link
//----------------------------------------------------

@mixin musubii-style-wysiwyg-text-link() {
  a {
    cursor: pointer;
    color: $wysiwyg-link-color;
    @if $option-add-style-wysiwyg-link-border == true {
      border-bottom: $wysiwyg-link-border-bottom-width
        $wysiwyg-link-border-bottom-style
        currentColor;
      &:hover,
      &:active {
        border-bottom-color: transparent;
      }
    } @else {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    @include musubii-style-wysiwyg-text-link();
  }
}

//----------------------------------------------------
// / Style - WYSIWYG Text Link Reverse
//----------------------------------------------------

@mixin musubii-style-wysiwyg-text-link-reverse() {
  &.is-link-reverse a {
    @if $option-add-style-wysiwyg-link-border == true {
      border-bottom-color: transparent;
      &:hover,
      &:active {
        border-bottom-color: currentColor;
      }
    } @else {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    @include musubii-style-wysiwyg-text-link-reverse();
  }
}

//----------------------------------------------------
// / Style - WYSIWYG Text Blockquote
//----------------------------------------------------

@mixin musubii-style-wysiwyg-text-blockquote() {
  blockquote {
    background-color: $wysiwyg-blockquote-background-color;
    border-left: $wysiwyg-blockquote-border-left-width solid
      $wysiwyg-blockquote-border-left-color;
    border-radius: $wysiwyg-blockquote-border-radius;
    padding: $wysiwyg-blockquote-padding;
  }
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    @include musubii-style-wysiwyg-text-blockquote();
  }
}

//----------------------------------------------------
// / Style - WYSIWYG Text Code
//----------------------------------------------------

@mixin musubii-style-wysiwyg-text-code() {
  :not(pre) {
    > code {
      padding: $wysiwyg-code-padding;
      background-color: $wysiwyg-code-background-color;
      border-radius: $wysiwyg-code-border-radius;
      color: $wysiwyg-code-color;
      font-size: $wysiwyg-code-font-size;
      font-family: $wysiwyg-code-font-family;
      word-break: break-all;
    }
  }
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    @include musubii-style-wysiwyg-text-code();
  }
}

//----------------------------------------------------
// / Style - WYSIWYG Text Pre
//----------------------------------------------------

@mixin musubii-style-wysiwyg-text-pre() {
  pre {
    background-color: $wysiwyg-pre-background-color;
    border-radius: $wysiwyg-pre-border-radius;
    color: $wysiwyg-pre-color;
    font-family: $wysiwyg-pre-font-family;
    white-space: $wysiwyg-pre-white-space;
    word-wrap: normal;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    > code {
      display: block;
      padding: $wysiwyg-pre-code-padding;
    }
  }
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    @include musubii-style-wysiwyg-text-pre();
  }
}

//----------------------------------------------------
// / Style - WYSIWYG List
//----------------------------------------------------

@mixin musubii-style-wysiwyg-list() {
  ul,
  ol {
    line-height: $wysiwyg-text-line-height;
    margin-left: $wysiwyg-list-margin-left;
    > li {
      display: list-item;
    }
    > li li {
      font-size: 100%;
    }
  }
  ul > li {
    list-style: circle outside;
  }
  ol > li {
    list-style: decimal outside;
  }
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    @include musubii-style-wysiwyg-list();
  }
}

//----------------------------------------------------
// / Style - WYSIWYG Table
//----------------------------------------------------

@mixin musubii-style-wysiwyg-table() {
  table {
    width: 100%;
    background-color: $wysiwyg-table-background-color;
    th {
      background-color: $wysiwyg-table-paint-background-color;
      color: $wysiwyg-table-paint-color;
      font-weight: $wysiwyg-table-th-font-weight;
    }
    th,
    td {
      padding: $wysiwyg-table-padding;
      border: $wysiwyg-table-border-width solid $wysiwyg-table-border-color;
    }
  }
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    @include musubii-style-wysiwyg-table();
  }
}

//----------------------------------------------------
// / Style - WYSIWYG Definition List
//----------------------------------------------------

@mixin musubii-style-wysiwyg-dl() {
  dl {
    width: 100%;
    background-color: $wysiwyg-table-background-color;
    border: $wysiwyg-table-border-width solid $wysiwyg-table-border-color;
    border-top: none;
  }
  dt {
    width: 100%;
    padding: $wysiwyg-table-padding;
    background-color: $wysiwyg-table-paint-background-color;
    border-top: $wysiwyg-table-border-width solid $wysiwyg-table-border-color;
    color: $wysiwyg-table-paint-color;
    font-weight: $wysiwyg-table-th-font-weight;
  }
  dd {
    width: 100%;
    padding: $wysiwyg-table-padding;
    border-top: $wysiwyg-table-border-width solid $wysiwyg-table-border-color;
  }
  @include fablet {
    dl {
      display: flex;
      flex-wrap: wrap;
    }
    dt {
      width: 30%;
    }
    dd {
      width: 70%;
      border-left: $wysiwyg-table-border-width solid $wysiwyg-table-border-color;
    }
  }
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    @include musubii-style-wysiwyg-dl();
  }
}

//----------------------------------------------------
// / Style - WYSIWYG HR
//----------------------------------------------------

@mixin musubii-style-wysiwyg-hr() {
  hr {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    border-top: $wysiwyg-hr-border-width $wysiwyg-hr-border-style
      $wysiwyg-hr-border-color;
  }
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    @include musubii-style-wysiwyg-hr();
  }
}

//----------------------------------------------------
// / Style - WYSIWYG Figure
//----------------------------------------------------

@mixin musubii-style-wysiwyg-figure() {
  figure {
    text-align: $wysiwyg-figure-text-align;
    > figcaption {
      margin-top: $wysiwyg-figcaption-margin-top;
      font-size: $wysiwyg-figcaption-font-size;
    }
  }
}

@include generate-style($option-generate-style-wysiwyg) {
  #{$selector-wysiwyg} {
    @include musubii-style-wysiwyg-figure();
  }
}
