:root {
  --theme-tx-1: #101827;
  --theme-tx-2: #3e4858;
  --theme-bg-1: #ffffff;
  --theme-bg-2: #f5f5f5;
  --theme-bd-1: #d1d8dc;
  --theme-bd-2: #b5bcc0;
  --theme-lk-1: #02abc9;
  --theme-lk-tx: #ffffff;
  --theme-shadow: rgb(0 0 0 / 0.1);
  --theme-primary: #02abc9;
  --theme-primary-light: #ecfeff;
  --theme-primary-mild: #ddfcff;
  --theme-secondary: #5b52ce;
  --theme-secondary-light: #f5f3ff;
  --theme-secondary-mild: #ede9fe;
  --theme-success: #05ad05;
  --theme-success-light: #f0fdf4;
  --theme-success-mild: #dcfce7;
  --theme-danger: #ce4141;
  --theme-danger-light: #fef2f2;
  --theme-danger-mild: #fee2e2;
}
