:root {
  --theme-color-black: #000000;
  --theme-color-white: #ffffff;
  --theme-color-blackAlpha-50: rgba(0, 0, 0, 0.04);
  --theme-color-blackAlpha-100: rgba(0, 0, 0, 0.06);
  --theme-color-blackAlpha-200: rgba(0, 0, 0, 0.08);
  --theme-color-blackAlpha-300: rgba(0, 0, 0, 0.16);
  --theme-color-blackAlpha-400: rgba(0, 0, 0, 0.24);
  --theme-color-blackAlpha-500: rgba(0, 0, 0, 0.36);
  --theme-color-blackAlpha-600: rgba(0, 0, 0, 0.48);
  --theme-color-blackAlpha-700: rgba(0, 0, 0, 0.64);
  --theme-color-blackAlpha-800: rgba(0, 0, 0, 0.8);
  --theme-color-blackAlpha-900: rgba(0, 0, 0, 0.92);
  --theme-color-whiteAlpha-50: rgba(255, 255, 255, 0.04);
  --theme-color-whiteAlpha-100: rgba(255, 255, 255, 0.06);
  --theme-color-whiteAlpha-200: rgba(255, 255, 255, 0.08);
  --theme-color-whiteAlpha-300: rgba(255, 255, 255, 0.16);
  --theme-color-whiteAlpha-400: rgba(255, 255, 255, 0.24);
  --theme-color-whiteAlpha-500: rgba(255, 255, 255, 0.36);
  --theme-color-whiteAlpha-600: rgba(255, 255, 255, 0.48);
  --theme-color-whiteAlpha-700: rgba(255, 255, 255, 0.64);
  --theme-color-whiteAlpha-800: rgba(255, 255, 255, 0.8);
  --theme-color-whiteAlpha-900: rgba(255, 255, 255, 0.92);
  --theme-color-gray-50: #f7fafc;
  --theme-color-gray-100: #edf2f7;
  --theme-color-gray-200: #e2e8f0;
  --theme-color-gray-300: #cbd5e0;
  --theme-color-gray-400: #a0aec0;
  --theme-color-gray-500: #718096;
  --theme-color-gray-600: #4a5568;
  --theme-color-gray-700: #2d3748;
  --theme-color-gray-800: #1a202c;
  --theme-color-gray-900: #171923;
  --theme-color-red-50: #fff5f5;
  --theme-color-red-100: #fed7d7;
  --theme-color-red-200: #feb2b2;
  --theme-color-red-300: #fc8181;
  --theme-color-red-400: #f56565;
  --theme-color-red-500: #e53e3e;
  --theme-color-red-600: #c53030;
  --theme-color-red-700: #9b2c2c;
  --theme-color-red-800: #822727;
  --theme-color-red-900: #63171b;
  --theme-color-orange-50: #fffaf0;
  --theme-color-orange-100: #feebc8;
  --theme-color-orange-200: #fbd38d;
  --theme-color-orange-300: #f6ad55;
  --theme-color-orange-400: #ed8936;
  --theme-color-orange-500: #dd6b20;
  --theme-color-orange-600: #c05621;
  --theme-color-orange-700: #9c4221;
  --theme-color-orange-800: #7b341e;
  --theme-color-orange-900: #652b19;
  --theme-color-yellow-50: #fffff0;
  --theme-color-yellow-100: #fefcbf;
  --theme-color-yellow-200: #faf089;
  --theme-color-yellow-300: #f6e05e;
  --theme-color-yellow-400: #ecc94b;
  --theme-color-yellow-500: #d69e2e;
  --theme-color-yellow-600: #b7791f;
  --theme-color-yellow-700: #975a16;
  --theme-color-yellow-800: #744210;
  --theme-color-yellow-900: #5f370e;
  --theme-color-green-50: #f0fff4;
  --theme-color-green-100: #c6f6d5;
  --theme-color-green-200: #9ae6b4;
  --theme-color-green-300: #68d391;
  --theme-color-green-400: #48bb78;
  --theme-color-green-500: #38a169;
  --theme-color-green-600: #2f855a;
  --theme-color-green-700: #276749;
  --theme-color-green-800: #22543d;
  --theme-color-green-900: #1c4532;
  --theme-color-teal-50: #e6fffa;
  --theme-color-teal-100: #b2f5ea;
  --theme-color-teal-200: #81e6d9;
  --theme-color-teal-300: #4fd1c5;
  --theme-color-teal-400: #38b2ac;
  --theme-color-teal-500: #319795;
  --theme-color-teal-600: #2c7a7b;
  --theme-color-teal-700: #285e61;
  --theme-color-teal-800: #234e52;
  --theme-color-teal-900: #1d4044;
  --theme-color-blue-50: #ebf8ff;
  --theme-color-blue-100: #bee3f8;
  --theme-color-blue-200: #90cdf4;
  --theme-color-blue-300: #63b3ed;
  --theme-color-blue-400: #4299e1;
  --theme-color-blue-500: #3182ce;
  --theme-color-blue-600: #2b6cb0;
  --theme-color-blue-700: #2c5282;
  --theme-color-blue-800: #2a4365;
  --theme-color-blue-900: #1a365d;
  --theme-color-cyan-50: #edfdfd;
  --theme-color-cyan-100: #c4f1f9;
  --theme-color-cyan-200: #9decf9;
  --theme-color-cyan-300: #76e4f7;
  --theme-color-cyan-400: #0bc5ea;
  --theme-color-cyan-500: #00b5d8;
  --theme-color-cyan-600: #00a3c4;
  --theme-color-cyan-700: #0987a0;
  --theme-color-cyan-800: #086f83;
  --theme-color-cyan-900: #065666;
  --theme-color-purple-50: #faf5ff;
  --theme-color-purple-100: #e9d8fd;
  --theme-color-purple-200: #d6bcfa;
  --theme-color-purple-300: #b794f4;
  --theme-color-purple-400: #9f7aea;
  --theme-color-purple-500: #805ad5;
  --theme-color-purple-600: #6b46c1;
  --theme-color-purple-700: #553c9a;
  --theme-color-purple-800: #44337a;
  --theme-color-purple-900: #322659;
  --theme-color-pink-50: #fff5f7;
  --theme-color-pink-100: #fed7e2;
  --theme-color-pink-200: #fbb6ce;
  --theme-color-pink-300: #f687b3;
  --theme-color-pink-400: #ed64a6;
  --theme-color-pink-500: #d53f8c;
  --theme-color-pink-600: #b83280;
  --theme-color-pink-700: #97266d;
  --theme-color-pink-800: #702459;
  --theme-color-pink-900: #521b41;
  --theme-color-linkedin-50: #e8f4f9;
  --theme-color-linkedin-100: #cfedfb;
  --theme-color-linkedin-200: #9bdaf3;
  --theme-color-linkedin-300: #68c7ec;
  --theme-color-linkedin-400: #34b3e4;
  --theme-color-linkedin-500: #00a0dc;
  --theme-color-linkedin-600: #008cc9;
  --theme-color-linkedin-700: #0077b5;
  --theme-color-linkedin-800: #005e93;
  --theme-color-linkedin-900: #004471;
  --theme-color-facebook-50: #e8f4f9;
  --theme-color-facebook-100: #d9dee9;
  --theme-color-facebook-200: #b7c2da;
  --theme-color-facebook-300: #6482c0;
  --theme-color-facebook-400: #4267b2;
  --theme-color-facebook-500: #385898;
  --theme-color-facebook-600: #314e89;
  --theme-color-facebook-700: #29487d;
  --theme-color-facebook-800: #223b67;
  --theme-color-facebook-900: #1e355b;
  --theme-color-messenger-50: #d0e6ff;
  --theme-color-messenger-100: #b9daff;
  --theme-color-messenger-200: #a2cdff;
  --theme-color-messenger-300: #7ab8ff;
  --theme-color-messenger-400: #2e90ff;
  --theme-color-messenger-500: #0078ff;
  --theme-color-messenger-600: #0063d1;
  --theme-color-messenger-700: #0052ac;
  --theme-color-messenger-800: #003c7e;
  --theme-color-messenger-900: #002c5c;
  --theme-color-whatsapp-50: #dffeec;
  --theme-color-whatsapp-100: #b9f5d0;
  --theme-color-whatsapp-200: #90edb3;
  --theme-color-whatsapp-300: #65e495;
  --theme-color-whatsapp-400: #3cdd78;
  --theme-color-whatsapp-500: #22c35e;
  --theme-color-whatsapp-600: #179848;
  --theme-color-whatsapp-700: #0c6c33;
  --theme-color-whatsapp-800: #01421c;
  --theme-color-whatsapp-900: #001803;
  --theme-color-twitter-50: #e5f4fd;
  --theme-color-twitter-100: #c8e9fb;
  --theme-color-twitter-200: #a8dcfa;
  --theme-color-twitter-300: #83cdf7;
  --theme-color-twitter-400: #57bbf5;
  --theme-color-twitter-500: #1da1f2;
  --theme-color-twitter-600: #1a94da;
  --theme-color-twitter-700: #1681bf;
  --theme-color-twitter-800: #136b9e;
  --theme-color-twitter-900: #0d4d71;
  --theme-color-telegram-50: #e3f2f9;
  --theme-color-telegram-100: #c5e4f3;
  --theme-color-telegram-200: #a2d4ec;
  --theme-color-telegram-300: #7ac1e4;
  --theme-color-telegram-400: #47a9da;
  --theme-color-telegram-500: #0088cc;
  --theme-color-telegram-600: #007ab8;
  --theme-color-telegram-700: #006ba1;
  --theme-color-telegram-800: #005885;
  --theme-color-telegram-900: #003f5e;
}
