:root {
  --theme-color-red-50: hsl(0, 65%, 95%);
  --theme-color-red-100: hsl(0, 65%, 89%);
  --theme-color-red-200: hsl(0, 65%, 81%);
  --theme-color-red-300: hsl(0, 65%, 74%);
  --theme-color-red-400: hsl(0, 65%, 67%);
  --theme-color-red-500: hsl(0, 65%, 60%);
  --theme-color-red-600: hsl(0, 65%, 53%);
  --theme-color-red-700: hsl(0, 65%, 46%);
  --theme-color-red-800: hsl(0, 65%, 39%);
  --theme-color-red-900: hsl(0, 65%, 32%);
  --theme-color-red-a100: hsl(0, 90%, 85%);
  --theme-color-red-a200: hsl(0, 90%, 77%);
  --theme-color-red-a400: hsl(0, 90%, 63%);
  --theme-color-red-a700: hsl(0, 90%, 42%);
  --theme-color-pink-50: hsl(340, 60%, 93%);
  --theme-color-pink-100: hsl(340, 60%, 89%);
  --theme-color-pink-200: hsl(340, 60%, 81%);
  --theme-color-pink-300: hsl(340, 60%, 72%);
  --theme-color-pink-400: hsl(340, 60%, 63%);
  --theme-color-pink-500: hsl(340, 60%, 55%);
  --theme-color-pink-600: hsl(340, 60%, 50%);
  --theme-color-pink-700: hsl(340, 60%, 45%);
  --theme-color-pink-800: hsl(340, 60%, 39%);
  --theme-color-pink-900: hsl(340, 60%, 32%);
  --theme-color-pink-a100: hsl(340, 85%, 85%);
  --theme-color-pink-a200: hsl(340, 85%, 77%);
  --theme-color-pink-a400: hsl(340, 85%, 59%);
  --theme-color-pink-a700: hsl(340, 85%, 41%);
  --theme-color-purple-50: hsl(290, 37%, 92%);
  --theme-color-purple-100: hsl(290, 37%, 86%);
  --theme-color-purple-200: hsl(290, 37%, 74%);
  --theme-color-purple-300: hsl(290, 37%, 62%);
  --theme-color-purple-400: hsl(290, 37%, 52%);
  --theme-color-purple-500: hsl(290, 37%, 45%);
  --theme-color-purple-600: hsl(290, 37%, 38%);
  --theme-color-purple-700: hsl(290, 37%, 33%);
  --theme-color-purple-800: hsl(290, 37%, 29%);
  --theme-color-purple-900: hsl(290, 37%, 25%);
  --theme-color-purple-a100: hsl(290, 57%, 82%);
  --theme-color-purple-a200: hsl(290, 57%, 70%);
  --theme-color-purple-a400: hsl(290, 57%, 52%);
  --theme-color-purple-a700: hsl(290, 57%, 37%);
  --theme-color-deep-purple-50: hsl(260, 30%, 92%);
  --theme-color-deep-purple-100: hsl(260, 30%, 85%);
  --theme-color-deep-purple-200: hsl(260, 30%, 75%);
  --theme-color-deep-purple-300: hsl(260, 30%, 66%);
  --theme-color-deep-purple-400: hsl(260, 30%, 57%);
  --theme-color-deep-purple-500: hsl(260, 30%, 50%);
  --theme-color-deep-purple-600: hsl(260, 30%, 45%);
  --theme-color-deep-purple-700: hsl(260, 30%, 39%);
  --theme-color-deep-purple-800: hsl(260, 30%, 33%);
  --theme-color-deep-purple-900: hsl(260, 30%, 28%);
  --theme-color-deep-purple-a100: hsl(260, 55%, 81%);
  --theme-color-deep-purple-a200: hsl(260, 55%, 71%);
  --theme-color-deep-purple-a400: hsl(260, 55%, 57%);
  --theme-color-deep-purple-a700: hsl(260, 55%, 45%);
  --theme-color-indigo-50: hsl(230, 30%, 92%);
  --theme-color-indigo-100: hsl(230, 30%, 85%);
  --theme-color-indigo-200: hsl(230, 30%, 75%);
  --theme-color-indigo-300: hsl(230, 30%, 65%);
  --theme-color-indigo-400: hsl(230, 30%, 57%);
  --theme-color-indigo-500: hsl(230, 30%, 51%);
  --theme-color-indigo-600: hsl(230, 30%, 45%);
  --theme-color-indigo-700: hsl(230, 30%, 40%);
  --theme-color-indigo-800: hsl(230, 30%, 34%);
  --theme-color-indigo-900: hsl(230, 30%, 29%);
  --theme-color-indigo-a100: hsl(230, 55%, 78%);
  --theme-color-indigo-a200: hsl(230, 55%, 66%);
  --theme-color-indigo-a400: hsl(230, 55%, 56%);
  --theme-color-indigo-a700: hsl(230, 55%, 47%);
  --theme-color-blue-50: hsl(206, 64%, 92%);
  --theme-color-blue-100: hsl(206, 64%, 85%);
  --theme-color-blue-200: hsl(206, 64%, 78%);
  --theme-color-blue-300: hsl(206, 64%, 70%);
  --theme-color-blue-400: hsl(206, 64%, 64%);
  --theme-color-blue-500: hsl(206, 64%, 57%);
  --theme-color-blue-600: hsl(206, 64%, 50%);
  --theme-color-blue-700: hsl(206, 64%, 43%);
  --theme-color-blue-800: hsl(206, 64%, 36%);
  --theme-color-blue-900: hsl(206, 64%, 30%);
  --theme-color-blue-a100: hsl(206, 87%, 78%);
  --theme-color-blue-a200: hsl(206, 87%, 68%);
  --theme-color-blue-a400: hsl(206, 87%, 54%);
  --theme-color-blue-a700: hsl(206, 87%, 40%);
  --theme-color-light-blue-50: hsl(196, 67%, 92%);
  --theme-color-light-blue-100: hsl(196, 67%, 85%);
  --theme-color-light-blue-200: hsl(196, 67%, 77%);
  --theme-color-light-blue-300: hsl(196, 67%, 68%);
  --theme-color-light-blue-400: hsl(196, 67%, 62%);
  --theme-color-light-blue-500: hsl(196, 67%, 53%);
  --theme-color-light-blue-600: hsl(196, 67%, 46%);
  --theme-color-light-blue-700: hsl(196, 67%, 40%);
  --theme-color-light-blue-800: hsl(196, 67%, 34%);
  --theme-color-light-blue-900: hsl(196, 67%, 30%);
  --theme-color-light-blue-a100: hsl(196, 87%, 78%);
  --theme-color-light-blue-a200: hsl(196, 87%, 65%);
  --theme-color-light-blue-a400: hsl(196, 87%, 51%);
  --theme-color-light-blue-a700: hsl(196, 87%, 40%);
  --theme-color-cyan-50: hsl(186, 55%, 92%);
  --theme-color-cyan-100: hsl(186, 55%, 85%);
  --theme-color-cyan-200: hsl(186, 55%, 75%);
  --theme-color-cyan-300: hsl(186, 55%, 65%);
  --theme-color-cyan-400: hsl(186, 55%, 55%);
  --theme-color-cyan-500: hsl(186, 55%, 48%);
  --theme-color-cyan-600: hsl(186, 55%, 41%);
  --theme-color-cyan-700: hsl(186, 55%, 36%);
  --theme-color-cyan-800: hsl(186, 55%, 32%);
  --theme-color-cyan-900: hsl(186, 55%, 27%);
  --theme-color-cyan-a100: hsl(186, 75%, 78%);
  --theme-color-cyan-a200: hsl(186, 75%, 65%);
  --theme-color-cyan-a400: hsl(186, 75%, 47%);
  --theme-color-cyan-a700: hsl(186, 75%, 38%);
  --theme-color-teal-50: hsl(170, 40%, 92%);
  --theme-color-teal-100: hsl(170, 40%, 84%);
  --theme-color-teal-200: hsl(170, 40%, 74%);
  --theme-color-teal-300: hsl(170, 40%, 64%);
  --theme-color-teal-400: hsl(170, 40%, 54%);
  --theme-color-teal-500: hsl(170, 40%, 46%);
  --theme-color-teal-600: hsl(170, 40%, 41%);
  --theme-color-teal-700: hsl(170, 40%, 36%);
  --theme-color-teal-800: hsl(170, 40%, 32%);
  --theme-color-teal-900: hsl(170, 40%, 27%);
  --theme-color-teal-a100: hsl(170, 65%, 78%);
  --theme-color-teal-a200: hsl(170, 65%, 65%);
  --theme-color-teal-a400: hsl(170, 65%, 47%);
  --theme-color-teal-a700: hsl(170, 65%, 38%);
  --theme-color-green-50: hsl(120, 33%, 94%);
  --theme-color-green-100: hsl(120, 33%, 87%);
  --theme-color-green-200: hsl(120, 33%, 77%);
  --theme-color-green-300: hsl(120, 33%, 68%);
  --theme-color-green-400: hsl(120, 33%, 59%);
  --theme-color-green-500: hsl(120, 33%, 52%);
  --theme-color-green-600: hsl(120, 33%, 47%);
  --theme-color-green-700: hsl(120, 33%, 41%);
  --theme-color-green-800: hsl(120, 33%, 35%);
  --theme-color-green-900: hsl(120, 33%, 30%);
  --theme-color-green-a100: hsl(120, 58%, 83%);
  --theme-color-green-a200: hsl(120, 58%, 73%);
  --theme-color-green-a400: hsl(120, 58%, 59%);
  --theme-color-green-a700: hsl(120, 58%, 41%);
  --theme-color-light-green-50: hsl(90, 45%, 93%);
  --theme-color-light-green-100: hsl(90, 45%, 89%);
  --theme-color-light-green-200: hsl(90, 45%, 81%);
  --theme-color-light-green-300: hsl(90, 45%, 72%);
  --theme-color-light-green-400: hsl(90, 45%, 63%);
  --theme-color-light-green-500: hsl(90, 45%, 55%);
  --theme-color-light-green-600: hsl(90, 45%, 48%);
  --theme-color-light-green-700: hsl(90, 45%, 45%);
  --theme-color-light-green-800: hsl(90, 45%, 39%);
  --theme-color-light-green-900: hsl(90, 45%, 32%);
  --theme-color-light-green-a100: hsl(90, 70%, 85%);
  --theme-color-light-green-a200: hsl(90, 70%, 75%);
  --theme-color-light-green-a400: hsl(90, 70%, 59%);
  --theme-color-light-green-a700: hsl(90, 70%, 41%);
  --theme-color-lime-50: hsl(70, 60%, 92%);
  --theme-color-lime-100: hsl(70, 60%, 88%);
  --theme-color-lime-200: hsl(70, 60%, 81%);
  --theme-color-lime-300: hsl(70, 60%, 72%);
  --theme-color-lime-400: hsl(70, 60%, 63%);
  --theme-color-lime-500: hsl(70, 60%, 55%);
  --theme-color-lime-600: hsl(70, 60%, 48%);
  --theme-color-lime-700: hsl(70, 60%, 45%);
  --theme-color-lime-800: hsl(70, 60%, 39%);
  --theme-color-lime-900: hsl(70, 60%, 32%);
  --theme-color-lime-a100: hsl(70, 80%, 83%);
  --theme-color-lime-a200: hsl(70, 80%, 71%);
  --theme-color-lime-a400: hsl(70, 80%, 58%);
  --theme-color-lime-a700: hsl(70, 80%, 40%);
  --theme-color-yellow-50: hsl(55, 85%, 93%);
  --theme-color-yellow-100: hsl(55, 85%, 89%);
  --theme-color-yellow-200: hsl(55, 85%, 81%);
  --theme-color-yellow-300: hsl(55, 85%, 74%);
  --theme-color-yellow-400: hsl(55, 85%, 67%);
  --theme-color-yellow-500: hsl(55, 85%, 60%);
  --theme-color-yellow-600: hsl(51, 85%, 55%);
  --theme-color-yellow-700: hsl(47, 85%, 50%);
  --theme-color-yellow-800: hsl(41, 85%, 50%);
  --theme-color-yellow-900: hsl(35, 85%, 50%);
  --theme-color-yellow-a100: hsl(55, 95%, 83%);
  --theme-color-yellow-a200: hsl(55, 95%, 73%);
  --theme-color-yellow-a400: hsl(55, 95%, 58%);
  --theme-color-yellow-a700: hsl(50, 95%, 50%);
  --theme-color-amber-50: hsl(45, 85%, 93%);
  --theme-color-amber-100: hsl(45, 85%, 89%);
  --theme-color-amber-200: hsl(45, 85%, 81%);
  --theme-color-amber-300: hsl(45, 85%, 72%);
  --theme-color-amber-400: hsl(45, 85%, 63%);
  --theme-color-amber-500: hsl(45, 85%, 55%);
  --theme-color-amber-600: hsl(45, 85%, 50%);
  --theme-color-amber-700: hsl(40, 85%, 50%);
  --theme-color-amber-800: hsl(34, 85%, 50%);
  --theme-color-amber-900: hsl(27, 85%, 50%);
  --theme-color-amber-a100: hsl(45, 95%, 83%);
  --theme-color-amber-a200: hsl(45, 95%, 73%);
  --theme-color-amber-a400: hsl(45, 95%, 58%);
  --theme-color-amber-a700: hsl(42, 95%, 50%);
  --theme-color-orange-50: hsl(35, 85%, 93%);
  --theme-color-orange-100: hsl(35, 85%, 89%);
  --theme-color-orange-200: hsl(35, 85%, 81%);
  --theme-color-orange-300: hsl(35, 85%, 72%);
  --theme-color-orange-400: hsl(35, 85%, 63%);
  --theme-color-orange-500: hsl(35, 85%, 55%);
  --theme-color-orange-600: hsl(35, 85%, 50%);
  --theme-color-orange-700: hsl(31, 85%, 50%);
  --theme-color-orange-800: hsl(27, 85%, 48%);
  --theme-color-orange-900: hsl(23, 85%, 46%);
  --theme-color-orange-a100: hsl(35, 95%, 83%);
  --theme-color-orange-a200: hsl(35, 95%, 73%);
  --theme-color-orange-a400: hsl(35, 95%, 58%);
  --theme-color-orange-a700: hsl(30, 95%, 50%);
  --theme-color-deep-orange-50: hsl(15, 85%, 93%);
  --theme-color-deep-orange-100: hsl(15, 85%, 89%);
  --theme-color-deep-orange-200: hsl(15, 85%, 81%);
  --theme-color-deep-orange-300: hsl(15, 85%, 74%);
  --theme-color-deep-orange-400: hsl(15, 85%, 67%);
  --theme-color-deep-orange-500: hsl(15, 85%, 60%);
  --theme-color-deep-orange-600: hsl(15, 85%, 53%);
  --theme-color-deep-orange-700: hsl(15, 85%, 48%);
  --theme-color-deep-orange-800: hsl(13, 85%, 43%);
  --theme-color-deep-orange-900: hsl(11, 85%, 39%);
  --theme-color-deep-orange-a100: hsl(15, 95%, 85%);
  --theme-color-deep-orange-a200: hsl(15, 95%, 77%);
  --theme-color-deep-orange-a400: hsl(15, 95%, 63%);
  --theme-color-deep-orange-a700: hsl(15, 95%, 48%);
  --theme-color-brown-50: hsl(15, 20%, 93%);
  --theme-color-brown-100: hsl(15, 20%, 87%);
  --theme-color-brown-200: hsl(15, 20%, 72%);
  --theme-color-brown-300: hsl(15, 20%, 61%);
  --theme-color-brown-400: hsl(15, 20%, 50%);
  --theme-color-brown-500: hsl(15, 20%, 40%);
  --theme-color-brown-600: hsl(15, 20%, 35%);
  --theme-color-brown-700: hsl(15, 20%, 30%);
  --theme-color-brown-800: hsl(15, 20%, 25%);
  --theme-color-brown-900: hsl(15, 20%, 20%);
  --theme-color-grey-50: hsl(0, 0%, 98%);
  --theme-color-grey-100: hsl(0, 0%, 96%);
  --theme-color-grey-200: hsl(0, 0%, 93%);
  --theme-color-grey-300: hsl(0, 0%, 88%);
  --theme-color-grey-400: hsl(0, 0%, 74%);
  --theme-color-grey-500: hsl(0, 0%, 62%);
  --theme-color-grey-600: hsl(0, 0%, 46%);
  --theme-color-grey-700: hsl(0, 0%, 38%);
  --theme-color-grey-800: hsl(0, 0%, 26%);
  --theme-color-grey-900: hsl(0, 0%, 13%);
  --theme-color-blue-grey-50: hsl(200, 13%, 94%);
  --theme-color-blue-grey-100: hsl(200, 13%, 84%);
  --theme-color-blue-grey-200: hsl(200, 13%, 73%);
  --theme-color-blue-grey-300: hsl(200, 13%, 62%);
  --theme-color-blue-grey-400: hsl(200, 13%, 54%);
  --theme-color-blue-grey-500: hsl(200, 13%, 46%);
  --theme-color-blue-grey-600: hsl(200, 13%, 40%);
  --theme-color-blue-grey-700: hsl(200, 13%, 33%);
  --theme-color-blue-grey-800: hsl(200, 13%, 26%);
  --theme-color-blue-grey-900: hsl(200, 13%, 18%);
  --theme-color-black: hsl(0, 0%, 0%);
  --theme-color-white: hsl(0, 0%, 100%);
  --theme-color-dark: hsl(0, 0%, 0%);
  --theme-color-dark-1: rgba(0, 0, 0, 0.87);
  --theme-color-dark-2: rgba(0, 0, 0, 0.7);
  --theme-color-dark-3: rgba(0, 0, 0, 0.6);
  --theme-color-dark-4: rgba(0, 0, 0, 0.5);
  --theme-color-dark-5: rgba(0, 0, 0, 0.4);
  --theme-color-dark-6: rgba(0, 0, 0, 0.26);
  --theme-color-dark-7: rgba(0, 0, 0, 0.15);
  --theme-color-dark-8: rgba(0, 0, 0, 0.12);
  --theme-color-dark-9: rgba(0, 0, 0, 0.05);
  --theme-color-light: hsl(0, 0%, 100%);
  --theme-color-light-1: rgba(255, 255, 255, 0.87);
  --theme-color-light-2: rgba(255, 255, 255, 0.7);
  --theme-color-light-3: rgba(255, 255, 255, 0.6);
  --theme-color-light-4: rgba(255, 255, 255, 0.5);
  --theme-color-light-5: rgba(255, 255, 255, 0.4);
  --theme-color-light-6: rgba(255, 255, 255, 0.26);
  --theme-color-light-7: rgba(255, 255, 255, 0.15);
  --theme-color-light-8: rgba(255, 255, 255, 0.12);
  --theme-color-light-9: rgba(255, 255, 255, 0.05);
}
