.button {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  min-width: calc(2.5em + 2px);
  width: auto;
  height: calc(2.5em + 2px);
  padding: 0 1em;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 1rem;
  line-height: 1;
  white-space: nowrap;
  appearance: none;
}
