//----------------------------------------------------
// Module: Alert
//----------------------------------------------------

.alert {
  background: $grey-1;
  border: 1px solid $grey-3;
  border-radius: 2px;
  padding: 0.675em 0.875em;
  &.is-primary {
    background: lighten($cyan-100, 5%);
    border-color: $cyan-200;
  }
  &.is-info {
    background: lighten($blue-100, 5%);
    border-color: $blue-200;
  }
  &.is-success {
    background: lighten($green-100, 5%);
    border-color: $green-200;
  }
  &.is-warning {
    background: $yellow-200;
    border-color: $yellow-500;
  }
  &.is-danger {
    background: $red-100;
    border-color: $red-200;
  }
}