//----------------------------------------------------
// Module: Alert
//----------------------------------------------------

//----------------------------------------------------
// / Basic Modifier
//----------------------------------------------------

.alert {
  padding: $alert-padding;
  background-color: $alert-default-background-color;
  border: $alert-border-width solid $alert-default-border-color;
  border-radius: $alert-border-radius;
  @each $key, $value in $pattern-color-alert {
    &.is-#{$key} {
      background-color: map-get($value, background-color);
      border-color: map-get($value, border-color);
    }
  }
}
