//----------------------------------------------------
// Module: Button
//----------------------------------------------------

//----------------------------------------------------
// / Set Modifier
//----------------------------------------------------

.btns {
  display: flex;
  flex-wrap: wrap;
  &:not(.is-bar) {
    margin-left: (-1 * $btns-gap-default);
    margin-bottom: (-1 * $btns-gap-default);
  }
  &:not(.is-bar) > .btns,
  &:not(.is-bar) > .btn {
    margin-left: $btns-gap-default;
    margin-bottom: $btns-gap-default;
  }
  > .btns {
    display: inline-flex;
  }
  &.is-middle {
    align-items: center;
  }
  &.is-bottom {
    align-items: flex-end;
  }
  &.is-center {
    justify-content: center;
  }
  &.is-right {
    justify-content: flex-end;
  }
  &.is-between {
    justify-content: space-between;
  }
  &.is-around {
    justify-content: space-around;
  }
}

//----------------------------------------------------
// / Set Bar
//----------------------------------------------------

.btns.is-bar,
.field.is-bar {
  flex-wrap: nowrap;
  > .btn {
    border-radius: 0;
    overflow: hidden;
  }
  > .btn:not(.is-round):first-child {
    border-top-left-radius: $btn-border-radius;
    border-bottom-left-radius: $btn-border-radius;
  }
  > .btn:not(.is-round):last-child {
    border-top-right-radius: $btn-border-radius;
    border-bottom-right-radius: $btn-border-radius;
  }
  > .btn.is-round:first-child {
    border-top-left-radius: $btn-round-border-radius;
    border-bottom-left-radius: $btn-round-border-radius;
  }
  > .btn.is-round:last-child {
    border-top-right-radius: $btn-round-border-radius;
    border-bottom-right-radius: $btn-round-border-radius;
  }
  > .btn:nth-child(2),
  > .btn:nth-child(2) ~ .btn {
    border-left: none;
  }
}

//----------------------------------------------------
// / Single Modifier
//----------------------------------------------------

.btn {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  white-space: nowrap;
  padding: $btn-padding;
  border-radius: $btn-border-radius;
  line-height: $btn-line-height;
  text-align: center;
  transition: $btn-transition;
  &[type="button"],
  &[type="reset"],
  &[type="submit"] {
    color: $body-text-color;
  }
  &.is-disable,
  &[disabled] {
    cursor: default;
  }
  &.is-round {
    border-radius: $btn-round-border-radius;
  }
  &.is-circle {
    position: relative;
    width: $btn-circle-size;
    height: $btn-circle-size;
    padding: 0;
    border-radius: ($btn-circle-size / 2);
    line-height: 1;
  }
}

//----------------------------------------------------
// / Floating
//----------------------------------------------------

.btn.is-floating:not(.is-disable) {
  box-shadow: $btn-floating-shadow;
  &:hover {
    box-shadow: $btn-floating-hover-shadow;
  }
}

//----------------------------------------------------
// / Plain
//----------------------------------------------------

.btn.is-plain {
  background-color: $btn-plain-default-background-color;
  border: $btn-border-width solid transparent;
  &:hover {
    background-color: $btn-plain-default-hover-background-color;
  }
  @each $key, $value in $pattern-color-theme {
    &.is-#{$key} {
      background-color: $value;
      color: $light;
      &:hover {
        background-color: darken($value, 5%);
      }
    }
  }
  &.is-disable,
  &.is-disable:hover,
  &[disabled],
  &[disabled]:hover {
    background-color: $btn-disable-background-color;
    color: $btn-disable-text-color;
  }
}

//----------------------------------------------------
// / Melt
//----------------------------------------------------

.btn.is-melt {
  background-color: transparent;
  border: $btn-border-width solid transparent;
  &:hover {
    background-color: $btn-melt-default-hover-background-color;
  }
  @each $key, $value in $pattern-color-theme {
    &.is-#{$key} {
      color: $value;
    }
  }
  &.is-disable,
  &.is-disable:hover,
  &[disabled],
  &[disabled]:hover {
    color: $btn-disable-text-color;
    background-color: transparent;
  }
}

//----------------------------------------------------
// / Outline
//----------------------------------------------------

.btn.is-outline {
  background-color: $btn-outline-default-background-color;
  border: $btn-border-width solid $btn-outline-default-border-color;
  &:hover {
    background-color: $btn-outline-default-hover-background-color;
  }
  @each $key, $value in $pattern-color-theme {
    &.is-#{$key} {
      border-color: $value;
      color: $value;
      &:hover {
        background-color: $value;
        border-color: transparent;
        color: $light;
      }
    }
  }
  &.is-disable,
  &.is-disable:hover,
  &[disabled],
  &[disabled]:hover {
    background-color: $btn-disable-background-color-alpha;
    color: $btn-disable-text-color;
  }
}

//----------------------------------------------------
// / Ghost
//----------------------------------------------------

.btn.is-ghost {
  background-color: transparent;
  border: $btn-border-width solid $btn-ghost-default-border-color;
  color: $btn-ghost-default-text-color;
  &:hover {
    background-color: $btn-ghost-default-hover-background-color;
    color: $btn-ghost-default-hover-text-color;
  }
  @each $key, $value in $pattern-color-theme {
    &.is-#{$key} {
      border-color: lighten($value, 30%);
      color: lighten($value, 30%);
      &:hover {
        background-color: $value;
        border-color: transparent;
        color: $light;
      }
    }
  }
  &.is-disable,
  &.is-disable:hover,
  &[disabled],
  &[disabled]:hover {
    background-color: $btn-ghost-disable-background-color;
    border-color: $btn-ghost-disable-border-color;
    color: $btn-ghost-disable-text-color;
  }
}
