//----------------------------------------------------
// Module: Button
//----------------------------------------------------

//----------------------------------------------------
// / Set Modifier
//----------------------------------------------------

.btns {
  display: flex;
  flex-wrap: wrap;
  &:not(.is-bar) {
    margin-left: -0.5em;
    margin-bottom: -0.5em;
  }
  &:not(.is-bar) > .btns,
  &:not(.is-bar) > .btn {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
  }
  > .btns {
    display: inline-flex;
  }
  > .btns + .btns {
    margin-top: 0;
  }
  &.is-middle {
    align-items: center;
  }
  &.is-bottom {
    align-items: flex-end;
  }
  &.is-center {
    justify-content: center;
  }
  &.is-right {
    justify-content: flex-end;
  }
  &.is-between {
    justify-content: space-between;
  }
  &.is-around {
    justify-content: space-around;
  }
}

//----------------------------------------------------
// / Set Bar
//----------------------------------------------------

.btns.is-bar {
  flex-wrap: nowrap;
  > .btn {
    border-radius: 0;
    overflow: hidden;
  }
  > .btn:not(.is-round):first-child {
    border-top-left-radius: 0.1875em;
    border-bottom-left-radius: 0.1875em;
  }
  > .btn:not(.is-round):last-child {
    border-top-right-radius: 0.1875em;
    border-bottom-right-radius: 0.1875em;
  }
  > .btn.is-round:first-child {
    border-top-left-radius: 999em;
    border-bottom-left-radius: 999em;
  }
  > .btn.is-round:last-child {
    border-top-right-radius: 999em;
    border-bottom-right-radius: 999em;
  }
  > .btn:nth-child(2),
  > .btn:nth-child(2) ~ .btn {
    border-left: none;
  }
}

//----------------------------------------------------
// / Single Modifier
//----------------------------------------------------

.btn {
  cursor: pointer;
  display: inline-block;
  align-self: flex-start;
  white-space: nowrap;
  padding: 0 1em;
  border-radius: 0.1875em;
  line-height: 2.5em;
  text-align: center;
  transition: ease-out 0.12s;
  &[type="button"],
  &[type="reset"],
  &[type="submit"] {
    color: $dark-2;
  }
  &.is-disable,
  &[disabled] {
    cursor: default;
  }
  &.is-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  &.is-round {
    border-radius: 999em;
  }
  &.is-circle {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    border-radius: 1.25em;
  }
  &.is-circle > .icon,
  &.is-circle > .im,
  &.is-circle > .fa,
  &.is-circle > .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  > .fa {
    vertical-align: top;
  }
}

//----------------------------------------------------
// / Floating
//----------------------------------------------------

.btn.is-floating:not(.is-disable) {
  box-shadow: $shadow-btn-floating;
  &:hover {
    box-shadow: $shadow-btn-floating-hover;
  }
}

//----------------------------------------------------
// / Plain
//----------------------------------------------------

.btn.is-plain {
  background-color: $grey-200;
  border: 1px solid transparent;
  &:hover {
    background-color: darken($grey-200, 5%);
  }
  @each $key, $value in $pattern-color-theme {
    &.is-#{$key} {
      background-color: $value;
      color: $light;
      &:hover {
        background-color: darken($value, 5%);
      }
    }
  }
  &.is-disable,
  &.is-disable:hover,
  &[disabled],
  &[disabled]:hover {
    color: $dark-6;
    background-color: $grey-400;
  }
}

//----------------------------------------------------
// / Melt
//----------------------------------------------------

.btn.is-melt {
  background-color: transparent;
  border: 1px solid transparent;
  &:hover {
    background-color: $dark-9;
  }
  @each $key, $value in $pattern-color-theme {
    &.is-#{$key} {
      color: $value;
    }
  }
  &.is-disable,
  &.is-disable:hover,
  &[disabled],
  &[disabled]:hover {
    color: $dark-6;
    background-color: transparent;
  }
}

//----------------------------------------------------
// / Outline
//----------------------------------------------------

.btn.is-outline {
  background-color: $light;
  border: 1px solid $dark-7;
  &:hover {
    background-color: darken($light, 5%);
  }
  @each $key, $value in $pattern-color-theme {
    &.is-#{$key} {
      border-color: $value;
      color: $value;
      &:hover {
        background-color: $value;
        border-color: transparent;
        color: $light;
      }
    }
  }
  &.is-disable,
  &.is-disable:hover,
  &[disabled],
  &[disabled]:hover {
    color: $dark-6;
    background-color: $dark-6;
  }
}

//----------------------------------------------------
// / Ghost
//----------------------------------------------------

.btn.is-ghost {
  color: $light;
  background-color: transparent;
  border: 1px solid $light;
  &:hover {
    color: $dark-1;
    background-color: $light;
  }
  @each $key, $value in $pattern-color-theme {
    &.is-#{$key} {
      border-color: lighten($value, 30%);
      color: lighten($value, 30%);
      &:hover {
        background-color: $value;
        border-color: transparent;
        color: $light;
      }
    }
  }
  &.is-disable,
  &.is-disable:hover,
  &[disabled],
  &[disabled]:hover {
    color: $light-4;
    background-color: $light-8;
    border-color: $light-4;
  }
}

//----------------------------------------------------
// / Responsive Button
//----------------------------------------------------

@each $key, $mediaquery in $pattern-breakpoint-mediaquery-mobile-first {
  @include mediaquery-pattern($mediaquery) {
    $i: 0; // Syntax error countermeasure
    .btns > .btn.is-#{$key}-#{$i} {
      flex: 1 0 0%;
      max-width: 100%;
    }
    .btns > .btn.is-#{$key}-full {
      flex: 0 1 100%;
      max-width: 100%;
    }
    .btns > .btn.is-#{$key}-auto {
      flex: 0 1 auto;
      max-width: 100%;
    }
  }
}