//----------------------------------------------------
// Module: Form
//----------------------------------------------------

.form {
}

.field {
  display: flex;
  flex-wrap: wrap;
  > .field + .field {
    margin-top: 0;
  }
  &.is-left {
    justify-content: flex-start;
  }
  &.is-center {
    justify-content: center;
  }
  &.is-right {
    justify-content: flex-end;
  }
  &.is-middle {
    align-items: center;
  }
}

@for $i from 1 through 9 {
  .field.is-space-#{$i} {
    margin-bottom: $i * -4px;
  }
  .field.is-space-#{$i} > * {
    margin-right: $i * 4px;
    margin-bottom: $i * 4px;
  }
  .field.is-space-#{$i} > .field {
    margin-bottom: 0;
  }
}

.input[type="text"],
.input[type="search"],
.input[type="url"],
.input[type="email"],
.input[type="tel"],
.input[type="password"],
.input[type="datetime-local"],
.input[type="date"],
.input[type="month"],
.input[type="week"],
.input[type="time"],
.input[type="number"] {
  max-width: 100%;
  height: 2.5em;
  background: $light;
  border: 1px solid $dark-6;
  border-radius: 2px;
  padding: calc(0.5em - 1.5px) 0.75em;
  &[disabled] {
    background: $grey-3;
    color: $dark-6;
  }
  &[readonly] {
    background: $grey-2;
    color: $dark-4;
  }
}

.input[type="text"],
.input[type="search"],
.input[type="url"],
.input[type="email"],
.input[type="tel"],
.input[type="password"],
.input[type="number"] {
  @include placeholder {
    color: $dark-6;
  }
}

.input[type="text"],
.input[type="search"],
.input[type="url"],
.input[type="email"],
.input[type="tel"],
.input[type="password"],
.input[type="datetime-local"],
.input[type="date"],
.input[type="month"],
.input[type="week"],
.input[type="time"],
.input[type="number"] {
  box-shadow: $shadow-input;
  &[disabled] {
    box-shadow: none;
  }
}

.input[type="text"],
.input[type="search"],
.input[type="url"],
.input[type="email"],
.input[type="tel"],
.input[type="password"],
.input[type="datetime-local"],
.input[type="date"],
.input[type="month"],
.input[type="week"],
.input[type="time"],
.input[type="number"],
.textarea {
  appearance: none;
}

.input[type="file"] {
  display: block;
  flex: 0 0 100%;
  max-width: 70vw;
  overflow: hidden;
}

.textarea {
  min-height: 150px;
  background: $light;
  border: 1px solid $dark-6;
  border-radius: 2px;
  box-shadow: $shadow-input;
  padding: calc(0.5em - 1.5px) 0.5em;
  &[disabled] {
    background: $grey-3;
    color: $dark-6;
    box-shadow: none;
  }
}

.input[type="radio"],
.input[type="checkbox"] {
  margin-right: 0.25em;
  ~ *:last-child {
    margin-right: 1em;
  }
  &[disabled] ~ * {
    color: $dark-5;
  }
}

.select {
  max-width: 100%;
  height: 2.5em;
  background: $light;
  border: 1px solid $dark-6;
  border-radius: 2px;
  padding: calc(0.5em - 1.5px) 0.75em;
  &[multiple] {
    height: auto;
    padding: 0.5em 0.75em;
    > option {
      min-height: 1.5em;
    }
  }
  &[disabled] {
    background: $grey-3;
    color: $dark-6;
  }
  &[readonly] {
    background: $grey-2;
  }
}

.field > *.is-mobile-0 {
  flex: 1 0 0%;
  max-width: 100%;
}

.field > *.is-mobile-full {
  flex: 0 0 100%;
  max-width: 100%;
}

.field > *.is-mobile-auto {
  flex: 0 1 auto;
  max-width: 100%;
}

@include fablet {
  .field > *.is-fablet-0 {
    flex: 1 0 0%;
    max-width: 100%;
  }
  .field > *.is-fablet-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .field > *.is-fablet-auto {
    flex: 0 1 auto;
    max-width: 100%;
  }
}

@include tablet {
  .field > *.is-touch-0 {
    flex: 1 0 0%;
    max-width: 100%;
  }
  .field > *.is-touch-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .field > *.is-touch-auto {
    flex: 0 1 auto;
    max-width: 100%;
  }
}

@include touch {
  .field > *.is-touch-0 {
    flex: 1 0 0%;
    max-width: 100%;
  }
  .field > *.is-touch-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .field > *.is-touch-auto {
    flex: 0 1 auto;
    max-width: 100%;
  }
}

@include desktop {
  .field > *.is-desktop-0 {
    flex: 1 0 0%;
    max-width: 100%;
  }
  .field > *.is-desktop-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .field > *.is-desktop-auto {
    flex: 0 1 auto;
    max-width: 100%;
  }
}

@include wide {
  .field > *.is-wide-0 {
    flex: 1 0 0%;
    max-width: 100%;
  }
  .field > *.is-wide-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .field > *.is-wide-auto {
    flex: 0 1 auto;
    max-width: 100%;
  }
}

@include landscape {
  .field > *.is-landscape-0 {
    flex: 1 0 0%;
    max-width: 100%;
  }
  .field > *.is-landscape-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .field > *.is-landscape-auto {
    flex: 0 1 auto;
    max-width: 100%;
  }
}

@include portrait {
  .field > *.is-portrait-0 {
    flex: 1 0 0%;
    max-width: 100%;
  }
  .field > *.is-portrait-full {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .field > *.is-portrait-auto {
    flex: 0 1 auto;
    max-width: 100%;
  }
}