//----------------------------------------------------
// Module: Icon
//----------------------------------------------------

//----------------------------------------------------
// / Dedicated Variable
//----------------------------------------------------

$icon-class-basic:
".icon, .im, .fa, .fas, .far, .fal, .fab, .material-icons";

//----------------------------------------------------
// / Icon Setting
//----------------------------------------------------

#{$icon-class-basic} {
  font-size: inherit;
  line-height: inherit;
}

.material-icons {
  vertical-align: bottom;
}

//----------------------------------------------------
// / Combination
//----------------------------------------------------

#{$icon-class-basic} {
  + .text {
    margin-left: 0.375em;
  }
}

.text {
  + {
    & #{$icon-class-basic} {
      margin-left: 0.375em;
    }
  }
}

//----------------------------------------------------
// / Single Modifier
//----------------------------------------------------

#{$icon-class-basic} {
  &.is-fit {
    width: 1em;
    text-align: center;
  }
}