//----------------------------------------------------
// Module: Icon
//----------------------------------------------------

//----------------------------------------------------
// / Icon Setting
//----------------------------------------------------

#{$icon-class} {
  font-size: inherit;
  line-height: inherit;
}

.material-icons {
  vertical-align: bottom;
}

//----------------------------------------------------
// / Combination
//----------------------------------------------------

#{$icon-class} {
  + .text {
    margin-left: $icon-margin-left;
  }
}

.text {
  + {
    & #{$icon-class} {
      margin-left: $icon-margin-left;
    }
  }
}

//----------------------------------------------------
// / Single Modifier
//----------------------------------------------------

#{$icon-class} {
  &.is-fit {
    width: $icon-fit-width;
    text-align: center;
  }
}
