//----------------------------------------------------
// Module: Icon
//----------------------------------------------------

//----------------------------------------------------
// / Export Setting
//----------------------------------------------------

@mixin export-icon {
  @if $use-component-icon == true {
    @content;
  }
}

//----------------------------------------------------
// / Basic
//----------------------------------------------------

@include export-icon {
  #{$icon-class} {
    font-size: inherit;
    line-height: inherit;
  }
}

@include export-icon {
  svg.icon {
    display: inline-block;
    flex: none;
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
  }
}

@include export-icon {
  .material-icons {
    vertical-align: bottom;
  }
}

//----------------------------------------------------
// / Fit
//----------------------------------------------------

@include export-icon {
  #{$icon-class} {
    &.is-fit {
      width: $icon-fit-width;
      text-align: center;
    }
  }
}
