//----------------------------------------------------
// Module: List
//----------------------------------------------------

.list {
  > .item:not(:first-child) {
    margin-top: 0.25em;
  }
  > .item > .list {
    margin-top: 0.5em;
  }
  &.is-disc,
  &.is-circle,
  &.is-decimal {
    margin-left: 1.5em;
    > .item {
      display: list-item;
    }
  }
  &.is-disc > .item {
    list-style: disc outside;
  }
  &.is-circle > .item {
    list-style: circle outside;
  }
  &.is-decimal > .item {
    list-style: decimal outside;
  }
}

.list.is-note {
  > .item {
    display: flex;
  }
  > .item > *:not(:first-child) {
    margin-left: 0.25em;
  }
}