//----------------------------------------------------
// Module: Table
//----------------------------------------------------

.table {
  width: 100%;
  background: $light;
  border-radius: 2px;
  border-collapse: separate;
  th,
  td {
    padding: 0.75em 1em;
    vertical-align: top;
  }
  &.is-middle th,
  &.is-middle td {
    vertical-align: middle;
  }
  > thead > tr:last-child > th {
    border-bottom: 2px solid $dark-8;
  }
  &:not(.is-line) > thead > tr:first-child > *:first-child {
    border-top-left-radius: 2px;
  }
  &:not(.is-line) > thead > tr:first-child > *:last-child {
    border-top-right-radius: 2px;
  }
  &:not(.is-line) > *:last-child > tr:last-child > *:first-child {
    border-bottom-left-radius: 2px;
  }
  &:not(.is-line) > *:last-child > tr:last-child > *:last-child {
    border-bottom-right-radius: 2px;
  }
  &:not(.is-line) > tbody > tr:first-child > *:first-child {
    border-top-left-radius: 2px;
  }
  &:not(.is-line) > thead + tbody > tr:first-child > *:first-child {
    border-top-left-radius: 0;
  }
  &:not(.is-line) > tbody > tr:first-child > *:last-child {
    border-top-right-radius: 2px;
  }
  &:not(.is-line) > thead + tbody > tr:first-child > *:last-child {
    border-top-right-radius: 0;
  }
}

.table.is-line {
  border-radius: 0;
  > thead > tr:first-child > th {
    border-top: 1px solid $dark-7;
  }
  > tbody > tr > td {
    border-bottom: 1px solid $dark-7;
  }
}

.table.is-outline {
  border: 1px solid $dark-7;
}

.table.is-border {
  border: 1px solid $dark-7;
  > thead > tr > *,
  > tbody > tr:not(:last-child) > * {
    border-bottom: 1px solid $dark-7;
  }
  th:not(:last-child),
  td:not(:last-child) {
    border-right: 1px solid $dark-7;
  }
  > tfoot > tr:last-child > * {
    border-top: 1px solid $dark-7;
  }
}

.table.is-stripe {
  thead {
    background: $grey-100;
  }
  tbody tr:nth-child(even) {
    background: $grey-100;
  }
}

.table .box {
  &.is-paint-1 {
    background: $cyan-100;
  }
  &.is-paint-2 {
    background: $cyan-200;
    color: $light;
  }
  &.is-paint-3 {
    background: $cyan-300;
    color: $light;
  }
  &.is-paint-4 {
    background: $cyan-400;
    color: $light;
  }
  &.is-paint,
  &.is-paint-5 {
    background: $cyan-500;
    color: $light;
  }
  &.is-paint-6 {
    background: $cyan-600;
    color: $light;
  }
  &.is-paint-7 {
    background: $cyan-700;
    color: $light;
  }
  &.is-paint-8 {
    background: $cyan-800;
    color: $light;
  }
  &.is-paint-9 {
    background: $cyan-900;
    color: $light;
  }
  &.is-stripe {
    background: $grey-100;
  }
  &.is-spot {
    background: $yellow-200;
  }
  &.is-danger {
    background: $red-100;
  }
}

@for $i from 1 through $split-table {
  .table .box.is-width-#{$i} {
    width: 100% / $split-table * $i;
  }
}