//----------------------------------------------------
// Module: Table
//----------------------------------------------------

.table {
  width: 100%;
  background-color: $light;
  border-radius: 2px;
  border-collapse: separate;
  border-spacing: 0;
  th,
  td {
    padding: 0.75em 1em;
    vertical-align: top;
  }
  &.is-middle th,
  &.is-middle td {
    vertical-align: middle;
  }
  > thead > tr:last-child > th {
    border-bottom: 2px solid $dark-8;
  }
}

.table.is-round {
  &:not(.is-line) > thead > tr:first-child > *:first-child {
    border-top-left-radius: 2px;
  }
  &:not(.is-line) > thead > tr:first-child > *:last-child {
    border-top-right-radius: 2px;
  }
  &:not(.is-line) > *:last-child > tr:last-child > *:first-child {
    border-bottom-left-radius: 2px;
  }
  &:not(.is-line) > *:last-child > tr:last-child > *:last-child {
    border-bottom-right-radius: 2px;
  }
  &:not(.is-line) > tbody > tr:first-child > *:first-child {
    border-top-left-radius: 2px;
  }
  &:not(.is-line) > thead + tbody > tr:first-child > *:first-child {
    border-top-left-radius: 0;
  }
  &:not(.is-line) > tbody > tr:first-child > *:last-child {
    border-top-right-radius: 2px;
  }
  &:not(.is-line) > thead + tbody > tr:first-child > *:last-child {
    border-top-right-radius: 0;
  }
}

.table.is-line {
  border-radius: 0;
  > thead > tr:first-child > th {
    border-top: 1px solid $dark-7;
  }
  > tbody > tr > td {
    border-bottom: 1px solid $dark-7;
  }
}

.table.is-outline {
  border: 1px solid $dark-7;
}

.table.is-border {
  border: 1px solid $dark-7;
  > thead > tr > *,
  > tbody > tr:not(:last-child) > * {
    border-bottom: 1px solid $dark-7;
  }
  th:not(:last-child),
  td:not(:last-child) {
    border-right: 1px solid $dark-7;
  }
  > tfoot > tr:last-child > * {
    border-top: 1px solid $dark-7;
  }
}

.table.is-stripe {
  thead {
    background-color: $grey-100;
  }
  tbody tr:nth-child(even) {
    background-color: $grey-100;
  }
}

.table * {
  &.is-paint {
    background-color: $cyan-500;
    color: $light;
  }
  &.is-stripe {
    background-color: $grey-100;
  }
  &.is-spot {
    background-color: $yellow-200;
  }
  &.is-danger {
    background-color: $red-100;
  }
}