//----------------------------------------------------
// Module: Text
//----------------------------------------------------

//----------------------------------------------------
// / Export Setting
//----------------------------------------------------

@mixin export-text {
  @if $use-component-text == true {
    @content;
  }
}

//----------------------------------------------------
// / Dark
//----------------------------------------------------

@include export-text {
  #{$text-class} {
    @each $key, $value in $pattern-text-dark {
      &.is-#{$key} {
        color: $value;
      }
    }
  }
}

//----------------------------------------------------
// / Light
//----------------------------------------------------

@include export-text {
  #{$text-class} {
    @each $key, $value in $pattern-text-light {
      &.is-#{$key} {
        color: $value;
      }
    }
  }
}

//----------------------------------------------------
// / Color
//----------------------------------------------------

@include export-text {
  #{$text-class} {
    @each $key, $value in $pattern-text-color {
      &.is-#{$key} {
        color: $value;
      }
    }
  }
}

//----------------------------------------------------
// / Weight
//----------------------------------------------------

@include export-text {
  #{$text-class} {
    @each $key, $value in $pattern-font-weight {
      &.is-#{$key} {
        font-weight: $value;
      }
    }
  }
}

//----------------------------------------------------
// / Line Height
//----------------------------------------------------

@include export-text {
  #{$text-class} {
    @each $key, $value in $pattern-line-height {
      &.is-line-height-#{$key} {
        font-weight: $value;
      }
    }
  }
}

//----------------------------------------------------
// / Style
//----------------------------------------------------

@include export-text {
  #{$text-class} {
    &.is-italic {
      font-style: italic;
    }
    &.is-delete {
      text-decoration: line-through;
    }
    &.is-capitalize {
      text-transform: capitalize;
    }
    &.is-lowercase {
      text-transform: lowercase;
    }
    &.is-uppercase {
      text-transform: uppercase;
    }
  }
}

//----------------------------------------------------
// / Align
//----------------------------------------------------

@include export-text {
  #{$text-class} {
    @each $mediaquery in $pattern-text-align-mediaquery {
      @include mediaquery-pattern-select($mediaquery) {
        @if $mediaquery == "mobile" {
          @each $value in $pattern-text-align-way {
            &.is-#{$value},
            &.is-#{$mediaquery}-#{$value} {
              text-align: $value;
            }
          }
        } @else {
          @each $value in $pattern-text-align-way {
            &.is-#{$mediaquery}-#{$value} {
              text-align: $value;
            }
          }
        }
      }
    }
    &.is-justify {
      text-align: justify;
    }
    &.is-baseline {
      vertical-align: baseline;
    }
    &.is-top {
      vertical-align: top;
    }
    &.is-middle {
      vertical-align: middle;
    }
    &.is-bottom {
      vertical-align: bottom;
    }
  }
}

//----------------------------------------------------
// / Control
//----------------------------------------------------

@include export-text {
  #{$text-class} {
    .is-nowrap {
      white-space: nowrap;
    }
    .is-break {
      word-break: break-all;
    }
  }
}

//----------------------------------------------------
// / Link
//----------------------------------------------------

@include export-text {
  .text.is-link {
    cursor: pointer;
    border-bottom: $text-link-border-bottom-width $text-link-border-bottom-style
      currentColor;
    &:hover {
      border-bottom-color: transparent;
    }
  }
}

//----------------------------------------------------
// / Link Reverse
//----------------------------------------------------

@include export-text {
  .text.is-link-reverse {
    cursor: pointer;
    border-bottom: $text-link-border-bottom-width $text-link-border-bottom-style
      transparent;
    &:hover {
      border-color: currentColor;
    }
  }
}

//----------------------------------------------------
// / Blockquote
//----------------------------------------------------

@include export-text {
  .blockquote {
    background-color: $blockquote-background-color;
    border-left: $blockquote-border-left-width solid
      $blockquote-border-left-color;
    border-radius: $blockquote-border-radius;
    padding: $blockquote-padding;
  }
}

//----------------------------------------------------
// / Code
//----------------------------------------------------

@include export-text {
  :not(.pre) {
    > .code {
      padding: $code-padding;
      background-color: $code-background-color;
      border-radius: $code-border-radius;
      color: $code-text-color;
      font-size: $code-font-size;
      font-family: $code-font-family;
      word-break: break-all;
    }
  }
}

//----------------------------------------------------
// / Pre
//----------------------------------------------------

@include export-text {
  .pre {
    background-color: $pre-background-color;
    border-radius: $pre-border-radius;
    color: $pre-text-color;
    font-family: $pre-font-family;
    white-space: $pre-white-space;
    word-wrap: normal;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    > .code {
      display: block;
      padding: $pre-code-padding;
    }
  }
}
