//----------------------------------------------------
// Module: Text
//----------------------------------------------------

//----------------------------------------------------
// / Dark
//----------------------------------------------------

#{$text-class} {
  @each $key, $value in $pattern-text-dark {
    &.is-#{$key} {
      color: $value;
    }
  }
}

//----------------------------------------------------
// / Light
//----------------------------------------------------

#{$text-class} {
  @each $key, $value in $pattern-text-light {
    &.is-#{$key} {
      color: $value;
    }
  }
}

//----------------------------------------------------
// / Color
//----------------------------------------------------

#{$text-class} {
  @each $key, $value in $pattern-text-color {
    &.is-#{$key} {
      color: $value;
    }
  }
}

//----------------------------------------------------
// / Weight
//----------------------------------------------------

#{$text-class} {
  @each $key, $value in $pattern-font-weight {
    &.is-#{$key} {
      font-weight: $value;
    }
  }
}

//----------------------------------------------------
// / Line Height
//----------------------------------------------------

#{$text-class} {
  @each $key, $value in $pattern-line-height {
    &.is-line-height-#{$key} {
      font-weight: $value;
    }
  }
}

//----------------------------------------------------
// / Style
//----------------------------------------------------

#{$text-class} {
  &.is-italic {
    font-style: italic;
  }
  &.is-delete {
    text-decoration: line-through;
  }
  &.is-capitalize {
    text-transform: capitalize;
  }
  &.is-lowercase {
    text-transform: lowercase;
  }
  &.is-uppercase {
    text-transform: uppercase;
  }
}

//----------------------------------------------------
// / Align
//----------------------------------------------------

#{$text-class} {
  @each $key-breakpoint, $mediaquery in $pattern-breakpoint-mediaquery-all {
    @include mediaquery-pattern($mediaquery) {
      @if $key-breakpoint == "mobile" {
        &.is-left,
        &.is-#{$key-breakpoint}-left {
          text-align: left;
        }
        &.is-center,
        &.is-#{$key-breakpoint}-center {
          text-align: center;
        }
        &.is-right,
        &.is-#{$key-breakpoint}-right {
          text-align: right;
        }
      } @else {
        &.is-#{$key-breakpoint}-left {
          text-align: left;
        }
        &.is-#{$key-breakpoint}-center {
          text-align: center;
        }
        &.is-#{$key-breakpoint}-right {
          text-align: right;
        }
      }
    }
  }
  &.is-justify {
    text-align: justify;
  }
  &.is-baseline {
    vertical-align: baseline;
  }
  &.is-top {
    vertical-align: top;
  }
  &.is-middle {
    vertical-align: middle;
  }
  &.is-bottom {
    vertical-align: bottom;
  }
}

//----------------------------------------------------
// / Control
//----------------------------------------------------

#{$text-class} {
  .is-nowrap {
    white-space: nowrap;
  }
  .is-break {
    word-break: break-all;
  }
}

//----------------------------------------------------
// / Link
//----------------------------------------------------

.text.is-link {
  cursor: pointer;
  border-bottom: $text-link-border-bottom-width $text-link-border-bottom-style
    currentColor;
  &:hover {
    border-bottom-color: transparent;
  }
}

//----------------------------------------------------
// / Link Reverse
//----------------------------------------------------

.text.is-link-reverse {
  cursor: pointer;
  border-bottom: $text-link-border-bottom-width $text-link-border-bottom-style
    transparent;
  &:hover {
    border-color: currentColor;
  }
}

//----------------------------------------------------
// / Blockquote
//----------------------------------------------------

.blockquote {
  background-color: $blockquote-background-color;
  border-left: $blockquote-border-left-width solid $blockquote-border-left-color;
  border-radius: $blockquote-border-radius;
  padding: $blockquote-padding;
}

//----------------------------------------------------
// / Code
//----------------------------------------------------

:not(.pre) {
  > .code {
    padding: $code-padding;
    background-color: $code-background-color;
    border-radius: $code-border-radius;
    color: $code-text-color;
    font-size: $code-font-size;
    font-family: $code-font-family;
    word-break: break-all;
  }
}

//----------------------------------------------------
// / Pre
//----------------------------------------------------

.pre {
  background-color: $pre-background-color;
  border-radius: $pre-border-radius;
  color: $pre-text-color;
  font-family: $pre-font-family;
  white-space: $pre-white-space;
  word-wrap: normal;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  > .code {
    display: block;
    padding: $pre-code-padding;
  }
}
