//----------------------------------------------------
// Module: WYSIWYG
//----------------------------------------------------

.wysiwyg {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1em;
  }
  h5 {
    font-size: 0.875em;
  }
  h6 {
    font-size: 0.75em;
  }
}

.wysiwyg {
  p {
    line-height: 1.8;
  }
  small {
    font-size: 80%;
  }
  strong {
    font-weight: 700;
  }
  em {
    font-style: italic;
  }
  del,
  s {
    text-decoration: line-through;
  }
}

.wysiwyg a {
  cursor: pointer;
  color: $primary;
  border-bottom: 1px solid currentColor;
  &:hover,
  &:active {
    border-bottom-color: transparent;
  }
}

.wysiwyg blockquote {
  background-color: $grey-100;
  border-left: 0.5em solid $dark-9;
  border-radius: 0.125em;
  padding: 1.5em;
}

.wysiwyg code,
.wysiwyg pre {
  color: $indigo-500;
  font-family: $font-mono;
}

.wysiwyg :not(pre) {
  > code {
    padding: 0.2em 0.5em;
    background-color: $grey-100;
    border-radius: 0.1875em;
    font-size: 0.875em;
    word-break: break-all;
  }
}

.wysiwyg pre {
  background-color: $grey-100;
  border-radius: 0.125em;
  white-space: pre;
  word-wrap: normal;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  > code {
    display: block;
    padding: 1.25em 1.5em;
  }
}

.wysiwyg ul,
.wysiwyg ol {
  line-height: 1.8;
  margin-left: 1.5em;
  > li {
    display: list-item;
  }
  > li li {
    font-size: 100%;
  }
}

.wysiwyg ul > li {
  list-style: circle outside;
}

.wysiwyg ol > li {
  list-style: decimal outside;
}

.wysiwyg table {
  background-color: $light;
  border-radius: 2px;
  thead {
    background-color: $grey-100;
  }
  th {
    color: $dark-4;
    font-weight: 700;
  }
  th,
  td {
    padding: 6px 12px;
    border: 1px solid $grey-300;
  }
}