.button.is-outline {
  background-color: var(--theme-bg-1);
  border-color: var(--theme-bd-2);
}

@media (hover: hover) and (pointer: fine) {
  .button.is-outline:hover {
    background-color: var(--theme-bg-2);
  }
}
