//----------------------------------------------------
// Utilities: Centering
//----------------------------------------------------

//----------------------------------------------------
// / Variables (Default)
//----------------------------------------------------

// Option
$option-mixin-mode: false !default;
$option-style-centering: true !default;

//----------------------------------------------------
// / Mixins (Default)
//----------------------------------------------------

@mixin export-style-centering() {
  @if $option-mixin-mode == false and $option-style-centering == true {
    @content;
  }
}

//----------------------------------------------------
// / Style - Centering
//----------------------------------------------------

@mixin musubii-style-centering() {
  .is-centering {
    margin: 0 auto;
  }
}

@include export-style-centering() {
  @include musubii-style-centering();
}
