//----------------------------------------------------
// Utilities: Centering
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Modifiers
$modifier-centering: "\.is-centering" !default;

// Centering Important
$centering-important: if(
  $option-add-style-centering-important == true,
  !important,
  null
) !default;

//----------------------------------------------------
// / Style - Centering
//----------------------------------------------------

@mixin musubii-style-centering() {
  margin: 0 auto $centering-important;
}

@include generate-style($option-generate-style-centering) {
  #{$modifier-centering} {
    @include musubii-style-centering();
  }
}
