//----------------------------------------------------
// Utilities: Clearfix
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Modifiers
$modifier-clearfix: "\.is-clearfix" !default;

// Clearfix Important
$clearfix-important: if(
  $option-important-clearfix == true,
  !important,
  null
) !default;

//----------------------------------------------------
// / Style - Clearfix
//----------------------------------------------------

@mixin musubii-style-clearfix() {
  &:after {
    content: "" $clearfix-important;
    display: block $clearfix-important;
    clear: both $clearfix-important;
  }
}

@include generate-style($option-generate-style-clearfix) {
  #{$modifier-clearfix} {
    @include musubii-style-clearfix();
  }
}
