//----------------------------------------------------
// Utility: Clearfix
//----------------------------------------------------

//----------------------------------------------------
// / Export Setting
//----------------------------------------------------

@mixin export-clearfix {
  @if $use-component-clearfix == true {
    @content;
  }
}

//----------------------------------------------------
// / Basic
//----------------------------------------------------

@include export-clearfix {
  .is-clearfix:after {
    content: "";
    display: block;
    clear: both;
  }
}
