//----------------------------------------------------
// Utility: Clearfix
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

$use-style-clearfix: true !default;

//----------------------------------------------------
// / Export Setting
//----------------------------------------------------

@mixin export-clearfix {
  @if $use-style-clearfix == true {
    @content;
  }
}

//----------------------------------------------------
// / Basic
//----------------------------------------------------

@include export-clearfix {
  .is-clearfix:after {
    content: "";
    display: block;
    clear: both;
  }
}
