//----------------------------------------------------
// Utility: Display
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

$use-style-display: true !default;

//----------------------------------------------------
// / Export Setting
//----------------------------------------------------

@mixin export-display {
  @if $use-style-display == true {
    @content;
  }
}

//----------------------------------------------------
// / Responsive Display
//----------------------------------------------------

@include export-display {
  @each $mediaquery in $pattern-display-mediaquery {
    @include mediaquery-pattern-select($mediaquery) {
      @if $mediaquery == "mobile" {
        .is-block,
        .is-#{$mediaquery}-block {
          display: block;
        }
        .is-inline,
        .is-#{$mediaquery}-inline {
          display: inline;
        }
        .is-inline-block,
        .is-#{$mediaquery}-inline-block {
          display: inline-block;
        }
        .is-none,
        .is-#{$mediaquery}-none {
          display: none;
        }
        .is-hidden {
          position: absolute;
          opacity: 0;
          z-index: -1;
        }
      } @else {
        .is-#{$mediaquery}-block {
          display: block;
        }
        .is-#{$mediaquery}-inline {
          display: inline;
        }
        .is-#{$mediaquery}-inline-block {
          display: inline-block;
        }
        .is-#{$mediaquery}-none {
          display: none;
        }
      }
    }
  }
}
