//----------------------------------------------------
// Utilities: Display
//----------------------------------------------------

//----------------------------------------------------
// / Style - Display Block
//----------------------------------------------------

@mixin --is-display-block($mediaquery) {
  @include mediaquery-pattern-select($mediaquery) {
    @if $mediaquery == "mobile" {
      .is-block,
      .is-#{$mediaquery}-block {
        display: block;
      }
    } @else {
      .is-#{$mediaquery}-block {
        display: block;
      }
    }
  }
}

@mixin musubii-style-display-block() {
  @include --is-display-block(mobile);
  @include --is-display-block(fablet);
  @include --is-display-block(tablet);
  @include --is-display-block(desktop);
  @include --is-display-block(wide);
}

@include generate-style($option-generate-style-display) {
  @include musubii-style-display-block();
}

//----------------------------------------------------
// / Style - Display Inline
//----------------------------------------------------

@mixin --is-display-inline($mediaquery) {
  @include mediaquery-pattern-select($mediaquery) {
    @if $mediaquery == "mobile" {
      .is-inline,
      .is-#{$mediaquery}-inline {
        display: inline;
      }
    } @else {
      .is-#{$mediaquery}-inline {
        display: inline;
      }
    }
  }
}

@mixin musubii-style-display-inline() {
  @include --is-display-inline(mobile);
  @include --is-display-inline(fablet);
  @include --is-display-inline(tablet);
  @include --is-display-inline(desktop);
  @include --is-display-inline(wide);
}

@include generate-style($option-generate-style-display) {
  @include musubii-style-display-inline();
}

//----------------------------------------------------
// / Style - Display Inline Block
//----------------------------------------------------

@mixin --is-display-inline-block($mediaquery) {
  @include mediaquery-pattern-select($mediaquery) {
    @if $mediaquery == "mobile" {
      .is-inline-block,
      .is-#{$mediaquery}-inline-block {
        display: inline-block;
      }
    } @else {
      .is-#{$mediaquery}-inline-block {
        display: inline-block;
      }
    }
  }
}

@mixin musubii-style-display-inline-block() {
  @include --is-display-inline-block(mobile);
  @include --is-display-inline-block(fablet);
  @include --is-display-inline-block(tablet);
  @include --is-display-inline-block(desktop);
  @include --is-display-inline-block(wide);
}

@include generate-style($option-generate-style-display) {
  @include musubii-style-display-inline-block();
}

//----------------------------------------------------
// / Style - Display None
//----------------------------------------------------

@mixin --is-display-none($mediaquery) {
  @include mediaquery-pattern-select($mediaquery) {
    @if $mediaquery == "mobile" {
      .is-none,
      .is-#{$mediaquery}-none {
        display: none;
      }
    } @else {
      .is-#{$mediaquery}-none {
        display: none;
      }
    }
  }
}

@mixin musubii-style-display-none() {
  @include --is-display-none(mobile);
  @include --is-display-none(fablet);
  @include --is-display-none(tablet);
  @include --is-display-none(desktop);
  @include --is-display-none(wide);
}

@include generate-style($option-generate-style-display) {
  @include musubii-style-display-none();
}

//----------------------------------------------------
// / Style - Display Hidden
//----------------------------------------------------

@mixin --is-display-hidden($mediaquery) {
  @include mediaquery-pattern-select($mediaquery) {
    @if $mediaquery == "mobile" {
      .is-hidden,
      .is-#{$mediaquery}-hidden {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }
    } @else {
      .is-#{$mediaquery}-hidden {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }
    }
  }
}

@mixin musubii-style-display-hidden() {
  @include --is-display-hidden(mobile);
}

@include generate-style($option-generate-style-display) {
  @include musubii-style-display-hidden();
}
