//----------------------------------------------------
// Utilities: Display
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Modifiers
$modifier-display-block: "\.is-block" !default;
$modifier-display-inline: "\.is-inline" !default;
$modifier-display-inline-block: "\.is-inline-block" !default;
$modifier-display-none: "\.is-none" !default;

$modifier-display-mobile-block: "\.is-mobile-block" !default;
$modifier-display-mobile-inline: "\.is-mobile-inline" !default;
$modifier-display-mobile-inline-block: "\.is-mobile-inline-block" !default;
$modifier-display-mobile-none: "\.is-mobile-none" !default;

$modifier-display-fablet-block: "\.is-fablet-block" !default;
$modifier-display-fablet-inline: "\.is-fablet-inline" !default;
$modifier-display-fablet-inline-block: "\.is-fablet-inline-block" !default;
$modifier-display-fablet-none: "\.is-fablet-none" !default;

$modifier-display-tablet-block: "\.is-tablet-block" !default;
$modifier-display-tablet-inline: "\.is-tablet-inline" !default;
$modifier-display-tablet-inline-block: "\.is-tablet-inline-block" !default;
$modifier-display-tablet-none: "\.is-tablet-none" !default;

$modifier-display-desktop-block: "\.is-desktop-block" !default;
$modifier-display-desktop-inline: "\.is-desktop-inline" !default;
$modifier-display-desktop-inline-block: "\.is-desktop-inline-block" !default;
$modifier-display-desktop-none: "\.is-desktop-none" !default;

$modifier-display-wide-block: "\.is-wide-block" !default;
$modifier-display-wide-inline: "\.is-wide-inline" !default;
$modifier-display-wide-inline-block: "\.is-wide-inline-block" !default;
$modifier-display-wide-none: "\.is-wide-none" !default;

$modifier-display-iphone5-only-block: "\.is-iphone5-only-block" !default;
$modifier-display-iphone5-only-inline: "\.is-iphone5-only-inline" !default;
$modifier-display-iphone5-only-inline-block: "\.is-iphone5-only-inline-block" !default;
$modifier-display-iphone5-only-none: "\.is-iphone5-only-none" !default;

$modifier-display-mobile-only-block: "\.is-mobile-only-block" !default;
$modifier-display-mobile-only-inline: "\.is-mobile-only-inline" !default;
$modifier-display-mobile-only-inline-block: "\.is-mobile-only-inline-block" !default;
$modifier-display-mobile-only-none: "\.is-mobile-only-none" !default;

$modifier-display-fablet-only-block: "\.is-fablet-only-block" !default;
$modifier-display-fablet-only-inline: "\.is-fablet-only-inline" !default;
$modifier-display-fablet-only-inline-block: "\.is-fablet-only-inline-block" !default;
$modifier-display-fablet-only-none: "\.is-fablet-only-none" !default;

$modifier-display-tablet-only-block: "\.is-tablet-only-block" !default;
$modifier-display-tablet-only-inline: "\.is-tablet-only-inline" !default;
$modifier-display-tablet-only-inline-block: "\.is-tablet-only-inline-block" !default;
$modifier-display-tablet-only-none: "\.is-tablet-only-none" !default;

$modifier-display-desktop-only-block: "\.is-desktop-only-block" !default;
$modifier-display-desktop-only-inline: "\.is-desktop-only-inline" !default;
$modifier-display-desktop-only-inline-block: "\.is-desktop-only-inline-block" !default;
$modifier-display-desktop-only-none: "\.is-desktop-only-none" !default;

$modifier-display-landscape-block: "\.is-landscape-block" !default;
$modifier-display-landscape-inline: "\.is-landscape-inline" !default;
$modifier-display-landscape-inline-block: "\.is-landscape-inline-block" !default;
$modifier-display-landscape-none: "\.is-landscape-none" !default;

$modifier-display-landscape-all-block: "\.is-landscape-all-block" !default;
$modifier-display-landscape-all-inline: "\.is-landscape-all-inline" !default;
$modifier-display-landscape-all-inline-block: "\.is-landscape-all-inline-block" !default;
$modifier-display-landscape-all-none: "\.is-landscape-all-none" !default;

$modifier-display-portrait-block: "\.is-portrait-block" !default;
$modifier-display-portrait-inline: "\.is-portrait-inline" !default;
$modifier-display-portrait-inline-block: "\.is-portrait-inline-block" !default;
$modifier-display-portrait-none: "\.is-portrait-none" !default;

$modifier-display-portrait-all-block: "\.is-portrait-all-block" !default;
$modifier-display-portrait-all-inline: "\.is-portrait-all-inline" !default;
$modifier-display-portrait-all-inline-block: "\.is-portrait-all-inline-block" !default;
$modifier-display-portrait-all-none: "\.is-portrait-all-none" !default;

$modifier-display-chrome-block: "\.is-chrome-block" !default;
$modifier-display-chrome-inline: "\.is-chrome-inline" !default;
$modifier-display-chrome-inline-block: "\.is-chrome-inline-block" !default;
$modifier-display-chrome-none: "\.is-chrome-none" !default;

$modifier-display-firefox-block: "\.is-firefox-block" !default;
$modifier-display-firefox-inline: "\.is-firefox-inline" !default;
$modifier-display-firefox-inline-block: "\.is-firefox-inline-block" !default;
$modifier-display-firefox-none: "\.is-firefox-none" !default;

$modifier-display-edge-block: "\.is-edge-block" !default;
$modifier-display-edge-inline: "\.is-edge-inline" !default;
$modifier-display-edge-inline-block: "\.is-edge-inline-block" !default;
$modifier-display-edge-none: "\.is-edge-none" !default;

$modifier-display-ie-block: "\.is-ie-block" !default;
$modifier-display-ie-inline: "\.is-ie-inline" !default;
$modifier-display-ie-inline-block: "\.is-ie-inline-block" !default;
$modifier-display-ie-none: "\.is-ie-none" !default;

// Display Important
$display-important: if(
  $option-important-display == true,
  !important,
  null
) !default;

//----------------------------------------------------
// / Mixins
//----------------------------------------------------

@mixin musubii-style-display-block() {
  display: block $display-important;
}

@mixin musubii-style-display-inline() {
  display: inline $display-important;
}

@mixin musubii-style-display-inline-block() {
  display: inline-block $display-important;
}

@mixin musubii-style-display-none() {
  display: none $display-important;
}

//----------------------------------------------------
// / Style - Display Mobile
//----------------------------------------------------

@include generate-style($option-generate-style-display) {
  #{$modifier-display-block},
  #{$modifier-display-mobile-block} {
    @include musubii-style-display-block();
  }
  #{$modifier-display-inline},
  #{$modifier-display-mobile-inline} {
    @include musubii-style-display-inline();
  }
  #{$modifier-display-inline-block},
  #{$modifier-display-mobile-inline-block} {
    @include musubii-style-display-inline-block();
  }
  #{$modifier-display-none},
  #{$modifier-display-mobile-none} {
    @include musubii-style-display-none();
  }
}

//----------------------------------------------------
// / Style - Display Fablet
//----------------------------------------------------

@include generate-style($option-generate-style-display) {
  @include fablet() {
    #{$modifier-display-fablet-block} {
      @include musubii-style-display-block();
    }
    #{$modifier-display-fablet-inline} {
      @include musubii-style-display-inline();
    }
    #{$modifier-display-fablet-inline-block} {
      @include musubii-style-display-inline-block();
    }
    #{$modifier-display-fablet-none} {
      @include musubii-style-display-none();
    }
  }
}

//----------------------------------------------------
// / Style - Display Tablet
//----------------------------------------------------

@include generate-style($option-generate-style-display) {
  @include tablet() {
    #{$modifier-display-tablet-block} {
      @include musubii-style-display-block();
    }
    #{$modifier-display-tablet-inline} {
      @include musubii-style-display-inline();
    }
    #{$modifier-display-tablet-inline-block} {
      @include musubii-style-display-inline-block();
    }
    #{$modifier-display-tablet-none} {
      @include musubii-style-display-none();
    }
  }
}

//----------------------------------------------------
// / Style - Display Desktop
//----------------------------------------------------

@include generate-style($option-generate-style-display) {
  @include desktop() {
    #{$modifier-display-desktop-block} {
      @include musubii-style-display-block();
    }
    #{$modifier-display-desktop-inline} {
      @include musubii-style-display-inline();
    }
    #{$modifier-display-desktop-inline-block} {
      @include musubii-style-display-inline-block();
    }
    #{$modifier-display-desktop-none} {
      @include musubii-style-display-none();
    }
  }
}

//----------------------------------------------------
// / Style - Display Wide
//----------------------------------------------------

@include generate-style($option-generate-style-display) {
  @include wide() {
    #{$modifier-display-wide-block} {
      @include musubii-style-display-block();
    }
    #{$modifier-display-wide-inline} {
      @include musubii-style-display-inline();
    }
    #{$modifier-display-wide-inline-block} {
      @include musubii-style-display-inline-block();
    }
    #{$modifier-display-wide-none} {
      @include musubii-style-display-none();
    }
  }
}

//----------------------------------------------------
// / Style - Display iPhone 5 Only
//----------------------------------------------------

@include generate-style($option-generate-style-display) {
  @if $option-add-style-display-only == true {
    @include iphone5-only() {
      #{$modifier-display-iphone5-only-block} {
        @include musubii-style-display-block();
      }
      #{$modifier-display-iphone5-only-inline} {
        @include musubii-style-display-inline();
      }
      #{$modifier-display-iphone5-only-inline-block} {
        @include musubii-style-display-inline-block();
      }
      #{$modifier-display-iphone5-only-none} {
        @include musubii-style-display-none();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Display Mobile Only
//----------------------------------------------------

@include generate-style($option-generate-style-display) {
  @if $option-add-style-display-only == true {
    @include mobile-only() {
      #{$modifier-display-mobile-only-block} {
        @include musubii-style-display-block();
      }
      #{$modifier-display-mobile-only-inline} {
        @include musubii-style-display-inline();
      }
      #{$modifier-display-mobile-only-inline-block} {
        @include musubii-style-display-inline-block();
      }
      #{$modifier-display-mobile-only-none} {
        @include musubii-style-display-none();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Display Fablet Only
//----------------------------------------------------

@include generate-style($option-generate-style-display) {
  @if $option-add-style-display-only == true {
    @include fablet-only() {
      #{$modifier-display-fablet-only-block} {
        @include musubii-style-display-block();
      }
      #{$modifier-display-fablet-only-inline} {
        @include musubii-style-display-inline();
      }
      #{$modifier-display-fablet-only-inline-block} {
        @include musubii-style-display-inline-block();
      }
      #{$modifier-display-fablet-only-none} {
        @include musubii-style-display-none();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Display Tablet Only
//----------------------------------------------------

@include generate-style($option-generate-style-display) {
  @if $option-add-style-display-only == true {
    @include tablet-only() {
      #{$modifier-display-tablet-only-block} {
        @include musubii-style-display-block();
      }
      #{$modifier-display-tablet-only-inline} {
        @include musubii-style-display-inline();
      }
      #{$modifier-display-tablet-only-inline-block} {
        @include musubii-style-display-inline-block();
      }
      #{$modifier-display-tablet-only-none} {
        @include musubii-style-display-none();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Display Desktop Only
//----------------------------------------------------

@include generate-style($option-generate-style-display) {
  @if $option-add-style-display-only == true {
    @include desktop-only() {
      #{$modifier-display-desktop-only-block} {
        @include musubii-style-display-block();
      }
      #{$modifier-display-desktop-only-inline} {
        @include musubii-style-display-inline();
      }
      #{$modifier-display-desktop-only-inline-block} {
        @include musubii-style-display-inline-block();
      }
      #{$modifier-display-desktop-only-none} {
        @include musubii-style-display-none();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Display Landscape
//----------------------------------------------------

@include generate-style($option-generate-style-display) {
  @if $option-add-style-display-landscape == true {
    @include landscape() {
      #{$modifier-display-landscape-block} {
        @include musubii-style-display-block();
      }
      #{$modifier-display-landscape-inline} {
        @include musubii-style-display-inline();
      }
      #{$modifier-display-landscape-inline-block} {
        @include musubii-style-display-inline-block();
      }
      #{$modifier-display-landscape-none} {
        @include musubii-style-display-none();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Display Landscape All
//----------------------------------------------------

@include generate-style($option-generate-style-display) {
  @if $option-add-style-display-landscape == true {
    @include landscape-all() {
      #{$modifier-display-landscape-all-block} {
        @include musubii-style-display-block();
      }
      #{$modifier-display-landscape-all-inline} {
        @include musubii-style-display-inline();
      }
      #{$modifier-display-landscape-all-inline-block} {
        @include musubii-style-display-inline-block();
      }
      #{$modifier-display-landscape-all-none} {
        @include musubii-style-display-none();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Display Portrait
//----------------------------------------------------

@include generate-style($option-generate-style-display) {
  @if $option-add-style-display-portrait == true {
    @include portrait() {
      #{$modifier-display-portrait-block} {
        @include musubii-style-display-block();
      }
      #{$modifier-display-portrait-inline} {
        @include musubii-style-display-inline();
      }
      #{$modifier-display-portrait-inline-block} {
        @include musubii-style-display-inline-block();
      }
      #{$modifier-display-portrait-none} {
        @include musubii-style-display-none();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Display Portrait All
//----------------------------------------------------

@include generate-style($option-generate-style-display) {
  @if $option-add-style-display-portrait == true {
    @include portrait-all() {
      #{$modifier-display-portrait-all-block} {
        @include musubii-style-display-block();
      }
      #{$modifier-display-portrait-all-inline} {
        @include musubii-style-display-inline();
      }
      #{$modifier-display-portrait-all-inline-block} {
        @include musubii-style-display-inline-block();
      }
      #{$modifier-display-portrait-all-none} {
        @include musubii-style-display-none();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Display Chrome
//----------------------------------------------------

@include generate-style($option-generate-style-display) {
  @if $option-add-style-display-browser == true {
    @include chrome() {
      #{$modifier-display-chrome-block} {
        @include musubii-style-display-block();
      }
      #{$modifier-display-chrome-inline} {
        @include musubii-style-display-inline();
      }
      #{$modifier-display-chrome-inline-block} {
        @include musubii-style-display-inline-block();
      }
      #{$modifier-display-chrome-none} {
        @include musubii-style-display-none();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Display Firefox
//----------------------------------------------------

@include generate-style($option-generate-style-display) {
  @if $option-add-style-display-browser == true {
    @include firefox() {
      #{$modifier-display-firefox-block} {
        @include musubii-style-display-block();
      }
      #{$modifier-display-firefox-inline} {
        @include musubii-style-display-inline();
      }
      #{$modifier-display-firefox-inline-block} {
        @include musubii-style-display-inline-block();
      }
      #{$modifier-display-firefox-none} {
        @include musubii-style-display-none();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Display Edge
//----------------------------------------------------

@include generate-style($option-generate-style-display) {
  @if $option-add-style-display-browser == true {
    @include edge() {
      #{$modifier-display-edge-block} {
        @include musubii-style-display-block();
      }
      #{$modifier-display-edge-inline} {
        @include musubii-style-display-inline();
      }
      #{$modifier-display-edge-inline-block} {
        @include musubii-style-display-inline-block();
      }
      #{$modifier-display-edge-none} {
        @include musubii-style-display-none();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Display IE
//----------------------------------------------------

@include generate-style($option-generate-style-display) {
  @if $option-add-style-display-browser == true {
    @include ie() {
      #{$modifier-display-ie-block} {
        @include musubii-style-display-block();
      }
      #{$modifier-display-ie-inline} {
        @include musubii-style-display-inline();
      }
      #{$modifier-display-ie-inline-block} {
        @include musubii-style-display-inline-block();
      }
      #{$modifier-display-ie-none} {
        @include musubii-style-display-none();
      }
    }
  }
}
