//----------------------------------------------------
// Utilities: Ellipsis
//----------------------------------------------------

//----------------------------------------------------
// / Style - Ellipsis
//----------------------------------------------------

@mixin musubii-style-ellipsis() {
  .is-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@include generate-style($option-generate-style-ellipsis) {
  @include musubii-style-ellipsis();
}
