//----------------------------------------------------
// Utilities: Ellipsis
//----------------------------------------------------

//----------------------------------------------------
// / Variables (Default)
//----------------------------------------------------

// Option
$option-mixin-mode: false !default;
$option-style-ellipsis: true !default;

//----------------------------------------------------
// / Mixins (Default)
//----------------------------------------------------

@mixin export-style-ellipsis() {
  @if $option-mixin-mode == false and $option-style-ellipsis == true {
    @content;
  }
}

//----------------------------------------------------
// / Style - Ellipsis
//----------------------------------------------------

@mixin musubii-style-ellipsis() {
  .is-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@include export-style-ellipsis() {
  @include musubii-style-ellipsis();
}
