//----------------------------------------------------
// Utilities: Flex
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Modifiers
$modifier-flex: "\.is" !default;
$modifier-flex-mobile: "\.is-mobile" !default;
$modifier-flex-fablet: "\.is-fablet" !default;
$modifier-flex-tablet: "\.is-tablet" !default;
$modifier-flex-desktop: "\.is-desktop" !default;
$modifier-flex-wide: "\.is-wide" !default;
$modifier-flex-iphone5-only: "\.is-iphone5-only" !default;
$modifier-flex-mobile-only: "\.is-mobile-only" !default;
$modifier-flex-fablet-only: "\.is-fablet-only" !default;
$modifier-flex-tablet-only: "\.is-mobile-only" !default;
$modifier-flex-desktop-only: "\.is-desktop-only" !default;
$modifier-flex-landscape: "\.is-landscape" !default;
$modifier-flex-landscape-all: "\.is-landscape-all" !default;
$modifier-flex-portrait: "\.is-portrait" !default;
$modifier-flex-portrait-all: "\.is-portrait-all" !default;
$modifier-flex-chrome: "\.is-chrome" !default;
$modifier-flex-firefox: "\.is-firefox" !default;
$modifier-flex-edge: "\.is-edge" !default;
$modifier-flex-ie: "\.is-ie" !default;

// Suffix
$suffix-flex-pipe: "\-" !default;
$suffix-flex-grow: "\-0" !default;
$suffix-flex-full: "\-full" !default;
$suffix-flex-auto: "\-auto" !default;

// Flex Split
$flex-split: 12 !default;

// Flex Important
$flex-important: if($option-important-flex == true, !important, null) !default;

//----------------------------------------------------
// / Mixin
//----------------------------------------------------

@mixin musubii-style-flex-grow() {
  flex: 1 0 0% $flex-important;
}

@mixin musubii-style-flex-split($i) {
  flex: 0 0 (100% / $flex-split * $i) $flex-important;
  width: (100% / $flex-split * $i) $flex-important;
  max-width: (100% / $flex-split * $i) $flex-important;
}

@mixin musubii-style-flex-full() {
  flex: 0 1 100% $flex-important;
  width: 100% $flex-important;
}

@mixin musubii-style-flex-auto() {
  flex: 0 1 auto $flex-important;
  width: auto $flex-important;
}

//----------------------------------------------------
// / Style - Flex Mobile
//----------------------------------------------------

@include generate-style($option-generate-style-flex) {
  #{$modifier-flex}#{$suffix-flex-grow},
  #{$modifier-flex-mobile}#{$suffix-flex-grow} {
    @include musubii-style-flex-grow();
  }
  @for $i from 1 through $flex-split {
    #{$modifier-flex}#{$suffix-flex-pipe}#{$i},
    #{$modifier-flex-mobile}#{$suffix-flex-pipe}#{$i} {
      @include musubii-style-flex-split($i);
    }
  }
  #{$modifier-flex}#{$suffix-flex-full},
  #{$modifier-flex-mobile}#{$suffix-flex-full} {
    @include musubii-style-flex-full();
  }
  #{$modifier-flex}#{$suffix-flex-auto},
  #{$modifier-flex-mobile}#{$suffix-flex-auto} {
    @include musubii-style-flex-auto();
  }
}

//----------------------------------------------------
// / Style - Flex Fablet
//----------------------------------------------------

@include generate-style($option-generate-style-flex) {
  @include fablet() {
    #{$modifier-flex-fablet}#{$suffix-flex-grow} {
      @include musubii-style-flex-grow();
    }
    @for $i from 1 through $flex-split {
      #{$modifier-flex-fablet}#{$suffix-flex-pipe}#{$i} {
        @include musubii-style-flex-split($i);
      }
    }
    #{$modifier-flex-fablet}#{$suffix-flex-full} {
      @include musubii-style-flex-full();
    }
    #{$modifier-flex-fablet}#{$suffix-flex-auto} {
      @include musubii-style-flex-auto();
    }
  }
}

//----------------------------------------------------
// / Style - Flex Tablet
//----------------------------------------------------

@include generate-style($option-generate-style-flex) {
  @include tablet() {
    #{$modifier-flex-tablet}#{$suffix-flex-grow} {
      @include musubii-style-flex-grow();
    }
    @for $i from 1 through $flex-split {
      #{$modifier-flex-tablet}#{$suffix-flex-pipe}#{$i} {
        @include musubii-style-flex-split($i);
      }
    }
    #{$modifier-flex-tablet}#{$suffix-flex-full} {
      @include musubii-style-flex-full();
    }
    #{$modifier-flex-tablet}#{$suffix-flex-auto} {
      @include musubii-style-flex-auto();
    }
  }
}

//----------------------------------------------------
// / Style - Flex Desktop
//----------------------------------------------------

@include generate-style($option-generate-style-flex) {
  @include desktop() {
    #{$modifier-flex-desktop}#{$suffix-flex-grow} {
      @include musubii-style-flex-grow();
    }
    @for $i from 1 through $flex-split {
      #{$modifier-flex-desktop}#{$suffix-flex-pipe}#{$i} {
        @include musubii-style-flex-split($i);
      }
    }
    #{$modifier-flex-desktop}#{$suffix-flex-full} {
      @include musubii-style-flex-full();
    }
    #{$modifier-flex-desktop}#{$suffix-flex-auto} {
      @include musubii-style-flex-auto();
    }
  }
}

//----------------------------------------------------
// / Style - Flex Wide
//----------------------------------------------------

@include generate-style($option-generate-style-flex) {
  @include wide() {
    #{$modifier-flex-wide}#{$suffix-flex-grow} {
      @include musubii-style-flex-grow();
    }
    @for $i from 1 through $flex-split {
      #{$modifier-flex-wide}#{$suffix-flex-pipe}#{$i} {
        @include musubii-style-flex-split($i);
      }
    }
    #{$modifier-flex-wide}#{$suffix-flex-full} {
      @include musubii-style-flex-full();
    }
    #{$modifier-flex-wide}#{$suffix-flex-auto} {
      @include musubii-style-flex-auto();
    }
  }
}

//----------------------------------------------------
// / Style - Flex iPhone 5 Only
//----------------------------------------------------

@include generate-style($option-generate-style-flex) {
  @if $option-add-style-flex-only == true {
    @include iphone5-only() {
      #{$modifier-flex-iphone5-only}#{$suffix-flex-grow} {
        @include musubii-style-flex-grow();
      }
      @for $i from 1 through $flex-split {
        #{$modifier-flex-iphone5-only}#{$suffix-flex-pipe}#{$i} {
          @include musubii-style-flex-split($i);
        }
      }
      #{$modifier-flex-iphone5-only}#{$suffix-flex-full} {
        @include musubii-style-flex-full();
      }
      #{$modifier-flex-iphone5-only}#{$suffix-flex-auto} {
        @include musubii-style-flex-auto();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Flex Mobile Only
//----------------------------------------------------

@include generate-style($option-generate-style-flex) {
  @if $option-add-style-flex-only == true {
    @include mobile-only() {
      #{$modifier-flex-mobile-only}#{$suffix-flex-grow} {
        @include musubii-style-flex-grow();
      }
      @for $i from 1 through $flex-split {
        #{$modifier-flex-mobile-only}#{$suffix-flex-pipe}#{$i} {
          @include musubii-style-flex-split($i);
        }
      }
      #{$modifier-flex-mobile-only}#{$suffix-flex-full} {
        @include musubii-style-flex-full();
      }
      #{$modifier-flex-mobile-only}#{$suffix-flex-auto} {
        @include musubii-style-flex-auto();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Flex Fablet Only
//----------------------------------------------------

@include generate-style($option-generate-style-flex) {
  @if $option-add-style-flex-only == true {
    @include fablet-only() {
      #{$modifier-flex-fablet-only}#{$suffix-flex-grow} {
        @include musubii-style-flex-grow();
      }
      @for $i from 1 through $flex-split {
        #{$modifier-flex-fablet-only}#{$suffix-flex-pipe}#{$i} {
          @include musubii-style-flex-split($i);
        }
      }
      #{$modifier-flex-fablet-only}#{$suffix-flex-full} {
        @include musubii-style-flex-full();
      }
      #{$modifier-flex-fablet-only}#{$suffix-flex-auto} {
        @include musubii-style-flex-auto();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Flex Tablet Only
//----------------------------------------------------

@include generate-style($option-generate-style-flex) {
  @if $option-add-style-flex-only == true {
    @include tablet-only() {
      #{$modifier-flex-tablet-only}#{$suffix-flex-grow} {
        @include musubii-style-flex-grow();
      }
      @for $i from 1 through $flex-split {
        #{$modifier-flex-tablet-only}#{$suffix-flex-pipe}#{$i} {
          @include musubii-style-flex-split($i);
        }
      }
      #{$modifier-flex-tablet-only}#{$suffix-flex-full} {
        @include musubii-style-flex-full();
      }
      #{$modifier-flex-tablet-only}#{$suffix-flex-auto} {
        @include musubii-style-flex-auto();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Flex Desktop Only
//----------------------------------------------------

@include generate-style($option-generate-style-flex) {
  @if $option-add-style-flex-only == true {
    @include desktop-only() {
      #{$modifier-flex-desktop-only}#{$suffix-flex-grow} {
        @include musubii-style-flex-grow();
      }
      @for $i from 1 through $flex-split {
        #{$modifier-flex-desktop-only}#{$suffix-flex-pipe}#{$i} {
          @include musubii-style-flex-split($i);
        }
      }
      #{$modifier-flex-desktop-only}#{$suffix-flex-full} {
        @include musubii-style-flex-full();
      }
      #{$modifier-flex-desktop-only}#{$suffix-flex-auto} {
        @include musubii-style-flex-auto();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Flex Landscape
//----------------------------------------------------

@include generate-style($option-generate-style-flex) {
  @if $option-add-style-flex-landscape == true {
    @include landscape() {
      #{$modifier-flex-landscape}#{$suffix-flex-grow} {
        @include musubii-style-flex-grow();
      }
      @for $i from 1 through $flex-split {
        #{$modifier-flex-landscape}#{$suffix-flex-pipe}#{$i} {
          @include musubii-style-flex-split($i);
        }
      }
      #{$modifier-flex-landscape}#{$suffix-flex-full} {
        @include musubii-style-flex-full();
      }
      #{$modifier-flex-landscape}#{$suffix-flex-auto} {
        @include musubii-style-flex-auto();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Flex Landscape All
//----------------------------------------------------

@include generate-style($option-generate-style-flex) {
  @if $option-add-style-flex-landscape == true {
    @include landscape-all() {
      #{$modifier-flex-landscape-all}#{$suffix-flex-grow} {
        @include musubii-style-flex-grow();
      }
      @for $i from 1 through $flex-split {
        #{$modifier-flex-landscape-all}#{$suffix-flex-pipe}#{$i} {
          @include musubii-style-flex-split($i);
        }
      }
      #{$modifier-flex-landscape-all}#{$suffix-flex-full} {
        @include musubii-style-flex-full();
      }
      #{$modifier-flex-landscape-all}#{$suffix-flex-auto} {
        @include musubii-style-flex-auto();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Flex Portrait
//----------------------------------------------------

@include generate-style($option-generate-style-flex) {
  @if $option-add-style-flex-portrait == true {
    @include portrait() {
      #{$modifier-flex-portrait}#{$suffix-flex-grow} {
        @include musubii-style-flex-grow();
      }
      @for $i from 1 through $flex-split {
        #{$modifier-flex-portrait}#{$suffix-flex-pipe}#{$i} {
          @include musubii-style-flex-split($i);
        }
      }
      #{$modifier-flex-portrait}#{$suffix-flex-full} {
        @include musubii-style-flex-full();
      }
      #{$modifier-flex-portrait}#{$suffix-flex-auto} {
        @include musubii-style-flex-auto();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Flex Portrait All
//----------------------------------------------------

@include generate-style($option-generate-style-flex) {
  @if $option-add-style-flex-portrait == true {
    @include portrait-all() {
      #{$modifier-flex-portrait-all}#{$suffix-flex-grow} {
        @include musubii-style-flex-grow();
      }
      @for $i from 1 through $flex-split {
        #{$modifier-flex-portrait-all}#{$suffix-flex-pipe}#{$i} {
          @include musubii-style-flex-split($i);
        }
      }
      #{$modifier-flex-portrait-all}#{$suffix-flex-full} {
        @include musubii-style-flex-full();
      }
      #{$modifier-flex-portrait-all}#{$suffix-flex-auto} {
        @include musubii-style-flex-auto();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Flex Chrome
//----------------------------------------------------

@include generate-style($option-generate-style-flex) {
  @if $option-add-style-flex-browser == true {
    @include chrome() {
      #{$modifier-flex-chrome}#{$suffix-flex-grow} {
        @include musubii-style-flex-grow();
      }
      @for $i from 1 through $flex-split {
        #{$modifier-flex-chrome}#{$suffix-flex-pipe}#{$i} {
          @include musubii-style-flex-split($i);
        }
      }
      #{$modifier-flex-chrome}#{$suffix-flex-full} {
        @include musubii-style-flex-full();
      }
      #{$modifier-flex-chrome}#{$suffix-flex-auto} {
        @include musubii-style-flex-auto();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Flex Firefox
//----------------------------------------------------

@include generate-style($option-generate-style-flex) {
  @if $option-add-style-flex-browser == true {
    @include firefox() {
      #{$modifier-flex-firefox}#{$suffix-flex-grow} {
        @include musubii-style-flex-grow();
      }
      @for $i from 1 through $flex-split {
        #{$modifier-flex-firefox}#{$suffix-flex-pipe}#{$i} {
          @include musubii-style-flex-split($i);
        }
      }
      #{$modifier-flex-firefox}#{$suffix-flex-full} {
        @include musubii-style-flex-full();
      }
      #{$modifier-flex-firefox}#{$suffix-flex-auto} {
        @include musubii-style-flex-auto();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Flex Edge
//----------------------------------------------------

@include generate-style($option-generate-style-flex) {
  @if $option-add-style-flex-browser == true {
    @include edge() {
      #{$modifier-flex-edge}#{$suffix-flex-grow} {
        @include musubii-style-flex-grow();
      }
      @for $i from 1 through $flex-split {
        #{$modifier-flex-edge}#{$suffix-flex-pipe}#{$i} {
          @include musubii-style-flex-split($i);
        }
      }
      #{$modifier-flex-edge}#{$suffix-flex-full} {
        @include musubii-style-flex-full();
      }
      #{$modifier-flex-edge}#{$suffix-flex-auto} {
        @include musubii-style-flex-auto();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Flex IE
//----------------------------------------------------

@include generate-style($option-generate-style-flex) {
  @if $option-add-style-flex-browser == true {
    @include ie() {
      #{$modifier-flex-ie}#{$suffix-flex-grow} {
        @include musubii-style-flex-grow();
      }
      @for $i from 1 through $flex-split {
        #{$modifier-flex-ie}#{$suffix-flex-pipe}#{$i} {
          @include musubii-style-flex-split($i);
        }
      }
      #{$modifier-flex-ie}#{$suffix-flex-full} {
        @include musubii-style-flex-full();
      }
      #{$modifier-flex-ie}#{$suffix-flex-auto} {
        @include musubii-style-flex-auto();
      }
    }
  }
}
