//----------------------------------------------------
// Utility: Flex
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

$use-style-flex: true !default;

//----------------------------------------------------
// / Export Setting
//----------------------------------------------------

@mixin export-flex {
  @if $use-style-flex == true {
    @content;
  }
}

//----------------------------------------------------
// / Responsive Flex
//----------------------------------------------------

@include export-flex {
  @each $mediaquery in $pattern-flex-mediaquery {
    @include mediaquery-pattern-select($mediaquery) {
      @for $i from 0 through $grid-split {
        @if $i == 0 {
          .is-#{$mediaquery}-#{$i} {
            flex: 1 0 0%;
          }
        } @else {
          .is-#{$mediaquery}-#{$i} {
            flex: 0 0 100% / $grid-split * $i;
            width: 100% / $grid-split * $i;
            max-width: 100% / $grid-split * $i;
          }
        }
      }
      .is-#{$mediaquery}-full {
        flex: 0 1 100%;
        width: 100%;
      }
      .is-#{$mediaquery}-auto {
        flex: 0 1 auto;
        width: auto;
      }
    }
  }
}
