//----------------------------------------------------
// Utilities: Margin
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Modifiers
$modifier-margin: "\.is-margin" !default;
$modifier-margin-xxl: "\.is-margin-xxl" !default;
$modifier-margin-xl: "\.is-margin-xl" !default;
$modifier-margin-lg: "\.is-margin-lg" !default;
$modifier-margin-md: "\.is-margin-md" !default;
$modifier-margin-sm: "\.is-margin-sm" !default;
$modifier-margin-xs: "\.is-margin-xs" !default;
$modifier-margin-xxs: "\.is-margin-xxs" !default;

$modifier-margin-top: "\.is-margin-top" !default;
$modifier-margin-top-xxl: "\.is-margin-top-xxl" !default;
$modifier-margin-top-xl: "\.is-margin-top-xl" !default;
$modifier-margin-top-lg: "\.is-margin-top-lg" !default;
$modifier-margin-top-md: "\.is-margin-top-md" !default;
$modifier-margin-top-sm: "\.is-margin-top-sm" !default;
$modifier-margin-top-xs: "\.is-margin-top-xs" !default;
$modifier-margin-top-xxs: "\.is-margin-top-xxs" !default;

$modifier-margin-right: "\.is-margin-right" !default;
$modifier-margin-right-xxl: "\.is-margin-right-xxl" !default;
$modifier-margin-right-xl: "\.is-margin-right-xl" !default;
$modifier-margin-right-lg: "\.is-margin-right-lg" !default;
$modifier-margin-right-md: "\.is-margin-right-md" !default;
$modifier-margin-right-sm: "\.is-margin-right-sm" !default;
$modifier-margin-right-xs: "\.is-margin-right-xs" !default;
$modifier-margin-right-xxs: "\.is-margin-right-xxs" !default;

$modifier-margin-bottom: "\.is-margin-bottom" !default;
$modifier-margin-bottom-xxl: "\.is-margin-bottom-xxl" !default;
$modifier-margin-bottom-xl: "\.is-margin-bottom-xl" !default;
$modifier-margin-bottom-lg: "\.is-margin-bottom-lg" !default;
$modifier-margin-bottom-md: "\.is-margin-bottom-md" !default;
$modifier-margin-bottom-sm: "\.is-margin-bottom-sm" !default;
$modifier-margin-bottom-xs: "\.is-margin-bottom-xs" !default;
$modifier-margin-bottom-xxs: "\.is-margin-bottom-xxs" !default;

$modifier-margin-left: "\.is-margin-left" !default;
$modifier-margin-left-xxl: "\.is-margin-left-xxl" !default;
$modifier-margin-left-xl: "\.is-margin-left-xl" !default;
$modifier-margin-left-lg: "\.is-margin-left-lg" !default;
$modifier-margin-left-md: "\.is-margin-left-md" !default;
$modifier-margin-left-sm: "\.is-margin-left-sm" !default;
$modifier-margin-left-xs: "\.is-margin-left-xs" !default;
$modifier-margin-left-xxs: "\.is-margin-left-xxs" !default;

$modifier-margin-vertical: "\.is-margin-vertical" !default;
$modifier-margin-vertical-xxl: "\.is-margin-vertical-xxl" !default;
$modifier-margin-vertical-xl: "\.is-margin-vertical-xl" !default;
$modifier-margin-vertical-lg: "\.is-margin-vertical-lg" !default;
$modifier-margin-vertical-md: "\.is-margin-vertical-md" !default;
$modifier-margin-vertical-sm: "\.is-margin-vertical-sm" !default;
$modifier-margin-vertical-xs: "\.is-margin-vertical-xs" !default;
$modifier-margin-vertical-xxs: "\.is-margin-vertical-xxs" !default;

$modifier-margin-horizontal: "\.is-margin-horizontal" !default;
$modifier-margin-horizontal-xxl: "\.is-margin-horizontal-xxl" !default;
$modifier-margin-horizontal-xl: "\.is-margin-horizontal-xl" !default;
$modifier-margin-horizontal-lg: "\.is-margin-horizontal-lg" !default;
$modifier-margin-horizontal-md: "\.is-margin-horizontal-md" !default;
$modifier-margin-horizontal-sm: "\.is-margin-horizontal-sm" !default;
$modifier-margin-horizontal-xs: "\.is-margin-horizontal-xs" !default;
$modifier-margin-horizontal-xxs: "\.is-margin-horizontal-xxs" !default;

$modifier-margin-minus: "\.is-margin-minus" !default;
$modifier-margin-minus-xxl: "\.is-margin-minus-xxl" !default;
$modifier-margin-minus-xl: "\.is-margin-minus-xl" !default;
$modifier-margin-minus-lg: "\.is-margin-minus-lg" !default;
$modifier-margin-minus-md: "\.is-margin-minus-md" !default;
$modifier-margin-minus-sm: "\.is-margin-minus-sm" !default;
$modifier-margin-minus-xs: "\.is-margin-minus-xs" !default;
$modifier-margin-minus-xxs: "\.is-margin-minus-xxs" !default;

$modifier-margin-top-minus: "\.is-margin-top-minus" !default;
$modifier-margin-top-minus-xxl: "\.is-margin-top-minus-xxl" !default;
$modifier-margin-top-minus-xl: "\.is-margin-top-minus-xl" !default;
$modifier-margin-top-minus-lg: "\.is-margin-top-minus-lg" !default;
$modifier-margin-top-minus-md: "\.is-margin-top-minus-md" !default;
$modifier-margin-top-minus-sm: "\.is-margin-top-minus-sm" !default;
$modifier-margin-top-minus-xs: "\.is-margin-top-minus-xs" !default;
$modifier-margin-top-minus-xxs: "\.is-margin-top-minus-xxs" !default;

$modifier-margin-right-minus: "\.is-margin-right-minus" !default;
$modifier-margin-right-minus-xxl: "\.is-margin-right-minus-xxl" !default;
$modifier-margin-right-minus-xl: "\.is-margin-right-minus-xl" !default;
$modifier-margin-right-minus-lg: "\.is-margin-right-minus-lg" !default;
$modifier-margin-right-minus-md: "\.is-margin-right-minus-md" !default;
$modifier-margin-right-minus-sm: "\.is-margin-right-minus-sm" !default;
$modifier-margin-right-minus-xs: "\.is-margin-right-minus-xs" !default;
$modifier-margin-right-minus-xxs: "\.is-margin-right-minus-xxs" !default;

$modifier-margin-bottom-minus: "\.is-margin-bottom-minus" !default;
$modifier-margin-bottom-minus-xxl: "\.is-margin-bottom-minus-xxl" !default;
$modifier-margin-bottom-minus-xl: "\.is-margin-bottom-minus-xl" !default;
$modifier-margin-bottom-minus-lg: "\.is-margin-bottom-minus-lg" !default;
$modifier-margin-bottom-minus-md: "\.is-margin-bottom-minus-md" !default;
$modifier-margin-bottom-minus-sm: "\.is-margin-bottom-minus-sm" !default;
$modifier-margin-bottom-minus-xs: "\.is-margin-bottom-minus-xs" !default;
$modifier-margin-bottom-minus-xxs: "\.is-margin-bottom-minus-xxs" !default;

$modifier-margin-left-minus: "\.is-margin-left-minus" !default;
$modifier-margin-left-minus-xxl: "\.is-margin-left-minus-xxl" !default;
$modifier-margin-left-minus-xl: "\.is-margin-left-minus-xl" !default;
$modifier-margin-left-minus-lg: "\.is-margin-left-minus-lg" !default;
$modifier-margin-left-minus-md: "\.is-margin-left-minus-md" !default;
$modifier-margin-left-minus-sm: "\.is-margin-left-minus-sm" !default;
$modifier-margin-left-minus-xs: "\.is-margin-left-minus-xs" !default;
$modifier-margin-left-minus-xxs: "\.is-margin-left-minus-xxs" !default;

$modifier-margin-vertical-minus: "\.is-margin-vertical-minus" !default;
$modifier-margin-vertical-minus-xxl: "\.is-margin-vertical-minus-xxl" !default;
$modifier-margin-vertical-minus-xl: "\.is-margin-vertical-minus-xl" !default;
$modifier-margin-vertical-minus-lg: "\.is-margin-vertical-minus-lg" !default;
$modifier-margin-vertical-minus-md: "\.is-margin-vertical-minus-md" !default;
$modifier-margin-vertical-minus-sm: "\.is-margin-vertical-minus-sm" !default;
$modifier-margin-vertical-minus-xs: "\.is-margin-vertical-minus-xs" !default;
$modifier-margin-vertical-minus-xxs: "\.is-margin-vertical-minus-xxs" !default;

$modifier-margin-horizontal-minus: "\.is-margin-horizontal-minus" !default;
$modifier-margin-horizontal-minus-xxl: "\.is-margin-horizontal-minus-xxl" !default;
$modifier-margin-horizontal-minus-xl: "\.is-margin-horizontal-minus-xl" !default;
$modifier-margin-horizontal-minus-lg: "\.is-margin-horizontal-minus-lg" !default;
$modifier-margin-horizontal-minus-md: "\.is-margin-horizontal-minus-md" !default;
$modifier-margin-horizontal-minus-sm: "\.is-margin-horizontal-minus-sm" !default;
$modifier-margin-horizontal-minus-xs: "\.is-margin-horizontal-minus-xs" !default;
$modifier-margin-horizontal-minus-xxs: "\.is-margin-horizontal-minus-xxs" !default;

$modifier-margin-right-auto: "\.is-margin-right-auto" !default;
$modifier-margin-left-auto: "\.is-margin-left-auto" !default;
$modifier-margin-horizontal-auto: "\.is-margin-horizontal-auto" !default;

// Margin Size
$margin-size-xxl: $meter-xxl !default;
$margin-size-xl: $meter-xl !default;
$margin-size-lg: $meter-lg !default;
$margin-size-md: $meter-md !default;
$margin-size-sm: $meter-sm !default;
$margin-size-xs: $meter-xs !default;
$margin-size-xxs: $meter-xxs !default;

// Margin Important
$margin-important: if(
  $option-important-margin == true,
  !important,
  null
) !default;

//----------------------------------------------------
// / Style - Margin
//----------------------------------------------------

@mixin musubii-style-margin($margin-size) {
  margin: $margin-size $margin-important;
}

@include generate-style($option-generate-style-margin) {
  #{$modifier-margin-xxl} {
    @include musubii-style-margin($margin-size-xxl);
  }
  #{$modifier-margin-xl} {
    @include musubii-style-margin($margin-size-xl);
  }
  #{$modifier-margin-lg} {
    @include musubii-style-margin($margin-size-lg);
  }
  #{$modifier-margin},
  #{$modifier-margin-md} {
    @include musubii-style-margin($margin-size-md);
  }
  #{$modifier-margin-sm} {
    @include musubii-style-margin($margin-size-sm);
  }
  #{$modifier-margin-xs} {
    @include musubii-style-margin($margin-size-xs);
  }
  #{$modifier-margin-xxs} {
    @include musubii-style-margin($margin-size-xxs);
  }
}

//----------------------------------------------------
// / Style - Margin Top
//----------------------------------------------------

@mixin musubii-style-margin-top($margin-size) {
  margin-top: $margin-size $margin-important;
}

@include generate-style($option-generate-style-margin) {
  @if $option-add-style-margin-way == true {
    #{$modifier-margin-top-xxl} {
      @include musubii-style-margin-top($margin-size-xxl);
    }
    #{$modifier-margin-top-xl} {
      @include musubii-style-margin-top($margin-size-xl);
    }
    #{$modifier-margin-top-lg} {
      @include musubii-style-margin-top($margin-size-lg);
    }
    #{$modifier-margin-top},
    #{$modifier-margin-top-md} {
      @include musubii-style-margin-top($margin-size-md);
    }
    #{$modifier-margin-top-sm} {
      @include musubii-style-margin-top($margin-size-sm);
    }
    #{$modifier-margin-top-xs} {
      @include musubii-style-margin-top($margin-size-xs);
    }
    #{$modifier-margin-top-xxs} {
      @include musubii-style-margin-top($margin-size-xxs);
    }
  }
}

//----------------------------------------------------
// / Style - Margin Right
//----------------------------------------------------

@mixin musubii-style-margin-right($margin-size) {
  margin-right: $margin-size $margin-important;
}

@include generate-style($option-generate-style-margin) {
  @if $option-add-style-margin-way == true {
    #{$modifier-margin-right-xxl} {
      @include musubii-style-margin-right($margin-size-xxl);
    }
    #{$modifier-margin-right-xl} {
      @include musubii-style-margin-right($margin-size-xl);
    }
    #{$modifier-margin-right-lg} {
      @include musubii-style-margin-right($margin-size-lg);
    }
    #{$modifier-margin-right},
    #{$modifier-margin-right-md} {
      @include musubii-style-margin-right($margin-size-md);
    }
    #{$modifier-margin-right-sm} {
      @include musubii-style-margin-right($margin-size-sm);
    }
    #{$modifier-margin-right-xs} {
      @include musubii-style-margin-right($margin-size-xs);
    }
    #{$modifier-margin-right-xxs} {
      @include musubii-style-margin-right($margin-size-xxs);
    }
  }
}

//----------------------------------------------------
// / Style - Margin Bottom
//----------------------------------------------------

@mixin musubii-style-margin-bottom($margin-size) {
  margin-bottom: $margin-size $margin-important;
}

@include generate-style($option-generate-style-margin) {
  @if $option-add-style-margin-way == true {
    #{$modifier-margin-bottom-xxl} {
      @include musubii-style-margin-bottom($margin-size-xxl);
    }
    #{$modifier-margin-bottom-xl} {
      @include musubii-style-margin-bottom($margin-size-xl);
    }
    #{$modifier-margin-bottom-lg} {
      @include musubii-style-margin-bottom($margin-size-lg);
    }
    #{$modifier-margin-bottom},
    #{$modifier-margin-bottom-md} {
      @include musubii-style-margin-bottom($margin-size-md);
    }
    #{$modifier-margin-bottom-sm} {
      @include musubii-style-margin-bottom($margin-size-sm);
    }
    #{$modifier-margin-bottom-xs} {
      @include musubii-style-margin-bottom($margin-size-xs);
    }
    #{$modifier-margin-bottom-xxs} {
      @include musubii-style-margin-bottom($margin-size-xxs);
    }
  }
}

//----------------------------------------------------
// / Style - Margin Left
//----------------------------------------------------

@mixin musubii-style-margin-left($margin-size) {
  margin-left: $margin-size $margin-important;
}

@include generate-style($option-generate-style-margin) {
  @if $option-add-style-margin-way == true {
    #{$modifier-margin-left-xxl} {
      @include musubii-style-margin-left($margin-size-xxl);
    }
    #{$modifier-margin-left-xl} {
      @include musubii-style-margin-left($margin-size-xl);
    }
    #{$modifier-margin-left-lg} {
      @include musubii-style-margin-left($margin-size-lg);
    }
    #{$modifier-margin-left},
    #{$modifier-margin-left-md} {
      @include musubii-style-margin-left($margin-size-md);
    }
    #{$modifier-margin-left-sm} {
      @include musubii-style-margin-left($margin-size-sm);
    }
    #{$modifier-margin-left-xs} {
      @include musubii-style-margin-left($margin-size-xs);
    }
    #{$modifier-margin-left-xxs} {
      @include musubii-style-margin-left($margin-size-xxs);
    }
  }
}

//----------------------------------------------------
// / Style - Margin Vertical
//----------------------------------------------------

@mixin musubii-style-margin-vertical($margin-size) {
  margin-top: $margin-size $margin-important;
  margin-bottom: $margin-size $margin-important;
}

@include generate-style($option-generate-style-margin) {
  @if $option-add-style-margin-vertical == true {
    #{$modifier-margin-vertical-xxl} {
      @include musubii-style-margin-vertical($margin-size-xxl);
    }
    #{$modifier-margin-vertical-xl} {
      @include musubii-style-margin-vertical($margin-size-xl);
    }
    #{$modifier-margin-vertical-lg} {
      @include musubii-style-margin-vertical($margin-size-lg);
    }
    #{$modifier-margin-vertical},
    #{$modifier-margin-vertical-md} {
      @include musubii-style-margin-vertical($margin-size-md);
    }
    #{$modifier-margin-vertical-sm} {
      @include musubii-style-margin-vertical($margin-size-sm);
    }
    #{$modifier-margin-vertical-xs} {
      @include musubii-style-margin-vertical($margin-size-xs);
    }
    #{$modifier-margin-vertical-xxs} {
      @include musubii-style-margin-vertical($margin-size-xxs);
    }
  }
}

//----------------------------------------------------
// / Style - Margin Horizontal
//----------------------------------------------------

@mixin musubii-style-margin-horizontal($margin-size) {
  margin-right: $margin-size $margin-important;
  margin-left: $margin-size $margin-important;
}

@include generate-style($option-generate-style-margin) {
  @if $option-add-style-margin-horizontal == true {
    #{$modifier-margin-horizontal-xxl} {
      @include musubii-style-margin-horizontal($margin-size-xxl);
    }
    #{$modifier-margin-horizontal-xl} {
      @include musubii-style-margin-horizontal($margin-size-xl);
    }
    #{$modifier-margin-horizontal-lg} {
      @include musubii-style-margin-horizontal($margin-size-lg);
    }
    #{$modifier-margin-horizontal},
    #{$modifier-margin-horizontal-md} {
      @include musubii-style-margin-horizontal($margin-size-md);
    }
    #{$modifier-margin-horizontal-sm} {
      @include musubii-style-margin-horizontal($margin-size-sm);
    }
    #{$modifier-margin-horizontal-xs} {
      @include musubii-style-margin-horizontal($margin-size-xs);
    }
    #{$modifier-margin-horizontal-xxs} {
      @include musubii-style-margin-horizontal($margin-size-xxs);
    }
  }
}

//----------------------------------------------------
// / Style - Margin Minus
//----------------------------------------------------

@mixin musubii-style-margin-minus($margin-size) {
  margin: -$margin-size $margin-important;
}

@include generate-style($option-generate-style-margin) {
  @if $option-add-style-margin-minus == true {
    #{$modifier-margin-minus-xxl} {
      @include musubii-style-margin-minus($margin-size-xxl);
    }
    #{$modifier-margin-minus-xl} {
      @include musubii-style-margin-minus($margin-size-xl);
    }
    #{$modifier-margin-minus-lg} {
      @include musubii-style-margin-minus($margin-size-lg);
    }
    #{$modifier-margin-minus},
    #{$modifier-margin-minus-md} {
      @include musubii-style-margin-minus($margin-size-md);
    }
    #{$modifier-margin-minus-sm} {
      @include musubii-style-margin-minus($margin-size-sm);
    }
    #{$modifier-margin-minus-xs} {
      @include musubii-style-margin-minus($margin-size-xs);
    }
    #{$modifier-margin-minus-xxs} {
      @include musubii-style-margin-minus($margin-size-xxs);
    }
  }
}

//----------------------------------------------------
// / Style - Margin Top Minus
//----------------------------------------------------

@mixin musubii-style-margin-top-minus($margin-size) {
  margin-top: -$margin-size $margin-important;
}

@include generate-style($option-generate-style-margin) {
  @if $option-add-style-margin-minus == true {
    @if $option-add-style-margin-way == true {
      #{$modifier-margin-top-minus-xxl} {
        @include musubii-style-margin-top-minus($margin-size-xxl);
      }
      #{$modifier-margin-top-minus-xl} {
        @include musubii-style-margin-top-minus($margin-size-xl);
      }
      #{$modifier-margin-top-minus-lg} {
        @include musubii-style-margin-top-minus($margin-size-lg);
      }
      #{$modifier-margin-top-minus},
      #{$modifier-margin-top-minus-md} {
        @include musubii-style-margin-top-minus($margin-size-md);
      }
      #{$modifier-margin-top-minus-sm} {
        @include musubii-style-margin-top-minus($margin-size-sm);
      }
      #{$modifier-margin-top-minus-xs} {
        @include musubii-style-margin-top-minus($margin-size-xs);
      }
      #{$modifier-margin-top-minus-xxs} {
        @include musubii-style-margin-top-minus($margin-size-xxs);
      }
    }
  }
}

//----------------------------------------------------
// / Style - Margin Right Minus
//----------------------------------------------------

@mixin musubii-style-margin-right-minus($margin-size) {
  margin-right: -$margin-size $margin-important;
}

@include generate-style($option-generate-style-margin) {
  @if $option-add-style-margin-minus == true {
    @if $option-add-style-margin-way == true {
      #{$modifier-margin-right-minus-xxl} {
        @include musubii-style-margin-right-minus($margin-size-xxl);
      }
      #{$modifier-margin-right-minus-xl} {
        @include musubii-style-margin-right-minus($margin-size-xl);
      }
      #{$modifier-margin-right-minus-lg} {
        @include musubii-style-margin-right-minus($margin-size-lg);
      }
      #{$modifier-margin-right-minus},
      #{$modifier-margin-right-minus-md} {
        @include musubii-style-margin-right-minus($margin-size-md);
      }
      #{$modifier-margin-right-minus-sm} {
        @include musubii-style-margin-right-minus($margin-size-sm);
      }
      #{$modifier-margin-right-minus-xs} {
        @include musubii-style-margin-right-minus($margin-size-xs);
      }
      #{$modifier-margin-right-minus-xxs} {
        @include musubii-style-margin-right-minus($margin-size-xxs);
      }
    }
  }
}

//----------------------------------------------------
// / Style - Margin Bottom Minus
//----------------------------------------------------

@mixin musubii-style-margin-bottom-minus($margin-size) {
  margin-bottom: -$margin-size $margin-important;
}

@include generate-style($option-generate-style-margin) {
  @if $option-add-style-margin-minus == true {
    @if $option-add-style-margin-way == true {
      #{$modifier-margin-bottom-minus-xxl} {
        @include musubii-style-margin-bottom-minus($margin-size-xxl);
      }
      #{$modifier-margin-bottom-minus-xl} {
        @include musubii-style-margin-bottom-minus($margin-size-xl);
      }
      #{$modifier-margin-bottom-minus-lg} {
        @include musubii-style-margin-bottom-minus($margin-size-lg);
      }
      #{$modifier-margin-bottom-minus},
      #{$modifier-margin-bottom-minus-md} {
        @include musubii-style-margin-bottom-minus($margin-size-md);
      }
      #{$modifier-margin-bottom-minus-sm} {
        @include musubii-style-margin-bottom-minus($margin-size-sm);
      }
      #{$modifier-margin-bottom-minus-xs} {
        @include musubii-style-margin-bottom-minus($margin-size-xs);
      }
      #{$modifier-margin-bottom-minus-xxs} {
        @include musubii-style-margin-bottom-minus($margin-size-xxs);
      }
    }
  }
}

//----------------------------------------------------
// / Style - Margin Left Minus
//----------------------------------------------------

@mixin musubii-style-margin-left-minus($margin-size) {
  margin-left: -$margin-size $margin-important;
}

@include generate-style($option-generate-style-margin) {
  @if $option-add-style-margin-minus == true {
    @if $option-add-style-margin-way == true {
      #{$modifier-margin-left-minus-xxl} {
        @include musubii-style-margin-left-minus($margin-size-xxl);
      }
      #{$modifier-margin-left-minus-xl} {
        @include musubii-style-margin-left-minus($margin-size-xl);
      }
      #{$modifier-margin-left-minus-lg} {
        @include musubii-style-margin-left-minus($margin-size-lg);
      }
      #{$modifier-margin-left-minus},
      #{$modifier-margin-left-minus-md} {
        @include musubii-style-margin-left-minus($margin-size-md);
      }
      #{$modifier-margin-left-minus-sm} {
        @include musubii-style-margin-left-minus($margin-size-sm);
      }
      #{$modifier-margin-left-minus-xs} {
        @include musubii-style-margin-left-minus($margin-size-xs);
      }
      #{$modifier-margin-left-minus-xxs} {
        @include musubii-style-margin-left-minus($margin-size-xxs);
      }
    }
  }
}

//----------------------------------------------------
// / Style - Margin Vertical Minus
//----------------------------------------------------

@mixin musubii-style-margin-vertical-minus($margin-size) {
  margin-top: -$margin-size $margin-important;
  margin-bottom: -$margin-size $margin-important;
}

@include generate-style($option-generate-style-margin) {
  @if $option-add-style-margin-minus == true {
    @if $option-add-style-margin-vertical == true {
      #{$modifier-margin-vertical-minus-xxl} {
        @include musubii-style-margin-vertical-minus($margin-size-xxl);
      }
      #{$modifier-margin-vertical-minus-xl} {
        @include musubii-style-margin-vertical-minus($margin-size-xl);
      }
      #{$modifier-margin-vertical-minus-lg} {
        @include musubii-style-margin-vertical-minus($margin-size-lg);
      }
      #{$modifier-margin-vertical-minus},
      #{$modifier-margin-vertical-minus-md} {
        @include musubii-style-margin-vertical-minus($margin-size-md);
      }
      #{$modifier-margin-vertical-minus-sm} {
        @include musubii-style-margin-vertical-minus($margin-size-sm);
      }
      #{$modifier-margin-vertical-minus-xs} {
        @include musubii-style-margin-vertical-minus($margin-size-xs);
      }
      #{$modifier-margin-vertical-minus-xxs} {
        @include musubii-style-margin-vertical-minus($margin-size-xxs);
      }
    }
  }
}

//----------------------------------------------------
// / Style - Margin Horizontal Minus
//----------------------------------------------------

@mixin musubii-style-margin-horizontal-minus($margin-size) {
  margin-right: -$margin-size $margin-important;
  margin-left: -$margin-size $margin-important;
}

@include generate-style($option-generate-style-margin) {
  @if $option-add-style-margin-minus == true {
    @if $option-add-style-margin-horizontal == true {
      #{$modifier-margin-horizontal-minus-xxl} {
        @include musubii-style-margin-horizontal-minus($margin-size-xxl);
      }
      #{$modifier-margin-horizontal-minus-xl} {
        @include musubii-style-margin-horizontal-minus($margin-size-xl);
      }
      #{$modifier-margin-horizontal-minus-lg} {
        @include musubii-style-margin-horizontal-minus($margin-size-lg);
      }
      #{$modifier-margin-horizontal-minus},
      #{$modifier-margin-horizontal-minus-md} {
        @include musubii-style-margin-horizontal-minus($margin-size-md);
      }
      #{$modifier-margin-horizontal-minus-sm} {
        @include musubii-style-margin-horizontal-minus($margin-size-sm);
      }
      #{$modifier-margin-horizontal-minus-xs} {
        @include musubii-style-margin-horizontal-minus($margin-size-xs);
      }
      #{$modifier-margin-horizontal-minus-xxs} {
        @include musubii-style-margin-horizontal-minus($margin-size-xxs);
      }
    }
  }
}

//----------------------------------------------------
// / Style - Margin Auto
//----------------------------------------------------

@mixin musubii-style-margin-right-auto() {
  margin-right: auto $margin-important;
}

@mixin musubii-style-margin-left-auto() {
  margin-left: auto $margin-important;
}

@mixin musubii-style-margin-horizontal-auto() {
  margin-right: auto $margin-important;
  margin-left: auto $margin-important;
}

@include generate-style($option-generate-style-margin) {
  @if $option-add-style-margin-way == true {
    #{$modifier-margin-right-auto} {
      @include musubii-style-margin-right-auto();
    }
    #{$modifier-margin-left-auto} {
      @include musubii-style-margin-left-auto();
    }
  }
  @if $option-add-style-margin-horizontal == true {
    #{$modifier-margin-horizontal-auto} {
      @include musubii-style-margin-horizontal-auto();
    }
  }
}
