//----------------------------------------------------
// Utility: Overflow
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

$use-style-overflow: true !default;

//----------------------------------------------------
// / Export Setting
//----------------------------------------------------

@mixin export-overflow {
  @if $use-style-overflow == true {
    @content;
  }
}

//----------------------------------------------------
// / Basic
//----------------------------------------------------

@include export-overflow {
  .is-overflow-hidden {
    overflow: hidden;
  }
}

//----------------------------------------------------
// / Scroll
//----------------------------------------------------

@include export-overflow {
  .is-scroll-x {
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .is-scroll-y {
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

//----------------------------------------------------
// / Ellipsis
//----------------------------------------------------

@include export-overflow {
  .is-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
