//----------------------------------------------------
// Utilities: Padding
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Modifiers
$modifier-padding: "\.is-padding" !default;
$modifier-padding-xxl: "\.is-padding-xxl" !default;
$modifier-padding-xl: "\.is-padding-xl" !default;
$modifier-padding-lg: "\.is-padding-lg" !default;
$modifier-padding-md: "\.is-padding-md" !default;
$modifier-padding-sm: "\.is-padding-sm" !default;
$modifier-padding-xs: "\.is-padding-xs" !default;
$modifier-padding-xxs: "\.is-padding-xxs" !default;

$modifier-padding-top: "\.is-padding-top" !default;
$modifier-padding-top-xxl: "\.is-padding-top-xxl" !default;
$modifier-padding-top-xl: "\.is-padding-top-xl" !default;
$modifier-padding-top-lg: "\.is-padding-top-lg" !default;
$modifier-padding-top-md: "\.is-padding-top-md" !default;
$modifier-padding-top-sm: "\.is-padding-top-sm" !default;
$modifier-padding-top-xs: "\.is-padding-top-xs" !default;
$modifier-padding-top-xxs: "\.is-padding-top-xxs" !default;

$modifier-padding-right: "\.is-padding-right" !default;
$modifier-padding-right-xxl: "\.is-padding-right-xxl" !default;
$modifier-padding-right-xl: "\.is-padding-right-xl" !default;
$modifier-padding-right-lg: "\.is-padding-right-lg" !default;
$modifier-padding-right-md: "\.is-padding-right-md" !default;
$modifier-padding-right-sm: "\.is-padding-right-sm" !default;
$modifier-padding-right-xs: "\.is-padding-right-xs" !default;
$modifier-padding-right-xxs: "\.is-padding-right-xxs" !default;

$modifier-padding-bottom: "\.is-padding-bottom" !default;
$modifier-padding-bottom-xxl: "\.is-padding-bottom-xxl" !default;
$modifier-padding-bottom-xl: "\.is-padding-bottom-xl" !default;
$modifier-padding-bottom-lg: "\.is-padding-bottom-lg" !default;
$modifier-padding-bottom-md: "\.is-padding-bottom-md" !default;
$modifier-padding-bottom-sm: "\.is-padding-bottom-sm" !default;
$modifier-padding-bottom-xs: "\.is-padding-bottom-xs" !default;
$modifier-padding-bottom-xxs: "\.is-padding-bottom-xxs" !default;

$modifier-padding-left: "\.is-padding-left" !default;
$modifier-padding-left-xxl: "\.is-padding-left-xxl" !default;
$modifier-padding-left-xl: "\.is-padding-left-xl" !default;
$modifier-padding-left-lg: "\.is-padding-left-lg" !default;
$modifier-padding-left-md: "\.is-padding-left-md" !default;
$modifier-padding-left-sm: "\.is-padding-left-sm" !default;
$modifier-padding-left-xs: "\.is-padding-left-xs" !default;
$modifier-padding-left-xxs: "\.is-padding-left-xxs" !default;

$modifier-padding-vertical: "\.is-padding-vertical" !default;
$modifier-padding-vertical-xxl: "\.is-padding-vertical-xxl" !default;
$modifier-padding-vertical-xl: "\.is-padding-vertical-xl" !default;
$modifier-padding-vertical-lg: "\.is-padding-vertical-lg" !default;
$modifier-padding-vertical-md: "\.is-padding-vertical-md" !default;
$modifier-padding-vertical-sm: "\.is-padding-vertical-sm" !default;
$modifier-padding-vertical-xs: "\.is-padding-vertical-xs" !default;
$modifier-padding-vertical-xxs: "\.is-padding-vertical-xxs" !default;

$modifier-padding-horizontal: "\.is-padding-horizontal" !default;
$modifier-padding-horizontal-xxl: "\.is-padding-horizontal-xxl" !default;
$modifier-padding-horizontal-xl: "\.is-padding-horizontal-xl" !default;
$modifier-padding-horizontal-lg: "\.is-padding-horizontal-lg" !default;
$modifier-padding-horizontal-md: "\.is-padding-horizontal-md" !default;
$modifier-padding-horizontal-sm: "\.is-padding-horizontal-sm" !default;
$modifier-padding-horizontal-xs: "\.is-padding-horizontal-xs" !default;
$modifier-padding-horizontal-xxs: "\.is-padding-horizontal-xxs" !default;

$modifier-padding-safe: "\.is-padding-safe" !default;
$modifier-padding-top-safe: "\.is-padding-top-safe" !default;
$modifier-padding-right-safe: "\.is-padding-right-safe" !default;
$modifier-padding-bottom-safe: "\.is-padding-bottom-safe" !default;
$modifier-padding-left-safe: "\.is-padding-left-safe" !default;
$modifier-padding-vertical-safe: "\.is-padding-vertical-safe" !default;
$modifier-padding-horizontal-safe: "\.is-padding-horizontal-safe" !default;

// Padding Size
$padding-size-xxl: $meter-xxl !default;
$padding-size-xl: $meter-xl !default;
$padding-size-lg: $meter-lg !default;
$padding-size-md: $meter-md !default;
$padding-size-sm: $meter-sm !default;
$padding-size-xs: $meter-xs !default;
$padding-size-xxs: $meter-xxs !default;

// Margin Important
$padding-important: if(
  $option-important-padding == true,
  !important,
  null
) !default;

//----------------------------------------------------
// / Style - Padding
//----------------------------------------------------

@mixin musubii-style-padding($padding-size) {
  padding: $padding-size $padding-important;
}

@include generate-style($option-generate-style-padding) {
  #{$modifier-padding-xxl} {
    @include musubii-style-padding($padding-size-xxl);
  }
  #{$modifier-padding-xl} {
    @include musubii-style-padding($padding-size-xl);
  }
  #{$modifier-padding-lg} {
    @include musubii-style-padding($padding-size-lg);
  }
  #{$modifier-padding},
  #{$modifier-padding-md} {
    @include musubii-style-padding($padding-size-md);
  }
  #{$modifier-padding-sm} {
    @include musubii-style-padding($padding-size-sm);
  }
  #{$modifier-padding-xs} {
    @include musubii-style-padding($padding-size-xs);
  }
  #{$modifier-padding-xxs} {
    @include musubii-style-padding($padding-size-xxs);
  }
}

//----------------------------------------------------
// / Style - Padding Top
//----------------------------------------------------

@mixin musubii-style-padding-top($padding-size) {
  padding-top: $padding-size $padding-important;
}

@include generate-style($option-generate-style-padding) {
  @if $option-add-style-padding-way == true {
    #{$modifier-padding-top-xxl} {
      @include musubii-style-padding-top($padding-size-xxl);
    }
    #{$modifier-padding-top-xl} {
      @include musubii-style-padding-top($padding-size-xl);
    }
    #{$modifier-padding-top-lg} {
      @include musubii-style-padding-top($padding-size-lg);
    }
    #{$modifier-padding-top},
    #{$modifier-padding-top-md} {
      @include musubii-style-padding-top($padding-size-md);
    }
    #{$modifier-padding-top-sm} {
      @include musubii-style-padding-top($padding-size-sm);
    }
    #{$modifier-padding-top-xs} {
      @include musubii-style-padding-top($padding-size-xs);
    }
    #{$modifier-padding-top-xxs} {
      @include musubii-style-padding-top($padding-size-xxs);
    }
  }
}

//----------------------------------------------------
// / Style - Padding Right
//----------------------------------------------------

@mixin musubii-style-padding-right($padding-size) {
  padding-right: $padding-size $padding-important;
}

@include generate-style($option-generate-style-padding) {
  @if $option-add-style-padding-way == true {
    #{$modifier-padding-right-xxl} {
      @include musubii-style-padding-right($padding-size-xxl);
    }
    #{$modifier-padding-right-xl} {
      @include musubii-style-padding-right($padding-size-xl);
    }
    #{$modifier-padding-right-lg} {
      @include musubii-style-padding-right($padding-size-lg);
    }
    #{$modifier-padding-right},
    #{$modifier-padding-right-md} {
      @include musubii-style-padding-right($padding-size-md);
    }
    #{$modifier-padding-right-sm} {
      @include musubii-style-padding-right($padding-size-sm);
    }
    #{$modifier-padding-right-xs} {
      @include musubii-style-padding-right($padding-size-xs);
    }
    #{$modifier-padding-right-xxs} {
      @include musubii-style-padding-right($padding-size-xxs);
    }
  }
}

//----------------------------------------------------
// / Style - Padding Bottom
//----------------------------------------------------

@mixin musubii-style-padding-bottom($padding-size) {
  padding-bottom: $padding-size $padding-important;
}

@include generate-style($option-generate-style-padding) {
  @if $option-add-style-padding-way == true {
    #{$modifier-padding-bottom-xxl} {
      @include musubii-style-padding-bottom($padding-size-xxl);
    }
    #{$modifier-padding-bottom-xl} {
      @include musubii-style-padding-bottom($padding-size-xl);
    }
    #{$modifier-padding-bottom-lg} {
      @include musubii-style-padding-bottom($padding-size-lg);
    }
    #{$modifier-padding-bottom},
    #{$modifier-padding-bottom-md} {
      @include musubii-style-padding-bottom($padding-size-md);
    }
    #{$modifier-padding-bottom-sm} {
      @include musubii-style-padding-bottom($padding-size-sm);
    }
    #{$modifier-padding-bottom-xs} {
      @include musubii-style-padding-bottom($padding-size-xs);
    }
    #{$modifier-padding-bottom-xxs} {
      @include musubii-style-padding-bottom($padding-size-xxs);
    }
  }
}

//----------------------------------------------------
// / Style - Padding Left
//----------------------------------------------------

@mixin musubii-style-padding-left($padding-size) {
  padding-left: $padding-size $padding-important;
}

@include generate-style($option-generate-style-padding) {
  @if $option-add-style-padding-way == true {
    #{$modifier-padding-left-xxl} {
      @include musubii-style-padding-left($padding-size-xxl);
    }
    #{$modifier-padding-left-xl} {
      @include musubii-style-padding-left($padding-size-xl);
    }
    #{$modifier-padding-left-lg} {
      @include musubii-style-padding-left($padding-size-lg);
    }
    #{$modifier-padding-left},
    #{$modifier-padding-left-md} {
      @include musubii-style-padding-left($padding-size-md);
    }
    #{$modifier-padding-left-sm} {
      @include musubii-style-padding-left($padding-size-sm);
    }
    #{$modifier-padding-left-xs} {
      @include musubii-style-padding-left($padding-size-xs);
    }
    #{$modifier-padding-left-xxs} {
      @include musubii-style-padding-left($padding-size-xxs);
    }
  }
}

//----------------------------------------------------
// / Style - Padding Vertical
//----------------------------------------------------

@mixin musubii-style-padding-vertical($padding-size) {
  padding-top: $padding-size $padding-important;
  padding-bottom: $padding-size $padding-important;
}

@include generate-style($option-generate-style-padding) {
  @if $option-add-style-padding-vertical == true {
    #{$modifier-padding-vertical-xxl} {
      @include musubii-style-padding-vertical($padding-size-xxl);
    }
    #{$modifier-padding-vertical-xl} {
      @include musubii-style-padding-vertical($padding-size-xl);
    }
    #{$modifier-padding-vertical-lg} {
      @include musubii-style-padding-vertical($padding-size-lg);
    }
    #{$modifier-padding-vertical},
    #{$modifier-padding-vertical-md} {
      @include musubii-style-padding-vertical($padding-size-md);
    }
    #{$modifier-padding-vertical-sm} {
      @include musubii-style-padding-vertical($padding-size-sm);
    }
    #{$modifier-padding-vertical-xs} {
      @include musubii-style-padding-vertical($padding-size-xs);
    }
    #{$modifier-padding-vertical-xxs} {
      @include musubii-style-padding-vertical($padding-size-xxs);
    }
  }
}

//----------------------------------------------------
// / Style - Padding Horizontal
//----------------------------------------------------

@mixin musubii-style-padding-horizontal($padding-size) {
  padding-right: $padding-size $padding-important;
  padding-left: $padding-size $padding-important;
}

@include generate-style($option-generate-style-padding) {
  @if $option-add-style-padding-horizontal == true {
    #{$modifier-padding-horizontal-xxl} {
      @include musubii-style-padding-horizontal($padding-size-xxl);
    }
    #{$modifier-padding-horizontal-xl} {
      @include musubii-style-padding-horizontal($padding-size-xl);
    }
    #{$modifier-padding-horizontal-lg} {
      @include musubii-style-padding-horizontal($padding-size-lg);
    }
    #{$modifier-padding-horizontal},
    #{$modifier-padding-horizontal-md} {
      @include musubii-style-padding-horizontal($padding-size-md);
    }
    #{$modifier-padding-horizontal-sm} {
      @include musubii-style-padding-horizontal($padding-size-sm);
    }
    #{$modifier-padding-horizontal-xs} {
      @include musubii-style-padding-horizontal($padding-size-xs);
    }
    #{$modifier-padding-horizontal-xxs} {
      @include musubii-style-padding-horizontal($padding-size-xxs);
    }
  }
}

//----------------------------------------------------
// / Style - Padding Safe
//----------------------------------------------------

@mixin musubii-style-padding-safe() {
  @include safe-area-padding(top);
  @include safe-area-padding(right);
  @include safe-area-padding(bottom);
  @include safe-area-padding(left);
}

@mixin musubii-style-padding-top-safe() {
  @include safe-area-padding(top);
}

@mixin musubii-style-padding-right-safe() {
  @include safe-area-padding(right);
}

@mixin musubii-style-padding-bottom-safe() {
  @include safe-area-padding(bottom);
}

@mixin musubii-style-padding-left-safe() {
  @include safe-area-padding(left);
}

@mixin musubii-style-padding-vertical-safe() {
  @include safe-area-padding(top);
  @include safe-area-padding(bottom);
}

@mixin musubii-style-padding-horizontal-safe() {
  @include safe-area-padding(right);
  @include safe-area-padding(left);
}

@include generate-style($option-generate-style-padding) {
  @if $option-add-style-padding-safe == true {
    #{$modifier-padding-safe} {
      @include musubii-style-padding-safe();
    }
    @if $option-add-style-padding-way == true {
      #{$modifier-padding-top-safe} {
        @include musubii-style-padding-top-safe();
      }
      #{$modifier-padding-right-safe} {
        @include musubii-style-padding-right-safe();
      }
      #{$modifier-padding-bottom-safe} {
        @include musubii-style-padding-bottom-safe();
      }
      #{$modifier-padding-left-safe} {
        @include musubii-style-padding-left-safe();
      }
    }
    @if $option-add-style-padding-vertical == true {
      #{$modifier-padding-vertical-safe} {
        @include musubii-style-padding-vertical-safe();
      }
    }
    @if $option-add-style-padding-horizontal == true {
      #{$modifier-padding-horizontal-safe} {
        @include musubii-style-padding-horizontal-safe();
      }
    }
  }
}
