//----------------------------------------------------
// Utility: Padding
//----------------------------------------------------

//----------------------------------------------------
// / Export Setting
//----------------------------------------------------

@mixin export-padding {
  @if $use-component-padding == true {
    @content;
  }
}

//----------------------------------------------------
// / Add Padding
//----------------------------------------------------

@include export-padding {
  @each $way in $pattern-padding-way {
    @if $way == "all" {
      @each $key, $value in $pattern-padding-size {
        @if $key == "md" {
          &.is-padding,
          &.is-padding-#{$key} {
            padding: $value;
          }
        } @else {
          &.is-padding-#{$key} {
            padding: $value;
          }
        }
      }
    } @else if $way == "vertical" {
      @each $key, $value in $pattern-padding-size {
        @if $key == "md" {
          &.is-padding-top-bottom,
          &.is-padding-top-bottom-#{$key} {
            padding-top: $value;
            padding-bottom: $value;
          }
        } @else {
          &.is-padding-top-bottom-#{$key} {
            padding-top: $value;
            padding-bottom: $value;
          }
        }
      }
    } @else if $way == "horizontal" {
      @each $key, $value in $pattern-padding-size {
        @if $key == "md" {
          &.is-padding-right-left,
          &.is-padding-right-left-#{$key} {
            padding-right: $value;
            padding-left: $value;
          }
        } @else {
          &.is-padding-right-left-#{$key} {
            padding-right: $value;
            padding-left: $value;
          }
        }
      }
    } @else {
      @each $key, $value in $pattern-padding-size {
        @if $key == "md" {
          &.is-padding-#{$way},
          &.is-padding-#{$way}-#{$key} {
            padding-#{$way}: $value;
          }
        } @else {
          &.is-padding-#{$way}-#{$key} {
            padding-#{$way}: $value;
          }
        }
      }
    }
  }
}

//----------------------------------------------------
// / Add Safe Area Padding
//----------------------------------------------------

@include export-padding {
  @each $way in $pattern-safe-area-padding-way {
    &.is-padding-#{$way}-safe {
      @include safe-area-padding($way);
    }
  }
}
