//----------------------------------------------------
// Utilities: Scroll
//----------------------------------------------------

//----------------------------------------------------
// / Style - Scroll
//----------------------------------------------------

@mixin musubii-style-scroll() {
  .is-scroll-x {
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .is-scroll-y {
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@include generate-style($option-generate-style-scroll) {
  @include musubii-style-scroll();
}
