//----------------------------------------------------
// Utilities: Scroll
//----------------------------------------------------

//----------------------------------------------------
// / Variables (Default)
//----------------------------------------------------

// Option
$option-mixin-mode: false !default;
$option-style-scroll: true !default;

//----------------------------------------------------
// / Mixins (Default)
//----------------------------------------------------

@mixin export-style-scroll() {
  @if $option-mixin-mode == false and $option-style-scroll == true {
    @content;
  }
}

//----------------------------------------------------
// / Style - Scroll
//----------------------------------------------------

@mixin musubii-style-scroll() {
  .is-scroll-x {
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .is-scroll-y {
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@include export-style-scroll() {
  @include musubii-style-scroll();
}
