//----------------------------------------------------
// Utilities: Size
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Modifiers
$modifier-size-xxl: "\.is-xxl" !default;
$modifier-size-xl: "\.is-xl" !default;
$modifier-size-lg: "\.is-lg" !default;
$modifier-size-md: "\.is-md" !default;
$modifier-size-sm: "\.is-sm" !default;
$modifier-size-xs: "\.is-xs" !default;
$modifier-size-xxs: "\.is-xxs" !default;

$modifier-size-mobile-xxl: "\.is-mobile-xxl" !default;
$modifier-size-mobile-xl: "\.is-mobile-xl" !default;
$modifier-size-mobile-lg: "\.is-mobile-lg" !default;
$modifier-size-mobile-md: "\.is-mobile-md" !default;
$modifier-size-mobile-sm: "\.is-mobile-sm" !default;
$modifier-size-mobile-xs: "\.is-mobile-xs" !default;
$modifier-size-mobile-xxs: "\.is-mobile-xxs" !default;

$modifier-size-fablet-xxl: "\.is-fablet-xxl" !default;
$modifier-size-fablet-xl: "\.is-fablet-xl" !default;
$modifier-size-fablet-lg: "\.is-fablet-lg" !default;
$modifier-size-fablet-md: "\.is-fablet-md" !default;
$modifier-size-fablet-sm: "\.is-fablet-sm" !default;
$modifier-size-fablet-xs: "\.is-fablet-xs" !default;
$modifier-size-fablet-xxs: "\.is-fablet-xxs" !default;

$modifier-size-tablet-xxl: "\.is-tablet-xxl" !default;
$modifier-size-tablet-xl: "\.is-tablet-xl" !default;
$modifier-size-tablet-lg: "\.is-tablet-lg" !default;
$modifier-size-tablet-md: "\.is-tablet-md" !default;
$modifier-size-tablet-sm: "\.is-tablet-sm" !default;
$modifier-size-tablet-xs: "\.is-tablet-xs" !default;
$modifier-size-tablet-xxs: "\.is-tablet-xxs" !default;

$modifier-size-desktop-xxl: "\.is-desktop-xxl" !default;
$modifier-size-desktop-xl: "\.is-desktop-xl" !default;
$modifier-size-desktop-lg: "\.is-desktop-lg" !default;
$modifier-size-desktop-md: "\.is-desktop-md" !default;
$modifier-size-desktop-sm: "\.is-desktop-sm" !default;
$modifier-size-desktop-xs: "\.is-desktop-xs" !default;
$modifier-size-desktop-xxs: "\.is-desktop-xxs" !default;

$modifier-size-wide-xxl: "\.is-wide-xxl" !default;
$modifier-size-wide-xl: "\.is-wide-xl" !default;
$modifier-size-wide-lg: "\.is-wide-lg" !default;
$modifier-size-wide-md: "\.is-wide-md" !default;
$modifier-size-wide-sm: "\.is-wide-sm" !default;
$modifier-size-wide-xs: "\.is-wide-xs" !default;
$modifier-size-wide-xxs: "\.is-wide-xxs" !default;

$modifier-size-iphone5-only-xxl: "\.is-iphone5-only-xxl" !default;
$modifier-size-iphone5-only-xl: "\.is-iphone5-only-xl" !default;
$modifier-size-iphone5-only-lg: "\.is-iphone5-only-lg" !default;
$modifier-size-iphone5-only-md: "\.is-iphone5-only-md" !default;
$modifier-size-iphone5-only-sm: "\.is-iphone5-only-sm" !default;
$modifier-size-iphone5-only-xs: "\.is-iphone5-only-xs" !default;
$modifier-size-iphone5-only-xxs: "\.is-iphone5-only-xxs" !default;

$modifier-size-mobile-only-xxl: "\.is-mobile-only-xxl" !default;
$modifier-size-mobile-only-xl: "\.is-mobile-only-xl" !default;
$modifier-size-mobile-only-lg: "\.is-mobile-only-lg" !default;
$modifier-size-mobile-only-md: "\.is-mobile-only-md" !default;
$modifier-size-mobile-only-sm: "\.is-mobile-only-sm" !default;
$modifier-size-mobile-only-xs: "\.is-mobile-only-xs" !default;
$modifier-size-mobile-only-xxs: "\.is-mobile-only-xxs" !default;

$modifier-size-fablet-only-xxl: "\.is-fablet-only-xxl" !default;
$modifier-size-fablet-only-xl: "\.is-fablet-only-xl" !default;
$modifier-size-fablet-only-lg: "\.is-fablet-only-lg" !default;
$modifier-size-fablet-only-md: "\.is-fablet-only-md" !default;
$modifier-size-fablet-only-sm: "\.is-fablet-only-sm" !default;
$modifier-size-fablet-only-xs: "\.is-fablet-only-xs" !default;
$modifier-size-fablet-only-xxs: "\.is-fablet-only-xxs" !default;

$modifier-size-tablet-only-xxl: "\.is-tablet-only-xxl" !default;
$modifier-size-tablet-only-xl: "\.is-tablet-only-xl" !default;
$modifier-size-tablet-only-lg: "\.is-tablet-only-lg" !default;
$modifier-size-tablet-only-md: "\.is-tablet-only-md" !default;
$modifier-size-tablet-only-sm: "\.is-tablet-only-sm" !default;
$modifier-size-tablet-only-xs: "\.is-tablet-only-xs" !default;
$modifier-size-tablet-only-xxs: "\.is-tablet-only-xxs" !default;

$modifier-size-desktop-only-xxl: "\.is-desktop-only-xxl" !default;
$modifier-size-desktop-only-xl: "\.is-desktop-only-xl" !default;
$modifier-size-desktop-only-lg: "\.is-desktop-only-lg" !default;
$modifier-size-desktop-only-md: "\.is-desktop-only-md" !default;
$modifier-size-desktop-only-sm: "\.is-desktop-only-sm" !default;
$modifier-size-desktop-only-xs: "\.is-desktop-only-xs" !default;
$modifier-size-desktop-only-xxs: "\.is-desktop-only-xxs" !default;

$modifier-size-landscape-xxl: "\.is-landscape-xxl" !default;
$modifier-size-landscape-xl: "\.is-landscape-xl" !default;
$modifier-size-landscape-lg: "\.is-landscape-lg" !default;
$modifier-size-landscape-md: "\.is-landscape-md" !default;
$modifier-size-landscape-sm: "\.is-landscape-sm" !default;
$modifier-size-landscape-xs: "\.is-landscape-xs" !default;
$modifier-size-landscape-xxs: "\.is-landscape-xxs" !default;

$modifier-size-landscape-all-xxl: "\.is-landscape-all-xxl" !default;
$modifier-size-landscape-all-xl: "\.is-landscape-all-xl" !default;
$modifier-size-landscape-all-lg: "\.is-landscape-all-lg" !default;
$modifier-size-landscape-all-md: "\.is-landscape-all-md" !default;
$modifier-size-landscape-all-sm: "\.is-landscape-all-sm" !default;
$modifier-size-landscape-all-xs: "\.is-landscape-all-xs" !default;
$modifier-size-landscape-all-xxs: "\.is-landscape-all-xxs" !default;

$modifier-size-portrait-xxl: "\.is-portrait-xxl" !default;
$modifier-size-portrait-xl: "\.is-portrait-xl" !default;
$modifier-size-portrait-lg: "\.is-portrait-lg" !default;
$modifier-size-portrait-md: "\.is-portrait-md" !default;
$modifier-size-portrait-sm: "\.is-portrait-sm" !default;
$modifier-size-portrait-xs: "\.is-portrait-xs" !default;
$modifier-size-portrait-xxs: "\.is-portrait-xxs" !default;

$modifier-size-portrait-all-xxl: "\.is-portrait-all-xxl" !default;
$modifier-size-portrait-all-xl: "\.is-portrait-all-xl" !default;
$modifier-size-portrait-all-lg: "\.is-portrait-all-lg" !default;
$modifier-size-portrait-all-md: "\.is-portrait-all-md" !default;
$modifier-size-portrait-all-sm: "\.is-portrait-all-sm" !default;
$modifier-size-portrait-all-xs: "\.is-portrait-all-xs" !default;
$modifier-size-portrait-all-xxs: "\.is-portrait-all-xxs" !default;

$modifier-size-chrome-xxl: "\.is-chrome-xxl" !default;
$modifier-size-chrome-xl: "\.is-chrome-xl" !default;
$modifier-size-chrome-lg: "\.is-chrome-lg" !default;
$modifier-size-chrome-md: "\.is-chrome-md" !default;
$modifier-size-chrome-sm: "\.is-chrome-sm" !default;
$modifier-size-chrome-xs: "\.is-chrome-xs" !default;
$modifier-size-chrome-xxs: "\.is-chrome-xxs" !default;

$modifier-size-firefox-xxl: "\.is-firefox-xxl" !default;
$modifier-size-firefox-xl: "\.is-firefox-xl" !default;
$modifier-size-firefox-lg: "\.is-firefox-lg" !default;
$modifier-size-firefox-md: "\.is-firefox-md" !default;
$modifier-size-firefox-sm: "\.is-firefox-sm" !default;
$modifier-size-firefox-xs: "\.is-firefox-xs" !default;
$modifier-size-firefox-xxs: "\.is-firefox-xxs" !default;

$modifier-size-edge-xxl: "\.is-edge-xxl" !default;
$modifier-size-edge-xl: "\.is-edge-xl" !default;
$modifier-size-edge-lg: "\.is-edge-lg" !default;
$modifier-size-edge-md: "\.is-edge-md" !default;
$modifier-size-edge-sm: "\.is-edge-sm" !default;
$modifier-size-edge-xs: "\.is-edge-xs" !default;
$modifier-size-edge-xxs: "\.is-edge-xxs" !default;

$modifier-size-ie-xxl: "\.is-ie-xxl" !default;
$modifier-size-ie-xl: "\.is-ie-xl" !default;
$modifier-size-ie-lg: "\.is-ie-lg" !default;
$modifier-size-ie-md: "\.is-ie-md" !default;
$modifier-size-ie-sm: "\.is-ie-sm" !default;
$modifier-size-ie-xs: "\.is-ie-xs" !default;
$modifier-size-ie-xxs: "\.is-ie-xxs" !default;

// Size
$size-xxl: $font-size-xxl !default;
$size-xl: $font-size-xl !default;
$size-lg: $font-size-lg !default;
$size-md: $font-size-md !default;
$size-sm: $font-size-sm !default;
$size-xs: $font-size-xs !default;
$size-xxs: $font-size-xxs !default;

// Size Important
$size-important: if($option-important-size == true, !important, null) !default;

//----------------------------------------------------
// / Mixin
//----------------------------------------------------

@mixin musubii-style-size-xxl() {
  font-size: $size-xxl $size-important;
}

@mixin musubii-style-size-xl() {
  font-size: $size-xl $size-important;
}

@mixin musubii-style-size-lg() {
  font-size: $size-lg $size-important;
}

@mixin musubii-style-size-md() {
  font-size: $size-md $size-important;
}

@mixin musubii-style-size-sm() {
  font-size: $size-sm $size-important;
}

@mixin musubii-style-size-xs() {
  font-size: $size-xs $size-important;
}

@mixin musubii-style-size-xxs() {
  font-size: $size-xxs $size-important;
}

//----------------------------------------------------
// / Style - Size Mobile
//----------------------------------------------------

@include generate-style($option-generate-style-size) {
  #{$modifier-size-xxl},
  #{$modifier-size-mobile-xxl} {
    @include musubii-style-size-xxl();
  }
  #{$modifier-size-xl},
  #{$modifier-size-mobile-xl} {
    @include musubii-style-size-xl();
  }
  #{$modifier-size-lg},
  #{$modifier-size-mobile-lg} {
    @include musubii-style-size-lg();
  }
  #{$modifier-size-md},
  #{$modifier-size-mobile-md} {
    @include musubii-style-size-md();
  }
  #{$modifier-size-sm},
  #{$modifier-size-mobile-sm} {
    @include musubii-style-size-sm();
  }
  #{$modifier-size-xs},
  #{$modifier-size-mobile-xs} {
    @include musubii-style-size-xs();
  }
  #{$modifier-size-xxs},
  #{$modifier-size-mobile-xxs} {
    @include musubii-style-size-xxs();
  }
}

//----------------------------------------------------
// / Style - Size Fablet
//----------------------------------------------------

@include generate-style($option-generate-style-size) {
  @include fablet() {
    #{$modifier-size-fablet-xxl} {
      @include musubii-style-size-xxl();
    }
    #{$modifier-size-fablet-xl} {
      @include musubii-style-size-xl();
    }
    #{$modifier-size-fablet-lg} {
      @include musubii-style-size-lg();
    }
    #{$modifier-size-fablet-md} {
      @include musubii-style-size-md();
    }
    #{$modifier-size-fablet-sm} {
      @include musubii-style-size-sm();
    }
    #{$modifier-size-fablet-xs} {
      @include musubii-style-size-xs();
    }
    #{$modifier-size-fablet-xxs} {
      @include musubii-style-size-xxs();
    }
  }
}

//----------------------------------------------------
// / Style - Size Tablet
//----------------------------------------------------

@include generate-style($option-generate-style-size) {
  @include tablet() {
    #{$modifier-size-tablet-xxl} {
      @include musubii-style-size-xxl();
    }
    #{$modifier-size-tablet-xl} {
      @include musubii-style-size-xl();
    }
    #{$modifier-size-tablet-lg} {
      @include musubii-style-size-lg();
    }
    #{$modifier-size-tablet-md} {
      @include musubii-style-size-md();
    }
    #{$modifier-size-tablet-sm} {
      @include musubii-style-size-sm();
    }
    #{$modifier-size-tablet-xs} {
      @include musubii-style-size-xs();
    }
    #{$modifier-size-tablet-xxs} {
      @include musubii-style-size-xxs();
    }
  }
}

//----------------------------------------------------
// / Style - Size Desktop
//----------------------------------------------------

@include generate-style($option-generate-style-size) {
  @include desktop() {
    #{$modifier-size-desktop-xxl} {
      @include musubii-style-size-xxl();
    }
    #{$modifier-size-desktop-xl} {
      @include musubii-style-size-xl();
    }
    #{$modifier-size-desktop-lg} {
      @include musubii-style-size-lg();
    }
    #{$modifier-size-desktop-md} {
      @include musubii-style-size-md();
    }
    #{$modifier-size-desktop-sm} {
      @include musubii-style-size-sm();
    }
    #{$modifier-size-desktop-xs} {
      @include musubii-style-size-xs();
    }
    #{$modifier-size-desktop-xxs} {
      @include musubii-style-size-xxs();
    }
  }
}

//----------------------------------------------------
// / Style - Size Wide
//----------------------------------------------------

@include generate-style($option-generate-style-size) {
  @include wide() {
    #{$modifier-size-wide-xxl} {
      @include musubii-style-size-xxl();
    }
    #{$modifier-size-wide-xl} {
      @include musubii-style-size-xl();
    }
    #{$modifier-size-wide-lg} {
      @include musubii-style-size-lg();
    }
    #{$modifier-size-wide-md} {
      @include musubii-style-size-md();
    }
    #{$modifier-size-wide-sm} {
      @include musubii-style-size-sm();
    }
    #{$modifier-size-wide-xs} {
      @include musubii-style-size-xs();
    }
    #{$modifier-size-wide-xxs} {
      @include musubii-style-size-xxs();
    }
  }
}

//----------------------------------------------------
// / Style - Size iPhone 5 Only
//----------------------------------------------------

@include generate-style($option-generate-style-size) {
  @if $option-add-style-size-only == true {
    @include iphone5-only() {
      #{$modifier-size-iphone5-only-xxl} {
        @include musubii-style-size-xxl();
      }
      #{$modifier-size-iphone5-only-xl} {
        @include musubii-style-size-xl();
      }
      #{$modifier-size-iphone5-only-lg} {
        @include musubii-style-size-lg();
      }
      #{$modifier-size-iphone5-only-md} {
        @include musubii-style-size-md();
      }
      #{$modifier-size-iphone5-only-sm} {
        @include musubii-style-size-sm();
      }
      #{$modifier-size-iphone5-only-xs} {
        @include musubii-style-size-xs();
      }
      #{$modifier-size-iphone5-only-xxs} {
        @include musubii-style-size-xxs();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Size Mobile Only
//----------------------------------------------------

@include generate-style($option-generate-style-size) {
  @if $option-add-style-size-only == true {
    @include mobile-only() {
      #{$modifier-size-mobile-only-xxl} {
        @include musubii-style-size-xxl();
      }
      #{$modifier-size-mobile-only-xl} {
        @include musubii-style-size-xl();
      }
      #{$modifier-size-mobile-only-lg} {
        @include musubii-style-size-lg();
      }
      #{$modifier-size-mobile-only-md} {
        @include musubii-style-size-md();
      }
      #{$modifier-size-mobile-only-sm} {
        @include musubii-style-size-sm();
      }
      #{$modifier-size-mobile-only-xs} {
        @include musubii-style-size-xs();
      }
      #{$modifier-size-mobile-only-xxs} {
        @include musubii-style-size-xxs();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Size Fablet Only
//----------------------------------------------------

@include generate-style($option-generate-style-size) {
  @if $option-add-style-size-only == true {
    @include fablet-only() {
      #{$modifier-size-fablet-only-xxl} {
        @include musubii-style-size-xxl();
      }
      #{$modifier-size-fablet-only-xl} {
        @include musubii-style-size-xl();
      }
      #{$modifier-size-fablet-only-lg} {
        @include musubii-style-size-lg();
      }
      #{$modifier-size-fablet-only-md} {
        @include musubii-style-size-md();
      }
      #{$modifier-size-fablet-only-sm} {
        @include musubii-style-size-sm();
      }
      #{$modifier-size-fablet-only-xs} {
        @include musubii-style-size-xs();
      }
      #{$modifier-size-fablet-only-xxs} {
        @include musubii-style-size-xxs();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Size Tablet Only
//----------------------------------------------------

@include generate-style($option-generate-style-size) {
  @if $option-add-style-size-only == true {
    @include tablet-only() {
      #{$modifier-size-tablet-only-xxl} {
        @include musubii-style-size-xxl();
      }
      #{$modifier-size-tablet-only-xl} {
        @include musubii-style-size-xl();
      }
      #{$modifier-size-tablet-only-lg} {
        @include musubii-style-size-lg();
      }
      #{$modifier-size-tablet-only-md} {
        @include musubii-style-size-md();
      }
      #{$modifier-size-tablet-only-sm} {
        @include musubii-style-size-sm();
      }
      #{$modifier-size-tablet-only-xs} {
        @include musubii-style-size-xs();
      }
      #{$modifier-size-tablet-only-xxs} {
        @include musubii-style-size-xxs();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Size Desktop Only
//----------------------------------------------------

@include generate-style($option-generate-style-size) {
  @if $option-add-style-size-only == true {
    @include desktop-only() {
      #{$modifier-size-desktop-only-xxl} {
        @include musubii-style-size-xxl();
      }
      #{$modifier-size-desktop-only-xl} {
        @include musubii-style-size-xl();
      }
      #{$modifier-size-desktop-only-lg} {
        @include musubii-style-size-lg();
      }
      #{$modifier-size-desktop-only-md} {
        @include musubii-style-size-md();
      }
      #{$modifier-size-desktop-only-sm} {
        @include musubii-style-size-sm();
      }
      #{$modifier-size-desktop-only-xs} {
        @include musubii-style-size-xs();
      }
      #{$modifier-size-desktop-only-xxs} {
        @include musubii-style-size-xxs();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Size Landscape
//----------------------------------------------------

@include generate-style($option-generate-style-size) {
  @if $option-add-style-size-landscape == true {
    @include landscape() {
      #{$modifier-size-landscape-xxl} {
        @include musubii-style-size-xxl();
      }
      #{$modifier-size-landscape-xl} {
        @include musubii-style-size-xl();
      }
      #{$modifier-size-landscape-lg} {
        @include musubii-style-size-lg();
      }
      #{$modifier-size-landscape-md} {
        @include musubii-style-size-md();
      }
      #{$modifier-size-landscape-sm} {
        @include musubii-style-size-sm();
      }
      #{$modifier-size-landscape-xs} {
        @include musubii-style-size-xs();
      }
      #{$modifier-size-landscape-xxs} {
        @include musubii-style-size-xxs();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Size Landscape All
//----------------------------------------------------

@include generate-style($option-generate-style-size) {
  @if $option-add-style-size-landscape == true {
    @include landscape-all() {
      #{$modifier-size-landscape-all-xxl} {
        @include musubii-style-size-xxl();
      }
      #{$modifier-size-landscape-all-xl} {
        @include musubii-style-size-xl();
      }
      #{$modifier-size-landscape-all-lg} {
        @include musubii-style-size-lg();
      }
      #{$modifier-size-landscape-all-md} {
        @include musubii-style-size-md();
      }
      #{$modifier-size-landscape-all-sm} {
        @include musubii-style-size-sm();
      }
      #{$modifier-size-landscape-all-xs} {
        @include musubii-style-size-xs();
      }
      #{$modifier-size-landscape-all-xxs} {
        @include musubii-style-size-xxs();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Size Portrait
//----------------------------------------------------

@include generate-style($option-generate-style-size) {
  @if $option-add-style-size-portrait == true {
    @include portrait() {
      #{$modifier-size-portrait-xxl} {
        @include musubii-style-size-xxl();
      }
      #{$modifier-size-portrait-xl} {
        @include musubii-style-size-xl();
      }
      #{$modifier-size-portrait-lg} {
        @include musubii-style-size-lg();
      }
      #{$modifier-size-portrait-md} {
        @include musubii-style-size-md();
      }
      #{$modifier-size-portrait-sm} {
        @include musubii-style-size-sm();
      }
      #{$modifier-size-portrait-xs} {
        @include musubii-style-size-xs();
      }
      #{$modifier-size-portrait-xxs} {
        @include musubii-style-size-xxs();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Size Portrait All
//----------------------------------------------------

@include generate-style($option-generate-style-size) {
  @if $option-add-style-size-portrait == true {
    @include portrait-all() {
      #{$modifier-size-portrait-all-xxl} {
        @include musubii-style-size-xxl();
      }
      #{$modifier-size-portrait-all-xl} {
        @include musubii-style-size-xl();
      }
      #{$modifier-size-portrait-all-lg} {
        @include musubii-style-size-lg();
      }
      #{$modifier-size-portrait-all-md} {
        @include musubii-style-size-md();
      }
      #{$modifier-size-portrait-all-sm} {
        @include musubii-style-size-sm();
      }
      #{$modifier-size-portrait-all-xs} {
        @include musubii-style-size-xs();
      }
      #{$modifier-size-portrait-all-xxs} {
        @include musubii-style-size-xxs();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Size Chrome
//----------------------------------------------------

@include generate-style($option-generate-style-size) {
  @if $option-add-style-size-browser == true {
    @include chrome() {
      #{$modifier-size-chrome-xxl} {
        @include musubii-style-size-xxl();
      }
      #{$modifier-size-chrome-xl} {
        @include musubii-style-size-xl();
      }
      #{$modifier-size-chrome-lg} {
        @include musubii-style-size-lg();
      }
      #{$modifier-size-chrome-md} {
        @include musubii-style-size-md();
      }
      #{$modifier-size-chrome-sm} {
        @include musubii-style-size-sm();
      }
      #{$modifier-size-chrome-xs} {
        @include musubii-style-size-xs();
      }
      #{$modifier-size-chrome-xxs} {
        @include musubii-style-size-xxs();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Size Firefox
//----------------------------------------------------

@include generate-style($option-generate-style-size) {
  @if $option-add-style-size-browser == true {
    @include firefox() {
      #{$modifier-size-firefox-xxl} {
        @include musubii-style-size-xxl();
      }
      #{$modifier-size-firefox-xl} {
        @include musubii-style-size-xl();
      }
      #{$modifier-size-firefox-lg} {
        @include musubii-style-size-lg();
      }
      #{$modifier-size-firefox-md} {
        @include musubii-style-size-md();
      }
      #{$modifier-size-firefox-sm} {
        @include musubii-style-size-sm();
      }
      #{$modifier-size-firefox-xs} {
        @include musubii-style-size-xs();
      }
      #{$modifier-size-firefox-xxs} {
        @include musubii-style-size-xxs();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Size Edge
//----------------------------------------------------

@include generate-style($option-generate-style-size) {
  @if $option-add-style-size-browser == true {
    @include edge() {
      #{$modifier-size-edge-xxl} {
        @include musubii-style-size-xxl();
      }
      #{$modifier-size-edge-xl} {
        @include musubii-style-size-xl();
      }
      #{$modifier-size-edge-lg} {
        @include musubii-style-size-lg();
      }
      #{$modifier-size-edge-md} {
        @include musubii-style-size-md();
      }
      #{$modifier-size-edge-sm} {
        @include musubii-style-size-sm();
      }
      #{$modifier-size-edge-xs} {
        @include musubii-style-size-xs();
      }
      #{$modifier-size-edge-xxs} {
        @include musubii-style-size-xxs();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Size IE
//----------------------------------------------------

@include generate-style($option-generate-style-size) {
  @if $option-add-style-size-browser == true {
    @include ie() {
      #{$modifier-size-ie-xxl} {
        @include musubii-style-size-xxl();
      }
      #{$modifier-size-ie-xl} {
        @include musubii-style-size-xl();
      }
      #{$modifier-size-ie-lg} {
        @include musubii-style-size-lg();
      }
      #{$modifier-size-ie-md} {
        @include musubii-style-size-md();
      }
      #{$modifier-size-ie-sm} {
        @include musubii-style-size-sm();
      }
      #{$modifier-size-ie-xs} {
        @include musubii-style-size-xs();
      }
      #{$modifier-size-ie-xxs} {
        @include musubii-style-size-xxs();
      }
    }
  }
}
