.button.is-subtle.is-secondary {
  background-color: var(--theme-secondary-2);
  color: var(--theme-secondary-3);
}

@media (hover: hover) and (pointer: fine) {
  .button.is-subtle.is-secondary:hover {
    background-color: var(--theme-secondary-2);
    filter: brightness(0.94);
  }
}
