//----------------------------------------------------
// Config: Common - Next
//----------------------------------------------------

//----------------------------------------------------
// / Base - Global
//----------------------------------------------------

$common-global-primary: var(--root-global-primary) !default;
$common-global-info: var(--root-global-info) !default;
$common-global-success: var(--root-global-success) !default;
$common-global-warning: var(--root-global-warning) !default;
$common-global-danger: var(--root-global-danger) !default;

$common-global-primary-strong: var(--root-global-primary-strong) !default;
$common-global-info-strong: var(--root-global-info-strong) !default;
$common-global-success-strong: var(--root-global-success-strong) !default;
$common-global-warning-strong: var(--root-global-warning-strong) !default;
$common-global-danger-strong: var(--root-global-danger-strong) !default;

$common-global-primary-darken: var(--root-global-primary-darken) !default;
$common-global-info-darken: var(--root-global-info-darken) !default;
$common-global-success-darken: var(--root-global-success-darken) !default;
$common-global-warning-darken: var(--root-global-warning-darken) !default;
$common-global-danger-darken: var(--root-global-danger-darken) !default;

$common-global-primary-lighten: var(--root-global-primary-lighten) !default;
$common-global-info-lighten: var(--root-global-info-lighten) !default;
$common-global-success-lighten: var(--root-global-success-lighten) !default;
$common-global-warning-lighten: var(--root-global-warning-lighten) !default;
$common-global-danger-lighten: var(--root-global-danger-lighten) !default;

$common-global-background-color: var(--root-global-background-color) !default;
$common-global-text-color: var(--root-global-text-color) !default;

//----------------------------------------------------
// / Layout - Section
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Grid
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Box
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Card
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Flex
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Joint
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Space
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Margin
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Padding
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Heading
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Text
//----------------------------------------------------

$common-blockquote-background-color: var(
  --root-blockquote-background-color
) !default;
$common-blockquote-border-left-color: var(
  --root-blockquote-border-left-color
) !default;
$common-code-background-color: var(--root-code-background-color) !default;
$common-code-text-color: var(--root-code-text-color) !default;
$common-pre-background-color: var(--root-pre-background-color) !default;
$common-pre-text-color: var(--root-pre-text-color) !default;

//----------------------------------------------------
// / Module - Button
//----------------------------------------------------

$common-button-paint-text-color: var(--root-button-paint-text-color) !default;
$common-button-focus-shadow-color: var(
  --root-button-focus-shadow-color
) !default;
$common-button-floating-shadow-color: var(
  --root-button-floating-shadow-color
) !default;
$common-button-plain-default-background-color: var(
  --root-button-plain-default-background-color
) !default;
$common-button-plain-default-hover-background-color: var(
  --root-button-plain-default-hover-background-color
) !default;
$common-button-melt-default-hover-background-color: var(
  --root-button-melt-default-hover-background-color
) !default;
$common-button-outline-default-background-color: var(
  --root-button-outline-default-background-color
) !default;
$common-button-outline-default-border-color: var(
  --root-button-outline-default-border-color
) !default;
$common-button-outline-default-hover-background-color: var(
  --root-button-outline-default-hover-background-color
) !default;
$common-button-ghost-default-border-color: var(
  --root-button-ghost-default-border-color
) !default;
$common-button-ghost-default-text-color: var(
  --root-button-ghost-default-text-color
) !default;
$common-button-ghost-default-hover-background-color: var(
  --root-button-ghost-default-hover-background-color
) !default;
$common-button-ghost-default-hover-text-color: var(
  --root-button-ghost-default-hover-text-color
) !default;
$common-button-disabled-background-color: var(
  --root-button-disabled-background-color
) !default;
$common-button-disabled-background-color-alpha: var(
  --root-button-disabled-background-color-alpha
) !default;
$common-button-disabled-text-color: var(
  --root-button-disabled-text-color
) !default;
$common-button-ghost-disabled-background-color: var(
  --root-button-ghost-disabled-background-color
) !default;
$common-button-ghost-disabled-border-color: var(
  --root-button-ghost-disabled-border-color
) !default;
$common-button-ghost-disabled-text-color: var(
  --root-button-ghost-disabled-text-color
) !default;

//----------------------------------------------------
// / Module - Badge
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - List
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Table
//----------------------------------------------------

$common-table-background-color: var(--root-table-background-color) !default;
$common-table-border-color: var(--root-table-border-color) !default;
$common-table-stripe-background-color: var(
  --root-table-stripe-background-color
) !default;
$common-table-paint-background-color: var(
  --root-table-paint-background-color
) !default;
$common-table-paint-text-color: var(--root-table-paint-text-color) !default;
$common-table-spot-background-color: var(
  --root-table-spot-background-color
) !default;
$common-table-danger-background-color: var(
  --root-table-danger-background-color
) !default;

//----------------------------------------------------
// / Module - Form
//----------------------------------------------------

$common-input-background-color: var(--root-input-background-color) !default;
$common-input-border-color: var(--root-input-border-color) !default;
$common-input-shadow-color: var(--root-input-shadow-color) !default;
$common-input-focus-border-color: var(--root-input-focus-border-color) !default;
$common-input-focus-shadow-color: var(--root-input-focus-shadow-color) !default;
$common-input-disabled-background-color: var(
  --root-input-disabled-background-color
) !default;
$common-input-disabled-border-color: var(
  --root-input-disabled-border-color
) !default;
$common-input-disabled-text-color: var(
  --root-input-disabled-text-color
) !default;
$common-input-readonly-background-color: var(
  --root-input-readonly-background-color
) !default;
$common-input-readonly-text-color: var(
  --root-input-readonly-text-color
) !default;
$common-input-placeholder-color: var(--root-input-placeholder-color) !default;
$common-radio-background-color: var(--root-radio-background-color) !default;
$common-radio-before-checked-background-color: var(
  --root-radio-before-checked-background-color
) !default;
$common-radio-checked-border-color: var(
  --root-radio-checked-border-color
) !default;
$common-checkbox-background-color: var(--root-radio-background-color) !default;
$common-checkbox-focus-border-color: var(
  --root-checkbox-focus-border-color
) !default;
$common-checkbox-before-border-color: var(
  --root-checkbox-before-border-color
) !default;
$common-checkbox-checked-background-color: var(
  --root-checkbox-checked-background-color
) !default;
$common-checkbox-checked-border-color: var(
  --root-checkbox-checked-border-color
) !default;
$common-select-angle-border-color: var(
  --root-select-angle-border-color
) !default;

//----------------------------------------------------
// / Module - Icon
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Alert
//----------------------------------------------------

$common-alert-default-background-color: var(
  --root-alert-default-background-color
) !default;
$common-alert-default-border-color: var(
  --root-alert-default-border-color
) !default;
$common-alert-primary-background-color: var(
  --root-alert-primary-background-color
) !default;
$common-alert-primary-border-color: var(
  --root-alert-primary-border-color
) !default;
$common-alert-info-background-color: var(
  --root-alert-info-background-color
) !default;
$common-alert-info-border-color: var(--root-alert-info-border-color) !default;
$common-alert-success-background-color: var(
  --root-alert-success-background-color
) !default;
$common-alert-success-border-color: var(
  --root-alert-success-border-color
) !default;
$common-alert-warning-background-color: var(
  --root-alert-warning-background-color
) !default;
$common-alert-warning-border-color: var(
  --root-alert-warning-border-color
) !default;
$common-alert-danger-background-color: var(
  --root-alert-danger-background-color
) !default;
$common-alert-danger-border-color: var(
  --root-alert-danger-border-color
) !default;

//----------------------------------------------------
// Module - WYSIWYG
//----------------------------------------------------

$common-wysiwyg-link-text-color: var(--root-wysiwyg-link-text-color) !default;
$common-wysiwyg-hr-border-color: var(--root-wysiwyg-hr-border-color) !default;

//----------------------------------------------------
// / Utility - Display
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Size
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Deco
//----------------------------------------------------

$common-deco-text-dark: var(--root-deco-text-dark) !default;
$common-deco-text-dark-1: var(--root-deco-text-dark-1) !default;
$common-deco-text-dark-2: var(--root-deco-text-dark-2) !default;
$common-deco-text-dark-3: var(--root-deco-text-dark-3) !default;
$common-deco-text-dark-4: var(--root-deco-text-dark-4) !default;
$common-deco-text-dark-5: var(--root-deco-text-dark-5) !default;
$common-deco-text-dark-6: var(--root-deco-text-dark-6) !default;
$common-deco-text-dark-7: var(--root-deco-text-dark-7) !default;
$common-deco-text-dark-8: var(--root-deco-text-dark-8) !default;
$common-deco-text-dark-9: var(--root-deco-text-dark-9) !default;

$common-deco-text-light: var(--root-deco-text-light) !default;
$common-deco-text-light-1: var(--root-deco-text-light-1) !default;
$common-deco-text-light-2: var(--root-deco-text-light-2) !default;
$common-deco-text-light-3: var(--root-deco-text-light-3) !default;
$common-deco-text-light-4: var(--root-deco-text-light-4) !default;
$common-deco-text-light-5: var(--root-deco-text-light-5) !default;
$common-deco-text-light-6: var(--root-deco-text-light-6) !default;
$common-deco-text-light-7: var(--root-deco-text-light-7) !default;
$common-deco-text-light-8: var(--root-deco-text-light-8) !default;
$common-deco-text-light-9: var(--root-deco-text-light-9) !default;

//----------------------------------------------------
// / Utility - Clearfix
//----------------------------------------------------

// none
