//----------------------------------------------------
// Config: Common - Next
//----------------------------------------------------

//----------------------------------------------------
// / Yin and Yang
//----------------------------------------------------

$common-yinyang-dark: var(--root-yinyang-dark) !default;
$common-yinyang-dark-1: var(--root-yinyang-dark-1) !default;
$common-yinyang-dark-2: var(--root-yinyang-dark-2) !default;
$common-yinyang-dark-3: var(--root-yinyang-dark-3) !default;
$common-yinyang-dark-4: var(--root-yinyang-dark-4) !default;
$common-yinyang-dark-5: var(--root-yinyang-dark-5) !default;
$common-yinyang-dark-6: var(--root-yinyang-dark-6) !default;
$common-yinyang-dark-7: var(--root-yinyang-dark-7) !default;
$common-yinyang-dark-8: var(--root-yinyang-dark-8) !default;
$common-yinyang-dark-9: var(--root-yinyang-dark-9) !default;

$common-yinyang-light: var(--root-yinyang-light) !default;
$common-yinyang-light-1: var(--root-yinyang-light-1) !default;
$common-yinyang-light-2: var(--root-yinyang-light-2) !default;
$common-yinyang-light-3: var(--root-yinyang-light-3) !default;
$common-yinyang-light-4: var(--root-yinyang-light-4) !default;
$common-yinyang-light-5: var(--root-yinyang-light-5) !default;
$common-yinyang-light-6: var(--root-yinyang-light-6) !default;
$common-yinyang-light-7: var(--root-yinyang-light-7) !default;
$common-yinyang-light-8: var(--root-yinyang-light-8) !default;
$common-yinyang-light-9: var(--root-yinyang-light-9) !default;

//----------------------------------------------------
// / Role
//----------------------------------------------------

$common-role-primary: var(--root-role-primary) !default;
$common-role-info: var(--root-role-info) !default;
$common-role-success: var(--root-role-success) !default;
$common-role-warning: var(--root-role-warning) !default;
$common-role-danger: var(--root-role-danger) !default;

$common-role-primary-strong: var(--root-role-primary-strong) !default;
$common-role-info-strong: var(--root-role-info-strong) !default;
$common-role-success-strong: var(--root-role-success-strong) !default;
$common-role-warning-strong: var(--root-role-warning-strong) !default;
$common-role-danger-strong: var(--root-role-danger-strong) !default;

$common-role-primary-darken: var(--root-role-primary-darken) !default;
$common-role-info-darken: var(--root-role-info-darken) !default;
$common-role-success-darken: var(--root-role-success-darken) !default;
$common-role-warning-darken: var(--root-role-warning-darken) !default;
$common-role-danger-darken: var(--root-role-danger-darken) !default;

$common-role-primary-lighten: var(--root-role-primary-lighten) !default;
$common-role-info-lighten: var(--root-role-info-lighten) !default;
$common-role-success-lighten: var(--root-role-success-lighten) !default;
$common-role-warning-lighten: var(--root-role-warning-lighten) !default;
$common-role-danger-lighten: var(--root-role-danger-lighten) !default;

//----------------------------------------------------
// / Base - Global
//----------------------------------------------------

$common-body-background-color: var(--root-body-background-color) !default;
$common-body-text-color: var(--root-body-text-color) !default;
$common-body-font-family: var(--root-body-font-family) !default;

//----------------------------------------------------
// / Layout - Section
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Grid
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Flex
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Joint
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Space
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Margin
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Padding
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Heading
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Text
//----------------------------------------------------

$common-blockquote-background-color: var(
  --root-blockquote-background-color
) !default;
$common-blockquote-border-left-color: var(
  --root-blockquote-border-left-color
) !default;
$common-code-background-color: var(--root-code-background-color) !default;
$common-code-text-color: var(--root-code-text-color) !default;
$common-code-font-family: var(--root-code-font-family) !default;
$common-pre-background-color: var(--root-pre-background-color) !default;
$common-pre-text-color: var(--root-pre-text-color) !default;
$common-pre-font-family: var(--root-pre-font-family) !default;

//----------------------------------------------------
// / Module - Button
//----------------------------------------------------

$common-button-paint-text-color: var(--root-button-paint-text-color) !default;
$common-button-focus-shadow-color: var(
  --root-button-focus-shadow-color
) !default;
$common-button-floating-shadow-color: var(
  --root-button-floating-shadow-color
) !default;
$common-button-plain-default-background-color: var(
  --root-button-plain-default-background-color
) !default;
$common-button-plain-default-hover-background-color: var(
  --root-button-plain-default-hover-background-color
) !default;
$common-button-melt-default-hover-background-color: var(
  --root-button-melt-default-hover-background-color
) !default;
$common-button-outline-default-background-color: var(
  --root-button-outline-default-background-color
) !default;
$common-button-outline-default-border-color: var(
  --root-button-outline-default-border-color
) !default;
$common-button-outline-default-hover-background-color: var(
  --root-button-outline-default-hover-background-color
) !default;
$common-button-ghost-default-border-color: var(
  --root-button-ghost-default-border-color
) !default;
$common-button-ghost-default-text-color: var(
  --root-button-ghost-default-text-color
) !default;
$common-button-ghost-default-hover-background-color: var(
  --root-button-ghost-default-hover-background-color
) !default;
$common-button-ghost-default-hover-text-color: var(
  --root-button-ghost-default-hover-text-color
) !default;
$common-button-disabled-background-color: var(
  --root-button-disabled-background-color
) !default;
$common-button-disabled-background-color-alpha: var(
  --root-button-disabled-background-color-alpha
) !default;
$common-button-disabled-text-color: var(
  --root-button-disabled-text-color
) !default;
$common-button-ghost-disabled-background-color: var(
  --root-button-ghost-disabled-background-color
) !default;
$common-button-ghost-disabled-border-color: var(
  --root-button-ghost-disabled-border-color
) !default;
$common-button-ghost-disabled-text-color: var(
  --root-button-ghost-disabled-text-color
) !default;

//----------------------------------------------------
// / Module - List
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Table
//----------------------------------------------------

$common-table-background-color: var(--root-table-background-color) !default;
$common-table-border-color: var(--root-table-border-color) !default;
$common-table-stripe-background-color: var(
  --root-table-stripe-background-color
) !default;
$common-table-paint-background-color: var(
  --root-table-paint-background-color
) !default;
$common-table-paint-text-color: var(--root-table-paint-text-color) !default;
$common-table-spot-background-color: var(
  --root-table-spot-background-color
) !default;
$common-table-danger-background-color: var(
  --root-table-danger-background-color
) !default;

//----------------------------------------------------
// / Module - Form
//----------------------------------------------------

$common-input-background-color: var(--root-input-background-color) !default;
$common-input-border-color: var(--root-input-border-color) !default;
$common-input-shadow-color: var(--root-input-shadow-color) !default;
$common-input-focus-border-color: var(--root-input-focus-border-color) !default;
$common-input-focus-shadow-color: var(--root-input-focus-shadow-color) !default;
$common-input-disabled-background-color: var(
  --root-input-disabled-background-color
) !default;
$common-input-disabled-border-color: var(
  --root-input-disabled-border-color
) !default;
$common-input-disabled-text-color: var(
  --root-input-disabled-text-color
) !default;
$common-input-readonly-background-color: var(
  --root-input-readonly-background-color
) !default;
$common-input-readonly-text-color: var(
  --root-input-readonly-text-color
) !default;
$common-input-placeholder-color: var(--root-input-placeholder-color) !default;
$common-radio-background-color: var(--root-radio-background-color) !default;
$common-radio-before-checked-background-color: var(
  --root-radio-before-checked-background-color
) !default;
$common-radio-checked-border-color: var(
  --root-radio-checked-border-color
) !default;
$common-checkbox-background-color: var(--root-radio-background-color) !default;
$common-checkbox-focus-border-color: var(
  --root-checkbox-focus-border-color
) !default;
$common-checkbox-before-border-color: var(
  --root-checkbox-before-border-color
) !default;
$common-checkbox-checked-background-color: var(
  --root-checkbox-checked-background-color
) !default;
$common-checkbox-checked-border-color: var(
  --root-checkbox-checked-border-color
) !default;
$common-select-angle-border-color: var(
  --root-select-angle-border-color
) !default;

//----------------------------------------------------
// / Module - Icon
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Alert
//----------------------------------------------------

$common-alert-default-background-color: var(
  --root-alert-default-background-color
) !default;
$common-alert-default-border-color: var(
  --root-alert-default-border-color
) !default;
$common-alert-primary-background-color: var(
  --root-alert-primary-background-color
) !default;
$common-alert-primary-border-color: var(
  --root-alert-primary-border-color
) !default;
$common-alert-info-background-color: var(
  --root-alert-info-background-color
) !default;
$common-alert-info-border-color: var(--root-alert-info-border-color) !default;
$common-alert-success-background-color: var(
  --root-alert-success-background-color
) !default;
$common-alert-success-border-color: var(
  --root-alert-success-border-color
) !default;
$common-alert-warning-background-color: var(
  --root-alert-warning-background-color
) !default;
$common-alert-warning-border-color: var(
  --root-alert-warning-border-color
) !default;
$common-alert-danger-background-color: var(
  --root-alert-danger-background-color
) !default;
$common-alert-danger-border-color: var(
  --root-alert-danger-border-color
) !default;

//----------------------------------------------------
// Module - WYSIWYG
//----------------------------------------------------

$common-wysiwyg-link-text-color: var(--root-wysiwyg-link-text-color) !default;
$common-wysiwyg-hr-border-color: var(--root-wysiwyg-hr-border-color) !default;

//----------------------------------------------------
// / Utility - Display
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Size
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Deco
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Clearfix
//----------------------------------------------------

// none
