//----------------------------------------------------
// Config: Common - Default
//----------------------------------------------------

//----------------------------------------------------
// / Yin and Yang
//----------------------------------------------------

$common-yinyang-dark: $theme-light-yinyang-dark !default;
$common-yinyang-dark-1: $theme-light-yinyang-dark-1 !default;
$common-yinyang-dark-2: $theme-light-yinyang-dark-2 !default;
$common-yinyang-dark-3: $theme-light-yinyang-dark-3 !default;
$common-yinyang-dark-4: $theme-light-yinyang-dark-4 !default;
$common-yinyang-dark-5: $theme-light-yinyang-dark-5 !default;
$common-yinyang-dark-6: $theme-light-yinyang-dark-6 !default;
$common-yinyang-dark-7: $theme-light-yinyang-dark-7 !default;
$common-yinyang-dark-8: $theme-light-yinyang-dark-8 !default;
$common-yinyang-dark-9: $theme-light-yinyang-dark-9 !default;

$common-yinyang-light: $theme-light-yinyang-light !default;
$common-yinyang-light-1: $theme-light-yinyang-light-1 !default;
$common-yinyang-light-2: $theme-light-yinyang-light-2 !default;
$common-yinyang-light-3: $theme-light-yinyang-light-3 !default;
$common-yinyang-light-4: $theme-light-yinyang-light-4 !default;
$common-yinyang-light-5: $theme-light-yinyang-light-5 !default;
$common-yinyang-light-6: $theme-light-yinyang-light-6 !default;
$common-yinyang-light-7: $theme-light-yinyang-light-7 !default;
$common-yinyang-light-8: $theme-light-yinyang-light-8 !default;
$common-yinyang-light-9: $theme-light-yinyang-light-9 !default;

//----------------------------------------------------
// / Role
//----------------------------------------------------

$common-role-primary: $theme-light-role-primary !default;
$common-role-info: $theme-light-role-info !default;
$common-role-success: $theme-light-role-success !default;
$common-role-warning: $theme-light-role-warning !default;
$common-role-danger: $theme-light-role-danger !default;

$common-role-primary-strong: $theme-light-role-primary-strong !default;
$common-role-info-strong: $theme-light-role-info-strong !default;
$common-role-success-strong: $theme-light-role-success-strong !default;
$common-role-warning-strong: $theme-light-role-warning-strong !default;
$common-role-danger-strong: $theme-light-role-danger-strong !default;

$common-role-primary-darken: $theme-light-role-primary-darken !default;
$common-role-info-darken: $theme-light-role-info-darken !default;
$common-role-success-darken: $theme-light-role-success-darken !default;
$common-role-warning-darken: $theme-light-role-warning-darken !default;
$common-role-danger-darken: $theme-light-role-danger-darken !default;

$common-role-primary-lighten: $theme-light-role-primary-lighten !default;
$common-role-info-lighten: $theme-light-role-info-lighten !default;
$common-role-success-lighten: $theme-light-role-success-lighten !default;
$common-role-warning-lighten: $theme-light-role-warning-lighten !default;
$common-role-danger-lighten: $theme-light-role-danger-lighten !default;

//----------------------------------------------------
// / Base - Global
//----------------------------------------------------

$common-body-background-color: $theme-light-body-background-color !default;
$common-body-text-color: $theme-light-body-text-color !default;
$common-body-font-family: $theme-light-body-font-family !default;

//----------------------------------------------------
// / Layout - Section
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Space
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Grid
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Heading
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Text
//----------------------------------------------------

$common-blockquote-background-color: $theme-light-blockquote-background-color !default;
$common-blockquote-border-left-color: $theme-light-blockquote-border-left-color !default;
$common-code-background-color: $theme-light-code-background-color !default;
$common-code-text-color: $theme-light-code-text-color !default;
$common-code-font-family: $theme-light-code-font-family !default;
$common-pre-background-color: $theme-light-pre-background-color !default;
$common-pre-text-color: $theme-light-pre-text-color !default;
$common-pre-font-family: $theme-light-pre-font-family !default;

//----------------------------------------------------
// / Module - Button
//----------------------------------------------------

$common-button-paint-text-color: $theme-light-button-paint-text-color !default;
$common-button-focus-shadow-color: $theme-light-button-focus-shadow-color !default;
$common-button-floating-shadow-color: $theme-light-button-floating-shadow-color !default;
$common-button-plain-default-background-color: $theme-light-button-plain-default-background-color !default;
$common-button-plain-default-hover-background-color: $theme-light-button-plain-default-hover-background-color !default;
$common-button-melt-default-hover-background-color: $theme-light-button-melt-default-hover-background-color !default;
$common-button-outline-default-background-color: $theme-light-button-outline-default-background-color !default;
$common-button-outline-default-border-color: $theme-light-button-outline-default-border-color !default;
$common-button-outline-default-hover-background-color: $theme-light-button-outline-default-hover-background-color !default;
$common-button-ghost-default-border-color: $theme-light-button-ghost-default-border-color !default;
$common-button-ghost-default-text-color: $theme-light-button-ghost-default-text-color !default;
$common-button-ghost-default-hover-background-color: $theme-light-button-ghost-default-hover-background-color !default;
$common-button-ghost-default-hover-text-color: $theme-light-button-ghost-default-hover-text-color !default;
$common-button-disabled-background-color: $theme-light-button-disabled-background-color !default;
$common-button-disabled-background-color-alpha: $theme-light-button-disabled-background-color-alpha !default;
$common-button-disabled-text-color: $theme-light-button-disabled-text-color !default;
$common-button-ghost-disabled-background-color: $theme-light-button-ghost-disabled-background-color !default;
$common-button-ghost-disabled-border-color: $theme-light-button-ghost-disabled-border-color !default;
$common-button-ghost-disabled-text-color: $theme-light-button-ghost-disabled-text-color !default;

//----------------------------------------------------
// / Module - List
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Table
//----------------------------------------------------

$common-table-background-color: $theme-light-table-background-color !default;
$common-table-border-color: $theme-light-table-border-color !default;
$common-table-stripe-background-color: $theme-light-table-stripe-background-color !default;
$common-table-paint-background-color: $theme-light-table-paint-background-color !default;
$common-table-paint-text-color: $theme-light-table-paint-text-color !default;
$common-table-spot-background-color: $theme-light-table-spot-background-color !default;
$common-table-danger-background-color: $theme-light-table-danger-background-color !default;

//----------------------------------------------------
// / Module - Form
//----------------------------------------------------

$common-input-background-color: $theme-light-input-background-color !default;
$common-input-border-color: $theme-light-input-border-color !default;
$common-input-shadow-color: $theme-light-input-shadow-color !default;
$common-input-focus-border-color: $theme-light-input-focus-border-color !default;
$common-input-focus-shadow-color: $theme-light-input-focus-shadow-color !default;
$common-input-disabled-background-color: $theme-light-input-disabled-background-color !default;
$common-input-disabled-border-color: $theme-light-input-disabled-border-color !default;
$common-input-disabled-text-color: $theme-light-input-disabled-text-color !default;
$common-input-readonly-background-color: $theme-light-input-readonly-background-color !default;
$common-input-readonly-text-color: $theme-light-input-readonly-text-color !default;
$common-input-placeholder-color: $theme-light-input-placeholder-color !default;
$common-radio-background-color: $theme-radio-background-color !default;
$common-radio-before-checked-background-color: $theme-light-radio-checked-background-color !default;
$common-radio-checked-border-color: $theme-light-radio-checked-border-color !default;
$common-checkbox-background-color: $theme-radio-background-color !default;
$common-checkbox-focus-border-color: $theme-light-checkbox-focus-border-color !default;
$common-checkbox-before-border-color: $theme-light-checkbox-before-border-color !default;
$common-checkbox-checked-background-color: $theme-light-checkbox-checked-background-color !default;
$common-checkbox-checked-border-color: $theme-light-checkbox-checked-border-color !default;
$common-select-angle-border-color: $theme-light-select-angle-border-color !default;

//----------------------------------------------------
// / Module - Icon
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Alert
//----------------------------------------------------

$common-alert-default-background-color: $theme-light-alert-default-background-color !default;
$common-alert-default-border-color: $theme-light-alert-default-border-color !default;
$common-alert-primary-background-color: $theme-light-alert-primary-background-color !default;
$common-alert-primary-border-color: $theme-light-alert-primary-border-color !default;
$common-alert-info-background-color: $theme-light-alert-info-background-color !default;
$common-alert-info-border-color: $theme-light-alert-info-border-color !default;
$common-alert-success-background-color: $theme-light-alert-success-background-color !default;
$common-alert-success-border-color: $theme-light-alert-success-border-color !default;
$common-alert-warning-background-color: $theme-light-alert-warning-background-color !default;
$common-alert-warning-border-color: $theme-light-alert-warning-border-color !default;
$common-alert-danger-background-color: $theme-light-alert-danger-background-color !default;
$common-alert-danger-border-color: $theme-light-alert-danger-border-color !default;

//----------------------------------------------------
// Module - WYSIWYG
//----------------------------------------------------

$common-wysiwyg-link-text-color: $theme-light-wysiwyg-link-text-color !default;
$common-wysiwyg-hr-border-color: $theme-light-wysiwyg-hr-border-color !default;

//----------------------------------------------------
// / Utility - Size
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Flex
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Deco
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Display
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Clearfix
//----------------------------------------------------

// none
