//----------------------------------------------------
// Config: Convert
//----------------------------------------------------

$c-vpr: if($u-css-v == true, var(--primary), $t-l-vpr) !default;
$c-vin: if($u-css-v == true, var(--info), $t-l-vin) !default;
$c-vsu: if($u-css-v == true, var(--success), $t-l-vsu) !default;
$c-vwa: if($u-css-v == true, var(--warning), $t-l-vwa) !default;
$c-vda: if($u-css-v == true, var(--danger), $t-l-vda) !default;

$c-vpr-str: if($u-css-v == true, var(--primary-strong), $t-l-vpr-st) !default;
$c-vin-str: if($u-css-v == true, var(--info-strong), $t-l-vin-str) !default;
$c-vsu-str: if($u-css-v == true, var(--success-strong), $t-l-vsu-str) !default;
$c-vwa-str: if($u-css-v == true, var(--warning-strong), $t-l-vwa-str) !default;
$c-vda-str: if($u-css-v == true, var(--danger-strong), $t-l-vda-str) !default;

$c-vpr-dkn: if($u-css-v == true, var(--primary-darken), $t-l-vpr-dkn) !default;
$c-vin-dkn: if($u-css-v == true, var(--info-darken), $t-l-vin-dkn) !default;
$c-vsu-dkn: if($u-css-v == true, var(--success-darken), $t-l-vsu-dkn) !default;
$c-vwa-dkn: if($u-css-v == true, var(--warning-darken), $t-l-vwa-dkn) !default;
$c-vda-dkn: if($u-css-v == true, var(--danger-darken), $t-l-vda-dkn) !default;

$c-vpr-ltn: if($u-css-v == true, var(--primary-lighten), $t-l-vpr-ltn) !default;
$c-vin-ltn: if($u-css-v == true, var(--info-lighten), $t-l-vin-ltn) !default;
$c-vsu-ltn: if($u-css-v == true, var(--success-lighten), $t-l-vsu-ltn) !default;
$c-vwa-ltn: if($u-css-v == true, var(--warning-lighten), $t-l-vwa-ltn) !default;
$c-vda-ltn: if($u-css-v == true, var(--danger-lighten), $t-l-vda-ltn) !default;

$c-bg-cl: if($u-css-v == true, var(--background-color), $t-l-bg-cl) !default;
$c-tx-cl: if($u-css-v == true, var(--text-color), $t-l-tx-cl) !default;

$c-tx-d: if($u-css-v == true, var(--text-dark), $t-l-tx-d) !default;
$c-tx-d-1: if($u-css-v == true, var(--text-dark-1), $t-l-tx-d-1) !default;
$c-tx-d-2: if($u-css-v == true, var(--text-dark-2), $t-l-tx-d-2) !default;
$c-tx-d-3: if($u-css-v == true, var(--text-dark-3), $t-l-tx-d-3) !default;
$c-tx-d-4: if($u-css-v == true, var(--text-dark-4), $t-l-tx-d-4) !default;
$c-tx-d-5: if($u-css-v == true, var(--text-dark-5), $t-l-tx-d-5) !default;
$c-tx-d-6: if($u-css-v == true, var(--text-dark-6), $t-l-tx-d-6) !default;
$c-tx-d-7: if($u-css-v == true, var(--text-dark-7), $t-l-tx-d-7) !default;
$c-tx-d-8: if($u-css-v == true, var(--text-dark-8), $t-l-tx-d-8) !default;
$c-tx-d-9: if($u-css-v == true, var(--text-dark-9), $t-l-tx-d-9) !default;

$c-tx-l: if($u-css-v == true, var(--text-light), $t-l-tx-l) !default;
$c-tx-l-1: if($u-css-v == true, var(--text-light-1), $t-l-tx-l-1) !default;
$c-tx-l-2: if($u-css-v == true, var(--text-light-2), $t-l-tx-l-2) !default;
$c-tx-l-3: if($u-css-v == true, var(--text-light-3), $t-l-tx-l-3) !default;
$c-tx-l-4: if($u-css-v == true, var(--text-light-4), $t-l-tx-l-4) !default;
$c-tx-l-5: if($u-css-v == true, var(--text-light-5), $t-l-tx-l-5) !default;
$c-tx-l-6: if($u-css-v == true, var(--text-light-6), $t-l-tx-l-6) !default;
$c-tx-l-7: if($u-css-v == true, var(--text-light-7), $t-l-tx-l-7) !default;
$c-tx-l-8: if($u-css-v == true, var(--text-light-8), $t-l-tx-l-8) !default;
$c-tx-l-9: if($u-css-v == true, var(--text-light-9), $t-l-tx-l-9) !default;

$c-bq-bg-cl: if($u-css-v == true, var(--blockquote-background-color), $t-l-bq-bg-cl) !default;
$c-bq-bd-lf-cl: if($u-css-v == true, var(--blockquote-border-left-color), $t-l-bq-bd-lf-cl) !default;
$c-cd-bg-cl: if($u-css-v == true, var(--code-background-color), $t-l-cd-bg-cl) !default;
$c-cd-tx-cl: if($u-css-v == true, var(--code-text-color), $t-l-cd-tx-cl) !default;
$c-pr-bg-cl: if($u-css-v == true, var(--pre-background-color), $t-l-pr-bg-cl) !default;
$c-pr-tx-cl: if($u-css-v == true, var(--pre-text-color), $t-l-pr-tx-cl) !default;

$c-btn-pa-tx-cl: if($u-css-v == true, var(--button-paint-text-color), $t-l-btn-pa-tx-cl) !default;
$c-btn-fc-sd-cl: if($u-css-v == true, var(--button-focus-shadow-color), $t-l-btn-fc-sd-cl) !default;
$c-btn-fl-sd-cl: if($u-css-v == true, var(--button-floating-shadow-color), $t-l-btn-fl-sd-cl) !default;
$c-btn-pl-df-bg-cl: if($u-css-v == true, var(--button-plain-default-background-color), $t-l-btn-pl-df-bg-cl) !default;
$c-btn-pl-df-hv-bg-cl: if($u-css-v == true, var(--button-plain-default-hover-background-color), $t-l-btn-pl-df-hv-bg-cl) !default;
$c-btn-me-df-hv-bg-cl: if($u-css-v == true, var(--button-melt-default-hover-background-color), $t-l-btn-me-df-hv-bg-cl) !default;
$c-btn-ot-df-bg-cl: if($u-css-v == true, var(--button-outline-default-background-color), $t-l-btn-ot-df-bg-cl) !default;
$c-btn-ot-df-bd-cl: if($u-css-v == true, var(--button-outline-default-border-color), $t-l-btn-ot-df-bd-cl) !default;
$c-btn-ot-df-hv-bg-cl: if($u-css-v == true, var(--button-outline-default-hover-background-color), $t-l-btn-ot-df-hv-bg-cl) !default;
$c-btn-gh-df-bd-cl: if($u-css-v == true, var(--button-ghost-default-border-color), $t-l-btn-gh-df-bd-cl) !default;
$c-btn-gh-df-tx-cl: if($u-css-v == true, var(--button-ghost-default-text-color), $t-l-btn-gh-df-tx-cl) !default;
$c-btn-gh-df-hv-bg-cl: if($u-css-v == true, var(--button-ghost-default-hover-background-color), $t-l-btn-gh-df-hv-bg-cl) !default;
$c-btn-gh-df-hv-tx-cl: if($u-css-v == true, var(--button-ghost-default-hover-text-color), $t-l-btn-gh-df-hv-tx-cl) !default;
$c-btn-ds-bg-cl: if($u-css-v == true, var(--button-disabled-background-color), $t-l-btn-ds-bg-cl) !default;
$c-btn-ds-bg-cl-ah: if($u-css-v == true, var(--button-disabled-background-color-alpha), $t-l-btn-ds-bg-cl-ah) !default;
$c-btn-ds-tx-cl: if($u-css-v == true, var(--button-disabled-text-color), $t-l-btn-ds-tx-cl) !default;
$c-btn-gh-ds-bg-cl: if($u-css-v == true, var(--button-ghost-disabled-background-color), $t-l-btn-gh-ds-bg-cl) !default;
$c-btn-gh-ds-bd-cl: if($u-css-v == true, var(--button-ghost-disabled-border-color), $t-l-btn-gh-ds-bd-cl) !default;
$c-btn-gh-ds-tx-cl: if($u-css-v == true, var(--button-ghost-disabled-text-color), $t-l-btn-gh-ds-tx-cl) !default;

$c-tbl-bg-cl: if($u-css-v == true, var(--table-background-color), $t-l-tbl-bg-cl) !default;
$c-tbl-bd-cl: if($u-css-v == true, var(--table-border-color), $t-l-tbl-bd-cl) !default;
$c-tbl-st-bg-cl: if($u-css-v == true, var(--table-stripe-background-color), $t-l-tbl-st-bg-cl) !default;
$c-tbl-pa-bg-cl: if($u-css-v == true, var(--table-paint-background-color), $t-l-tbl-pa-bg-cl) !default;
$c-tbl-pa-tx-cl: if($u-css-v == true, var(--table-paint-text-color), $t-l-tbl-pa-tx-cl) !default;
$c-tbl-sp-bg-cl: if($u-css-v == true, var(--table-spot-background-color), $t-l-tbl-sp-bg-cl) !default;
$c-tbl-vda-bg-cl: if($u-css-v == true, var(--table-danger-background-color), $t-l-tbl-vda-bg-cl) !default;

$c-ipt-bg-cl: if($u-css-v == true, var(--input-background-color), $t-l-ipt-bg-cl) !default;
$c-ipt-bd-cl: if($u-css-v == true, var(--input-border-color), $t-l-ipt-bd-cl) !default;
$c-ipt-sd-cl: if($u-css-v == true, var(--input-shadow-color), $t-l-ipt-sd-cl) !default;
$c-ipt-fc-bd-cl: if($u-css-v == true, var(--input-focus-border-color), $t-l-ipt-fc-bd-cl) !default;
$c-ipt-fc-sd-cl: if($u-css-v == true, var(--input-focus-shadow-color), $t-l-ipt-fc-sd-cl) !default;
$c-ipt-ds-bg-cl: if($u-css-v == true, var(--input-disabled-background-color), $t-l-ipt-ds-bg-cl) !default;
$c-ipt-ds-bd-cl: if($u-css-v == true, var(--input-disabled-border-color), $t-l-ipt-ds-bd-cl) !default;
$c-ipt-ds-tx-cl: if($u-css-v == true, var(--input-disabled-text-color), $t-l-ipt-ds-tx-cl) !default;
$c-ipt-rd-bg-cl: if($u-css-v == true, var(--input-readonly-background-color), $t-l-ipt-rd-bg-cl) !default;
$c-ipt-rd-tx-cl: if($u-css-v == true, var(--input-readonly-text-color), $t-l-ipt-rd-tx-cl) !default;
$c-ipt-ph-cl: if($u-css-v == true, var(--input-placeholder-color), $t-l-ipt-ph-cl) !default;
$c-rdo-bg-cl: if($u-css-v == true, var(--radio-background-color), $t-l-rdo-bg-cl) !default;
$c-rdo-bf-ch-bg-cl: if($u-css-v == true, var(--radio-before-checked-background-color), $t-l-rdo-bf-ch-bg-cl) !default;
$c-rdo-ch-bd-cl: if($u-css-v == true, var(--radio-checked-border-color), $t-l-rdo-ch-bd-cl) !default;
$c-chx-bg-cl: if($u-css-v == true, var(--checkbox-background-color), $t-l-chx-bg-cl) !default;
$c-chx-fc-bd-cl: if($u-css-v == true, var(--checkbox-focus-border-color), $t-l-chx-fc-bd-cl) !default;
$c-chx-bf-bd-cl: if($u-css-v == true, var(--checkbox-before-border-color), $t-l-chx-bf-bd-cl) !default;
$c-chx-ch-bg-cl: if($u-css-v == true, var(--checkbox-checked-background-color), $t-l-chx-ch-bg-cl) !default;
$c-chx-ch-bd-cl: if($u-css-v == true, var(--checkbox-checked-border-color), $t-l-chx-ch-bd-cl) !default;
$c-slt-ag-bd-cl: if($u-css-v == true, var(--select-angle-border-color), $t-l-slt-ag-bd-cl) !default;

$c-alr-df-bg-cl: if($u-css-v == true, var(--alert-default-background-color), $t-l-alr-df-bg-cl) !default;
$c-alr-df-bd-cl: if($u-css-v == true, var(--alert-default-border-color), $t-l-alr-df-bd-cl) !default;
$c-alr-vpr-bg-cl: if($u-css-v == true, var(--alert-primary-background-color), $t-l-alr-vpr-bg-cl) !default;
$c-alr-vpr-bd-cl: if($u-css-v == true, var(--alert-primary-border-color), $t-l-alr-vpr-bd-cl) !default;
$c-alr-vin-bg-cl: if($u-css-v == true, var(--alert-info-background-color), $t-l-alr-vin-bg-cl) !default;
$c-alr-vin-bd-cl: if($u-css-v == true, var(--alert-info-border-color), $t-l-alr-vin-bd-cl) !default;
$c-alr-vsu-bg-cl: if($u-css-v == true, var(--alert-success-background-color), $t-l-alr-vsu-bg-cl) !default;
$c-alr-vsu-bd-cl: if($u-css-v == true, var(--alert-success-border-color), $t-l-alr-vsu-bd-cl) !default;
$c-alr-vwa-bg-cl: if($u-css-v == true, var(--alert-warning-background-color), $t-l-alr-vwa-bg-cl) !default;
$c-alr-vwa-bd-cl: if($u-css-v == true, var(--alert-warning-border-color), $t-l-alr-vwa-bd-cl) !default;
$c-alr-vda-bg-cl: if($u-css-v == true, var(--alert-danger-background-color), $t-l-alr-vda-bg-cl) !default;
$c-alr-vda-bd-cl: if($u-css-v == true, var(--alert-danger-border-color), $t-l-alr-vda-bd-cl) !default;

$c-wys-lk-tx-cl: if($u-css-v == true, var(--wysiwyg-link-text-color), $t-l-wys-lk-tx-cl) !default;
$c-wys-hr-bd-cl: if($u-css-v == true, var(--wysiwyg-hr-border-color), $t-l-wys-hr-bd-cl) !default;