//----------------------------------------------------
// Config: Root - Dark
//----------------------------------------------------

:root {
  @include data-theme-dark {
    --theme-primary: #{$theme-dark-primary};
    --theme-info: #{$theme-dark-info};
    --theme-success: #{$theme-dark-success};
    --theme-warning: #{$theme-dark-warning};
    --theme-danger: #{$theme-dark-danger};
    --theme-primary-darken: #{$theme-dark-primary-darken};
    --theme-info-darken: #{$theme-dark-info-darken};
    --theme-success-darken: #{$theme-dark-success-darken};
    --theme-warning-darken: #{$theme-dark-warning-darken};
    --theme-danger-darken: #{$theme-dark-danger-darken};
    //--theme-primary-lighten: #{$theme-dark-primary-lighten};
    //--theme-info-lighten: #{$theme-dark-info-lighten};
    //--theme-success-lighten: #{$theme-dark-success-lighten};
    //--theme-warning-lighten: #{$theme-dark-warning-lighten};
    //--theme-danger-lighten: #{$theme-dark-danger-lighten};
  }
}

:root {
  @include data-theme-dark {
    --theme-body-background-color: #{$theme-dark-body-background-color};
    --theme-body-text-color: #{$theme-dark-body-text-color};
    //--theme-body-font-family: #{$theme-dark-body-font-family};
  }
}

:root {
  @include data-theme-dark {
    --theme-blockquote-background-color: #{$theme-dark-blockquote-background-color};
    --theme-blockquote-border-left-color: #{$theme-dark-blockquote-border-left-color};
    --theme-code-background-color: #{$theme-dark-code-background-color};
    --theme-code-text-color: #{$theme-dark-code-text-color};
    //--theme-code-font-family: #{$theme-dark-code-font-family};
    --theme-pre-background-color: #{$theme-dark-pre-background-color};
    --theme-pre-text-color: #{$theme-dark-pre-text-color};
    //--theme-pre-font-family: #{$theme-dark-pre-font-family};
  }
}

:root {
  @include data-theme-dark {
    //--theme-button-focus-shadow-color: #{$theme-dark-button-focus-shadow-color};
    --theme-button-floating-shadow-color: #{$theme-dark-button-floating-shadow-color};
    --theme-button-plain-default-background-color: #{$theme-dark-button-plain-default-background-color};
    --theme-button-plain-default-hover-background-color: #{$theme-dark-button-plain-default-hover-background-color};
    --theme-button-melt-default-hover-background-color: #{$theme-dark-button-melt-default-hover-background-color};
    --theme-button-outline-default-background-color: #{$theme-dark-button-outline-default-background-color};
    --theme-button-outline-default-border-color: #{$theme-dark-button-outline-default-border-color};
    --theme-button-outline-default-hover-background-color: #{$theme-dark-button-outline-default-hover-background-color};
    --theme-button-ghost-default-border-color: #{$theme-dark-button-ghost-default-border-color};
    --theme-button-ghost-default-text-color: #{$theme-dark-button-ghost-default-text-color};
    --theme-button-ghost-default-hover-background-color: #{$theme-dark-button-ghost-default-hover-background-color};
    --theme-button-ghost-default-hover-text-color: #{$theme-dark-button-ghost-default-hover-text-color};
    --theme-button-disabled-background-color: #{$theme-dark-button-disabled-background-color};
    --theme-button-disabled-background-color-alpha: #{$theme-dark-button-disabled-background-color-alpha};
    --theme-button-disabled-text-color: #{$theme-dark-button-disabled-text-color};
    //--theme-button-ghost-disabled-background-color: #{$theme-dark-button-ghost-disabled-background-color};
    //--theme-button-ghost-disabled-border-color: #{$theme-dark-button-ghost-disabled-border-color};
    //--theme-button-ghost-disabled-text-color: #{$theme-dark-button-ghost-disabled-text-color};
  }
}

:root {
  @include data-theme-dark {
    --theme-table-background-color: #{$theme-dark-table-background-color};
    --theme-table-border-color: #{$theme-dark-table-border-color};
    --theme-table-stripe-background-color: #{$theme-dark-table-stripe-background-color};
    --theme-table-paint-background-color: #{$theme-dark-table-paint-background-color};
    --theme-table-paint-text-color: #{$theme-dark-table-paint-text-color};
    --theme-table-spot-background-color: #{$theme-dark-table-spot-background-color};
    --theme-table-danger-background-color: #{$theme-dark-table-danger-background-color};
  }
}

:root {
  @include data-theme-dark {
    --theme-input-background-color: #{$theme-dark-input-background-color};
    --theme-input-border-color: #{$theme-dark-input-border-color};
    --theme-input-shadow-color: #{$theme-dark-input-shadow-color};
    //--theme-input-focus-border-color: #{$theme-dark-input-focus-border-color};
    //--theme-input-focus-shadow-color: #{$theme-dark-input-focus-shadow-color};
    --theme-input-disabled-background-color: #{$theme-dark-input-disabled-background-color};
    --theme-input-disabled-border-color: #{$theme-dark-input-disabled-border-color};
    --theme-input-disabled-text-color: #{$theme-dark-input-disabled-text-color};
    --theme-input-readonly-background-color: #{$theme-dark-input-readonly-background-color};
    --theme-input-readonly-text-color: #{$theme-dark-input-readonly-text-color};
    --theme-input-placeholder-color: #{$theme-dark-input-placeholder-color};
    --theme-radio-background-color: #{$theme-dark-radio-background-color};
    --theme-radio-before-checked-background-color: #{$theme-dark-radio-before-checked-background-color};
    --theme-radio-checked-border-color: #{$theme-dark-radio-checked-border-color};
    --theme-checkbox-background-color: #{$theme-dark-checkbox-background-color};
    //--theme-checkbox-focus-border-color: #{$theme-dark-checkbox-focus-border-color};
    --theme-checkbox-before-border-color: #{$theme-dark-checkbox-before-border-color};
    --theme-checkbox-checked-background-color: #{$theme-dark-checkbox-checked-background-color};
    --theme-checkbox-checked-border-color: #{$theme-dark-checkbox-checked-border-color};
    --theme-select-angle-border-color: #{$theme-dark-select-angle-border-color};
  }
}

:root {
  @include data-theme-dark {
    --theme-alert-default-background-color: #{$theme-dark-alert-default-background-color};
    --theme-alert-default-border-color: #{$theme-dark-alert-default-border-color};
    --theme-alert-primary-background-color: #{$theme-dark-alert-primary-background-color};
    --theme-alert-primary-border-color: #{$theme-dark-alert-primary-border-color};
    --theme-alert-info-background-color: #{$theme-dark-alert-info-background-color};
    --theme-alert-info-border-color: #{$theme-dark-alert-info-border-color};
    --theme-alert-success-background-color: #{$theme-dark-alert-success-background-color};
    --theme-alert-success-border-color: #{$theme-dark-alert-success-border-color};
    --theme-alert-warning-background-color: #{$theme-dark-alert-warning-background-color};
    --theme-alert-warning-border-color: #{$theme-dark-alert-warning-border-color};
    --theme-alert-danger-background-color: #{$theme-dark-alert-danger-background-color};
    --theme-alert-danger-border-color: #{$theme-dark-alert-danger-border-color};
  }
}

:root {
  @include data-theme-dark {
    --theme-wysiwyg-link-text-color: #{$theme-dark-wysiwyg-link-text-color};
    --theme-wysiwyg-hr-border-color: #{$theme-dark-wysiwyg-hr-border-color};
  }
}
