//----------------------------------------------------
// Config: Root - Dark
//----------------------------------------------------

//----------------------------------------------------
// / Export Setting
//----------------------------------------------------

$default-theme-dark: false !default;
$media-theme-dark: false !default;
$data-theme-dark: true !default;

@mixin export-theme-dark {
  @if $default-theme-dark == true {
    @content;
  }
  @if $media-theme-dark == true {
    @include media-theme-dark {
      @content;
    }
  }
  @if $data-theme-dark == true {
    @include data-theme-dark {
      @content;
    }
  }
}

//----------------------------------------------------
// / Yin and Yang
//----------------------------------------------------

:root {
  @include export-theme-dark {
    --root-yinyang-dark: #{$theme-dark-yinyang-dark};
    --root-yinyang-dark-1: #{$theme-dark-yinyang-dark-1};
    --root-yinyang-dark-2: #{$theme-dark-yinyang-dark-2};
    --root-yinyang-dark-3: #{$theme-dark-yinyang-dark-3};
    --root-yinyang-dark-4: #{$theme-dark-yinyang-dark-4};
    --root-yinyang-dark-5: #{$theme-dark-yinyang-dark-5};
    --root-yinyang-dark-6: #{$theme-dark-yinyang-dark-6};
    --root-yinyang-dark-7: #{$theme-dark-yinyang-dark-7};
    --root-yinyang-dark-8: #{$theme-dark-yinyang-dark-8};
    --root-yinyang-dark-9: #{$theme-dark-yinyang-dark-9};
    //--root-yinyang-light: #{$theme-dark-yinyang-light};
    //--root-yinyang-light-1: #{$theme-dark-yinyang-light-1};
    //--root-yinyang-light-2: #{$theme-dark-yinyang-light-2};
    //--root-yinyang-light-3: #{$theme-dark-yinyang-light-3};
    //--root-yinyang-light-4: #{$theme-dark-yinyang-light-4};
    //--root-yinyang-light-5: #{$theme-dark-yinyang-light-5};
    //--root-yinyang-light-6: #{$theme-dark-yinyang-light-6};
    //--root-yinyang-light-7: #{$theme-dark-yinyang-light-7};
    //--root-yinyang-light-8: #{$theme-dark-yinyang-light-8};
    //--root-yinyang-light-9: #{$theme-dark-yinyang-light-9};
  }
}

//----------------------------------------------------
// / Role
//----------------------------------------------------

:root {
  @include export-theme-dark {
    --root-role-primary: #{$theme-dark-role-primary};
    --root-role-info: #{$theme-dark-role-info};
    --root-role-success: #{$theme-dark-role-success};
    --root-role-warning: #{$theme-dark-role-warning};
    --root-role-danger: #{$theme-dark-role-danger};
    --root-role-primary-strong: #{$theme-dark-role-primary-strong};
    --root-role-info-strong: #{$theme-dark-role-info-strong};
    --root-role-success-strong: #{$theme-dark-role-success-strong};
    --root-role-warning-strong: #{$theme-dark-role-warning-strong};
    --root-role-danger-strong: #{$theme-dark-role-danger-strong};
    --root-role-primary-darken: #{$theme-dark-role-primary-darken};
    --root-role-info-darken: #{$theme-dark-role-info-darken};
    --root-role-success-darken: #{$theme-dark-role-success-darken};
    --root-role-warning-darken: #{$theme-dark-role-warning-darken};
    --root-role-danger-darken: #{$theme-dark-role-danger-darken};
    //--root-role-primary-lighten: #{$theme-dark-role-primary-lighten};
    //--root-role-info-lighten: #{$theme-dark-role-info-lighten};
    //--root-role-success-lighten: #{$theme-dark-role-success-lighten};
    //--root-role-warning-lighten: #{$theme-dark-role-warning-lighten};
    //--root-role-danger-lighten: #{$theme-dark-role-danger-lighten};
  }
}

//----------------------------------------------------
// / Base - Global
//----------------------------------------------------

:root {
  @include export-theme-dark {
    --root-body-background-color: #{$theme-dark-body-background-color};
    --root-body-text-color: #{$theme-dark-body-text-color};
    //--root-body-font-family: #{$theme-dark-body-font-family};
  }
}

//----------------------------------------------------
// / Layout - Section
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Grid
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Box
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Card
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Flex
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Joint
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Space
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Margin
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Padding
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Heading
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Text
//----------------------------------------------------

:root {
  @include export-theme-dark {
    --root-blockquote-background-color: #{$theme-dark-blockquote-background-color};
    --root-blockquote-border-left-color: #{$theme-dark-blockquote-border-left-color};
    --root-code-background-color: #{$theme-dark-code-background-color};
    --root-code-text-color: #{$theme-dark-code-text-color};
    //--root-code-font-family: #{$theme-dark-code-font-family};
    --root-pre-background-color: #{$theme-dark-pre-background-color};
    --root-pre-text-color: #{$theme-dark-pre-text-color};
    //--root-pre-font-family: #{$theme-dark-pre-font-family};
  }
}

//----------------------------------------------------
// / Module - Button
//----------------------------------------------------

:root {
  @include export-theme-dark {
    --root-button-paint-text-color: #{$theme-dark-button-paint-text-color};
    //--root-button-focus-shadow-color: #{$theme-dark-button-focus-shadow-color};
    --root-button-floating-shadow-color: #{$theme-dark-button-floating-shadow-color};
    --root-button-plain-default-background-color: #{$theme-dark-button-plain-default-background-color};
    --root-button-plain-default-hover-background-color: #{$theme-dark-button-plain-default-hover-background-color};
    --root-button-melt-default-hover-background-color: #{$theme-dark-button-melt-default-hover-background-color};
    --root-button-outline-default-background-color: #{$theme-dark-button-outline-default-background-color};
    --root-button-outline-default-border-color: #{$theme-dark-button-outline-default-border-color};
    --root-button-outline-default-hover-background-color: #{$theme-dark-button-outline-default-hover-background-color};
    --root-button-ghost-default-border-color: #{$theme-dark-button-ghost-default-border-color};
    --root-button-ghost-default-text-color: #{$theme-dark-button-ghost-default-text-color};
    --root-button-ghost-default-hover-background-color: #{$theme-dark-button-ghost-default-hover-background-color};
    --root-button-ghost-default-hover-text-color: #{$theme-dark-button-ghost-default-hover-text-color};
    --root-button-disabled-background-color: #{$theme-dark-button-disabled-background-color};
    --root-button-disabled-background-color-alpha: #{$theme-dark-button-disabled-background-color-alpha};
    --root-button-disabled-text-color: #{$theme-dark-button-disabled-text-color};
    //--root-button-ghost-disabled-background-color: #{$theme-dark-button-ghost-disabled-background-color};
    //--root-button-ghost-disabled-border-color: #{$theme-dark-button-ghost-disabled-border-color};
    //--root-button-ghost-disabled-text-color: #{$theme-dark-button-ghost-disabled-text-color};
  }
}

//----------------------------------------------------
// / Module - Badge
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - List
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Table
//----------------------------------------------------

:root {
  @include export-theme-dark {
    --root-table-background-color: #{$theme-dark-table-background-color};
    --root-table-border-color: #{$theme-dark-table-border-color};
    --root-table-stripe-background-color: #{$theme-dark-table-stripe-background-color};
    --root-table-paint-background-color: #{$theme-dark-table-paint-background-color};
    --root-table-paint-text-color: #{$theme-dark-table-paint-text-color};
    --root-table-spot-background-color: #{$theme-dark-table-spot-background-color};
    --root-table-danger-background-color: #{$theme-dark-table-danger-background-color};
  }
}

//----------------------------------------------------
// / Module - Form
//----------------------------------------------------

:root {
  @include export-theme-dark {
    --root-input-background-color: #{$theme-dark-input-background-color};
    --root-input-border-color: #{$theme-dark-input-border-color};
    --root-input-shadow-color: #{$theme-dark-input-shadow-color};
    //--root-input-focus-border-color: #{$theme-dark-input-focus-border-color};
    //--root-input-focus-shadow-color: #{$theme-dark-input-focus-shadow-color};
    --root-input-disabled-background-color: #{$theme-dark-input-disabled-background-color};
    --root-input-disabled-border-color: #{$theme-dark-input-disabled-border-color};
    --root-input-disabled-text-color: #{$theme-dark-input-disabled-text-color};
    --root-input-readonly-background-color: #{$theme-dark-input-readonly-background-color};
    --root-input-readonly-text-color: #{$theme-dark-input-readonly-text-color};
    --root-input-placeholder-color: #{$theme-dark-input-placeholder-color};
    --root-radio-background-color: #{$theme-dark-radio-background-color};
    --root-radio-before-checked-background-color: #{$theme-dark-radio-before-checked-background-color};
    --root-radio-checked-border-color: #{$theme-dark-radio-checked-border-color};
    --root-checkbox-background-color: #{$theme-dark-checkbox-background-color};
    //--root-checkbox-focus-border-color: #{$theme-dark-checkbox-focus-border-color};
    --root-checkbox-before-border-color: #{$theme-dark-checkbox-before-border-color};
    --root-checkbox-checked-background-color: #{$theme-dark-checkbox-checked-background-color};
    --root-checkbox-checked-border-color: #{$theme-dark-checkbox-checked-border-color};
    --root-select-angle-border-color: #{$theme-dark-select-angle-border-color};
  }
}

//----------------------------------------------------
// / Module - Icon
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Alert
//----------------------------------------------------

:root {
  @include export-theme-dark {
    --root-alert-default-background-color: #{$theme-dark-alert-default-background-color};
    --root-alert-default-border-color: #{$theme-dark-alert-default-border-color};
    --root-alert-primary-background-color: #{$theme-dark-alert-primary-background-color};
    --root-alert-primary-border-color: #{$theme-dark-alert-primary-border-color};
    --root-alert-info-background-color: #{$theme-dark-alert-info-background-color};
    --root-alert-info-border-color: #{$theme-dark-alert-info-border-color};
    --root-alert-success-background-color: #{$theme-dark-alert-success-background-color};
    --root-alert-success-border-color: #{$theme-dark-alert-success-border-color};
    --root-alert-warning-background-color: #{$theme-dark-alert-warning-background-color};
    --root-alert-warning-border-color: #{$theme-dark-alert-warning-border-color};
    --root-alert-danger-background-color: #{$theme-dark-alert-danger-background-color};
    --root-alert-danger-border-color: #{$theme-dark-alert-danger-border-color};
  }
}

//----------------------------------------------------
// Module - WYSIWYG
//----------------------------------------------------

:root {
  @include export-theme-dark {
    --root-wysiwyg-link-text-color: #{$theme-dark-wysiwyg-link-text-color};
    --root-wysiwyg-hr-border-color: #{$theme-dark-wysiwyg-hr-border-color};
  }
}

//----------------------------------------------------
// / Utility - Display
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Size
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Deco
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Clearfix
//----------------------------------------------------

// none
