//----------------------------------------------------
// Config: Root - Light
//----------------------------------------------------

:root {
  --theme-primary: #{$theme-light-primary};
  --theme-info: #{$theme-light-info};
  --theme-success: #{$theme-light-success};
  --theme-warning: #{$theme-light-warning};
  --theme-danger: #{$theme-light-danger};
  --theme-primary-darken: #{$theme-light-primary-darken};
  --theme-info-darken: #{$theme-light-info-darken};
  --theme-success-darken: #{$theme-light-success-darken};
  --theme-warning-darken: #{$theme-light-warning-darken};
  --theme-danger-darken: #{$theme-light-danger-darken};
  --theme-primary-lighten: #{$theme-light-primary-lighten};
  --theme-info-lighten: #{$theme-light-info-lighten};
  --theme-success-lighten: #{$theme-light-success-lighten};
  --theme-warning-lighten: #{$theme-light-warning-lighten};
  --theme-danger-lighten: #{$theme-light-danger-lighten};
}

:root {
  --theme-body-background-color: #{$theme-light-body-background-color};
  --theme-body-text-color: #{$theme-light-body-text-color};
  --theme-body-font-family: #{$theme-light-body-font-family};
}

:root {
  --theme-blockquote-background-color: #{$theme-light-blockquote-background-color};
  --theme-blockquote-border-left-color: #{$theme-light-blockquote-border-left-color};
  --theme-code-background-color: #{$theme-light-code-background-color};
  --theme-code-text-color: #{$theme-light-code-text-color};
  --theme-code-font-family: #{$theme-light-code-font-family};
  --theme-pre-background-color: #{$theme-light-pre-background-color};
  --theme-pre-text-color: #{$theme-light-pre-text-color};
  --theme-pre-font-family: #{$theme-light-pre-font-family};
}

:root {
  --theme-button-focus-shadow-color: #{$theme-light-button-focus-shadow-color};
  --theme-button-floating-shadow-color: #{$theme-light-button-floating-shadow-color};
  --theme-button-plain-default-background-color: #{$theme-light-button-plain-default-background-color};
  --theme-button-plain-default-hover-background-color: #{$theme-light-button-plain-default-hover-background-color};
  --theme-button-melt-default-hover-background-color: #{$theme-light-button-melt-default-hover-background-color};
  --theme-button-outline-default-background-color: #{$theme-light-button-outline-default-background-color};
  --theme-button-outline-default-border-color: #{$theme-light-button-outline-default-border-color};
  --theme-button-outline-default-hover-background-color: #{$theme-light-button-outline-default-hover-background-color};
  --theme-button-ghost-default-border-color: #{$theme-light-button-ghost-default-border-color};
  --theme-button-ghost-default-text-color: #{$theme-light-button-ghost-default-text-color};
  --theme-button-ghost-default-hover-background-color: #{$theme-light-button-ghost-default-hover-background-color};
  --theme-button-ghost-default-hover-text-color: #{$theme-light-button-ghost-default-hover-text-color};
  --theme-button-disabled-background-color: #{$theme-light-button-disabled-background-color};
  --theme-button-disabled-background-color-alpha: #{$theme-light-button-disabled-background-color-alpha};
  --theme-button-disabled-text-color: #{$theme-light-button-disabled-text-color};
  --theme-button-ghost-disabled-background-color: #{$theme-light-button-ghost-disabled-background-color};
  --theme-button-ghost-disabled-border-color: #{$theme-light-button-ghost-disabled-border-color};
  --theme-button-ghost-disabled-text-color: #{$theme-light-button-ghost-disabled-text-color};
}

:root {
  --theme-table-background-color: #{$theme-light-table-background-color};
  --theme-table-border-color: #{$theme-light-table-border-color};
  --theme-table-stripe-background-color: #{$theme-light-table-stripe-background-color};
  --theme-table-paint-background-color: #{$theme-light-table-paint-background-color};
  --theme-table-paint-text-color: #{$theme-light-table-paint-text-color};
  --theme-table-spot-background-color: #{$theme-light-table-spot-background-color};
  --theme-table-danger-background-color: #{$theme-light-table-danger-background-color};
}

:root {
  --theme-input-background-color: #{$theme-light-input-background-color};
  --theme-input-border-color: #{$theme-light-input-border-color};
  --theme-input-shadow-color: #{$theme-light-input-shadow-color};
  --theme-input-focus-border-color: #{$theme-light-input-focus-border-color};
  --theme-input-focus-shadow-color: #{$theme-light-input-focus-shadow-color};
  --theme-input-disabled-background-color: #{$theme-light-input-disabled-background-color};
  --theme-input-disabled-border-color: #{$theme-light-input-disabled-border-color};
  --theme-input-disabled-text-color: #{$theme-light-input-disabled-text-color};
  --theme-input-readonly-background-color: #{$theme-light-input-readonly-background-color};
  --theme-input-readonly-text-color: #{$theme-light-input-readonly-text-color};
  --theme-input-placeholder-color: #{$theme-light-input-placeholder-color};
  --theme-radio-checked-background-color: #{$theme-light-radio-checked-background-color};
  --theme-radio-checked-border-color: #{$theme-light-radio-checked-border-color};
  --theme-checkbox-focus-border-color: #{$theme-light-checkbox-focus-border-color};
  --theme-checkbox-checked-background-color: #{$theme-light-checkbox-checked-background-color};
  --theme-checkbox-checked-border-color: #{$theme-light-checkbox-checked-border-color};
  --theme-select-angle-border-color: #{$theme-light-select-angle-border-color};
}

:root {
  --theme-alert-default-background-color: #{$theme-light-alert-default-background-color};
  --theme-alert-default-border-color: #{$theme-light-alert-default-border-color};
  --theme-alert-primary-background-color: #{$theme-light-alert-primary-background-color};
  --theme-alert-primary-border-color: #{$theme-light-alert-primary-border-color};
  --theme-alert-info-background-color: #{$theme-light-alert-info-background-color};
  --theme-alert-info-border-color: #{$theme-light-alert-info-border-color};
  --theme-alert-success-background-color: #{$theme-light-alert-success-background-color};
  --theme-alert-success-border-color: #{$theme-light-alert-success-border-color};
  --theme-alert-warning-background-color: #{$theme-light-alert-warning-background-color};
  --theme-alert-warning-border-color: #{$theme-light-alert-warning-border-color};
  --theme-alert-danger-background-color: #{$theme-light-alert-danger-background-color};
  --theme-alert-danger-border-color: #{$theme-light-alert-danger-border-color};
}

:root {
  --theme-wysiwyg-link-text-color: #{$theme-light-wysiwyg-link-text-color};
  --theme-wysiwyg-hr-border-color: #{$theme-light-wysiwyg-hr-border-color};
}
