//----------------------------------------------------
// Config: Root - Light
//----------------------------------------------------

//----------------------------------------------------
// / Export Setting
//----------------------------------------------------

$use-default-theme-light: true !default;
$use-media-theme-light: false !default;
$use-data-theme-light: false !default;

@mixin export-theme-light {
  @if $use-default-theme-light == true {
    @content;
  }
  @if $use-css-variables == true and $use-media-theme-light == true {
    @include media-theme-light {
      @content;
    }
  }
  @if $use-css-variables == true and $use-data-theme-light == true {
    @include data-theme-light {
      @content;
    }
  }
}

//----------------------------------------------------
// / Base - Global
//----------------------------------------------------

:root {
  @include export-theme-light {
    --root-global-primary: #{$theme-light-global-primary};
    --root-global-info: #{$theme-light-global-info};
    --root-global-success: #{$theme-light-global-success};
    --root-global-warning: #{$theme-light-global-warning};
    --root-global-danger: #{$theme-light-global-danger};
    --root-global-primary-strong: #{$theme-light-global-primary-strong};
    --root-global-info-strong: #{$theme-light-global-info-strong};
    --root-global-success-strong: #{$theme-light-global-success-strong};
    --root-global-warning-strong: #{$theme-light-global-warning-strong};
    --root-global-danger-strong: #{$theme-light-global-danger-strong};
    --root-global-primary-darken: #{$theme-light-global-primary-darken};
    --root-global-info-darken: #{$theme-light-global-info-darken};
    --root-global-success-darken: #{$theme-light-global-success-darken};
    --root-global-warning-darken: #{$theme-light-global-warning-darken};
    --root-global-danger-darken: #{$theme-light-global-danger-darken};
    --root-global-primary-lighten: #{$theme-light-global-primary-lighten};
    --root-global-info-lighten: #{$theme-light-global-info-lighten};
    --root-global-success-lighten: #{$theme-light-global-success-lighten};
    --root-global-warning-lighten: #{$theme-light-global-warning-lighten};
    --root-global-danger-lighten: #{$theme-light-global-danger-lighten};
  }
}

:root {
  @include export-theme-light {
    --root-global-background-color: #{$theme-light-global-background-color};
    --root-global-text-color: #{$theme-light-global-text-color};
  }
}

//----------------------------------------------------
// / Layout - Section
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Grid
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Box
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Card
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Flex
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Joint
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Space
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Margin
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Padding
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Heading
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Text
//----------------------------------------------------

:root {
  @include export-theme-light {
    --root-blockquote-background-color: #{$theme-light-blockquote-background-color};
    --root-blockquote-border-left-color: #{$theme-light-blockquote-border-left-color};
    --root-code-background-color: #{$theme-light-code-background-color};
    --root-code-text-color: #{$theme-light-code-text-color};
    --root-pre-background-color: #{$theme-light-pre-background-color};
    --root-pre-text-color: #{$theme-light-pre-text-color};
  }
}

//----------------------------------------------------
// / Module - Button
//----------------------------------------------------

:root {
  @include export-theme-light {
    --root-button-paint-text-color: #{$theme-light-button-paint-text-color};
    --root-button-focus-shadow-color: #{$theme-light-button-focus-shadow-color};
    --root-button-floating-shadow-color: #{$theme-light-button-floating-shadow-color};
    --root-button-plain-default-background-color: #{$theme-light-button-plain-default-background-color};
    --root-button-plain-default-hover-background-color: #{$theme-light-button-plain-default-hover-background-color};
    --root-button-melt-default-hover-background-color: #{$theme-light-button-melt-default-hover-background-color};
    --root-button-outline-default-background-color: #{$theme-light-button-outline-default-background-color};
    --root-button-outline-default-border-color: #{$theme-light-button-outline-default-border-color};
    --root-button-outline-default-hover-background-color: #{$theme-light-button-outline-default-hover-background-color};
    --root-button-ghost-default-border-color: #{$theme-light-button-ghost-default-border-color};
    --root-button-ghost-default-text-color: #{$theme-light-button-ghost-default-text-color};
    --root-button-ghost-default-hover-background-color: #{$theme-light-button-ghost-default-hover-background-color};
    --root-button-ghost-default-hover-text-color: #{$theme-light-button-ghost-default-hover-text-color};
    --root-button-disabled-background-color: #{$theme-light-button-disabled-background-color};
    --root-button-disabled-background-color-alpha: #{$theme-light-button-disabled-background-color-alpha};
    --root-button-disabled-text-color: #{$theme-light-button-disabled-text-color};
    --root-button-ghost-disabled-background-color: #{$theme-light-button-ghost-disabled-background-color};
    --root-button-ghost-disabled-border-color: #{$theme-light-button-ghost-disabled-border-color};
    --root-button-ghost-disabled-text-color: #{$theme-light-button-ghost-disabled-text-color};
  }
}

//----------------------------------------------------
// / Module - Badge
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - List
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Table
//----------------------------------------------------

:root {
  @include export-theme-light {
    --root-table-background-color: #{$theme-light-table-background-color};
    --root-table-border-color: #{$theme-light-table-border-color};
    --root-table-stripe-background-color: #{$theme-light-table-stripe-background-color};
    --root-table-paint-background-color: #{$theme-light-table-paint-background-color};
    --root-table-paint-text-color: #{$theme-light-table-paint-text-color};
    --root-table-spot-background-color: #{$theme-light-table-spot-background-color};
    --root-table-danger-background-color: #{$theme-light-table-danger-background-color};
  }
}

//----------------------------------------------------
// / Module - Form
//----------------------------------------------------

:root {
  @include export-theme-light {
    --root-input-background-color: #{$theme-light-input-background-color};
    --root-input-border-color: #{$theme-light-input-border-color};
    --root-input-shadow-color: #{$theme-light-input-shadow-color};
    --root-input-focus-border-color: #{$theme-light-input-focus-border-color};
    --root-input-focus-shadow-color: #{$theme-light-input-focus-shadow-color};
    --root-input-disabled-background-color: #{$theme-light-input-disabled-background-color};
    --root-input-disabled-border-color: #{$theme-light-input-disabled-border-color};
    --root-input-disabled-text-color: #{$theme-light-input-disabled-text-color};
    --root-input-readonly-background-color: #{$theme-light-input-readonly-background-color};
    --root-input-readonly-text-color: #{$theme-light-input-readonly-text-color};
    --root-input-placeholder-color: #{$theme-light-input-placeholder-color};
    --root-radio-background-color: #{$theme-light-radio-background-color};
    --root-radio-before-checked-background-color: #{$theme-light-radio-before-checked-background-color};
    --root-radio-checked-border-color: #{$theme-light-radio-checked-border-color};
    --root-checkbox-background-color: #{$theme-light-checkbox-background-color};
    --root-checkbox-focus-border-color: #{$theme-light-checkbox-focus-border-color};
    --root-checkbox-before-border-color: #{$theme-light-checkbox-before-border-color};
    --root-checkbox-checked-background-color: #{$theme-light-checkbox-checked-background-color};
    --root-checkbox-checked-border-color: #{$theme-light-checkbox-checked-border-color};
    --root-select-angle-border-color: #{$theme-light-select-angle-border-color};
  }
}

//----------------------------------------------------
// / Module - Icon
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Alert
//----------------------------------------------------

:root {
  @include export-theme-light {
    --root-alert-default-background-color: #{$theme-light-alert-default-background-color};
    --root-alert-default-border-color: #{$theme-light-alert-default-border-color};
    --root-alert-primary-background-color: #{$theme-light-alert-primary-background-color};
    --root-alert-primary-border-color: #{$theme-light-alert-primary-border-color};
    --root-alert-info-background-color: #{$theme-light-alert-info-background-color};
    --root-alert-info-border-color: #{$theme-light-alert-info-border-color};
    --root-alert-success-background-color: #{$theme-light-alert-success-background-color};
    --root-alert-success-border-color: #{$theme-light-alert-success-border-color};
    --root-alert-warning-background-color: #{$theme-light-alert-warning-background-color};
    --root-alert-warning-border-color: #{$theme-light-alert-warning-border-color};
    --root-alert-danger-background-color: #{$theme-light-alert-danger-background-color};
    --root-alert-danger-border-color: #{$theme-light-alert-danger-border-color};
  }
}

//----------------------------------------------------
// Module - WYSIWYG
//----------------------------------------------------

:root {
  @include export-theme-light {
    --root-wysiwyg-link-text-color: #{$theme-light-wysiwyg-link-text-color};
    --root-wysiwyg-hr-border-color: #{$theme-light-wysiwyg-hr-border-color};
  }
}

//----------------------------------------------------
// / Utility - Display
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Size
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Deco
//----------------------------------------------------

:root {
  @include export-theme-light {
    --root-deco-text-dark: #{$theme-light-deco-text-dark};
    --root-deco-text-dark-1: #{$theme-light-deco-text-dark-1};
    --root-deco-text-dark-2: #{$theme-light-deco-text-dark-2};
    --root-deco-text-dark-3: #{$theme-light-deco-text-dark-3};
    --root-deco-text-dark-4: #{$theme-light-deco-text-dark-4};
    --root-deco-text-dark-5: #{$theme-light-deco-text-dark-5};
    --root-deco-text-dark-6: #{$theme-light-deco-text-dark-6};
    --root-deco-text-dark-7: #{$theme-light-deco-text-dark-7};
    --root-deco-text-dark-8: #{$theme-light-deco-text-dark-8};
    --root-deco-text-dark-9: #{$theme-light-deco-text-dark-9};
    --root-deco-text-light: #{$theme-light-deco-text-light};
    --root-deco-text-light-1: #{$theme-light-deco-text-light-1};
    --root-deco-text-light-2: #{$theme-light-deco-text-light-2};
    --root-deco-text-light-3: #{$theme-light-deco-text-light-3};
    --root-deco-text-light-4: #{$theme-light-deco-text-light-4};
    --root-deco-text-light-5: #{$theme-light-deco-text-light-5};
    --root-deco-text-light-6: #{$theme-light-deco-text-light-6};
    --root-deco-text-light-7: #{$theme-light-deco-text-light-7};
    --root-deco-text-light-8: #{$theme-light-deco-text-light-8};
    --root-deco-text-light-9: #{$theme-light-deco-text-light-9};
  }
}

//----------------------------------------------------
// / Utility - Clearfix
//----------------------------------------------------

// none
