//----------------------------------------------------
// Config: Theme - Light
//----------------------------------------------------

//----------------------------------------------------
// / Yin and Yang
//----------------------------------------------------

$theme-light-yinyang-dark: $black !default;
$theme-light-yinyang-dark-1: rgba($black, 0.87) !default;
$theme-light-yinyang-dark-2: rgba($black, 0.7) !default;
$theme-light-yinyang-dark-3: rgba($black, 0.6) !default;
$theme-light-yinyang-dark-4: rgba($black, 0.5) !default;
$theme-light-yinyang-dark-5: rgba($black, 0.4) !default;
$theme-light-yinyang-dark-6: rgba($black, 0.26) !default;
$theme-light-yinyang-dark-7: rgba($black, 0.15) !default;
$theme-light-yinyang-dark-8: rgba($black, 0.12) !default;
$theme-light-yinyang-dark-9: rgba($black, 0.05) !default;

$theme-light-yinyang-light: $white !default;
$theme-light-yinyang-light-1: rgba($white, 0.87) !default;
$theme-light-yinyang-light-2: rgba($white, 0.7) !default;
$theme-light-yinyang-light-3: rgba($white, 0.6) !default;
$theme-light-yinyang-light-4: rgba($white, 0.5) !default;
$theme-light-yinyang-light-5: rgba($white, 0.4) !default;
$theme-light-yinyang-light-6: rgba($white, 0.26) !default;
$theme-light-yinyang-light-7: rgba($white, 0.15) !default;
$theme-light-yinyang-light-8: rgba($white, 0.12) !default;
$theme-light-yinyang-light-9: rgba($white, 0.05) !default;

//----------------------------------------------------
// / Role
//----------------------------------------------------

$theme-light-role-primary: $cyan-500 !default;
$theme-light-role-info: $blue-500 !default;
$theme-light-role-success: $green-a700 !default;
$theme-light-role-warning: $orange-600 !default;
$theme-light-role-danger: $red-500 !default;

$theme-light-role-primary-strong: $cyan-500 !default;
$theme-light-role-info-strong: $blue-500 !default;
$theme-light-role-success-strong: $green-a700 !default;
$theme-light-role-warning-strong: $orange-600 !default;
$theme-light-role-danger-strong: $red-500 !default;

$theme-light-role-primary-darken: darken($cyan-500, 5%) !default;
$theme-light-role-info-darken: darken($blue-500, 5%) !default;
$theme-light-role-success-darken: darken($green-a700, 5%) !default;
$theme-light-role-warning-darken: darken($orange-600, 5%) !default;
$theme-light-role-danger-darken: darken($red-500, 5%) !default;

$theme-light-role-primary-lighten: lighten($cyan-500, 30%) !default;
$theme-light-role-info-lighten: lighten($blue-500, 30%) !default;
$theme-light-role-success-lighten: lighten($green-a700, 30%) !default;
$theme-light-role-warning-lighten: lighten($orange-600, 30%) !default;
$theme-light-role-danger-lighten: lighten($red-500, 30%) !default;

//----------------------------------------------------
// / Base - Global
//----------------------------------------------------

$theme-light-body-background-color: $light !default;
$theme-light-body-text-color: $dark-2 !default;
$theme-light-body-font-family: $font-sans !default;

//----------------------------------------------------
// / Layout - Section
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Grid
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Flex
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Joint
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Space
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Margin
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Padding
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Heading
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Text
//----------------------------------------------------

$theme-light-blockquote-background-color: $grey-100 !default;
$theme-light-blockquote-border-left-color: $dark-9 !default;
$theme-light-code-background-color: $grey-100 !default;
$theme-light-code-text-color: $indigo-500 !default;
$theme-light-code-font-family: $font-mono !default;
$theme-light-pre-background-color: $grey-100 !default;
$theme-light-pre-text-color: $indigo-500 !default;
$theme-light-pre-font-family: $font-mono !default;

//----------------------------------------------------
// / Module - Button
//----------------------------------------------------

$theme-light-button-paint-text-color: $light !default;
$theme-light-button-focus-shadow-color: rgba($blue-a400, 0.5) !default;
$theme-light-button-floating-shadow-color: rgba($black, 0.24) !default;
$theme-light-button-plain-default-background-color: $grey-100 !default;
$theme-light-button-plain-default-hover-background-color: $grey-200 !default;
$theme-light-button-melt-default-hover-background-color: $dark-9 !default;
$theme-light-button-outline-default-background-color: $light !default;
$theme-light-button-outline-default-border-color: $dark-7 !default;
$theme-light-button-outline-default-hover-background-color: $grey-100 !default;
$theme-light-button-ghost-default-border-color: $grey-50 !default;
$theme-light-button-ghost-default-text-color: $grey-50 !default;
$theme-light-button-ghost-default-hover-background-color: $grey-50 !default;
$theme-light-button-ghost-default-hover-text-color: $dark-2 !default;
$theme-light-button-disabled-background-color: $grey-400 !default;
$theme-light-button-disabled-background-color-alpha: $dark-6 !default;
$theme-light-button-disabled-text-color: $dark-6 !default;
$theme-light-button-ghost-disabled-background-color: $light-8 !default;
$theme-light-button-ghost-disabled-border-color: $light-4 !default;
$theme-light-button-ghost-disabled-text-color: $light-4 !default;

//----------------------------------------------------
// / Module - List
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Table
//----------------------------------------------------

$theme-light-table-background-color: $light !default;
$theme-light-table-border-color: $blue-grey-100 !default;
$theme-light-table-stripe-background-color: $grey-100 !default;
$theme-light-table-paint-background-color: $cyan-500 !default;
$theme-light-table-paint-text-color: $light !default;
$theme-light-table-spot-background-color: $yellow-200 !default;
$theme-light-table-danger-background-color: $red-100 !default;

//----------------------------------------------------
// / Module - Form
//----------------------------------------------------

$theme-light-input-background-color: $light !default;
$theme-light-input-border-color: $dark-6 !default;
$theme-light-input-shadow-color: rgba($black, 0.075) !default;
$theme-light-input-focus-border-color: $blue-500 !default;
$theme-light-input-focus-shadow-color: rgba($blue-a400, 0.36) !default;
$theme-light-input-disabled-background-color: $grey-300 !default;
$theme-light-input-disabled-border-color: $dark-7 !default;
$theme-light-input-disabled-text-color: $dark-6 !default;
$theme-light-input-readonly-background-color: $grey-100 !default;
$theme-light-input-readonly-text-color: $dark-2 !default;
$theme-light-input-placeholder-color: $dark-6 !default;
$theme-light-radio-background-color: $light !default;
$theme-light-radio-before-checked-background-color: $cyan-500 !default;
$theme-light-radio-checked-border-color: $cyan-500 !default;
$theme-light-checkbox-background-color: $light !default;
$theme-light-checkbox-focus-border-color: $blue-500 !default;
$theme-light-checkbox-before-border-color: $light !default;
$theme-light-checkbox-checked-background-color: $cyan-500 !default;
$theme-light-checkbox-checked-border-color: $cyan-500 !default;
$theme-light-select-angle-border-color: $dark-5 !default;

//----------------------------------------------------
// / Module - Icon
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Alert
//----------------------------------------------------

$theme-light-alert-default-background-color: $grey-100 !default;
$theme-light-alert-default-border-color: $grey-300 !default;
$theme-light-alert-primary-background-color: $cyan-50 !default;
$theme-light-alert-primary-border-color: $cyan-200 !default;
$theme-light-alert-info-background-color: $blue-50 !default;
$theme-light-alert-info-border-color: $blue-200 !default;
$theme-light-alert-success-background-color: $green-50 !default;
$theme-light-alert-success-border-color: $green-200 !default;
$theme-light-alert-warning-background-color: $orange-50 !default;
$theme-light-alert-warning-border-color: $orange-200 !default;
$theme-light-alert-danger-background-color: $red-50 !default;
$theme-light-alert-danger-border-color: $red-200 !default;

//----------------------------------------------------
// Module - WYSIWYG
//----------------------------------------------------

$theme-light-wysiwyg-link-text-color: $cyan-500 !default;
$theme-light-wysiwyg-hr-border-color: $dark-7 !default;

//----------------------------------------------------
// / Utility - Display
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Size
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Deco
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Clearfix
//----------------------------------------------------

// none
