//----------------------------------------------------
// Config: Theme - Default
//----------------------------------------------------

//----------------------------------------------------
// / Base - Global
//----------------------------------------------------

$theme-default-global-primary: $cyan-500 !default;
$theme-default-global-info: $blue-500 !default;
$theme-default-global-success: $green-a700 !default;
$theme-default-global-warning: $orange-600 !default;
$theme-default-global-danger: $red-500 !default;
