//----------------------------------------------------
// Config: Theme - Light
//----------------------------------------------------

//----------------------------------------------------
// / Setting
//----------------------------------------------------

$theme-light-primary: $theme-primary !default;
$theme-light-info: $theme-info !default;
$theme-light-success: $theme-success !default;
$theme-light-warning: $theme-warning !default;
$theme-light-danger: $theme-danger !default;

$theme-light-primary-strong: $theme-primary !default;
$theme-light-info-strong: $theme-info !default;
$theme-light-success-strong: $theme-success !default;
$theme-light-warning-strong: $theme-warning !default;
$theme-light-danger-strong: $theme-danger !default;

$theme-light-primary-darken: darken($theme-primary, 5%) !default;
$theme-light-info-darken: darken($theme-info, 5%) !default;
$theme-light-success-darken: darken($theme-success, 5%) !default;
$theme-light-warning-darken: darken($theme-warning, 5%) !default;
$theme-light-danger-darken: darken($theme-danger, 5%) !default;

$theme-light-focus: $theme-focus !default;
$theme-light-focus-darken: darken($theme-focus, 10%) !default;
$theme-light-focus-alpha: rgba($theme-light-focus, 0.5) !default;
$theme-light-focus-alpha-thin: rgba($theme-light-focus, 0.36) !default;

$theme-light-background-color: $light !default;
$theme-light-text-color: $dark-2 !default;

$theme-light-box-default-background-color: $light !default;
$theme-light-box-default-border-color: $dark-7 !default;
$theme-light-box-link-hover-background-color: $grey-100 !default;
$theme-light-box-angle-border-color: $dark-5 !default;

$theme-light-card-default-background-color: $light !default;
$theme-light-card-default-border-color: $dark-7 !default;
$theme-light-card-link-hover-background-color: $grey-100 !default;
//$theme-light-card-focus-shadow-color: $theme-light-focus-alpha !default;
$theme-light-card-floating-shadow-color: rgba($black, 0.24) !default;

$theme-light-text-dark: $black !default;
$theme-light-text-dark-1: rgba($theme-light-text-dark, 0.87) !default;
$theme-light-text-dark-2: rgba($theme-light-text-dark, 0.7) !default;
$theme-light-text-dark-3: rgba($theme-light-text-dark, 0.6) !default;
$theme-light-text-dark-4: rgba($theme-light-text-dark, 0.5) !default;
$theme-light-text-dark-5: rgba($theme-light-text-dark, 0.4) !default;
$theme-light-text-dark-6: rgba($theme-light-text-dark, 0.26) !default;
$theme-light-text-dark-7: rgba($theme-light-text-dark, 0.15) !default;
$theme-light-text-dark-8: rgba($theme-light-text-dark, 0.12) !default;
$theme-light-text-dark-9: rgba($theme-light-text-dark, 0.05) !default;

$theme-light-text-light: $white !default;
$theme-light-text-light-1: rgba($theme-light-text-light, 0.87) !default;
$theme-light-text-light-2: rgba($theme-light-text-light, 0.7) !default;
$theme-light-text-light-3: rgba($theme-light-text-light, 0.6) !default;
$theme-light-text-light-4: rgba($theme-light-text-light, 0.5) !default;
$theme-light-text-light-5: rgba($theme-light-text-light, 0.4) !default;
$theme-light-text-light-6: rgba($theme-light-text-light, 0.26) !default;
$theme-light-text-light-7: rgba($theme-light-text-light, 0.15) !default;
$theme-light-text-light-8: rgba($theme-light-text-light, 0.12) !default;
$theme-light-text-light-9: rgba($theme-light-text-light, 0.05) !default;

$theme-light-blockquote-background-color: $grey-100 !default;
$theme-light-blockquote-border-left-color: $dark-9 !default;
$theme-light-code-background-color: $grey-100 !default;
$theme-light-code-text-color: $indigo-500 !default;
$theme-light-pre-background-color: $theme-light-code-background-color !default;
$theme-light-pre-text-color: $theme-light-code-text-color !default;

$theme-light-button-paint-text-color: $light !default;
//$theme-light-button-focus-shadow-color: $theme-light-focus-alpha !default;
$theme-light-button-floating-shadow-color: rgba($black, 0.24) !default;
$theme-light-button-plain-default-background-color: $grey-100 !default;
$theme-light-button-plain-default-hover-background-color: $grey-200 !default;
$theme-light-button-melt-default-hover-background-color: $dark-9 !default;
$theme-light-button-outline-default-background-color: $light !default;
$theme-light-button-outline-default-border-color: $dark-7 !default;
$theme-light-button-outline-default-hover-background-color: $grey-100 !default;
$theme-light-button-disabled-background-color: $grey-400 !default;
$theme-light-button-disabled-background-color-alpha: $dark-6 !default;
$theme-light-button-disabled-text-color: $dark-6 !default;

$theme-light-table-background-color: $light !default;
$theme-light-table-border-color: $blue-grey-100 !default;
$theme-light-table-stripe-background-color: $grey-100 !default;
$theme-light-table-paint-background-color: $theme-light-primary !default;
$theme-light-table-paint-text-color: $light !default;
$theme-light-table-spot-background-color: $yellow-200 !default;
$theme-light-table-danger-background-color: lighten($theme-light-danger, 29%) !default;

$theme-light-input-background-color: $light !default;
$theme-light-input-border-color: $dark-6 !default;
$theme-light-input-shadow-color: rgba($black, 0.075) !default;
//$theme-light-input-focus-border-color: $theme-light-focus-darken !default;
//$theme-light-input-focus-shadow-color: $theme-light-focus-alpha-thin !default;
$theme-light-input-disabled-background-color: $grey-300 !default;
$theme-light-input-disabled-border-color: $dark-7 !default;
$theme-light-input-disabled-text-color: $dark-6 !default;
$theme-light-input-readonly-background-color: $grey-100 !default;
$theme-light-input-readonly-text-color: $dark-2 !default;
$theme-light-input-placeholder-color: $dark-6 !default;
$theme-light-radio-background-color: $light !default;
//$theme-light-radio-before-checked-background-color: $theme-light-primary !default;
//$theme-light-radio-checked-border-color: $theme-light-primary !default;
$theme-light-checkbox-background-color: $light !default;
//$theme-light-checkbox-focus-border-color: $theme-light-focus-darken !default;
$theme-light-checkbox-before-border-color: $light !default;
//$theme-light-checkbox-checked-background-color: $theme-light-primary !default;
//$theme-light-checkbox-checked-border-color: $theme-light-primary !default;
$theme-light-select-angle-border-color: $dark-5 !default;

$theme-light-alert-default-background-color: $grey-100 !default;
$theme-light-alert-default-border-color: $grey-300 !default;
$theme-light-alert-primary-background-color: lighten($theme-light-primary, 44%) !default;
$theme-light-alert-primary-border-color: lighten($theme-light-primary, 27%) !default;
$theme-light-alert-info-background-color: lighten($theme-light-info, 35%) !default;
$theme-light-alert-info-border-color: lighten($theme-light-info, 21%) !default;
$theme-light-alert-success-background-color: lighten($theme-light-success, 50%) !default;
$theme-light-alert-success-border-color: lighten($theme-light-success, 27%) !default;
$theme-light-alert-warning-background-color: lighten($theme-light-warning, 43%) !default;
$theme-light-alert-warning-border-color: lighten($theme-light-warning, 27%) !default;
$theme-light-alert-danger-background-color: lighten($theme-light-danger, 35%) !default;
$theme-light-alert-danger-border-color: lighten($theme-light-danger, 21%) !default;

//$theme-light-wysiwyg-link-text-color: $theme-light-primary !default;
$theme-light-wysiwyg-hr-border-color: $dark-7 !default;