//----------------------------------------------------
// Config: Theme
//----------------------------------------------------

//----------------------------------------------------
// / Setting
//----------------------------------------------------

$theme-primary: $cyan-500 !default;
$theme-info: $blue-500 !default;
$theme-success: $green-a700 !default;
$theme-warning: $orange-600 !default;
$theme-danger: $red-500 !default;

$theme-focus-border-color: $blue-500 !default;
$theme-focus-shadow-color: $blue-a400 !default;

//----------------------------------------------------
// / Shortcut
//----------------------------------------------------

$t-vpr: $theme-primary !default;
$t-vin: $theme-info !default;
$t-vsu: $theme-success !default;
$t-vwa: $theme-warning !default;
$t-vda: $theme-danger !default;

$t-fc-bd-cl: $theme-focus-border-color !default;
$t-fc-sd-cl: $theme-focus-shadow-color !default;
