//----------------------------------------------------
// Config: Theme - Initial
//----------------------------------------------------

//----------------------------------------------------
// / Base - Global
//----------------------------------------------------

$theme-initial-global-primary: $cyan-500 !default;
$theme-initial-global-info: $blue-500 !default;
$theme-initial-global-success: $green-a700 !default;
$theme-initial-global-warning: $orange-600 !default;
$theme-initial-global-danger: $red-500 !default;

$theme-initial-global-background-color: $light !default;
$theme-initial-global-text-color: $dark-2 !default;
