//----------------------------------------------------
// Config: Theme - Dark
//----------------------------------------------------

$theme-dark-primary: $cyan-700 !default;
$theme-dark-info: $blue-700 !default;
$theme-dark-success: $green-700 !default;
$theme-dark-warning: $orange-900 !default;
$theme-dark-danger: $red-700 !default;

$theme-dark-primary-strong: $cyan-500 !default;
$theme-dark-info-strong: $blue-500 !default;
$theme-dark-success-strong: $green-500 !default;
$theme-dark-warning-strong: $orange-600 !default;
$theme-dark-danger-strong: $red-500 !default;

$theme-dark-primary-darken: darken($cyan-700, 5%) !default;
$theme-dark-info-darken: darken($blue-700, 5%) !default;
$theme-dark-success-darken: darken($green-700, 5%) !default;
$theme-dark-warning-darken: darken($orange-900, 5%) !default;
$theme-dark-danger-darken: darken($red-700, 5%) !default;

//$theme-dark-primary-lighten: lighten($cyan-500, 30%) !default;
//$theme-dark-info-lighten: lighten($blue-500, 30%) !default;
//$theme-dark-success-lighten: lighten($green-a700, 30%) !default;
//$theme-dark-warning-lighten: lighten($orange-600, 30%) !default;
//$theme-dark-danger-lighten: lighten($red-500, 30%) !default;

$theme-dark-body-background-color: $grey-900 !default;
$theme-dark-body-text-color: $light-1 !default;
//$theme-dark-body-font-family: $font-sans !default;

$theme-dark-blockquote-background-color: darken($grey-800, 8%) !default;
$theme-dark-blockquote-border-left-color: $light-9 !default;
$theme-dark-code-background-color: darken($grey-800, 8%) !default;
$theme-dark-code-text-color: $blue-300 !default;
//$theme-dark-code-font-family: $font-mono !default;
$theme-dark-pre-background-color: darken($grey-800, 8%) !default;
$theme-dark-pre-text-color: $blue-300 !default;
//$theme-dark-pre-font-family: $font-mono !default;

$theme-dark-button-paint-text-color: $light-1 !default;
//$theme-dark-button-focus-shadow-color: rgba($blue-a400, 0.5) !default;
$theme-dark-button-floating-shadow-color: rgba($indigo-a400, 0.7) !default;
$theme-dark-button-plain-default-background-color: darken(
  $grey-800,
  8%
) !default;
$theme-dark-button-plain-default-hover-background-color: $grey-800 !default;
$theme-dark-button-melt-default-hover-background-color: $light-9 !default;
$theme-dark-button-outline-default-background-color: $grey-900 !default;
$theme-dark-button-outline-default-border-color: $light-5 !default;
$theme-dark-button-outline-default-hover-background-color: $grey-800 !default;
$theme-dark-button-ghost-default-border-color: $grey-200 !default;
$theme-dark-button-ghost-default-text-color: $grey-50 !default;
$theme-dark-button-ghost-default-hover-background-color: $grey-800 !default;
$theme-dark-button-ghost-default-hover-text-color: $light-1 !default;
$theme-dark-button-disabled-background-color: $grey-700 !default;
$theme-dark-button-disabled-background-color-alpha: $light-8 !default;
$theme-dark-button-disabled-text-color: $light-5 !default;
//$theme-dark-button-ghost-disabled-background-color: $light-8 !default;
//$theme-dark-button-ghost-disabled-border-color: $light-4 !default;
//$theme-dark-button-ghost-disabled-text-color: $light-4 !default;

$theme-dark-table-background-color: $grey-900 !default;
$theme-dark-table-border-color: $grey-700 !default;
$theme-dark-table-stripe-background-color: $light-9 !default;
$theme-dark-table-paint-background-color: rgba($cyan-700, 0.4) !default;
$theme-dark-table-paint-text-color: $light-1 !default;
$theme-dark-table-spot-background-color: rgba($yellow-700, 0.4) !default;
$theme-dark-table-danger-background-color: rgba($red-700, 0.4) !default;

$theme-dark-input-background-color: darken($grey-800, 8%) !default;
$theme-dark-input-border-color: $grey-700 !default;
$theme-dark-input-shadow-color: transparent !default;
//$theme-dark-input-focus-border-color: $blue-500 !default;
//$theme-dark-input-focus-shadow-color: rgba($blue-a400, 0.36) !default;
$theme-dark-input-disabled-background-color: $grey-800 !default;
$theme-dark-input-disabled-border-color: $light-8 !default;
$theme-dark-input-disabled-text-color: $light-6 !default;
$theme-dark-input-readonly-background-color: darken($grey-800, 8%) !default;
$theme-dark-input-readonly-text-color: $light-1 !default;
$theme-dark-input-placeholder-color: $light-6 !default;
$theme-dark-radio-background-color: darken($grey-800, 8%) !default;
$theme-dark-radio-before-checked-background-color: $cyan-500 !default;
$theme-dark-radio-checked-border-color: $cyan-500 !default;
$theme-dark-checkbox-background-color: darken($grey-800, 8%) !default;
//$theme-dark-checkbox-focus-border-color: $blue-500 !default;
$theme-dark-checkbox-before-border-color: $light-1 !default;
$theme-dark-checkbox-checked-background-color: $cyan-700 !default;
$theme-dark-checkbox-checked-border-color: $cyan-700 !default;
$theme-dark-select-angle-border-color: $light-5 !default;

$theme-dark-alert-default-background-color: darken($grey-800, 8%) !default;
$theme-dark-alert-default-border-color: $grey-700 !default;
$theme-dark-alert-primary-background-color: rgba($cyan-700, 0.075) !default;
$theme-dark-alert-primary-border-color: $cyan-700 !default;
$theme-dark-alert-info-background-color: rgba($blue-700, 0.075) !default;
$theme-dark-alert-info-border-color: $blue-700 !default;
$theme-dark-alert-success-background-color: rgba($green-700, 0.075) !default;
$theme-dark-alert-success-border-color: $green-700 !default;
$theme-dark-alert-warning-background-color: rgba($orange-800, 0.075) !default;
$theme-dark-alert-warning-border-color: $orange-800 !default;
$theme-dark-alert-danger-background-color: rgba($red-700, 0.075) !default;
$theme-dark-alert-danger-border-color: $red-700 !default;

$theme-dark-wysiwyg-link-text-color: $cyan-500 !default;
$theme-dark-wysiwyg-hr-border-color: $grey-700 !default;

/*
:root {
  --theme-primary: #277c86;
  --theme-info: #246da4;
  --theme-success: #238223;
  --theme-warning: #be750f;
  --theme-danger: #d43535;
}
:root {
  --theme-body-background-color: #1A1A1A;
  --theme-body-text-color: #D6D6D7;
}
:root {
  --theme-blockquote-background-color: #2A2A2B;
  --theme-code-background-color: #2A2A2B;
  --theme-code-text-color: #8BAADA;
  --theme-pre-background-color: #2A2A2B;
  --theme-pre-text-color: #8BAADA;
}
:root {
  --theme-button-plain-default-background-color: #3E3E3E;
  --theme-button-outline-default-background-color: #3E3E3E;
  --theme-button-outline-default-border-color: #666769;
}
*/
