//----------------------------------------------------
// Config: Use
//----------------------------------------------------

//----------------------------------------------------
// / Setting
//----------------------------------------------------

$use-css-variables: true !default;

$use-default-theme-light: true !default;
$use-media-theme-light: false !default;
$use-data-theme-light: false !default;

$use-default-theme-dark: false !default;
$use-media-theme-dark: false !default;
$use-data-theme-dark: true !default;

//----------------------------------------------------
// / Shortcut
//----------------------------------------------------

$u-css-v: $use-css-variables !default;

$u-df-t-l: $use-default-theme-light !default;
$u-me-t-l: $use-media-theme-light !default;
$u-dt-t-l: $use-data-theme-light !default;

$u-df-t-d: $use-default-theme-dark !default;
$u-me-t-d: $use-media-theme-dark !default;
$u-dt-t-d: $use-data-theme-dark !default;
