//----------------------------------------------------
// Config: Use
//----------------------------------------------------

//----------------------------------------------------
// / Setting
//----------------------------------------------------

$use-css-variables: true !default;

$use-default-theme-light: true !default;
$use-media-theme-light: false !default;
$use-data-theme-light: false !default;

$use-default-theme-dark: false !default;
$use-media-theme-dark: false !default;
$use-data-theme-dark: true !default;

$use-component-global: true !default;
$use-component-section: true !default;
$use-component-grid: true !default;
$use-component-box: true !default;
$use-component-card: true !default;
$use-component-joint: true !default;
$use-component-text: true !default;
$use-component-button: true !default;
$use-component-badge: true !default;
$use-component-list: true !default;
$use-component-table: true !default;
$use-component-form: true !default;
$use-component-iframe: true !default;
$use-component-icon: true !default;
$use-component-alert: true !default;
$use-component-wysiwyg: true !default;
$use-component-display: true !default;
$use-component-size: true !default;
$use-component-flex: true !default;
$use-component-space: true !default;
$use-component-margin: true !default;
$use-component-padding: true !default;
$use-component-overflow: true !default;
$use-component-clearfix: true !default;
