//----------------------------------------------------
// Config: Use
//----------------------------------------------------

// Use CSS Variables
$use-css-variables: true !default;

// Use Theme - Light
$use-default-theme-light: true !default;
$use-media-theme-light: false !default;
$use-data-theme-light: false !default;

// Use Theme - Dark
$use-default-theme-dark: false !default;
$use-media-theme-dark: false !default;
$use-data-theme-dark: true !default;
