//----------------------------------------------------
// Config: Variable
//----------------------------------------------------

//----------------------------------------------------
// / Base - Global
//----------------------------------------------------

// Body
$body-background-color: $c-bg-cl !default;
$body-text-color: $c-tx-cl !default;
$body-font-family: $font-sans !default;
$body-line-height: 1.5 !default;

//----------------------------------------------------
// / Layout - Section
//----------------------------------------------------

// Section Inner
$section-inner-width-fablet: 540px !default;
$section-inner-width-tablet: 720px !default;
$section-inner-width-desktop: 960px !default;
$section-inner-width-wide: 1140px !default;

// Section Inner VW
$section-inner-vw-width-fablet: 90vw !default;

//----------------------------------------------------
// / Layout - Grid
//----------------------------------------------------

// Grid Split
$grid-split: 12 !default;

// Column Class
$column-class: ".column" !default;

// Gap Size
$gap-size-xxl: $space-xxl !default;
$gap-size-xl: $space-xl !default;
$gap-size-lg: $space-lg !default;
$gap-size-md: $space-md !default;
$gap-size-sm: $space-sm !default;
$gap-size-xs: $space-xs !default;
$gap-size-xxs: $space-xxs !default;

// Pattern - Gap Size
$pattern-gap-size: (
  xxl: $gap-size-xxl,
  xl: $gap-size-xl,
  lg: $gap-size-lg,
  md: $gap-size-md,
  sm: $gap-size-sm,
  xs: $gap-size-xs,
  xxs: $gap-size-xxs
) !default;

// Pattern - Gap Way
$pattern-gap-way: all, row, column !default;

//----------------------------------------------------
// / Layout - Box
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Card
//----------------------------------------------------

// none

//----------------------------------------------------
// / Layout - Joint
//----------------------------------------------------

// Joint Class
$joint-class: ".joint" !default;

//----------------------------------------------------
// / Module - Heading
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Text
//----------------------------------------------------

// Texts
$texts-line-height: 1.9 !default;

// Text Link
$text-link-border-bottom-width: 1px !default;
$text-link-border-bottom-style: solid !default;

// Blockquote
$blockquote-background-color: $c-bq-bg-cl !default;
$blockquote-border-left-width: 0.5em !default;
$blockquote-border-left-color: $c-bq-bd-lf-cl !default;
$blockquote-border-radius: $radius-xs !default;
$blockquote-padding: 1.5em !default;

// Code
$code-padding: 0.2em 0.5em !default;
$code-background-color: $c-cd-bg-cl !default;
$code-border-radius: $radius-xs !default;
$code-text-color: $c-cd-tx-cl !default;
$code-font-size: 0.875em !default;
$code-font-family: $font-mono !default;

// Pre
$pre-background-color: $c-pr-bg-cl !default;
$pre-border-radius: $radius-xs !default;
$pre-text-color: $c-pr-tx-cl !default;
$pre-font-family: $font-mono !default;
$pre-white-space: pre !default;
$pre-code-padding: 1.25em 1.5em !default;

//----------------------------------------------------
// / Module - Button
//----------------------------------------------------

// Button Class
$button-class: ".button" !default;

// Button
$button-padding: 0.5em 1em !default;
$button-border-width: 1px !default;
$button-border-radius: $radius-sm !default;
$button-paint-text-color: $c-btn-pa-tx-cl !default;
$button-line-height: 1.5 !default;
$button-transition: ease-out 0.12s !default;
$button-focus-shadow: 0 0 0 $space-xxs $c-btn-fc-sd-cl !default;

// Button Round
$button-round-border-radius: $radius-full !default;

// Button Circle
$button-circle-width: calc(2.5em + 1px * 2) !default;
$button-circle-height: calc(2.5em + 1px * 2) !default;
$button-circle-border-radius: $radius-full !default;

// Button Floating
$button-floating-shadow: 0 1px 3px 0 $c-btn-fl-sd-cl !default;
$button-floating-hover-shadow: 0 4px 12px 0 $c-btn-fl-sd-cl !default;
$button-floating-focus-shadow: 0 0 0 $space-xxs $c-btn-fc-sd-cl,
  0 4px 12px 0 $c-btn-fl-sd-cl !default;

// Button Plain
$button-plain-default-background-color: $c-btn-pl-df-bg-cl !default;
$button-plain-default-hover-background-color: $c-btn-pl-df-hv-bg-cl !default;
$button-plain-primary-background-color: $c-vpr !default;
$button-plain-primary-hover-background-color: $c-vpr-dkn !default;
$button-plain-info-background-color: $c-vin !default;
$button-plain-info-hover-background-color: $c-vin-dkn !default;
$button-plain-success-background-color: $c-vsu !default;
$button-plain-success-hover-background-color: $c-vsu-dkn !default;
$button-plain-warning-background-color: $c-vwa !default;
$button-plain-warning-hover-background-color: $c-vwa-dkn !default;
$button-plain-danger-background-color: $c-vda !default;
$button-plain-danger-hover-background-color: $c-vda-dkn !default;

// Pattern - Button Plain
$pattern-button-plain: (
  primary: (
    background-color: $button-plain-primary-background-color,
    hover-background-color: $button-plain-primary-hover-background-color
  ),
  info: (
    background-color: $button-plain-info-background-color,
    hover-background-color: $button-plain-info-hover-background-color
  ),
  success: (
    background-color: $button-plain-success-background-color,
    hover-background-color: $button-plain-success-hover-background-color
  ),
  warning: (
    background-color: $button-plain-warning-background-color,
    hover-background-color: $button-plain-warning-hover-background-color
  ),
  danger: (
    background-color: $button-plain-danger-background-color,
    hover-background-color: $button-plain-danger-hover-background-color
  )
) !default;

// Button Melt
$button-melt-default-hover-background-color: $c-btn-me-df-hv-bg-cl !default;
$button-melt-primary-text-color: $c-vpr-str !default;
$button-melt-info-text-color: $c-vin-str !default;
$button-melt-success-text-color: $c-vsu-str !default;
$button-melt-warning-text-color: $c-vwa-str !default;
$button-melt-danger-text-color: $c-vda-str !default;

// Pattern - Button Melt
$pattern-button-melt: (
  primary: (
    text-color: $button-melt-primary-text-color
  ),
  info: (
    text-color: $button-melt-info-text-color
  ),
  success: (
    text-color: $button-melt-success-text-color
  ),
  warning: (
    text-color: $button-melt-warning-text-color
  ),
  danger: (
    text-color: $button-melt-danger-text-color
  )
) !default;

// Button Outline
$button-outline-default-background-color: $c-btn-ot-df-bg-cl !default;
$button-outline-default-border-color: $c-btn-ot-df-bd-cl !default;
$button-outline-default-hover-background-color: $c-btn-ot-df-hv-bg-cl !default;
$button-outline-primary-border-color: $c-vpr !default;
$button-outline-primary-text-color: $c-vpr-str !default;
$button-outline-primary-hover-background-color: $c-vpr !default;
$button-outline-info-border-color: $c-vin !default;
$button-outline-info-text-color: $c-vin-str !default;
$button-outline-info-hover-background-color: $c-vin !default;
$button-outline-success-border-color: $c-vsu !default;
$button-outline-success-text-color: $c-vsu-str !default;
$button-outline-success-hover-background-color: $c-vsu !default;
$button-outline-warning-border-color: $c-vwa !default;
$button-outline-warning-text-color: $c-vwa-str !default;
$button-outline-warning-hover-background-color: $c-vwa !default;
$button-outline-danger-border-color: $c-vda !default;
$button-outline-danger-text-color: $c-vda-str !default;
$button-outline-danger-hover-background-color: $c-vda !default;

// Pattern - Button Outline
$pattern-button-outline: (
  primary: (
    border-color: $button-outline-primary-border-color,
    text-color: $button-outline-primary-text-color,
    hover-background-color: $button-outline-primary-hover-background-color
  ),
  info: (
    border-color: $button-outline-info-border-color,
    text-color: $button-outline-info-text-color,
    hover-background-color: $button-outline-info-hover-background-color
  ),
  success: (
    border-color: $button-outline-success-border-color,
    text-color: $button-outline-success-text-color,
    hover-background-color: $button-outline-success-hover-background-color
  ),
  warning: (
    border-color: $button-outline-warning-border-color,
    text-color: $button-outline-warning-text-color,
    hover-background-color: $button-outline-warning-hover-background-color
  ),
  danger: (
    border-color: $button-outline-danger-border-color,
    text-color: $button-outline-danger-text-color,
    hover-background-color: $button-outline-danger-hover-background-color
  )
) !default;

// Button Ghost
$button-ghost-default-border-color: $c-btn-gh-df-bd-cl !default;
$button-ghost-default-text-color: $c-btn-gh-df-tx-cl !default;
$button-ghost-default-hover-background-color: $c-btn-gh-df-hv-bg-cl !default;
$button-ghost-default-hover-text-color: $c-btn-gh-df-hv-tx-cl !default;
$button-ghost-primary-border-color: $c-vpr-ltn !default;
$button-ghost-primary-text-color: $c-vpr-ltn !default;
$button-ghost-primary-hover-background-color: $c-vpr !default;
$button-ghost-info-border-color: $c-vin-ltn !default;
$button-ghost-info-text-color: $c-vin-ltn !default;
$button-ghost-info-hover-background-color: $c-vin !default;
$button-ghost-success-border-color: $c-vsu-ltn !default;
$button-ghost-success-text-color: $c-vsu-ltn !default;
$button-ghost-success-hover-background-color: $c-vsu !default;
$button-ghost-warning-border-color: $c-vwa-ltn !default;
$button-ghost-warning-text-color: $c-vwa-ltn !default;
$button-ghost-warning-hover-background-color: $c-vwa !default;
$button-ghost-danger-border-color: $c-vda-ltn !default;
$button-ghost-danger-text-color: $c-vda-ltn !default;
$button-ghost-danger-hover-background-color: $c-vda !default;

// Pattern - Button Ghost
$pattern-button-ghost: (
  primary: (
    border-color: $button-ghost-primary-border-color,
    text-color: $button-ghost-primary-text-color,
    hover-background-color: $button-ghost-primary-hover-background-color
  ),
  info: (
    border-color: $button-ghost-info-border-color,
    text-color: $button-ghost-info-text-color,
    hover-background-color: $button-ghost-info-hover-background-color
  ),
  success: (
    border-color: $button-ghost-success-border-color,
    text-color: $button-ghost-success-text-color,
    hover-background-color: $button-ghost-success-hover-background-color
  ),
  warning: (
    border-color: $button-ghost-warning-border-color,
    text-color: $button-ghost-warning-text-color,
    hover-background-color: $button-ghost-warning-hover-background-color
  ),
  danger: (
    border-color: $button-ghost-danger-border-color,
    text-color: $button-ghost-danger-text-color,
    hover-background-color: $button-ghost-danger-hover-background-color
  )
) !default;

// Button Disabled
$button-disabled-background-color: $c-btn-ds-bg-cl !default;
$button-disabled-background-color-alpha: $c-btn-ds-bg-cl-ah !default;
$button-disabled-text-color: $c-btn-ds-tx-cl !default;

// Button Ghost Disabled
$button-ghost-disabled-background-color: $c-btn-gh-ds-bg-cl !default;
$button-ghost-disabled-border-color: $c-btn-gh-ds-bd-cl !default;
$button-ghost-disabled-text-color: $c-btn-gh-ds-tx-cl !default;

//----------------------------------------------------
// / Module - Badge
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - List
//----------------------------------------------------

// List
$list-margin-left: 1.5em !default;

// List Item
$list-item-margin-top: 0.25em !default;

// List Note
$list-note-item-margin-left: 0.25em !default;

//----------------------------------------------------
// / Module - Table
//----------------------------------------------------

// Table
$table-padding: 0.75em 1em !default;
$table-background-color: $c-tbl-bg-cl !default;
$table-border-width: 1px !default;
$table-border-color: $c-tbl-bd-cl !default;

// Table Stripe
$table-stripe-background-color: $c-tbl-st-bg-cl !default;

// Table Paint
$table-paint-background-color: $c-tbl-pa-bg-cl !default;
$table-paint-text-color: $c-tbl-pa-tx-cl !default;

// Table Spot
$table-spot-background-color: $c-tbl-sp-bg-cl !default;

// Table Danger
$table-danger-background-color: $c-tbl-vda-bg-cl !default;

//----------------------------------------------------
// / Module - Form
//----------------------------------------------------

// Input
$input-height: 2.5em !default;
$input-padding: 0.5em 0.75em !default;
$input-background-color: $c-ipt-bg-cl !default;
$input-border-width: 1px !default;
$input-border-color: $c-ipt-bd-cl !default;
$input-border-radius: $radius-xs !default;
$input-line-height: 1.5 !default;
$input-shadow: inset 0 1px 1px $c-ipt-sd-cl !default;
$input-transition: ease-out 0.12s !default;

// Input Focus
$input-focus-border-color: $c-ipt-fc-bd-cl !default;
$input-focus-shadow: inset 0 1px 1px $c-ipt-sd-cl,
  0 0 0 $space-xxs $c-ipt-fc-sd-cl !default;

// Input Round
$input-round-border-radius: $radius-full !default;

// Input Disabled
$input-disabled-background-color: $c-ipt-ds-bg-cl !default;
$input-disabled-border-color: $c-ipt-ds-bd-cl !default;
$input-disabled-shadow: none !default;
$input-disabled-text-color: $c-ipt-ds-tx-cl !default;

// Input Readonly
$input-readonly-background-color: $c-ipt-rd-bg-cl !default;
$input-readonly-border-color: transparent !default;
$input-readonly-shadow: none !default;
$input-readonly-text-color: $c-ipt-rd-tx-cl !default;

// Input Placeholder
$input-placeholder-color: $c-ipt-ph-cl !default;

// Textarea
$textarea-padding: calc(0.5em - 1.5px) 0.5em !default;

// Radio
$radio-width: 1em !default;
$radio-border-width: 2px !default;
$radio-gap-default: $space-xs !default;
$radio-gap-after: $space-md !default;
$radio-background-color: $c-rdo-bg-cl !default;
$radio-focus-shadow: 0 0 0 $space-xxs $c-ipt-fc-sd-cl !default;
$radio-before-checked-background-color: $c-rdo-bf-ch-bg-cl !default;
$radio-checked-border-color: $c-rdo-ch-bd-cl !default;

// Checkbox
$checkbox-width: 1em !default;
$checkbox-border-width: 2px !default;
$checkbox-border-radius: 2px !default;
$checkbox-gap-default: $space-xs !default;
$checkbox-gap-after: $space-md !default;
$checkbox-background-color: $c-chx-bg-cl !default;
$checkbox-focus-border-color: $c-chx-fc-bd-cl !default;
$checkbox-focus-shadow: 0 0 0 $space-xxs $c-ipt-fc-sd-cl !default;
$checkbox-before-border-color: $c-chx-bf-bd-cl !default;
$checkbox-checked-background-color: $c-chx-ch-bg-cl !default;
$checkbox-checked-border-color: $c-chx-ch-bd-cl !default;

// Select
$select-angle-size: 0.5em !default;
$select-angle-border-width: 2px !default;
$select-angle-border-color: $c-slt-ag-bd-cl !default;
$select-focus-shadow: 0 0 0 $space-xxs $c-ipt-fc-sd-cl !default;

//----------------------------------------------------
// / Module - iframe
//----------------------------------------------------

// iframe Aspect Ratio
$iframe-aspect-16x9: 9 / 16 * 100% !default;

// Pattern - iframe Aspect Ratio
$pattern-iframe-aspect: (
  16x9: $iframe-aspect-16x9
) !default;

//----------------------------------------------------
// / Module - Icon
//----------------------------------------------------

// Icon Class
$icon-class-default: ".icon, .im, .fa, .fas, .far, .fal, .fab, .material-icons" !default;
$icon-class: $icon-class-default !default;

// Icon Fit
$icon-fit-width: 1em !default;

//----------------------------------------------------
// / Module - Alert
//----------------------------------------------------

// Alert
$alert-padding: 0.675em 0.875em !default;
$alert-border-width: 1px !default;
$alert-border-radius: 2px !default;
$alert-default-background-color: $c-alr-df-bg-cl !default;
$alert-default-border-color: $c-alr-df-bd-cl !default;
$alert-primary-background-color: $c-alr-vpr-bg-cl !default;
$alert-primary-border-color: $c-alr-vpr-bd-cl !default;
$alert-info-background-color: $c-alr-vin-bg-cl !default;
$alert-info-border-color: $c-alr-vin-bd-cl !default;
$alert-success-background-color: $c-alr-vsu-bg-cl !default;
$alert-success-border-color: $c-alr-vsu-bd-cl !default;
$alert-warning-background-color: $c-alr-vwa-bg-cl !default;
$alert-warning-border-color: $c-alr-vwa-bd-cl !default;
$alert-danger-background-color: $c-alr-vda-bg-cl !default;
$alert-danger-border-color: $c-alr-vda-bd-cl !default;

// Pattern - Alert
$pattern-alert: (
  primary: (
    background-color: $alert-primary-background-color,
    border-color: $alert-primary-border-color
  ),
  info: (
    background-color: $alert-info-background-color,
    border-color: $alert-info-border-color
  ),
  success: (
    background-color: $alert-success-background-color,
    border-color: $alert-success-border-color
  ),
  warning: (
    background-color: $alert-warning-background-color,
    border-color: $alert-warning-border-color
  ),
  danger: (
    background-color: $alert-danger-background-color,
    border-color: $alert-danger-border-color
  )
) !default;

//----------------------------------------------------
// Module - WYSIWYG
//----------------------------------------------------

// WYSIWYG Heading
$wysiwyg-heading-font-weight: 700 !default;
$wysiwyg-h1-font-size: 2em !default;
$wysiwyg-h2-font-size: 1.5em !default;
$wysiwyg-h3-font-size: 1.25em !default;
$wysiwyg-h4-font-size: 1em !default;
$wysiwyg-h5-font-size: 0.875em !default;
$wysiwyg-h6-font-size: 0.75em !default;

// WYSIWYG Small
$wysiwyg-small-font-size: 80% !default;

// WYSIWYG Strong
$wysiwyg-strong-font-weight: 700 !default;

// WYSIWYG Link
$wysiwyg-link-text-color: $c-wys-lk-tx-cl !default;

// WYSIWYG Table
$wysiwyg-table-th-font-weight: 400 !default;

// WYSIWYG HR
$wysiwyg-hr-border-width: 1px !default;
$wysiwyg-hr-border-style: solid !default;
$wysiwyg-hr-border-color: $c-wys-hr-bd-cl !default;

// WYSIWYG Figure
$wysiwyg-figure-text-align: center !default;
$wysiwyg-figcaption-margin-top: $space-sm !default;
$wysiwyg-figcaption-font-size: 87.5% !default;

//----------------------------------------------------
// / Utility - Display
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Size
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Deco
//----------------------------------------------------

// Deco Text Class
$deco-text-class: ".heading, .texts, .text" !default;

// Pattern - Deco Text Dark
$pattern-deco-text-dark: (
  dark: $c-dco-tx-d,
  dark-1: $c-dco-tx-d-1,
  dark-2: $c-dco-tx-d-2,
  dark-3: $c-dco-tx-d-3,
  dark-4: $c-dco-tx-d-4,
  dark-5: $c-dco-tx-d-5,
  dark-6: $c-dco-tx-d-6,
  dark-7: $c-dco-tx-d-7,
  dark-8: $c-dco-tx-d-8,
  dark-9: $c-dco-tx-d-9
) !default;

// Pattern - Deco Text Light
$pattern-deco-text-light: (
  light: $c-dco-tx-l,
  light-1: $c-dco-tx-l-1,
  light-2: $c-dco-tx-l-2,
  light-3: $c-dco-tx-l-3,
  light-4: $c-dco-tx-l-4,
  light-5: $c-dco-tx-l-5,
  light-6: $c-dco-tx-l-6,
  light-7: $c-dco-tx-l-7,
  light-8: $c-dco-tx-l-8,
  light-9: $c-dco-tx-l-9
) !default;

// Pattern - Deco Text Color
$pattern-deco-text-color: (
  primary: $c-vpr-str,
  info: $c-vin-str,
  success: $c-vsu-str,
  warning: $c-vwa-str,
  danger: $c-vda-str
) !default;

//----------------------------------------------------
// / Utility - Flex
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Space
//----------------------------------------------------

// Space Size
$space-size-xxl: $space-xxl !default;
$space-size-xl: $space-xl !default;
$space-size-lg: $space-lg !default;
$space-size-md: $space-md !default;
$space-size-sm: $space-sm !default;
$space-size-xs: $space-xs !default;
$space-size-xxs: $space-xxs !default;

// Pattern - Space Size
$pattern-space-size: (
  xxl: $space-size-xxl,
  xl: $space-size-xl,
  lg: $space-size-lg,
  md: $space-size-md,
  sm: $space-size-sm,
  xs: $space-size-xs,
  xxs: $space-size-xxs
) !default;

// Pattern - Space Way
$pattern-space-way: default, row, column !default;

//----------------------------------------------------
// / Utility - Margin
//----------------------------------------------------

// Margin Size
$margin-size-xxl: $space-xxl !default;
$margin-size-xl: $space-xl !default;
$margin-size-lg: $space-lg !default;
$margin-size-md: $space-md !default;
$margin-size-sm: $space-sm !default;
$margin-size-xs: $space-xs !default;
$margin-size-xxs: $space-xxs !default;

// Pattern - Margin Size
$pattern-margin-size: (
  xxl: $margin-size-xxl,
  xl: $margin-size-xl,
  lg: $margin-size-lg,
  md: $margin-size-md,
  sm: $margin-size-sm,
  xs: $margin-size-xs,
  xxs: $margin-size-xxs
) !default;

// Pattern - Margin Way
$pattern-margin-way: all, top, right, bottom, left !default;

//----------------------------------------------------
// / Utility - Padding
//----------------------------------------------------

// Padding Size
$padding-size-xxl: $space-xxl !default;
$padding-size-xl: $space-xl !default;
$padding-size-lg: $space-lg !default;
$padding-size-md: $space-md !default;
$padding-size-sm: $space-sm !default;
$padding-size-xs: $space-xs !default;
$padding-size-xxs: $space-xxs !default;

// Pattern - Padding Size
$pattern-padding-size: (
  xxl: $padding-size-xxl,
  xl: $padding-size-xl,
  lg: $padding-size-lg,
  md: $padding-size-md,
  sm: $padding-size-sm,
  xs: $padding-size-xs,
  xxs: $padding-size-xxs
) !default;

// Pattern - Padding Way
$pattern-padding-way: all, top, right, bottom, left !default;

//----------------------------------------------------
// / Utility - Clearfix
//----------------------------------------------------

// none
