//----------------------------------------------------
// Config: Variable
//----------------------------------------------------

//----------------------------------------------------
// / Base - Global
//----------------------------------------------------

// body
$body-background-color: $common-body-background-color !default;
$body-text-color: $common-body-text-color !default;
$body-font-family: $common-body-font-family !default;
$body-line-height: 1.5 !default;

//----------------------------------------------------
// / Layout - Section
//----------------------------------------------------

// .section > .inner
$section-inner-width-fablet: 540px !default;
$section-inner-width-tablet: 720px !default;
$section-inner-width-desktop: 960px !default;
$section-inner-width-wide: 1140px !default;

// .section > .inner-vw
$section-inner-vw-width-fablet: 90vw !default;

//----------------------------------------------------
// / Layout - Grid
//----------------------------------------------------

// Grid Split
$grid-split: 12 !default;

// Column Class
$column-class: ".column" !default;

// Gap Size
$gap-size-xxl: $space-xxl !default;
$gap-size-xl: $space-xl !default;
$gap-size-lg: $space-lg !default;
$gap-size-md: $space-md !default;
$gap-size-sm: $space-sm !default;
$gap-size-xs: $space-xs !default;
$gap-size-xxs: $space-xxs !default;

// Pattern - Gap Size
$pattern-gap-size: (
  xxl: $gap-size-xxl,
  xl: $gap-size-xl,
  lg: $gap-size-lg,
  md: $gap-size-md,
  sm: $gap-size-sm,
  xs: $gap-size-xs,
  xxs: $gap-size-xxs
) !default;

// Pattern - Gap Way
$pattern-gap-way: all, row, column !default;

//----------------------------------------------------
// / Layout - Space
//----------------------------------------------------

// Space Size
$space-size-xxl: $space-xxl !default;
$space-size-xl: $space-xl !default;
$space-size-lg: $space-lg !default;
$space-size-md: $space-md !default;
$space-size-sm: $space-sm !default;
$space-size-xs: $space-xs !default;
$space-size-xxs: $space-xxs !default;

// Pattern - Space Size
$pattern-space-size: (
  xxl: $space-size-xxl,
  xl: $space-size-xl,
  lg: $space-size-lg,
  md: $space-size-md,
  sm: $space-size-sm,
  xs: $space-size-xs,
  xxs: $space-size-xxs
) !default;

// Pattern - Space Way
$pattern-space-way: default, row, column !default;

//----------------------------------------------------
// / Layout - Margin
//----------------------------------------------------

// Margin Size
$margin-size-xxl: $space-xxl !default;
$margin-size-xl: $space-xl !default;
$margin-size-lg: $space-lg !default;
$margin-size-md: $space-md !default;
$margin-size-sm: $space-sm !default;
$margin-size-xs: $space-xs !default;
$margin-size-xxs: $space-xxs !default;

// Pattern - Margin Size
$pattern-margin-size: (
  xxl: $margin-size-xxl,
  xl: $margin-size-xl,
  lg: $margin-size-lg,
  md: $margin-size-md,
  sm: $margin-size-sm,
  xs: $margin-size-xs,
  xxs: $margin-size-xxs
) !default;

// Pattern - Margin Way
$pattern-margin-way: all, top, right, bottom, left !default;

//----------------------------------------------------
// / Layout - Padding
//----------------------------------------------------

// Padding Size
$padding-size-xxl: $space-xxl !default;
$padding-size-xl: $space-xl !default;
$padding-size-lg: $space-lg !default;
$padding-size-md: $space-md !default;
$padding-size-sm: $space-sm !default;
$padding-size-xs: $space-xs !default;
$padding-size-xxs: $space-xxs !default;

// Pattern - Padding Size
$pattern-padding-size: (
  xxl: $padding-size-xxl,
  xl: $padding-size-xl,
  lg: $padding-size-lg,
  md: $padding-size-md,
  sm: $padding-size-sm,
  xs: $padding-size-xs,
  xxs: $padding-size-xxs
) !default;

// Pattern - Padding Way
$pattern-padding-way: all, top, right, bottom, left !default;

//----------------------------------------------------
// / Module - Heading
//----------------------------------------------------

// none

//----------------------------------------------------
// / Module - Text
//----------------------------------------------------

// .texts
$texts-line-height: 1.9 !default;

// .text.is-link
$text-link-border-bottom-width: 1px !default;
$text-link-border-bottom-style: solid !default;

// .blockquote
$blockquote-background-color: $common-blockquote-background-color !default;
$blockquote-border-left-width: 0.5em !default;
$blockquote-border-left-color: $common-blockquote-border-left-color !default;
$blockquote-border-radius: $radius-xs !default;
$blockquote-padding: 1.5em !default;

// :not(.pre) >.code
$code-padding: 0.2em 0.5em !default;
$code-background-color: $common-code-background-color !default;
$code-border-radius: $radius-xs !default;
$code-text-color: $common-code-text-color !default;
$code-font-size: 0.875em !default;
$code-font-family: $common-code-font-family !default;

// .pre
$pre-background-color: $common-pre-background-color !default;
$pre-border-radius: $radius-xs !default;
$pre-text-color: $common-pre-text-color !default;
$pre-font-family: $common-pre-font-family !default;
$pre-white-space: pre !default;

// .pre > .code
$pre-code-padding: 1.25em 1.5em !default;

//----------------------------------------------------
// / Module - Button
//----------------------------------------------------

// class
$button-class: ".button" !default;

// .buttons > .button
$buttons-gap-default: $space-xs !default;

// .button
$button-padding: 0.5em 1em !default;
$button-border-width: 1px !default;
$button-border-radius: $radius-sm !default;
$button-paint-text-color: $common-button-paint-text-color !default;
$button-line-height: 1.5 !default;
$button-transition: ease-out 0.12s !default;
$button-focus-shadow: 0 0 0 $space-xxs $common-button-focus-shadow-color !default;

// .button.is-round
$button-round-border-radius: $radius-full !default;

// .button.is-circle
$button-circle-width: calc(2.5em + 1px * 2) !default;
$button-circle-height: calc(2.5em + 1px * 2) !default;
$button-circle-border-radius: $radius-full !default;

// .button.is-floating
$button-floating-shadow: 0 1px 3px 0 $common-button-floating-shadow-color !default;
$button-floating-hover-shadow: 0 4px 12px 0 $common-button-floating-shadow-color !default;
$button-floating-focus-shadow: 0 0 0 $space-xxs
    $common-button-focus-shadow-color,
  0 4px 12px 0 $common-button-floating-shadow-color !default;

// .button.is-plain
$button-plain-default-background-color: $common-button-plain-default-background-color !default;
$button-plain-default-hover-background-color: $common-button-plain-default-hover-background-color !default;
$button-plain-primary-background-color: $common-role-primary !default;
$button-plain-primary-hover-background-color: $common-role-primary-darken !default;
$button-plain-info-background-color: $common-role-info !default;
$button-plain-info-hover-background-color: $common-role-info-darken !default;
$button-plain-success-background-color: $common-role-success !default;
$button-plain-success-hover-background-color: $common-role-success-darken !default;
$button-plain-warning-background-color: $common-role-warning !default;
$button-plain-warning-hover-background-color: $common-role-warning-darken !default;
$button-plain-danger-background-color: $common-role-danger !default;
$button-plain-danger-hover-background-color: $common-role-danger-darken !default;

// pattern color - .button.is-plain
$pattern-button-plain: (
  primary: (
    background-color: $button-plain-primary-background-color,
    hover-background-color: $button-plain-primary-hover-background-color
  ),
  info: (
    background-color: $button-plain-info-background-color,
    hover-background-color: $button-plain-info-hover-background-color
  ),
  success: (
    background-color: $button-plain-success-background-color,
    hover-background-color: $button-plain-success-hover-background-color
  ),
  warning: (
    background-color: $button-plain-warning-background-color,
    hover-background-color: $button-plain-warning-hover-background-color
  ),
  danger: (
    background-color: $button-plain-danger-background-color,
    hover-background-color: $button-plain-danger-hover-background-color
  )
) !default;

// .button.is-melt
$button-melt-default-hover-background-color: $common-button-melt-default-hover-background-color !default;
$button-melt-primary-text-color: $common-role-primary-strong !default;
$button-melt-info-text-color: $common-role-info-strong !default;
$button-melt-success-text-color: $common-role-success-strong !default;
$button-melt-warning-text-color: $common-role-warning-strong !default;
$button-melt-danger-text-color: $common-role-danger-strong !default;

// pattern color - .button.is-melt
$pattern-button-melt: (
  primary: (
    text-color: $button-melt-primary-text-color
  ),
  info: (
    text-color: $button-melt-info-text-color
  ),
  success: (
    text-color: $button-melt-success-text-color
  ),
  warning: (
    text-color: $button-melt-warning-text-color
  ),
  danger: (
    text-color: $button-melt-danger-text-color
  )
) !default;

// .button.is-outline
$button-outline-default-background-color: $common-button-outline-default-background-color !default;
$button-outline-default-border-color: $common-button-outline-default-border-color !default;
$button-outline-default-hover-background-color: $common-button-outline-default-hover-background-color !default;
$button-outline-primary-border-color: $common-role-primary !default;
$button-outline-primary-text-color: $common-role-primary-strong !default;
$button-outline-primary-hover-background-color: $common-role-primary !default;
$button-outline-info-border-color: $common-role-info !default;
$button-outline-info-text-color: $common-role-info-strong !default;
$button-outline-info-hover-background-color: $common-role-info !default;
$button-outline-success-border-color: $common-role-success !default;
$button-outline-success-text-color: $common-role-success-strong !default;
$button-outline-success-hover-background-color: $common-role-success !default;
$button-outline-warning-border-color: $common-role-warning !default;
$button-outline-warning-text-color: $common-role-warning-strong !default;
$button-outline-warning-hover-background-color: $common-role-warning !default;
$button-outline-danger-border-color: $common-role-danger !default;
$button-outline-danger-text-color: $common-role-danger-strong !default;
$button-outline-danger-hover-background-color: $common-role-danger !default;

// pattern color - .button.is-outline
$pattern-button-outline: (
  primary: (
    border-color: $button-outline-primary-border-color,
    text-color: $button-outline-primary-text-color,
    hover-background-color: $button-outline-primary-hover-background-color
  ),
  info: (
    border-color: $button-outline-info-border-color,
    text-color: $button-outline-info-text-color,
    hover-background-color: $button-outline-info-hover-background-color
  ),
  success: (
    border-color: $button-outline-success-border-color,
    text-color: $button-outline-success-text-color,
    hover-background-color: $button-outline-success-hover-background-color
  ),
  warning: (
    border-color: $button-outline-warning-border-color,
    text-color: $button-outline-warning-text-color,
    hover-background-color: $button-outline-warning-hover-background-color
  ),
  danger: (
    border-color: $button-outline-danger-border-color,
    text-color: $button-outline-danger-text-color,
    hover-background-color: $button-outline-danger-hover-background-color
  )
) !default;

// .button.is-ghost
$button-ghost-default-border-color: $common-button-ghost-default-border-color !default;
$button-ghost-default-text-color: $common-button-ghost-default-text-color !default;
$button-ghost-default-hover-background-color: $common-button-ghost-default-hover-background-color !default;
$button-ghost-default-hover-text-color: $common-button-ghost-default-hover-text-color !default;
$button-ghost-primary-border-color: $common-role-primary-lighten !default;
$button-ghost-primary-text-color: $common-role-primary-lighten !default;
$button-ghost-primary-hover-background-color: $common-role-primary !default;
$button-ghost-info-border-color: $common-role-info-lighten !default;
$button-ghost-info-text-color: $common-role-info-lighten !default;
$button-ghost-info-hover-background-color: $common-role-info !default;
$button-ghost-success-border-color: $common-role-success-lighten !default;
$button-ghost-success-text-color: $common-role-success-lighten !default;
$button-ghost-success-hover-background-color: $common-role-success !default;
$button-ghost-warning-border-color: $common-role-warning-lighten !default;
$button-ghost-warning-text-color: $common-role-warning-lighten !default;
$button-ghost-warning-hover-background-color: $common-role-warning !default;
$button-ghost-danger-border-color: $common-role-danger-lighten !default;
$button-ghost-danger-text-color: $common-role-danger-lighten !default;
$button-ghost-danger-hover-background-color: $common-role-danger !default;

// pattern color - .button.is-ghost
$pattern-button-ghost: (
  primary: (
    border-color: $button-ghost-primary-border-color,
    text-color: $button-ghost-primary-text-color,
    hover-background-color: $button-ghost-primary-hover-background-color
  ),
  info: (
    border-color: $button-ghost-info-border-color,
    text-color: $button-ghost-info-text-color,
    hover-background-color: $button-ghost-info-hover-background-color
  ),
  success: (
    border-color: $button-ghost-success-border-color,
    text-color: $button-ghost-success-text-color,
    hover-background-color: $button-ghost-success-hover-background-color
  ),
  warning: (
    border-color: $button-ghost-warning-border-color,
    text-color: $button-ghost-warning-text-color,
    hover-background-color: $button-ghost-warning-hover-background-color
  ),
  danger: (
    border-color: $button-ghost-danger-border-color,
    text-color: $button-ghost-danger-text-color,
    hover-background-color: $button-ghost-danger-hover-background-color
  )
) !default;

// .button.is-disabled
$button-disabled-background-color: $common-button-disabled-background-color !default;
$button-disabled-background-color-alpha: $common-button-disabled-background-color-alpha !default;
$button-disabled-text-color: $common-button-disabled-text-color !default;

// .button.is-ghost.is-disabled
$button-ghost-disabled-background-color: $common-button-ghost-disabled-background-color !default;
$button-ghost-disabled-border-color: $common-button-ghost-disabled-border-color !default;
$button-ghost-disabled-text-color: $common-button-ghost-disabled-text-color !default;

//----------------------------------------------------
// / Module - List
//----------------------------------------------------

// .list
$list-margin-left: 1.5em !default;

// .list > .item
$list-item-margin-top: 0.25em !default;

// list.is-note > .item
$list-note-item-margin-left: 0.25em !default;

//----------------------------------------------------
// / Module - Table
//----------------------------------------------------

// .table
$table-padding: 0.75em 1em !default;
$table-background-color: $common-table-background-color !default;
$table-border-width: 1px !default;
$table-border-color: $common-table-border-color !default;

// .table.is-stripe
$table-stripe-background-color: $common-table-stripe-background-color !default;

// .table .is-paint
$table-paint-background-color: $common-table-paint-background-color !default;
$table-paint-text-color: $common-table-paint-text-color !default;

// .table .is-spot
$table-spot-background-color: $common-table-spot-background-color !default;

// .table .is-danger
$table-danger-background-color: $common-table-danger-background-color !default;

//----------------------------------------------------
// / Module - Form
//----------------------------------------------------

// .field > *
$field-gap-default: $space-xs !default;

// .input
$input-height: 2.5em !default;
$input-padding: 0.5em 0.75em !default;
$input-background-color: $common-input-background-color !default;
$input-border-width: 1px !default;
$input-border-color: $common-input-border-color !default;
$input-border-radius: $radius-xs !default;
$input-line-height: 1.5 !default;
$input-shadow: inset 0 1px 1px $common-input-shadow-color !default;
$input-transition: ease-out 0.12s !default;

// .input:focus
$input-focus-border-color: $common-input-focus-border-color !default;
$input-focus-shadow: inset 0 1px 1px $common-input-shadow-color,
  0 0 0 $space-xxs $common-input-focus-shadow-color !default;

// .input.is-round
$input-round-border-radius: $radius-full !default;

// .input[disabled]
$input-disabled-background-color: $common-input-disabled-background-color !default;
$input-disabled-border-color: $common-input-disabled-border-color !default;
$input-disabled-shadow: none !default;
$input-disabled-text-color: $common-input-disabled-text-color !default;

// .input[readonly]
$input-readonly-background-color: $common-input-readonly-background-color !default;
$input-readonly-border-color: transparent !default;
$input-readonly-shadow: none !default;
$input-readonly-text-color: $common-input-readonly-text-color !default;

// .input placeholder
$input-placeholder-color: $common-input-placeholder-color !default;

// .textarea
$textarea-padding: calc(0.5em - 1.5px) 0.5em !default;

// .input[type="radio"]
$radio-width: 1em !default;
$radio-border-width: 2px !default;
$radio-gap-default: $space-xs !default;
$radio-gap-after: $space-md !default;
$radio-background-color: $common-radio-background-color !default;
$radio-focus-shadow: 0 0 0 $space-xxs $common-input-focus-shadow-color !default;
$radio-before-checked-background-color: $common-radio-before-checked-background-color !default;
$radio-checked-border-color: $common-radio-checked-border-color !default;

// .input[type="checkbox"]
$checkbox-width: 1em !default;
$checkbox-border-width: 2px !default;
$checkbox-border-radius: 2px !default;
$checkbox-gap-default: $space-xs !default;
$checkbox-gap-after: $space-md !default;
$checkbox-background-color: $common-checkbox-background-color !default;
$checkbox-focus-border-color: $common-checkbox-focus-border-color !default;
$checkbox-focus-shadow: 0 0 0 $space-xxs $common-input-focus-shadow-color !default;
$checkbox-before-border-color: $common-checkbox-before-border-color !default;
$checkbox-checked-background-color: $common-checkbox-checked-background-color !default;
$checkbox-checked-border-color: $common-checkbox-checked-border-color !default;

// select
$select-angle-size: 0.5em !default;
$select-angle-border-width: 2px !default;
$select-angle-border-color: $common-select-angle-border-color !default;
$select-focus-shadow: 0 0 0 $space-xxs $common-input-focus-shadow-color !default;

//----------------------------------------------------
// / Module - Icon
//----------------------------------------------------

// class
$icon-class-default: ".icon, .im, .fa, .fas, .far, .fal, .fab, .material-icons" !default;
$icon-class: $icon-class-default !default; // Backward compatibility of icon name variables

// .icon + .text
$icon-margin-left: $space-xxs !default;

// .icon.is-fit
$icon-fit-width: 1em !default;

//----------------------------------------------------
// / Module - Alert
//----------------------------------------------------

// .alert
$alert-padding: 0.675em 0.875em !default;
$alert-border-width: 1px !default;
$alert-border-radius: 2px !default;
$alert-default-background-color: $common-alert-default-background-color !default;
$alert-default-border-color: $common-alert-default-border-color !default;
$alert-primary-background-color: $common-alert-primary-background-color !default;
$alert-primary-border-color: $common-alert-primary-border-color !default;
$alert-info-background-color: $common-alert-info-background-color !default;
$alert-info-border-color: $common-alert-info-border-color !default;
$alert-success-background-color: $common-alert-success-background-color !default;
$alert-success-border-color: $common-alert-success-border-color !default;
$alert-warning-background-color: $common-alert-warning-background-color !default;
$alert-warning-border-color: $common-alert-warning-border-color !default;
$alert-danger-background-color: $common-alert-danger-background-color !default;
$alert-danger-border-color: $common-alert-danger-border-color !default;

// pattern color - .alert
$pattern-alert: (
  primary: (
    background-color: $alert-primary-background-color,
    border-color: $alert-primary-border-color
  ),
  info: (
    background-color: $alert-info-background-color,
    border-color: $alert-info-border-color
  ),
  success: (
    background-color: $alert-success-background-color,
    border-color: $alert-success-border-color
  ),
  warning: (
    background-color: $alert-warning-background-color,
    border-color: $alert-warning-border-color
  ),
  danger: (
    background-color: $alert-danger-background-color,
    border-color: $alert-danger-border-color
  )
) !default;

//----------------------------------------------------
// Module - WYSIWYG
//----------------------------------------------------

// .wysiwyg h1, h2, h3, h4, h5, h6
$wysiwyg-heading-font-weight: 700 !default;
$wysiwyg-h1-font-size: 2em !default;
$wysiwyg-h2-font-size: 1.5em !default;
$wysiwyg-h3-font-size: 1.25em !default;
$wysiwyg-h4-font-size: 1em !default;
$wysiwyg-h5-font-size: 0.875em !default;
$wysiwyg-h6-font-size: 0.75em !default;

// .wysiwyg small
$wysiwyg-small-font-size: 80% !default;

// .wysiwyg strong
$wysiwyg-strong-font-weight: 700 !default;

// .wysiwyg a
$wysiwyg-link-text-color: $common-wysiwyg-link-text-color !default;

// .wysiwyg table th
$wysiwyg-table-th-font-weight: 400 !default;

// .wysiwyg hr
$wysiwyg-hr-border-width: 1px !default;
$wysiwyg-hr-border-style: solid !default;
$wysiwyg-hr-border-color: $common-wysiwyg-hr-border-color !default;

// .wysiwyg figure
$wysiwyg-figure-text-align: center !default;
$wysiwyg-figcaption-margin-top: $space-sm !default;
$wysiwyg-figcaption-font-size: 87.5% !default;

//----------------------------------------------------
// / Utility - Size
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Flex
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Deco
//----------------------------------------------------

// class
$deco-text-class: ".heading, .texts, .text" !default;

// pattern text - dark
$pattern-text-dark: (
  dark: $common-yinyang-dark,
  dark-1: $common-yinyang-dark-1,
  dark-2: $common-yinyang-dark-2,
  dark-3: $common-yinyang-dark-3,
  dark-4: $common-yinyang-dark-4,
  dark-5: $common-yinyang-dark-5,
  dark-6: $common-yinyang-dark-6,
  dark-7: $common-yinyang-dark-7,
  dark-8: $common-yinyang-dark-8,
  dark-9: $common-yinyang-dark-9
) !default;

// pattern text - light
$pattern-text-light: (
  light: $common-yinyang-light,
  light-1: $common-yinyang-light-1,
  light-2: $common-yinyang-light-2,
  light-3: $common-yinyang-light-3,
  light-4: $common-yinyang-light-4,
  light-5: $common-yinyang-light-5,
  light-6: $common-yinyang-light-6,
  light-7: $common-yinyang-light-7,
  light-8: $common-yinyang-light-8,
  light-9: $common-yinyang-light-9
) !default;

// pattern text - color
$pattern-text-color: (
  primary: $common-role-primary-strong,
  info: $common-role-info-strong,
  success: $common-role-success-strong,
  warning: $common-role-warning-strong,
  danger: $common-role-danger-strong
) !default;

//----------------------------------------------------
// / Utility - Group
//----------------------------------------------------

// class
$group-class: ".is-group" !default;

//----------------------------------------------------
// / Utility - Display
//----------------------------------------------------

// none

//----------------------------------------------------
// / Utility - Clearfix
//----------------------------------------------------

// none
