//----------------------------------------------------
// Bases: Root Light
//----------------------------------------------------

#{$selector-root-light} {
  @include generate-root($theme-light-id, $selector-root-light-attr) {
    --section-background-color-grey-wind: #{$theme-light-section-background-color-grey-wind};
  }
}

#{$selector-root-light} {
  @include generate-root($theme-light-id, $selector-root-light-attr) {
    --demo-box-line-border-color: #{$theme-light-demo-box-line-border-color};
    --demo-box-paint-background-color: #{$theme-light-demo-box-paint-background-color};
  }
}

#{$selector-root-light} {
  @include generate-root($theme-light-id, $selector-root-light-attr) {
    --demo-path-shadow-fill: #{$theme-light-demo-path-shadow-fill};
    --demo-path-browser-window-fill: #{$theme-light-demo-path-browser-window-fill};
    --demo-path-browser-title-bar-fill: #{$theme-light-demo-path-browser-title-bar-fill};
    --demo-path-browser-wire-box-fill: #{$theme-light-demo-path-browser-wire-box-fill};
    --demo-path-browser-pre-fill: #{$theme-light-demo-path-browser-pre-fill};
    --demo-path-browser-code-fill: #{$theme-light-demo-path-browser-code-fill};
    --demo-path-object-white-fill: #{$theme-light-demo-path-object-white-fill};
    --demo-path-object-blue-fill: #{$theme-light-demo-path-object-blue-fill};
    --demo-path-object-yellow-fill: #{$theme-light-demo-path-object-yellow-fill};
    --demo-path-object-cyan-dark-fill: #{$theme-light-demo-path-object-cyan-dark-fill};
    --demo-path-object-cyan-fill: #{$theme-light-demo-path-object-cyan-fill};
    --demo-path-baloon-cloud-fill: #{$theme-light-demo-path-baloon-cloud-fill};
    --demo-path-baloon-cloud-stroke: #{$theme-light-demo-path-baloon-cloud-stroke};
    --demo-path-object-red-light-fill: #{$theme-light-demo-path-object-red-light-fill};
    --demo-path-object-yellow-dark-fill: #{$theme-light-demo-path-object-yellow-dark-fill};
    --demo-path-object-blue-dark-fill: #{$theme-light-demo-path-object-blue-dark-fill};
    --demo-path-object-blue-light-fill: #{$theme-light-demo-path-object-blue-light-fill};
    --demo-path-chrome-green-fill: #{$theme-light-demo-path-chrome-green-fill};
    --demo-path-chrome-red-fill: #{$theme-light-demo-path-chrome-red-fill};
    --demo-path-chrome-yellow-fill: #{$theme-light-demo-path-chrome-yellow-fill};
    --demo-path-chrome-blue-fill: #{$theme-light-demo-path-chrome-blue-fill};
    --demo-path-firefox-blue-fill: #{$theme-light-demo-path-firefox-blue-fill};
    --demo-path-firefox-orange-fill: #{$theme-light-demo-path-firefox-orange-fill};
    --demo-path-edge-blue-fill: #{$theme-light-demo-path-edge-blue-fill};
    --demo-path-ie-blue-fill: #{$theme-light-demo-path-ie-blue-fill};
    --demo-path-safari-blue-fill: #{$theme-light-demo-path-safari-blue-fill};
    --demo-path-safari-red-fill: #{$theme-light-demo-path-safari-red-fill};
  }
}

#{$selector-root-light} {
  @include generate-root($theme-light-id, $selector-root-light-attr) {
    --hljs-background-color: #{$theme-light-hljs-background-color};
    --hljs-border-color: #{$theme-light-hljs-border-color};
    --hljs-base-text-color: #{$theme-light-hljs-base-text-color};
  }
}
