.button.is-outline.is-secondary {
  border-color: currentColor;
  color: var(--theme-secondary);
}

@media (hover: hover) and (pointer: fine) {
  .button.is-outline.is-secondary:hover {
    background-color: var(--theme-secondary-1);
  }
}
