.is-p-xxl {
  padding: 28px;
}

.is-p-xl {
  padding: 24px;
}

.is-p-lg {
  padding: 20px;
}

.is-p-md {
  padding: 16px;
}

.is-p-sm {
  padding: 12px;
}

.is-p-xs {
  padding: 8px;
}

.is-p-xxs {
  padding: 4px;
}

.is-pt-xxl {
  padding-top: 28px;
}

.is-pt-xl {
  padding-top: 24px;
}

.is-pt-lg {
  padding-top: 20px;
}

.is-pt-md {
  padding-top: 16px;
}

.is-pt-sm {
  padding-top: 12px;
}

.is-pt-xs {
  padding-top: 8px;
}

.is-pt-xxs {
  padding-top: 4px;
}

.is-pr-xxl {
  padding-right: 28px;
}

.is-pr-xl {
  padding-right: 24px;
}

.is-pr-lg {
  padding-right: 20px;
}

.is-pr-md {
  padding-right: 16px;
}

.is-pr-sm {
  padding-right: 12px;
}

.is-pr-xs {
  padding-right: 8px;
}

.is-pr-xxs {
  padding-right: 4px;
}

.is-pb-xxl {
  padding-bottom: 28px;
}

.is-pb-xl {
  padding-bottom: 24px;
}

.is-pb-lg {
  padding-bottom: 20px;
}

.is-pb-md {
  padding-bottom: 16px;
}

.is-pb-sm {
  padding-bottom: 12px;
}

.is-pb-xs {
  padding-bottom: 8px;
}

.is-pb-xxs {
  padding-bottom: 4px;
}

.is-pl-xxl {
  padding-left: 28px;
}

.is-pl-xl {
  padding-left: 24px;
}

.is-pl-lg {
  padding-left: 20px;
}

.is-pl-md {
  padding-left: 16px;
}

.is-pl-sm {
  padding-left: 12px;
}

.is-pl-xs {
  padding-left: 8px;
}

.is-pl-xxs {
  padding-left: 4px;
}

.is-py-xxl {
  padding-top: 28px;
  padding-bottom: 28px;
}

.is-py-xl {
  padding-top: 24px;
  padding-bottom: 24px;
}

.is-py-lg {
  padding-top: 20px;
  padding-bottom: 20px;
}

.is-py-md {
  padding-top: 16px;
  padding-bottom: 16px;
}

.is-py-sm {
  padding-top: 12px;
  padding-bottom: 12px;
}

.is-py-xs {
  padding-top: 8px;
  padding-bottom: 8px;
}

.is-py-xxs {
  padding-top: 4px;
  padding-bottom: 4px;
}

.is-px-xxl {
  padding-right: 28px;
  padding-left: 28px;
}

.is-px-xl {
  padding-right: 24px;
  padding-left: 24px;
}

.is-px-lg {
  padding-right: 20px;
  padding-left: 20px;
}

.is-px-md {
  padding-right: 16px;
  padding-left: 16px;
}

.is-px-sm {
  padding-right: 12px;
  padding-left: 12px;
}

.is-px-xs {
  padding-right: 8px;
  padding-left: 8px;
}

.is-px-xxs {
  padding-right: 4px;
  padding-left: 4px;
}

.is-p-safe {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
  padding-right: constant(safe-area-inset-right);
  padding-right: env(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: constant(safe-area-inset-left);
  padding-left: env(safe-area-inset-left);
}

.is-pt-safe {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

.is-pr-safe {
  padding-right: constant(safe-area-inset-right);
  padding-right: env(safe-area-inset-right);
}

.is-pb-safe {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.is-pl-safe {
  padding-left: constant(safe-area-inset-left);
  padding-left: env(safe-area-inset-left);
}

.is-py-safe {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.is-px-safe {
  padding-right: constant(safe-area-inset-right);
  padding-right: env(safe-area-inset-right);
  padding-left: constant(safe-area-inset-left);
  padding-left: env(safe-area-inset-left);
}
