//----------------------------------------------------
/*! MUSUBii Demo */
//----------------------------------------------------

//----------------------------------------------------
// / Glob Import > Config SCSS
//----------------------------------------------------

@import "tone/**";
@import "variable/**";
@import "mixin/**";

//----------------------------------------------------
// / Demo - Global
//----------------------------------------------------

body {
  font-family: Nunito, "Rounded Mplus 1c", $font-sans;
}

button {
  color: $dark-2;
  outline: none;
}

.musubii-demo {
  //background-color: $cyan-500;
}

//----------------------------------------------------
// / Demo - Section
//----------------------------------------------------

.section.is-topcover {
  background-color: $cyan-500;
  background-image: url("../img/bg-topcover.svg");
  background-position: center bottom;
  background-size: cover;
  @include ie {
    background-image: url("../img/bg-topcover.png");
  }
}

.section.is-topcover-header {
  @include mobile-fablet {
    background-color: darken($cyan-500, 2%);
  }
}

.section.is-topcover-content {
  padding: 6em 0;
  &:not(.is-active) {
    display: none;
  }
  &.is-active {
    display: block;
  }
}

.section.is-main {
}

.section.is-main-content {
  padding: 3em 0;
}

.section.is-bg-yellow {
  background-color: $yellow-200;
}

.section.is-bg-grey {
  background-color: $grey-50;
  :not(.pre) {
    > .code {
      background-color: rgba(black, 0.0375);
    }
  }
}

.section.is-footer {
  background-color: $blue-grey-800;
  padding: 2em 0;
}

//----------------------------------------------------
// / Demo - Grid
//----------------------------------------------------

.grid.is-demo-box-1 {
  &.is-height-1 {
    height: 11.375em;
  }
  &.is-height-2 {
    height: 20.75em;
  }
  &.is-height-3 {
    height: 30.125em;
  }
}

@each $gap-x in 2, 3, 4, 6 {
  .grid.is-gap-#{$gap-x}x:not(.is-gap-none) {
    margin-left: $gap-x / -2 + em;
    margin-bottom: $gap-x / -2 + em;
    > .col {
      padding-left: $gap-x / 2 + em;
      padding-bottom: $gap-x / 2 + em;
    }
    + .grid.is-gap-#{$gap-x}x:not(.is-gap-none) {
      margin-top: $gap-x / 2 + em;
    }
  }
}

//----------------------------------------------------
// / Demo - Text
//----------------------------------------------------

.text.is-topcover-1 {
  font-size: 16.75vw;
  line-height: 1.1;
  @include tablet {
    font-size: 4.375em;
  }
}

.text.is-topcover-2 {
  font-size: 11vw;
  line-height: 1.1;
  @include tablet {
    font-size: 2.875em;
  }
}

.text.is-demo-space-filter-2,
.icon.is-demo-space-filter-2 {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
  }
  &:before {
    left: -0.375em;
    width: 0.375em;
    background-color: rgba($orange-500, 0.3);
  }
  &:after {
    left: 0;
    width: 100%;
    background-color: rgba($blue-500, 0.3);
  }
}

.text.is-demo-space-filter-3 {
  position: relative;
  display: inline-block;
  border-right: 2px dashed $red-500;
  > .fa,
  > .fas {
    background-color: rgba($blue-500, 0.3);
  }
}

//----------------------------------------------------
// / Demo - Heading
//----------------------------------------------------

.heading.is-demo-space-filter-1 {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
  }
  &:before {
    top: -2em;
    height: 2em;
    background-color: rgba($orange-500, 0.3);
  }
  &:after {
    top: 0;
    height: 1.25em;
    background-color: rgba($blue-500, 0.3);
  }
}

//----------------------------------------------------
// / Demo - Button
//----------------------------------------------------

.btn.is-plain.is-cyan {
  background-color: $light;
  color: $cyan-500;
  &:hover {
    background-color: $cyan-50;
  }
}

.btn.is-ghost.is-cyan:hover {
  color: $cyan-500;
}

.btns.js-demo-code-toggle {
  > .btn.is-plain {
    border-radius: 0;
    border-top: 1px solid $grey-300;
    color: $indigo-500;
  }
  &:not(.is-active) .btn:nth-child(2) {
    display: none;
  }
  &:not(.is-active) + .wysiwyg {
    display: none;
  }
  &.is-active .btn:nth-child(1) {
    display: none;
  }
  + .wysiwyg {
    margin-top: 0;
    border-top: 1px solid $grey-300;
  }
}

//----------------------------------------------------
// / Demo - Group
//----------------------------------------------------

.table {
  .box.is-sticky-left {
    position: sticky;
    left: 0;
  }
}

//----------------------------------------------------
// / Demo - Group
//----------------------------------------------------

.group.is-home-point-textbox {
  max-width: 25.45em;
}

.group.is-documentation-nav {
  border-top: 1px solid $grey-300;
  border-bottom: 1px solid $grey-300;
  padding: 1.25em 0.25em;
}

.group.is-documentation-nav .text.is-link-reverse {
  display: inline-block;
  line-height: 1;
  &.is-active {
    cursor: default;
    color: $cyan-500;
    font-weight: 700;
  }
  &.is-active:hover {
    border: none;
  }
}

.groups.is-documentation-contents > .content {
  &:not(.is-active) {
    display: none;
  }
  &.is-active {
    display: block;
  }
}

.group.is-wrap {
  position: relative;
  border: 1px solid $grey-300;
  border-radius: 2px;
  overflow: hidden;
  &.is-preview {
    font-family: $font-sans;
  }
  &.is-preview:before {
    content: "Preview";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    border-right: 1px solid $grey-300;
    border-bottom: 1px solid $grey-300;
    border-radius: 0 0 2px 0;
    color: $grey-400;
    font-size: 0.675em;
    padding: 0 0.5em;
  }
  &.is-paint {
    background-color: $cyan-700;
    border: none;
    padding: 1em;
  }
  &.is-example {
    background-color: $grey-100;
    border: none;
    padding: 2em;
  }
  > .inner {
    padding: 1.25em;
  }
}

.group.is-demo-box-1,
.group.is-demo-box-2,
.group.is-demo-box-3 {
  width: 100%;
  &.is-primary {
    background-color: $primary;
    color: $light;
  }
  &.is-danger {
    background-color: $red-50;
    color: $danger;
  }
  &.is-grey {
    background-color: $grey-300;
    color: $light;
  }
  &.is-round {
    border-radius: 2px;
  }
  &.is-height-1 {
    min-height: 9.375em;
  }
  &.is-height-2 {
    min-height: 18.75em;
  }
  &.is-height-3 {
    min-height: 28.125em;
  }
}

.group.is-demo-box-1 {
  padding: 1em 0;
}

.group.is-demo-box-2 {
  padding: 0 1em;
}

.group.is-demo-box-3 {
  padding: 1em;
}

//----------------------------------------------------
// / Demo - Object
//----------------------------------------------------

.obj.is-logo-header-wrap {
  padding: 0.875em 0;
}

.obj.is-logo-header {
  display: block;
  width: 8.25em;
}

.obj.is-topcover-illust {
  width: 90vw;
  @include tablet {
    width: 23.5em;
  }
}

.obj.is-home-point-illust {
  width: 15em;
}

.obj.is-badge {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  height: 0.875em;
  padding: 0 0.25em;
  margin: 0 0.25em 0.25em;
  border-radius: 0.0875em;
  &.is-new {
    background-color: $light-green-a400;
    color: $light;
    font-weight: 700;
  }
  > .text {
    font-size: 50%;
  }
}

.obj.is-footer-logo {
  display: block;
  width: 8em;
}

//----------------------------------------------------
// / Demo - Tab
//----------------------------------------------------

.tabs {
  display: flex;
  max-width: 100vw;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  @include mobile-tablet {
    margin-left: -1em;
    margin-right: -1em;
  }
}

.tab {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  height: 4.5em;
  padding: 0 1em;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
  white-space: nowrap;
  transition: ease-out 0.12s;
  &.is-active {
    cursor: default;
  }
}

.tab.is-ghost {
  color: $light-2;
  &:not(.is-active):hover {
    @include desktop {
      background-color: $light-7;
      color: $white;
    }
  }
  &.is-active {
    color: $white;
    border-bottom-color: $light-2;
  }
}

// JS Tab Content
.tab-content.js-tab-content {
  &:not(.is-active) {
    display: none;
  }
  &.is-active {
    display: block;
  }
}