//----------------------------------------------------
/*! MUSUBii Demo */
//----------------------------------------------------

//----------------------------------------------------
// / Glob Import > Config SCSS
//----------------------------------------------------

@import "tone/**";
@import "variable/**";
@import "mixin/**";

//----------------------------------------------------
// / Demo - Global
//----------------------------------------------------

body {
  font-family: Nunito, "Rounded Mplus 1c", $font-sans;
}

.musubii-demo {
  //background-color: $cyan-500;
}

//----------------------------------------------------
// / Demo - Section
//----------------------------------------------------

.section.is-topcover {
  background-color: $cyan-500;
  background-image: url("../img/bg-topcover.svg");
  background-position: center bottom;
  background-size: cover;
  @include ie {
    background-image: url("../img/bg-topcover.png");
  }
}

.sectin.is-topcover-header {
  padding: 0.5em 0;
}

.section.is-topcover-content {
  padding: 6em 0;
  &:not(.is-active) {
    display: none;
  }
  &.is-active {
    display: block;
  }
}

.section.is-main {
}

.section.is-main-content {
  padding: 3em 0;
  background-color: $light;
  &:not(.is-active) {
    display: none;
  }
  &.is-active {
    display: block;
  }
}

.section.is-footer {
  background-color: $blue-grey-800;
  padding: 2em 0;
}

//----------------------------------------------------
// / Demo - Text
//----------------------------------------------------

.text.is-topcover-1 {
  font-size: 16.75vw;
  line-height: 1.1;
  @include tablet {
    font-size: 4.375em;
  }
}

.text.is-topcover-2 {
  font-size: 11vw;
  line-height: 1.1;
  @include tablet {
    font-size: 2.875em;
  }
}

//----------------------------------------------------
// / Demo - Object
//----------------------------------------------------

.obj.is-logo-header-wrap {
  padding: 0.875em 0;
}

.obj.is-logo-header {
  display: block;
  width: 8.25em;
}

.obj.is-topcover-illust {
  width: 23.5em;
}

//----------------------------------------------------
// / Demo - Tab
//----------------------------------------------------

.tabs {
  display: flex;
  max-width: calc(100vw - 2px);
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  @include mobile-tablet {
    margin-left: -1em;
    margin-right: -1em;
  }
}

.tab {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  height: 4.5em;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  padding: 0 1em;
  &.is-active {
    cursor: default;
  }
}

.tab.is-ghost {
  color: rgba( $white, 0.7 );
  &:hover {
    color: $white;
  }
  &.is-active {
    color: $white;
    border-bottom-color: rgba( $white, 0.7 );
  }
}








.group.is-wrap {
  position: relative;
  border: 1px solid $grey-300;
  border-radius: 2px;
  padding: 20px;
  &.is-preview:before {
    content: "Preview";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    border-right: 1px solid $grey-300;
    border-bottom: 1px solid $grey-300;
    border-radius: 0 0 2px 0;
    color: $grey-400;
    font-size: 0.675em;
    padding: 0 0.5em;
  }
  &.is-paint {
    background-color: $cyan-700;
    border: none;
    padding: 16px;
  }
  &.is-example {
    background-color: $grey-100;
    border: none;
    padding: 32px;
  }
}

.group.is-home-about {
  padding-top: 1em;
  padding-bottom: 1em;
}

.group.is-home-point {
  max-width: 700px;
  padding-bottom: 2em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.group.is-about-graphic-1 {
  font-size: 3.5em;
}

.group.is-about-graphic-2 {
  font-size: 3em;
}

.group.is-documentation-nav {
  border-top: 1px solid $grey-300;
  border-bottom: 1px solid $grey-300;
  padding: 20px 4px;
}

.group.is-demo-box-1,
.group.is-demo-box-2,
.group.is-demo-box-3 {
  width: 100%;
  &.is-primary {
    background-color: $primary;
    color: $light;
  }
  &.is-danger {
    background-color: $red-50;
    color: $danger;
  }
  &.is-grey {
    background-color: $grey-300;
    color: $light;
  }
  &.is-round {
    border-radius: 2px;
  }
  &.is-height-1 {
    height: 150px;
  }
  &.is-height-2 {
    height: 300px;
  }
  &.is-height-3 {
    height: 450px;
  }
}

.group.is-demo-box-1 {
  padding: 16px 0;
}

.group.is-demo-box-2 {
  padding: 0 16px;
}

.group.is-demo-box-3 {
  padding: 16px;
}

.group.is-section-anime-1 {
  height: 150px;
  overflow: hidden;
  animation: demo-section-anime-1 5s linear infinite 0s;
}

@keyframes demo-section-anime-1 {
  0% {
    width: 100%;
  }
  22% {
    width: 100%;
  }
  25% {
    width: 82%;
  }
  47% {
    width: 82%;
  }
  50% {
    width: 64%;
  }
  72% {
    width: 64%;
  }
  75% {
    width: 48%;
  }
  97% {
    width: 48%;
  }
  100% {
    width: 100%;
  }
}

.grid.is-demo-box-1 {
  &.is-height-1 {
    height: 182px;
  }
  &.is-height-2 {
    height: 332px;
  }
  &.is-height-3 {
    height: 482px;
  }
}

.grid.is-gap-6x:not(.is-gap-none) {
  margin-left: -3em;
  margin-bottom: -3em;
  > .col {
    padding-left: 3em;
    padding-bottom: 3em;
  }
  + .grid.is-gap-6x:not(.is-gap-none) {
    margin-top: 3em;
  }
}

.heading.is-demo-space-filter-1 {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
  }
  &:before {
    top: -2em;
    height: 2em;
    background-color: rgba($orange-500, 0.3);
  }
  &:after {
    top: 0;
    height: 1.25em;
    background-color: rgba($blue-500, 0.3);
  }
}

.text.is-demo-space-filter-2,
.icon.is-demo-space-filter-2 {
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
  }
  &:before {
    left: -0.375em;
    width: 0.375em;
    background-color: rgba($orange-500, 0.3);
  }
  &:after {
    left: 0;
    width: 100%;
    background-color: rgba($blue-500, 0.3);
  }
}

.text.is-demo-space-filter-3 {
  position: relative;
  display: inline-block;
  border-right: 2px dashed $red-500;
  > .fa {
    background-color: rgba($blue-500, 0.3);
  }
}

.btn.is-demo-code {
  position: absolute;
  bottom: 8px;
  right: 8px;
  outline: none;
  z-index: 10;
  + .pre {
    transition: ease 0.2s;
  }
  &:not(.is-active) + .pre {
    height: 0;
    overflow: hidden;
  }
  &.is-active + .pre {
    margin-top: 1em;
  }
}



.obj.is-footer-logo {
  display: block;
  width: 8em;
}

.mark-demo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(1.5em + 1px);
  .mark-demo-wrap {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    background-color: $dark-6;
    border-radius: 0.25em;
  }
  .mark-demo-japanese {
    color: $light;
    font-size: 0.675em;
  }
}

.induction.is-release {
  position: relative;
  top: -1px;
  right: -5px;
}

.btn.is-plain.is-cyan {
  background-color: $light;
  color: $cyan-500;
  &:hover {
    background-color: $cyan-50;
  }
}

.btn.is-ghost.is-cyan:hover {
  color: $cyan-500;
}





.group.is-documentation-nav .text.is-link-reverse {
  display: inline-block;
  line-height: 1;
  &.is-active {
    cursor: default;
    color: $cyan-500;
    font-weight: 700;
  }
  &.is-active:hover {
    border: none;
  }
}

.groups.is-documentation-contents > .content {
  &:not(.is-active) {
    display: none;
  }
  &.is-active {
    display: block;
  }
}