//----------------------------------------------------
// Themes: Dark
//----------------------------------------------------

$theme-dark-section-background-color-grey-wind: lighten($grey-900, 5%) !default;