.docs {
  padding-top: 32px;
  padding-bottom: 20vh;
}

.docs > * + * {
  margin-top: 20px;
}

.docs > :is(h1, h2, h3, h4, h5, h6) {
  position: relative;
  margin-left: -0.75em;
  padding-left: 0.75em;
  font-weight: 700;
  font-family: var(--font-sans-en);
  letter-spacing: 0.0125em;
}

.docs > :is(h1, h2, h3, h4, h5, h6):not(:first-child) {
  padding-top: 1em;
}

.docs > h1 {
  font-size: 200%;
}

.docs > h2 {
  font-size: 150%;
}

.docs > h3 {
  font-size: 125%;
}

.docs > :is(h2, h3, h4, h5, h6) a {
  position: absolute;
  left: 0;
  bottom: 2px;
  color: var(--theme-primary);
  font-size: 0.875em;
  text-decoration: none;
  visibility: hidden;
}

@media (hover: hover) and (pointer: fine) {
  .docs > :is(h2, h3, h4, h5, h6):not(#table-of-contents):hover a {
    visibility: visible;
  }
}

.docs > :is(h2, h3, h4, h5, h6) a .icon-link::before {
  content: "#";
}

.docs > #table-of-contents {
  margin-bottom: 12px;
  font-size: 100%;
  text-transform: uppercase;
}

.docs > #table-of-contents + ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  margin-top: 8px;
  padding: 0;
}

.docs > #table-of-contents + ul > li {
  display: flex;
  gap: 4px;
  list-style: none;
}

.docs > #table-of-contents + ul > li::before {
  content: "#";
  font-weight: 700;
  opacity: 0.6;
}

.docs > #table-of-contents + ul a {
  color: var(--theme-primary);
}

@media (hover: hover) and (pointer: fine) {
  .docs > #table-of-contents + ul a:hover {
    text-decoration: underline;
  }
}

.docs > #table-of-contents + ul > li > ul {
  display: none;
}

@media (1200px <= width) {
  .docs > #table-of-contents {
    display: none;
  }
  .docs > #table-of-contents + ul {
    display: none;
  }
}

.docs > p,
.docs > .alert p {
  line-height: 1.75;
}

.docs > :is(p, table, ul, ol, .alert) a {
  color: var(--theme-primary);
}

@media (hover: hover) and (pointer: fine) {
  .docs > :is(p, table, ul, ol, .alert) a:hover {
    text-decoration: underline;
  }
}

.docs > ol:not([class]),
.docs > ul:not([class]) {
  padding-left: 32px;
  list-style: initial;
}

.docs > ol:not([class]) > li,
.docs > ul:not([class]) > li {
  margin-top: 8px;
}

.docs > table {
  width: 100%;
  border-top-width: 1px;
  border-spacing: 0;
  border-collapse: collapse;
}

.docs > table tr {
  border-bottom-width: 1px;
}

.docs > table th,
.docs > table td {
  padding: 12px 16px 12px 0;
}

.docs > table th {
  font-size: 87.5%;
  font-weight: 600;
  text-align: left;
}

.docs > :is(p, table, ul, ol, .alert) code {
  padding: 0.2em 0.5em;
  background: var(--theme-bg-2);
  border-radius: 4px;
  color: var(--theme-code);
  font-size: 87.5%;
  font-family: var(--font-mono);
  word-break: break-all;
}

.docs > table code {
  overflow-wrap: break-word;
  word-break: normal;
}

.docs > pre {
  background: var(--theme-bg-2);
  border-radius: 12px;
  white-space: pre;
  word-wrap: normal;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.docs > pre code,
.docs > pre .hljs {
  display: block;
  padding: 1.25em 1.5em;
  color: var(--theme-tx-2);
  font-family: var(--font-mono);
}

.docs-preview {
  padding: 20px;
  border-width: 1px;
  border-color: var(--theme-bd-1);
  border-radius: 12px;
  overflow: hidden;
}
