//----------------------------------------------------
// Layouts: Box
//----------------------------------------------------

.box {
  &.is-feature-texts {
    max-width: 25.45em;
  }
}

.box.is-actions {
  position: fixed;
  z-index: 100;
  &.is-top-right {
    top: calc(#{$global-header-height-mobile} / 2);
    left: calc(100% - #{$meter-sm});
    transform: translate(-100%, -50%);
    @include fablet() {
      left: calc(50% + #{$section-inner-width-fablet} / 2 - #{$meter-sm});
    }
    @include tablet() {
      left: calc(50% + #{$section-inner-width-tablet} / 2 - #{$meter-sm});
    }
    @include desktop() {
      top: calc(#{$global-header-height-desktop} / 2);
      left: calc(50% + #{$section-inner-width-desktop} / 2 - #{$meter-sm});
    }
    @include wide() {
      left: calc(50% + #{$section-inner-width-wide} / 2 - #{$meter-sm});
    }
  }
}

.box.is-custom-grid-demo {
  .grid {
    &.is-middle,
    &.is-bottom,
    &.is-stretch {
      min-height: 120px;
    }
    &.is-baseline {
      > .column {
        &:nth-child(2) {
          font-size: 200%;
        }
        &:nth-child(4) {
          font-size: 75%;
        }
      }
    }
    > .column {
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 12px 20px;
        background-color: $convert-table-paint-background-color;
        border-radius: 2px;
        color: $convert-table-paint-color;
      }
    }
  }
}
