//----------------------------------------------------
// Layouts: Box
//----------------------------------------------------

.box {
  &.is-feature-texts {
    max-width: 25.45em;
  }
}

.box.is-actions {
  position: fixed;
  z-index: 100;
  &.is-top-right {
    top: calc(#{$header-height-mobile} / 2);
    left: calc(100% - #{$space-sm});
    transform: translate(-100%, -50%);
    @include fablet() {
      left: calc(50% + #{$section-inner-width-fablet} / 2 - #{$space-sm});
    }
    @include tablet() {
      left: calc(50% + #{$section-inner-width-tablet} / 2 - #{$space-sm});
    }
    @include desktop() {
      top: calc(#{$header-height-desktop} / 2);
      left: calc(50% + #{$section-inner-width-desktop} / 2 - #{$space-sm});
    }
    @include wide() {
      left: calc(50% + #{$section-inner-width-wide} / 2 - #{$space-sm});
    }
    @include ie {
      display: none;
    }
  }
}
