//----------------------------------------------------
// layouts: Section
//----------------------------------------------------

:root {
  --section-background-color-grey-wind: #{$grey-wind};
}

:root [data-theme="dark"] {
  --section-background-color-grey-wind: #2e2e2e;
}

.section {
  &.is-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $header-height-mobile;
    z-index: 10;
    > .inner {
      flex: none;
      @include mobile-only() {
        width: 100%;
      }
    }
    @include desktop() {
      height: $header-height-desktop;
    }
  }
  &.is-footer {
    position: relative;
    padding: 2.5em 0;
    z-index: 5;
  }
  &.is-hero {
    margin-top: -$header-height-mobile;
    padding: 2em + $header-height-mobile 0 3.5em;
    background-color: var(--section-background-color-grey-wind);
    transition: $global-transition-mode-change;
    @include desktop() {
      margin-top: -$header-height-desktop;
      padding: 1em + $header-height-desktop 0 3.5em;
    }
  }
  &.is-about {
    padding: 3em 0;
  }
  &.is-feature {
    padding: 3em 0;
    &:nth-child(odd) {
      background-color: var(--section-background-color-grey-wind);
    }
    &:nth-child(even) {
      .grid {
        flex-direction: row-reverse;
      }
    }
  }
}
