//----------------------------------------------------
// layouts: Section
//----------------------------------------------------

.section {
  &.is-header {
    position: relative;
    display: flex;
    //justify-content: center;
    align-items: center;
    height: $global-header-height-mobile;
    z-index: 10;
    > .inner {
      //position: absolute;
      //top: 50%;
      //left: 50%;
      flex: none;
      //transform: translate(-50%, -50%);
      @include mobile-only() {
        width: 100%;
      }
    }
    @include desktop() {
      height: $global-header-height-desktop;
    }
  }
  &.is-footer {
    position: relative;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    z-index: 5;
  }
  &.is-hero {
    margin-top: -$global-header-height-mobile;
    padding-top: 2em + $global-header-height-mobile;
    padding-bottom: 3.5em;
    background-color: $convert-section-background-color-grey-wind;
    transition: $global-transition-mode-change;
    @include desktop() {
      margin-top: -$global-header-height-desktop;
      padding: 1em + $global-header-height-desktop 0 3.5em;
    }
  }
  &.is-about {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  &.is-feature {
    padding-top: 3em;
    padding-bottom: 3em;
    &:nth-child(odd) {
      background-color: $convert-section-background-color-grey-wind;
    }
    &:nth-child(even) {
      .grid {
        flex-direction: row-reverse;
      }
    }
  }
}
