//----------------------------------------------------
// Base: Global
//----------------------------------------------------

//----------------------------------------------------
// / Variables (Default)
//----------------------------------------------------

// Use Style
$use-style-global: true !default;

// Body
$body-background-color: $convert-body-background-color !default;
$body-text-color: $convert-body-text-color !default;
$body-font-family: $font-sans !default;
$body-line-height: $line-height-md !default;

//----------------------------------------------------
// / Mixins (Export Style)
//----------------------------------------------------

@mixin export-style-global() {
  @if $use-style-global == true {
    @content;
  }
}

//----------------------------------------------------
// / Style - Global Body
//----------------------------------------------------

@mixin style-global-body() {
  background-color: $body-background-color;
  color: $body-text-color;
  font-family: $body-font-family;
  line-height: $body-line-height;
}

@include export-style-global() {
  body {
    @include style-global-body();
  }
}

//----------------------------------------------------
// / Style - Global Image
//----------------------------------------------------

@mixin style-global-image() {
  max-width: 100%;
  height: auto;
}

@include export-style-global() {
  img {
    @include style-global-image();
  }
}

//----------------------------------------------------

@mixin style-global-image-svg() {
  width: 100%;
}

@include export-style-global() {
  img[src$=".svg"] {
    @include style-global-image-svg();
  }
}

//----------------------------------------------------
// / Style - Global iframe
//----------------------------------------------------

@mixin style-global-iframe() {
  max-width: 100%;
}

@include export-style-global() {
  iframe {
    @include style-global-iframe();
  }
}
