//----------------------------------------------------
// Base: Global
//----------------------------------------------------

//----------------------------------------------------
// / Variables (Default)
//----------------------------------------------------

// Option
$option-mixin-mode: false !default;
$option-style-global: true !default;

// Selectors
$selector-global-body: "body" !default;
$selector-global-image: "img" !default;
$selector-global-image-svg: 'img[src$=".svg"]' !default;
$selector-global-iframe: "iframe" !default;

// Body
$body-background-color: $convert-body-background-color !default;
$body-text-color: $convert-body-text-color !default;
$body-font-family: $font-sans !default;
$body-line-height: $line-height-md !default;

//----------------------------------------------------
// / Mixins (Default)
//----------------------------------------------------

// Export Style
@mixin export-style-global() {
  @if $option-mixin-mode == false and $option-style-global == true {
    @content;
  }
}

//----------------------------------------------------
// / Style - Global Body
//----------------------------------------------------

@mixin musubii-style-global-body() {
  background-color: $body-background-color;
  color: $body-text-color;
  font-family: $body-font-family;
  line-height: $body-line-height;
}

@include export-style-global() {
  #{$selector-global-body} {
    @include musubii-style-global-body();
  }
}

//----------------------------------------------------
// / Style - Global Image
//----------------------------------------------------

@mixin musubii-style-global-image() {
  max-width: 100%;
  height: auto;
}

@include export-style-global() {
  #{$selector-global-image} {
    @include musubii-style-global-image();
  }
}

//----------------------------------------------------

@mixin musubii-style-global-image-svg() {
  width: 100%;
}

@include export-style-global() {
  #{$selector-global-image-svg} {
    @include musubii-style-global-image-svg();
  }
}

//----------------------------------------------------
// / Style - Global iframe
//----------------------------------------------------

@mixin musubii-style-global-iframe() {
  max-width: 100%;
}

@include export-style-global() {
  #{$selector-global-iframe} {
    @include musubii-style-global-iframe();
  }
}
