//----------------------------------------------------
// Base: Root - Dark
//----------------------------------------------------

//----------------------------------------------------
// / Variables (Default)
//----------------------------------------------------

// Use
$use-mixin-mode: false !default;
$use-css-variables: true !default;
$use-theme-default-dark: false !default;
$use-theme-media-dark: false !default;
$use-theme-attr-dark: true !default;

// Selectors
$selector-root: ":root" !default;
$selector-root-attr: "data-theme" !default;

// Root
$root-attr-dark: "dark" !default;

//----------------------------------------------------
// / Mixins (Export Style)
//----------------------------------------------------

@mixin export-style-root-dark() {
  @if $use-mixin-mode == false {
    @if $use-css-variables == true and $use-theme-default-dark == true {
      @content;
    }
    @if $use-css-variables == true and $use-theme-media-dark == true {
      @include theme-media(dark) {
        @content;
      }
    }
    @if $use-css-variables == true and $use-theme-attr-dark == true {
      @include theme-attr($selector-root-attr, $root-attr-dark) {
        @content;
      }
    }
  }
}

//----------------------------------------------------
// / Style - Root Dark
//----------------------------------------------------

#{$selector-root} {
  @include export-style-root-dark() {
    --primary: #{$theme-dark-primary};
    --primary-strong: #{$theme-dark-primary-strong};
    --primary-darken: #{$theme-dark-primary-darken};
    --info: #{$theme-dark-info};
    --info-strong: #{$theme-dark-info-strong};
    --info-darken: #{$theme-dark-info-darken};
    --success: #{$theme-dark-success};
    --success-strong: #{$theme-dark-success-strong};
    --success-darken: #{$theme-dark-success-darken};
    --warning: #{$theme-dark-warning};
    --warning-strong: #{$theme-dark-warning-strong};
    --warning-darken: #{$theme-dark-warning-darken};
    --danger: #{$theme-dark-danger};
    --danger-strong: #{$theme-dark-danger-strong};
    --danger-darken: #{$theme-dark-danger-darken};
  }
}

#{$selector-root} {
  @include export-style-root-dark() {
    --text-dark: #{$theme-dark-text-dark};
    --text-dark-1: #{$theme-dark-text-dark-1};
    --text-dark-2: #{$theme-dark-text-dark-2};
    --text-dark-3: #{$theme-dark-text-dark-3};
    --text-dark-4: #{$theme-dark-text-dark-4};
    --text-dark-5: #{$theme-dark-text-dark-5};
    --text-dark-6: #{$theme-dark-text-dark-6};
    --text-dark-7: #{$theme-dark-text-dark-7};
    --text-dark-8: #{$theme-dark-text-dark-8};
    --text-dark-9: #{$theme-dark-text-dark-9};
    --text-light: #{$theme-dark-text-light};
    --text-light-1: #{$theme-dark-text-light-1};
    --text-light-2: #{$theme-dark-text-light-2};
    --text-light-3: #{$theme-dark-text-light-3};
    --text-light-4: #{$theme-dark-text-light-4};
    --text-light-5: #{$theme-dark-text-light-5};
    --text-light-6: #{$theme-dark-text-light-6};
    --text-light-7: #{$theme-dark-text-light-7};
    --text-light-8: #{$theme-dark-text-light-8};
    --text-light-9: #{$theme-dark-text-light-9};
  }
}

#{$selector-root} {
  @include export-style-root-dark() {
    --background: #{$theme-dark-background};
    --background-1: #{$theme-dark-background-1};
    --background-2: #{$theme-dark-background-2};
    --background-3: #{$theme-dark-background-3};
    --background-4: #{$theme-dark-background-4};
    --background-alpha: #{$theme-dark-background-alpha};
    --border: #{$theme-dark-border};
    --border-1: #{$theme-dark-border-1};
    --shadow-alpha: #{$theme-dark-shadow-alpha};
    --shadow-alpha-thin: #{$theme-dark-shadow-alpha-thin};
    --focus-darken: #{$theme-dark-focus-darken};
    --focus-alpha: #{$theme-dark-focus-alpha};
    --focus-alpha-thin: #{$theme-dark-focus-alpha-thin};
  }
}

#{$selector-root} {
  @include export-style-root-dark() {
    --disabled-background-color: #{$theme-dark-disabled-background-color};
    --disabled-border-color: #{$theme-dark-disabled-border-color};
    --disabled-text-color: #{$theme-dark-disabled-text-color};
  }
}

#{$selector-root} {
  @include export-style-root-dark() {
    --body-background-color: #{$theme-dark-body-background-color};
    --body-text-color: #{$theme-dark-body-text-color};
    --code-text-color: #{$theme-dark-code-text-color};
    --button-paint-text-color: #{$theme-dark-button-paint-text-color};
    --table-paint-background-color: #{$theme-dark-table-paint-background-color};
    --table-paint-text-color: #{$theme-dark-table-paint-text-color};
    --table-spot-background-color: #{$theme-dark-table-spot-background-color};
    --table-danger-background-color: #{$theme-dark-table-danger-background-color};
    --input-placeholder-color: #{$theme-dark-input-placeholder-color};
    --input-success-background-color: #{$theme-dark-input-success-background-color};
    --input-success-border-color: #{$theme-dark-input-success-border-color};
    --input-danger-background-color: #{$theme-dark-input-danger-background-color};
    --input-danger-border-color: #{$theme-dark-input-danger-border-color};
    --checkbox-before-border-color: #{$theme-dark-checkbox-before-border-color};
    --alert-primary-background-color: #{$theme-dark-alert-primary-background-color};
    --alert-primary-border-color: #{$theme-dark-alert-primary-border-color};
    --alert-info-background-color: #{$theme-dark-alert-info-background-color};
    --alert-info-border-color: #{$theme-dark-alert-info-border-color};
    --alert-success-background-color: #{$theme-dark-alert-success-background-color};
    --alert-success-border-color: #{$theme-dark-alert-success-border-color};
    --alert-warning-background-color: #{$theme-dark-alert-warning-background-color};
    --alert-warning-border-color: #{$theme-dark-alert-warning-border-color};
    --alert-danger-background-color: #{$theme-dark-alert-danger-background-color};
    --alert-danger-border-color: #{$theme-dark-alert-danger-border-color};
  }
}
