.button {
  --button-gap: 0.5em;
  --button-px: 1em;
  --button-py: 0.5em;
  --button-bg: transparent;
  --button-bd-width: 1px;
  --button-bd-color: transparent;
  --button-rounded: 6px;
  --button-tx-color: inherit;
  --button-font-weight: 500;
  --button-line-height: 1.25;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--button-gap);
  width: auto;
  padding: var(--button-py) var(--button-px);
  background: var(--button-bg);
  border-width: var(--button-bd-width);
  border-color: var(--button-bd-color);
  border-radius: var(--button-rounded);
  color: var(--button-tx-color);
  font-weight: var(--button-font-weight);
  line-height: var(--button-line-height);
  white-space: nowrap;
  appearance: none;
}

.button:where(.is-plain) {
  --button-bg: var(--theme-bg-2);
}

.button:where(.is-plain.is-primary) {
  --button-bg: var(--theme-primary);
  --button-tx-color: var(--theme-lk-tx);
}

.button:where(.is-plain.is-secondary) {
  --button-bg: var(--theme-secondary);
  --button-tx-color: var(--theme-lk-tx);
}

.button:where(.is-plain.is-info) {
  --button-bg: var(--theme-info);
  --button-tx-color: var(--theme-lk-tx);
}

.button:where(.is-plain.is-success) {
  --button-bg: var(--theme-success);
  --button-tx-color: var(--theme-lk-tx);
}

.button:where(.is-plain.is-warning) {
  --button-bg: var(--theme-warning);
  --button-tx-color: var(--theme-lk-tx);
}

.button:where(.is-plain.is-danger) {
  --button-bg: var(--theme-danger);
  --button-tx-color: var(--theme-lk-tx);
}

@media (hover: hover) and (pointer: fine) {
  .button:where(.is-plain):hover {
    filter: brightness(0.9);
  }
}

.button:where(.is-outline) {
  --button-bd-color: var(--theme-bd-2);
}

.button:where(.is-outline.is-primary) {
  --button-bd-color: var(--theme-primary);
  --button-tx-color: var(--theme-primary);
}

.button:where(.is-outline.is-secondary) {
  --button-bd-color: var(--theme-secondary);
  --button-tx-color: var(--theme-secondary);
}

.button:where(.is-outline.is-info) {
  --button-bd-color: var(--theme-info);
  --button-tx-color: var(--theme-info);
}

.button:where(.is-outline.is-success) {
  --button-bd-color: var(--theme-success);
  --button-tx-color: var(--theme-success);
}

.button:where(.is-outline.is-warning) {
  --button-bd-color: var(--theme-warning);
  --button-tx-color: var(--theme-warning);
}

.button:where(.is-outline.is-danger) {
  --button-bd-color: var(--theme-danger);
  --button-tx-color: var(--theme-danger);
}

@media (hover: hover) and (pointer: fine) {
  .button:where(.is-outline):hover {
    --button-bg: var(--theme-bg-2);
  }
  .button:where(.is-outline.is-primary):hover {
    --button-bg: var(--theme-primary);
    --button-tx-color: var(--theme-lk-tx);
  }
  .button:where(.is-outline.is-secondary):hover {
    --button-bg: var(--theme-secondary);
    --button-tx-color: var(--theme-lk-tx);
  }
  .button:where(.is-outline.is-info):hover {
    --button-bg: var(--theme-info);
    --button-tx-color: var(--theme-lk-tx);
  }
  .button:where(.is-outline.is-success):hover {
    --button-bg: var(--theme-success);
    --button-tx-color: var(--theme-lk-tx);
  }
  .button:where(.is-outline.is-warning):hover {
    --button-bg: var(--theme-warning);
    --button-tx-color: var(--theme-lk-tx);
  }
  .button:where(.is-outline.is-danger):hover {
    --button-bg: var(--theme-danger);
    --button-tx-color: var(--theme-lk-tx);
  }
}

.button:where(.is-melt.is-primary) {
  --button-tx-color: var(--theme-primary);
}

.button:where(.is-melt.is-secondary) {
  --button-tx-color: var(--theme-secondary);
}

.button:where(.is-melt.is-info) {
  --button-tx-color: var(--theme-info);
}

.button:where(.is-melt.is-success) {
  --button-tx-color: var(--theme-success);
}

.button:where(.is-melt.is-warning) {
  --button-tx-color: var(--theme-warning);
}

.button:where(.is-melt.is-danger) {
  --button-tx-color: var(--theme-danger);
}

@media (hover: hover) and (pointer: fine) {
  .button:where(.is-melt):hover {
    --button-bg: var(--theme-bg-2);
  }
  .button:where(.is-melt.is-primary):hover {
    --button-bg: var(--theme-primary-light);
  }
  .button:where(.is-melt.is-secondary):hover {
    --button-bg: var(--theme-secondary-light);
  }
  .button:where(.is-melt.is-info):hover {
    --button-bg: var(--theme-info-light);
  }
  .button:where(.is-melt.is-success):hover {
    --button-bg: var(--theme-success-light);
  }
  .button:where(.is-melt.is-warning):hover {
    --button-bg: var(--theme-warning-light);
  }
  .button:where(.is-melt.is-danger):hover {
    --button-bg: var(--theme-danger-light);
  }
}

.button:where([disabled]),
.button:where([aria-disabled="true"]),
.button:where(.is-disabled) {
  pointer-events: none;
  opacity: 0.5;
}
