@media (744px <= width) {
  .tablet\:is-xxl,
  .is-tablet-xxl {
    font-size: 200%;
  }
  .tablet\:is-xl,
  .is-tablet-xl {
    font-size: 150%;
  }
  .tablet\:is-lg,
  .is-tablet-lg {
    font-size: 125%;
  }
  .tablet\:is-md,
  .is-tablet-md {
    font-size: 100%;
  }
  .tablet\:is-sm,
  .is-tablet-sm {
    font-size: 87.5%;
  }
  .tablet\:is-xs,
  .is-tablet-xs {
    font-size: 75%;
  }
  .tablet\:is-xxs,
  .is-tablet-xxs {
    font-size: 62.5%;
  }
}
