//----------------------------------------------------
// Components: Form
//----------------------------------------------------

//----------------------------------------------------
// / Variables (Default)
//----------------------------------------------------

// Option
$option-mixin-mode: false !default;
$option-style-form: true !default;

// Selectors
$selector-fieldset: ".fieldset" !default;
$selector-input: ".input" !default;
$selector-textarea: ".textarea" !default;
$selector-radio: ".radio" !default;
$selector-checkbox: ".checkbox" !default;
$selector-label: ".label" !default;
$selector-select-wrap: ".select" !default;
$selector-select: "select" !default;

// Modifiers
$modifier-radio-active: ".is-active" !default;
$modifier-checkbox-active: ".is-active" !default;
$modifier-radio-disabled: ".is-disabled" !default;
$modifier-checkbox-disabled: ".is-disabled" !default;

// Input
$input-height: 2.5em !default;
$input-padding: 0.5em 0.75em !default;
$input-background-color: $convert-background-1 !default;
$input-border-width: $global-border-width !default;
$input-border-color: $convert-border !default;
$input-border-radius: $radius-xs !default;
$input-line-height: $line-height-md !default;
$input-shadow: inset 0 1px 1px $convert-shadow-alpha-thin !default;
$input-transition: $global-transition !default;

// Input Placeholder
$input-placeholder-color: $convert-input-placeholder-color !default;

// Input Disabled
$input-disabled-background-color: $convert-disabled-background-color !default;
$input-disabled-border-color: $convert-disabled-border-color !default;
$input-disabled-shadow: inset 0 1px 1px $convert-shadow-alpha-thin !default;
$input-disabled-text-color: $convert-disabled-text-color !default;

// Input Readonly
$input-readonly-background-color: $convert-background-2 !default;
$input-readonly-border-color: $convert-border !default;
$input-readonly-shadow: inset 0 1px 1px $convert-shadow-alpha-thin !default;
$input-readonly-text-color: $convert-body-text-color !default;

// Input Focus
$input-focus-border-color: $convert-focus-darken !default;
$input-focus-shadow: inset 0 1px 1px $convert-shadow-alpha-thin,
  0 0 0 $space-xxs $convert-focus-alpha-thin !default;

// Input Round
$input-round-border-radius: $radius-full !default;

// Pattern - Input Custom
$pattern-input-custom: round !default;

// Input Plain
$input-plain-background-color: $convert-background-2 !default;
$input-plain-border-color: transparent !default;
$input-plain-focus-shadow: 0 0 0 $space-xxs $convert-focus-alpha-thin !default;

// Input Underline
$input-underline-padding-left: 0 !default;
$input-underline-padding-right: 0 !default;
$input-underline-border-width: $global-border-width !default;
$input-underline-border-color: $convert-border !default;

// Input Inside
$input-inside-padding: 0.5em 0.75em !default;

// Pattern - Input Style
$pattern-input-style: plain, underline, inside !default;

// Input Success
$input-success-background-color: $convert-input-success-background-color !default;
$input-success-border-color: $convert-input-success-border-color !default;

// Input Danger
$input-danger-background-color: $convert-input-danger-background-color !default;
$input-danger-border-color: $convert-input-danger-border-color !default;

// Textarea
$textarea-padding: calc(0.5em - 1.5px) 0.5em !default;

// Radio
$radio-size: 1em !default;
$radio-border-width: $global-border-width * 2 !default;
$radio-background-color: $convert-background !default;
$radio-transition: $global-transition !default;
$radio-focus-shadow: 0 0 0 $space-xxs $convert-focus-alpha-thin !default;
$radio-before-checked-background-color: $convert-primary-strong !default;
$radio-checked-border-color: $convert-primary-strong !default;

// Checkbox
$checkbox-size: 1em !default;
$checkbox-border-width: $global-border-width * 2 !default;
$checkbox-border-radius: $radius-xs !default;
$checkbox-background-color: $convert-background !default;
$checkbox-transition: $global-transition !default;
$checkbox-focus-border-color: $convert-focus-darken !default;
$checkbox-focus-shadow: 0 0 0 $space-xxs $convert-focus-alpha-thin !default;
$checkbox-before-border-color: $convert-checkbox-before-border-color !default;
$checkbox-checked-background-color: $convert-primary !default;
$checkbox-checked-border-color: $convert-primary !default;

// Select
$select-angle-size: 0.5em !default;
$select-angle-border-width: $global-border-width * 2 !default;
$select-angle-border-color: $convert-border-1 !default;
$select-transition: $global-transition !default;
$select-focus-shadow: 0 0 0 $space-xxs $convert-focus-alpha-thin !default;

//----------------------------------------------------
// / Mixins (Default)
//----------------------------------------------------

@mixin export-style-form() {
  @if $option-mixin-mode == false and $option-style-form == true {
    @content;
  }
}

//----------------------------------------------------
// / Style - Form Fieldset
//----------------------------------------------------

@mixin musubii-style-form-fieldset() {
  padding: 0;
  border: none;
}

@include export-style-form() {
  #{$selector-fieldset} {
    @include musubii-style-form-fieldset();
  }
}

//----------------------------------------------------
// / Style - Form Input
//----------------------------------------------------

@mixin musubii-style-form-input() {
  position: relative;
  max-width: 100%;
  height: calc(#{$input-height} + (#{$input-border-width} * 2));
  padding: $input-padding;
  background-color: $input-background-color;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  box-shadow: $input-shadow;
  color: $body-text-color;
  line-height: $input-line-height;
  appearance: none;
  transition: $input-transition;
  &[disabled] {
    cursor: not-allowed;
    background-color: $input-disabled-background-color;
    box-shadow: $input-disabled-shadow;
    color: $input-disabled-text-color;
  }
  &[readonly] {
    background-color: $input-readonly-background-color;
    border-color: $input-readonly-border-color;
    box-shadow: $input-readonly-shadow;
    color: $input-readonly-text-color;
  }
  &:focus,
  &[readonly]:focus {
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-shadow;
    outline: none;
  }
  &.is-success {
    border-color: $input-success-border-color;
  }
  &.is-danger {
    background-color: $input-danger-background-color;
    border-color: $input-danger-border-color;
  }
  @include placeholder {
    color: $input-placeholder-color;
  }
}

@mixin musubii-style-form-textarea() {
  position: relative;
  max-width: 100%;
  padding: $textarea-padding;
  background-color: $input-background-color;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  box-shadow: $input-shadow;
  color: $body-text-color;
  appearance: none;
  transition: $input-transition;
  &[disabled] {
    cursor: not-allowed;
    background-color: $input-disabled-background-color;
    box-shadow: $input-disabled-shadow;
    color: $input-disabled-text-color;
  }
  &[readonly] {
    background-color: $input-readonly-background-color;
    border-color: $input-readonly-border-color;
    box-shadow: $input-readonly-shadow;
    color: $input-readonly-text-color;
  }
  &:focus,
  &[readonly]:focus {
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-shadow;
    outline: none;
  }
  &.is-success {
    border-color: $input-success-border-color;
  }
  &.is-danger {
    background-color: $input-danger-background-color;
    border-color: $input-danger-border-color;
  }
  @include placeholder {
    color: $input-placeholder-color;
  }
}

@include export-style-form() {
  #{$selector-input} {
    &[type="text"],
    &[type="search"],
    &[type="url"],
    &[type="email"],
    &[type="tel"],
    &[type="password"],
    &[type="datetime-local"],
    &[type="date"],
    &[type="month"],
    &[type="week"],
    &[type="time"],
    &[type="number"] {
      @include musubii-style-form-input();
    }
  }
  #{$selector-textarea} {
    @include musubii-style-form-textarea();
  }
}

//----------------------------------------------------
// / Style - Form Input Round
//----------------------------------------------------

@mixin musubii-style-form-input-round() {
  &.is-round {
    border-radius: $input-round-border-radius;
  }
}

@include export-style-form() {
  #{$selector-input} {
    &[type="text"],
    &[type="search"],
    &[type="url"],
    &[type="email"],
    &[type="tel"],
    &[type="password"],
    &[type="datetime-local"],
    &[type="date"],
    &[type="month"],
    &[type="week"],
    &[type="time"],
    &[type="number"] {
      @include musubii-style-form-input-round();
    }
  }
}

//----------------------------------------------------
// / Style - Form Input Plain
//----------------------------------------------------

@mixin musubii-style-form-input-plain() {
  &.is-plain {
    background-color: $input-plain-background-color;
    border: $input-border-width solid $input-plain-border-color;
    box-shadow: none;
    &[disabled] {
      background-color: $input-disabled-background-color;
    }
    &:focus,
    &[readonly]:focus {
      border-color: $input-focus-border-color;
      box-shadow: $input-plain-focus-shadow;
    }
    &.is-success {
      background-color: $input-success-background-color;
    }
    &.is-danger {
      background-color: $input-danger-background-color;
    }
  }
}

@include export-style-form() {
  #{$selector-input} {
    &[type="text"],
    &[type="search"],
    &[type="url"],
    &[type="email"],
    &[type="tel"],
    &[type="password"],
    &[type="datetime-local"],
    &[type="date"],
    &[type="month"],
    &[type="week"],
    &[type="time"],
    &[type="number"] {
      @include musubii-style-form-input-plain();
    }
  }
  #{$selector-textarea} {
    @include musubii-style-form-input-plain();
  }
}

//----------------------------------------------------
// / Style - Form Input Underline
//----------------------------------------------------

@mixin musubii-style-form-input-underline() {
  &.is-underline {
    padding-left: $input-underline-padding-left;
    padding-right: $input-underline-padding-right;
    background-color: transparent;
    border: none;
    border-bottom: $input-underline-border-width solid
      $input-underline-border-color;
    border-radius: 0;
    box-shadow: none;
    &[disabled],
    &[readonly] {
      background-color: transparent;
    }
    &:focus,
    &[readonly]:focus {
      border-color: $input-focus-border-color;
      box-shadow: none;
    }
    &.is-success {
      border-bottom-color: $input-success-border-color;
    }
    &.is-danger {
      border-bottom-color: $input-danger-border-color;
    }
  }
}

@include export-style-form() {
  #{$selector-input} {
    &[type="text"],
    &[type="search"],
    &[type="url"],
    &[type="email"],
    &[type="tel"],
    &[type="password"],
    &[type="datetime-local"],
    &[type="date"],
    &[type="month"],
    &[type="week"],
    &[type="time"],
    &[type="number"] {
      @include musubii-style-form-input-underline();
    }
  }
  #{$selector-textarea} {
    @include musubii-style-form-input-underline();
  }
}

//----------------------------------------------------
// / Style - Form Input Inside
//----------------------------------------------------

@mixin musubii-style-form-input-inside() {
  &.is-inside {
    padding: $input-inside-padding;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;
    &[disabled],
    &[readonly] {
      background-color: transparent;
      border-color: transparent;
    }
    &:focus,
    &[readonly]:focus {
      border-color: transparent;
      box-shadow: none;
    }
    &.is-success {
      background-color: $input-success-background-color;
    }
    &.is-danger {
      background-color: $input-danger-background-color;
    }
  }
}

@include export-style-form() {
  #{$selector-input} {
    &[type="text"],
    &[type="search"],
    &[type="url"],
    &[type="email"],
    &[type="tel"],
    &[type="password"],
    &[type="datetime-local"],
    &[type="date"],
    &[type="month"],
    &[type="week"],
    &[type="time"],
    &[type="number"] {
      @include musubii-style-form-input-inside();
    }
  }
  #{$selector-textarea} {
    @include musubii-style-form-input-inside();
  }
}

//----------------------------------------------------
// / Style - Form Input File
//----------------------------------------------------

@mixin musubii-style-form-input-file() {
  display: none;
}

@include export-style-form() {
  #{$selector-input} {
    &[type="file"] {
      @include musubii-style-form-input-file();
    }
  }
}

//----------------------------------------------------
// / Style - Form Label
//----------------------------------------------------

@mixin musubii-style-form-label() {
  cursor: pointer;
  display: flex;
  &:not(.is-middle) {
    #{$selector-radio} {
      top: $radio-size * 0.25;
    }
    #{$selector-checkbox} {
      top: $checkbox-size * 0.25;
    }
  }
  &.is-middle {
    align-items: center;
  }
  &.is-center {
    justify-content: center;
  }
}

@include export-style-form() {
  #{$selector-label} {
    @include musubii-style-form-label();
  }
}

//----------------------------------------------------
// / Style - Form Radio
//----------------------------------------------------

@mixin musubii-style-form-radio() {
  position: relative;
  display: inline-block;
  flex: none;
  width: $radio-size;
  height: $radio-size;
  background-color: $radio-background-color;
  border: $radio-border-width solid $input-border-color;
  border-radius: $radio-size * 0.5;
  transition: $radio-transition;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: $radio-size * 0.5;
    height: $radio-size * 0.5;
    background-color: $radio-before-checked-background-color;
    border-radius: $radio-size * 0.5 * 0.5;
    transform: translate(-50%, -50%);
    transition: $radio-transition;
    opacity: 0;
  }
}

@include export-style-form() {
  #{$selector-radio} {
    @include musubii-style-form-radio();
  }
}

//----------------------------------------------------
// / Style - Form Radio Focus
//----------------------------------------------------

@mixin musubii-style-form-radio-focus() {
  box-shadow: $radio-focus-shadow;
  outline: none;
}

@include export-style-form() {
  #{$selector-radio} {
    &:focus {
      @include musubii-style-form-radio-focus();
    }
  }
  #{$selector-input} {
    &[type="radio"] {
      &:focus {
        + {
          #{$selector-label} {
            #{$selector-radio} {
              @include musubii-style-form-radio-focus();
            }
          }
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Radio Active
//----------------------------------------------------

@mixin musubii-style-form-radio-active() {
  border-color: $radio-checked-border-color;
  &:before {
    opacity: 1;
  }
}

@include export-style-form() {
  #{$selector-radio} {
    &#{$modifier-radio-active} {
      @include musubii-style-form-radio-active();
    }
  }
  #{$selector-input} {
    &[type="radio"] {
      &:checked {
        + {
          #{$selector-label} {
            #{$selector-radio} {
              @include musubii-style-form-radio-active();
            }
          }
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Radio Disabled
//----------------------------------------------------

@mixin musubii-style-form-radio-disabled() {
  cursor: not-allowed;
  border-color: $input-disabled-border-color;
}

@mixin musubii-style-form-radio-label-disabled() {
  cursor: not-allowed;
  color: $input-disabled-text-color;
}

@include export-style-form() {
  #{$selector-radio} {
    &#{$modifier-radio-disabled} {
      @include musubii-style-form-radio-disabled();
    }
  }
  #{$selector-input} {
    &[type="radio"] {
      &[disabled] {
        + {
          #{$selector-label} {
            @include musubii-style-form-radio-label-disabled();
            #{$selector-radio} {
              @include musubii-style-form-radio-disabled();
            }
          }
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Checkbox
//----------------------------------------------------

@mixin musubii-style-form-checkbox() {
  position: relative;
  display: inline-block;
  flex: none;
  width: $checkbox-size;
  height: $checkbox-size;
  background-color: $checkbox-background-color;
  border: $checkbox-border-width solid $input-border-color;
  border-radius: $checkbox-border-radius;
  transition: $checkbox-transition;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: $checkbox-size * 0.75;
    height: $checkbox-size * 0.375;
    border-left: $checkbox-size * 0.125 solid $checkbox-before-border-color;
    border-bottom: $checkbox-size * 0.125 solid $checkbox-before-border-color;
    transform: translate(-50%, -70%) rotate(-45deg);
    transition: $checkbox-transition;
    opacity: 0;
  }
}

@include export-style-form() {
  #{$selector-checkbox} {
    @include musubii-style-form-checkbox();
  }
}

//----------------------------------------------------
// / Style - Form Checkbox Focus
//----------------------------------------------------

@mixin musubii-style-form-checkbox-focus() {
  border-color: $checkbox-focus-border-color;
  box-shadow: $checkbox-focus-shadow;
  outline: none;
}

@include export-style-form() {
  #{$selector-checkbox} {
    &:focus {
      @include musubii-style-form-checkbox-focus();
    }
  }
  #{$selector-input} {
    &[type="checkbox"] {
      &:focus {
        + {
          #{$selector-label} {
            #{$selector-checkbox} {
              @include musubii-style-form-checkbox-focus();
            }
          }
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Checkbox Active
//----------------------------------------------------

@mixin musubii-style-form-checkbox-active() {
  background-color: $checkbox-checked-background-color;
  border-color: $checkbox-checked-border-color;
  &:before {
    opacity: 1;
  }
}

@include export-style-form() {
  #{$selector-checkbox} {
    &#{$modifier-checkbox-active} {
      @include musubii-style-form-checkbox-active();
    }
  }
  #{$selector-input} {
    &[type="checkbox"] {
      &:checked {
        + {
          #{$selector-label} {
            #{$selector-checkbox} {
              @include musubii-style-form-checkbox-active();
            }
          }
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Checkbox Disabled
//----------------------------------------------------

@mixin musubii-style-form-checkbox-disabled() {
  cursor: not-allowed;
  border-color: $input-disabled-border-color;
}

@mixin musubii-style-form-checkbox-label-disabled() {
  cursor: not-allowed;
  color: $input-disabled-text-color;
}

@include export-style-form() {
  #{$selector-checkbox} {
    &#{$modifier-checkbox-disabled} {
      @include musubii-style-form-checkbox-disabled();
    }
  }
  #{$selector-input} {
    &[type="checkbox"] {
      &[disabled] {
        + {
          #{$selector-label} {
            @include musubii-style-form-checkbox-label-disabled();
            #{$selector-checkbox} {
              @include musubii-style-form-checkbox-disabled();
            }
          }
        }
      }
    }
  }
}

//----------------------------------------------------
// / Style - Form Select
//----------------------------------------------------

@mixin musubii-style-form-select() {
  position: relative;
  display: inline-flex;
  > {
    #{$selector-select} {
      cursor: pointer;
      flex: none;
      width: 100%;
      height: calc(#{$input-height} + (#{$input-border-width} * 2));
      padding: $input-padding;
      background-color: $input-background-color;
      border: $input-border-width solid $input-border-color;
      border-radius: $input-border-radius;
      color: $body-text-color;
      line-height: $input-line-height;
      transition: $select-transition;
      appearance: none;
      &[disabled] {
        cursor: not-allowed;
        background-color: $input-disabled-background-color;
        color: $input-disabled-text-color;
        > option {
          color: $input-disabled-text-color;
        }
      }
      &[readonly] {
        background-color: $input-readonly-background-color;
        color: $input-readonly-text-color;
      }
      &:focus,
      &[readonly]:focus {
        border-color: $input-focus-border-color;
        box-shadow: $select-focus-shadow;
        outline: none;
      }
      &::-ms-expand {
        display: none;
      }
    }
  }
  &:not(.is-multiple) {
    &:after {
      content: "";
      pointer-events: none;
      position: absolute;
      top: 50%;
      right: ($select-angle-size * 2);
      width: $select-angle-size;
      height: $select-angle-size;
      border-bottom: $select-angle-border-width solid $select-angle-border-color;
      border-right: $select-angle-border-width solid $select-angle-border-color;
      transform: translateY(-70%) rotate(45deg);
    }
    > {
      #{$selector-select} {
        padding-right: ($select-angle-size * 5);
      }
    }
  }
  &.is-success {
    > {
      #{$selector-select} {
        border-color: $input-success-border-color;
      }
    }
  }
  &.is-danger {
    > {
      #{$selector-select} {
        background-color: $input-danger-background-color;
        border-color: $input-danger-border-color;
      }
    }
  }
}

@include export-style-form() {
  #{$selector-select-wrap} {
    @include musubii-style-form-select();
  }
}

//----------------------------------------------------
// / Style - Form Select Round
//----------------------------------------------------

@mixin musubii-style-form-select-round() {
  &.is-round:not(.is-multiple) {
    > {
      #{$selector-select} {
        border-radius: $input-round-border-radius;
      }
    }
  }
}

@include export-style-form() {
  #{$selector-select-wrap} {
    @include musubii-style-form-select-round();
  }
}

//----------------------------------------------------
// / Style - Form Select Plain
//----------------------------------------------------

@mixin musubii-style-form-select-plain() {
  &.is-plain {
    > {
      #{$selector-select} {
        background-color: $input-plain-background-color;
        border: $input-border-width solid transparent;
        &[disabled] {
          background-color: $input-disabled-background-color;
        }
        &:focus,
        &[readonly]:focus {
          border-color: $input-focus-border-color;
        }
      }
    }
    &.is-success {
      > {
        #{$selector-select} {
          background-color: $input-success-background-color;
        }
      }
    }
    &.is-danger {
      > {
        #{$selector-select} {
          background-color: $input-danger-background-color;
        }
      }
    }
  }
}

@include export-style-form() {
  #{$selector-select-wrap} {
    @include musubii-style-form-select-plain();
  }
}

//----------------------------------------------------
// / Style - Form Select Underline
//----------------------------------------------------

@mixin musubii-style-form-select-underline() {
  &.is-underline {
    > {
      #{$selector-select} {
        padding-left: $input-underline-padding-left;
        background-color: transparent;
        border: none;
        border-bottom: $input-underline-border-width solid
          $input-underline-border-color;
        border-radius: 0;
        box-shadow: none;
        &[disabled],
        &[readonly] {
          background-color: transparent;
        }
        &:focus,
        &[readonly]:focus {
          border-color: $input-focus-border-color;
          box-shadow: none;
        }
      }
    }
    &.is-success {
      > {
        #{$selector-select} {
          border-bottom-color: $input-success-border-color;
        }
      }
    }
    &.is-danger {
      > {
        #{$selector-select} {
          border-bottom-color: $input-danger-border-color;
        }
      }
    }
  }
}

@include export-style-form() {
  #{$selector-select-wrap} {
    @include musubii-style-form-select-underline();
  }
}

//----------------------------------------------------
// / Style - Form Select Inside
//----------------------------------------------------

@mixin musubii-style-form-select-inside() {
  &.is-inside {
    > {
      #{$selector-select} {
        padding: $input-inside-padding;
        background-color: transparent;
        border-color: transparent;
        border-radius: 0;
        box-shadow: none;
        &[disabled],
        &[readonly] {
          background-color: transparent;
          border-color: transparent;
        }
        &:focus,
        &[readonly]:focus {
          border-color: transparent;
          box-shadow: none;
        }
      }
    }
    &:not(.is-multiple) {
      > {
        #{$selector-select} {
          padding-right: ($select-angle-size * 5);
        }
      }
    }
    &.is-success {
      > {
        #{$selector-select} {
          background-color: $input-success-background-color;
        }
      }
    }
    &.is-danger {
      > {
        #{$selector-select} {
          background-color: $input-danger-background-color;
        }
      }
    }
  }
}

@include export-style-form() {
  #{$selector-select-wrap} {
    @include musubii-style-form-select-inside();
  }
}

//----------------------------------------------------
// / Style - Form Select Multiple
//----------------------------------------------------

@mixin musubii-style-form-select-multiple() {
  &.is-multiple {
    > {
      #{$selector-select} {
        height: auto;
        padding: 0;
        > option {
          min-height: 1.5em;
          padding: 0.5em 0.75em;
        }
      }
    }
  }
}

@include export-style-form() {
  #{$selector-select-wrap} {
    @include musubii-style-form-select-multiple();
  }
}
