//----------------------------------------------------
// Module: Table
//----------------------------------------------------

//----------------------------------------------------
// / Export Setting
//----------------------------------------------------

@mixin export-table {
  @if $use-component-table == true {
    @content;
  }
}

//----------------------------------------------------
// / Basic
//----------------------------------------------------

@include export-table {
  .table {
    width: 100%;
    background-color: $table-background-color;
    border-collapse: collapse;
    border-spacing: 0;
    th,
    td {
      padding: $table-padding;
      vertical-align: top;
    }
    > thead > tr:last-child > th {
      border-bottom: $table-th-border-bottom-width solid $table-border-color;
    }
    tr.box {
      display: table-row;
    }
    th.box,
    td.box {
      display: table-cell;
    }
    &.is-middle th,
    &.is-middle td {
      vertical-align: middle;
    }
    tr,
    th,
    td {
      &.is-left {
        text-align: left;
      }
      &.is-center {
        text-align: center;
      }
      &.is-right {
        text-align: right;
      }
      &.is-middle {
        vertical-align: middle;
      }
    }
  }
}

//----------------------------------------------------
// / Style
//----------------------------------------------------

@include export-table {
  .table {
    @each $style in $pattern-table-style {
      @if $style == "line" {
        &.is-line {
          border-top: $table-border-width solid $table-border-color;
          border-bottom: $table-border-width solid $table-border-color;
          > tbody > tr:not(:first-child) {
            border-top: $table-border-width solid $table-border-color;
          }
        }
      }
      @if $style == "outline" {
        &.is-outline {
          border: $table-border-width solid $table-border-color;
        }
      }
      @if $style == "border" {
        &.is-border {
          border: $table-border-width solid $table-border-color;
          th,
          td {
            border: $table-border-width solid $table-border-color;
          }
        }
      }
      @if $style == "stripe" {
        &.is-stripe {
          thead {
            background-color: $table-stripe-background-color;
          }
          tbody tr:nth-child(even) {
            background-color: $table-stripe-background-color;
          }
        }
      }
    }
  }
}

//----------------------------------------------------
// / Background
//----------------------------------------------------

@include export-table {
  .table tr,
  .table th,
  .table td {
    &.is-paint {
      background-color: $table-paint-background-color;
      color: $table-paint-text-color;
    }
    &.is-stripe {
      background-color: $table-stripe-background-color;
    }
    &.is-spot {
      background-color: $table-spot-background-color;
    }
    &.is-danger {
      background-color: $table-danger-background-color;
    }
  }
}
