//----------------------------------------------------
//- Parts: Footer
//----------------------------------------------------

footer.section.is-footer
  .inner
    .group
      .grid.is-center.is-space-4
        .col
          p.text.is-sm.is-light
            | License:&nbsp;&nbsp;
            i.fa.fa-balance-scale(aria-hidden="true")
            span.text #{github.license}
        .col
          p.text.is-sm.is-light
            | Author:&nbsp;&nbsp;
            i.fa.fa-twitter(aria-hidden="true")
            a.text.is-link-reverse(href=twitter.url+"/"+twitter.id target="_blank") Qrac