//----------------------------------------------------
//- Parts: Header
//----------------------------------------------------

header.section.is-topcover-header
  .inner-soft
    .grid.is-between.is-middle.is-gap-none
      .col
        h1.obj.is-logo-header-wrap
          img.obj.is-logo-header(src=path.img+"/"+"logo-set-yoko-musubii.svg" alt="MUSUBii")
      .col
        nav.tabs.is-main.is-sm.is-strong.is-uppercase
          a.tab.is-ghost.is-home.is-active.js-tab(href="#") Home
          a.tab.is-ghost.js-tab(href="#") Getting Started
          a.tab.is-ghost.js-tab(href="#") Documentation
          a.tab.is-ghost.js-tab(href="#") Libraries