//----------------------------------------------------
//- Parts: Header
//----------------------------------------------------

header.section.is-header
  .inner-soft
    .grid.is-between.is-middle
      .col
        h1
          img.logo.is-header(src=path.img+"/"+"logo-set-yoko-musubii.svg" alt="MUSUBii")
      .col.is-mobile-tablet-none
        nav.tabs.is-main.is-sm.is-strong.is-uppercase.is-slide
          a.tab.is-ghost.is-home.is-active(href="#") Home
          a.tab.is-ghost(href="#") Getting Started
          a.tab.is-ghost(href="#") Documentation
          a.tab.is-ghost(href="#") Libraries