//----------------------------------------------------
//- Parts: Header
//----------------------------------------------------

header.section.is-header
  .inner
    .grid.is-between.is-middle
      .col
        h1
          img.logo.is-header(src=path.img+"/"+"logo-set-yoko-musubii.svg" alt="MUSUBii")
      .col
        a.text.is-light.is-strong.is-link-reverse(href="https://medium.com/musubii")
          i.fa.fa-medium(aria-hidden="true")
          span.text.is-uppercase Blog
          i.fa.fa-angle-right(aria-hidden="true")