//----------------------------------------------------
//- Parts: Header
//----------------------------------------------------

header.section.is-header
  .inner
    .grid.is-between.is-middle
      .col
        label(for="switch-1-1")
          h1
            img.logo.is-header(src=path.img+"/"+"logo-set-yoko-musubii.svg" alt="MUSUBii")
      .col
        .induction.is-release
          a.text.is-light.is-strong.is-link-reverse.is-solid(href="https://medium.com/musubii" target="_blank")
            i.fa.fa-medium(aria-hidden="true")
            span.text.is-uppercase Blog
            i.fa.fa-angle-right(aria-hidden="true")