//----------------------------------------------------
// Themes: Convert
//----------------------------------------------------

//----------------------------------------------------
// / CSS Variables
//----------------------------------------------------

$convert-primary: if($option-css-variables == true, var(--primary), null) !default;
$convert-primary-strong: if($option-css-variables == true, var(--primary-strong), null) !default;
$convert-primary-darken: if($option-css-variables == true, var(--primary-darken), null) !default;
$convert-info: if($option-css-variables == true, var(--info), null) !default;
$convert-info-strong: if($option-css-variables == true, var(--info-strong), null) !default;
$convert-info-darken: if($option-css-variables == true, var(--info-darken), null) !default;
$convert-success: if($option-css-variables == true, var(--success), null) !default;
$convert-success-strong: if($option-css-variables == true, var(--success-strong), null) !default;
$convert-success-darken: if($option-css-variables == true, var(--success-darken), null) !default;
$convert-warning: if($option-css-variables == true, var(--warning), null) !default;
$convert-warning-strong: if($option-css-variables == true, var(--warning-strong), null) !default;
$convert-warning-darken: if($option-css-variables == true, var(--warning-darken), null) !default;
$convert-danger: if($option-css-variables == true, var(--danger), null) !default;
$convert-danger-strong: if($option-css-variables == true, var(--danger-strong), null) !default;
$convert-danger-darken: if($option-css-variables == true, var(--danger-darken), null) !default;

$convert-dark: if($option-css-variables == true, var(--dark), null) !default;
$convert-dark-1: if($option-css-variables == true, var(--dark-1), null) !default;
$convert-dark-2: if($option-css-variables == true, var(--dark-2), null) !default;
$convert-dark-3: if($option-css-variables == true, var(--dark-3), null) !default;
$convert-dark-4: if($option-css-variables == true, var(--dark-4), null) !default;
$convert-dark-5: if($option-css-variables == true, var(--dark-5), null) !default;
$convert-dark-6: if($option-css-variables == true, var(--dark-6), null) !default;
$convert-dark-7: if($option-css-variables == true, var(--dark-7), null) !default;
$convert-dark-8: if($option-css-variables == true, var(--dark-8), null) !default;
$convert-dark-9: if($option-css-variables == true, var(--dark-9), null) !default;

$convert-light: if($option-css-variables == true, var(--light), null) !default;
$convert-light-1: if($option-css-variables == true, var(--light-1), null) !default;
$convert-light-2: if($option-css-variables == true, var(--light-2), null) !default;
$convert-light-3: if($option-css-variables == true, var(--light-3), null) !default;
$convert-light-4: if($option-css-variables == true, var(--light-4), null) !default;
$convert-light-5: if($option-css-variables == true, var(--light-5), null) !default;
$convert-light-6: if($option-css-variables == true, var(--light-6), null) !default;
$convert-light-7: if($option-css-variables == true, var(--light-7), null) !default;
$convert-light-8: if($option-css-variables == true, var(--light-8), null) !default;
$convert-light-9: if($option-css-variables == true, var(--light-9), null) !default;

$convert-background: if($option-css-variables == true, var(--background), null) !default;
$convert-background-1: if($option-css-variables == true, var(--background-1), null) !default;
$convert-background-2: if($option-css-variables == true, var(--background-2), null) !default;
$convert-background-3: if($option-css-variables == true, var(--background-3), null) !default;
$convert-background-4: if($option-css-variables == true, var(--background-4), null) !default;
$convert-background-alpha: if($option-css-variables == true, var(--background-alpha), null) !default;

$convert-border: if($option-css-variables == true, var(--border), null) !default;
$convert-border-1: if($option-css-variables == true, var(--border-1), null) !default;

$convert-shadow-alpha: if($option-css-variables == true, var(--shadow-alpha), null) !default;
$convert-shadow-alpha-thin: if($option-css-variables == true, var(--shadow-alpha-thin), null) !default;

$convert-shadow-primary-alpha: if($option-css-variables == true, var(--shadow-primary-alpha), null) !default;
$convert-shadow-info-alpha: if($option-css-variables == true, var(--shadow-info-alpha), null) !default;
$convert-shadow-success-alpha: if($option-css-variables == true, var(--shadow-success-alpha), null) !default;
$convert-shadow-warning-alpha: if($option-css-variables == true, var(--shadow-warning-alpha), null) !default;
$convert-shadow-danger-alpha: if($option-css-variables == true, var(--shadow-danger-alpha), null) !default;

$convert-focus-darken: if($option-css-variables == true, var(--focus-darken), null) !default;
$convert-focus-alpha: if($option-css-variables == true, var(--focus-alpha), null) !default;
$convert-focus-alpha-thin: if($option-css-variables == true, var(--focus-alpha-thin), null) !default;

$convert-disabled-background-color: if($option-css-variables == true, var(--disabled-background-color), null) !default;
$convert-disabled-border-color: if($option-css-variables == true, var(--disabled-border-color), null) !default;
$convert-disabled-color: if($option-css-variables == true, var(--disabled-color), null) !default;

$convert-body-background-color: if($option-css-variables == true, var(--body-background-color), null) !default;
$convert-body-color: if($option-css-variables == true, var(--body-color), null) !default;

$convert-code-color: if($option-css-variables == true, var(--code-color), null) !default;

$convert-button-paint-color: if($option-css-variables == true, var(--button-paint-color), null) !default;

$convert-table-paint-background-color: if($option-css-variables == true, var(--table-paint-background-color), null) !default;
$convert-table-paint-color: if($option-css-variables == true, var(--table-paint-color), null) !default;
$convert-table-spot-background-color: if($option-css-variables == true, var(--table-spot-background-color), null) !default;
$convert-table-danger-background-color: if($option-css-variables == true, var(--table-danger-background-color), null) !default;
$convert-table-stripe-background-color: if($option-css-variables == true, var(--table-stripe-background-color), null) !default;
$convert-table-wrap-shadow-start: if($option-css-variables == true, var(--table-wrap-shadow-start), null) !default;
$convert-table-wrap-shadow-end: if($option-css-variables == true, var(--table-wrap-shadow-end), null) !default;

$convert-input-placeholder-color: if($option-css-variables == true, var(--input-placeholder-color), null) !default;
$convert-input-success-background-color: if($option-css-variables == true, var(--input-success-background-color), null) !default;
$convert-input-success-border-color: if($option-css-variables == true, var(--input-success-border-color), null) !default;
$convert-input-danger-background-color: if($option-css-variables == true, var(--input-danger-background-color), null) !default;
$convert-input-danger-border-color: if($option-css-variables == true, var(--input-danger-border-color), null) !default;
$convert-checkbox-before-border-color: if($option-css-variables == true, var(--checkbox-before-border-color), null) !default;

$convert-alert-primary-background-color: if($option-css-variables == true, var(--alert-primary-background-color), null) !default;
$convert-alert-primary-border-color: if($option-css-variables == true, var(--alert-primary-border-color), null) !default;
$convert-alert-info-background-color: if($option-css-variables == true, var(--alert-info-background-color), null) !default;
$convert-alert-info-border-color: if($option-css-variables == true, var(--alert-info-border-color), null) !default;
$convert-alert-success-background-color: if($option-css-variables == true, var(--alert-success-background-color), null) !default;
$convert-alert-success-border-color: if($option-css-variables == true, var(--alert-success-border-color), null) !default;
$convert-alert-warning-background-color: if($option-css-variables == true, var(--alert-warning-background-color), null) !default;
$convert-alert-warning-border-color: if($option-css-variables == true, var(--alert-warning-border-color), null) !default;
$convert-alert-danger-background-color: if($option-css-variables == true, var(--alert-danger-background-color), null) !default;
$convert-alert-danger-border-color: if($option-css-variables == true, var(--alert-danger-border-color), null) !default;

//----------------------------------------------------
// / Theme Default - Dark
//----------------------------------------------------

$convert-primary: if($option-theme-default == $theme-dark-id, $theme-dark-primary, null) !default;
$convert-primary-strong: if($option-theme-default == $theme-dark-id, $theme-dark-primary-strong, null) !default;
$convert-primary-darken: if($option-theme-default == $theme-dark-id, $theme-dark-primary-darken, null) !default;
$convert-info: if($option-theme-default == $theme-dark-id, $theme-dark-info, null) !default;
$convert-info-strong: if($option-theme-default == $theme-dark-id, $theme-dark-info-strong, null) !default;
$convert-info-darken: if($option-theme-default == $theme-dark-id, $theme-dark-info-darken, null) !default;
$convert-success: if($option-theme-default == $theme-dark-id, $theme-dark-success, null) !default;
$convert-success-strong: if($option-theme-default == $theme-dark-id, $theme-dark-success-strong, null) !default;
$convert-success-darken: if($option-theme-default == $theme-dark-id, $theme-dark-success-darken, null) !default;
$convert-warning: if($option-theme-default == $theme-dark-id, $theme-dark-warning, null) !default;
$convert-warning-strong: if($option-theme-default == $theme-dark-id, $theme-dark-warning-strong, null) !default;
$convert-warning-darken: if($option-theme-default == $theme-dark-id, $theme-dark-warning-darken, null) !default;
$convert-danger: if($option-theme-default == $theme-dark-id, $theme-dark-danger, null) !default;
$convert-danger-strong: if($option-theme-default == $theme-dark-id, $theme-dark-danger-strong, null) !default;
$convert-danger-darken: if($option-theme-default == $theme-dark-id, $theme-dark-danger-darken, null) !default;

$convert-dark: if($option-theme-default == $theme-dark-id, $theme-dark-dark, null) !default;
$convert-dark-1: if($option-theme-default == $theme-dark-id, $theme-dark-dark-1, null) !default;
$convert-dark-2: if($option-theme-default == $theme-dark-id, $theme-dark-dark-2, null) !default;
$convert-dark-3: if($option-theme-default == $theme-dark-id, $theme-dark-dark-3, null) !default;
$convert-dark-4: if($option-theme-default == $theme-dark-id, $theme-dark-dark-4, null) !default;
$convert-dark-5: if($option-theme-default == $theme-dark-id, $theme-dark-dark-5, null) !default;
$convert-dark-6: if($option-theme-default == $theme-dark-id, $theme-dark-dark-6, null) !default;
$convert-dark-7: if($option-theme-default == $theme-dark-id, $theme-dark-dark-7, null) !default;
$convert-dark-8: if($option-theme-default == $theme-dark-id, $theme-dark-dark-8, null) !default;
$convert-dark-9: if($option-theme-default == $theme-dark-id, $theme-dark-dark-9, null) !default;

$convert-light: if($option-theme-default == $theme-dark-id, $theme-dark-light, null) !default;
$convert-light-1: if($option-theme-default == $theme-dark-id, $theme-dark-light-1, null) !default;
$convert-light-2: if($option-theme-default == $theme-dark-id, $theme-dark-light-2, null) !default;
$convert-light-3: if($option-theme-default == $theme-dark-id, $theme-dark-light-3, null) !default;
$convert-light-4: if($option-theme-default == $theme-dark-id, $theme-dark-light-4, null) !default;
$convert-light-5: if($option-theme-default == $theme-dark-id, $theme-dark-light-5, null) !default;
$convert-light-6: if($option-theme-default == $theme-dark-id, $theme-dark-light-6, null) !default;
$convert-light-7: if($option-theme-default == $theme-dark-id, $theme-dark-light-7, null) !default;
$convert-light-8: if($option-theme-default == $theme-dark-id, $theme-dark-light-8, null) !default;
$convert-light-9: if($option-theme-default == $theme-dark-id, $theme-dark-light-9, null) !default;

$convert-background: if($option-theme-default == $theme-dark-id, $theme-dark-background, null) !default;
$convert-background-1: if($option-theme-default == $theme-dark-id, $theme-dark-background-1, null) !default;
$convert-background-2: if($option-theme-default == $theme-dark-id, $theme-dark-background-2, null) !default;
$convert-background-3: if($option-theme-default == $theme-dark-id, $theme-dark-background-3, null) !default;
$convert-background-4: if($option-theme-default == $theme-dark-id, $theme-dark-background-4, null) !default;
$convert-background-alpha: if($option-theme-default == $theme-dark-id, $theme-dark-background-alpha, null) !default;

$convert-border: if($option-theme-default == $theme-dark-id, $theme-dark-border, null) !default;
$convert-border-1: if($option-theme-default == $theme-dark-id, $theme-dark-border-1, null) !default;

$convert-shadow-alpha: if($option-theme-default == $theme-dark-id, $theme-dark-shadow-alpha, null) !default;
$convert-shadow-alpha-thin: if($option-theme-default == $theme-dark-id, $theme-dark-shadow-alpha-thin, null) !default;

$convert-shadow-primary-alpha: if($option-theme-default == $theme-dark-id, $theme-dark-shadow-primary-alpha, null) !default;
$convert-shadow-info-alpha: if($option-theme-default == $theme-dark-id, $theme-dark-shadow-info-alpha, null) !default;
$convert-shadow-success-alpha: if($option-theme-default == $theme-dark-id, $theme-dark-shadow-success-alpha, null) !default;
$convert-shadow-warning-alpha: if($option-theme-default == $theme-dark-id, $theme-dark-shadow-warning-alpha, null) !default;
$convert-shadow-danger-alpha: if($option-theme-default == $theme-dark-id, $theme-dark-shadow-danger-alpha, null) !default;

$convert-focus-darken: if($option-theme-default == $theme-dark-id, $theme-dark-focus-darken, null) !default;
$convert-focus-alpha: if($option-theme-default == $theme-dark-id, $theme-dark-focus-alpha, null) !default;
$convert-focus-alpha-thin: if($option-theme-default == $theme-dark-id, $theme-dark-focus-alpha-thin, null) !default;

$convert-disabled-background-color: if($option-theme-default == $theme-dark-id, $theme-dark-disabled-background-color, null) !default;
$convert-disabled-border-color: if($option-theme-default == $theme-dark-id, $theme-dark-disabled-border-color, null) !default;
$convert-disabled-color: if($option-theme-default == $theme-dark-id, $theme-dark-disabled-color, null) !default;

$convert-body-background-color: if($option-theme-default == $theme-dark-id, $theme-dark-body-background-color, null) !default;
$convert-body-color: if($option-theme-default == $theme-dark-id, $theme-dark-body-color, null) !default;

$convert-code-color: if($option-theme-default == $theme-dark-id, $theme-dark-code-color, null) !default;

$convert-button-paint-color: if($option-theme-default == $theme-dark-id, $theme-dark-button-paint-color, null) !default;

$convert-table-paint-background-color: if($option-theme-default == $theme-dark-id, $theme-dark-table-paint-background-color, null) !default;
$convert-table-paint-color: if($option-theme-default == $theme-dark-id, $theme-dark-table-paint-color, null) !default;
$convert-table-spot-background-color: if($option-theme-default == $theme-dark-id, $theme-dark-table-spot-background-color, null) !default;
$convert-table-danger-background-color: if($option-theme-default == $theme-dark-id, $theme-dark-table-danger-background-color, null) !default;
$convert-table-stripe-background-color: if($option-theme-default == $theme-dark-id, $theme-dark-table-stripe-background-color, null) !default;
$convert-table-wrap-shadow-start: if($option-theme-default == $theme-dark-id, $theme-dark-table-wrap-shadow-start, null) !default;
$convert-table-wrap-shadow-end: if($option-theme-default == $theme-dark-id, $theme-dark-table-wrap-shadow-end, null) !default;

$convert-input-placeholder-color: if($option-theme-default == $theme-dark-id, $theme-dark-input-placeholder-color, null) !default;
$convert-input-success-background-color: if($option-theme-default == $theme-dark-id, $theme-dark-input-success-background-color, null) !default;
$convert-input-success-border-color: if($option-theme-default == $theme-dark-id, $theme-dark-input-success-border-color, null) !default;
$convert-input-danger-background-color: if($option-theme-default == $theme-dark-id, $theme-dark-input-danger-background-color, null) !default;
$convert-input-danger-border-color: if($option-theme-default == $theme-dark-id, $theme-dark-input-danger-border-color, null) !default;
$convert-checkbox-before-border-color: if($option-theme-default == $theme-dark-id, $theme-dark-checkbox-before-border-color, null) !default;

$convert-alert-primary-background-color: if($option-theme-default == $theme-dark-id, $theme-dark-alert-primary-background-color, null) !default;
$convert-alert-primary-border-color: if($option-theme-default == $theme-dark-id, $theme-dark-alert-primary-border-color, null) !default;
$convert-alert-info-background-color: if($option-theme-default == $theme-dark-id, $theme-dark-alert-info-background-color, null) !default;
$convert-alert-info-border-color: if($option-theme-default == $theme-dark-id, $theme-dark-alert-info-border-color, null) !default;
$convert-alert-success-background-color: if($option-theme-default == $theme-dark-id, $theme-dark-alert-success-background-color, null) !default;
$convert-alert-success-border-color: if($option-theme-default == $theme-dark-id, $theme-dark-alert-success-border-color, null) !default;
$convert-alert-warning-background-color: if($option-theme-default == $theme-dark-id, $theme-dark-alert-warning-background-color, null) !default;
$convert-alert-warning-border-color: if($option-theme-default == $theme-dark-id, $theme-dark-alert-warning-border-color, null) !default;
$convert-alert-danger-background-color: if($option-theme-default == $theme-dark-id, $theme-dark-alert-danger-background-color, null) !default;
$convert-alert-danger-border-color: if($option-theme-default == $theme-dark-id, $theme-dark-alert-danger-border-color, null) !default;

//----------------------------------------------------
// / Theme Default - Light
//----------------------------------------------------

$convert-primary: $theme-light-primary !default;
$convert-primary-strong: $theme-light-primary-strong !default;
$convert-primary-darken: $theme-light-primary-darken !default;
$convert-info: $theme-light-info !default;
$convert-info-strong: $theme-light-info-strong !default;
$convert-info-darken: $theme-light-info-darken !default;
$convert-success: $theme-light-success !default;
$convert-success-strong: $theme-light-success-strong !default;
$convert-success-darken: $theme-light-success-darken !default;
$convert-warning: $theme-light-warning !default;
$convert-warning-strong: $theme-light-warning-strong !default;
$convert-warning-darken: $theme-light-warning-darken !default;
$convert-danger: $theme-light-danger !default;
$convert-danger-strong: $theme-light-danger-strong !default;
$convert-danger-darken: $theme-light-danger-darken !default;

$convert-dark: $theme-light-dark !default;
$convert-dark-1: $theme-light-dark-1 !default;
$convert-dark-2: $theme-light-dark-2 !default;
$convert-dark-3: $theme-light-dark-3 !default;
$convert-dark-4: $theme-light-dark-4 !default;
$convert-dark-5: $theme-light-dark-5 !default;
$convert-dark-6: $theme-light-dark-6 !default;
$convert-dark-7: $theme-light-dark-7 !default;
$convert-dark-8: $theme-light-dark-8 !default;
$convert-dark-9: $theme-light-dark-9 !default;

$convert-light: $theme-light-light !default;
$convert-light-1: $theme-light-light-1 !default;
$convert-light-2: $theme-light-light-2 !default;
$convert-light-3: $theme-light-light-3 !default;
$convert-light-4: $theme-light-light-4 !default;
$convert-light-5: $theme-light-light-5 !default;
$convert-light-6: $theme-light-light-6 !default;
$convert-light-7: $theme-light-light-7 !default;
$convert-light-8: $theme-light-light-8 !default;
$convert-light-9: $theme-light-light-9 !default;

$convert-background: $theme-light-background !default;
$convert-background-1: $theme-light-background-1 !default;
$convert-background-2: $theme-light-background-2 !default;
$convert-background-3: $theme-light-background-3 !default;
$convert-background-4: $theme-light-background-4 !default;
$convert-background-alpha: $theme-light-background-alpha !default;

$convert-border: $theme-light-border !default;
$convert-border-1: $theme-light-border-1 !default;

$convert-shadow-alpha: $theme-light-shadow-alpha !default;
$convert-shadow-alpha-thin: $theme-light-shadow-alpha-thin !default;

$convert-shadow-primary-alpha: $theme-light-shadow-primary-alpha !default;
$convert-shadow-info-alpha: $theme-light-shadow-info-alpha !default;
$convert-shadow-success-alpha: $theme-light-shadow-success-alpha !default;
$convert-shadow-warning-alpha: $theme-light-shadow-warning-alpha !default;
$convert-shadow-danger-alpha: $theme-light-shadow-danger-alpha !default;

$convert-focus-darken: $theme-light-focus-darken !default;
$convert-focus-alpha: $theme-light-focus-alpha !default;
$convert-focus-alpha-thin: $theme-light-focus-alpha-thin !default;

$convert-disabled-background-color: $theme-light-disabled-background-color !default;
$convert-disabled-border-color: $theme-light-disabled-border-color !default;
$convert-disabled-color: $theme-light-disabled-color !default;

$convert-body-background-color: $theme-light-body-background-color !default;
$convert-body-color: $theme-light-body-color !default;

$convert-code-color: $theme-light-code-color !default;

$convert-button-paint-color: $theme-light-button-paint-color !default;

$convert-table-paint-background-color: $theme-light-table-paint-background-color !default;
$convert-table-paint-color: $theme-light-table-paint-color !default;
$convert-table-spot-background-color: $theme-light-table-spot-background-color !default;
$convert-table-danger-background-color: $theme-light-table-danger-background-color !default;
$convert-table-stripe-background-color: $theme-light-table-stripe-background-color !default;
$convert-table-wrap-shadow-start: $theme-light-table-wrap-shadow-start !default;
$convert-table-wrap-shadow-end: $theme-light-table-wrap-shadow-end !default;

$convert-input-placeholder-color: $theme-light-input-placeholder-color !default;
$convert-input-success-background-color: $theme-light-input-success-background-color !default;
$convert-input-success-border-color: $theme-light-input-success-border-color !default;
$convert-input-danger-background-color: $theme-light-input-danger-background-color !default;
$convert-input-danger-border-color: $theme-light-input-danger-border-color !default;
$convert-checkbox-before-border-color: $theme-light-checkbox-before-border-color !default;

$convert-alert-primary-background-color: $theme-light-alert-primary-background-color !default;
$convert-alert-primary-border-color: $theme-light-alert-primary-border-color !default;
$convert-alert-info-background-color: $theme-light-alert-info-background-color !default;
$convert-alert-info-border-color: $theme-light-alert-info-border-color !default;
$convert-alert-success-background-color: $theme-light-alert-success-background-color !default;
$convert-alert-success-border-color: $theme-light-alert-success-border-color !default;
$convert-alert-warning-background-color: $theme-light-alert-warning-background-color !default;
$convert-alert-warning-border-color: $theme-light-alert-warning-border-color !default;
$convert-alert-danger-background-color: $theme-light-alert-danger-background-color !default;
$convert-alert-danger-border-color: $theme-light-alert-danger-border-color !default;
