//----------------------------------------------------
// Themes: Light
//----------------------------------------------------

$theme-light-id: "light" !default;

$theme-light-primary: $theme-primary !default;
$theme-light-primary-strong: $theme-primary !default;
$theme-light-primary-darken: darken($theme-primary, 5%) !default;
$theme-light-info: $theme-info !default;
$theme-light-info-strong: $theme-info !default;
$theme-light-info-darken: darken($theme-info, 5%) !default;
$theme-light-success: $theme-success !default;
$theme-light-success-strong: $theme-success !default;
$theme-light-success-darken: darken($theme-success, 5%) !default;
$theme-light-warning: $theme-warning !default;
$theme-light-warning-strong: $theme-warning !default;
$theme-light-warning-darken: darken($theme-warning, 5%) !default;
$theme-light-danger: $theme-danger !default;
$theme-light-danger-strong: $theme-danger !default;
$theme-light-danger-darken: darken($theme-danger, 5%) !default;

$theme-light-dark: $black !default;
$theme-light-dark-1: rgba($theme-light-dark, 0.87) !default;
$theme-light-dark-2: rgba($theme-light-dark, 0.7) !default;
$theme-light-dark-3: rgba($theme-light-dark, 0.6) !default;
$theme-light-dark-4: rgba($theme-light-dark, 0.5) !default;
$theme-light-dark-5: rgba($theme-light-dark, 0.4) !default;
$theme-light-dark-6: rgba($theme-light-dark, 0.26) !default;
$theme-light-dark-7: rgba($theme-light-dark, 0.15) !default;
$theme-light-dark-8: rgba($theme-light-dark, 0.12) !default;
$theme-light-dark-9: rgba($theme-light-dark, 0.05) !default;

$theme-light-light: $white !default;
$theme-light-light-1: rgba($theme-light-light, 0.87) !default;
$theme-light-light-2: rgba($theme-light-light, 0.7) !default;
$theme-light-light-3: rgba($theme-light-light, 0.6) !default;
$theme-light-light-4: rgba($theme-light-light, 0.5) !default;
$theme-light-light-5: rgba($theme-light-light, 0.4) !default;
$theme-light-light-6: rgba($theme-light-light, 0.26) !default;
$theme-light-light-7: rgba($theme-light-light, 0.15) !default;
$theme-light-light-8: rgba($theme-light-light, 0.12) !default;
$theme-light-light-9: rgba($theme-light-light, 0.05) !default;

$theme-light-background: $light !default;
$theme-light-background-1: $light !default;
$theme-light-background-2: $grey-100 !default;
$theme-light-background-3: $grey-100 !default;
$theme-light-background-4: $grey-200 !default;
$theme-light-background-alpha: $dark-9 !default;

$theme-light-border: $blue-grey-100 !default;
$theme-light-border-1: $dark-6 !default;

$theme-light-shadow: $black !default;
$theme-light-shadow-alpha: rgba($theme-light-shadow, 0.15) !default;
$theme-light-shadow-alpha-thin: rgba($theme-light-shadow, 0.075) !default;

$theme-light-shadow-primary-alpha: rgba($theme-light-primary, 0.6) !default;
$theme-light-shadow-info-alpha: rgba($theme-light-info, 0.6) !default;
$theme-light-shadow-success-alpha: rgba($theme-light-success, 0.6) !default;
$theme-light-shadow-warning-alpha: rgba($theme-light-warning, 0.6) !default;
$theme-light-shadow-danger-alpha: rgba($theme-light-danger, 0.6) !default;

$theme-light-focus: $theme-focus !default;
$theme-light-focus-darken: darken($theme-focus, 10%) !default;
$theme-light-focus-alpha: rgba($theme-focus, 0.5) !default;
$theme-light-focus-alpha-thin: rgba($theme-focus, 0.36) !default;

$theme-light-disabled-background-color: $grey-400 !default;
$theme-light-disabled-border-color: $blue-grey-50 !default;
$theme-light-disabled-color: $dark-6 !default;

$theme-light-body-background-color: $light !default;
$theme-light-body-color: $dark-2 !default;

$theme-light-code-color: $indigo-500 !default;

$theme-light-button-paint-color: $light !default;

$theme-light-table-paint-background-color: rgba(darken($theme-primary, 15%), 0.7) !default;
$theme-light-table-paint-color: $light !default;
$theme-light-table-spot-background-color: rgba($yellow-500, 0.45) !default;
$theme-light-table-danger-background-color: rgba($theme-light-danger, 0.2) !default;
$theme-light-table-stripe-background-color: rgba($blue-grey-900, 0.05) !default;
$theme-light-table-wrap-shadow-start: rgba($blue-grey-500, 0.15) !default;
$theme-light-table-wrap-shadow-end: rgba($white, 0) !default;

$theme-light-input-placeholder-color: $dark-6 !default;
$theme-light-input-success-background-color: lighten($theme-light-success, 50%) !default;
$theme-light-input-success-border-color: lighten($theme-light-success, 27%) !default;
$theme-light-input-danger-background-color: lighten($theme-light-danger, 35%) !default;
$theme-light-input-danger-border-color: lighten($theme-light-danger, 21%) !default;
$theme-light-checkbox-before-border-color: $light !default;

$theme-light-alert-primary-background-color: lighten($theme-light-primary, 47%) !default;
$theme-light-alert-primary-border-color: lighten($theme-light-primary, 27%) !default;
$theme-light-alert-info-background-color: lighten($theme-light-info, 38%) !default;
$theme-light-alert-info-border-color: lighten($theme-light-info, 23%) !default;
$theme-light-alert-success-background-color: lighten($theme-light-success, 53%) !default;
$theme-light-alert-success-border-color: lighten($theme-light-success, 30%) !default;
$theme-light-alert-warning-background-color: lighten($theme-light-warning, 44%) !default;
$theme-light-alert-warning-border-color: lighten($theme-light-warning, 24%) !default;
$theme-light-alert-danger-background-color: lighten($theme-light-danger, 36%) !default;
$theme-light-alert-danger-border-color: lighten($theme-light-danger, 23%) !default;
