//----------------------------------------------------
// Themes: Dark
//----------------------------------------------------

$theme-dark-id: "dark" !default;

$theme-dark-primary: darken($theme-primary, 12%) !default;
$theme-dark-primary-strong: $theme-primary !default;
$theme-dark-primary-darken: darken($theme-primary, 17%) !default;
$theme-dark-info: darken($theme-info, 12%) !default;
$theme-dark-info-strong: $theme-info !default;
$theme-dark-info-darken: darken($theme-info, 17%) !default;
$theme-dark-success: darken($theme-success, 12%) !default;
$theme-dark-success-strong: lighten($theme-success, 3%) !default;
$theme-dark-success-darken: darken($theme-success, 17%) !default;
$theme-dark-warning: darken($theme-warning, 12%) !default;
$theme-dark-warning-strong: darken($theme-warning, 3%) !default;
$theme-dark-warning-darken: darken($theme-warning, 17%) !default;
$theme-dark-danger: darken($theme-danger, 12%) !default;
$theme-dark-danger-strong: lighten($theme-danger, 3%) !default;
$theme-dark-danger-darken: darken($theme-danger, 17%) !default;

$theme-dark-dark: $white !default;
$theme-dark-dark-1: rgba($theme-dark-dark, 0.87) !default;
$theme-dark-dark-2: rgba($theme-dark-dark, 0.7) !default;
$theme-dark-dark-3: rgba($theme-dark-dark, 0.6) !default;
$theme-dark-dark-4: rgba($theme-dark-dark, 0.5) !default;
$theme-dark-dark-5: rgba($theme-dark-dark, 0.4) !default;
$theme-dark-dark-6: rgba($theme-dark-dark, 0.26) !default;
$theme-dark-dark-7: rgba($theme-dark-dark, 0.15) !default;
$theme-dark-dark-8: rgba($theme-dark-dark, 0.12) !default;
$theme-dark-dark-9: rgba($theme-dark-dark, 0.05) !default;

$theme-dark-light: $white !default;
$theme-dark-light-1: rgba($theme-dark-light, 0.87) !default;
$theme-dark-light-2: rgba($theme-dark-light, 0.7) !default;
$theme-dark-light-3: rgba($theme-dark-light, 0.6) !default;
$theme-dark-light-4: rgba($theme-dark-light, 0.5) !default;
$theme-dark-light-5: rgba($theme-dark-light, 0.4) !default;
$theme-dark-light-6: rgba($theme-dark-light, 0.26) !default;
$theme-dark-light-7: rgba($theme-dark-light, 0.15) !default;
$theme-dark-light-8: rgba($theme-dark-light, 0.12) !default;
$theme-dark-light-9: rgba($theme-dark-light, 0.05) !default;

$theme-dark-background: $grey-900 !default;
$theme-dark-background-1: lighten($grey-900, 5%) !default;
$theme-dark-background-2: lighten($grey-900, 5%) !default;
$theme-dark-background-3: $grey-800 !default;
$theme-dark-background-4: $grey-800 !default;
$theme-dark-background-alpha: $light-9 !default;

$theme-dark-border: $grey-700 !default;
$theme-dark-border-1: $light-6 !default;

$theme-dark-shadow: $black !default;
$theme-dark-shadow-alpha: rgba($theme-dark-shadow, 0.4) !default;
$theme-dark-shadow-alpha-thin: rgba($theme-dark-shadow, 0.075) !default;

$theme-dark-shadow-primary-alpha: rgba($theme-dark-shadow, 0.4) !default;
$theme-dark-shadow-info-alpha: rgba($theme-dark-shadow, 0.4) !default;
$theme-dark-shadow-success-alpha: rgba($theme-dark-shadow, 0.4) !default;
$theme-dark-shadow-warning-alpha: rgba($theme-dark-shadow, 0.4) !default;
$theme-dark-shadow-danger-alpha: rgba($theme-dark-shadow, 0.4) !default;

$theme-dark-focus: $theme-focus !default;
$theme-dark-focus-darken: darken($theme-focus, 10%) !default;
$theme-dark-focus-alpha: rgba($theme-focus, 0.5) !default;
$theme-dark-focus-alpha-thin: rgba($theme-focus, 0.36) !default;

$theme-dark-disabled-background-color: $grey-800 !default;
$theme-dark-disabled-border-color: $grey-600 !default;
$theme-dark-disabled-color: $light-6 !default;

$theme-dark-body-background-color: $grey-900 !default;
$theme-dark-body-color: $light-2 !default;

$theme-dark-code-color: $blue-300 !default;

$theme-dark-button-paint-color: $theme-dark-body-color !default;

$theme-dark-table-paint-background-color: rgba(darken($theme-primary, 14%), 0.2) !default;
$theme-dark-table-paint-color: $theme-dark-body-color !default;
$theme-dark-table-spot-background-color: rgba($yellow-700, 0.2) !default;
$theme-dark-table-danger-background-color: rgba($theme-dark-danger, 0.25) !default;
$theme-dark-table-stripe-background-color: rgba($blue-grey-400, 0.1) !default;
$theme-dark-table-wrap-shadow-start: rgba($white, 0.15) !default;
$theme-dark-table-wrap-shadow-end: rgba($black, 0) !default;

$theme-dark-input-placeholder-color: $light-6 !default;
$theme-dark-input-success-background-color: rgba($theme-dark-success, 0.25) !default;
$theme-dark-input-success-border-color: $theme-dark-success !default;
$theme-dark-input-danger-background-color: rgba($theme-dark-danger, 0.25) !default;
$theme-dark-input-danger-border-color: $theme-dark-danger !default;
$theme-dark-checkbox-before-border-color: $light-1 !default;

$theme-dark-alert-primary-background-color: desaturate(darken($theme-dark-primary, 22%), 30%) !default;
$theme-dark-alert-primary-border-color: darken($theme-dark-primary, 3%) !default;
$theme-dark-alert-info-background-color: desaturate(darken($theme-dark-info, 30%), 32%) !default;
$theme-dark-alert-info-border-color: darken($theme-dark-info, 7%) !default;
$theme-dark-alert-success-background-color: desaturate(darken($theme-dark-success, 16%), 30%) !default;
$theme-dark-alert-success-border-color: $theme-dark-success !default;
$theme-dark-alert-warning-background-color: desaturate(darken($theme-dark-warning, 26%), 15%) !default;
$theme-dark-alert-warning-border-color: darken($theme-dark-warning, 8%) !default;
$theme-dark-alert-danger-background-color: desaturate(darken($theme-dark-danger, 32%), 36%) !default;
$theme-dark-alert-danger-border-color: darken($theme-dark-danger, 12%) !default;
