//----------------------------------------------------
// Themes: Common
//----------------------------------------------------

$theme-primary: $cyan-500 !default;
$theme-info: $blue-500 !default;
$theme-success: $green-a700 !default;
$theme-warning: $orange-700 !default;
$theme-danger: $red-500 !default;
$theme-focus: $blue-a400 !default;
