//----------------------------------------------------
// Layouts: Box
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Selectors
$selector-box: "\.box" !default;

// Modifiers
$modifier-box-flex: "\.is-flex" !default;
$modifier-box-inline-flex: "\.is-inline-flex" !default;
$modifier-box-nowrap: "\.is-nowrap" !default;
$modifier-box-baseline: "\.is-baseline" !default;
$modifier-box-middle: "\.is-middle" !default;
$modifier-box-bottom: "\.is-bottom" !default;
$modifier-box-center: "\.is-center" !default;
$modifier-box-right: "\.is-right" !default;
$modifier-box-between: "\.is-between" !default;
$modifier-box-around: "\.is-around" !default;
$modifier-box-reverse: "\.is-reverse" !default;
$modifier-box-bg: "\.is-bg" !default;
$modifier-box-bg-light: "\.is-bg-light" !default;
$modifier-box-outline: "\.is-outline" !default;
$modifier-box-outline-top: "\.is-outline-top" !default;
$modifier-box-outline-right: "\.is-outline-right" !default;
$modifier-box-outline-bottom: "\.is-outline-bottom" !default;
$modifier-box-outline-left: "\.is-outline-left" !default;
$modifier-box-separate: "\.is-separate" !default;
$modifier-box-separate-parent: "\.is-separate-parent" !default;
$modifier-box-separate-child: "\.is-separate-child" !default;
$modifier-box-disabled: "\.is-disabled" !default;
$modifier-box-link: "\.is-link" !default;
$modifier-box-angle-right: "\.is-angle-right" !default;
$modifier-box-angle-left: "\.is-angle-left" !default;
$modifier-box-angle-up: "\.is-angle-up" !default;
$modifier-box-angle-down: "\.is-angle-down" !default;

// Box
$box-background-color: $convert-background-1 !default;
$box-border-width: $global-border-width !default;
$box-border-color: $convert-border !default;

// Box Link
$box-link-hover-background-color: $convert-background-3 !default;
$box-link-transition: $global-transition !default;

// Box Angle
$box-angle-size: 0.5em !default;
$box-angle-border-width: $global-border-width * 2 !default;
$box-angle-border-color: $convert-border-1 !default;

//----------------------------------------------------
// / Style - Box
//----------------------------------------------------

@mixin musubii-style-box() {
  position: relative;
  display: block;
}

@mixin musubii-style-box-bg-light() {
  background-color: $box-background-color;
}

@mixin musubii-style-box-disabled() {
  cursor: not-allowed;
  pointer-events: none;
}

@include generate-style($option-generate-style-box) {
  #{$selector-box} {
    @include musubii-style-box();
    &#{$modifier-box-bg},
    &#{$modifier-box-bg-light} {
      @include musubii-style-box-bg-light();
    }
    &#{$modifier-box-disabled},
    &[disabled] {
      @include musubii-style-box-disabled();
    }
  }
}

//----------------------------------------------------
// / Style - Box Flex
//----------------------------------------------------

@mixin musubii-style-box-flex() {
  display: flex;
}

@mixin musubii-style-box-inline-flex() {
  display: inline-flex;
}

@mixin musubii-style-box-wrap() {
  flex-wrap: wrap;
}

@mixin musubii-style-box-baseline() {
  align-items: baseline;
}

@mixin musubii-style-box-middle() {
  align-items: center;
}

@mixin musubii-style-box-bottom() {
  align-items: flex-end;
}

@mixin musubii-style-box-center() {
  justify-content: center;
}

@mixin musubii-style-box-right() {
  justify-content: flex-end;
}

@mixin musubii-style-box-between() {
  justify-content: space-between;
}

@mixin musubii-style-box-around() {
  justify-content: space-around;
}

@mixin musubii-style-box-reverse() {
  flex-direction: row-reverse;
}

@include generate-style($option-generate-style-box) {
  #{$selector-box} {
    &#{$modifier-box-flex} {
      @include musubii-style-box-flex();
    }
    &#{$modifier-box-inline-flex} {
      @include musubii-style-box-inline-flex();
    }
    &#{$modifier-box-flex},
    &#{$modifier-box-inline-flex} {
      &:not(#{$modifier-box-nowrap}) {
        @include musubii-style-box-wrap();
      }
      &#{$modifier-box-baseline} {
        @include musubii-style-box-baseline();
      }
      &#{$modifier-box-middle} {
        @include musubii-style-box-middle();
      }
      &#{$modifier-box-bottom} {
        @include musubii-style-box-bottom();
      }
      &#{$modifier-box-center} {
        @include musubii-style-box-center();
      }
      &#{$modifier-box-right} {
        @include musubii-style-box-right();
      }
      &#{$modifier-box-between} {
        @include musubii-style-box-between();
      }
      &#{$modifier-box-around} {
        @include musubii-style-box-around();
      }
      &#{$modifier-box-reverse} {
        @include musubii-style-box-reverse();
      }
    }
  }
}

//----------------------------------------------------
// / Style - Box Outline
//----------------------------------------------------

@mixin musubii-style-box-outline() {
  border: $box-border-width solid $box-border-color;
}

@mixin musubii-style-box-outline-top() {
  border-top: $box-border-width solid $box-border-color;
}

@mixin musubii-style-box-outline-right() {
  border-right: $box-border-width solid $box-border-color;
}

@mixin musubii-style-box-outline-bottom() {
  border-bottom: $box-border-width solid $box-border-color;
}

@mixin musubii-style-box-outline-left() {
  border-left: $box-border-width solid $box-border-color;
}

@include generate-style($option-generate-style-box) {
  #{$selector-box} {
    &#{$modifier-box-outline} {
      @include musubii-style-box-outline();
    }
    &#{$modifier-box-outline-top} {
      @include musubii-style-box-outline-top();
    }
    &#{$modifier-box-outline-right} {
      @include musubii-style-box-outline-right();
    }
    &#{$modifier-box-outline-bottom} {
      @include musubii-style-box-outline-bottom();
    }
    &#{$modifier-box-outline-left} {
      @include musubii-style-box-outline-left();
    }
  }
}

//----------------------------------------------------
// / Style - Box Separate
//----------------------------------------------------

@mixin musubii-style-box-separate() {
  > *:not(:last-child) {
    border-bottom: $box-border-width solid $box-border-color;
  }
}

@mixin musubii-style-box-separate-parent() {
  > *:not(:last-child) #{$modifier-box-separate-child} {
    border-bottom: $box-border-width solid $box-border-color;
  }
}

@include generate-style($option-generate-style-box) {
  #{$selector-box} {
    &#{$modifier-box-separate} {
      @include musubii-style-box-separate();
    }
    &#{$modifier-box-separate-parent} {
      @include musubii-style-box-separate-parent();
    }
  }
}

//----------------------------------------------------
// / Style - Box Link
//----------------------------------------------------

@mixin musubii-style-box-link() {
  cursor: pointer;
  transition: $box-link-transition;
  &:not(#{$modifier-box-disabled}):not([disabled]) {
    &:hover {
      background-color: $box-link-hover-background-color;
    }
  }
}

@include generate-style($option-generate-style-box) {
  #{$selector-box} {
    &#{$modifier-box-link} {
      @include musubii-style-box-link();
    }
  }
}

//----------------------------------------------------
// / Style - Box Angle
//----------------------------------------------------

@mixin musubii-style-box-angle() {
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    width: $box-angle-size;
    height: $box-angle-size;
    border-top: $box-angle-border-width solid $box-angle-border-color;
    border-right: $box-angle-border-width solid $box-angle-border-color;
    z-index: 2;
  }
}

@mixin musubii-style-box-angle-right() {
  &:after {
    right: $box-angle-size * 1.5;
    transform: translateY(-50%) rotate(45deg);
  }
}

@mixin musubii-style-box-angle-left() {
  &:after {
    left: $box-angle-size * 1.5;
    transform: translateY(-50%) rotate(-135deg);
  }
}

@mixin musubii-style-box-angle-up() {
  &:after {
    transform: translateY(-30%) rotate(-45deg);
  }
}

@mixin musubii-style-box-angle-down() {
  &:after {
    transform: translateY(-70%) rotate(135deg);
  }
}

@include generate-style($option-generate-style-box) {
  #{$selector-box} {
    @if $option-add-style-box-angle == true {
      &#{$modifier-box-angle-right},
      &#{$modifier-box-angle-left} {
        @include musubii-style-box-angle();
      }
      &#{$modifier-box-angle-right} {
        @include musubii-style-box-angle-right();
      }
      &#{$modifier-box-angle-left} {
        @include musubii-style-box-angle-left();
      }
      &#{$modifier-box-angle-right},
      &#{$modifier-box-angle-left} {
        &#{$modifier-box-angle-up} {
          @include musubii-style-box-angle-up();
        }
        &#{$modifier-box-angle-down} {
          @include musubii-style-box-angle-down();
        }
      }
    }
  }
}
