//----------------------------------------------------
// Layouts: Box
//----------------------------------------------------

//----------------------------------------------------
// / Variables (Default)
//----------------------------------------------------

// Option
$option-mixin-mode: false !default;
$option-style-box: true !default;

// Selectors
$selector-box: ".box" !default;

// Box
$box-background-color: $convert-background-1 !default;
$box-border-width: $global-border-width !default;
$box-border-color: $convert-border !default;

// Box Link
$box-link-hover-background-color: $convert-background-3 !default;
$box-link-transition: $global-transition !default;

// Box Angle
$box-angle-size: 0.5em !default;
$box-angle-border-width: $global-border-width * 2 !default;
$box-angle-border-color: $convert-border-1 !default;

//----------------------------------------------------
// / Mixins (Default)
//----------------------------------------------------

// Export Style
@mixin export-style-box() {
  @if $option-mixin-mode == false and $option-style-box == true {
    @content;
  }
}

//----------------------------------------------------
// / Style - Box
//----------------------------------------------------

@mixin musubii-style-box() {
  position: relative;
  display: block;
}

@include export-style-box() {
  #{$selector-box} {
    @include musubii-style-box();
  }
}

//----------------------------------------------------
// / Style - Box Flex
//----------------------------------------------------

@mixin musubii-style-box-flex() {
  &.is-flex {
    display: flex;
  }
  &.is-inline-flex {
    display: inline-flex;
  }
  &.is-flex,
  &.is-inline-flex {
    &:not(.is-nowrap) {
      flex-wrap: wrap;
    }
    &.is-baseline {
      align-items: baseline;
    }
    &.is-middle {
      align-items: center;
    }
    &.is-bottom {
      align-items: flex-end;
    }
    &.is-center {
      justify-content: center;
    }
    &.is-right {
      justify-content: flex-end;
    }
    &.is-between {
      justify-content: space-between;
    }
    &.is-around {
      justify-content: space-around;
    }
    &.is-reverse {
      flex-direction: row-reverse;
    }
  }
}

@include export-style-box() {
  #{$selector-box} {
    @include musubii-style-box-flex();
  }
}

//----------------------------------------------------
// / Style - Box Background
//----------------------------------------------------

@mixin --is-bg-color($name, $value, $omit) {
  @if $omit == true {
    &.is-bg,
    &.is-bg-#{$name} {
      background-color: $value;
    }
  } @else {
    &.is-bg-#{$name} {
      background-color: $value;
    }
  }
}

@mixin musubii-style-box-bg() {
  @include --is-bg-color(light, $box-background-color, true);
}

@include export-style-box() {
  #{$selector-box} {
    @include musubii-style-box-bg();
  }
}

//----------------------------------------------------
// / Style - Box Outline
//----------------------------------------------------

@mixin musubii-style-box-outline() {
  &.is-outline {
    border: $box-border-width solid $box-border-color;
  }
  &.is-outline-top {
    border-top: $box-border-width solid $box-border-color;
  }
  &.is-outline-right {
    border-right: $box-border-width solid $box-border-color;
  }
  &.is-outline-bottom {
    border-bottom: $box-border-width solid $box-border-color;
  }
  &.is-outline-left {
    border-left: $box-border-width solid $box-border-color;
  }
}

@include export-style-box() {
  #{$selector-box} {
    @include musubii-style-box-outline();
  }
}

//----------------------------------------------------
// / Style - Box Separate
//----------------------------------------------------

@mixin musubii-style-box-separate() {
  &.is-separate > *:not(:last-child) {
    border-bottom: $box-border-width solid $box-border-color;
  }
  &.is-separate-parent > *:not(:last-child) .is-separate-child {
    border-bottom: $box-border-width solid $box-border-color;
  }
}

@include export-style-box() {
  #{$selector-box} {
    @include musubii-style-box-separate();
  }
}

//----------------------------------------------------
// / Style - Box Link
//----------------------------------------------------

@mixin musubii-style-box-link() {
  &.is-link {
    cursor: pointer;
    transition: $box-link-transition;
    &:not(.is-disabled):not([disabled]):hover {
      background-color: $box-link-hover-background-color;
    }
    &.is-disabled,
    &[disabled] {
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}

@include export-style-box() {
  #{$selector-box} {
    @include musubii-style-box-link();
  }
}

//----------------------------------------------------
// / Style - Box Angle
//----------------------------------------------------

@mixin musubii-style-box-angle() {
  &.is-angle-right,
  &.is-angle-left {
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: $box-angle-size;
      height: $box-angle-size;
      border-top: $box-angle-border-width solid $box-angle-border-color;
      border-right: $box-angle-border-width solid $box-angle-border-color;
      z-index: 2;
    }
  }
  &.is-angle-right {
    padding-right: $box-angle-size * 3.5;
    &:after {
      right: $box-angle-size * 1.5;
      transform: translateY(-50%) rotate(45deg);
    }
  }
  &.is-angle-left {
    padding-left: $box-angle-size * 3.5;
    &:after {
      left: $box-angle-size * 1.5;
      transform: translateY(-50%) rotate(-135deg);
    }
  }
  &.is-angle-left,
  &.is-angle-right {
    &.is-angle-up {
      &:after {
        transform: translateY(-30%) rotate(-45deg);
      }
    }
    &.is-angle-down {
      &:after {
        transform: translateY(-70%) rotate(135deg);
      }
    }
  }
}

@include export-style-box() {
  #{$selector-box} {
    @include musubii-style-box-angle();
  }
}
