//----------------------------------------------------
// Layout: Box
//----------------------------------------------------

//----------------------------------------------------
// / Export Setting
//----------------------------------------------------

@mixin export-box {
  @if $use-component-box == true {
    @content;
  }
}

//----------------------------------------------------
// / Basic
//----------------------------------------------------

@include export-box {
  .box {
    position: relative;
    display: block;
  }
}

//----------------------------------------------------
// / Custom
//----------------------------------------------------

@include export-box {
  .box {
    @each $custom in $pattern-box-custom {
      @if $custom == "flexbox" {
        &.is-flex {
          display: flex;
        }
        &.is-inline-flex {
          display: inline-flex;
        }
        &.is-flex,
        &.is-inline-flex {
          &:not(.is-nowrap) {
            flex-wrap: wrap;
          }
          &.is-baseline {
            align-items: baseline;
          }
          &.is-middle {
            align-items: center;
          }
          &.is-bottom {
            align-items: flex-end;
          }
          &.is-center {
            justify-content: center;
          }
          &.is-right {
            justify-content: flex-end;
          }
          &.is-between {
            justify-content: space-between;
          }
          &.is-around {
            justify-content: space-around;
          }
          &.is-reverse {
            flex-direction: row-reverse;
          }
        }
      }
      @if $custom == "background" {
        &.is-bg,
        &.is-bg-light {
          background-color: $box-background-color;
        }
        &.is-bg-cover,
        &.is-bg-contain {
          background-position: center center;
        }
        &.is-bg-cover {
          background-size: cover;
        }
        &.is-bg-contain {
          background-size: contain;
        }
      }
      @if $custom == "outline" {
        &.is-outline {
          border: $box-border-width solid $box-border-color;
        }
        &.is-outline-top {
          border-top: $box-border-width solid $box-border-color;
        }
        &.is-outline-right {
          border-right: $box-border-width solid $box-border-color;
        }
        &.is-outline-bottom {
          border-bottom: $box-border-width solid $box-border-color;
        }
        &.is-outline-left {
          border-left: $box-border-width solid $box-border-color;
        }
      }
      @if $custom == "separate" {
        &.is-separate > *:not(:last-child) {
          border-bottom: $box-border-width solid $box-border-color;
        }
        &.is-separate-parent > *:not(:last-child) .is-separate-child {
          border-bottom: $box-border-width solid $box-border-color;
        }
      }
      @if $custom == "link" {
        &.is-link {
          cursor: pointer;
          transition: $box-link-transition;
          &:not(.is-disabled):not([disabled]):hover {
            background-color: $box-link-hover-background-color;
          }
          &.is-disabled,
          &[disabled] {
            cursor: not-allowed;
            pointer-events: none;
          }
        }
      }
      @if $custom == "angle" {
        &.is-angle-right,
        &.is-angle-left {
          &:after {
            content: "";
            position: absolute;
            top: 50%;
            width: $box-angle-size;
            height: $box-angle-size;
            border-top: $box-angle-border-width solid $box-angle-border-color;
            border-right: $box-angle-border-width solid $box-angle-border-color;
            z-index: 2;
          }
        }
        &.is-angle-right {
          padding-right: $box-angle-size * 3.5;
          &:after {
            right: $box-angle-size * 1.5;
            transform: translateY(-50%) rotate(45deg);
          }
        }
        &.is-angle-left {
          padding-left: $box-angle-size * 3.5;
          &:after {
            left: $box-angle-size * 1.5;
            transform: translateY(-50%) rotate(-135deg);
          }
        }
        &.is-angle-left,
        &.is-angle-right {
          &.is-angle-up {
            &:after {
              transform: translateY(-30%) rotate(-45deg);
            }
          }
          &.is-angle-down {
            &:after {
              transform: translateY(-70%) rotate(135deg);
            }
          }
        }
      }
    }
  }
}
