//----------------------------------------------------
// Layouts: Card
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Selectors
$selector-card: "\.card" !default;

// Modifiers
$modifier-card-bg: "\.is-bg" !default;
$modifier-card-bg-light: "\.is-bg-light" !default;
$modifier-card-outline: "\.is-outline" !default;
$modifier-card-disabled: "\.is-disabled" !default;
$modifier-card-link: "\.is-link" !default;
$modifier-card-zoom: "\.is-zoom" !default;
$modifier-card-floating: "\.is-floating" !default;
$modifier-card-radius: "\.is-radius" !default;
$modifier-card-radius-xxl: "\.is-radius-xxl" !default;
$modifier-card-radius-xl: "\.is-radius-xl" !default;
$modifier-card-radius-lg: "\.is-radius-lg" !default;
$modifier-card-radius-md: "\.is-radius-md" !default;
$modifier-card-radius-sm: "\.is-radius-sm" !default;
$modifier-card-radius-xs: "\.is-radius-xs" !default;
$modifier-card-radius-xxs: "\.is-radius-xxs" !default;

// Card
$card-background-color: $convert-background-1 !default;
$card-border-width: $global-border-width !default;
$card-border-color: $convert-border !default;
$card-focus-shadow: $global-focus-shadow-size $convert-focus-alpha !default;

// Card Link
$card-link-hover-background-color: $convert-background-3 !default;
$card-link-transition: $global-transition !default;

// Card Zoom
$card-zoom-transform: scale(1.025) !default;
$card-zoom-transition: $global-transition !default;

// Card Floating
$card-floating-shadow: $global-floating-shadow-size $convert-shadow-alpha !default;
$card-floating-hover-shadow: $global-floating-hover-shadow-size
  $convert-shadow-alpha !default;
$card-floating-focus-shadow: $global-focus-shadow-size $convert-focus-alpha,
  $global-floating-hover-shadow-size $convert-shadow-alpha !default;

// Card Radius
$card-radius-xxl: $radius-xxl !default;
$card-radius-xl: $radius-xl !default;
$card-radius-lg: $radius-lg !default;
$card-radius-md: $radius-md !default;
$card-radius-sm: $radius-sm !default;
$card-radius-xs: $radius-xs !default;
$card-radius-xxs: $radius-xxs !default;

//----------------------------------------------------
// / Style - Card
//----------------------------------------------------

@mixin musubii-style-card() {
  position: relative;
  display: block;
  overflow: hidden;
}

@mixin musubii-style-card-bg-light() {
  background-color: $card-background-color;
}

@mixin musubii-style-card-outline() {
  border: $card-border-width solid $card-border-color;
}

@mixin musubii-style-card-disabled() {
  cursor: not-allowed;
  pointer-events: none;
}

@include generate-style($option-generate-style-card) {
  #{$selector-card} {
    @include musubii-style-card();
    &#{$modifier-card-bg},
    &#{$modifier-card-bg-light} {
      @include musubii-style-card-bg-light();
    }
    &#{$modifier-card-outline} {
      @include musubii-style-card-outline();
    }
    &#{$modifier-card-disabled},
    &[disabled] {
      @include musubii-style-card-disabled();
    }
  }
}

//----------------------------------------------------
// / Style - Card Link
//----------------------------------------------------

@mixin musubii-style-card-link() {
  cursor: pointer;
  transition: $card-link-transition;
  &:not(#{$modifier-card-disabled}):not([disabled]) {
    &:hover {
      background-color: $card-link-hover-background-color;
    }
  }
  @if $option-add-style-card-focus == true {
    &:focus {
      box-shadow: $card-focus-shadow;
      outline: none;
    }
  }
}

@include generate-style($option-generate-style-card) {
  #{$selector-card} {
    &#{$modifier-card-link} {
      @include musubii-style-card-link();
    }
  }
}

//----------------------------------------------------
// / Style - Card Zoom
//----------------------------------------------------

@mixin musubii-style-card-zoom() {
  cursor: pointer;
  transition: $card-zoom-transition;
  &:not(#{$modifier-card-disabled}):not([disabled]) {
    &:hover {
      transform: $card-zoom-transform;
    }
  }
  @if $option-add-style-card-focus == true {
    &:focus {
      box-shadow: $card-focus-shadow;
      outline: none;
    }
  }
}

@include generate-style($option-generate-style-card) {
  #{$selector-card} {
    &#{$modifier-card-zoom} {
      @include musubii-style-card-zoom();
    }
  }
}

//----------------------------------------------------
// / Style - Card Floating
//----------------------------------------------------

@mixin musubii-style-card-floating() {
  box-shadow: $card-floating-shadow;
  &#{$modifier-card-link},
  &#{$modifier-card-zoom} {
    &:hover {
      box-shadow: $card-floating-hover-shadow;
    }
    @if $option-add-style-card-focus == true {
      &:focus {
        box-shadow: $card-floating-focus-shadow;
        outline: none;
      }
    }
  }
}

@include generate-style($option-generate-style-card) {
  #{$selector-card} {
    &#{$modifier-card-floating} {
      @include musubii-style-card-floating();
    }
  }
}

//----------------------------------------------------
// / Style - Card Radius
//----------------------------------------------------

@mixin musubii-style-card-radius($radius-size) {
  border-radius: $radius-size;
}

@include generate-style($option-generate-style-card) {
  #{$selector-card} {
    &#{$modifier-card-radius-xxl} {
      @include musubii-style-card-radius($card-radius-xxl);
    }
    &#{$modifier-card-radius-xl} {
      @include musubii-style-card-radius($card-radius-xl);
    }
    &#{$modifier-card-radius-lg} {
      @include musubii-style-card-radius($card-radius-lg);
    }
    &#{$modifier-card-radius},
    &#{$modifier-card-radius-md} {
      @include musubii-style-card-radius($card-radius-md);
    }
    &#{$modifier-card-radius-sm} {
      @include musubii-style-card-radius($card-radius-sm);
    }
    &#{$modifier-card-radius-xs} {
      @include musubii-style-card-radius($card-radius-xs);
    }
    &#{$modifier-card-radius-xxs} {
      @include musubii-style-card-radius($card-radius-xxs);
    }
  }
}
