//----------------------------------------------------
// Layouts: Card
//----------------------------------------------------

//----------------------------------------------------
// / Variables (Default)
//----------------------------------------------------

// Option
$option-mixin-mode: false !default;
$option-style-card: true !default;

// Selectors
$selector-card: ".card" !default;

// Card
$card-background-color: $convert-background-1 !default;
$card-border-width: $global-border-width !default;
$card-border-color: $convert-border !default;
$card-focus-shadow: 0 0 0 $space-xxs $convert-focus-alpha !default;

// Card Radius
$card-radius-xxl: $radius-xxl !default;
$card-radius-xl: $radius-xl !default;
$card-radius-lg: $radius-lg !default;
$card-radius-md: $radius-md !default;
$card-radius-sm: $radius-sm !default;
$card-radius-xs: $radius-xs !default;
$card-radius-xxs: $radius-xxs !default;

// Card Floating
$card-floating-shadow: 0 1px 3px 0 $convert-shadow-alpha !default;
$card-floating-hover-shadow: 0 4px 12px 0 $convert-shadow-alpha !default;
$card-floating-focus-shadow: 0 0 0 $space-xxs $convert-focus-alpha,
  0 4px 12px 0 $convert-shadow-alpha !default;

// Card Link
$card-link-hover-background-color: $convert-background-3 !default;
$card-link-transition: $global-transition !default;

// Card Zoom
$card-zoom-transform: scale(1.025) !default;
$card-zoom-transition: $global-transition !default;

//----------------------------------------------------
// / Mixins (Default)
//----------------------------------------------------

// Export Style
@mixin export-style-card() {
  @if $option-mixin-mode == false and $option-style-card == true {
    @content;
  }
}

//----------------------------------------------------
// / Style - Card
//----------------------------------------------------

@mixin musubii-style-card() {
  position: relative;
  display: block;
  overflow: hidden;
}

@include export-style-card() {
  #{$selector-card} {
    @include musubii-style-card();
  }
}

//----------------------------------------------------
// / Style - Card Background
//----------------------------------------------------

@mixin --is-bg-color($name, $value, $omit) {
  @if $omit == true {
    &.is-bg,
    &.is-bg-#{$name} {
      background-color: $value;
    }
  } @else {
    &.is-bg-#{$name} {
      background-color: $value;
    }
  }
}

@mixin musubii-style-card-bg() {
  @include --is-bg-color(light, $card-background-color, true);
}

@include export-style-card() {
  #{$selector-card} {
    @include musubii-style-card-bg();
  }
}

//----------------------------------------------------
// / Style - Card Outline
//----------------------------------------------------

@mixin musubii-style-card-outline() {
  &.is-outline {
    border: $card-border-width solid $card-border-color;
  }
}

@include export-style-card() {
  #{$selector-card} {
    @include musubii-style-card-outline();
  }
}

//----------------------------------------------------
// / Style - Card Radius
//----------------------------------------------------

@mixin --is-radius-all($name, $value, $omit) {
  @if $omit == true {
    &.is-radius,
    &.is-radius-#{$name} {
      border-radius: $value;
    }
  } @else {
    &.is-radius-#{$name} {
      border-radius: $value;
    }
  }
}

@mixin musubii-style-card-radius-all() {
  @include --is-radius-all(xxl, $card-radius-xxl, false);
  @include --is-radius-all(xl, $card-radius-xl, false);
  @include --is-radius-all(lg, $card-radius-lg, false);
  @include --is-radius-all(md, $card-radius-md, true);
  @include --is-radius-all(sm, $card-radius-sm, false);
  @include --is-radius-all(xs, $card-radius-xs, false);
  @include --is-radius-all(xxs, $card-radius-xxs, false);
}

@include export-style-card() {
  #{$selector-card} {
    @include musubii-style-card-radius-all();
  }
}

//----------------------------------------------------
// / Style - Card Floating
//----------------------------------------------------

@mixin musubii-style-card-floating() {
  &.is-floating {
    box-shadow: $card-floating-shadow;
    &.is-link,
    &.is-zoom {
      &:hover {
        box-shadow: $card-floating-hover-shadow;
      }
      &:focus {
        box-shadow: $card-floating-focus-shadow;
        outline: none;
      }
    }
  }
}

@include export-style-card() {
  #{$selector-card} {
    @include musubii-style-card-floating();
  }
}

//----------------------------------------------------
// / Style - Card Link
//----------------------------------------------------

@mixin musubii-style-card-link() {
  &.is-link {
    cursor: pointer;
    transition: $card-link-transition;
    &:not(.is-disabled):not([disabled]):hover {
      background-color: $card-link-hover-background-color;
    }
    &:focus {
      box-shadow: $card-focus-shadow;
      outline: none;
    }
    &.is-disabled,
    &[disabled] {
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}

@include export-style-card() {
  #{$selector-card} {
    @include musubii-style-card-link();
  }
}

//----------------------------------------------------
// / Style - Card Zoom
//----------------------------------------------------

@mixin musubii-style-card-zoom() {
  &.is-zoom {
    cursor: pointer;
    transition: $card-zoom-transition;
    &:not(.is-disabled):not([disabled]):hover {
      transform: $card-zoom-transform;
    }
    &:focus {
      box-shadow: $card-focus-shadow;
      outline: none;
    }
    &.is-disabled,
    &[disabled] {
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}

@include export-style-card() {
  #{$selector-card} {
    @include musubii-style-card-zoom();
  }
}
