//----------------------------------------------------
// Layouts: Joint
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Selectors
$selector-joint: "\.joint" !default;
$selector-joint-child-button: "\.button" !default;
$selector-joint-child-badge: "\.badge" !default;
$selector-joint-child-input: "\.input" !default;
$selector-joint-child-select: "\.select" !default;
$selector-joint-child-select-core: "select" !default;

// Modifiers
$modifier-joint-exclude: "\.is-joint-exclude" !default;

//----------------------------------------------------
// / Style - Joint
//----------------------------------------------------

@mixin musubii-style-joint() {
  display: flex;
  flex-wrap: nowrap;
}

@mixin musubii-style-joint-child-right-radius-break() {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@mixin musubii-style-joint-child-left-radius-break() {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@mixin musubii-style-joint-child-border-left-break() {
  border-left: none;
}

@mixin musubii-style-joint-child-focus() {
  z-index: 2;
}

@include generate-style($option-generate-style-joint) {
  #{$selector-joint} {
    @include musubii-style-joint();
    > {
      #{$selector-joint-child-button},
      #{$selector-joint-child-badge},
      #{$selector-joint-child-input},
      #{$selector-joint-child-select} {
        &:not(#{$modifier-joint-exclude}) {
          &:not(:last-child),
          &:not(:last-child) > #{$selector-joint-child-select-core} {
            @include musubii-style-joint-child-right-radius-break();
          }
          &:not(:first-child),
          &:not(:first-child) > #{$selector-joint-child-select-core} {
            @include musubii-style-joint-child-left-radius-break();
          }
          &:nth-child(2) {
            @include musubii-style-joint-child-border-left-break();
            ~ {
              :not(#{$modifier-joint-exclude}),
              :not(#{$modifier-joint-exclude})
                > #{$selector-joint-child-select-core} {
                @include musubii-style-joint-child-border-left-break();
              }
            }
          }
          &:focus,
          > #{$selector-joint-child-select-core}:focus {
            @include musubii-style-joint-child-focus();
          }
        }
      }
    }
  }
}
