//----------------------------------------------------
// Layouts: Joint
//----------------------------------------------------

//----------------------------------------------------
// / Variables (Default)
//----------------------------------------------------

// Option
$option-mixin-mode: false !default;
$option-style-joint: true !default;

// Selectors
$selector-joint: ".joint" !default;
$selector-joint-none: ".is-joint-none" !default;

//----------------------------------------------------
// / Mixins (Default)
//----------------------------------------------------

// Export Style
@mixin export-style-joint() {
  @if $option-mixin-mode == false and $option-style-joint == true {
    @content;
  }
}

//----------------------------------------------------
// / Style - Joint
//----------------------------------------------------

@mixin musubii-style-joint() {
  display: flex;
  flex-wrap: nowrap;
  > {
    :not(#{$selector-joint-none}) {
      overflow: hidden;
      &:not(:last-child),
      &:not(:last-child) > select {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:not(:first-child),
      &:not(:first-child) > select {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &:nth-child(2) {
        border-left: none;
        ~ {
          :not(#{$selector-joint-none}),
          :not(#{$selector-joint-none}) > select {
            border-left: none;
          }
        }
      }
      &:focus {
        z-index: 2;
      }
    }
  }
}

@include export-style-joint() {
  #{$selector-joint} {
    @include musubii-style-joint();
  }
}
