//----------------------------------------------------
// Layouts: Section
//----------------------------------------------------

//----------------------------------------------------
// / Variables
//----------------------------------------------------

// Selectors
$selector-section: "\.section" !default;
$selector-inner: "\.inner" !default;

// Section Inner
$section-inner-width-fablet: 540px !default;
$section-inner-width-tablet: 720px !default;
$section-inner-width-desktop: 960px !default;
$section-inner-width-wide: 1140px !default;

//----------------------------------------------------
// / Style - Section Inner
//----------------------------------------------------

@mixin musubii-style-section-inner() {
  max-width: 100%;
  margin: 0 auto;
  @include fablet() {
    width: $section-inner-width-fablet;
  }
  @include tablet() {
    width: $section-inner-width-tablet;
  }
  @include desktop() {
    width: $section-inner-width-desktop;
  }
  @include wide() {
    width: $section-inner-width-wide;
  }
}

@include generate-style($option-generate-style-section) {
  #{$selector-section} {
    > {
      #{$selector-inner} {
        @include musubii-style-section-inner();
      }
    }
  }
}
