//----------------------------------------------------
// Layout: Section
//----------------------------------------------------

//----------------------------------------------------
// / Variables (Default)
//----------------------------------------------------

// Use
$use-mixin-mode: false !default;
$use-style-section: true !default;

// Selectors
$selector-section: ".section" !default;
$selector-inner: ".inner" !default;

// Inner
$section-inner-width-fablet: 540px !default;
$section-inner-width-tablet: 720px !default;
$section-inner-width-desktop: 960px !default;
$section-inner-width-wide: 1140px !default;

//----------------------------------------------------
// / Mixins (Export Style)
//----------------------------------------------------

@mixin export-style-section() {
  @if $use-mixin-mode == false and $use-style-section == true {
    @content;
  }
}

//----------------------------------------------------
// / Style - Section Inner
//----------------------------------------------------

@mixin style-section-inner() {
  max-width: 100%;
  margin: 0 auto;
  @include fablet() {
    width: $section-inner-width-fablet;
  }
  @include tablet() {
    width: $section-inner-width-tablet;
  }
  @include desktop() {
    width: $section-inner-width-desktop;
  }
  @include wide() {
    width: $section-inner-width-wide;
  }
}

@include export-style-section() {
  #{$selector-section} {
    > {
      #{$selector-inner} {
        @include style-section-inner();
      }
    }
  }
}
